Repository Homebrew/homebrew-cask, pull requests merged in 2018-11, with the labels that each got.

#53776 Add Blurity.app v1.5.178
  Casks/blurity.rb
Labels: new cask

#53983 Add SEGGER Embedded Studio for ARM v3.52a
  Casks/segger-embedded-studio-for-arm.rb
Labels: new cask

#53735 Add Mimecast.app v2.9
  Casks/mimecast.rb
Labels: new cask

#53715 New cask: Contraste
  Casks/contraste.rb
Labels: new cask

#54197 Add tastyworks.app 0.27.0
  Casks/tastyworks.rb
Labels: new cask

#54120 Add SEGGER Embedded Studio for RISC-V V3.52a
  Casks/segger-embedded-studio-for-risc-v.rb
Labels: new cask

#54123 Update eaglefiler to 1.8.4
  Casks/eaglefiler.rb
Labels: awaiting user reply

#53603 Add RcloneOSX.app v1.6.3
  Casks/rcloneosx.rb
Labels: new cask

#54177 add Vudu 2.3.4
  Casks/vudu.rb
Labels: awaiting user reply, new cask

#53202 Add alephone cask (v20150620)
  Casks/alephone.rb
Labels: new cask

#54505 Debug Travis.
  cmd/lib/check.rb
Labels: travis

#54189 Update i1profiler to 1.8.1
  Casks/i1profiler.rb
Labels: awaiting user reply

#54755 Add Tiat v1.3.1
  Casks/tiat.rb
Labels: awaiting user reply

#53091 Add ScreenTray.app v1.1.0
  Casks/screentray.rb
Labels: new cask

#54991 Update across-lite to 2.4.4
  Casks/across-lite.rb
Labels: awaiting user reply

#54966 Update macmediakeyforwarder URL and checksum.
  Casks/macmediakeyforwarder.rb
Labels: awaiting verification

#54545 Add SimpleDiagrams4.app v4.0.28
  Casks/simplediagrams.rb
Labels: awaiting user reply

#54957 p4v 18.3-1719707: Add CLI-accessible commands to work with Git out of the box
  Casks/p4v.rb
Labels: awaiting user reply

#55329 Update sdformatter.rb
  Casks/sdformatter.rb
Labels: awaiting verification

#54092 Add NASA's Eyes 2018.08.28-15.35.05-ed9d39a
  Casks/nasas-eyes.rb
Labels: awaiting user reply, new cask

#55512 Revert "Delete mtmr.rb"
  Casks/mtmr.rb
Labels: awaiting user reply

#55548 Update trinity to 0.4.3
  Casks/trinity.rb
Labels: awaiting verification
