Repository Homebrew/homebrew-cask, pull requests merged in 2021-08, with the labels that each got.

#109344 Update mkvtoolnix from 59.0.0.1 to 60.0.0
  Casks/mkvtoolnix.rb
Labels: bump-cask-pr

#109346 Update raven-reader from 1.0.63 to 1.0.64
  Casks/raven-reader.rb
Labels: bump-cask-pr

#109349 Update favro from 1.0.59 to 1.0.64
  Casks/favro.rb
Labels: bump-cask-pr

#109350 Update hstracker from 1.9.10 to 1.9.11
  Casks/hstracker.rb
Labels: bump-cask-pr

#109353 Update mmex from 1.5.4,2021-07-18 to 1.5.5,2021-07-31
  Casks/mmex.rb
Labels: bump-cask-pr

#109351 Added zap stanza to whalebird.rb
  Casks/whalebird.rb
Labels: automerge-skip

#109355 Update bettertouchtool from 3.574-1717 to 3.575-1718
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#109365 Update mediahuman-youtube-downloader from 3.9.9.58 to 3.9.9.59
  Casks/mediahuman-youtube-downloader.rb
Labels: bump-cask-pr

#109364 Update sitesucker-pro from 4.1.2 to 4.1.3
  Casks/sitesucker-pro.rb
Labels: bump-cask-pr

#109363 Update airbuddy from 2.4.1,333 to 2.4.2,335
  Casks/airbuddy.rb
Labels: bump-cask-pr

#109360 Update gitfiend from 0.27.4 to 0.28.0
  Casks/gitfiend.rb
Labels: bump-cask-pr

#109356 Update webcatalog from 35.1.1 to 36.0.0
  Casks/webcatalog.rb
Labels: bump-cask-pr

#109358 Update gitfinder from 1.7.1,104 to 1.7.2,108
  Casks/gitfinder.rb
Labels: bump-cask-pr

#109367 Update telegram-desktop from 2.8.10 to 2.9.1
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#109368 Update stats from 2.6.2 to 2.6.3
  Casks/stats.rb
Labels: bump-cask-pr

#109347 Fluent Reader (new cask)
  Casks/fluent-reader.rb
Labels: new cask

#109369 Update angband from 4.2.2 to 4.2.3
  Casks/angband.rb
Labels: bump-cask-pr

#109370 Update snipaste from 2.6-Beta to 2.6.4-Beta
  Casks/snipaste.rb
Labels: bump-cask-pr

#109374 Update kitty from 0.22.1 to 0.22.2
  Casks/kitty.rb
Labels: bump-cask-pr

#109373 Add Touch Portal v2.3.010
  Casks/touch-portal.rb
Labels: new cask

#109377 Update alfred from 4.3.4,1229 to 4.5,1253
  Casks/alfred.rb
Labels: bump-cask-pr

#109380 Update freeplane from 1.9.5 to 1.9.7
  Casks/freeplane.rb
Labels: bump-cask-pr

#109376 Update telegram from 7.8.1,219462 to 7.9,220098
  Casks/telegram.rb
Labels: bump-cask-pr

#109381 Update zulu from 16.0.1,16.30.15-ca to 16.0.2,16.32.15-ca
  Casks/zulu.rb
Labels: bump-cask-pr

#109384 Update jedit-omega from 2.39 to 2.40
  Casks/jedit-omega.rb
Labels: bump-cask-pr

#109388 Update rambox from 0.7.7 to 0.7.8
  Casks/rambox.rb
Labels: bump-cask-pr

#109387 Update aptible from 0.19.0,20210727202816,249 to 0.19.1,20210802230457,251
  Casks/aptible.rb
Labels: bump-cask-pr

#109386 Update streamlabs-obs from 1.1.2 to 1.3.0
  Casks/streamlabs-obs.rb
Labels: bump-cask-pr

#109385 Update jellyfin-media-player from 1.6.0 to 1.6.1
  Casks/jellyfin-media-player.rb
Labels: bump-cask-pr

#109379 Add Transfer.app v2.0
  Casks/transfer.rb
Labels: new cask

#109389 Update google-chrome from 92.0.4515.107 to 92.0.4515.131
  Casks/google-chrome.rb
Labels: bump-cask-pr

#109390 Update qqlive from 2.22.0.52989 to 2.23.0.53015
  Casks/qqlive.rb
Labels: bump-cask-pr

#109391 Update dingtalk from 6.0.18.6 to 6.0.22.7
  Casks/dingtalk.rb
Labels: bump-cask-pr

#109392 Update zulu from 16.0.1,16.30.19-ca to 16.0.2,16.32.15-ca
  Casks/zulu.rb
Labels: bump-cask-pr

#109394 Update dbeaver-community from 21.1.3 to 21.1.4
  Casks/dbeaver-community.rb
Labels: bump-cask-pr

#109382 Update zulufx from 15.0.2,15.29.15-ca to 15.0.4,15.34.17-ca
  Casks/zulufx.rb
Labels: bump-cask-pr

#109395 Update start from 0.293.3-100 to 0.297.2-121
  Casks/start.rb
Labels: bump-cask-pr

#109397 Update teamviewer from 15.20.4 to 15.20.6
  Casks/teamviewer.rb
Labels: bump-cask-pr

#109396 Update lagrange from 1.6.1 to 1.6.2
  Casks/lagrange.rb
Labels: bump-cask-pr

#109398 Update miniforge from 4.10.3-3 to 4.10.3-4
  Casks/miniforge.rb
Labels: bump-cask-pr

#109399 Update bettertouchtool from 3.575-1718 to 3.577-1720
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#109402 Update filebot from 4.9.4 to 4.9.4
  Casks/filebot.rb
Labels: bump-cask-pr

#109403 Update sequel-ace from 3.3.3,3034 to 3.4.0,3038
  Casks/sequel-ace.rb
Labels: bump-cask-pr

#109404 Update opera from 77.0.4054.277 to 78.0.4093.112
  Casks/opera.rb
Labels: bump-cask-pr

#109406 Update element from 1.7.33 to 1.7.34
  Casks/element.rb
Labels: bump-cask-pr

#109401 Update nordvpn from 6.5.0,165 to 6.6.1,167
  Casks/nordvpn.rb
Labels: bump-cask-pr

#109448 Update kiwi-for-gmail from 3.3.3,2360 to 3.3.4,2363
  Casks/kiwi-for-gmail.rb
Labels: bump-cask-pr

#109447 Update bettertouchtool from 3.577-1720 to 3.578-1721
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#109445 Update axure-rp from 10.0.0.3834 to 10.0.0.3836
  Casks/axure-rp.rb
Labels: bump-cask-pr

#109444 Update avast-secure-browser from 91.1.929.125 to 91.1.982.165
  Casks/avast-secure-browser.rb
Labels: bump-cask-pr

#109443 Update atlauncher from 3.4.4.6 to 3.4.6.0
  Casks/atlauncher.rb
Labels: bump-cask-pr

#109441 Update astropad from 3.6.0,3204 to 3.7.0,3219
  Casks/astropad.rb
Labels: bump-cask-pr

#109440 Update apache-directory-studio from 2.0.0.v20210213-M16 to 2.0.0.v20210717-M17
  Casks/apache-directory-studio.rb
Labels: bump-cask-pr

#109439 Update anydo from 4.2.155 to 4.2.157
  Casks/anydo.rb
Labels: bump-cask-pr

#109438 Update amadeus-pro from 2.8.6 to 2.8.7
  Casks/amadeus-pro.rb
Labels: bump-cask-pr

#109437 Update alfaview from 8.22.0 to 8.24.0
  Casks/alfaview.rb
Labels: bump-cask-pr

#109436 Update ajour from 1.2.3 to 1.2.5
  Casks/ajour.rb
Labels: bump-cask-pr

#109435 Update 8x8-work from 7.8.2-2 to 7.9.4-2
  Casks/8x8-work.rb
Labels: bump-cask-pr

#109434 Update 4k-youtube-to-mp3 from 4.1.4 to 4.2.0
  Casks/4k-youtube-to-mp3.rb
Labels: bump-cask-pr

#109433 Update 115browser from 24.1.0.13 to 24.2.0.1
  Casks/115browser.rb
Labels: bump-cask-pr

#109432 Update obsidian from 0.12.10 to 0.12.12
  Casks/obsidian.rb
Labels: bump-cask-pr

#109431 Update spyder from 5.0.5 to 5.1.0
  Casks/spyder.rb
Labels: bump-cask-pr

#109429 Update crossover from 20.0.4.33196 to 21.0.0.33720
  Casks/crossover.rb
Labels: bump-cask-pr

#109427 Update cashnotify from 3.5.0 to 3.5.1
  Casks/cashnotify.rb
Labels: bump-cask-pr

#109426 Update atomic-wallet from 2.31.0 to 2.31.1
  Casks/atomic-wallet.rb
Labels: bump-cask-pr

#109425 Update artisan from 2.4.4 to 2.4.6
  Casks/artisan.rb
Labels: bump-cask-pr

#109424 Update android-commandlinetools from 7302050 to 7583922
  Casks/android-commandlinetools.rb
Labels: bump-cask-pr

#109423 Update amd-power-gadget from 0.6.6 to 0.7
  Casks/amd-power-gadget.rb
Labels: bump-cask-pr

#109422 Update accordance from 13.2.0 to 13.2.1
  Casks/accordance.rb
Labels: bump-cask-pr

#109421 Update abstract from 97.2.0 to 98.0.0
  Casks/abstract.rb
Labels: bump-cask-pr

#109419 Update 4k-stogram from 3.4.2 to 3.4.3
  Casks/4k-stogram.rb
Labels: bump-cask-pr

#109418 Update enclave from 2021.06.16 to 2021.08.03
  Casks/enclave.rb
Labels: bump-cask-pr

#109415 Update lunar from 4.7.0 to 4.7.1
  Casks/lunar.rb
Labels: bump-cask-pr

#109446 Update badlion-client from 3.2.1 to 3.3.0
  Casks/badlion-client.rb
Labels: bump-cask-pr, ci-syntax-only

#109442 Update astropad-studio from 3.6.0,3204 to 3.7.0,3219
  Casks/astropad-studio.rb
Labels: bump-cask-pr

#109413 Update sameboy from 0.14.4 to 0.14.5
  Casks/sameboy.rb
Labels: bump-cask-pr

#109412 Update blitz from 1.15.18 to 1.15.26
  Casks/blitz.rb
Labels: bump-cask-pr

#109411 Update moom from 3.2.22,3323 to 3.2.23,3329
  Casks/moom.rb
Labels: bump-cask-pr

#109410 Update logseq from 0.3.0 to 0.3.1
  Casks/logseq.rb
Labels: bump-cask-pr

#109409 Update mattermost from 4.7.0 to 4.7.1
  Casks/mattermost.rb
Labels: bump-cask-pr

#109400 Update canva from 1.27.0 to 1.28.0
  Casks/canva.rb
Labels: bump-cask-pr, ci-syntax-only

#109449 Update signal from 5.11.0 to 5.12.0
  Casks/signal.rb
Labels: bump-cask-pr

#109420 Update 8bitdo-ultimate-software from 2.0.2 to 2.0.4
  Casks/8bitdo-ultimate-software.rb
Labels: bump-cask-pr

#109451 Added Kdocs
  Casks/kdocs.rb
Labels: new cask

#109453 Update qbittorrent from 4.3.6 to 4.3.7
  Casks/qbittorrent.rb
Labels: bump-cask-pr

#109454 Update blitz from 1.15.26 to 1.15.27
  Casks/blitz.rb
Labels: bump-cask-pr

#109455 Update deepl from 2.6.67571 to 2.6.74556
  Casks/deepl.rb
Labels: bump-cask-pr

#109456 Update imazing from 2.13.10,15078 to 2.14.0,15353
  Casks/imazing.rb
Labels: bump-cask-pr

#109457 Update nextcloud from 3.2.4 to 3.3.0
  Casks/nextcloud.rb
Labels: bump-cask-pr

#109459 Update anki from 2.1.45 to 2.1.46
  Casks/anki.rb
Labels: bump-cask-pr

#109461 Update rider from 2021.1.5,211.7628.61 to 2021.2,212.4746.113
  Casks/rider.rb
Labels: bump-cask-pr

#109467 Update latexit from 2.16.3 to 2.16.4
  Casks/latexit.rb
Labels: bump-cask-pr

#109471 Update yinxiangbiji from 9.5.6_464046 to 9.5.6_464070
  Casks/yinxiangbiji.rb
Labels: bump-cask-pr

#109470 Update snipaste from 2.6.4-Beta to 2.6.5-Beta
  Casks/snipaste.rb
Labels: bump-cask-pr

#109468 Update vial from 0.4 to 0.4.1
  Casks/vial.rb
Labels: bump-cask-pr

#109463 Update powerphotos from 1.9.8,1786 to 1.9.9,1788
  Casks/powerphotos.rb
Labels: bump-cask-pr

#109472 Update imazing from 2.14.0,15353 to 2.14.1,15361
  Casks/imazing.rb
Labels: bump-cask-pr

#109473 Update blender from 2.93.1 to 2.93.2
  Casks/blender.rb
Labels: bump-cask-pr

#109474 Update c0re100-qbittorrent from 4.3.6.10 to 4.3.7.10
  Casks/c0re100-qbittorrent.rb
Labels: bump-cask-pr

#109475 Update signal from 5.12.0 to 5.12.1
  Casks/signal.rb
Labels: bump-cask-pr

#109476 Update vivaldi from 4.1.2369.11 to 4.1.2369.15
  Casks/vivaldi.rb
Labels: bump-cask-pr

#109478 Update jgrennison-openttd from 0.42.2 to 0.42.3
  Casks/jgrennison-openttd.rb
Labels: bump-cask-pr

#109465 Add Trezor Suite
  Casks/trezor-suite.rb
Labels: new cask

#109479 Update signal from 5.12.0 to 5.12.2
  Casks/signal.rb
Labels: automerge-skip, bump-cask-pr

#109483 Update flipper from 0.100.0 to 0.101.0
  Casks/flipper.rb
Labels: bump-cask-pr

#109487 Update syncthing from 1.18.0-1 to 1.18.1-1
  Casks/syncthing.rb
Labels: bump-cask-pr

#109486 Update josm from 18004 to 18118
  Casks/josm.rb
Labels: bump-cask-pr

#109495 Update daisydisk from 4.20.3 to 4.20.5
  Casks/daisydisk.rb
Labels: bump-cask-pr

#109492 Update jetbrains-toolbox from 1.21,1.21.9547 to 1.21,1.21.9698
  Casks/jetbrains-toolbox.rb
Labels: bump-cask-pr

#109496 Update expandrive from 7,2021.7.1 to 7,2021.8.1
  Casks/expandrive.rb
Labels: bump-cask-pr

#109494 Update mailtrackerblocker from 0.4.5 to 0.4.6
  Casks/mailtrackerblocker.rb
Labels: bump-cask-pr

#109493 Update opencore-configurator from 2.47.1.0 to 2.48.0.0
  Casks/opencore-configurator.rb
Labels: bump-cask-pr

#109383 Add GoSign Desktop Latest
  Casks/gosign.rb
Labels: awaiting user reply, automerge-skip, new cask

#109508 Update firefly from 1.1.0 to 1.2.0
  Casks/firefly.rb
Labels: bump-cask-pr

#109506 Update drovio from 3.1.2 to 3.1.3
  Casks/drovio.rb
Labels: bump-cask-pr

#109505 Update visual-studio-code from 1.58.2 to 1.59.0
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#109502 Update cloudflare-warp from 1.5.207.0,20210616.5 to 1.5.463.0,20210722.12
  Casks/cloudflare-warp.rb
Labels: bump-cask-pr

#109501 Update postman from 8.9.1 to 8.10.0
  Casks/postman.rb
Labels: bump-cask-pr

#109500 Update ibackup-viewer from 4.2100 to 4.2110
  Casks/ibackup-viewer.rb
Labels: bump-cask-pr

#109499 Update spotify from 1.1.64.561.g71bd09eb,1.1.64.561.g71bd09eb-18 to 1.1.65.643.g2d707698,1.1.65.643.g2d707698-28
  Casks/spotify.rb
Labels: bump-cask-pr

#109498 Update spyder from 5.1.0 to 5.1.1
  Casks/spyder.rb
Labels: bump-cask-pr

#109491 Update scilab
  Casks/scilab.rb
Labels: bump-cask-pr

#109481 Add Shottr.app v1.4.6
  Casks/shottr.rb
Labels: automerge-skip, new cask

#109510 Update burp-suite from 2021.6.2 to 2021.8
  Casks/burp-suite.rb
Labels: bump-cask-pr

#109511 Update burp-suite-professional from 2021.6.2 to 2021.8
  Casks/burp-suite-professional.rb
Labels: bump-cask-pr

#109512 Update brave-browser from 1.27.109.0,127.109 to 1.27.111.0,127.111
  Casks/brave-browser.rb
Labels: bump-cask-pr

#109515 Update gopanda from 2.7.5 to 2.7.8
  Casks/gopanda.rb
Labels: bump-cask-pr

#109517 Update zulip from 5.7.0 to 5.8.1
  Casks/zulip.rb
Labels: bump-cask-pr

#109519 Update bettertouchtool from 3.578-1721 to 3.579-1722
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#109520 Update propresenter from 7.6,117833745 to 7.6.1,117833997
  Casks/propresenter.rb
Labels: bump-cask-pr

#109521 Update lightkey from 3.7 to 3.7.1
  Casks/lightkey.rb
Labels: bump-cask-pr

#109522 Update jetbrains-toolbox from 1.21,1.21.9698 to 1.21,1.21.9712
  Casks/jetbrains-toolbox.rb
Labels: bump-cask-pr

#109523 Update chef-workstation from 21.7.545 to 21.8.555
  Casks/chef-workstation.rb
Labels: bump-cask-pr

#109525 Update baidunetdisk from 3.8.2 to 3.8.3
  Casks/baidunetdisk.rb
Labels: bump-cask-pr

#109527 Update ibackup-viewer from 4.2110 to 4.2120
  Casks/ibackup-viewer.rb
Labels: bump-cask-pr

#109528 Update vivaldi from 4.1.2369.15 to 4.1.2369.16
  Casks/vivaldi.rb
Labels: bump-cask-pr

#109529 Update redis-pro from 1.3.0 to 1.4.0
  Casks/redis-pro.rb
Labels: bump-cask-pr

#109530 Update ocenaudio from 3.10.10 to 3.10.11
  Casks/ocenaudio.rb
Labels: bump-cask-pr

#109532 Update streamlabs-obs from 1.3.0 to 1.3.1
  Casks/streamlabs-obs.rb
Labels: bump-cask-pr

#109533 Update openaudible from 3.0.1 to 3.0.2
  Casks/openaudible.rb
Labels: bump-cask-pr

#109540 Update ghidra from 10.0.1,20210708 to 10.0.2,20210804
  Casks/ghidra.rb
Labels: bump-cask-pr

#109537 Update qownnotes from 21.7.12 to 21.8.1
  Casks/qownnotes.rb
Labels: bump-cask-pr

#109536 Update amazon-workspaces from 3.1.9.1976 to 4.0.1.2036
  Casks/amazon-workspaces.rb
Labels: bump-cask-pr

#109535 Update logseq from 0.3.1 to 0.3.2
  Casks/logseq.rb
Labels: bump-cask-pr

#109541 WiFi Explorer Pro: submission
  Casks/wifi-explorer-pro.rb
Labels: new cask

#109543 Update netron to 5.0.9
  Casks/netron.rb
Labels: bump-cask-pr

#109544 Update reflector from 4.0.1,222 to 4.0.2,231
  Casks/reflector.rb
Labels: bump-cask-pr

#109545 Update scratch from 3.23.1 to 3.24.0
  Casks/scratch.rb
Labels: bump-cask-pr

#109539 Add JioHome v2.0.7
  Casks/jiohome.rb
Labels: new cask

#109542 Update vitalsource-bookshelf from 10.0.0.1365 to 10.0.1.1366
  Casks/vitalsource-bookshelf.rb
Labels: bump-cask-pr
