Repository Homebrew/homebrew-cask, pull requests merged in 2021-06, with the labels that each got.

#106647 Update hstracker from 1.9.5 to 1.9.6
  Casks/hstracker.rb
Labels: bump-cask-pr

#106658 Update retroarch-metal from 1.9.3 to 1.9.4
  Casks/retroarch-metal.rb
Labels: bump-cask-pr

#106659 Update sitesucker-pro from 4.0.5 to 4.1
  Casks/sitesucker-pro.rb
Labels: bump-cask-pr

#106660 Update chromium from 887603 to 887872
  Casks/chromium.rb
Labels: bump-cask-pr

#106661 Fix PR template references
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge-skip, documentation

#106662 Update nordvpn from 6.3.0,161 to 6.4.2,164
  Casks/nordvpn.rb
Labels: bump-cask-pr

#106674 Update sketch from 72.3,124473 to 72.4,124482
  Casks/sketch.rb
Labels: bump-cask-pr

#106675 Update irpf2021 from 1.6 to 1.7
  Casks/irpf2021.rb
Labels: bump-cask-pr

#106673 Update agenda from 13.0,187 to 13.1,194
  Casks/agenda.rb
Labels: bump-cask-pr

#106669 Update arq from 7.5.9 to 7.5.10
  Casks/arq.rb
Labels: bump-cask-pr

#106668 Update intellij-idea from 2021.1.1,211.7142.45 to 2021.1.2,211.7442.40
  Casks/intellij-idea.rb
Labels: bump-cask-pr

#106666 Update firefox from 88.0.1 to 89.0
  Casks/firefox.rb
Labels: bump-cask-pr

#106665 Update panoply from 4.12.6 to 4.12.7
  Casks/panoply.rb
Labels: bump-cask-pr

#106664 Update orange from 3.28.0 to 3.29.1
  Casks/orange.rb
Labels: bump-cask-pr

#106678 Update foobar2000 from 2.2.20 to 2.2.21
  Casks/foobar2000.rb
Labels: bump-cask-pr

#106663 Update retroarch-metal from 1.9.4 to 1.9.4
  Casks/retroarch-metal.rb
Labels: bump-cask-pr

#106679 Update webull from 5.0.1_us to 5.0.5_us
  Casks/webull.rb
Labels: bump-cask-pr

#106680 Update datagrip from 2021.1.1,211.7142.37 to 2021.1.2,211.7442.38
  Casks/datagrip.rb
Labels: bump-cask-pr

#106682 Update opera from 76.0.4017.154 to 76.0.4017.175
  Casks/opera.rb
Labels: bump-cask-pr

#106670 Update boxcryptor from 2.40.1234 to 2.41.1308
  Casks/boxcryptor.rb
Labels: bump-cask-pr

#106689 Update downie from 4.2.5,4251 to 4.2.6,4253
  Casks/downie.rb
Labels: bump-cask-pr

#106692 Update github from 2.8.2-4423bb9d to 2.8.3-dee35666
  Casks/github.rb
Labels: bump-cask-pr

#106693 Update rubymine from 2021.1.1,211.7142.41 to 2021.1.2,211.7442.41
  Casks/rubymine.rb
Labels: bump-cask-pr

#106690 Update permute from 3.6.3,2417 to 3.6.4,2419
  Casks/permute.rb
Labels: bump-cask-pr

#106697 Update logseq from 0.1.2 to 0.1.3
  Casks/logseq.rb
Labels: bump-cask-pr

#106696 Update rstudio from 1.4.1106 to 1.4.1717
  Casks/rstudio.rb
Labels: bump-cask-pr

#106695 Update opera from 76.0.4017.175 to 76.0.4017.177
  Casks/opera.rb
Labels: bump-cask-pr

#106703 Update panoply from 4.12.7 to 4.12.7
  Casks/panoply.rb
Labels: bump-cask-pr

#106704 Update dbeaver-community from 21.1.0 to 21.1.0
  Casks/dbeaver-community.rb
Labels: bump-cask-pr

#106707 Update syntax-highlight from 2.0.6 to 2.0.7
  Casks/syntax-highlight.rb
Labels: bump-cask-pr

#106700 Update altair-graphql-client from 4.0.4 to 4.0.5
  Casks/altair-graphql-client.rb
Labels: bump-cask-pr

#106706 Update 1password from 7.8.4 to 7.8.5
  Casks/1password.rb
Labels: bump-cask-pr

#106705 Update coteditor from 4.0.3 to 4.0.4
  Casks/coteditor.rb
Labels: bump-cask-pr

#106698 Update popchar from 9.1 to 9.2
  Casks/popchar.rb
Labels: bump-cask-pr

#106702 Update qutebrowser from 2.2.2 to 2.2.3
  Casks/qutebrowser.rb
Labels: bump-cask-pr

#106709 Update macupdater from 2.0.4,11557 to 2.0.4,11630
  Casks/macupdater.rb
Labels: bump-cask-pr

#106711 Update lingon-x from 8.2.2 to 8.2.3
  Casks/lingon-x.rb
Labels: bump-cask-pr

#106716 Update tripmode from 3.0.5,1138 to 3.0.6,1158
  Casks/tripmode.rb
Labels: bump-cask-pr

#106718 Update phpstorm from 2021.1.2,211.7142.44 to 2021.1.3,211.7442.50
  Casks/phpstorm.rb
Labels: bump-cask-pr

#106715 Update plex-media-server from 1.23.1.4602-280ab6053 to 1.23.2.4625-a83d2d0f9
  Casks/plex-media-server.rb
Labels: bump-cask-pr

#106701 Update noraswitch from 1.0.3,51 to 1.0.4
  Casks/noraswitch.rb
Labels: bump-cask-pr

#106719 Update wwdc from 7.2,1016 to 7.3,1019
  Casks/wwdc.rb
Labels: bump-cask-pr

#106612 Update chromedriver from 90.0.4430.24 to 91.0.4472.19
  Casks/chromedriver.rb
Labels: bump-cask-pr

#106723 Update sbarex-qlmarkdown from 1.0b25 to 1.0.1
  Casks/sbarex-qlmarkdown.rb
Labels: bump-cask-pr

#106725 Update trilium-notes from 0.47.3 to 0.47.4
  Casks/trilium-notes.rb
Labels: bump-cask-pr

#106726 Update a-better-finder-rename from 11.33 to 11.34
  Casks/a-better-finder-rename.rb
Labels: bump-cask-pr

#106727 Update amadeus-pro from 2.8.5 to 2.8.6
  Casks/amadeus-pro.rb
Labels: bump-cask-pr

#106729 Update avocode from 4.14.0 to 4.14.1
  Casks/avocode.rb
Labels: bump-cask-pr

#106730 Update bean from 3.4.2 to 3.4.3
  Casks/bean.rb
Labels: bump-cask-pr

#106728 Update appcode from 2021.1.1,211.7142.51 to 2021.1.2,211.7442.43
  Casks/appcode.rb
Labels: bump-cask-pr

#106717 Update clover-configurator from 5.18.2.0 to 5.18.3.0
  Casks/clover-configurator.rb
Labels: bump-cask-pr

#106733 Update orka from 1.5.3 to 1.5.4
  Casks/orka.rb
Labels: bump-cask-pr

#106736 Update binance from 1.17.0 to 1.17.1
  Casks/binance.rb
Labels: bump-cask-pr

#106735 Update bibdesk from 1.8.2,5548 to 1.8.3,5619
  Casks/bibdesk.rb
Labels: bump-cask-pr

#106731 Update beeper from 2.0.4 to 2.0.5
  Casks/beeper.rb
Labels: bump-cask-pr

#106713 Update pycharm from 2021.1.1,211.7142.13 to 2021.1.2,211.7442.45
  Casks/pycharm.rb
Labels: automerge-skip, bump-cask-pr

#106714 Update pycharm-ce from 2021.1.1,211.7142.13 to 2021.1.2,211.7442.45
  Casks/pycharm-ce.rb
Labels: automerge-skip, bump-cask-pr

#106732 Update berrycast from 0.34.1 to 0.34.2
  Casks/berrycast.rb
Labels: bump-cask-pr

#106737 Update bitwig-studio from 3.3.7 to 3.3.10
  Casks/bitwig-studio.rb
Labels: bump-cask-pr

#106734 Update between from 1.0.4 to 1.0.8
  Casks/between.rb
Labels: bump-cask-pr

#106738 Update 4k-video-downloader from 4.16.0 to 4.16.2
  Casks/4k-video-downloader.rb
Labels: bump-cask-pr

#106750 Update cog from 1534,297ba639 to 1537,668475c4
  Casks/cog.rb
Labels: bump-cask-pr

#106749 Update clockify from 2.6.9,234 to 2.7.0,245
  Casks/clockify.rb
Labels: bump-cask-pr

#106748 Update clion from 2021.1.1,211.7142.21 to 2021.1.2,211.7442.42
  Casks/clion.rb
Labels: bump-cask-pr

#106747 Update expressvpn from 10.2.4.6 to 10.3.0.49
  Casks/expressvpn.rb
Labels: bump-cask-pr

#106746 Update camo-studio from 1.3.4,4648 to 1.3.5,4712
  Casks/camo-studio.rb
Labels: bump-cask-pr

#106745 Update calmly-writer from 2.0.28 to 2.0.30
  Casks/calmly-writer.rb
Labels: bump-cask-pr

#106744 Update buttercup from 2.5.2 to 2.7.1
  Casks/buttercup.rb
Labels: bump-cask-pr

#106743 Update bome-network from 1.2.1 to 1.4
  Casks/bome-network.rb
Labels: bump-cask-pr

#106742 Update blisk from 15.0.221.130 to 15.1.151.108
  Casks/blisk.rb
Labels: bump-cask-pr

#106651 intel-power-gadget: add livecheck and restrict arch
  Casks/intel-power-gadget.rb
Labels: ci-skip-install

#106754 Update krisp from 1.20.13 to 1.21.5
  Casks/krisp.rb
Labels: bump-cask-pr

#106757 Update sitesucker-pro from 4.1 to 4.1.1
  Casks/sitesucker-pro.rb
Labels: bump-cask-pr

#106756 Update wireshark from 3.4.5 to 3.4.6
  Casks/wireshark.rb
Labels: bump-cask-pr

#106755 Update dcv-viewer from 2021.0.3186 to 2021.1.3450
  Casks/dcv-viewer.rb
Labels: bump-cask-pr

#106764 Update wechatwork from 3.1.6.90174 to 3.1.8.90228
  Casks/wechatwork.rb
Labels: bump-cask-pr

#106763 Update banktivity from 8.3 to 8.3.1
  Casks/banktivity.rb
Labels: bump-cask-pr

#106767 Update wwdc from 7.3,1019 to 7.3.1,1021
  Casks/wwdc.rb
Labels: bump-cask-pr

#106769 Update arq from 7.5.10 to 7.5.13
  Casks/arq.rb
Labels: bump-cask-pr

#106772 Update qownnotes from 21.5.5 to 21.6.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#106771 Update drovio from 3.1.0 to 3.1.1
  Casks/drovio.rb
Labels: bump-cask-pr

#106776 Update ltspice from 17.0.33 to 17.0.35
  Casks/ltspice.rb
Labels: bump-cask-pr

#106778 Update one-switch from 1.19,308 to 1.20,314
  Casks/one-switch.rb
Labels: bump-cask-pr

#106780 Update gemini from 2.8.7,379:1620941344 to 2.8.9,381:1622733157
  Casks/gemini.rb
Labels: bump-cask-pr

#106781 Update avogadro
  Casks/avogadro.rb
Labels: bump-cask-pr

#106787 Update slack from 4.16.2 to 4.17.0
  Casks/slack.rb
Labels: bump-cask-pr

#106791 Update jumpcut from 0.73 to 0.74
  Casks/jumpcut.rb
Labels: bump-cask-pr

#106789 Update raven-reader from 1.0.55 to 1.0.57
  Casks/raven-reader.rb
Labels: bump-cask-pr

#106785 Add Adobe DNG Converter.app v13.2
  Casks/adobe-dng-converter.rb
Labels: new cask

#106792 Update lastpass from 4.72.0,1166 to 4.73.0,1168
  Casks/lastpass.rb
Labels: bump-cask-pr

#106793 Update webcatalog from 33.0.0 to 33.1.0
  Casks/webcatalog.rb
Labels: bump-cask-pr

#106794 Update yacreader from 9.8.0.2105165 to 9.8.1.2106024
  Casks/yacreader.rb
Labels: bump-cask-pr

#106795 Update blockblock from 2.0.3 to 2.0.4
  Casks/blockblock.rb
Labels: bump-cask-pr

#106801 Update brave-browser from 91.1.25.68,125.68 to 91.1.25.70,125.70
  Casks/brave-browser.rb
Labels: bump-cask-pr

#106800 Update agenda from 13.1,194 to 13.1.1,195
  Casks/agenda.rb
Labels: bump-cask-pr

#106799 Update tutanota from 3.84.0 to 3.84.4
  Casks/tutanota.rb
Labels: bump-cask-pr

#106802 Update whatsapp from 2.2119.6 to 2.2121.5
  Casks/whatsapp.rb
Labels: bump-cask-pr

#106804 Update hstracker from 1.9.6 to 1.9.7
  Casks/hstracker.rb
Labels: bump-cask-pr

#106814 Update browserosaurus from 14.2.1 to 14.3.0
  Casks/browserosaurus.rb
Labels: bump-cask-pr

#106813 Update banktivity from 8.3.1 to 8.3.2
  Casks/banktivity.rb
Labels: bump-cask-pr

#106812 Update omniplan from 4.2.6 to 4.2.7
  Casks/omniplan.rb
Labels: bump-cask-pr

#106811 Update evernote from 10.14.7,2661 to 10.15.6,2680
  Casks/evernote.rb
Labels: bump-cask-pr

#106807 Update intellij-idea-ce from 2021.1.1,211.7142.45 to 2021.1.2,211.7442.40
  Casks/intellij-idea-ce.rb
Labels: bump-cask-pr

#106805 Update ff-works from 2.3.1 to 2.3.2
  Casks/ff-works.rb
Labels: bump-cask-pr

#106808 Update elpass from 1.3.3,346 to 1.3.4,353
  Casks/elpass.rb
Labels: bump-cask-pr

#106806 Update geogebra from 6.0.640.0 to 6.0.644.0
  Casks/geogebra.rb
Labels: bump-cask-pr

#106817 Update deltachat from 1.15.5 to 1.20.2
  Casks/deltachat.rb
Labels: bump-cask-pr

#106819 Update signal from 5.3.0 to 5.4.0
  Casks/signal.rb
Labels: bump-cask-pr

#106775 Add Lightwright
  Casks/lightwright.rb
Labels: new cask

#106821 Update plex-media-server from 1.23.2.4625-a83d2d0f9 to 1.23.2.4656-85f0adf5b
  Casks/plex-media-server.rb
Labels: bump-cask-pr

#106828 Update retroarch from 1.9.3 to 1.9.4
  Casks/retroarch.rb
Labels: bump-cask-pr

#106829 Update sentinel from 0.18.2 to 0.18.3
  Casks/sentinel.rb
Labels: bump-cask-pr

#106830 Update studio-3t from 2021.3.0 to 2021.3.1
  Casks/studio-3t.rb
Labels: bump-cask-pr

#106831 Update swiftbar from 1.2.3 to 1.3.0
  Casks/swiftbar.rb
Labels: bump-cask-pr

#106826 Update logseq from 0.1.3 to 0.1.4
  Casks/logseq.rb
Labels: bump-cask-pr

#106824 Update remnote from 1.3.9 to 1.3.13
  Casks/remnote.rb
Labels: bump-cask-pr

#106822 Update raiderio from 2.1.4 to 2.1.5
  Casks/raiderio.rb
Labels: bump-cask-pr

#106648 Add flomo.app v0.1.2
  Casks/flomo.rb
Labels: new cask

#106827 Update ridibooks from 0.9.2 to 0.9.4
  Casks/ridibooks.rb
Labels: bump-cask-pr

#106783 Add USBImager.app v1.07
  Casks/usbimager.rb
Labels: automerge-skip, new cask

#106834 Update jaxx-liberty zap stanza
  Casks/jaxx-liberty.rb
Labels: ci-syntax-only

#106835 Update hackintool from 3.5.7 to 3.5.9
  Casks/hackintool.rb
Labels: bump-cask-pr

#106839 Update bean from 3.4.3 to 3.4.4
  Casks/bean.rb
Labels: bump-cask-pr

#106840 Update syntax-highlight from 2.0.7 to 2.0.8
  Casks/syntax-highlight.rb
Labels: bump-cask-pr

#106841 Update chef-workstation from 21.5.462 to 21.6.467
  Casks/chef-workstation.rb
Labels: bump-cask-pr

#106845 Update stats from 2.5.17 to 2.5.18
  Casks/stats.rb
Labels: bump-cask-pr

#106842 Update visual-studio from 8.9.10.4 to 8.10.0.1773
  Casks/visual-studio.rb
Labels: bump-cask-pr

#106774 Add wolfram-player
  Casks/wolfram-player.rb
Labels: new cask

#106846 Update foobar2000 from 2.2.21 to 2.2.22
  Casks/foobar2000.rb
Labels: bump-cask-pr

#106848 Update coteditor from 4.0.4 to 4.0.5
  Casks/coteditor.rb
Labels: bump-cask-pr

#106850 Update microsoft-edge from 91.0.864.37 to 91.0.864.41
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#106765 Add kubenav.app v3.5.0
  Casks/kubenav.rb
Labels: new cask

#106423 Add prisma studio
  Casks/prisma-studio.rb
Labels: new cask

#106838 Update mailtrackerblocker from 0.3.29 to 0.4.1
  Casks/mailtrackerblocker.rb
Labels: bump-cask-pr

#106853 Update tower from 6.4,278:f34dfbdd to 6.5,279:36c8e109
  Casks/tower.rb
Labels: bump-cask-pr

#106855 Update xamarin-ios from 14.16.0.5 to 14.20.0.1
  Casks/xamarin-ios.rb
Labels: bump-cask-pr

#106857 Update webstorm from 2021.1.1,211.7142.46 to 2021.1.2,211.7442.26
  Casks/webstorm.rb
Labels: bump-cask-pr

#106860 Update metasploit from 6.0.47,20210528102827 to 6.0.48,20210607102836
  Casks/metasploit.rb
Labels: bump-cask-pr

#106862 Update chia from 1.1.6 to 1.1.7
  Casks/chia.rb
Labels: bump-cask-pr

#106865 Update vnc-viewer from 6.21.118 to 6.21.406
  Casks/vnc-viewer.rb
Labels: bump-cask-pr

#106859 Update opencore-configurator from 2.41.0.0 to 2.42.0.0
  Casks/opencore-configurator.rb
Labels: bump-cask-pr

#106867 Update postico from 1.5.17 to 1.5.18
  Casks/postico.rb
Labels: bump-cask-pr

#106868 Update wwdc from 7.3.1,1021 to 7.3.2,1022
  Casks/wwdc.rb
Labels: bump-cask-pr

#106858 Update google-drive from 48.0.11 to 48.0.13
  Casks/google-drive.rb
Labels: bump-cask-pr, ci-skip-install

#106279 Add LANDrop 0.3.0-beta2
  Casks/landrop.rb
Labels: new cask

#106864 Update musicbrainz-picard from 2.6.2 to 2.6.3
  Casks/musicbrainz-picard.rb
Labels: bump-cask-pr

#106869 Update typeface from 3.0.1,2785 to 3.1.0,2852
  Casks/typeface.rb
Labels: bump-cask-pr

#106872 Update jgrennison-openttd from 0.41.2 to 0.41.3
  Casks/jgrennison-openttd.rb
Labels: bump-cask-pr

#106871 Update obsidian from 0.12.3 to 0.12.4
  Casks/obsidian.rb
Labels: bump-cask-pr

#106879 Update postman from 8.5.1 to 8.6.1
  Casks/postman.rb
Labels: bump-cask-pr
