Repository Homebrew/homebrew-cask, pull requests merged in 2021-11, with the labels that each got.

#113558 Update eudic from 4.1.3,1062 to 4.1.5,1065
  Casks/eudic.rb
Labels: bump-cask-pr

#113561 eudic-es: remove
  Casks/eudic-es.rb
Labels: marked for removal/rejection

#113562 Update burn from 3.1.4 to 3.1.5
  Casks/burn.rb
Labels: bump-cask-pr

#113564 Update wechatwebdevtools from 1.05.2108150 to 1.05.2110110
  Casks/wechatwebdevtools.rb
Labels: bump-cask-pr

#113565 Update whatsize from 7.6.5,7650 to 7.6.6,7660
  Casks/whatsize.rb
Labels: bump-cask-pr

#113567 Update wickrme from 5.85.9 to 5.90.3
  Casks/wickrme.rb
Labels: bump-cask-pr

#113563 Update waves-central from 12.0.20 to 13.0.9
  Casks/waves-central.rb
Labels: bump-cask-pr

#113566 Update wing-personal from 8.0.4.0 to 8.1.0.0
  Casks/wing-personal.rb
Labels: bump-cask-pr

#113573 Update bettertouchtool from 3.607-1755 to 3.609-1757
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#113572 Update sbarex-qlmarkdown from 1.0.3 to 1.0.5
  Casks/sbarex-qlmarkdown.rb
Labels: bump-cask-pr

#113568 Update c0re100-qbittorrent from 4.3.8.10 to 4.3.9.10
  Casks/c0re100-qbittorrent.rb
Labels: bump-cask-pr

#113574 Update stats from 2.6.16 to 2.6.17
  Casks/stats.rb
Labels: bump-cask-pr

#113575 Update webcatalog from 38.0.3 to 39.0.1
  Casks/webcatalog.rb
Labels: bump-cask-pr

#113577 Update mmex from 1.5.8 to 1.5.9
  Casks/mmex.rb
Labels: bump-cask-pr

#113578 Update lagrange from 1.7.3 to 1.8.0
  Casks/lagrange.rb
Labels: bump-cask-pr

#113580 Update koodo-reader from 1.3.3 to 1.3.4
  Casks/koodo-reader.rb
Labels: bump-cask-pr

#113586 Update keyman from 14.0.281 to 14.0.282
  Casks/keyman.rb
Labels: bump-cask-pr

#113587 Update kubecontext from 2.0.0 to 2.0.1
  Casks/kubecontext.rb
Labels: bump-cask-pr

#113588 Update loaf from 1.1.16 to 1.1.17
  Casks/loaf.rb
Labels: bump-cask-pr

#113589 Update daisydisk from 4.21.3 to 4.21.4
  Casks/daisydisk.rb
Labels: bump-cask-pr

#113590 Update bettertouchtool from 3.609-1757 to 3.611-1759
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#113591 Update elpass from 1.4.1,400 to 1.4.2,412
  Casks/elpass.rb
Labels: bump-cask-pr

#113592 Update skype from 8.77.0.98 to 8.78.0.159
  Casks/skype.rb
Labels: bump-cask-pr

#113593 Update visual-paradigm-ce from 16.3,20211004 to 16.3,20211012
  Casks/visual-paradigm-ce.rb
Labels: bump-cask-pr

#113594 Marathon/2/infinity: Use livecheck with github_latest and regex
  Casks/marathon-infinity.rb
  Casks/marathon.rb
  Casks/marathon2.rb
Labels: automerge-skip

#113582 Update joplin from 2.5.8 to 2.5.10
  Casks/joplin.rb
Labels: bump-cask-pr

#113583 Update utm from 2.3.1 to 2.4.0
  Casks/utm.rb
Labels: bump-cask-pr

#113595 Update tableau from 2021.3.1 to 2021.3.3
  Casks/tableau.rb
Labels: bump-cask-pr

#113605 Update makemkv from 1.16.4 to 1.16.5
  Casks/makemkv.rb
Labels: bump-cask-pr

#113600 Update clay from 1.6.3 to 1.6.4
  Casks/clay.rb
Labels: bump-cask-pr

#113615 Update weiyun from 5.2.1109 to 5.2.1140
  Casks/weiyun.rb
Labels: bump-cask-pr

#113614 Update mimestream from 0.30.1 to 0.30.2
  Casks/mimestream.rb
Labels: bump-cask-pr

#113612 Update futubull from 11.10.1518,202109271021 to 11.11.1618,202110281756
  Casks/futubull.rb
Labels: bump-cask-pr

#113607 Update bettertouchtool from 3.611-1759 to 3.612-1760
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#113616 Update whatroute from 2.4.6,11776 to 2.4.7,11779
  Casks/whatroute.rb
Labels: bump-cask-pr

#113606 Update affinity-publisher from 1.10.1 to 1.10.4
  Casks/affinity-publisher.rb
Labels: bump-cask-pr

#113596 Update qownnotes from 21.10.15 to 21.11.1
  Casks/qownnotes.rb
Labels: bump-cask-pr

#113617 Update x-swiftformat from 1.1.1 to 1.1.2
  Casks/x-swiftformat.rb
Labels: bump-cask-pr

#113618 Update xamarin-mac from 7.14.0.24 to 7.14.0.27
  Casks/xamarin-mac.rb
Labels: bump-cask-pr

#113608 casks-without-zap: consider no zap comment
  developer/bin/casks-without-zap
Labels: automerge-skip

#113569 ppsspp: initial version
  Casks/ppsspp.rb
Labels: new cask

#113584 Create azirevpn.rb
  Casks/azirevpn.rb
Labels: new cask

#113599 Update electerm from 1.16.21 to 1.17.3
  Casks/electerm.rb
Labels: bump-cask-pr

#113585 Create betterdummy.rb
  Casks/betterdummy.rb
Labels: new cask

#113603 add codeql v2.7.0
  Casks/codeql.rb
Labels: new cask

#113601 Update telegram-desktop from 3.1.9 to 3.1.11
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#113620 Update netspot from 2.13.1025 to 2.14.1037
  Casks/netspot.rb
Labels: bump-cask-pr

#113602 Update gpg-suite from 2021.1,105 to 2021.2
  Casks/gpg-suite.rb
Labels: automerge-skip

#113624 Update clay from 1.6.4 to 1.6.5
  Casks/clay.rb
Labels: bump-cask-pr

#113625 Update betterdummy
  Casks/betterdummy.rb
Labels: bump-cask-pr

#113626 Update ximalaya from 2.1.0,1635299887 to 2.1.1,1635745919
  Casks/ximalaya.rb
Labels: bump-cask-pr

#113627 Update silentknight from 1.16,2021.08 to 1.17,2021.10
  Casks/silentknight.rb
Labels: bump-cask-pr

#113628 Update openaudible from 3.1.2 to 3.2
  Casks/openaudible.rb
Labels: bump-cask-pr

#113629 Update pixelsnap from 2.4.3 to 2.5
  Casks/pixelsnap.rb
Labels: bump-cask-pr

#113631 Update xamarin-ios from 14.20.0.24 to 15.0.0.6
  Casks/xamarin-ios.rb
Labels: bump-cask-pr

#113632 Update xbar from 2.1.6-beta to 2.1.7-beta
  Casks/xbar.rb
Labels: bump-cask-pr

#113634 Update seadrive from 2.0.17 to 2.0.18
  Casks/seadrive.rb
Labels: bump-cask-pr

#113635 Update ledger-live from 2.34.3 to 2.34.4
  Casks/ledger-live.rb
Labels: bump-cask-pr

#113636 Update wechatwork from 3.1.18.90318 to 3.1.19.90354
  Casks/wechatwork.rb
Labels: bump-cask-pr

#113637 Update loom from 0.105.0 to 0.106.0
  Casks/loom.rb
Labels: bump-cask-pr

#113638 Update lulu from 2.4.0 to 2.4.1
  Casks/lulu.rb
Labels: bump-cask-pr

#113639 Update cog from 1611,1fd160dc to 1616,8b2e4524
  Casks/cog.rb
Labels: bump-cask-pr

#113645 Update cryptomator from 1.6.1 to 1.6.2
  Casks/cryptomator.rb
Labels: bump-cask-pr

#113643 Update messenger from 128.10.74,327944632 to 128.12.74,328840638
  Casks/messenger.rb
Labels: bump-cask-pr

#113642 Update mmhmm from 2.1.2,1635155000 to 2.2.0,1635765000
  Casks/mmhmm.rb
Labels: bump-cask-pr

#113641 Update dynobase from 1.7.1 to 1.7.3
  Casks/dynobase.rb
Labels: bump-cask-pr

#113650 Update josm from 18193 to 18303
  Casks/josm.rb
Labels: bump-cask-pr

#113648 Update fmail from 2.4.0,88 to 2.4.3,91
  Casks/fmail.rb
Labels: bump-cask-pr

#113647 Update hot from 1.5.0 to 1.6.0
  Casks/hot.rb
Labels: bump-cask-pr

#113646 Update ticktick from 4.0.21,195 to 4.0.30,197
  Casks/ticktick.rb
Labels: bump-cask-pr

#113654 Update termius from 7.23.2 to 7.24.1
  Casks/termius.rb
Labels: bump-cask-pr

#113653 Update dbeaver-community from 21.2.3 to 21.2.4
  Casks/dbeaver-community.rb
Labels: bump-cask-pr

#113652 Update enclave from 2021.09.27 to 2021.11.02
  Casks/enclave.rb
Labels: bump-cask-pr

#113661 Update blockblock from 2.0.4 to 2.0.5
  Casks/blockblock.rb
Labels: bump-cask-pr

#113659 Update fontgoggles from 1.3.2 to 1.4.0
  Casks/fontgoggles.rb
Labels: bump-cask-pr

#113656 Update youtube-to-mp3 from 3.9.9.61 to 3.9.9.62
  Casks/youtube-to-mp3.rb
Labels: bump-cask-pr

#113655 Update yate from 6.6.1.1,10542 to 6.6.1.3,10544
  Casks/yate.rb
Labels: bump-cask-pr

#113662 Update superduper from 3.3.1,121 to 3.5,122
  Casks/superduper.rb
Labels: bump-cask-pr

#113664 Update grammarly from 1.5.79 to 1.5.80
  Casks/grammarly.rb
Labels: bump-cask-pr

#113663 Update logos from 9.8.0.0008 to 9.8.0.0010
  Casks/logos.rb
Labels: bump-cask-pr

#113665 Update curseforge from 0.185.2-1 to 0.185.3-1
  Casks/curseforge.rb
Labels: bump-cask-pr

#113666 Update 1password from 7.9 to 7.9.1
  Casks/1password.rb
Labels: bump-cask-pr

#113668 Update r from 4.1.1 to 4.1.2
  Casks/r.rb
Labels: bump-cask-pr

#113670 Update barrier from 2.3.3 to 2.4.0
  Casks/barrier.rb
Labels: bump-cask-pr

#113671 Update snowflake-snowsql from 1.2.19 to 1.2.20
  Casks/snowflake-snowsql.rb
Labels: bump-cask-pr

#113669 Update sketch from 78.1,131922 to 79,133334
  Casks/sketch.rb
Labels: bump-cask-pr

#113672 Update miro from 0.6.5 to 0.6.6
  Casks/miro.rb
Labels: bump-cask-pr

#113673 Update syncthing from 1.18.3-1 to 1.18.4-1
  Casks/syncthing.rb
Labels: bump-cask-pr

#113667 Add Breitbandmessung.app v2.0.3
  Casks/breitbandmessung.rb
Labels: new cask

#113677 Update visual-paradigm from 16.3,20211004 to 16.3,20211012
  Casks/visual-paradigm.rb
Labels: bump-cask-pr

#113678 Update yandex-disk from 3.2.13,2755 to 3.2.14,2803
  Casks/yandex-disk.rb
Labels: bump-cask-pr

#113679 Update xmplify from 1.10.1 to 1.10.2
  Casks/xmplify.rb
Labels: bump-cask-pr

#113676 superduper: add auto_updates, add to zap
  Casks/superduper.rb
Labels: automerge-skip

#113681 Update moneymoney from 2.4.6,391 to 2.4.7,394
  Casks/moneymoney.rb
Labels: bump-cask-pr

#113682 Update bettertouchtool from 3.612-1760 to 3.613-1761
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#113685 Update cryptomator from 1.6.2 to 1.6.3
  Casks/cryptomator.rb
Labels: bump-cask-pr

#113684 Update ssh-config-editor from 2.3.1,89 to 2.3.2,91
  Casks/ssh-config-editor.rb
Labels: bump-cask-pr

#113688 Update blitz from 1.15.67 to 1.15.71
  Casks/blitz.rb
Labels: bump-cask-pr

#113687 Update the-clock from 4.5.1,20210115 to 4.6
  Casks/the-clock.rb
Labels: bump-cask-pr

#113689 Add ultracopier.app v2.2.4.14
  Casks/ultracopier.rb
Labels: new cask

#113690 Update karabiner-elements from 13.7.0 to 14.2.0
  Casks/karabiner-elements.rb
Labels: bump-cask-pr

#113691 Update zecwallet-lite from 1.7.4 to 1.7.8
  Casks/zecwallet-lite.rb
Labels: bump-cask-pr

#113712 Update tidelift from 1.2.0 to 1.2.2
  Casks/tidelift.rb
Labels: bump-cask-pr

#113711 Update beekeeper-studio from 2.1.4 to 2.1.5
  Casks/beekeeper-studio.rb
Labels: bump-cask-pr

#113710 Update bettertouchtool from 3.613-1761 to 3.615-1764
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#113709 Update hot from 1.6.0 to 1.6.1
  Casks/hot.rb
Labels: bump-cask-pr

#113708 Update qownnotes from 21.11.1 to 21.11.2
  Casks/qownnotes.rb
Labels: bump-cask-pr

#113707 Update tutanota from 3.89.5 to 3.89.9
  Casks/tutanota.rb
Labels: bump-cask-pr

#113706 Update miniconda from py38_4.10.3 to py39_4.10.3
  Casks/miniconda.rb
Labels: bump-cask-pr

#113704 Update telegram from 8.1.4,222346 to 8.2,222902
  Casks/telegram.rb
Labels: bump-cask-pr

#113702 Update trilium-notes from 0.48.4 to 0.48.5
  Casks/trilium-notes.rb
Labels: bump-cask-pr

#113701 Update zoho-workdrive from 2.6.24 to 2.6.26
  Casks/zoho-workdrive.rb
Labels: bump-cask-pr

#113694 Add Coffitivity Offline.app v1.0.2
  Casks/coffitivity-offline.rb
Labels: new cask

#113698 Update zettlr from 2.0.1 to 2.0.2
  Casks/zettlr.rb
Labels: bump-cask-pr

#113700 Update zoho-mail from 1.3.1 to 1.3.2
  Casks/zoho-mail.rb
Labels: bump-cask-pr

#113714 elgiganten-jotta: remove
  Casks/elgiganten-jotta.rb
Labels: marked for removal/rejection

#113715 Update amazon-workspaces from 4.0.3.2103 to 4.0.4.2126
  Casks/amazon-workspaces.rb
Labels: bump-cask-pr

#113703 Add Letter Opener
  Casks/letter-opener.rb
Labels: new cask

#113716 Update bettertouchtool from 3.615-1764 to 3.616-1765
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#113717 Update bluewallet from 6.2.10 to 6.2.12
  Casks/bluewallet.rb
Labels: bump-cask-pr

#113718 Update chef-workstation from 21.10.640 to 21.11.679
  Casks/chef-workstation.rb
Labels: bump-cask-pr

#113724 duoshao: remove
  Casks/duoshao.rb
Labels: marked for removal/rejection

#113722 evolve-ip-uc-one: remove
  Casks/evolve-ip-uc-one.rb
Labels: marked for removal/rejection

#113723 fraise: remove
  Casks/fraise.rb
Labels: marked for removal/rejection

#113725 hessenbox-da: remove
  Casks/hessenbox-da.rb
Labels: marked for removal/rejection

#113726 gameshow: remove
  Casks/gameshow.rb
Labels: marked for removal/rejection

#113720 Update cleanmymac from 4.9.1,40901.0.2110281426 to 4.9.2,40902.0.2111031749
  Casks/cleanmymac.rb
Labels: bump-cask-pr

#113727 handylock: remove
  Casks/handylock.rb
Labels: marked for removal/rejection

#113728 Update signal from 5.22.0 to 5.23.0
  Casks/signal.rb
Labels: bump-cask-pr

#113730 Update visual-studio from 8.10.11.8 to 8.10.12.16
  Casks/visual-studio.rb
Labels: bump-cask-pr

#113731 Update lunar from 4.9.6 to 5.0.0
  Casks/lunar.rb
Labels: bump-cask-pr

#113732 Update imazing from 2.14.4,15470 to 2.14.5,15503
  Casks/imazing.rb
Labels: bump-cask-pr

#113735 juicebar: remove
  Casks/juicebar.rb
Labels: marked for removal/rejection

#113736 loni-pipeline: remove
  Casks/loni-pipeline.rb
Labels: marked for removal/rejection

#113737 masterway-note: remove
  Casks/masterway-note.rb
Labels: marked for removal/rejection

#113738 molsoftbrowser: remove
  Casks/molsoftbrowser.rb
Labels: marked for removal/rejection

#113740 imitone: remove
  Casks/imitone.rb
Labels: marked for removal/rejection

#113747 outwit-hub: remove
  Casks/outwit-hub.rb
Labels: marked for removal/rejection

#113746 linein: remove
  Casks/linein.rb
Labels: marked for removal/rejection

#113741 inxmail-professional: remove
  Casks/inxmail-professional.rb
Labels: marked for removal/rejection

#113745 jaksta-media-recorder: remove
  Casks/jaksta-media-recorder.rb
Labels: marked for removal/rejection

#113744 ivideonclient: remove
  Casks/ivideonclient.rb
Labels: marked for removal/rejection

#113743 iridient-developer: remove
  Casks/iridient-developer.rb
Labels: marked for removal/rejection

#113742 littlesecrets: remove
  Casks/littlesecrets.rb
Labels: marked for removal/rejection

#113752 Update adobe-creative-cloud-cleaner-tool from 4.3.0.164 to 4.3.0.190
  Casks/adobe-creative-cloud-cleaner-tool.rb
Labels: bump-cask-pr

#113750 Update a-better-finder-rename from 11.38b05 to 11.39
  Casks/a-better-finder-rename.rb
Labels: bump-cask-pr

#113751 Update acorn from 7.1,15921 to 7.1.1,15968
  Casks/acorn.rb
Labels: bump-cask-pr

#113753 Update affinity-photo from 1.10.1 to 1.10.4
  Casks/affinity-photo.rb
Labels: bump-cask-pr

#113754 Update affinity-designer from 1.10.1 to 1.10.4
  Casks/affinity-designer.rb
Labels: bump-cask-pr

#113755 Update accordance from 13.3.1 to 13.3.2
  Casks/accordance.rb
Labels: bump-cask-pr
