Repository Homebrew/homebrew-cask, pull requests merged in 2021-12, with the labels that each got.

#115116 Update permute from 3.7.6 to 3.7.7
  Casks/permute.rb
Labels: bump-cask-pr

#115117 Update downie from 4.3.9 to 4.4
  Casks/downie.rb
Labels: bump-cask-pr

#115118 Update gitup from 1.2 to 1.3
  Casks/gitup.rb
Labels: bump-cask-pr

#115119 Update nextcloud from 3.3.6 to 3.4.0
  Casks/nextcloud.rb
Labels: bump-cask-pr

#115114 Add AppFlowy 0.0.2
  Casks/appflowy.rb
Labels: new cask

#115123 Update permute from 3.7.7,2537 to 3.7.7,2537
  Casks/permute.rb
Labels: bump-cask-pr

#115120 Update koodo-reader from 1.3.5 to 1.3.6
  Casks/koodo-reader.rb
Labels: bump-cask-pr

#115122 Update microsoft-edge from 96.0.1054.34 to 96.0.1054.41
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#115125 Update logos from 9.9.0.0011 to 9.9.0.0016
  Casks/logos.rb
Labels: bump-cask-pr

#115126 Update lens from 5.3.0 to 5.3.1
  Casks/lens.rb
Labels: bump-cask-pr

#115127 Update plex-media-server from 1.24.5.5173 to 1.25.0.5282
  Casks/plex-media-server.rb
Labels: bump-cask-pr

#115129 Update prezi-next from 1.52.0 to 1.53.1
  Casks/prezi-next.rb
Labels: bump-cask-pr

#115137 Update clion from 2021.2.3 to 2021.3
  Casks/clion.rb
Labels: bump-cask-pr

#115140 Update internxt-drive from 1.4.1 to 1.4.2
  Casks/internxt-drive.rb
Labels: bump-cask-pr

#115142 Update postman from 9.2.0 to 9.3.0
  Casks/postman.rb
Labels: bump-cask-pr

#115143 Update krisp from 1.29.6 to 1.30.10
  Casks/krisp.rb
Labels: bump-cask-pr

#115144 Update ticktick from 4.0.40 to 4.0.50
  Casks/ticktick.rb
Labels: bump-cask-pr

#115145 Update electorrent from 2.7.2 to 2.7.3
  Casks/electorrent.rb
Labels: bump-cask-pr

#115146 Update feishu from 5.0.9 to 5.1.5
  Casks/feishu.rb
Labels: bump-cask-pr

#115147 Update pretzel from 2.2.13 to 2.9.4
  Casks/pretzel.rb
Labels: bump-cask-pr

#115149 Replace Mockoon binary with universal package
  Casks/mockoon.rb
Labels: automerge-skip

#115136 Update jitsi-meet from 2021.11.2 to 2021.12.1
  Casks/jitsi-meet.rb
Labels: bump-cask-pr

#115141 Update maestral
  Casks/maestral.rb
Labels: bump-cask-pr

#115148 Update mimestream from 0.30.5 to 0.31.0
  Casks/mimestream.rb
Labels: bump-cask-pr

#115132 Update plistedplus from 1.0.87 to 1.0.89
  Casks/plistedplus.rb
Labels: bump-cask-pr

#115133 Update prizmo from 4.2.2 to 4.3.1
  Casks/prizmo.rb
Labels: bump-cask-pr

#115152 Update pragli from 21.5.15 to 21.9.2
  Casks/pragli.rb
Labels: bump-cask-pr

#115130 Update principle from 6.11 to 6.14
  Casks/principle.rb
Labels: bump-cask-pr

#115131 Update power-manager from 5.9.0 to 5.9.1
  Casks/power-manager.rb
Labels: bump-cask-pr

#115153 Update pokerstars from 42.989 to 44.837
  Casks/pokerstars.rb
Labels: bump-cask-pr

#115155 Update pitch from 1.54.2 to 1.55.1
  Casks/pitch.rb
Labels: bump-cask-pr

#115156 Update pycharm from 2021.2.3 to 2021.3
  Casks/pycharm.rb
Labels: bump-cask-pr

#115157 Update pycharm-ce from 2021.2.3 to 2021.3
  Casks/pycharm-ce.rb
Labels: bump-cask-pr

#115158 Update elmedia-player from 8.1 to 8.2
  Casks/elmedia-player.rb
Labels: bump-cask-pr

#115159 Update tinymediamanager from 4.2.2 to 4.2.3
  Casks/tinymediamanager.rb
Labels: bump-cask-pr

#115164 Update nova from 8.2 to 8.3
  Casks/nova.rb
Labels: bump-cask-pr

#115165 Update warzone-2100 from 4.2.2 to 4.2.3
  Casks/warzone-2100.rb
Labels: bump-cask-pr

#115167 Update mimestream from 0.31.0 to 0.31.1
  Casks/mimestream.rb
Labels: bump-cask-pr

#115168 01_bug_report.yml: fix missing `label` property
  .github/ISSUE_TEMPLATE/01_bug_report.yml
Labels: documentation, automerge-skip

#115166 Update zerotier-one from 1.8.3 to 1.8.4
  Casks/zerotier-one.rb
Labels: bump-cask-pr

#115169 Update lightkey from 3.8.1 to 3.8.2
  Casks/lightkey.rb
Labels: bump-cask-pr

#115170 Update electron from 16.0.0 to 16.0.3
  Casks/electron.rb
Labels: bump-cask-pr

#115171 Update signal from 5.24.0 to 5.25.0
  Casks/signal.rb
Labels: bump-cask-pr

#115172 Update pushplaylabs-sidekick from 94.13.2.14440 to 94.13.2.14501
  Casks/pushplaylabs-sidekick.rb
Labels: bump-cask-pr

#115180 julia: update zap
  Casks/julia.rb
Labels: bump-cask-pr

#115174 Update quicken from 6.4.2 to 6.4.4
  Casks/quicken.rb
Labels: bump-cask-pr

#115173 Update photosrevive from 2.0.1 to 2.0.2
  Casks/photosrevive.rb
Labels: bump-cask-pr

#115175 Update quip from 7.46.2 to 7.49.0
  Casks/quip.rb
Labels: bump-cask-pr

#115177 screens: update zap
  Casks/screens.rb
Labels: bump-cask-pr

#115179 Update qownnotes from 21.11.14 to 21.12.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#115181 Update qt-design-studio from 2.2.1 to 2.2.2
  Casks/qt-design-studio.rb
Labels: automerge-skip, bump-cask-pr

#115182 Update bunch from 1.4.6 to 1.4.7
  Casks/bunch.rb
Labels: bump-cask-pr

#115183 Update qobuz from 6.0.3 to 6.0.4
  Casks/qobuz.rb
Labels: bump-cask-pr

#115184 Update detectx-swift from 1.0981 to 1.0982
  Casks/detectx-swift.rb
Labels: bump-cask-pr

#115187 Update blitz from 1.16.6 to 1.16.7
  Casks/blitz.rb
Labels: bump-cask-pr

#115178 docker: update zap
  Casks/docker.rb
Labels: bump-cask-pr

#115185 Update glyphs from 3.0.4,3101 to 3.0.4,3105
  Casks/glyphs.rb
Labels: bump-cask-pr

#115186 Update local from 6.1.7 to 6.1.8
  Casks/local.rb
Labels: bump-cask-pr

#115188 Update whatsapp from 2.2144.11 to 2.2146.9
  Casks/whatsapp.rb
Labels: bump-cask-pr

#115191 Update hstracker from 2.0.3 to 2.0.4
  Casks/hstracker.rb
Labels: bump-cask-pr

#115192 Update rubymine from 2021.2.3 to 2021.3
  Casks/rubymine.rb
Labels: bump-cask-pr

#115189 Update lens from 5.3.1 to 5.3.2
  Casks/lens.rb
Labels: bump-cask-pr

#115176 Update quickbooks from 20.0.5.866 to 20.0.6.880
  Casks/quickbooks.rb
Labels: awaiting user reply, bump-cask-pr

#115196 Update dropbox from 135.4.4221 to 136.4.4345
  Casks/dropbox.rb
Labels: bump-cask-pr

#115198 Update github from 2.9.4-24101633 to 2.9.5-acc55692
  Casks/github.rb
Labels: bump-cask-pr

#115194 Update viber from 16.5.0 to 16.6.0
  Casks/viber.rb
Labels: bump-cask-pr

#115199 Update paw from 3.3.1 to 3.3.2
  Casks/paw.rb
Labels: bump-cask-pr

#115214 Update phpstorm from 2021.3,213.5744.279 to 2021.3,213.5744.279
  Casks/phpstorm.rb
Labels: bump-cask-pr

#115212 Update vivaldi from 4.3.2439.65 to 5.0.2497.24
  Casks/vivaldi.rb
Labels: bump-cask-pr

#115211 Update burp-suite-professional from 2021.10 to 2021.10.3
  Casks/burp-suite-professional.rb
Labels: bump-cask-pr

#115210 Update cryptomator from 1.6.3 to 1.6.4
  Casks/cryptomator.rb
Labels: bump-cask-pr

#115209 Update burp-suite from 2021.10 to 2021.10.3
  Casks/burp-suite.rb
Labels: bump-cask-pr

#115207 Update docker from 4.2.0 to 4.3.0
  Casks/docker.rb
Labels: bump-cask-pr

#115215 Update bbedit from 14.0.2 to 14.0.3
  Casks/bbedit.rb
Labels: bump-cask-pr

#115206 Update tableau from 2021.3.4 to 2021.3.4
  Casks/tableau.rb
Labels: bump-cask-pr

#115205 Update opera from 81.0.4196.60 to 82.0.4227.23
  Casks/opera.rb
Labels: bump-cask-pr

#115204 Update visual-paradigm-ce from 16.3,20211114 to 16.3,20211131
  Casks/visual-paradigm-ce.rb
Labels: bump-cask-pr

#115201 Update goland from 2021.2.4 to 2021.3
  Casks/goland.rb
Labels: bump-cask-pr

#115200 Update ximalaya from 2.1.1 to 2.2.0
  Casks/ximalaya.rb
Labels: bump-cask-pr

#115220 Update radicle-upstream from 0.2.11 to 0.2.12
  Casks/radicle-upstream.rb
Labels: bump-cask-pr

#115235 Update minecraft-server from 1.17.1 to 1.18
  Casks/minecraft-server.rb
Labels: bump-cask-pr

#115222 Update curseforge from 0.186.1-2 to 0.187.2-0
  Casks/curseforge.rb
Labels: bump-cask-pr

#115221 Update microsoft-edge from 96.0.1054.41 to 96.0.1054.43
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#115223 Update onedrive from 21.205.1003.0003 to 21.220.1024.0005
  Casks/onedrive.rb
Labels: bump-cask-pr

#115224 Update rapidweaver from 8.9.2 to 8.9.3
  Casks/rapidweaver.rb
Labels: bump-cask-pr

#115225 Update remotion from 1.62.1 to 1.66.1
  Casks/remotion.rb
Labels: bump-cask-pr

#115226 Update resolutionator from 2.1.0 to 2.2.0
  Casks/resolutionator.rb
Labels: bump-cask-pr

#115227 Update retroarch-metal from 1.9.12 to 1.9.13
  Casks/retroarch-metal.rb
Labels: bump-cask-pr

#115228 Update reunion from 13.0.0,210616unr to 13.0.0,211116unr
  Casks/reunion.rb
Labels: bump-cask-pr

#115229 Update reveal from 31 to 32
  Casks/reveal.rb
Labels: bump-cask-pr

#115230 Update rhino from 7.11.21285.13002 to 7.12.21313.06342
  Casks/rhino.rb
Labels: bump-cask-pr

#115231 Update river-sparkle from 3.1.4 to 3.1.6
  Casks/river-sparkle.rb
Labels: bump-cask-pr

#115232 Update ringcentral from 21.3.31 to 21.4.25
  Casks/ringcentral.rb
Labels: bump-cask-pr

#115233 Update gcs from 4.34.2 to 4.35.0
  Casks/gcs.rb
Labels: bump-cask-pr

#115234 Update blitz from 1.16.7 to 1.16.8
  Casks/blitz.rb
Labels: bump-cask-pr

#115236 Update imazing from 2.14.5 to 2.14.6
  Casks/imazing.rb
Labels: bump-cask-pr

#115239 Update steam
  Casks/steam.rb
Labels: bump-cask-pr

#115240 Update datweatherdoe from 2.1.5 to 2.1.6
  Casks/datweatherdoe.rb
Labels: bump-cask-pr

#115237 Update appcode from 2021.2.4 to 2021.3
  Casks/appcode.rb
Labels: bump-cask-pr

#115241 Update koodo-reader from 1.3.7 to 1.3.8
  Casks/koodo-reader.rb
Labels: bump-cask-pr

#115243 Update berrycast from 0.34.13 to 0.34.16
  Casks/berrycast.rb
Labels: bump-cask-pr

#115245 cleanshot: update zap
  Casks/cleanshot.rb
Labels: bump-cask-pr

#115246 Update caprine from 2.55.0 to 2.55.1
  Casks/caprine.rb
Labels: bump-cask-pr

#115247 Update intellij-idea-ce from 2021.2.3 to 2021.3
  Casks/intellij-idea-ce.rb
Labels: bump-cask-pr

#115249 Update pdf-expert from 2.5.18 to 2.5.19
  Casks/pdf-expert.rb
Labels: bump-cask-pr

#115252 Update asset-catalog-tinkerer from 2.5.1 to 2.7
  Casks/asset-catalog-tinkerer.rb
Labels: bump-cask-pr

#115253 Update rocket-chat from 3.6.0 to 3.7.0
  Casks/rocket-chat.rb
Labels: bump-cask-pr

#115254 Update audius from 0.24.34 to 0.24.35
  Casks/audius.rb
Labels: bump-cask-pr

#115256 Update typora from 1.0.2 to 1.0.3
  Casks/typora.rb
Labels: bump-cask-pr

#115260 Update macupdater from 2.1.1,12344 to 2.1.1,12344 (fix SHA)
  Casks/macupdater.rb
Labels: bump-cask-pr

#115261 Update trader-workstation from 10.11.2c to 10.11.2f
  Casks/trader-workstation.rb
Labels: bump-cask-pr

#115262 Update qt-creator from 5.0.3 to 6.0.0
  Casks/qt-creator.rb
Labels: bump-cask-pr

#115263 Update microsoft-teams from 1.4.00.29477 to 1.4.00.29478
  Casks/microsoft-teams.rb
Labels: bump-cask-pr

#115190 Add Cron calendar
  Casks/cron.rb
Labels: new cask

#115274 Update robofont from 4.0 to 4.1
  Casks/robofont.rb
Labels: bump-cask-pr

#115273 Update fig from 1.0.52,311 to 1.0.52,328
  Casks/fig.rb
Labels: bump-cask-pr

#115266 Update unity-android-support-for-editor from 2021.2.4f1 to 2021.2.5f1
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr

#115267 Update unity-ios-support-for-editor from 2021.2.4f1 to 2021.2.5f1
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr

#115268 Update unity-linux-support-for-editor from 2021.2.4f1 to 2021.2.5f1
  Casks/unity-linux-support-for-editor.rb
Labels: bump-cask-pr

#115269 Update unity-webgl-support-for-editor from 2021.2.4f1 to 2021.2.5f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#115270 Update unity-windows-support-for-editor from 2021.2.4f1 to 2021.2.5f1
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#115275 Update jitsi-meet from 2021.12.1 to 2021.12.2
  Casks/jitsi-meet.rb
Labels: bump-cask-pr

#115264 Update blender from 2.93.6 to 3.0.0
  Casks/blender.rb
Labels: bump-cask-pr

#115272 Update rotki from 1.22.0 to 1.22.2
  Casks/rotki.rb
Labels: bump-cask-pr

#114623 Re-add TeamSpeak Client 3.5.6.
  Casks/teamspeak-client.rb
Labels: new cask

#115279 Update lunar from 5.1.1 to 5.1.2
  Casks/lunar.rb
Labels: bump-cask-pr

#115278 Update webex-meetings from 2111.1823.4112.3 to 2111.2607.4112.4
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#115280 Update fantastical from 3.5 to 3.5.1
  Casks/fantastical.rb
Labels: bump-cask-pr

#115277 Update evernote from 10.25.6 to 10.26.5
  Casks/evernote.rb
Labels: bump-cask-pr

#115276 Update sourcetree from 4.1.4 to 4.1.5
  Casks/sourcetree.rb
Labels: bump-cask-pr

#115281 Update gluemotion from 2.0.2,fee459b0-05dd-46e6-a9c2-d2c397c298fd to 2.0.2,fee459b0-05dd-46e6-a9c2-d2c397c298fd
  Casks/gluemotion.rb
Labels: bump-cask-pr

#115282 Update snapmotion from 5.0.2,07a2d1c9-7e7c-4238-88ce-bc2bb0e06357 to 5.0.2,07a2d1c9-7e7c-4238-88ce-bc2bb0e06357
  Casks/snapmotion.rb
Labels: bump-cask-pr

#115102 Add Grammarly Desktop App 1.0.0.5
  Casks/grammarly-desktop.rb
Labels: awaiting maintainer feedback, new cask

#115284 Update praat from 6.2.01 to 6.2.03
  Casks/praat.rb
Labels: bump-cask-pr

#115290 Update typora from 1.0.3 to 1.0.4
  Casks/typora.rb
Labels: bump-cask-pr

#115293 Update remote-desktop-manager-free from 2021.2.4.0 to 2021.2.9.0
  Casks/remote-desktop-manager-free.rb
Labels: bump-cask-pr

#115299 Update veracrypt from 1.24-Update8 to 1.25.4
  Casks/veracrypt.rb
Labels: bump-cask-pr

#115313 Update rocks-n-diamonds from 4.2.1.0 to 4.3.0.2
  Casks/rocks-n-diamonds.rb
Labels: bump-cask-pr

#115314 Update redcine-x-pro from 53.0 to 54.0
  Casks/redcine-x-pro.rb
Labels: bump-cask-pr

#115316 Update remote-desktop-manager from 2021.2.4.0 to 2021.2.10.0
  Casks/remote-desktop-manager.rb
Labels: bump-cask-pr

#115317 Update scratch from 3.26.0 to 3.27.0
  Casks/scratch.rb
Labels: bump-cask-pr

#115319 Update scrivener from 3.2.2 to 3.2.3
  Casks/scrivener.rb
Labels: bump-cask-pr

#115318 Update screenflick from 3.0.4 to 3.0.7
  Casks/screenflick.rb
Labels: bump-cask-pr

#115320 Update seamonkey from 2.53.9.1 to 2.53.10
  Casks/seamonkey.rb
Labels: bump-cask-pr

#115322 Update mailtrackerblocker from 0.5.3 to 0.5.4
  Casks/mailtrackerblocker.rb
Labels: bump-cask-pr

#115323 Update xit from 1.0b15 to 1.0b16
  Casks/xit.rb
Labels: bump-cask-pr

#115324 Update fs-uae from 3.1.48 to 3.1.62
  Casks/fs-uae.rb
Labels: bump-cask-pr

#115325 Update sqlpro-studio from 2021.98 to 2021.102
  Casks/sqlpro-studio.rb
Labels: bump-cask-pr

#115326 Update codeql from 2.7.1 to 2.7.2
  Casks/codeql.rb
Labels: bump-cask-pr

#115327 Update farrago from 1.6.4 to 1.6.5
  Casks/farrago.rb
Labels: bump-cask-pr
