Repository Homebrew/homebrew-cask, pull requests merged in 2021-07, with the labels that each got.

#107897 Update imazing from 2.13.9,14924 to 2.13.10,15078
  Casks/imazing.rb
Labels: bump-cask-pr

#107895 Update oss-browser from 1.14.0 to 1.15.0
  Casks/oss-browser.rb
Labels: bump-cask-pr

#107896 Update prey from 1.9.10 to 1.9.12
  Casks/prey.rb
Labels: bump-cask-pr, ci-skip-install

#107899 Update android-studio from 4.2.1.0,202.7351085 to 4.2.2.0,202.7486908
  Casks/android-studio.rb
Labels: bump-cask-pr

#107898 Update lightkey from 3.6.3 to 3.7
  Casks/lightkey.rb
Labels: bump-cask-pr

#107901 Update intellij-idea-ce from 2021.1.2,211.7442.40 to 2021.1.3,211.7628.21
  Casks/intellij-idea-ce.rb
Labels: bump-cask-pr

#107886 Add Samsung DeX 2.0.0.11
  Casks/samsung-dex.rb
Labels: new cask

#107903 Update zoc from 8.02.5 to 8.02.6
  Casks/zoc.rb
Labels: bump-cask-pr

#107905 Update flipper from 0.95.0 to 0.96.0
  Casks/flipper.rb
Labels: bump-cask-pr

#107906 Update intellij-idea from 2021.1.3,211.7628.21 to 2021.1.3,211.7628.21
  Casks/intellij-idea.rb
Labels: bump-cask-pr

#107910 Update qownnotes from 21.6.9 to 21.7.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#107909 Update foobar2000 from 2.2.24 to 2.2.25
  Casks/foobar2000.rb
Labels: bump-cask-pr

#107911 Update audius from 0.24.19 to 0.24.20
  Casks/audius.rb
Labels: bump-cask-pr

#107919 Update graphicconverter from 11.5,5067 to 11.5.1,5091
  Casks/graphicconverter.rb
Labels: bump-cask-pr

#107921 Update deezer from 5.20.0 to 5.30.0
  Casks/deezer.rb
Labels: bump-cask-pr

#107922 Update downie from 4.2.7,4258 to 4.2.8,4261
  Casks/downie.rb
Labels: bump-cask-pr

#107912 Update phpstorm from 2021.1.4,211.7628.25 to 2021.1.4,211.7628.25
  Casks/phpstorm.rb
Labels: bump-cask-pr

#107907 Update prezi-next from 1.50.0,26964 to 1.51.0,27016
  Casks/prezi-next.rb
Labels: awaiting maintainer feedback, bump-cask-pr

#107929 Update propresenter from 7.5.3,117768962 to 7.6,117833745
  Casks/propresenter.rb
Labels: bump-cask-pr

#107928 Update mongodb-compass from 1.26.1 to 1.27.0
  Casks/mongodb-compass.rb
Labels: bump-cask-pr

#107930 Update plexamp from 3.4.7 to 3.5.0
  Casks/plexamp.rb
Labels: bump-cask-pr

#107927 Update vivaldi from 4.0.2312.33 to 4.0.2312.36
  Casks/vivaldi.rb
Labels: bump-cask-pr

#107923 Update permute from 3.6.4,2419 to 3.6.5,2423
  Casks/permute.rb
Labels: bump-cask-pr

#107926 Update jitsi-meet from 2.8.7 to 2.8.8
  Casks/jitsi-meet.rb
Labels: bump-cask-pr

#107931 Update blitz from 1.14.24 to 1.14.25
  Casks/blitz.rb
Labels: bump-cask-pr

#107924 Update backblaze from 7.0.2.496 to 7.0.2.498
  Casks/backblaze.rb
Labels: bump-cask-pr

#107932 Update panoply from 4.12.7 to 4.12.8
  Casks/panoply.rb
Labels: bump-cask-pr

#107933 Update astah-professional from 8.3.0,b9757d to 8.4.0,8fdff6
  Casks/astah-professional.rb
Labels: bump-cask-pr

#107934 Update astah-uml from 8.3.0,b9757d to 8.4.0,8fdff6
  Casks/astah-uml.rb
Labels: bump-cask-pr

#107935 Update aural from 3.1.0 to 3.2.0
  Casks/aural.rb
Labels: bump-cask-pr

#107936 Update berrycast from 0.34.2 to 0.34.4
  Casks/berrycast.rb
Labels: bump-cask-pr

#107938 Update blocs from 4.2.2,422 to 4.3.1,431
  Casks/blocs.rb
Labels: bump-cask-pr

#107939 Update chirp from 20210612 to 20210618
  Casks/chirp.rb
Labels: bump-cask-pr

#107940 Update fantastical from 3.4,1298 to 3.4.1,1310
  Casks/fantastical.rb
Labels: bump-cask-pr

#107943 Update microsoft-edge from 91.0.864.59 to 91.0.864.64
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#107942 Update textexpander from 6.8.4,684.8 to 6.8.5,685.6
  Casks/textexpander.rb
Labels: bump-cask-pr

#107944 Update understand from 6.0.1066 to 6.0.1070
  Casks/understand.rb
Labels: bump-cask-pr

#107992 Update thebrain from 11.0.137.0 to 11.0.147.0
  Casks/thebrain.rb
Labels: bump-cask-pr

#107991 Update thedesk from 22.2.0 to 22.3.0
  Casks/thedesk.rb
Labels: bump-cask-pr

#107990 Update thorium from 1.7.0 to 1.7.1
  Casks/thorium.rb
Labels: bump-cask-pr

#107988 Update ticktick from 3.8.01,175 to 3.8.50,176
  Casks/ticktick.rb
Labels: bump-cask-pr

#107987 Update timecamp from 1.7.1.7 to 1.7.2.0
  Casks/timecamp.rb
Labels: bump-cask-pr

#107986 Update timeular from 3.9.2 to 3.9.3
  Casks/timeular.rb
Labels: bump-cask-pr

#107985 Update timing from 2021.3.2,287 to 2021.4.1,295
  Casks/timing.rb
Labels: bump-cask-pr

#107984 Update torguard from 4.7.0 to 4.7.2
  Casks/torguard.rb
Labels: bump-cask-pr

#107983 Update trader-workstation from 981.3b to 981.3c
  Casks/trader-workstation.rb
Labels: bump-cask-pr

#107982 Update twist from 0.2.3,7025 to 0.3.0
  Casks/twist.rb
Labels: bump-cask-pr

#107981 Update typeit4me from 6.3.2,239 to 6.3.3,244
  Casks/typeit4me.rb
Labels: bump-cask-pr

#107980 Update ueli from 8.12.0 to 8.13.0
  Casks/ueli.rb
Labels: bump-cask-pr

#107979 Update ultimate from 3.0.13.511 to 3.0.13.617
  Casks/ultimate.rb
Labels: bump-cask-pr

#107978 Update unison from 2.51.2 to 2.51.4,4.12.0
  Casks/unison.rb
Labels: bump-cask-pr

#107976 Update unity from 2021.1.11f1,4d8c25f7477e to 2021.1.13f1,a03098edbbe0
  Casks/unity.rb
Labels: bump-cask-pr

#107975 Update universal-media-server from 10.5.0 to 10.6.0
  Casks/universal-media-server.rb
Labels: bump-cask-pr

#107974 Update usenapp from 1.07.5,323 to 1.08.8,335
  Casks/usenapp.rb
Labels: bump-cask-pr

#107973 Update valentina-studio from 11.2.7 to 11.3
  Casks/valentina-studio.rb
Labels: bump-cask-pr

#107972 Update vallum from 4.0.1 to 4.0.2
  Casks/vallum.rb
Labels: bump-cask-pr

#107971 Update vassal from 3.5.7 to 3.5.8
  Casks/vassal.rb
Labels: bump-cask-pr

#107970 Update vellum from 2.8.5,28500 to 2.8.6,28600
  Casks/vellum.rb
Labels: bump-cask-pr

#107969 Update virtualhereserver from 4.3.0 to 4.3.2
  Casks/virtualhereserver.rb
Labels: bump-cask-pr

#107968 Update visual-paradigm from 16.3,20210517 to 16.3,20210701
  Casks/visual-paradigm.rb
Labels: bump-cask-pr

#107967 Update visual-paradigm-ce from 16.3,20210517 to 16.3,20210701
  Casks/visual-paradigm-ce.rb
Labels: bump-cask-pr

#107966 Update vrew from 0.8.15 to 0.8.17
  Casks/vrew.rb
Labels: bump-cask-pr

#107965 Update vsee from 4.11.1,43366 to 4.11.2,43418
  Casks/vsee.rb
Labels: bump-cask-pr

#107964 Update vuescan from 9.7.57 to 9.7.58
  Casks/vuescan.rb
Labels: bump-cask-pr

#107962 Update wasabi-wallet from 1.1.12.8 to 1.1.12.9
  Casks/wasabi-wallet.rb
Labels: bump-cask-pr

#107961 Update wavebox from 10.0.542.2 to 10.0.554.2
  Casks/wavebox.rb
Labels: bump-cask-pr

#107960 Update weakauras-companion from 3.2.2 to 3.3.3
  Casks/weakauras-companion.rb
Labels: bump-cask-pr

#107959 Update wickrme from 5.81.10 to 5.82.14
  Casks/wickrme.rb
Labels: bump-cask-pr

#107958 Update wifi-explorer from 3.1,43 to 3.2,44
  Casks/wifi-explorer.rb
Labels: bump-cask-pr

#107957 Update wire from 3.25.4095 to 3.26.4145
  Casks/wire.rb
Labels: bump-cask-pr

#107956 Update wordpresscom from 6.15.0 to 7.0.6
  Casks/wordpresscom.rb
Labels: bump-cask-pr

#107955 Update workflowy from 1.3.5-17486 to 1.3.5-17969
  Casks/workflowy.rb
Labels: bump-cask-pr

#107954 Update wowup from 2.3.1 to 2.4.2
  Casks/wowup.rb
Labels: bump-cask-pr

#107953 Update xamarin-ios from 14.20.0.3 to 14.20.0.24
  Casks/xamarin-ios.rb
Labels: bump-cask-pr

#107952 Update xamarin-mac from 7.14.0.1 to 7.14.0.24
  Casks/xamarin-mac.rb
Labels: bump-cask-pr

#107951 Update zappy from 2.9.1 to 2.10.0
  Casks/zappy.rb
Labels: bump-cask-pr

#107950 Update zecwallet-lite from 1.6.3 to 1.7.1
  Casks/zecwallet-lite.rb
Labels: bump-cask-pr

#107949 Update bootstrap-studio from 5.6.3 to 5.7.1
  Casks/bootstrap-studio.rb
Labels: bump-cask-pr

#107948 Update boost-note from 0.18.0 to 0.19.0
  Casks/boost-note.rb
Labels: bump-cask-pr

#107947 Update binance from 1.18.1 to 1.19.0
  Casks/binance.rb
Labels: bump-cask-pr

#107946 Update beeper from 2.0.10 to 2.0.14
  Casks/beeper.rb
Labels: bump-cask-pr

#107945 Update bbc-iplayer-downloads from 2.13.2 to 2.13.3
  Casks/bbc-iplayer-downloads.rb
Labels: bump-cask-pr

#107941 Update avocode from 4.14.3 to 4.15.0
  Casks/avocode.rb
Labels: bump-cask-pr

#107993 Update the-archive from 1.6.0 to 1.6.3
  Casks/the-archive.rb
Labels: bump-cask-pr

#107998 Update teamwire from 2.2.1 to 2.7.1
  Casks/teamwire.rb
Labels: bump-cask-pr

#108000 Update tales-of-majeyal from 1.7.3 to 1.7.4
  Casks/tales-of-majeyal.rb
Labels: bump-cask-pr

#107999 Update tandem from 1.6.419 to 1.7.617
  Casks/tandem.rb
Labels: bump-cask-pr

#107997 Update telavox-flow from 1.121.0 to 1.123.0
  Casks/telavox-flow.rb
Labels: bump-cask-pr

#107996 Update tempo from 5.19.0 to 5.21.0
  Casks/tempo.rb
Labels: bump-cask-pr

#107995 Update tenable-nessus-agent from 8.2.5,13057 to 8.3.0,13132
  Casks/tenable-nessus-agent.rb
Labels: bump-cask-pr

#108004 Update plexamp from 3.5.0 to 3.5.0
  Casks/plexamp.rb
Labels: bump-cask-pr

#108009 Update radar from 0.0.8 to 1.0.0
  Casks/radar.rb
Labels: bump-cask-pr

#108014 Update roboform from 9.1.1 to 9.1.2
  Casks/roboform.rb
Labels: bump-cask-pr

#108013 Update recaf from 2.20.0 to 2.20.1
  Casks/recaf.rb
Labels: bump-cask-pr

#108012 Update raiderio from 2.1.5 to 2.1.7
  Casks/raiderio.rb
Labels: bump-cask-pr

#108011 Update audio-hijack from 3.8.4 to 3.8.5
  Casks/audio-hijack.rb
Labels: bump-cask-pr

#108019 Update coconutbattery from 3.9.5,4891c16e to 3.9.5,51696b1c
  Casks/coconutbattery.rb
Labels: bump-cask-pr

#108020 Update sketch from 72.4,124482 to 73.1,127209
  Casks/sketch.rb
Labels: bump-cask-pr

#108021 Update gemini from 2.8.9,381:1622733157 to 2.8.10,383:1624958928
  Casks/gemini.rb
Labels: bump-cask-pr

#108026 Update elmedia-player from 7.17,2353 to 8.0,2800
  Casks/elmedia-player.rb
Labels: bump-cask-pr

#108025 Update mambaforge from 4.10.1-4 to 4.10.2-0
  Casks/mambaforge.rb
Labels: bump-cask-pr

#108002 Update nova from 7 to 7.1
  Casks/nova.rb
Labels: bump-cask-pr

#108008 Update flutter from 2.2.2 to 2.2.3
  Casks/flutter.rb
Labels: bump-cask-pr

#108015 Update mmhmm from 1.4.2,1621610000 to 2.0.0,1622700000
  Casks/mmhmm.rb
Labels: bump-cask-pr

#108029 Update coscreen from 2.3.18 to 2.3.19
  Casks/coscreen.rb
Labels: bump-cask-pr

#108031 Update aptible from 0.18.2,20210609231132,241 to 0.18.3,20210702164907,243
  Casks/aptible.rb
Labels: bump-cask-pr

#108035 Update mongodb-compass from 1.27.0 to 1.27.1
  Casks/mongodb-compass.rb
Labels: bump-cask-pr

#108033 Update webstorm from 2021.1.2,211.7442.26 to 2021.1.3,211.7628.25
  Casks/webstorm.rb
Labels: bump-cask-pr

#108036 Update webull from 5.0.8_us to 5.1.1_us
  Casks/webull.rb
Labels: bump-cask-pr

#108049 Update modulair from 1.2.3 to 1.2.4
  Casks/modulair.rb
Labels: bump-cask-pr

#108048 Update joplin from 2.1.7 to 2.1.8
  Casks/joplin.rb
Labels: bump-cask-pr

#108047 Update launchcontrol from 1.52.2,1502 to 1.52.3,1509
  Casks/launchcontrol.rb
Labels: bump-cask-pr

#108050 add vial to github prerelease allowlist
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, awaiting maintainer feedback

#108010 Add Vial cask
  Casks/vial.rb
Labels: new cask

#108032 Update bettertouchtool from 3.565-1705 to 3.569-1709
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#108038 Update adobe-air from 33.1.1.476 to 33.1.1.533
  Casks/adobe-air.rb
Labels: bump-cask-pr

#108039 Update ajour from 1.2.0 to 1.2.1
  Casks/ajour.rb
Labels: bump-cask-pr

#108040 Update ammonite from 1.22,523 to 1.22.1,525
  Casks/ammonite.rb
Labels: bump-cask-pr

#108042 Update aleo-studio from 0.13.0 to 0.14.0
  Casks/aleo-studio.rb
Labels: bump-cask-pr

#108043 Update audiobook-builder from 2.1.3 to 2.1.4
  Casks/audiobook-builder.rb
Labels: bump-cask-pr

#108045 Update axe-edit-iii from 1.08.14 to 1.09.02
  Casks/axe-edit-iii.rb
Labels: bump-cask-pr

#108046 Update backuploupe from 3.4,2232 to 3.4.1,2237
  Casks/backuploupe.rb
Labels: bump-cask-pr

#108044 Update avast-secure-browser from 90.1.748.213 to 91.0.845.115
  Casks/avast-secure-browser.rb
Labels: bump-cask-pr

#108041 Update around from 0.48.15 to 0.52.11
  Casks/around.rb
Labels: bump-cask-pr

#108057 Update iina-plus from 0.5.17,21060717 to 0.5.18,21062711
  Casks/iina-plus.rb
Labels: bump-cask-pr

#108051 Update darktable from 3.4.1 to 3.6.0.3
  Casks/darktable.rb
Labels: bump-cask-pr

#108059 Update jumpcut from 0.74 to 0.75
  Casks/jumpcut.rb
Labels: bump-cask-pr

#108005 Add ARM version of Plexamp for Apple Silicon
  Casks/plexamp.rb
Labels: awaiting user reply

#108076 Update ivpn from 3.3.10 to 3.3.20
  Casks/ivpn.rb
Labels: bump-cask-pr

#108075 Update versions from 2.0.3,2006 to 2.0.4,2007
  Casks/versions.rb
Labels: bump-cask-pr

#108074 Update cardhop from 2.0.3,1036 to 2.0.4,1044
  Casks/cardhop.rb
Labels: bump-cask-pr

#108072 Update slite from 1.2.5 to 1.2.6
  Casks/slite.rb
Labels: bump-cask-pr

#108071 Update snowflake-snowsql from 1.2.15 to 1.2.16
  Casks/snowflake-snowsql.rb
Labels: bump-cask-pr

#108070 Update min from 1.19.2 to 1.20.0
  Casks/min.rb
Labels: bump-cask-pr

#108069 Update binance from 1.19.0 to 1.19.1
  Casks/binance.rb
Labels: bump-cask-pr

#108068 Update rotki from 1.17.1 to 1.18.1
  Casks/rotki.rb
Labels: bump-cask-pr

#108067 Update jcryptool from 1.0.5 to 1.0.6
  Casks/jcryptool.rb
Labels: bump-cask-pr

#108066 Update fellow from 1.0.33 to 1.0.34
  Casks/fellow.rb
Labels: bump-cask-pr

#108065 Update bunch from 1.4.0,111 to 1.4.1,112
  Casks/bunch.rb
Labels: bump-cask-pr

#108064 Update pitch from 1.30.0,1614780 to 1.33.1,1691766
  Casks/pitch.rb
Labels: bump-cask-pr

#108063 Update sirimote from 1.3.9,27 to 1.4,30
  Casks/sirimote.rb
Labels: bump-cask-pr

#108061 Update rectangle from 0.47,52 to 0.48
  Casks/rectangle.rb
Labels: bump-cask-pr

#107994 Rename terminus to tabby and update to 1.0.144
  Casks/tabby.rb
  Casks/terminus.rb
Labels: automerge-skip

#106950 Add cask for Final Fantasy XIV
  Casks/final-fantasy-xiv-online.rb
Labels: automerge-skip, new cask, stale

#108082 Update chromium from 896333 to 898457
  Casks/chromium.rb
Labels: bump-cask-pr

#108083 Update mubu from 3.4.0 to 3.6.0
  Casks/mubu.rb
Labels: bump-cask-pr

#108078 Update sound-siphon from 3.3.2 to 3.3.3
  Casks/sound-siphon.rb
Labels: bump-cask-pr

#108101 Update openmtp from 3.1.10 to 3.1.15
  Casks/openmtp.rb
Labels: bump-cask-pr

#108099 Update inav-configurator from 2.6.1 to 3.0.0
  Casks/inav-configurator.rb
Labels: bump-cask-pr

#108098 Update ilok-license-manager from 5.3.2,3151 to 5.3.3,3346
  Casks/ilok-license-manager.rb
Labels: bump-cask-pr
