Repository Homebrew/homebrew-cask, pull requests merged in 2021-10, with the labels that each got.

#111916 nosqlclient: remove
  Casks/nosqlclient.rb
Labels: automerge-skip, marked for removal/rejection

#111862 Update Lagrange to 1.7.0-1
  Casks/lagrange.rb
Labels: automerge-skip

#111919 Update krisp from 1.25.3 to 1.26.20
  Casks/krisp.rb
Labels: bump-cask-pr

#111920 Update stellarium from 0.21.1 to 0.21.2
  Casks/stellarium.rb
Labels: bump-cask-pr

#111922 Update ticktick from 4.0.05,188 to 4.0.11,193
  Casks/ticktick.rb
Labels: bump-cask-pr

#111877 Add Fig.app latest
  Casks/fig.rb
Labels: automerge-skip, new cask

#111918 Update sage from 9.4,1.2 to 9.4,1.2.1
  Casks/sage.rb
Labels: automerge-skip, bump-cask-pr

#111927 Update jupyterlab from 3.1.12-2 to 3.1.13-1
  Casks/jupyterlab.rb
Labels: bump-cask-pr

#111928 Update sage from 9.4,1.2.1 to 9.4,1.2.1
  Casks/sage.rb
Labels: bump-cask-pr

#111931 Update spotify from 1.1.68.632.g2b11de83,1.1.68.632.g2b11de83-21 to 1.1.69.612.gb7409abc,1.1.69.612.gb7409abc-16
  Casks/spotify.rb
Labels: bump-cask-pr

#111930 Update microsoft-edge from 94.0.992.31 to 94.0.992.37
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#111929 Add BespokeSynth v1.0.0
  Casks/bespoke.rb
Labels: new cask

#111934 Update smartgit from 21.1.1 to 21.1.2
  Casks/smartgit.rb
Labels: bump-cask-pr

#111937 Update displays from 1.9.9,116 to 1.9.10,120
  Casks/displays.rb
Labels: bump-cask-pr

#111939 Update coconutbattery from 3.9.5,51696b1c to 3.9.6,404cb123
  Casks/coconutbattery.rb
Labels: bump-cask-pr

#111941 Update electerm from 1.16.5 to 1.16.11
  Casks/electerm.rb
Labels: bump-cask-pr

#111942 Update scenebuilder from 16.0.0 to 17.0.0
  Casks/scenebuilder.rb
Labels: bump-cask-pr

#111940 Update electron from 15.0.0 to 15.1.0
  Casks/electron.rb
Labels: bump-cask-pr

#111955 Update tutanota from 3.88.3 to 3.88.4
  Casks/tutanota.rb
Labels: bump-cask-pr

#111952 Update wifispoof from 3.6.2 to 3.6.3
  Casks/wifispoof.rb
Labels: bump-cask-pr

#111951 Update browserosaurus from 15.1.3 to 15.2.1
  Casks/browserosaurus.rb
Labels: bump-cask-pr

#111948 Update keka from 1.2.17 to 1.2.18
  Casks/keka.rb
Labels: bump-cask-pr

#111959 Update drawio from 15.3.8 to 15.4.0
  Casks/drawio.rb
Labels: bump-cask-pr

#111958 Update vivaldi from 4.2.2406.52 to 4.2.2406.54
  Casks/vivaldi.rb
Labels: bump-cask-pr

#111956 Update maintenance from 2.7.9 to 2.8.0
  Casks/maintenance.rb
Labels: bump-cask-pr

#111954 Update postman from 8.11.1 to 8.12.4
  Casks/postman.rb
Labels: bump-cask-pr

#111947 Update lens from 5.2.4-latest.20210923.1 to 5.2.5-latest.20211001.1
  Casks/lens.rb
Labels: bump-cask-pr

#111938 Update duet from 2.3.3.3 to 2.3.3.6
  Casks/duet.rb
Labels: bump-cask-pr

#111960 Update lando from 3.3.2 to 3.4.1
  Casks/lando.rb
Labels: bump-cask-pr

#111961 Update deeper from 2.6.8 to 2.6.9
  Casks/deeper.rb
Labels: bump-cask-pr

#111933 Update unity from 2021.1.22f1,a137e5fb0427 to 2021.1.23f1,b50729e604a9
  Casks/unity.rb
Labels: bump-cask-pr

#111964 Update unity-linux-support-for-editor from 2021.1.22f1,a137e5fb0427 to 2021.1.23f1,b50729e604a9
  Casks/unity-linux-support-for-editor.rb
Labels: bump-cask-pr

#111965 Update unity-lumin-support-for-editor from 2021.1.22f1,a137e5fb0427 to 2021.1.23f1,b50729e604a9
  Casks/unity-lumin-support-for-editor.rb
Labels: bump-cask-pr

#111966 Update unity-webgl-support-for-editor from 2021.1.22f1,a137e5fb0427 to 2021.1.23f1,b50729e604a9
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#111962 Update unity-android-support-for-editor from 2021.1.22f1,a137e5fb0427 to 2021.1.23f1,b50729e604a9
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr

#111963 Update unity-ios-support-for-editor from 2021.1.22f1,a137e5fb0427 to 2021.1.23f1,b50729e604a9
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr

#111967 Update unity-windows-support-for-editor from 2021.1.22f1,a137e5fb0427 to 2021.1.23f1,b50729e604a9
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#111978 Update godot from 3.3.3 to 3.3.4
  Casks/godot.rb
Labels: bump-cask-pr

#111979 Update flipper from 0.112.0 to 0.113.0
  Casks/flipper.rb
Labels: bump-cask-pr

#111985 Update accordance from 13.3.0 to 13.3.1
  Casks/accordance.rb
Labels: bump-cask-pr

#111986 Update adobe-air from 33.1.1.575 to 33.1.1.633
  Casks/adobe-air.rb
Labels: bump-cask-pr

#111987 Update airdroid from 3.6.9.2 to 3.7.0.0
  Casks/airdroid.rb
Labels: bump-cask-pr

#111988 Update alfaview from 8.26.0 to 8.28.0
  Casks/alfaview.rb
Labels: bump-cask-pr

#111989 Update banktivity from 8.5 to 8.5.2
  Casks/banktivity.rb
Labels: bump-cask-pr

#111992 Update camtasia from 2021.0.4 to 2021.0.5
  Casks/camtasia.rb
Labels: bump-cask-pr

#111993 Update cloudash from 1.1.1 to 1.1.2
  Casks/cloudash.rb
Labels: bump-cask-pr

#111994 Update linear-linear from 1.4.0 to 1.5.1
  Casks/linear-linear.rb
Labels: bump-cask-pr

#111996 Update netxms-console from 3.9.176 to 3.9.280
  Casks/netxms-console.rb
Labels: bump-cask-pr

#111998 Update deezer from 5.30.60 to 5.30.70
  Casks/deezer.rb
Labels: bump-cask-pr

#112000 Update backuploupe from 3.4.1,2237 to 3.5,2255
  Casks/backuploupe.rb
Labels: bump-cask-pr

#112001 Update marsedit from 4.5.3,9721 to 4.5.5,9750
  Casks/marsedit.rb
Labels: bump-cask-pr

#112002 Update qt-creator from 5.0.1 to 5.0.2
  Casks/qt-creator.rb
Labels: bump-cask-pr

#112004 Update selfcontrol from 3.0.3 to 4.0
  Casks/selfcontrol.rb
Labels: bump-cask-pr

#112005 Update tower from 7.0,290:51eb1327 to 7.1,292:e15f8307
  Casks/tower.rb
Labels: bump-cask-pr

#112006 Update bibdesk from 1.8.5,5718 to 1.8.6,5732
  Casks/bibdesk.rb
Labels: bump-cask-pr

#112007 Update ltspice from 17.0.36 to 17.0.37
  Casks/ltspice.rb
Labels: bump-cask-pr

#112009 Update whatsapp from 2.2136.10 to 2.2138.13
  Casks/whatsapp.rb
Labels: bump-cask-pr

#112008 Update godot-mono from 3.3.3 to 3.3.4
  Casks/godot-mono.rb
Labels: bump-cask-pr

#112011 Update burp-suite from 2021.8.3 to 2021.8.4
  Casks/burp-suite.rb
Labels: bump-cask-pr

#112013 Update 8x8-work from 7.9.4-2 to 7.11.4-3
  Casks/8x8-work.rb
Labels: bump-cask-pr

#112015 Update beeper from 2.0.26 to 2.5.6
  Casks/beeper.rb
Labels: bump-cask-pr

#112016 Update berrycast from 0.34.8 to 0.34.10
  Casks/berrycast.rb
Labels: bump-cask-pr

#112017 Update big-mean-folder-machine from 2.42 to 2.43
  Casks/big-mean-folder-machine.rb
Labels: bump-cask-pr

#112018 Update bigsur-cache-cleaner from 16.1.6 to 16.1.7
  Casks/bigsur-cache-cleaner.rb
Labels: bump-cask-pr

#112019 Update binance from 1.23.0 to 1.24.2
  Casks/binance.rb
Labels: bump-cask-pr

#112023 Update now-tv-player from 8.5.1 to 8.7.0
  Casks/now-tv-player.rb
Labels: bump-cask-pr

#112022 Update nudge from 1.1.0.08262021142007 to 1.1.1.09202021202238
  Casks/nudge.rb
Labels: bump-cask-pr

#112020 Update chrysalis from 0.8.5 to 0.8.6
  Casks/chrysalis.rb
Labels: bump-cask-pr

#112021 Update nwjs from 0.56.0 to 0.57.0
  Casks/nwjs.rb
Labels: bump-cask-pr

#112027 Update copyq from 4.1.0 to 5.0.0
  Casks/copyq.rb
Labels: bump-cask-pr

#112028 Update atext from 2.38.5,112 to 2.39,113
  Casks/atext.rb
Labels: bump-cask-pr

#112029 Update webcatalog from 37.3.0 to 37.3.1
  Casks/webcatalog.rb
Labels: bump-cask-pr

#112030 Update spatterlight from 0.8.7 to 0.8.8
  Casks/spatterlight.rb
Labels: bump-cask-pr

#112032 Update wowup from 2.4.5 to 2.4.6
  Casks/wowup.rb
Labels: bump-cask-pr

#112039 Update raven-reader from 1.0.66 to 1.0.67
  Casks/raven-reader.rb
Labels: bump-cask-pr

#112040 Update stats from 2.6.12 to 2.6.13
  Casks/stats.rb
Labels: bump-cask-pr

#112038 Update lens from 5.2.5-latest.20211001.1 to 5.2.5-latest.20211001.2
  Casks/lens.rb
Labels: bump-cask-pr

#112037 Update openlp from 2.9.2 to 2.9.3
  Casks/openlp.rb
Labels: bump-cask-pr

#112036 Update onlyoffice from 6.3.1 to 6.4.1
  Casks/onlyoffice.rb
Labels: bump-cask-pr

#112035 Update handbrake from 1.4.1 to 1.4.2
  Casks/handbrake.rb
Labels: bump-cask-pr

#111990 Update accurics from 1.0.24 to 1.0.25
  Casks/accurics.rb
Labels: bump-cask-pr

#112014 Update badlion-client from 3.3.2 to 3.4.0
  Casks/badlion-client.rb
Labels: bump-cask-pr

#112043 Update operadriver from 92.0.4515.107 to 93.0.4577.63
  Casks/operadriver.rb
Labels: bump-cask-pr

#112003 Update loginputmac from 2.4.8,23601 to 2.4.9,23712
  Casks/loginputmac.rb
Labels: bump-cask-pr

#112055 Update flutter from 2.5.1 to 2.5.2
  Casks/flutter.rb
Labels: bump-cask-pr

#112056 Update jasp from 0.15.0.0 to 0.15.0.1
  Casks/jasp.rb
Labels: bump-cask-pr

#112062 improve arm64 logic/duplicate code in openjdk casks
  Casks/corretto.rb
  Casks/microsoft-openjdk.rb
  Casks/sapmachine-jdk.rb
  Casks/zulu.rb
  Casks/zulufx.rb
Labels: automerge-skip

#112050 Add PlistEDPlus.app v1.0.64
  Casks/plistedplus.rb
Labels: automerge-skip, new cask

#112064 Update datagrip from 2021.2.2,212.5284.17 to 2021.2.3,212.5457.16
  Casks/datagrip.rb
Labels: bump-cask-pr

#112065 Update xampp from 8.0.10-0 to 8.0.11-0
  Casks/xampp.rb
Labels: bump-cask-pr

#112073 Update mimestream from 0.29.1 to 0.29.2
  Casks/mimestream.rb
Labels: bump-cask-pr

#112074 Update clashx from 1.70.0 to 1.70.1
  Casks/clashx.rb
Labels: bump-cask-pr

#112075 Update tencent-lemon from 4.9.1 to 5.0.0
  Casks/tencent-lemon.rb
Labels: bump-cask-pr

#112069 Update seadrive from 2.0.16 to 2.0.17
  Casks/seadrive.rb
Labels: bump-cask-pr

#112068 Update cisco-jabber from 20210603033139 to 20210902045804
  Casks/cisco-jabber.rb
Labels: bump-cask-pr

#112082 Update anka-build-cloud-registry from 1.18.0-04fd94e to 1.19.0-76bca3a
  Casks/anka-build-cloud-registry.rb
Labels: bump-cask-pr

#112081 Update anka-build-cloud-controller-and-registry from 1.18.0-b3bb21bf to 1.19.0-7c1c1424
  Casks/anka-build-cloud-controller-and-registry.rb
Labels: bump-cask-pr

#112067 Update futubull from 11.10.1508,202109161741 to 11.10.1518,202109271021
  Casks/futubull.rb
Labels: bump-cask-pr

#112086 Update xnviewmp from 0.98.4 to 0.99.1
  Casks/xnviewmp.rb
Labels: bump-cask-pr

#112087 Update obs from 27.1 to 27.1.3
  Casks/obs.rb
Labels: bump-cask-pr

#112088 Update steam from 2.0 to 4.0
  Casks/steam.rb
Labels: bump-cask-pr

#112089 Update signal from 5.18.0 to 5.18.1
  Casks/signal.rb
Labels: bump-cask-pr

#112090 Update linear-linear from 1.5.1 to 1.5.2
  Casks/linear-linear.rb
Labels: bump-cask-pr

#112092 Update jgrennison-openttd from 0.42.3 to 0.43.1
  Casks/jgrennison-openttd.rb
Labels: bump-cask-pr

#112095 Update qownnotes from 21.9.13 to 21.10.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#112097 Update balsamiq-wireframes from 4.3.2 to 4.3.2
  Casks/balsamiq-wireframes.rb
Labels: bump-cask-pr

#112076 Update feishu from 4.9.5,5a774e to 4.9.6,53c059
  Casks/feishu.rb
Labels: awaiting maintainer feedback, bump-cask-pr

#112099 Update 1password-cli from 1.11.4 to 1.12.1
  Casks/1password-cli.rb
Labels: bump-cask-pr

#112098 Update 1password from 7.8.7 to 7.8.8
  Casks/1password.rb
Labels: bump-cask-pr

#112100 Update p4 from 2021.1,2156517 to 2021.1,2179737
  Casks/p4.rb
Labels: bump-cask-pr

#112104 Update permute from 3.6.9,2445 to 3.7,2505
  Casks/permute.rb
Labels: bump-cask-pr

#112106 Update fing from 2.6.0 to 2.7.0
  Casks/fing.rb
Labels: bump-cask-pr

#112107 Update fontbase from 2.16.6 to 2.16.8
  Casks/fontbase.rb
Labels: bump-cask-pr

#112105 Update downie from 4.3.3,4279 to 4.3.4,4283
  Casks/downie.rb
Labels: bump-cask-pr

#112118 Update spatterlight from 0.8.8 to 0.8.9
  Casks/spatterlight.rb
Labels: bump-cask-pr

#112120 Update ipfs from 0.16.3 to 0.17.0
  Casks/ipfs.rb
Labels: bump-cask-pr

#112122 Update opera from 79.0.4143.72 to 80.0.4170.16
  Casks/opera.rb
Labels: bump-cask-pr

#112115 Update pagico from 9.10,20210723 to 10.0,20211005
  Casks/pagico.rb
Labels: bump-cask-pr

#112123 Update epic-games from 12.2.17 to 13.0.0
  Casks/epic-games.rb
Labels: bump-cask-pr

#112124 Update opencore-configurator from 2.50.0.0 to 2.51.0.0
  Casks/opencore-configurator.rb
Labels: bump-cask-pr

#112126 Update onedrive from 21.160.0808.0002 to 21.180.0905.0007
  Casks/onedrive.rb
Labels: bump-cask-pr

#112125 Update lando from 3.4.1 to 3.4.2
  Casks/lando.rb
Labels: bump-cask-pr

#112129 Update telegram from 8.1.2,222017 to 8.1.3,222037
  Casks/telegram.rb
Labels: bump-cask-pr

#112130 Update 1password-cli from 1.12.1 to 1.12.2
  Casks/1password-cli.rb
Labels: bump-cask-pr

#112133 Update midiview from 1.1.0 to 1.1.1
  Casks/midiview.rb
Labels: bump-cask-pr

#112085 TeamViewer: fix path to installer package
  Casks/teamviewer.rb
Labels: awaiting maintainer feedback, automerge-skip

#112094 New cask google-chat-electron
  Casks/google-chat-electron.rb
Labels: awaiting maintainer feedback, automerge-skip, new cask

#112139 Update messenger from 124.4.118,320336894 to 125.4.118,323069848
  Casks/messenger.rb
Labels: bump-cask-pr

#112146 Update clashx from 1.70.1 to 1.71.0
  Casks/clashx.rb
Labels: bump-cask-pr

#112147 Update astah-uml from 8.4.0,8fdff6 to 8.4.1,827bdf
  Casks/astah-uml.rb
Labels: bump-cask-pr

#112148 Update biscuit from 1.2.23 to 1.2.24
  Casks/biscuit.rb
Labels: bump-cask-pr

#112152 Update chia from 1.2.7 to 1.2.9
  Casks/chia.rb
Labels: bump-cask-pr

#112150 Update breaktimer from 0.9.0 to 1.0.0
  Casks/breaktimer.rb
Labels: bump-cask-pr

#112151 Update butler from 4.4.3,5114 to 4.4.4,5115
  Casks/butler.rb
Labels: bump-cask-pr

#112153 Update dmidiplayer from 1.5.0 to 1.5.1
  Casks/dmidiplayer.rb
Labels: bump-cask-pr

#112156 Update grisbi from 2.0.4 to 2.0.5
  Casks/grisbi.rb
Labels: bump-cask-pr

#112158 Update geogebra from 6.0.662.0 to 6.0.668.0
  Casks/geogebra.rb
Labels: bump-cask-pr

#112159 Update blisk from 16.0.79.98 to 16.1.94.111
  Casks/blisk.rb
Labels: bump-cask-pr

#112160 Update guilded from 1.0.9105465 to 1.0.9109710
  Casks/guilded.rb
Labels: bump-cask-pr

#112162 Update insync from 3.5.3.50123 to 3.5.4.50130
  Casks/insync.rb
Labels: bump-cask-pr

#112163 Update jami from 202106011308 to 202110012216
  Casks/jami.rb
Labels: bump-cask-pr

#112164 Update maestral from 1.4.8 to 1.5.0
  Casks/maestral.rb
Labels: bump-cask-pr

#112166 Update marvin from 1.60.2 to 1.61.0
  Casks/marvin.rb
Labels: bump-cask-pr

#112167 Update lx-music from 1.13.0 to 1.14.1
  Casks/lx-music.rb
Labels: bump-cask-pr

#112168 Update mqttx from 1.6.0 to 1.6.1
  Casks/mqttx.rb
Labels: bump-cask-pr

#112173 Update pycharm-edu from 2021.2,212.4746.137 to 2021.2.2,212.5284.55
  Casks/pycharm-edu.rb
Labels: bump-cask-pr

#112175 Update remote-desktop-manager from 2021.1.10.0 to 2021.2.3.0
  Casks/remote-desktop-manager.rb
Labels: bump-cask-pr

#112176 Update retroarch from 1.9.9 to 1.9.10
  Casks/retroarch.rb
Labels: bump-cask-pr

#112177 Update rotki from 1.20.1 to 1.21.0
  Casks/rotki.rb
Labels: bump-cask-pr

#112178 Update sejda-pdf from 7.3.4 to 7.3.6
  Casks/sejda-pdf.rb
Labels: bump-cask-pr
