Repository Homebrew/homebrew-cask, pull requests merged in 2021-09, with the labels that each got.

#110866 Update insomnia from 2021.5.1 to 2021.5.2
  Casks/insomnia.rb
Labels: bump-cask-pr

#110864 Update google-chrome from 92.0.4515.159 to 93.0.4577.63
  Casks/google-chrome.rb
Labels: bump-cask-pr

#110862 Update telegram from 7.9,220098 to 8.0,220921
  Casks/telegram.rb
Labels: bump-cask-pr

#110858 Update brave-browser from 1.28.106.0,128.106 to 1.29.76.0,129.76
  Casks/brave-browser.rb
Labels: bump-cask-pr

#110857 Update docker
  Casks/docker.rb
Labels: bump-cask-pr

#110860 Update mimestream from 0.26.2 to 0.27.0
  Casks/mimestream.rb
Labels: bump-cask-pr

#110859 Update jump from 8.7.15,80715 to 8.8.16,80816
  Casks/jump.rb
Labels: bump-cask-pr

#110855 Update element from 1.8.1 to 1.8.2
  Casks/element.rb
Labels: bump-cask-pr

#110852 aqua-data-studio 22.0.1
  Casks/aqua-data-studio.rb
Labels: bump-cask-pr

#110870 Update telegram from 8.0,220921 to 8.0,220922
  Casks/telegram.rb
Labels: bump-cask-pr

#110869 Update grammarly from 1.5.76 to 1.5.77
  Casks/grammarly.rb
Labels: bump-cask-pr

#110868 Update resolume-arena from 7.4.1,76771 to 7.5.0,77960
  Casks/resolume-arena.rb
Labels: bump-cask-pr

#110853 Update jedit-omega from 2.40 to 2.41
  Casks/jedit-omega.rb
Labels: bump-cask-pr

#110743 Update edrawmax language and app name
  Casks/wondershare-edrawmax.rb
Labels: automerge-skip

#110871 Update telegram-desktop from 2.9.3 to 3.0.0
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#110873 Update whatsapp from 2.2132.6 to 2.2134.9
  Casks/whatsapp.rb
Labels: bump-cask-pr

#110874 Update malwarebytes from 4.12.9.4367 to 4.13.2.4408
  Casks/malwarebytes.rb
Labels: bump-cask-pr

#110875 Update sketch from 75,129697 to 76,130267
  Casks/sketch.rb
Labels: bump-cask-pr

#110876 Update docker from 3.6.0,67351 to 4.0.0,67817
  Casks/docker.rb
Labels: awaiting maintainer feedback, bump-cask-pr

#110878 smplayer 21.8.0 (new cask)
  Casks/smplayer.rb
Labels: new cask

#110880 Update github from 2.9.2-bba02989 to 2.9.3-2c86f4d1
  Casks/github.rb
Labels: bump-cask-pr

#110881 Update cakebrewjs from 0.1.35 to 0.1.36
  Casks/cakebrewjs.rb
Labels: bump-cask-pr

#110882 Update cakebrewjs from 0.1.36 to 0.1.37
  Casks/cakebrewjs.rb
Labels: bump-cask-pr

#110693 tcl: remove
  Casks/tcl.rb
Labels: awaiting maintainer feedback, marked for removal/rejection

#110883 Update blender from 2.93.3 to 2.93.4
  Casks/blender.rb
Labels: bump-cask-pr

#110891 Update whatsapp from 2.2134.9 to 2.2134.10
  Casks/whatsapp.rb
Labels: bump-cask-pr

#110889 Update cakebrewjs from 0.1.37 to 0.1.38
  Casks/cakebrewjs.rb
Labels: bump-cask-pr

#110893 Update local from 6.1.1,5468 to 6.1.2,5473
  Casks/local.rb
Labels: bump-cask-pr

#110894 Update monitorcontrol from 3.0.0-rc1 to 3.0.0-rc2
  Casks/monitorcontrol.rb
Labels: bump-cask-pr

#110863 Add Keyman 14.0.280 (new cask)
  Casks/keyman.rb
Labels: new cask

#110895 Update android-studio from 2020.3.1.23 to 2020.3.1.24
  Casks/android-studio.rb
Labels: bump-cask-pr

#110896 Update snowflake-snowsql from 1.2.16 to 1.2.17
  Casks/snowflake-snowsql.rb
Labels: bump-cask-pr

#110897 Update metasploit from 6.1.2,20210821102830 to 6.1.3,20210901102752
  Casks/metasploit.rb
Labels: bump-cask-pr

#110898 Update wireshark-chmodbpf from 3.4.7 to 3.4.8
  Casks/wireshark-chmodbpf.rb
Labels: bump-cask-pr

#110899 Update nvidia-geforce-now from 2.0.33.112 to 2.0.33.123
  Casks/nvidia-geforce-now.rb
Labels: bump-cask-pr

#110900 Update mimestream from 0.27.0 to 0.27.1
  Casks/mimestream.rb
Labels: bump-cask-pr

#110902 Update audius from 0.24.27 to 0.24.28
  Casks/audius.rb
Labels: bump-cask-pr

#110872 Update wechat from 3.1.5.19,18846 to 3.2.0.18,19417
  Casks/wechat.rb
Labels: bump-cask-pr

#110903 Update lightkey from 3.7.2 to 3.7.3
  Casks/lightkey.rb
Labels: bump-cask-pr

#110905 Update flipper from 0.104.0 to 0.105.0
  Casks/flipper.rb
Labels: bump-cask-pr

#110907 Update telegram-desktop from 3.0.0 to 3.0.1
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#110910 Update wechatwork from 3.1.12.90288 to 3.1.15.90292
  Casks/wechatwork.rb
Labels: bump-cask-pr

#110913 Update logseq from 0.3.6 to 0.3.7
  Casks/logseq.rb
Labels: bump-cask-pr

#110914 Update tutanota from 3.86.3 to 3.87.1
  Casks/tutanota.rb
Labels: bump-cask-pr

#110901 Create flacon.rb
  Casks/flacon.rb
Labels: new cask

#110917 Update datagrip from 2021.2.1,212.5080.22 to 2021.2.2,212.5284.17
  Casks/datagrip.rb
Labels: bump-cask-pr

#110916 Update standard-notes from 3.8.18 to 3.8.21
  Casks/standard-notes.rb
Labels: bump-cask-pr

#110918 Update dropbox from 129.4.3571 to 130.4.4978
  Casks/dropbox.rb
Labels: bump-cask-pr

#110919 Update spyder from 5.1.1 to 5.1.2
  Casks/spyder.rb
Labels: bump-cask-pr

#110920 Update thunder from 4.1.0.59970 to 4.0.3.31366
  Casks/thunder.rb
Labels: bump-cask-pr

#110921 Update permute from 3.6.7,2433 to 3.6.8,2438
  Casks/permute.rb
Labels: bump-cask-pr

#110923 Update 1password-cli from 1.11.3 to 1.11.4
  Casks/1password-cli.rb
Labels: bump-cask-pr

#110925 Update telegram from 8.0,220922 to 8.0,220932
  Casks/telegram.rb
Labels: bump-cask-pr

#110927 Update qownnotes from 21.8.12 to 21.9.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#110928 Update ssh-config-editor from 2.3,88 to 2.3.1,89
  Casks/ssh-config-editor.rb
Labels: bump-cask-pr

#110929 Update visual-studio-code from 1.59.1 to 1.60.0
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#110930 Update deezer from 5.30.40 to 5.30.50
  Casks/deezer.rb
Labels: bump-cask-pr

#110932 Update cleanmymac from 4.8.7,40807.0.2108251533 to 4.8.8,40808.0.2109011504
  Casks/cleanmymac.rb
Labels: bump-cask-pr

#110933 Update obsidian from 0.12.12 to 0.12.15
  Casks/obsidian.rb
Labels: bump-cask-pr

#110934 Update fission from 2.7.0 to 2.7.1
  Casks/fission.rb
Labels: bump-cask-pr

#110935 Update marsedit from 4.4.13,9552 to 4.5,9665
  Casks/marsedit.rb
Labels: bump-cask-pr

#110936 Update cacher from 2.42.2 to 2.42.4
  Casks/cacher.rb
Labels: bump-cask-pr

#110937 Update signal from 5.15.0 to 5.16.0
  Casks/signal.rb
Labels: bump-cask-pr

#110938 Update microsoft-edge from 92.0.902.84 to 93.0.961.38
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#110939 Update metasploit from 6.1.3,20210901102752 to 6.1.3,20210902103028
  Casks/metasploit.rb
Labels: bump-cask-pr

#110940 Update etrecheckpro from 6.5.1 to 6.5.2
  Casks/etrecheckpro.rb
Labels: bump-cask-pr

#110941 Update ticktick from 4.0.00,184 to 4.0.05,188
  Casks/ticktick.rb
Labels: bump-cask-pr

#110944 Update hstracker from 1.9.12 to 1.9.13
  Casks/hstracker.rb
Labels: bump-cask-pr

#110945 Update sage from 9.4,1.2 to 9.4,1.2
  Casks/sage.rb
Labels: bump-cask-pr

#110951 Delete rcloneosx.rb
  Casks/rcloneosx.rb
Labels: marked for removal/rejection

#110949 Update lunar from 4.8.3 to 4.8.4
  Casks/lunar.rb
Labels: bump-cask-pr

#110948 Update texmaker from 5.1.1 to 5.1.2
  Casks/texmaker.rb
Labels: bump-cask-pr

#110947 Update spotify from 1.1.66.580.gbd43cbc9,1.1.66.580.gbd43cbc9-18 to 1.1.67.586.gbb5ef64e,1.1.67.586.gbb5ef64e-22
  Casks/spotify.rb
Labels: bump-cask-pr

#110884 Update and rename pdfelement.rb to wondershare-pdfelement.rb
  Casks/pdfelement.rb
Labels: automerge-skip

#110952 Update netron from 5.1.6 to 5.1.7
  Casks/netron.rb
Labels: bump-cask-pr

#110953 Update cinderella from 3.0b.2028 to 3.0b.2035
  Casks/cinderella.rb
Labels: bump-cask-pr

#110954 Update marsedit from 4.5,9665 to 4.5.1,9675
  Casks/marsedit.rb
Labels: bump-cask-pr

#110955 Update electron from 13.2.3 to 14.0.0
  Casks/electron.rb
Labels: bump-cask-pr

#110957 Update lockrattler from 4.30,2020.11 to 4.31,2021.09
  Casks/lockrattler.rb
Labels: bump-cask-pr

#110959 Update karabiner-elements from 13.5.0 to 13.6.0
  Casks/karabiner-elements.rb
Labels: bump-cask-pr

#110960 Update brave-browser from 1.29.76.0,129.76 to 1.29.77.0,129.77
  Casks/brave-browser.rb
Labels: bump-cask-pr

#110962 Update mweb-pro from 4.1.6 to 4.1.8
  Casks/mweb-pro.rb
Labels: bump-cask-pr

#110956 Update tyme from 2021.11,3571 to 2021.12,3583
  Casks/tyme.rb
Labels: bump-cask-pr

#110963 Update reaper from 6.35 to 6.36
  Casks/reaper.rb
Labels: bump-cask-pr

#110964 Update c0re100-qbittorrent from 4.3.7.10 to 4.3.8.10
  Casks/c0re100-qbittorrent.rb
Labels: bump-cask-pr

#110965 Update nextcloud from 3.3.2 to 3.3.3
  Casks/nextcloud.rb
Labels: bump-cask-pr

#110961 Update wechat from 3.2.0.18,19417 to 3.2.0.19,19439
  Casks/wechat.rb
Labels: bump-cask-pr

#110967 Update gearsystem from 3.4.0 to 3.4.1
  Casks/gearsystem.rb
Labels: bump-cask-pr

#110974 Update a-better-finder-rename from 11.36 to 11.37
  Casks/a-better-finder-rename.rb
Labels: bump-cask-pr

#110975 Update medibangpaintpro from 26.2 to 27.0
  Casks/medibangpaintpro.rb
Labels: bump-cask-pr

#110976 Update lingon-x from 8.3 to 8.3.1
  Casks/lingon-x.rb
Labels: bump-cask-pr

#110977 Update yinxiangbiji from 9.5.8_464371 to 9.5.9_464486
  Casks/yinxiangbiji.rb
Labels: bump-cask-pr

#110981 Update mailtrackerblocker from 0.4.10 to 0.4.11
  Casks/mailtrackerblocker.rb
Labels: bump-cask-pr

#110979 Update foxglove-studio from 0.16.0 to 0.17.0
  Casks/foxglove-studio.rb
Labels: bump-cask-pr

#110982 Update midi-router-client from 1.2.5 to 1.2.6
  Casks/midi-router-client.rb
Labels: bump-cask-pr

#110989 Update ibackup-viewer from 4.2220 to 4.2300
  Casks/ibackup-viewer.rb
Labels: bump-cask-pr

#110983 Update sketch from 76,130267 to 76.1,130273
  Casks/sketch.rb
Labels: bump-cask-pr

#110984 Update spyder from 5.1.2 to 5.1.3
  Casks/spyder.rb
Labels: bump-cask-pr

#110985 Update xampp from 8.0.9-0 to 8.0.10-0
  Casks/xampp.rb
Labels: bump-cask-pr

#110986 Update metasploit from 6.1.3,20210902103028 to 6.1.5,20210904103056
  Casks/metasploit.rb
Labels: bump-cask-pr

#110987 Update maccy from 0.21.0,7 to 0.21.1,8
  Casks/maccy.rb
Labels: bump-cask-pr

#110988 Update chef-workstation from 21.8.555 to 21.9.613
  Casks/chef-workstation.rb
Labels: bump-cask-pr

#110973 Update multipatch from 1.8 to 2.0
  Casks/multipatch.rb
Labels: bump-cask-pr

#110992 Update freetube from 0.13.2 to 0.14.0
  Casks/freetube.rb
Labels: bump-cask-pr

#110990 Update jedit-omega from 2.41 to 2.42
  Casks/jedit-omega.rb
Labels: bump-cask-pr

#110995 Update chromium from 916214 to 918450
  Casks/chromium.rb
Labels: bump-cask-pr

#110997 Update stats from 2.6.7 to 2.6.8
  Casks/stats.rb
Labels: bump-cask-pr

#110998 Update netnewswire from 6.0.2 to 6.0.3
  Casks/netnewswire.rb
Labels: bump-cask-pr

#110999 Update unity from 2021.1.18f1,25bdc3efbc2d to 2021.1.19f1,5f5eb8bbdc25
  Casks/unity.rb
Labels: bump-cask-pr

#111000 Update unity-windows-support-for-editor from 2021.1.18f1,25bdc3efbc2d to 2021.1.19f1,5f5eb8bbdc25
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#111001 Update unity-linux-support-for-editor from 2021.1.18f1,25bdc3efbc2d to 2021.1.19f1,5f5eb8bbdc25
  Casks/unity-linux-support-for-editor.rb
Labels: bump-cask-pr

#111002 Update unity-lumin-support-for-editor from 2021.1.18f1,25bdc3efbc2d to 2021.1.19f1,5f5eb8bbdc25
  Casks/unity-lumin-support-for-editor.rb
Labels: bump-cask-pr

#111003 Update unity-android-support-for-editor from 2021.1.18f1,25bdc3efbc2d to 2021.1.19f1,5f5eb8bbdc25
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr

#111004 Update unity-ios-support-for-editor from 2021.1.18f1,25bdc3efbc2d to 2021.1.19f1,5f5eb8bbdc25
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr

#111005 Update unity-webgl-support-for-editor from 2021.1.18f1,25bdc3efbc2d to 2021.1.19f1,5f5eb8bbdc25
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#111007 reaper: add auto_updates
  Casks/reaper.rb
Labels: bump-cask-pr

#111008 Update yuque from 0.9.22 to 0.9.25
  Casks/yuque.rb
Labels: bump-cask-pr

#111012 Update drivethrurpg from 3.1.5.0 to 3.1.6.0
  Casks/drivethrurpg.rb
Labels: bump-cask-pr

#111013 Update blobsaver from 3.0.1 to 3.0.2
  Casks/blobsaver.rb
Labels: bump-cask-pr

#111014 Update postman from 8.11.1 to 8.12.1
  Casks/postman.rb
Labels: bump-cask-pr

#111017 Update karabiner-elements from 13.6.0 to 13.7.0
  Casks/karabiner-elements.rb
Labels: bump-cask-pr

#111024 Update robo-3t from 1.4.3,48f7dfd to 1.4.4,e6ac9ec
  Casks/robo-3t.rb
Labels: bump-cask-pr

#111023 Update stats from 2.6.8 to 2.6.9
  Casks/stats.rb
Labels: bump-cask-pr

#111019 Update retroarch from 1.9.8 to 1.9.9
  Casks/retroarch.rb
Labels: bump-cask-pr

#111018 Update retroarch-metal from 1.9.8 to 1.9.9
  Casks/retroarch-metal.rb
Labels: bump-cask-pr

#111021 Update qingg from 2.9 to 2.10
  Casks/qingg.rb
Labels: automerge-skip

#111025 Update arduino from 1.8.15 to 1.8.16
  Casks/arduino.rb
Labels: bump-cask-pr

#111026 Update expressvpn from 10.4.0.61 to 10.5.0.17
  Casks/expressvpn.rb
Labels: bump-cask-pr

#111027 Update rocket-chat from 3.4.0 to 3.5.0
  Casks/rocket-chat.rb
Labels: bump-cask-pr

#111028 Update vscodium from 1.59.1 to 1.60.0
  Casks/vscodium.rb
Labels: bump-cask-pr

#111015 Update openzfs from 2.0.1 to 2.1.0
  Casks/openzfs.rb
Labels: ci-skip-install

#111020 Add Archi.app v4.8.1
  Casks/archi.rb
Labels: new cask

#111022 new cask: far2l v2.3.210630
  Casks/far2l.rb
Labels: new cask

#111029 Update 4k-video-downloader from 4.17.1 to 4.17.2
  Casks/4k-video-downloader.rb
Labels: bump-cask-pr

#111030 Update acorn from 7.0.3,15840 to 7.1,15921
  Casks/acorn.rb
Labels: bump-cask-pr

#111031 Update baidunetdisk from 3.9.5 to 3.10.0
  Casks/baidunetdisk.rb
Labels: bump-cask-pr

#111032 Update cryptomator from 1.5.15 to 1.5.17
  Casks/cryptomator.rb
Labels: bump-cask-pr

#111033 Update clash-for-windows from 0.17.2 to 0.17.3
  Casks/clash-for-windows.rb
Labels: bump-cask-pr

#111034 Update electronmail from 4.12.5 to 4.12.7
  Casks/electronmail.rb
Labels: bump-cask-pr

#111035 Update free-download-manager from 6.15.1 to 6.15.2
  Casks/free-download-manager.rb
Labels: bump-cask-pr

#111036 Update feishu from 4.7.11,360c5a to 4.8.3,19e5df
  Casks/feishu.rb
Labels: bump-cask-pr

#111037 Update ivpn from 3.3.20 to 3.3.30
  Casks/ivpn.rb
Labels: bump-cask-pr

#111038 Update mailspring from 1.9.1 to 1.9.2
  Casks/mailspring.rb
Labels: bump-cask-pr

#111039 Update lx-music from 1.12.2 to 1.13.0
  Casks/lx-music.rb
Labels: bump-cask-pr

#111040 Update mendeley-reference-manager from 2.55.0 to 2.56.1
  Casks/mendeley-reference-manager.rb
Labels: bump-cask-pr

#111041 Update mochi from 1.11.18 to 1.11.19
  Casks/mochi.rb
Labels: bump-cask-pr

#111042 Update nwjs from 0.55.0 to 0.56.0
  Casks/nwjs.rb
Labels: bump-cask-pr

#111043 Update qownnotes from 21.9.0 to 21.9.1
  Casks/qownnotes.rb
Labels: bump-cask-pr

#111044 Update quakespasm from 0.93.2 to 0.94.1
  Casks/quakespasm.rb
Labels: bump-cask-pr

#111045 Update sensei from 1.4.11,94 to 1.4.12,95
  Casks/sensei.rb
Labels: bump-cask-pr
