Repository Homebrew/homebrew-cask, pull requests merged in 2022-10, with the labels that each got.

#132565 Update chrysalis from 0.11.4 to 0.11.5
  Casks/chrysalis.rb
Labels: bump-cask-pr

#132608 Update zotero from 6.0.14 to 6.0.15
  Casks/zotero.rb
Labels: bump-cask-pr

#132609 Update bettertouchtool from 3.877 to 3.880
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#132611 marathon/marathon2/marathon-infinity: Fix livecheck
  Casks/marathon-infinity.rb
  Casks/marathon.rb
  Casks/marathon2.rb
Labels: automerge-skip

#132666 Update unity-webgl-support-for-editor from 2022.1.17f1 to 2022.1.18f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#132696 Update obs from 28.0.2 to 28.0.3
  Casks/obs.rb
Labels: bump-cask-pr

#132693 Update mos from 3.3.2 to 3.4.0
  Casks/mos.rb
Labels: bump-cask-pr

#132691 Update accurics from 1.0.41 to 1.0.42
  Casks/accurics.rb
Labels: bump-cask-pr

#132676 Update megasync from 4.7.0 to 4.7.1
  Casks/megasync.rb
Labels: bump-cask-pr

#132679 Update metasploit from 6.2.21,20220930102901 to 6.2.21,20221001102952
  Casks/metasploit.rb
Labels: bump-cask-pr

#132682 Update apifox from 2.1.37 to 2.1.38
  Casks/apifox.rb
Labels: bump-cask-pr

#132683 Update arq from 7.19.5 to 7.19.6
  Casks/arq.rb
Labels: bump-cask-pr

#132684 Update brave-browser from 1.44.101.0 to 1.44.105.0
  Casks/brave-browser.rb
Labels: bump-cask-pr

#132686 Update chromium-gost from 106.0.5249.62 to 106.0.5249.91
  Casks/chromium-gost.rb
Labels: bump-cask-pr

#132687 Update cloudflare-warp from 2022.8.861.0 to 2022.9.384.0
  Casks/cloudflare-warp.rb
Labels: bump-cask-pr

#132688 Update coteditor from 4.3.5 to 4.3.6
  Casks/coteditor.rb
Labels: bump-cask-pr

#132689 Update elephicon from 2.1.2 to 2.1.3
  Casks/elephicon.rb
Labels: bump-cask-pr

#132690 Update ff-works from 3.2.2 to 3.2.3
  Casks/ff-works.rb
Labels: bump-cask-pr

#132694 Update bettertouchtool from 3.880 to 3.882
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#132703 Update aptakube from 0.6.0 to 0.6.1
  Casks/aptakube.rb
Labels: bump-cask-pr

#132709 Update stats from 2.7.36 to 2.7.37
  Casks/stats.rb
Labels: bump-cask-pr

#132713 Update metasploit from 6.2.21,20221001102952 to 6.2.21,20221002103005
  Casks/metasploit.rb
Labels: bump-cask-pr

#132714 Update radio-silence from 3.1 to 3.2
  Casks/radio-silence.rb
Labels: bump-cask-pr

#132712 Add random-mouse-clicker
  Casks/random-mouse-clicker.rb
Labels: new cask

#132723 Update tableplus from 4.8.8 to 5.0.0
  Casks/tableplus.rb
Labels: bump-cask-pr

#132721 Update termius from 7.48.0 to 7.49.0
  Casks/termius.rb
Labels: bump-cask-pr

#132805 Update inso from 3.5.0 to 3.6.0
  Casks/inso.rb
Labels: bump-cask-pr

#132807 Update fig from 1.0.61 to 1.0.62
  Casks/fig.rb
Labels: bump-cask-pr

#132808 Update canva from 1.51.0 to 1.52.0
  Casks/canva.rb
Labels: bump-cask-pr

#132817 Update firefox from 105.0.1 to 105.0.2
  Casks/firefox.rb
Labels: bump-cask-pr

#132818 Update github from 3.0.8-c41b1670 to 3.1.1-a170ddea
  Casks/github.rb
Labels: bump-cask-pr

#132819 Update imazing from 2.15.9 to 2.15.11
  Casks/imazing.rb
Labels: bump-cask-pr

#132824 Update macupdater from 2.3.0,14095 to 2.3.0,14100
  Casks/macupdater.rb
Labels: bump-cask-pr

#132814 qlvideo: update livecheck, add desc
  Casks/qlvideo.rb
Labels: bump-cask-pr

#132825 Update webex-meetings from 2209.2123.4210.3 to 2209.2901.4210.4
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#132826 Update namechanger from 3.4.3 to 3.4.4
  Casks/namechanger.rb
Labels: bump-cask-pr

#132830 Update kindle from 1.38.65287 to 1.39.65301
  Casks/kindle.rb
Labels: bump-cask-pr

#132838 Update blender from 3.3.0 to 3.3.1
  Casks/blender.rb
Labels: bump-cask-pr

#132839 Update a-better-finder-rename from 11.51 to 11.52
  Casks/a-better-finder-rename.rb
Labels: bump-cask-pr

#132840 Update abbyy-finereader-pdf from 1402.13 to 1402.14
  Casks/abbyy-finereader-pdf.rb
Labels: bump-cask-pr

#132842 Update vivaldi from 5.4.2753.51 to 5.5.2805.32
  Casks/vivaldi.rb
Labels: bump-cask-pr

#132854 Update trader-workstation from 10.19.1b to 10.19.1c
  Casks/trader-workstation.rb
Labels: bump-cask-pr

#132855 Update skype from 8.88.0.401 to 8.89.0.403
  Casks/skype.rb
Labels: bump-cask-pr

#132856 Update fme from 2022.1.2 to 2022.1.3
  Casks/fme.rb
Labels: bump-cask-pr

#132857 Update openrct2 from 0.4.1 to 0.4.2
  Casks/openrct2.rb
Labels: bump-cask-pr

#132858 Update syncthing from 1.21.0-1 to 1.22.0-1
  Casks/syncthing.rb
Labels: bump-cask-pr

#132831 Add readdle-spark
  Casks/readdle-spark.rb
Labels: automerge-skip, new cask

#132845 Update metasploit from 6.2.21,20221003102957 to 6.2.21,20221005103025
  Casks/metasploit.rb
Labels: bump-cask-pr

#132847 Update wireshark-chmodbpf from 3.6.8 to 4.0.0
  Casks/wireshark-chmodbpf.rb
Labels: bump-cask-pr

#132848 Update aethersx2 from 1.1-2596 to 1.4-2918
  Casks/aethersx2.rb
Labels: bump-cask-pr

#132849 Update appium-inspector from 2022.8.1 to 2022.9.1
  Casks/appium-inspector.rb
Labels: bump-cask-pr

#132850 Update banana-cake-pop from 1.0.4 to 2.0.0
  Casks/banana-cake-pop.rb
Labels: bump-cask-pr

#132851 Update beatunes from 5.2.29 to 5.2.30
  Casks/beatunes.rb
Labels: bump-cask-pr

#132853 Update bitwig-studio from 4.3.8 to 4.3.9
  Casks/bitwig-studio.rb
Labels: bump-cask-pr

#132852 Update bike from 1.4,77 to 1.4,78
  Casks/bike.rb
Labels: bump-cask-pr

#132843 Add DiffusionBee to Homebrew-Cask
  Casks/diffusionbee.rb
Labels: new cask

#132898 Update mailmaster from 4.17.3 to 4.17.5
  Casks/mailmaster.rb
Labels: bump-cask-pr

#132889 Update gosign from 1.2.6 to 1.2.9
  Casks/gosign.rb
Labels: bump-cask-pr

#132940 Update figma from 116.3.8 to 116.4.2
  Casks/figma.rb
Labels: bump-cask-pr

#132979 Update protonvpn from 3.0.2 to 3.0.3
  Casks/protonvpn.rb
Labels: bump-cask-pr

#132980 Update metasploit from 6.2.21,20221005103025 to 6.2.21,20221006103019
  Casks/metasploit.rb
Labels: bump-cask-pr

#132981 Update clickup from 3.1.1 to 3.1.2
  Casks/clickup.rb
Labels: bump-cask-pr

#132844 Add actuallymentor/battery to homebrew cask
  Casks/battery.rb
Labels: new cask

#132983 Update akiflow from 2.28.12 to 2.28.13
  Casks/akiflow.rb
Labels: bump-cask-pr

#132984 Update arctype from 0.9.80 to 0.9.82
  Casks/arctype.rb
Labels: bump-cask-pr

#132986 Update browserstacklocal from 3.5.3 to 3.5.4
  Casks/browserstacklocal.rb
Labels: bump-cask-pr

#133064 Update firefox from 105.0.2 to 105.0.3
  Casks/firefox.rb
Labels: bump-cask-pr

#133066 Wireshark 4 ships with Qt 6.2.4 and requires macOS 10.14
  Casks/wireshark-chmodbpf.rb
  Casks/wireshark.rb
Labels: automerge-skip

#133069 Update vivaldi from 5.5.2805.32 to 5.5.2805.35
  Casks/vivaldi.rb
Labels: bump-cask-pr

#133162 tempbox: submission
  Casks/tempbox.rb
Labels: new cask

#133085 Update bartender from 4.2.0 to 4.2.11
  Casks/bartender.rb
Labels: bump-cask-pr

#133257 Update vallum from 4.0.11 to 4.0.12
  Casks/vallum.rb
Labels: bump-cask-pr

#133258 Update cyberduck from 8.4.4 to 8.4.5
  Casks/cyberduck.rb
Labels: bump-cask-pr

#133259 Update adobe-acrobat-reader from 22.002.20191 to 22.003.20258
  Casks/adobe-acrobat-reader.rb
Labels: bump-cask-pr

#133285 Update lens from 2022.10.70653 to 2022.10.111653
  Casks/lens.rb
Labels: bump-cask-pr

#133291 Update xprocheck from 1.1 to 1.2
  Casks/xprocheck.rb
Labels: bump-cask-pr

#133294 Update ubar from 4.2.0 to 4.2.1
  Casks/ubar.rb
Labels: bump-cask-pr

#133345 Update mgba from 0.9.3 to 0.10.0
  Casks/mgba.rb
Labels: bump-cask-pr

#133389 Update tor-browser from 11.5.2 to 11.5.4
  Casks/tor-browser.rb
Labels: bump-cask-pr

#133350 Update feishu from 5.21.6 to 5.22.8
  Casks/feishu.rb
Labels: bump-cask-pr

#133496 Add Arc v0.71.0
  Casks/arc.rb
Labels: new cask

#133248 Update silentknight from 1.21 to 2.0.0
  Casks/silentknight.rb
Labels: bump-cask-pr

#133438 Update bitwarden from 2022.9.1 to 2022.10.0
  Casks/bitwarden.rb
Labels: bump-cask-pr

#133440 add chipmunk.app log analyzer v2.26.3
  Casks/chipmunk.rb
Labels: automerge-skip, new cask

#133498 Update readdle-spark from 3.0.31.37642 to 3.0.32.37801
  Casks/readdle-spark.rb
Labels: bump-cask-pr

#133500 Update grammarly-desktop from 1.12.1.0 to 1.13.0.1
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#133501 Update hstracker from 2.2.7 to 2.2.8
  Casks/hstracker.rb
Labels: bump-cask-pr

#133502 Update dataspell from 2022.2.2 to 2022.2.3
  Casks/dataspell.rb
Labels: bump-cask-pr

#133513 unison: update livecheck
  Casks/unison.rb
Labels: ci-syntax-only, livecheck

#133514 Update dynobase from 1.10.8 to 2.0.2
  Casks/dynobase.rb
Labels: bump-cask-pr

#133522 Update postgres-unofficial from 2.5.10 to 2.5.11
  Casks/postgres-unofficial.rb
Labels: bump-cask-pr

#133533 Update mullvadvpn from 2022.4 to 2022.5
  Casks/mullvadvpn.rb
Labels: bump-cask-pr

#133535 Update wiznote from 0.1.87 to 0.1.88
  Casks/wiznote.rb
Labels: bump-cask-pr

#133447 Add new cask Pieces
  Casks/pieces-cli.rb
Labels: automerge-skip, new cask

#133536 Update spotify from 1.1.95.893 to 1.1.96.785
  Casks/spotify.rb
Labels: bump-cask-pr

#133569 Update rectangle-pro from 2.6.2 to 2.6.3
  Casks/rectangle-pro.rb
Labels: bump-cask-pr

#133572 Re-add updated wolfram-engine
  Casks/wolfram-engine.rb
Labels: new cask

#133576 Update home-assistant from 2022.8 to 2022.10
  Casks/home-assistant.rb
Labels: bump-cask-pr

#133582 musescore: update livecheck
  Casks/musescore.rb
Labels: ci-syntax-only, livecheck

#133578 Add onekey 3.14.0
  Casks/onekey.rb
Labels: new cask

#133585 Update notion from 2.1.3 to 2.1.4
  Casks/notion.rb
Labels: bump-cask-pr

#133586 Update whatsapp from 2.2236.10 to 2.2238.7
  Casks/whatsapp.rb
Labels: bump-cask-pr

#133594 Add planet 0.10.1-1
  Casks/planet.rb
Labels: new cask

#133598 Update losslesscut from 3.46.2 to 3.47.1
  Casks/losslesscut.rb
Labels: bump-cask-pr

#133601 Update koodo-reader from 1.4.8 to 1.4.9
  Casks/koodo-reader.rb
Labels: bump-cask-pr

#133602 Update metasploit from 6.2.23,20221014102948 to 6.2.23,20221015102931
  Casks/metasploit.rb
Labels: bump-cask-pr

#133603 Update microsoft-edge from 106.0.1370.42 to 106.0.1370.47
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#133597 add readmo cask
  Casks/readmoreading.rb
Labels: automerge-skip, new cask

#133702 Update bettertouchtool from 3.900 to 3.901
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#133703 Update silentknight from 2.00 to 2.01
  Casks/silentknight.rb
Labels: bump-cask-pr

#133699 Update scenebuilder from 18.0.0 to 19.0.0
  Casks/scenebuilder.rb
Labels: bump-cask-pr

#133727 Remove PolyMC.app
  Casks/polymc.rb
Labels: marked for removal/rejection

#133716 Update thunder from 5.0.2.65551 to 5.0.3.65598
  Casks/thunder.rb
Labels: bump-cask-pr

#133718 Update evernote from 10.46.7 to 10.47.7
  Casks/evernote.rb
Labels: bump-cask-pr

#133719 Update gitfinder from 1.7.6 to 1.7.7
  Casks/gitfinder.rb
Labels: bump-cask-pr

#133720 Update gyroflow from 1.2.0 to 1.3.0
  Casks/gyroflow.rb
Labels: bump-cask-pr

#133723 Update microsoft-azure-storage-explorer from 1.26.0 to 1.26.1
  Casks/microsoft-azure-storage-explorer.rb
Labels: bump-cask-pr

#133725 Update piezo from 1.7.9 to 1.7.10
  Casks/piezo.rb
Labels: bump-cask-pr

#133726 Update purei-play from 2022-10-14 to 2022-10-17
  Casks/purei-play.rb
Labels: bump-cask-pr

#133728 Update sdm from 15.57.0 to 15.58.0
  Casks/sdm.rb
Labels: bump-cask-pr

#133729 Update silnite from 8a to 9
  Casks/silnite.rb
Labels: bump-cask-pr

#133730 Update steermouse from 5.6.4 to 5.6.5
  Casks/steermouse.rb
Labels: bump-cask-pr

#133731 Update trainerroad from 2022.36.0.205 to 2022.37.0.206
  Casks/trainerroad.rb
Labels: bump-cask-pr

#133732 Update whist-browser from 102.1.41.11,300.16 to 102.1.41.11,300.17
  Casks/whist-browser.rb
Labels: bump-cask-pr

#133742 Update imazing from 2.15.12 to 2.16.0
  Casks/imazing.rb
Labels: bump-cask-pr

#133774 Update gitkraken from 8.10.0 to 8.10.1
  Casks/gitkraken.rb
Labels: bump-cask-pr

#133750 Update anka-virtualization from 3.0.1.144 to 3.1.0.151
  Casks/anka-virtualization.rb
Labels: automerge-skip

#133775 Update microsoft-teams from 1.5.00.22362 to 1.5.00.26358
  Casks/microsoft-teams.rb
Labels: bump-cask-pr

#133777 Update corretto from 19.0.0.36.1 to 19.0.1.10.1
  Casks/corretto.rb
Labels: bump-cask-pr

#133779 Update endless-sky from 0.9.16 to 0.9.16.1
  Casks/endless-sky.rb
Labels: bump-cask-pr

#133704 Improve CI coverage for Casks using `on_os` blocks
  .github/workflows/ci.yml
  cmd/lib/ci_matrix.rb
Labels: automerge-skip

#133780 Update bettertouchtool from 3.903 to 3.904
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#133786 Update curio from 22.1.1 to 23
  Casks/curio.rb
Labels: bump-cask-pr

#133787 Update github from 3.1.1-a170ddea to 3.1.2-7cd66717
  Casks/github.rb
Labels: bump-cask-pr

#133788 Update nextcloud from 3.6.0 to 3.6.1
  Casks/nextcloud.rb
Labels: bump-cask-pr

#133746 Update ableton-live-standard from 11.2 to 11.2.5
  Casks/ableton-live-standard.rb
Labels: bump-cask-pr

#133795 Update imazing from 2.16.0 to 2.16.1
  Casks/imazing.rb
Labels: bump-cask-pr

#133796 Update ultimaker-cura from 5.2.0 to 5.2.1
  Casks/ultimaker-cura.rb
Labels: bump-cask-pr

#133798 Update visual-studio from 17.3.0.215 to 17.3.8.4
  Casks/visual-studio.rb
Labels: bump-cask-pr

#133799 Update bettertouchtool from 3.904 to 3.906
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#133810 Update oracle-jdk from 19 to 19.0.1
  Casks/oracle-jdk.rb
Labels: bump-cask-pr

#133840 Update utm from 3.2.4 to 4.0.8
  Casks/utm.rb
Labels: bump-cask-pr

#133847 Add PrismLauncher.app v5.0
  Casks/prism.rb
Labels: new cask, ci-skip-repository

#133529 Add Topaz DeNoise AI.app v3.7.0
  Casks/topaz-denoise-ai.rb
Labels: new cask

#133530 Add Topaz Gigapixel AI.app v6.2.0
  Casks/topaz-gigapixel-ai.rb
Labels: new cask

#133534 Add Topaz Video AI.app v3.0.0
  Casks/topaz-video-ai.rb
Labels: automerge-skip, new cask

#133532 Add Topaz Sharpen AI.app v4.1.0
  Casks/topaz-sharpen-ai.rb
Labels: new cask

#133875 Update bettertouchtool from 3.906 to 3.909
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#133876 This is to create a new Cask for the Genesis/MegaDrive emulator Genes…
  Casks/genesis-plus.rb
Labels: new cask

#133877 Update google-drive from 65.0.2 to 65.0.4
  Casks/google-drive.rb
Labels: bump-cask-pr
