Repository Homebrew/homebrew-cask, pull requests merged in 2022-04, with the labels that each got.

#121261 Update farrago from 1.6.5 to 1.6.6
  Casks/farrago.rb
Labels: bump-cask-pr

#121257 Update lx-music from 1.18.0 to 1.19.0
  Casks/lx-music.rb
Labels: bump-cask-pr

#121258 Update sparrow from 1.6.2 to 1.6.3
  Casks/sparrow.rb
Labels: bump-cask-pr

#121256 Update feishu from 5.7.9 to 5.9.11
  Casks/feishu.rb
Labels: bump-cask-pr

#121255 Update mountain-duck from 4.10.3 to 4.11.0
  Casks/mountain-duck.rb
Labels: bump-cask-pr

#121270 Update radar from 2.3.3 to 2.3.3
  Casks/radar.rb
Labels: bump-cask-pr

#121272 Update knime from 4.5.1 to 4.5.2
  Casks/knime.rb
Labels: bump-cask-pr

#121273 Update universal-media-server from 10.18.0 to 10.19.0
  Casks/universal-media-server.rb
Labels: bump-cask-pr

#121275 Update lastpass from 4.91.0 to 4.92.0
  Casks/lastpass.rb
Labels: bump-cask-pr

#121276 Update navicat-for-mariadb from 16.0.11 to 16.0.12
  Casks/navicat-for-mariadb.rb
Labels: bump-cask-pr

#121277 Update navicat-for-mysql from 16.0.11 to 16.0.12
  Casks/navicat-for-mysql.rb
Labels: bump-cask-pr

#121278 Update navicat-for-oracle from 16.0.11 to 16.0.12
  Casks/navicat-for-oracle.rb
Labels: bump-cask-pr

#121279 Update navicat-for-postgresql from 16.0.11 to 16.0.12
  Casks/navicat-for-postgresql.rb
Labels: bump-cask-pr

#121280 Update navicat-for-sql-server from 16.0.11 to 16.0.12
  Casks/navicat-for-sql-server.rb
Labels: bump-cask-pr

#121281 Update navicat-for-sqlite from 16.0.11 to 16.0.12
  Casks/navicat-for-sqlite.rb
Labels: bump-cask-pr

#121283 Update navicat-premium-essentials from 16.0.11 to 16.0.12
  Casks/navicat-premium-essentials.rb
Labels: bump-cask-pr

#121263 Update ksdiff from 3.2.2 to 3.3
  Casks/ksdiff.rb
Labels: bump-cask-pr

#121264 Update pyzo from 4.12.0 to 4.12.3
  Casks/pyzo.rb
Labels: bump-cask-pr

#121284 Update cacher from 2.44.1 to 2.44.2
  Casks/cacher.rb
Labels: bump-cask-pr

#121287 Update utools from 2.6.1 to 2.6.2
  Casks/utools.rb
Labels: bump-cask-pr

#121288 Update flipper from 0.140.0 to 0.141.0
  Casks/flipper.rb
Labels: bump-cask-pr

#121291 Update iconset from 2.1.0 to 2.1.0
  Casks/iconset.rb
Labels: bump-cask-pr

#121292 Update mongodb-compass from 1.30.1 to 1.31.0
  Casks/mongodb-compass.rb
Labels: bump-cask-pr

#121293 Update kext-updater from 4.0.1 to 4.0.2
  Casks/kext-updater.rb
Labels: bump-cask-pr

#121294 Update rider from 2021.3.4,213.7172.34 to 2021.3.4,213.7172.34
  Casks/rider.rb
Labels: bump-cask-pr

#121248 Update chromedriver from 99.0.4844.51 to 100.0.4896.60
  Casks/chromedriver.rb
Labels: bump-cask-pr

#121296 Update cleanmymac from 4.10.3 to 4.10.4
  Casks/cleanmymac.rb
Labels: bump-cask-pr

#121298 Update electerm from 1.20.6 to 1.20.10
  Casks/electerm.rb
Labels: bump-cask-pr

#121299 Update mendeley-reference-manager from 2.67.0 to 2.68.0
  Casks/mendeley-reference-manager.rb
Labels: bump-cask-pr

#121300 Update masscode from 1.3.0 to 1.3.1
  Casks/masscode.rb
Labels: bump-cask-pr

#121301 Update panoply from 5.0.2 to 5.0.3
  Casks/panoply.rb
Labels: bump-cask-pr

#121305 Update tableau-prep from 2021.4.4 to 2022.1.1
  Casks/tableau-prep.rb
Labels: bump-cask-pr

#121308 Update coconutbattery from 3.9.7,1b4b96e3 to 3.9.7,26c13b61
  Casks/coconutbattery.rb
Labels: bump-cask-pr

#121310 Update tableau from 2021.4.4 to 2022.1.0
  Casks/tableau.rb
Labels: bump-cask-pr

#121304 Update teamviewer from 15.28.7 to 15.28.8
  Casks/teamviewer.rb
Labels: bump-cask-pr

#121302 Update macupdater from 2.2.0,13370 to 2.2.0,13379
  Casks/macupdater.rb
Labels: bump-cask-pr

#121309 ddnet: update livecheck
  Casks/ddnet.rb
Labels: ci-syntax-only, livecheck

#121311 Update specter from 1.7.2 to 1.9.0
  Casks/specter.rb
Labels: bump-cask-pr

#121316 Update the-clock from 4.6.4,20220322 to 4.6.4,20220322
  Casks/the-clock.rb
Labels: bump-cask-pr

#121317 Update whatsapp from 2.2208.15 to 2.2210.9
  Casks/whatsapp.rb
Labels: bump-cask-pr

#121318 Update threema from 1.1.0 to 1.2.0
  Casks/threema.rb
Labels: bump-cask-pr

#121319 Update breitbandmessung from 3.1.0 to 3.2.0
  Casks/breitbandmessung.rb
Labels: bump-cask-pr

#121320 Update dupeguru from 4.2.0 to 4.2.1
  Casks/dupeguru.rb
Labels: bump-cask-pr

#121322 Update miro from 0.7.7 to 0.7.8
  Casks/miro.rb
Labels: bump-cask-pr

#121323 Update fvim from 0.3.528 to 0.3.530
  Casks/fvim.rb
Labels: bump-cask-pr

#121343 Update blender from 3.1.0 to 3.1.2
  Casks/blender.rb
Labels: bump-cask-pr

#121357 Update unity from 2021.2.17f1 to 2021.2.18f1
  Casks/unity.rb
Labels: bump-cask-pr

#121380 baretorrent: update livecheck
  Casks/baretorrent.rb
Labels: ci-syntax-only, livecheck

#121379 Update p4v from 2022.1,2266529 to 2022.1,2266529
  Casks/p4v.rb
Labels: bump-cask-pr

#121383 Update stats from 2.7.10 to 2.7.11
  Casks/stats.rb
Labels: bump-cask-pr

#121382 Update progressive-downloader from 5.1 to 5.2
  Casks/progressive-downloader.rb
Labels: bump-cask-pr

#121378 Update videofusion from 2.8.0.5854.0 to 2.8.5.6036.0
  Casks/videofusion.rb
Labels: bump-cask-pr

#121377 Update yinxiangbiji from 9.5.19_466516 to 9.5.20_466684
  Casks/yinxiangbiji.rb
Labels: bump-cask-pr

#121376 Update understand from 6.1.1096 to 6.2.1097
  Casks/understand.rb
Labels: bump-cask-pr

#121375 Update texpad from 1.9.8 to 1.9.9
  Casks/texpad.rb
Labels: bump-cask-pr

#121374 Update openin from 3.0.4 to 3.0.5
  Casks/openin.rb
Labels: bump-cask-pr

#121373 Update hepta from 0.110.0 to 0.119.0
  Casks/hepta.rb
Labels: bump-cask-pr

#121372 Update mathcha-notebook from 1.0.430 to 1.0.431
  Casks/mathcha-notebook.rb
Labels: bump-cask-pr

#121371 Update chirp from 20220308 to 20220402
  Casks/chirp.rb
Labels: bump-cask-pr

#121370 Update cleanmymac-zh from 4.10.2 to 4.10.4
  Casks/cleanmymac-zh.rb
Labels: bump-cask-pr

#121369 Update app-tamer from 2.7 to 2.7.1
  Casks/app-tamer.rb
Labels: bump-cask-pr

#121368 Update a-better-finder-attributes from 7.17 to 7.18
  Casks/a-better-finder-attributes.rb
Labels: bump-cask-pr

#121367 Update millie from 2.34.3 to 2.35.0
  Casks/millie.rb
Labels: bump-cask-pr

#121362 Update tiled from 1.8.2 to 1.8.4
  Casks/tiled.rb
Labels: bump-cask-pr

#121361 Update syntax-highlight from 2.1.10 to 2.1.11
  Casks/syntax-highlight.rb
Labels: bump-cask-pr

#121360 Update unicopedia-plus from 11.2.2 to 11.3.0
  Casks/unicopedia-plus.rb
Labels: bump-cask-pr

#121359 Update uvtools from 3.2.0 to 3.2.1
  Casks/uvtools.rb
Labels: bump-cask-pr

#121355 Update blitz from 1.16.43 to 1.16.46
  Casks/blitz.rb
Labels: bump-cask-pr

#121354 Update ocenaudio from 3.11.8 to 3.11.10
  Casks/ocenaudio.rb
Labels: bump-cask-pr

#121353 Update audio-hijack from 4.0.0 to 4.0.1
  Casks/audio-hijack.rb
Labels: bump-cask-pr

#121352 Update sonic-visualiser from 4.4 to 4.5
  Casks/sonic-visualiser.rb
Labels: bump-cask-pr

#121351 Update session from 1.7.6 to 1.7.9
  Casks/session.rb
Labels: bump-cask-pr

#121350 Update opentoonz from 1.5.0 to 1.6.0
  Casks/opentoonz.rb
Labels: bump-cask-pr

#121349 Update metasploit from 6.1.36 to 6.1.37
  Casks/metasploit.rb
Labels: bump-cask-pr

#121347 Update cog from 2155 to 2156
  Casks/cog.rb
Labels: bump-cask-pr

#121346 Update codeexpander from 4.2.4 to 4.2.6
  Casks/codeexpander.rb
Labels: bump-cask-pr

#121344 Update openttd from 12.1 to 12.2
  Casks/openttd.rb
Labels: bump-cask-pr

#121342 Update superslicer from 2.3.57.11 to 2.3.57.12
  Casks/superslicer.rb
Labels: bump-cask-pr

#121341 Update mailtrackerblocker from 0.6.2 to 0.6.3
  Casks/mailtrackerblocker.rb
Labels: bump-cask-pr

#121340 Update voov-meeting from 3.3.2.510 to 3.3.3.520
  Casks/voov-meeting.rb
Labels: bump-cask-pr

#121339 Update opera from 85.0.4341.28 to 85.0.4341.47
  Casks/opera.rb
Labels: bump-cask-pr

#121338 Update jdownloader from 45753 to 45778
  Casks/jdownloader.rb
Labels: bump-cask-pr

#121337 Update multimc from 0.6.14 to 0.6.15
  Casks/multimc.rb
Labels: bump-cask-pr

#121336 Update hook from 3.4.1 to 3.4.3
  Casks/hook.rb
Labels: bump-cask-pr

#121335 Update chia 1.3.2
  Casks/chia.rb
Labels: automerge-skip

#121334 Update hackolade from 5.4.10 to 5.4.11
  Casks/hackolade.rb
Labels: bump-cask-pr

#121333 Update kindavim from 13.0.0 to 14.0.0
  Casks/kindavim.rb
Labels: bump-cask-pr

#121331 Update inav-configurator from 4.0.0 to 4.1.0
  Casks/inav-configurator.rb
Labels: bump-cask-pr

#121328 Update microsoft-edge from 99.0.1150.55 to 100.0.1185.29
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#121326 Update bettertouchtool from 3.746 to 3.747
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#121325 Update beekeeper-studio from 3.3.6 to 3.3.8
  Casks/beekeeper-studio.rb
Labels: bump-cask-pr

#121324 Update gitfinder from 1.7.4 to 1.7.5
  Casks/gitfinder.rb
Labels: bump-cask-pr

#121252 Update resilio-sync from 2.7.2 to 2.7.3
  Casks/resilio-sync.rb
Labels: stale, bump-cask-pr

#121250 Update vuescan from 9.7.81 to 9.7.82
  Casks/vuescan.rb
Labels: stale, bump-cask-pr

#121249 Update softmaker-freeoffice from 2021,1042 to 2021,1044
  Casks/softmaker-freeoffice.rb
Labels: stale, bump-cask-pr

#121306 Add kdenlive
  Casks/kdenlive.rb
Labels: new cask

#121332 Add postman-agent
  Casks/postman-agent.rb
Labels: new cask

#121384 Update fsnotes from 5.3.7 to 5.3.8
  Casks/fsnotes.rb
Labels: bump-cask-pr

#121385 Update mediainfo from 21.09 to 22.03
  Casks/mediainfo.rb
Labels: bump-cask-pr

#121386 Update mellel from 5.1.0 to 5.1.1
  Casks/mellel.rb
Labels: bump-cask-pr

#121390 Update macupdater from 2.2.0,13379 to 2.2.0,13383
  Casks/macupdater.rb
Labels: bump-cask-pr

#121391 Update iconset from 2.1.0 to 2.2.0
  Casks/iconset.rb
Labels: bump-cask-pr

#121392 Update jgrennison-openttd from 0.47.0 to 0.47.1
  Casks/jgrennison-openttd.rb
Labels: bump-cask-pr

#121393 Update 4k-youtube-to-mp3 from 4.5.0 to 4.5.1
  Casks/4k-youtube-to-mp3.rb
Labels: bump-cask-pr

#121394 Update ableton-live-intro from 11.1 to 11.1.1
  Casks/ableton-live-intro.rb
Labels: bump-cask-pr

#121395 Update ableton-live-standard from 11.1 to 11.1.1
  Casks/ableton-live-standard.rb
Labels: bump-cask-pr

#121396 Update ableton-live-suite from 11.1 to 11.1.1
  Casks/ableton-live-suite.rb
Labels: bump-cask-pr

#121397 Update activedock from 2.107 to 2.200
  Casks/activedock.rb
Labels: bump-cask-pr

#121398 Update adobe-air from 33.1.1.743 to 33.1.1.795
  Casks/adobe-air.rb
Labels: bump-cask-pr

#121399 Update specter from 1.9.0 to 1.9.1
  Casks/specter.rb
Labels: bump-cask-pr

#121366 Add Tracker.app v6.0.7
  Casks/osp-tracker.rb
Labels: new cask

#121401 Update airparrot from 3.1.2 to 3.1.3
  Casks/airparrot.rb
Labels: bump-cask-pr

#121402 Update airtame from 4.3.2 to 4.3.3
  Casks/airtame.rb
Labels: bump-cask-pr

#121403 Update alfaview from 8.40.0 to 8.41.0
  Casks/alfaview.rb
Labels: bump-cask-pr

#121404 Update ankama from 3.6.2 to 3.6.7
  Casks/ankama.rb
Labels: bump-cask-pr

#121405 Update antconc from 4.0.3 to 4.0.5
  Casks/antconc.rb
Labels: bump-cask-pr

#121406 Update anydo from 4.2.159 to 4.2.165
  Casks/anydo.rb
Labels: bump-cask-pr

#121407 Update appgate-sdp-client from 5.5.3 to 5.5.4
  Casks/appgate-sdp-client.rb
Labels: bump-cask-pr

#121408 Update asana from 1.5.1 to 1.6.0
  Casks/asana.rb
Labels: bump-cask-pr

#121409 Update astah-professional from 8.4.1 to 8.5.0
  Casks/astah-professional.rb
Labels: bump-cask-pr

#121410 Update astah-uml from 8.4.1 to 8.5.0
  Casks/astah-uml.rb
Labels: bump-cask-pr

#121411 Update atlauncher from 3.4.10.15 to 3.4.13.0
  Casks/atlauncher.rb
Labels: bump-cask-pr

#121412 Update atomic-wallet from 2.37.0 to 2.43.1
  Casks/atomic-wallet.rb
Labels: bump-cask-pr

#121413 Update avast-secure-browser from 97.0.1528.72 to 99.0.1962.83
  Casks/avast-secure-browser.rb
Labels: bump-cask-pr

#121414 Update avocode from 4.15.5 to 4.15.6
  Casks/avocode.rb
Labels: bump-cask-pr

#121415 Update bbc-iplayer-downloads from 2.13.6 to 2.13.7
  Casks/bbc-iplayer-downloads.rb
Labels: bump-cask-pr

#121416 Update beeper from 3.3.12 to 3.5.18
  Casks/beeper.rb
Labels: bump-cask-pr

#121417 Update binance from 1.31.0 to 1.33.2
  Casks/binance.rb
Labels: bump-cask-pr

#121418 Update birdfont from 4.24.0 to 4.27.3
  Casks/birdfont.rb
Labels: bump-cask-pr

#121419 Update biscuit from 1.2.24 to 1.2.25
  Casks/biscuit.rb
Labels: bump-cask-pr

#121420 Update bluejeans from 2.33.2.16 to 2.34.0.226
  Casks/bluejeans.rb
Labels: bump-cask-pr

#121421 Update blockbench from 4.1.4 to 4.2.2
  Casks/blockbench.rb
Labels: bump-cask-pr

#121422 Update boom from 1.7.1 to 1.7.2
  Casks/boom.rb
Labels: bump-cask-pr

#121423 Update bootstrap-studio from 5.9.1 to 5.9.3
  Casks/bootstrap-studio.rb
Labels: bump-cask-pr

#121424 Update vassal from 3.6.5 to 3.6.6
  Casks/vassal.rb
Labels: bump-cask-pr

#121425 Update bricklink-studio from 2.22.2_1 to 2.22.3_1
  Casks/bricklink-studio.rb
Labels: bump-cask-pr

#121426 Update brook from 20220404 to 20220406
  Casks/brook.rb
Labels: bump-cask-pr

#121427 Update busycal from 2022.1.1 to 2022.1.4
  Casks/busycal.rb
Labels: bump-cask-pr

#121428 Update busycontacts from 1.6.4 to 1.6.5
  Casks/busycontacts.rb
Labels: bump-cask-pr

#121429 Update calendar-366 from 2.11.2 to 2.12
  Casks/calendar-366.rb
Labels: bump-cask-pr

#121431 Update camerabag-photo from 2021.5.0 to 2022.0.0
  Casks/camerabag-photo.rb
Labels: bump-cask-pr

#121432 Update caprine from 2.55.2 to 2.55.4
  Casks/caprine.rb
Labels: bump-cask-pr

#121433 Update moonlight from 3.2.0 to 4.0.0
  Casks/moonlight.rb
Labels: bump-cask-pr

#121365 Add Accord.app v1.0.2
  Casks/accord.rb
Labels: awaiting user reply, new cask

#121247 Add BetterMouse 1.2.833
  Casks/bettermouse.rb
Labels: new cask

#121400 Update 8x8-work from 7.16.3-1 to 7.17.3-3
  Casks/8x8-work.rb
Labels: bump-cask-pr

#121471 raindropio: update livecheck
  Casks/raindropio.rb
Labels: ci-syntax-only, livecheck

#121496 Update zulip from 5.8.1 to 5.9.0
  Casks/zulip.rb
Labels: bump-cask-pr

#121495 Update electron-cash from 4.2.6 to 4.2.7
  Casks/electron-cash.rb
Labels: bump-cask-pr

#121494 Update zoom-outlook-plugin from 5.8.6 to 5.9.3
  Casks/zoom-outlook-plugin.rb
Labels: bump-cask-pr
