Repository Homebrew/homebrew-cask, pull requests merged in 2022-06, with the labels that each got.

#124635 Update bettertouchtool from 3.785,1928 to 3.785,1930
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#124672 Update medis from 2.8.6 to 2.8.8
  Casks/medis.rb
Labels: bump-cask-pr

#124701 Add orion 0.99,115
  Casks/orion.rb
Labels: new cask

#124855 retinizer: remove
  Casks/retinizer.rb
Labels: marked for removal/rejection

#124852 mysql-utilities: remove
  Casks/mysql-utilities.rb
Labels: marked for removal/rejection

#124850 myphone: remove
  Casks/myphone.rb
Labels: marked for removal/rejection

#124845 leksah: remove
  Casks/leksah.rb
Labels: marked for removal/rejection

#124843 google-featured-photos: remove
  Casks/google-featured-photos.rb
Labels: marked for removal/rejection

#124834 Update a-better-finder-rename from 11.48 to 11.49
  Casks/a-better-finder-rename.rb
Labels: bump-cask-pr

#124835 Update berrycast from 0.36.1 to 0.36.3
  Casks/berrycast.rb
Labels: bump-cask-pr

#124836 Update cleanmymac-zh from 4.10.6 to 4.10.7
  Casks/cleanmymac-zh.rb
Labels: bump-cask-pr

#124837 Update hepta from 0.145.0 to 0.149.0
  Casks/hepta.rb
Labels: bump-cask-pr

#124838 Update keysmith from 1.18.1 to 1.18.2
  Casks/keysmith.rb
Labels: bump-cask-pr

#124839 Update setapp from 3.3.5 to 3.4.0
  Casks/setapp.rb
Labels: bump-cask-pr

#124840 Update beeper from 3.12.10 to 3.13.12
  Casks/beeper.rb
Labels: bump-cask-pr

#124841 Update diffmerge from 4.2.1.1013 to 4.2.1.1013
  Casks/diffmerge.rb
Labels: bump-cask-pr

#124842 google-analytics-opt-out: add livecheck
  Casks/google-analytics-opt-out.rb
Labels: bump-cask-pr

#124844 gyazmail: update livecheck
  Casks/gyazmail.rb
Labels: bump-cask-pr

#124846 Update logitech-presentation from 1.62.2 to 1.62.2
  Casks/logitech-presentation.rb
Labels: bump-cask-pr

#124847 Update mit-app-inventor from 3.0rc3 to 3.0rc3
  Casks/mit-app-inventor.rb
Labels: bump-cask-pr

#124848 Update mockplus from 3.6.1.6 to 3.6.2.2
  Casks/mockplus.rb
Labels: bump-cask-pr

#124849 Update mqttfx from 1.7.1 to 5.2.0
  Casks/mqttfx.rb
Labels: bump-cask-pr

#124866 Update osu from 2022.528.0 to 2022.605.0
  Casks/osu.rb
Labels: bump-cask-pr

#124760 Create cask Amazon Luna
  Casks/amazon-luna.rb
Labels: automerge-skip, new cask

#124774 Created new cask for replacement of android-messages
  Casks/orangedrangon-android-messages.rb
Labels: automerge-skip, new cask

#124867 Update paperspace from 11.9.7.5215 to 11.9.9.5419
  Casks/paperspace.rb
Labels: bump-cask-pr

#124868 Update tencent-docs from 2.3.2 to 2.3.3
  Casks/tencent-docs.rb
Labels: bump-cask-pr

#124851 Update mysql-connector-python from 8.0.23 to 8.0.29
  Casks/mysql-connector-python.rb
Labels: bump-cask-pr

#124930 cmd/lib/check.rb: fix regex error
  cmd/lib/check.rb
Labels: automerge-skip

#124938 Change download URL for Warp
  Casks/warp.rb
Labels: automerge-skip

#124989 Update wifi-explorer from 3.3.5 to 3.3.6
  Casks/wifi-explorer.rb
Labels: bump-cask-pr

#124988 Update threema from 1.2.7 to 1.2.13
  Casks/threema.rb
Labels: bump-cask-pr

#124985 Update messenger from 152.4.115 to 153.17.110
  Casks/messenger.rb
Labels: bump-cask-pr

#124984 Update sabnzbd from 3.5.3 to 3.6.0
  Casks/sabnzbd.rb
Labels: bump-cask-pr

#124983 Update quarto from 0.9.528 to 0.9.538
  Casks/quarto.rb
Labels: bump-cask-pr

#124981 Update logseq from 0.7.1 to 0.7.2
  Casks/logseq.rb
Labels: bump-cask-pr

#124994 Update fantastical from 3.6.4 to 3.6.5
  Casks/fantastical.rb
Labels: bump-cask-pr

#124931 Jpc qlcolorcode for Mac m1 (arm64)
  Casks/jpc-qlcolorcode.rb
Labels: new cask

#124997 Update irpf2022 from 1.4 to 1.7
  Casks/irpf2022.rb
Labels: bump-cask-pr

#124998 Update ivpn from 3.8.7 to 3.8.20
  Casks/ivpn.rb
Labels: bump-cask-pr

#124940 Update dropbox-capture from 77.0.8 to 78.0.2, add Apple Silicon version, update URL
  Casks/dropbox-capture.rb
Labels: bump-cask-pr

#124963 Update wechat from 3.4.0 to 3.4.1
  Casks/wechat.rb
Labels: ci-retry

#124571 Update postman from 9.19.0 to 9.19.3
  Casks/postman.rb
Labels: upstream

#125011 Update gogs from 0.12.8 to 0.12.9
  Casks/gogs.rb
Labels: bump-cask-pr

#125012 Update jasp from 0.16.1.0 to 0.16.2.0
  Casks/jasp.rb
Labels: bump-cask-pr

#125024 Update cog from 2207 to 2212
  Casks/cog.rb
Labels: bump-cask-pr

#125023 Update wiznote from 0.1.78 to 0.1.81
  Casks/wiznote.rb
Labels: bump-cask-pr

#125035 Update thebrain from 12.0.87.0 to 12.0.88.0
  Casks/thebrain.rb
Labels: bump-cask-pr

#125062 Update kdrive from 3.3.4.20220504 to 3.3.5.20220608
  Casks/kdrive.rb
Labels: bump-cask-pr

#125056 Create sonixd.rb
  Casks/sonixd.rb
Labels: awaiting user reply, new cask

#125066 Update smartgit from 21.2.2 to 21.2.3
  Casks/smartgit.rb
Labels: bump-cask-pr

#125064 app-fair 0.8.50
  Casks/app-fair.rb
Labels: new cask

#125067 Update reaper from 6.59 to 6.60
  Casks/reaper.rb
Labels: bump-cask-pr

#125204 Update google-chrome from 102.0.5005.61 to 102.0.5005.115
  Casks/google-chrome.rb
Labels: bump-cask-pr

#125315 Update texshop from 4.73 to 4.74
  Casks/texshop.rb
Labels: bump-cask-pr

#125126 Update data-rescue from 6.0.6 to 6.0.7
  Casks/data-rescue.rb
Labels: bump-cask-pr

#125084 Add ecamm-live 3.10.2
  Casks/ecamm-live.rb
Labels: new cask

#125154 Update ithoughtsx from 5.30.0 to 9.0.0
  Casks/ithoughtsx.rb
Labels: bump-cask-pr

#125141 Update firmaec from 2.10.1 to 2.11.0
  Casks/firmaec.rb
Labels: bump-cask-pr

#125366 Update touchosc from 1.1.2 to 1.1.3
  Casks/touchosc.rb
Labels: bump-cask-pr

#125365 Update Swiftcord to 0.4.1(8)
  Casks/swiftcord.rb
Labels: automerge-skip

#125261 Update prey from 1.9.24 to 1.10.3
  Casks/prey.rb
Labels: ci-skip-install, bump-cask-pr

#125131 Update libreoffice from 7.3.3 to 7.3.4
  Casks/libreoffice.rb
Labels: bump-cask-pr

#125181 Update webex from 42.5.0.22259 to 42.5.0.22565
  Casks/webex.rb
Labels: bump-cask-pr

#125159 Update klayout from 0.27.9 to 0.27.10
  Casks/klayout.rb
Labels: bump-cask-pr

#125367 Update sublime-merge from 2071 to 2074
  Casks/sublime-merge.rb
Labels: bump-cask-pr

#125381 Update amazon-music from 9.0.2.2321 to 9.1.0
  Casks/amazon-music.rb
Labels: bump-cask-pr

#125386 Update manymc from 0.1.1 to 0.1.2
  Casks/manymc.rb
Labels: ci-syntax-only, bump-cask-pr

#125402 Update blackhole-2ch.rb
  Casks/blackhole-16ch.rb
  Casks/blackhole-2ch.rb
  Casks/blackhole-64ch.rb
Labels: automerge-skip

#125431 Update lunar from 5.6.6 to 5.6.8
  Casks/lunar.rb
Labels: automerge-skip, bump-cask-pr

#125456 Update cog from 2237 to 2243
  Casks/cog.rb
Labels: bump-cask-pr

#125458 Update jellyfin-media-player from 1.6.1 to 1.7.0
  Casks/jellyfin-media-player.rb
Labels: bump-cask-pr

#125459 Update dropzone from 4.3.5 to 4.3.6
  Casks/dropzone.rb
Labels: bump-cask-pr

#125460 Update eloston-chromium from 102.0.5005.63-1.1 to 102.0.5005.115-1.1
  Casks/eloston-chromium.rb
Labels: bump-cask-pr

#125471 Update quarto from 0.9.566 to 0.9.573
  Casks/quarto.rb
Labels: bump-cask-pr

#125472 Update quicksilver from 2.2.2 to 2.2.3
  Casks/quicksilver.rb
Labels: bump-cask-pr

#125473 Update crunch from 4.0.0 to 5.0.0
  Casks/crunch.rb
Labels: bump-cask-pr

#125045 Update kodelife from 0.9.9 to 1.0.4
  Casks/kodelife.rb
Labels: stale, bump-cask-pr

#125497 Update cog from 2256 to 2260
  Casks/cog.rb
Labels: bump-cask-pr

#125494 Update zerotier-one from 1.8.9 to 1.10.0
  Casks/zerotier-one.rb
Labels: bump-cask-pr

#125481 Add AudioStellar.app v1.1
  Casks/audiostellar.rb
Labels: new cask

#125507 Add PhpWebStudy.app v1.0.14
  Casks/phpwebstudy.rb
Labels: new cask

#125552 Update pushplaylabs-sidekick from 100.23.2.20294 to 100.23.5.20398
  Casks/pushplaylabs-sidekick.rb
Labels: bump-cask-pr

#125590 Update betaflight-configurator from 10.7.2 to 10.8.0
  Casks/betaflight-configurator.rb
Labels: bump-cask-pr

#125592 Update cog from 2266 to 2268
  Casks/cog.rb
Labels: bump-cask-pr

#125564 Update arq from 7.19.1 to 7.19.2
  Casks/arq.rb
Labels: bump-cask-pr

#125523 Add Elephicon 1.9.6
  Casks/elephicon.rb
Labels: automerge-skip, new cask

#125651 Update tower from 8.2 to 8.3
  Casks/tower.rb
Labels: bump-cask-pr

#125652 Update grammarly-desktop from 1.5.0.2 to 1.6.0.2
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#125675 Add LocalXpose v22.6.3
  Casks/localxpose.rb
Labels: new cask

#125685 Update termius from 7.42.0 to 7.42.1
  Casks/termius.rb
Labels: bump-cask-pr

#125636 Update microsoft-office from 16.61.22050700 to 16.62.22061100
  Casks/microsoft-office.rb
Labels: bump-cask-pr

#125687 Update plex-media-server from 1.26.2.5797 to 1.27.0.5897
  Casks/plex-media-server.rb
Labels: bump-cask-pr

#125688 Update xemu from 0.7.32 to 0.7.33
  Casks/xemu.rb
Labels: bump-cask-pr

#125622 Update gimp from 2.10.30 to 2.10.32
  Casks/gimp.rb
Labels: bump-cask-pr

#125689 Update elephicon from 1.9.6 to 1.9.7
  Casks/elephicon.rb
Labels: bump-cask-pr

#125712 Downgrade postman from 9.20.3 to 9.19.0
  Casks/postman.rb
Labels: bump-cask-pr

#125713 Update osu from 2022.612.0 to 2022.615.0
  Casks/osu.rb
Labels: bump-cask-pr

#125715 Update busycal from 2022.2.3,2022-06-15-00-38 to 2022.2.3,2022-06-15-11-28
  Casks/busycal.rb
Labels: bump-cask-pr

#125716 Update cloudash from 1.16.0 to 1.16.1
  Casks/cloudash.rb
Labels: bump-cask-pr

#125718 Update commander-one from 3.3 to 3.4
  Casks/commander-one.rb
Labels: bump-cask-pr

#125719 Update eclipse-cpp from 4.23.0 to 4.24.0
  Casks/eclipse-cpp.rb
Labels: bump-cask-pr

#125720 Update eclipse-dsl from 4.23.0 to 4.24.0
  Casks/eclipse-dsl.rb
Labels: bump-cask-pr

#125708 Update teamdrive from 4.7.4.3178 to 4.7.5.3196
  Casks/teamdrive.rb
Labels: bump-cask-pr

#125786 Remove Yosemite support
  Casks/cocktail.rb
  Casks/coconutbattery.rb
  Casks/coteditor.rb
  Casks/deeper.rb
  Casks/evernote.rb
  Casks/horos.rb
  Casks/maintenance.rb
  Casks/mkvtoolnix.rb
  Casks/monolingual.rb
  Casks/omnifocus.rb
  Casks/omnigraffle.rb
  Casks/omnioutliner.rb
  Casks/omniplan.rb
  Casks/omnipresence.rb
  Casks/onyx.rb
  Casks/openemu.rb
  Casks/openzfs.rb
  Casks/powerphotos.rb
  Casks/r.rb
  Casks/smartgit.rb
  Casks/suspicious-package.rb
  Casks/texpad.rb
  Casks/themeengine.rb
  Casks/unison.rb
  Casks/visual-studio-code.rb
Labels: ci-syntax-only, automerge-skip

#125788 Update notion from 2.0.21 to 2.1.0
  Casks/notion.rb
Labels: bump-cask-pr

#125926 Update calmly-writer from 2.0.42 to 2.0.44
  Casks/calmly-writer.rb
Labels: bump-cask-pr

#125962 Add twitch-studio 0.108.4
  Casks/twitch-studio.rb
Labels: new cask

#125508 Create tailscale.rb
  Casks/tailscale.rb
Labels: awaiting maintainer feedback, automerge-skip, new cask

#126099 Update fedora-media-writer from 5.0.1 to 5.0.2
  Casks/fedora-media-writer.rb
Labels: bump-cask-pr

#126101 Update geogebra from 6.0.713.0 to 6.0.715.0
  Casks/geogebra.rb
Labels: bump-cask-pr

#126104 Update macupdater from 2.2.2,13627 to 2.2.2,13630
  Casks/macupdater.rb
Labels: bump-cask-pr

#126108 Update protopie from 7.0.1 to 7.0.2
  Casks/protopie.rb
Labels: bump-cask-pr

#126051 Update fishing-funds from 6.1.0 to 6.1.1
  Casks/fishing-funds.rb
Labels: automerge-skip, bump-cask-pr

#126172 Playcover: new 1.0.1 dmg
  Casks/playcover.rb
Labels: ci-skip-install

#126173 doc: fix broken links
  doc/reporting_bugs/error_examples.md
Labels: documentation, automerge-skip

#126204 Update gns3 from 2.2.33 to 2.2.33.1
  Casks/gns3.rb
Labels: bump-cask-pr

#125963 Update bilibili-official from 1.1.3 to 1.2.1
  Casks/bilibili-official.rb
Labels: bump-cask-pr

#126084 mia-for-gmail: Switch to HTTP
  Casks/mia-for-gmail.rb
Labels: upstream

#126188 Update etrecheckpro from 6.6 to 6.6.1
  Casks/etrecheckpro.rb
Labels: bump-cask-pr

#126016 DMG Canvas 3.0
  Casks/dmg-canvas.rb
Labels: new cask

#126023 BetterAndBetter 2.5.1Beta
  Casks/betterandbetter.rb
Labels: automerge-skip, new cask

#126264 Update mixxx from 2.3.2 to 2.3.3
  Casks/mixxx.rb
Labels: bump-cask-pr

#126048 FlyKey 1.5
  Casks/fly-key.rb
Labels: new cask

#126170 Created cask for UI Desktop
  Casks/ui.rb
Labels: new cask

#126110 Update standard-notes from 3.20.0 to 3.22.11
  Casks/standard-notes.rb
Labels: bump-cask-pr

#126047 Update and rename sky-ticket.rb to wow-tv.rb
  Casks/sky-ticket.rb
  Casks/wow.rb
Labels: automerge-skip

#126036 betterdummy: Rename cask & bump version
  Casks/betterdisplay.rb
  Casks/betterdummy.rb
Labels: automerge-skip

#126354 Update prey from 1.10.5 to 1.10.7
  Casks/prey.rb
Labels: ci-skip-install, bump-cask-pr

#126289 Update cog from 2370 to 2405
  Casks/cog.rb
Labels: bump-cask-pr

#126369 Update ferdium from 6.0.0-nightly.73 to 6.0.0-nightly.74
  Casks/ferdium.rb
Labels: bump-cask-pr

#126370 Update phpwebstudy from 1.0.20 to 1.0.21
  Casks/phpwebstudy.rb
Labels: bump-cask-pr

#126397 Update prezi-video from 2.9.0 to 2.9.1
  Casks/prezi-video.rb
Labels: bump-cask-pr

#126423 Update soundsource from 5.5.1 to 5.5.2
  Casks/soundsource.rb
Labels: bump-cask-pr

#126371 Add cleaneronepro 6.6.2
  Casks/cleaneronepro.rb
Labels: new cask

#126377 Add TmpDisk.app v2.0.2
  Casks/tmpdisk.rb
Labels: new cask

#126410 Update unity-webgl-support-for-editor from 2022.1.5f1 to 2022.1.6f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#126375 slate-arm64 v1.0
  Casks/fertigt-slate.rb
Labels: automerge-skip, new cask

#126408 Update unity-android-support-for-editor from 2022.1.5f1 to 2022.1.6f1
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr

#126409 Update unity-ios-support-for-editor from 2022.1.5f1 to 2022.1.6f1
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr

#126411 Update unity-windows-support-for-editor from 2022.1.5f1 to 2022.1.6f1
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#126438 Update fldigi from 4.1.22 to 4.1.23
  Casks/fldigi.rb
Labels: bump-cask-pr

#126439 Update quarto from 0.9.613 to 0.9.615
  Casks/quarto.rb
Labels: bump-cask-pr

#126447 Add Plex HTPC v1.19.1.3076-b24239e5
  Casks/plex-htpc.rb
Labels: new cask

#126463 Update uvtools from 3.5.0 to 3.5.1
  Casks/uvtools.rb
Labels: bump-cask-pr

#126461 Update responsively from 0.18.0 to 0.19.0
  Casks/responsively.rb
Labels: bump-cask-pr

#126460 Update anki from 2.1.53 to 2.1.54
  Casks/anki.rb
Labels: bump-cask-pr

#126454 Update dbngin from 5.0 to 5.1
  Casks/dbngin.rb
Labels: bump-cask-pr

#126519 Update whatsapp from 2.2220.8 to 2.2222.12
  Casks/whatsapp.rb
Labels: bump-cask-pr

#126517 Update brave-browser from 1.40.105.0 to 1.40.107.0
  Casks/brave-browser.rb
Labels: bump-cask-pr
