Repository Homebrew/homebrew-cask, pull requests merged in 2022-03, with the labels that each got.

#119803 Update foxglove-studio from 0.29.0 to 1.2.0
  Casks/foxglove-studio.rb
Labels: bump-cask-pr

#119798 Update microsoft-edge from 98.0.1108.56 to 98.0.1108.62
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#119795 Update gitkraken from 8.3.0 to 8.3.1
  Casks/gitkraken.rb
Labels: bump-cask-pr

#119779 Update jamovi from 2.3.0.0 to 2.3.1.0
  Casks/jamovi.rb
Labels: bump-cask-pr

#119758 Update metaimage from 1.9.8,6091 to 1.9.8,b0f8d13a-8233-4fb9-acca-8246f4947a80
  Casks/metaimage.rb
Labels: bump-cask-pr

#119806 Update tableau-reader from 2021.4.3 to 2021.4.4
  Casks/tableau-reader.rb
Labels: bump-cask-pr

#119809 Update tableau-public from 2021.4.3 to 2021.4.4
  Casks/tableau-public.rb
Labels: bump-cask-pr

#119807 Add Playdate SDK 1.9.0
  Casks/playdate-simulator.rb
Labels: automerge-skip, new cask

#119632 Update cloudflare-warp from 2022.2.69.0 to 2022.2.248.0
  Casks/cloudflare-warp.rb
Labels: bump-cask-pr

#119690 Add libcblite and libcblite-community v3.0.0
  Casks/libcblite-community.rb
  Casks/libcblite.rb
Labels: new cask

#119818 Update electerm from 1.18.1 to 1.18.5
  Casks/electerm.rb
Labels: bump-cask-pr

#119817 Update cpuinfo from 1.4.6 to 1.4.7
  Casks/cpuinfo.rb
Labels: bump-cask-pr

#119815 Update origin from 10.5.108.49699 to 10.5.111.50299
  Casks/origin.rb
Labels: bump-cask-pr

#119814 Update element from 1.10.4 to 1.10.5
  Casks/element.rb
Labels: bump-cask-pr

#119813 Update messenger from 141.13.114 to 142.6.106
  Casks/messenger.rb
Labels: bump-cask-pr

#119812 Update bettertouchtool from 3.743 to 3.744
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#119816 Update makemkv from 1.16.5 to 1.16.7
  Casks/makemkv.rb
Labels: bump-cask-pr

#119821 Update geogebra from 6.0.689.0 to 6.0.691.0
  Casks/geogebra.rb
Labels: bump-cask-pr

#119823 Update cryptonomic-galleon from 1.2.8b to 1.2.9b
  Casks/cryptonomic-galleon.rb
Labels: bump-cask-pr

#119825 Update querious from 3.1.4 to 3.2
  Casks/querious.rb
Labels: bump-cask-pr

#119824 Update runelite from 2.3.0 to 2.4.0
  Casks/runelite.rb
Labels: bump-cask-pr

#119826 Update lbry from 0.52.2 to 0.52.5
  Casks/lbry.rb
Labels: bump-cask-pr

#119828 Update sketch from 83.2 to 84
  Casks/sketch.rb
Labels: bump-cask-pr

#119829 Update tableplus from 4.5.2 to 4.6.0
  Casks/tableplus.rb
Labels: bump-cask-pr

#119830 Update grammarly-desktop from 1.0.4.1 to 1.0.4.3
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#119832 Update smplayer from 21.10.0 to 22.2.0
  Casks/smplayer.rb
Labels: bump-cask-pr

#119833 Update warzone-2100 from 4.2.4 to 4.2.6
  Casks/warzone-2100.rb
Labels: bump-cask-pr

#119836 Update element from 1.10.5 to 1.10.6
  Casks/element.rb
Labels: bump-cask-pr

#119840 Update accurics from 1.0.32 to 1.0.34
  Casks/accurics.rb
Labels: bump-cask-pr

#119842 Update internxt-drive from 1.6.0 to 1.7.1
  Casks/internxt-drive.rb
Labels: bump-cask-pr

#119843 Update miro from 0.7.2 to 0.7.3
  Casks/miro.rb
Labels: bump-cask-pr

#119844 Update acorn from 7.1.2 to 7.1.3
  Casks/acorn.rb
Labels: bump-cask-pr

#119846 Update p4 from 2021.2,2220431 to 2021.2,2252059
  Casks/p4.rb
Labels: bump-cask-pr

#119847 Update adobe-dng-converter from 14.1 to 14.2
  Casks/adobe-dng-converter.rb
Labels: bump-cask-pr

#119855 powershell: update livecheck
  Casks/powershell.rb
Labels: ci-syntax-only, livecheck

#119859 Update google-chrome from 98.0.4758.109 to 99.0.4844.51
  Casks/google-chrome.rb
Labels: bump-cask-pr

#119848 Update aircall from 2.19.7 to 2.20.2
  Casks/aircall.rb
Labels: bump-cask-pr

#119849 Update airdroid from 3.7.0.0 to 3.7.1.0
  Casks/airdroid.rb
Labels: bump-cask-pr

#119856 Update lens from 5.3.4 to 5.4.0
  Casks/lens.rb
Labels: bump-cask-pr

#119858 Update pdf-reader-pro from 2.8.8.2 to 2.8.8.3
  Casks/pdf-reader-pro.rb
Labels: bump-cask-pr

#119861 Update studio-3t from 2021.10.1 to 2022.2.0
  Casks/studio-3t.rb
Labels: bump-cask-pr

#119863 Update ipfs from 0.19.3 to 0.20.0
  Casks/ipfs.rb
Labels: bump-cask-pr

#119864 Update navicat-for-mariadb from 16.0.8 to 16.0.9
  Casks/navicat-for-mariadb.rb
Labels: bump-cask-pr

#119865 Update navicat-for-mysql from 16.0.8 to 16.0.9
  Casks/navicat-for-mysql.rb
Labels: bump-cask-pr

#119866 Update navicat-for-oracle from 16.0.8 to 16.0.9
  Casks/navicat-for-oracle.rb
Labels: bump-cask-pr

#119868 Update navicat-for-sql-server from 16.0.8 to 16.0.9
  Casks/navicat-for-sql-server.rb
Labels: bump-cask-pr

#119869 Update nanosaur from 1.4.2 to 1.4.3
  Casks/nanosaur.rb
Labels: bump-cask-pr

#119870 Update navicat-premium from 16.0.8 to 16.0.9
  Casks/navicat-premium.rb
Labels: bump-cask-pr

#119891 Update obs from 27.2.1 to 27.2.2
  Casks/obs.rb
Labels: bump-cask-pr

#119887 Update qqlive from 2.32.0.53121 to 2.33.0.53124
  Casks/qqlive.rb
Labels: bump-cask-pr

#119885 Update sdformatter from 5.0.1 to 5.0.2
  Casks/sdformatter.rb
Labels: bump-cask-pr

#119881 Update authy from 1.9.0 to 2.0.0
  Casks/authy.rb
Labels: bump-cask-pr

#119898 Update blitz from 1.16.32 to 1.16.38
  Casks/blitz.rb
Labels: bump-cask-pr

#119900 Update fontexplorer-x-pro from 7.2.6 to 7.3.0
  Casks/fontexplorer-x-pro.rb
Labels: bump-cask-pr

#119903 Update lagrange from 1.10.6 to 1.11.1
  Casks/lagrange.rb
Labels: bump-cask-pr

#119904 Update webex-meetings from 2202.1623.4203.1 to 2202.2501.4203.2
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#119911 Update vivaldi from 5.1.2567.49 to 5.1.2567.57
  Casks/vivaldi.rb
Labels: bump-cask-pr

#119910 Update brave-browser from 1.35.104.0 to 1.36.109.0
  Casks/brave-browser.rb
Labels: bump-cask-pr

#119908 subtitle-master: update livecheck
  Casks/subtitle-master.rb
Labels: ci-syntax-only, livecheck

#119907 Update drovio from 3.2.1 to 3.2.2
  Casks/drovio.rb
Labels: bump-cask-pr

#119906 Update lx-music from 1.17.1 to 1.18.0
  Casks/lx-music.rb
Labels: bump-cask-pr

#119901 Update xscreensaver from 6.02 to 6.03
  Casks/xscreensaver.rb
Labels: bump-cask-pr

#119899 Update pyfa from 2.39.1 to 2.39.3
  Casks/pyfa.rb
Labels: bump-cask-pr

#119896 Update comictagger from 1.2.3 to 1.3.0
  Casks/comictagger.rb
Labels: bump-cask-pr

#119913 Update duet from 2.4.2.1 to 2.4.2.1
  Casks/duet.rb
Labels: bump-cask-pr

#119909 Update micro-snitch from 1.5 to 1.5.1
  Casks/micro-snitch.rb
Labels: bump-cask-pr

#119889 Update dropbox from 142.4.4197 to 143.4.4161 and Add Apple Silicon version
  Casks/dropbox.rb
Labels: bump-cask-pr

#119914 Update lunar from 5.3.2 to 5.4.1
  Casks/lunar.rb
Labels: bump-cask-pr

#119916 Update opencore-configurator from 2.57.0.0 to 2.58.0.0
  Casks/opencore-configurator.rb
Labels: bump-cask-pr

#119917 Remove livecheck blocks from discontinued casks
  Casks/idefrag.rb
  Casks/ipartition.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#119920 Update chromedriver from 98.0.4758.102 to 99.0.4844.51
  Casks/chromedriver.rb
Labels: bump-cask-pr

#119921 Update oclint from 21.10 to 22.02
  Casks/oclint.rb
Labels: bump-cask-pr

#119923 Update ogdesign-eagle from 2.0,47 to 2.0,48
  Casks/ogdesign-eagle.rb
Labels: bump-cask-pr

#119925 Update openphone from 3.3.6 to 3.4.11
  Casks/openphone.rb
Labels: bump-cask-pr

#119924 Update okta-advanced-server-access from 1.55.1 to 1.57.0
  Casks/okta-advanced-server-access.rb
Labels: bump-cask-pr

#119927 Update openshift-client from 4.9.21 to 4.9.23
  Casks/openshift-client.rb
Labels: bump-cask-pr

#119928 Update opera-gx from 82.0.4227.50 to 83.0.4254.70
  Casks/opera-gx.rb
Labels: bump-cask-pr

#119929 Update operadriver from 96.0.4664.45 to 98.0.4758.82
  Casks/operadriver.rb
Labels: bump-cask-pr

#119931 Update proxifier from 3.6 to 3.7
  Casks/proxifier.rb
Labels: bump-cask-pr

#119933 Update signal from 5.33.0 to 5.34.0
  Casks/signal.rb
Labels: bump-cask-pr

#119934 Update minecraft from 1097 to 1125
  Casks/minecraft.rb
Labels: bump-cask-pr

#119935 Update datadog-agent from 7.33.0-1 to 7.34.0-1
  Casks/datadog-agent.rb
Labels: bump-cask-pr

#119937 Update flipper from 0.136.0 to 0.137.0
  Casks/flipper.rb
Labels: bump-cask-pr

#119938 Update flutter from 2.10.2 to 2.10.3
  Casks/flutter.rb
Labels: bump-cask-pr

#119939 Update jdownloader from 45328 to 45543
  Casks/jdownloader.rb
Labels: bump-cask-pr

#119940 Update app-cleaner from 7.5.1 to 7.6
  Casks/app-cleaner.rb
Labels: bump-cask-pr

#119941 Update microsoft-azure-storage-explorer from 1.22.1 to 1.23.0
  Casks/microsoft-azure-storage-explorer.rb
Labels: bump-cask-pr

#119942 Update viber from 17.0.0 to 17.1.0
  Casks/viber.rb
Labels: bump-cask-pr

#119943 Update webex from 42.2.0.21486 to 42.3.0.21576
  Casks/webex.rb
Labels: bump-cask-pr

#119945 Update sejda-pdf from 7.4.0 to 7.4.1
  Casks/sejda-pdf.rb
Labels: bump-cask-pr

#119944 Update ticktick from 4.1.00 to 4.1.10
  Casks/ticktick.rb
Labels: bump-cask-pr

#119947 Update kitty from 0.24.3 to 0.24.4
  Casks/kitty.rb
Labels: automerge-skip

#119948 Update dropbox from 142.4.4197 to 143.4.4161
  Casks/dropbox.rb
Labels: bump-cask-pr

#119950 Update futurerestore-gui from 1.95 to 1.96
  Casks/futurerestore-gui.rb
Labels: bump-cask-pr

#119953 Update hydrus-network from 474 to 475
  Casks/hydrus-network.rb
Labels: bump-cask-pr

#119954 Update lrtimelapse from 5.8.0 to 6.0.0
  Casks/lrtimelapse.rb
Labels: bump-cask-pr

#119955 Update tabby from 1.0.172 to 1.0.173
  Casks/tabby.rb
Labels: bump-cask-pr

#119956 Update trex from 1.5.1 to 1.5.2
  Casks/trex.rb
Labels: bump-cask-pr

#119957 Update github from 2.9.10-6f8248ab to 2.9.11-93911c1f
  Casks/github.rb
Labels: bump-cask-pr

#119958 Update drovio from 3.2.2 to 3.2.3
  Casks/drovio.rb
Labels: bump-cask-pr

#119961 Update openphone from 3.4.11 to 3.4.14
  Casks/openphone.rb
Labels: bump-cask-pr

#119962 Update libreoffice from 7.3.0 to 7.3.1
  Casks/libreoffice.rb
Labels: bump-cask-pr

#119963 Update dbvisualizer from 12.1.8 to 13.0
  Casks/dbvisualizer.rb
Labels: bump-cask-pr

#119966 Update sparrow from 1.5.6 to 1.6.0
  Casks/sparrow.rb
Labels: bump-cask-pr

#119970 dust3d: update livecheck
  Casks/dust3d.rb
Labels: ci-syntax-only, livecheck

#119969 Update stoplight-studio from 2.8.0,7236.git-cc3bce2 to 2.8.0,7260.git-04f3365
  Casks/stoplight-studio.rb
Labels: bump-cask-pr

#119972 Update fl-studio from 20.9.0.2256 to 20.9.1.2339
  Casks/fl-studio.rb
Labels: bump-cask-pr

#119973 Update aldente from 1.14 to 1.15
  Casks/aldente.rb
Labels: bump-cask-pr

#119974 Update steam-plus-plus from 2.6.5 to 2.6.9
  Casks/steam-plus-plus.rb
Labels: bump-cask-pr

#119975 Update syntax-highlight from 2.1.8 to 2.1.9
  Casks/syntax-highlight.rb
Labels: bump-cask-pr

#119976 Update visual-studio-code from 1.64.2 to 1.65.0
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#119977 Update whatsapp from 2.2204.13 to 2.2206.9
  Casks/whatsapp.rb
Labels: bump-cask-pr

#119981 Update musaicfm from 1.2.4 to 1.2.5
  Casks/musaicfm.rb
Labels: bump-cask-pr

#119982 Update curseforge from 0.192.2-0 to 0.193.1-1
  Casks/curseforge.rb
Labels: bump-cask-pr

#119983 Update lastpass from 4.89.0 to 4.90.0
  Casks/lastpass.rb
Labels: bump-cask-pr

#119985 Update jdownloader from 45543 to 45556
  Casks/jdownloader.rb
Labels: bump-cask-pr

#119986 Update metasploit from 6.1.32,20220226113033 to 6.1.32,20220303113232
  Casks/metasploit.rb
Labels: bump-cask-pr

#119987 Update unity from 2021.2.13f1 to 2021.2.14f1
  Casks/unity.rb
Labels: bump-cask-pr

#119988 Update minizincide from 2.6.0 to 2.6.1
  Casks/minizincide.rb
Labels: bump-cask-pr

#119979 Update cog from 1784 to 2131-gc8d8e759
  Casks/cog.rb
Labels: bump-cask-pr

#119989 Update unity-android-support-for-editor from 2021.2.13f1 to 2021.2.14f1
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr

#119991 Update unity-webgl-support-for-editor from 2021.2.13f1 to 2021.2.14f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#119990 Update unity-ios-support-for-editor from 2021.2.13f1 to 2021.2.14f1
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr

#119992 Update unity-windows-support-for-editor from 2021.2.13f1 to 2021.2.14f1
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#119984 Update reaper from 6.49 to 6.50
  Casks/reaper.rb
Labels: bump-cask-pr

#119995 Update blockblock from 2.1.0 to 2.1.3
  Casks/blockblock.rb
Labels: bump-cask-pr

#120008 Update megasync from 4.6.2 to 4.6.5
  Casks/megasync.rb
Labels: bump-cask-pr

#120007 Update kodi from 19.3-Matrix to 19.4-Matrix
  Casks/kodi.rb
Labels: bump-cask-pr

#120006 Update aldente from 1.15 to 1.15.1
  Casks/aldente.rb
Labels: bump-cask-pr

#120003 Update rar from 6.10 to 6.11
  Casks/rar.rb
Labels: bump-cask-pr

#119999 Update backblaze from 8.0.1.584 to 8.0.1.588
  Casks/backblaze.rb
Labels: bump-cask-pr

#119998 Update routeconverter from 2.32.332 to 2.31.335
  Casks/routeconverter.rb
Labels: bump-cask-pr

#119997 Update soundsource from 5.3.9 to 5.3.10
  Casks/soundsource.rb
Labels: bump-cask-pr

#119996 Update opera from 84.0.4316.21 to 84.0.4316.31
  Casks/opera.rb
Labels: bump-cask-pr

#120040 Update filebot from 4.9.5 to 4.9.6
  Casks/filebot.rb
Labels: bump-cask-pr

#120001 Update photosync from 4.1 to 4.2
  Casks/photosync.rb
Labels: bump-cask-pr

#120011 Update vscodium from 1.64.2 to 1.65.0
  Casks/vscodium.rb
Labels: bump-cask-pr

#120013 Update jdownloader from 45556 to 45558
  Casks/jdownloader.rb
Labels: bump-cask-pr

#120014 Update retroarch from 1.10.0 to 1.10.1
  Casks/retroarch.rb
Labels: bump-cask-pr

#120015 Update retroarch-metal from 1.10.0 to 1.10.1
  Casks/retroarch-metal.rb
Labels: bump-cask-pr

#120016 Update qownnotes from 22.2.10 to 22.3.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#120018 Update manyverse from 0.2202.7-beta to 0.2203.3-beta
  Casks/manyverse.rb
Labels: bump-cask-pr

#120019 Update codeexpander from 4.0.4 to 4.0.7
  Casks/codeexpander.rb
Labels: bump-cask-pr

#120020 Update advancedrestclient from 17.0.8 to 17.0.9
  Casks/advancedrestclient.rb
Labels: bump-cask-pr

#120021 Update eloston-chromium from 98.0.4758.109-1.1 to 99.0.4844.51-1.1
  Casks/eloston-chromium.rb
Labels: bump-cask-pr

#120023 Update sitesucker-pro from 4.3.3 to 4.4
  Casks/sitesucker-pro.rb
Labels: bump-cask-pr

#120025 Update hstracker from 2.0.12 to 2.0.13
  Casks/hstracker.rb
Labels: bump-cask-pr

#120026 Update kindavim from 8.0.0 to 9.0.0
  Casks/kindavim.rb
Labels: bump-cask-pr

#120027 Update berrycast from 0.35.10 to 0.35.12
  Casks/berrycast.rb
Labels: bump-cask-pr

#120028 Update app-tamer from 2.6.5 to 2.7
  Casks/app-tamer.rb
Labels: bump-cask-pr
