Repository Homebrew/homebrew-cask, pull requests merged in 2022-12, with the labels that each got.

#136831 Update webex-meetings from 2211.1803.4212.2 to 2211.2403.4212.3
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#136838 dmm: remove casks
  Casks/dmm-player-for-chrome.rb
  Casks/dmm-player.rb
Labels: automerge-skip, marked for removal/rejection

#136915 Add buzz v0.5.8
  Casks/buzz.rb
Labels: new cask

#136920 Update chromedriver from 108.0.5359.71 to 108.0.5359.71
  Casks/chromedriver.rb
Labels: bump-cask-pr

#136921 Update macs-fan-control from 1.5.13 to 1.5.14
  Casks/macs-fan-control.rb
Labels: bump-cask-pr

#136917 kopiaui: init at 0.12.1
  Casks/kopiaui.rb
Labels: new cask

#136705 Add Superkey v0.10
  Casks/superkey.rb
Labels: new cask

#136965 Update microsoft-edge from 107.0.1418.62 to 107.0.1418.68
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#137029 Update fsnotes from 6.0.4 to 6.0.5
  Casks/fsnotes.rb
Labels: bump-cask-pr

#137031 Update input-source-pro from 2.1.10-beta to 2.1.11-beta
  Casks/input-source-pro.rb
Labels: bump-cask-pr

#137009 kekaexternalhelper: update livecheck
  Casks/kekaexternalhelper.rb
Labels: livecheck

#137128 Update opencore-configurator from 2.64.0.1 to 2.64.0.2
  Casks/opencore-configurator.rb
Labels: bump-cask-pr

#137130 Update omnigraffle from 7.21 to 7.21.1
  Casks/omnigraffle.rb
Labels: bump-cask-pr

#137011 Update loom from 0.145.0 to 0.147.2
  Casks/loom.rb
Labels: bump-cask-pr

#137074 CI: enable signing audit
  .github/workflows/ci.yml
Labels: automerge-skip

#137151 ci: fixing spacing issue
  .github/workflows/ci.yml
Labels: automerge-skip

#137152 Update macrorecorder from 2.0.81 to 2.0.82
  Casks/macrorecorder.rb
Labels: bump-cask-pr

#137153 Update nosql-workbench from 3.3.0 to 3.4.0
  Casks/nosql-workbench.rb
Labels: bump-cask-pr

#137216 Update telegram from 9.2,240426 to 9.2,240427
  Casks/telegram.rb
Labels: bump-cask-pr

#137220 Update telegram-desktop from 4.4.0 to 4.4.1
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#137221 Update cyberduck from 8.5.1 to 8.5.2
  Casks/cyberduck.rb
Labels: bump-cask-pr

#137302 Update osu from 2022.1207.0 to 2022.1208.0
  Casks/osu.rb
Labels: bump-cask-pr

#137300 Update httpie from 2022.15.1 to 2022.16.0
  Casks/httpie.rb
Labels: bump-cask-pr

#137299 Update finch from 0.1.0 to 0.1.1
  Casks/finch.rb
Labels: bump-cask-pr

#137303 Update accurics from 1.0.45 to 1.0.46
  Casks/accurics.rb
Labels: bump-cask-pr

#137304 Update launchpad-manager from 1.0.10 to 1.0.13
  Casks/launchpad-manager.rb
Labels: bump-cask-pr

#137309 Update keyboardholder from 1.10.0 to 1.10.1
  Casks/keyboardholder.rb
Labels: bump-cask-pr

#137314 Update nextcloud from 3.6.2 to 3.6.4
  Casks/nextcloud.rb
Labels: bump-cask-pr

#137319 Update brave-browser from 1.46.138.0 to 1.46.140.0
  Casks/brave-browser.rb
Labels: bump-cask-pr

#137258 Update firmaec from 2.11.0 to 3.0.0
  Casks/firmaec.rb
Labels: bump-cask-pr

#137312 Update spotify from 1.1.99.878 to 1.2.0.1165
  Casks/spotify.rb
Labels: bump-cask-pr

#137289 qlvideo 2.00
  Casks/qlvideo.rb
Labels: do not merge

#137297 Add AGI v3.2.1
  Casks/agi.rb
Labels: new cask

#137317 Add Farcaster.app v0.5.2
  Casks/farcaster.rb
Labels: new cask

#137321 Update livebook from 0.7.2 to 0.8.0
  Casks/livebook.rb
Labels: bump-cask-pr

#137322 Update messenger from 171.0.0.28.105 to 171.0.0.29.105
  Casks/messenger.rb
Labels: bump-cask-pr

#137324 Update okta-advanced-server-access from 1.64.3 to 1.65.0
  Casks/okta-advanced-server-access.rb
Labels: bump-cask-pr

#137325 Update omnigraffle from 7.21.1 to 7.21.2
  Casks/omnigraffle.rb
Labels: bump-cask-pr

#137326 Update orange from 3.33.0 to 3.34.0
  Casks/orange.rb
Labels: bump-cask-pr

#137327 Update boom-3d from 1.3.17 to 1.4.0
  Casks/boom-3d.rb
Labels: bump-cask-pr

#137334 Update microsoft-edge from 108.0.1462.41 to 108.0.1462.46
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#137333 Update betterdisplay from 1.3.8 to 1.3.9
  Casks/betterdisplay.rb
Labels: bump-cask-pr

#137332 Update vscodium from 1.73.1.22314 to 1.74.0.22342
  Casks/vscodium.rb
Labels: bump-cask-pr

#137331 Update ocenaudio from 3.11.17 to 3.11.18
  Casks/ocenaudio.rb
Labels: bump-cask-pr

#137330 Update drawio from 20.3.0 to 20.6.1
  Casks/drawio.rb
Labels: bump-cask-pr

#137329 Update audius from 1.3.6 to 1.4.4
  Casks/audius.rb
Labels: bump-cask-pr

#137336 Update keyboardholder from 1.10.1 to 1.10.2
  Casks/keyboardholder.rb
Labels: bump-cask-pr

#137338 Update signal from 6.0.0 to 6.0.1
  Casks/signal.rb
Labels: bump-cask-pr

#137348 Update webex-meetings from 2211.2403.4212.3 to 2212.0100.4212.4
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#137349 Update appcleaner from 3.6.6 to 3.6.7
  Casks/appcleaner.rb
Labels: bump-cask-pr

#137350 Update fantastical from 3.7.4 to 3.7.5
  Casks/fantastical.rb
Labels: bump-cask-pr

#137351 Update vivaldi from 5.6.2867.36 to 5.6.2867.40
  Casks/vivaldi.rb
Labels: bump-cask-pr

#137352 Update telegram from 9.2.1,240451 to 9.2.1,240459
  Casks/telegram.rb
Labels: bump-cask-pr

#136150 Cursr
  Casks/cursr.rb
Labels: new cask

#137371 Update calmly-writer from 2.0.48 to 2.0.50
  Casks/calmly-writer.rb
Labels: bump-cask-pr

#137359 Add cask: Overt
  Casks/overt.rb
Labels: new cask

#137454 Update browserosaurus from 19.3.3 to 20.0.0
  Casks/browserosaurus.rb
Labels: bump-cask-pr

#137380 new cask for Elephas
  Casks/elephas.rb
Labels: new cask

#137455 Update medis from 2.9.2 to 2.9.3
  Casks/medis.rb
Labels: bump-cask-pr

#137456 Update qownnotes from 22.12.1 to 22.12.2
  Casks/qownnotes.rb
Labels: bump-cask-pr

#137458 Update runjs from 2.7.1 to 2.7.4
  Casks/runjs.rb
Labels: bump-cask-pr

#137459 Update xquartz from 2.8.2 to 2.8.3
  Casks/xquartz.rb
Labels: bump-cask-pr

#137479 Skip broken GitHub release page livechecks
  Casks/bluewallet.rb
  Casks/coqide.rb
  Casks/cubicsdr.rb
  Casks/duckietv.rb
  Casks/jandi-statusbar.rb
  Casks/magicavoxel.rb
  Casks/openineditor-lite.rb
  Casks/openinterminal-lite.rb
  Casks/pablodraw.rb
  Casks/prusaslicer.rb
  Casks/qwerty-fr.rb
  Casks/thonny-xxl.rb
  Casks/virtualbuddy.rb
  Casks/xdm.rb
Labels: awaiting maintainer feedback, ci-syntax-only, automerge-skip, livecheck

#137481 Update busycal from 2022.4.6,2022-12-09-00-47 to 2022.4.6,2022-12-11-01-52
  Casks/busycal.rb
Labels: bump-cask-pr

#137482 Update gpxsee from 11.10 to 11.11
  Casks/gpxsee.rb
Labels: bump-cask-pr

#137483 Update jclasslib-bytecode-viewer from 6.0.3 to 6.0.4
  Casks/jclasslib-bytecode-viewer.rb
Labels: bump-cask-pr

#137484 Update jupyterlab from 3.5.0-1 to 3.5.1-1
  Casks/jupyterlab.rb
Labels: bump-cask-pr

#137485 Update panwriter from 0.8.4 to 0.8.5
  Casks/panwriter.rb
Labels: bump-cask-pr

#137486 Update softmaker-freeoffice from 2021,1058 to 2021,1060
  Casks/softmaker-freeoffice.rb
Labels: bump-cask-pr

#137509 Update overt from 0.5.2 to 0.5.3
  Casks/overt.rb
Labels: bump-cask-pr

#137542 feat: add ankerwork cask
  Casks/ankerwork.rb
Labels: new cask

#137354 teleport-tsh: add new cask
  Casks/tsh.rb
Labels: automerge-skip, new cask

#137609 Update Retroarch & retroarch-metal to 1.14.0
  Casks/retroarch-metal.rb
  Casks/retroarch.rb
Labels: automerge-skip

#137654 Update readdle-spark from 3.2.0.40005 to 3.2.1.40641
  Casks/readdle-spark.rb
Labels: bump-cask-pr

#137655 Update metasploit from 6.2.31,20221212113005 to 6.2.31,20221213113013
  Casks/metasploit.rb
Labels: bump-cask-pr

#137657 Update launchcontrol from 2.0.3 to 2.0.4
  Casks/launchcontrol.rb
Labels: bump-cask-pr

#137659 Update canva from 1.56.0 to 1.57.0
  Casks/canva.rb
Labels: bump-cask-pr

#137660 Update bettertouchtool from 3.962 to 3.963
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#137728 Update cloudapp from 6.6.9 to 6.6.10
  Casks/cloudapp.rb
Labels: bump-cask-pr

#137730 Update fig from 2.10.0 to 2.10.1
  Casks/fig.rb
Labels: bump-cask-pr

#137546 Update firefox from 107.0.1 to 108.0
  Casks/firefox.rb
Labels: bump-cask-pr

#137732 Update google-earth-pro from 7.3.6.9285 to 7.3.6.9326
  Casks/google-earth-pro.rb
Labels: ci-skip-install, bump-cask-pr

#137642 Add Cask: Bambu Studio v01.03.01.01
  Casks/bambu-studio.rb
Labels: new cask

#137790 Add cask: Height
  Casks/height.rb
Labels: new cask

#137791 Update suspicious-package from 4.3 to 4.3.1
  Casks/suspicious-package.rb
Labels: bump-cask-pr

#137799 Update retroarch-metal from 1.14.0 to 1.14.0
  Casks/retroarch-metal.rb
Labels: bump-cask-pr

#137800 Update output-factory from 2.4.87 to 2.4.88
  Casks/output-factory.rb
Labels: bump-cask-pr

#137801 Update bettertouchtool from 3.963 to 3.965
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#137819 Update aptakube from 0.8.0 to 0.8.1
  Casks/aptakube.rb
Labels: bump-cask-pr

#137820 Update qt-creator from 9.0.0 to 9.0.1
  Casks/qt-creator.rb
Labels: bump-cask-pr

#137860 Update kiwi-for-gmail from 3.6.1 to 3.6.2
  Casks/kiwi-for-gmail.rb
Labels: bump-cask-pr

#137892 Update pushplaylabs-sidekick from 1.0.69 to 1.0.75
  Casks/pushplaylabs-sidekick.rb
Labels: bump-cask-pr

#137893 Update 1password from 8.9.10 to 8.9.11
  Casks/1password.rb
Labels: bump-cask-pr

#137924 add Scrolla
  Casks/scrolla.rb
Labels: new cask

#137931 Update calibre from 6.9.0 to 6.10.0
  Casks/calibre.rb
Labels: bump-cask-pr

#137941 Update firefox from 108.0 to 108.0.1
  Casks/firefox.rb
Labels: bump-cask-pr

#137863 Add scene maestro
  Casks/scene-maestro.rb
Labels: awaiting user reply, automerge-skip, new cask

#137951 Update tor-browser from 12.0 to 12.0.1
  Casks/tor-browser.rb
Labels: bump-cask-pr

#137950 Update dropbox from 162.4.5419 to 163.4.5456
  Casks/dropbox.rb
Labels: bump-cask-pr

#137871 Add scenica player
  Casks/scenica-player.rb
Labels: automerge-skip, new cask

#137986 Update fishing-funds from 7.0.0 to 7.0.2
  Casks/fishing-funds.rb
Labels: automerge-skip, bump-cask-pr

#137988 add Wooshy
  Casks/wooshy.rb
Labels: new cask

#137989 Update output-factory from 2.4.88 to 2.4.89
  Casks/output-factory.rb
Labels: bump-cask-pr

#137990 Update bettertouchtool from 3.967 to 3.968
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#138000 Update superduper from 3.7.1 to 3.7.2
  Casks/superduper.rb
Labels: bump-cask-pr

#138004 Add duplicacy-cli v3.0.1
  Casks/duplicacy-cli.rb
Labels: new cask

#138010 add vero
  Casks/vero.rb
Labels: new cask

#138022 Add Unraid USB Creator
  Casks/unraid-usb-creator.rb
Labels: awaiting user reply, new cask

#138039 Update postman from 10.5.2 to 10.6.0
  Casks/postman.rb
Labels: bump-cask-pr

#138054 Update appgate-sdp-client from 6.1.0 to 6.1.1
  Casks/appgate-sdp-client.rb
Labels: bump-cask-pr

#138124 Update omnifocus from 3.14.2 to 3.14.3
  Casks/omnifocus.rb
Labels: bump-cask-pr

#138129 Update loom from 0.147.2 to 0.148.0
  Casks/loom.rb
Labels: bump-cask-pr

#138127 add devsquadron to brew cask
  Casks/devsquadron.rb
Labels: new cask

#138300 Update LibreWolf to v108.0.1-1
  Casks/librewolf.rb
Labels: automerge-skip

#138273 Update duet from 3.1.0.0 to 3.1.1.0
  Casks/duet.rb
Labels: bump-cask-pr

#138334 Update lunasea from 10.2.1 to 10.2.2
  Casks/lunasea.rb
Labels: bump-cask-pr

#138335 Update datagrip from 2022.3.1 to 2022.3.2
  Casks/datagrip.rb
Labels: bump-cask-pr

#138323 Update licensed from 1.0 to 3.9.1
  Casks/licensed.rb
Labels: bump-cask-pr

#138339 Add VK Calls v1.1.10048
  Casks/vk-calls.rb
Labels: new cask

#138441 Update vamiga from 2.2 to 2.2.1
  Casks/vamiga.rb
Labels: bump-cask-pr

#138473 Update xquartz from 2.8.3 to 2.8.4
  Casks/xquartz.rb
Labels: bump-cask-pr

#138447 Update descript from 54.1.0-release.20221219.8 to 54.1.1-release.20221223.21
  Casks/descript.rb
Labels: bump-cask-pr

#138476 virtual-desktop-streamer: submission
  Casks/virtual-desktop-streamer.rb
Labels: new cask

#138477 Update medis from 2.9.3 to 2.9.4
  Casks/medis.rb
Labels: bump-cask-pr

#138478 Update gitfox from 3.3.0,7799 to 3.3.0,7799
  Casks/gitfox.rb
Labels: bump-cask-pr

#138479 Update kindavim from 2828.46.0 to 2828.47.0
  Casks/kindavim.rb
Labels: bump-cask-pr

#138483 Add AttacheCase.app v4.1.9
  Casks/attachecase.rb
Labels: new cask

#138485 Add IconChanger 1.2.7
  Casks/iconchanger.rb
Labels: new cask

#138518 Add YouType.app v0.7.3
  Casks/youtype.rb
Labels: awaiting user reply, new cask

#138528 Add MenubarX.app v1.5.4
  Casks/menubarx.rb
Labels: new cask

#138572 Remove `toggl-track`
  Casks/toggl-track.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, marked for removal/rejection

#138591 ci: adjust audit syntax
  .github/workflows/ci.yml
Labels: automerge-skip

#138592 Update onyx from 4.2.6 to 4.2.7
  Casks/onyx.rb
Labels: bump-cask-pr

#138577 Update zotero from 6.0.18 to 6.0.19
  Casks/zotero.rb
Labels: bump-cask-pr

#138575 Update transnomino from 7.0 to 7.1
  Casks/transnomino.rb
Labels: bump-cask-pr

#138576 Update grammarly-desktop from 1.17.0.2 to 1.17.1.0
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#138594 Update texshop from 5.08 to 5.09
  Casks/texshop.rb
Labels: bump-cask-pr

#138595 Update azure-data-studio from 1.40.1 to 1.40.2
  Casks/azure-data-studio.rb
Labels: bump-cask-pr

#138685 Update dosbox-x from 2022.08.0 to 2022.12.26
  Casks/dosbox-x.rb
Labels: bump-cask-pr

#138686 Update universal-gcode-platform from 2.0.12 to 2.0.13
  Casks/universal-gcode-platform.rb
Labels: bump-cask-pr

#138693 Update handbrake from 1.5.1 to 1.6.0
  Casks/handbrake.rb
Labels: bump-cask-pr

#138694 Update cinderella from 3.0b.2065 to 3.0b.2066
  Casks/cinderella.rb
Labels: bump-cask-pr

#138721 Update lingon-x from 9.1.2 to 9.1.3
  Casks/lingon-x.rb
Labels: bump-cask-pr

#138746 Add Mail Assistant.app v0.2.1
  Casks/mail-assistant.rb
Labels: new cask

#138754 Update tencent-docs from 2.4.0 to 2.4.5
  Casks/tencent-docs.rb
Labels: bump-cask-pr

#138747 Add Interact Scratchpad.app
  Casks/interact-scratchpad.rb
Labels: new cask

#138753 Add Readwise_iBooks.app 1.0
  Casks/readwise-ibooks.rb
Labels: automerge-skip, new cask

#138758 Update zoom from 5.13.0.13815 to 5.13.3.14165
  Casks/zoom.rb
Labels: bump-cask-pr

#138760 Update setapp from 3.17.0 to 3.17.1
  Casks/setapp.rb
Labels: bump-cask-pr

#138780 Update texshop from 5.09 to 5.10
  Casks/texshop.rb
Labels: bump-cask-pr
