Repository Homebrew/homebrew-cask, pull requests merged in 2022-05, with the labels that each got.

#122757 Update xemu formulae to v0.6.5
  Casks/xemu.rb
Labels: automerge-skip

#122671 Update jumpcut from 0.75 to 0.80
  Casks/jumpcut.rb
Labels: stale, bump-cask-pr

#122800 Update dbeaver-community from 22.0.4 to 22.0.4
  Casks/dbeaver-community.rb
Labels: bump-cask-pr

#122801 Update ilok-license-manager from 5.5.1 to 5.5.2
  Casks/ilok-license-manager.rb
Labels: bump-cask-pr

#122802 Update quicken from 6.6.2 to 6.7.0
  Casks/quicken.rb
Labels: bump-cask-pr

#122208 Add "XIV on Mac" v3.6.2
  Casks/xiv-on-mac.rb
Labels: automerge-skip, new cask

#122833 Update onedrive from 22.045.0227.0004 to 22.077.0410.0007
  Casks/onedrive.rb
Labels: bump-cask-pr

#122832 Update webcatalog from 43.2.0 to 43.3.0
  Casks/webcatalog.rb
Labels: bump-cask-pr

#122831 Update kdenlive from 21.12.3 to 22.04.0
  Casks/kdenlive.rb
Labels: bump-cask-pr

#122816 Update privadovpn from 2.1.3 to 2.2.0
  Casks/privadovpn.rb
Labels: bump-cask-pr

#122813 Update preform from 3.23.1 to 3.24.1
  Casks/preform.rb
Labels: bump-cask-pr

#122872 Update syncthing from 1.19.2-1 to 1.20.0-1
  Casks/syncthing.rb
Labels: bump-cask-pr

#122871 Update retroarch-metal
  Casks/retroarch-metal.rb
Labels: bump-cask-pr

#122870 Update retroarch
  Casks/retroarch.rb
Labels: bump-cask-pr

#122867 Update qlab from 4.6.11 to 4.6.12
  Casks/qlab.rb
Labels: bump-cask-pr

#122865 Update surfshark from 4.0.0 to 4.0.1
  Casks/surfshark.rb
Labels: bump-cask-pr

#122873 Update cookie from 6.6.7 to 6.6.8
  Casks/cookie.rb
Labels: bump-cask-pr

#122874 Update amitv87-pip from 2.03 to 2.10
  Casks/amitv87-pip.rb
Labels: bump-cask-pr

#122876 Update flirc from 3.26.2 to 3.26.3
  Casks/flirc.rb
Labels: bump-cask-pr

#122877 Update oracle-jdk from 18.0.1 to 18.0.1.1
  Casks/oracle-jdk.rb
Labels: bump-cask-pr

#122919 Update slack from 4.26.0 to 4.26.1
  Casks/slack.rb
Labels: bump-cask-pr

#122923 Update psi-plus from 1.5.1519 to 1.5.1619
  Casks/psi-plus.rb
Labels: bump-cask-pr

#122922 Update prowlarr from 0.2.0.1448 to 0.3.0.1730
  Casks/prowlarr.rb
Labels: bump-cask-pr

#122921 Update protopie from 6.1.0 to 6.2.0
  Casks/protopie.rb
Labels: bump-cask-pr

#122920 Update wireshark from 3.6.3 to 3.6.4
  Casks/wireshark.rb
Labels: bump-cask-pr

#122917 Update trader-workstation from 10.15.1f to 10.15.1g
  Casks/trader-workstation.rb
Labels: bump-cask-pr

#122915 Update blitz from 1.16.57 to 1.16.58
  Casks/blitz.rb
Labels: bump-cask-pr

#122914 Update burn from 3.1.5 to 3.1.6
  Casks/burn.rb
Labels: bump-cask-pr

#122912 Update fme from 2021.2.5 to 2022.0
  Casks/fme.rb
Labels: bump-cask-pr

#122911 Update warp from 0.2022.04.25.09.59.stable_03 to 0.2022.05.02.09.00.stable_01
  Casks/warp.rb
Labels: bump-cask-pr

#122908 Update nvidia-geforce-now from 2.0.39.111 to 2.0.40.118
  Casks/nvidia-geforce-now.rb
Labels: bump-cask-pr

#122907 Update infra from 0.46.0 to 0.47.0
  Casks/infra.rb
Labels: bump-cask-pr

#122904 Update cocktail from 15.3 to 15.3.1
  Casks/cocktail.rb
Labels: bump-cask-pr

#122934 Update fishing-funds from 5.7.2 to 6.0.0
  Casks/fishing-funds.rb
Labels: automerge-skip, bump-cask-pr

#122957 Update jetbrains-toolbox from 1.23 to 1.24
  Casks/jetbrains-toolbox.rb
Labels: bump-cask-pr

#122958 Update zeplin from 4.2.1 to 4.2.2
  Casks/zeplin.rb
Labels: bump-cask-pr

#122959 Update figma from 114.3.0 to 114.4.0
  Casks/figma.rb
Labels: bump-cask-pr

#122961 Update alt-tab from 6.34.1 to 6.35.0
  Casks/alt-tab.rb
Labels: bump-cask-pr

#122962 Update fmail2 from 1.0.1 to 1.0.2
  Casks/fmail2.rb
Labels: bump-cask-pr

#122964 Update drawio from 17.4.2 to 18.0.0
  Casks/drawio.rb
Labels: bump-cask-pr

#122966 Update miro from 0.7.11 to 0.7.12
  Casks/miro.rb
Labels: bump-cask-pr

#122967 Update bartender from 4.1.48 to 4.1.49
  Casks/bartender.rb
Labels: bump-cask-pr

#122968 Update visual-studio-code from 1.66.2 to 1.67.0
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#122969 Update telegram from 8.7.1,229825 to 8.7.1,229827
  Casks/telegram.rb
Labels: bump-cask-pr

#122916 Update audius from 1.1.5 to 1.1.6
  Casks/audius.rb
Labels: bump-cask-pr

#122973 Update drawio from 18.0.0 to 18.0.1
  Casks/drawio.rb
Labels: bump-cask-pr

#122974 Update hazel from 5.1.1 to 5.1.2
  Casks/hazel.rb
Labels: bump-cask-pr

#122975 battery-report: discontinued
  Casks/battery-report.rb
Labels: ci-syntax-only, livecheck

#122866 Add Nitro PDF Pro.app v13.2.1
  Casks/nitro-pdf-pro.rb
Labels: new cask

#123032 Update quarto from 0.9.360 to 0.9.368
  Casks/quarto.rb
Labels: bump-cask-pr

#123031 Update alt-tab from 6.36.0 to 6.36.1
  Casks/alt-tab.rb
Labels: bump-cask-pr

#123030 Update jdownloader from 45917 to 45950
  Casks/jdownloader.rb
Labels: bump-cask-pr

#123029 Update favro from 1.0.67 to 1.0.91
  Casks/favro.rb
Labels: bump-cask-pr

#123028 Update codeql from 2.9.0 to 2.9.1
  Casks/codeql.rb
Labels: bump-cask-pr

#122881 Update turbovnc-viewer from 2.2.90 to 3.0
  Casks/turbovnc-viewer.rb
Labels: awaiting user reply, stale, bump-cask-pr

#123033 Update zesarux from 10.0 to 10.1
  Casks/zesarux.rb
Labels: bump-cask-pr

#123034 Update fsnotes from 5.4.1 to 5.4.2
  Casks/fsnotes.rb
Labels: bump-cask-pr

#123035 Update flux from 41.5 to 42.1
  Casks/flux.rb
Labels: bump-cask-pr

#123045 Update bookends from 14.0.7 to 14.0.8
  Casks/bookends.rb
Labels: bump-cask-pr

#123044 gcc-arm-embedded, gcc-aarch64-embedded: update homepage
  Casks/gcc-aarch64-embedded.rb
  Casks/gcc-arm-embedded.rb
Labels: automerge-skip

#123042 Update upwork from 5.6.10.7 to 5.6.10.13
  Casks/upwork.rb
Labels: bump-cask-pr

#123041 Update cleanmymac-zh from 4.10.5 to 4.10.6
  Casks/cleanmymac-zh.rb
Labels: bump-cask-pr

#123040 Update vscodium from 1.66.2 to 1.67.0
  Casks/vscodium.rb
Labels: bump-cask-pr

#123036 AVIFQuickLook 1.1.0 (new cask)
  Casks/avifquicklook.rb
Labels: new cask

#123026 Add Yattee.app v1.3.3
  Casks/yattee.rb
Labels: new cask

#123047 Update unity-android-support-for-editor from 2021.3.1f1 to 2021.3.2f1
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr

#123048 Update unity-ios-support-for-editor from 2021.3.1f1 to 2021.3.2f1
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr

#123049 Update unity-webgl-support-for-editor from 2021.3.1f1 to 2021.3.2f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#123051 Update unity-windows-support-for-editor from 2021.3.1f1 to 2021.3.2f1
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#123050 Update tencent-docs from 2.2.41 to 2.3.0
  Casks/tencent-docs.rb
Labels: bump-cask-pr

#123052 Update vuescan from 9.7.84 to 9.7.85
  Casks/vuescan.rb
Labels: bump-cask-pr

#123058 Update Xemu cask to 0.7.2
  Casks/xemu.rb
Labels: automerge-skip

#122797 Add Mx Power Gadget 1.2 to cask
  Casks/mx-power-gadget.rb
Labels: awaiting user reply, automerge-skip, new cask

#123060 Update garagesale from 8.4.1 to 9.0.2
  Casks/garagesale.rb
Labels: bump-cask-pr

#123055 Update reaper from 6.56 to 6.57
  Casks/reaper.rb
Labels: bump-cask-pr

#122799 Add TomatoBar.app v3.3.0
  Casks/tomatobar.rb
Labels: awaiting user reply, new cask

#123091 paddle-easydl: update livecheck
  Casks/paddle-easydl.rb
Labels: ci-syntax-only, livecheck

#123067 Add miniWOL.app v2.1.3
  Casks/miniwol.rb
Labels: awaiting user reply, new cask

#123089 Update reveal from 33 to 35
  Casks/reveal.rb
Labels: bump-cask-pr

#123088 Update reunion from 13.0.0,211116unr to 13.0.0,220329unr
  Casks/reunion.rb
Labels: bump-cask-pr

#123087 Update rescuetime from 3.0.13.2 to 3.0.13.3
  Casks/rescuetime.rb
Labels: bump-cask-pr

#123086 Update remotion from 1.78.3 to 1.79.0
  Casks/remotion.rb
Labels: bump-cask-pr

#123085 Update remote-desktop-manager from 2021.2.12.0 to 2022.1.12.0
  Casks/remote-desktop-manager.rb
Labels: bump-cask-pr

#123084 Update polymc from 1.2.1 to 1.2.2
  Casks/polymc.rb
Labels: bump-cask-pr

#123083 Update yinxiangbiji from 9.5.21_466819 to 9.5.22_466988
  Casks/yinxiangbiji.rb
Labels: bump-cask-pr

#123082 Update hepta from 0.134.3 to 0.138.1
  Casks/hepta.rb
Labels: bump-cask-pr

#123081 Update ssh-config-editor from 2.3.2 to 2.4
  Casks/ssh-config-editor.rb
Labels: bump-cask-pr

#123080 Update screens from 4.9.3 to 4.9.4
  Casks/screens.rb
Labels: bump-cask-pr

#123079 Update mathcha-notebook from 1.0.435 to 1.0.436
  Casks/mathcha-notebook.rb
Labels: bump-cask-pr

#123078 Update numi from 3.29.680 to 3.30.701
  Casks/numi.rb
Labels: bump-cask-pr

#123077 Update eudic from 4.2.0 to 4.2.1
  Casks/eudic.rb
Labels: bump-cask-pr

#123076 Update mimestream from 0.34.2 to 0.34.2
  Casks/mimestream.rb
Labels: bump-cask-pr

#123074 Update tableplus from 4.6.4 to 4.6.6
  Casks/tableplus.rb
Labels: bump-cask-pr

#121488 New casks: DCP-o-matic Playlist Editor, Disk Writer, and Combiner
  Casks/dcp-o-matic-combiner.rb
  Casks/dcp-o-matic-disk-writer.rb
  Casks/dcp-o-matic-playlist-editor.rb
Labels: awaiting user reply, automerge-skip, new cask

#122909 Add Movie Splitter v1.7.2
  Casks/miln-movie-splitter.rb
Labels: awaiting user reply, automerge-skip, new cask

#123075 Add Mp3tag.app v1.4.4
  Casks/mp3tag.rb
Labels: new cask

#123095 Update Free42 Binary and Decimal to 3.0.11
  Casks/free42-binary.rb
  Casks/free42-decimal.rb
Labels: automerge-skip

#123039 Add Medis.app v2.8.3
  Casks/medis.rb
Labels: awaiting user reply, new cask

#123115 Update bbedit from 14.1.1 to 14.1.2
  Casks/bbedit.rb
Labels: bump-cask-pr

#123123 Update zotero from 6.0.6 to 6.0.7
  Casks/zotero.rb
Labels: bump-cask-pr

#123125 Update rhino from 7.14.22010.17002 to 7.17.22102.05002
  Casks/rhino.rb
Labels: bump-cask-pr

#123126 Update rightfont from 5.9.3 to 6.0.6
  Casks/rightfont.rb
Labels: bump-cask-pr

#123128 Update ringcentral-phone from 21.4.0 to 22.1.0
  Casks/ringcentral-phone.rb
Labels: bump-cask-pr

#123129 Update robofont from 4.1 to 4.2
  Casks/robofont.rb
Labels: bump-cask-pr

#123130 Update roboform from 9.2.8 to 9.3.1
  Casks/roboform.rb
Labels: bump-cask-pr

#123132 Update microsoft-teams from 1.5.00.9159 to 1.5.00.11157
  Casks/microsoft-teams.rb
Labels: bump-cask-pr

#123093 cmd/lib/ci_matrix: fix depends_on regex
  cmd/lib/ci_matrix.rb
Labels: automerge-skip

#123165 Update google-chrome from 101.0.4951.54 to 101.0.4951.64
  Casks/google-chrome.rb
Labels: bump-cask-pr

#123163 Update zoom-for-it-admins from 5.10.3.6420 to 5.10.4.6592
  Casks/zoom-for-it-admins.rb
Labels: bump-cask-pr

#123169 Update nota from 0.35.4 to 0.36.0
  Casks/nota.rb
Labels: bump-cask-pr

#123168 Update remote-desktop-manager-free from 2022.1.12.0 to 2022.1.13.0
  Casks/remote-desktop-manager-free.rb
Labels: bump-cask-pr

#123167 Update odrive from 7243 to 7249
  Casks/odrive.rb
Labels: bump-cask-pr

#123166 Update microsoft-auto-update from 4.46.22042001 to 4.47.22050700
  Casks/microsoft-auto-update.rb
Labels: bump-cask-pr

#123164 Update mimestream from 0.34.2 to 0.35.0
  Casks/mimestream.rb
Labels: bump-cask-pr

#123162 Update visual-studio-code from 1.67.0 to 1.67.1
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#123147 Update jdownloader from 45950 to 45958
  Casks/jdownloader.rb
Labels: bump-cask-pr

#123102 Add oxwu 3.0.0
  Casks/oxwu.rb
Labels: new cask

#123156 Update microsoft-word from 16.60.22041000 to 16.61.22050700
  Casks/microsoft-word.rb
Labels: bump-cask-pr

#123157 Update microsoft-excel from 16.60.22041000 to 16.61.22050700
  Casks/microsoft-excel.rb
Labels: bump-cask-pr

#123158 Update microsoft-powerpoint from 16.60.22041000 to 16.61.22050700
  Casks/microsoft-powerpoint.rb
Labels: bump-cask-pr

#123159 Update microsoft-outlook from 16.60.22041000 to 16.61.22050700
  Casks/microsoft-outlook.rb
Labels: bump-cask-pr

#123160 Update microsoft-office from 16.60.22041000 to 16.61.22050700
  Casks/microsoft-office.rb
Labels: bump-cask-pr

#123170 Remove twitch
  Casks/twitch.rb
Labels: marked for removal/rejection

#123171 Update unity-android-support-for-editor from 2021.3.2f1 to 2022.1.0f1
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr

#123172 Update unity-ios-support-for-editor from 2021.3.2f1 to 2022.1.0f1
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr

#123173 Update unity-webgl-support-for-editor from 2021.3.2f1 to 2022.1.0f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#123174 Update unity-windows-support-for-editor from 2021.3.2f1 to 2022.1.0f1
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#123094 Add Plus42 Binary and Decimal 1.0.1
  Casks/plus42-binary.rb
  Casks/plus42-decimal.rb
Labels: automerge-skip, new cask

#123183 Update expressvpn from 10.18.0.64123 to 10.19.1.65321
  Casks/expressvpn.rb
Labels: bump-cask-pr

#123155 Add JQuake v1.6.2
  Casks/jquake.rb
Labels: new cask

#123153 Update icab from 6.0.15 to 6.1.2
  Casks/icab.rb
Labels: bump-cask-pr

#122844 Add Podman Desktop v0.0.3
  Casks/podman-desktop.rb
Labels: new cask

#123066 Add AetherSX2 to the casks
  Casks/aethersx2.rb
Labels: new cask

#122562 Add yandex-music-unofficial 1.6.3
  Casks/yandex-music-unofficial.rb
Labels: new cask

#122421 Add Vieb.app v7.2.0
  Casks/vieb.rb
Labels: awaiting user reply, new cask

#122631 Adding Ferdium 6.0.0-nightly.12 formula
  Casks/ferdium.rb
Labels: new cask

#120982 Add Manila 1.0.1
  Casks/manila.rb
Labels: stale, new cask

#123186 Update fishing-funds from 6.0.0 to 6.0.1
  Casks/fishing-funds.rb
Labels: bump-cask-pr

#123187 Update mimestream from 0.35.0 to 0.35.1
  Casks/mimestream.rb
Labels: bump-cask-pr

#123188 pitch: update livecheck
  Casks/pitch.rb
Labels: ci-syntax-only, livecheck

#123185 github_prerelease_allowlist.json: add ferdium
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip

#123191 Update coteditor from 4.2.0 to 4.2.1
  Casks/coteditor.rb
Labels: bump-cask-pr

#122647 Add Protokol 0.4.4
  Casks/protokol.rb
Labels: new cask

#123227 Update aldente from 1.16.1 to 1.17
  Casks/aldente.rb
Labels: bump-cask-pr

#123235 Update ocenaudio from 3.11.10 to 3.11.11
  Casks/ocenaudio.rb
Labels: bump-cask-pr

#123236 Update melodics from 2.1.7041 to 2.1.7577
  Casks/melodics.rb
Labels: bump-cask-pr

#123238 Update electron from 18.2.1 to 18.2.2
  Casks/electron.rb
Labels: bump-cask-pr

#123245 Update tortoisehg from 6.0 to 6.1.2
  Casks/tortoisehg.rb
Labels: bump-cask-pr

#123248 Update drivethrurpg from 3.1.6.0 to 3.2.4.0
  Casks/drivethrurpg.rb
Labels: bump-cask-pr

#122063 Add Groestlcoin Core 22.0
  Casks/groestlcoin-core.rb
Labels: awaiting maintainer feedback, awaiting user reply, new cask
