Repository Homebrew/homebrew-cask, pull requests merged in 2022-07, with the labels that each got.

#126944 Update xquartz from 2.8.1 to 2.8.2
  Casks/xquartz.rb
Labels: bump-cask-pr

#126866 Update neovide from 0.8.0 to 0.9.0
  Casks/neovide.rb
Labels: bump-cask-pr

#126975 Update rectangle-pro from 2.4.5 to 2.4.7
  Casks/rectangle-pro.rb
Labels: bump-cask-pr

#127014 Update ibackup-viewer from 4.2600 to 4.2610
  Casks/ibackup-viewer.rb
Labels: bump-cask-pr

#126947 Update rhino from 7.19.22165.13002 to 7.19.22180.09002
  Casks/rhino.rb
Labels: bump-cask-pr

#127016 Update chatty from 0.18 to 0.19
  Casks/chatty.rb
Labels: bump-cask-pr

#127017 Update coteditor from 4.3.0 to 4.3.1
  Casks/coteditor.rb
Labels: bump-cask-pr

#127018 Update hstracker from 2.1.10 to 2.1.11
  Casks/hstracker.rb
Labels: bump-cask-pr

#127032 Update xemu from 0.7.56 to 0.7.57
  Casks/xemu.rb
Labels: bump-cask-pr

#127031 Update vallum from 4.0.10 to 4.0.11
  Casks/vallum.rb
Labels: bump-cask-pr

#127029 Update stork from 1.0.9,1613 to 1.0.9,1646
  Casks/stork.rb
Labels: bump-cask-pr

#127028 Update sparkle from 2.1.0 to 2.2.0
  Casks/sparkle.rb
Labels: bump-cask-pr

#127027 Update sessionrestore from 2.6.7 to 2.6.7.1
  Casks/sessionrestore.rb
Labels: bump-cask-pr

#127026 Update sameboy from 0.14.7 to 0.15
  Casks/sameboy.rb
Labels: bump-cask-pr

#127025 Update quarto from 0.9.637 to 0.9.640
  Casks/quarto.rb
Labels: bump-cask-pr

#127024 Update photo-supreme-single-user from 7.2.0.4405 to 7.2.0.4408
  Casks/photo-supreme-single-user.rb
Labels: bump-cask-pr

#127023 Update krisp from 1.38.4 to 1.39.5
  Casks/krisp.rb
Labels: bump-cask-pr

#127021 Update microblog from 2.5.1 to 2.5.2
  Casks/microblog.rb
Labels: bump-cask-pr

#127020 Update metasploit from 6.2.6,20220701103056 to 6.2.6,20220702103018
  Casks/metasploit.rb
Labels: bump-cask-pr

#127019 Update localxpose from 22.6.5 to 22.7.1
  Casks/localxpose.rb
Labels: bump-cask-pr

#127037 Update miaoyan from 0.6.2 to 0.7.0
  Casks/miaoyan.rb
Labels: bump-cask-pr

#127030 Update trezor-suite from 22.6.4 to 22.6.5
  Casks/trezor-suite.rb
Labels: bump-cask-pr

#127038 Tokyo dawn audio drivers: TDR-Nova
  Casks/tdr-nova.rb
Labels: automerge-skip, new cask

#127039 tdr-vos-slickeq 1.3.7 (new cask)
  Casks/tdr-vos-slickeq.rb
Labels: new cask

#127033 Add Bing Wallpaper v1.0.9
  Casks/bing-wallpaper.rb
Labels: new cask

#127041 Update cakebrewjs from 1.1.0 to 1.1.1
  Casks/cakebrewjs.rb
Labels: bump-cask-pr

#127042 Update osu from 2022.630.0 to 2022.704.0
  Casks/osu.rb
Labels: bump-cask-pr

#127059 Update moneymoney from 2.4.12 to 2.4.13
  Casks/moneymoney.rb
Labels: bump-cask-pr

#127072 seashore: remove
  Casks/seashore.rb
Labels: marked for removal/rejection

#127074 Update reaper from 6.62 to 6.63
  Casks/reaper.rb
Labels: bump-cask-pr

#127076 Update blitz from 1.17.5 to 1.17.7
  Casks/blitz.rb
Labels: bump-cask-pr

#127075 svnx: Remove cask
  Casks/svnx.rb
Labels: marked for removal/rejection

#127078 qt-design-studio: Remove cask
  Casks/qt-design-studio.rb
Labels: marked for removal/rejection

#127079 Update electerm from 1.21.91 to 1.21.93
  Casks/electerm.rb
Labels: bump-cask-pr

#127080 ark-desktop-wallet: discontinued
  Casks/ark-desktop-wallet.rb
Labels: ci-syntax-only

#127082 Update cog from 2514 to 2518
  Casks/cog.rb
Labels: bump-cask-pr

#127083 Update tencent-docs from 2.3.6 to 2.3.8
  Casks/tencent-docs.rb
Labels: bump-cask-pr

#127112 Update google-chrome from 103.0.5060.53 to 103.0.5060.114
  Casks/google-chrome.rb
Labels: bump-cask-pr

#127126 Update kindavim from 26.0.0 to 27.0.0
  Casks/kindavim.rb
Labels: bump-cask-pr

#127129 Update xiv-on-mac from 4.1 to 4.1.1
  Casks/xiv-on-mac.rb
Labels: bump-cask-pr

#127143 Add gamma control (new cask)
  Casks/gamma-control.rb
Labels: new cask

#127194 Update pushplaylabs-sidekick from 100.24.4.20854 to 100.24.5.21053
  Casks/pushplaylabs-sidekick.rb
Labels: bump-cask-pr

#127159 Update authy from 2.2.0 to 2.2.1
  Casks/authy.rb
Labels: ci-retry, bump-cask-pr

#127209 Update gyazo from 3.9.2 to 3.9.4
  Casks/gyazo.rb
Labels: bump-cask-pr

#127210 boostnote: Remove cask
  Casks/boostnote.rb
Labels: marked for removal/rejection

#127218 Update xemu from 0.7.57 to 0.7.58
  Casks/xemu.rb
Labels: bump-cask-pr

#127217 Update workplace-chat from 103.72.123 to 155.0.0.22.218
  Casks/workplace-chat.rb
Labels: bump-cask-pr

#127216 Update volanta from 1.3.0 to 1.3.2
  Casks/volanta.rb
Labels: bump-cask-pr

#127215 aware: discontinued
  Casks/aware.rb
Labels: ci-syntax-only, livecheck

#127214 Update soulver from 3.5.8 to 3.5.9
  Casks/soulver.rb
Labels: bump-cask-pr

#127165 Ensure path is readable before reading lines
  Casks/appcode.rb
  Casks/clion.rb
  Casks/datagrip.rb
  Casks/dataspell.rb
  Casks/goland.rb
  Casks/intellij-idea-ce.rb
  Casks/intellij-idea.rb
  Casks/mps.rb
  Casks/phpstorm.rb
  Casks/pycharm-ce-with-anaconda-plugin.rb
  Casks/pycharm-ce.rb
  Casks/pycharm-edu.rb
  Casks/pycharm-with-anaconda-plugin.rb
  Casks/pycharm.rb
  Casks/rider.rb
  Casks/rubymine.rb
  Casks/webstorm.rb
Labels: automerge-skip

#127286 Add Cro-Mag Rally v3.0.0
  Casks/cro-mag-rally.rb
Labels: new cask

#127371 Update texshop from 4.76 to 4.77
  Casks/texshop.rb
Labels: bump-cask-pr

#127283 add Black Light v2.3.5
  Casks/black-light.rb
Labels: new cask

#127353 Add new cask for juice at version 2017.06.08170217
  Casks/juice.rb
Labels: new cask

#127319 Add Headlamp.app v0.10.1
  Casks/headlamp.rb
Labels: new cask

#127458 Update hazel from 5.1.2 to 5.1.3
  Casks/hazel.rb
Labels: bump-cask-pr

#127473 cantata: discontinued
  Casks/cantata.rb
Labels: ci-syntax-only

#127462 Update osu from 2022.704.0 to 2022.709.1
  Casks/osu.rb
Labels: bump-cask-pr

#127441 Update fantastical from 3.6.5 to 3.6.6
  Casks/fantastical.rb
Labels: bump-cask-pr

#127298 Update feishu from 5.15.6 to 5.16.5
  Casks/feishu.rb
Labels: bump-cask-pr

#127476 gpg-suite*: fix include? typo
  Casks/gpg-suite-no-mail.rb
  Casks/gpg-suite-pinentry.rb
  Casks/gpg-suite.rb
Labels: automerge-skip

#127496 Update vienna from 3.7.3 to 3.8.0
  Casks/vienna.rb
Labels: bump-cask-pr

#127497 Update gaphor from 2.10.0 to 2.11.0
  Casks/gaphor.rb
Labels: bump-cask-pr

#127494 add "Black Light Pro.app" v1.2
  Casks/black-light-pro.rb
Labels: new cask

#127498 Update mkvtoolnix from 68.0.0 to 69.0.0
  Casks/mkvtoolnix.rb
Labels: bump-cask-pr

#127503 djview: add livecheck
  Casks/djview.rb
Labels: livecheck

#127511 Update vienna from 3.8.0 to 3.7.4
  Casks/vienna.rb
Labels: bump-cask-pr

#127402 Add new cask for LemonLime 0.3.3
  Casks/lemonlime.rb
Labels: awaiting user reply, new cask

#127581 Update latest from 0.8.1 to 0.8.2
  Casks/latest.rb
Labels: bump-cask-pr

#127675 Update airbuddy from 2.5.3 to 2.5.4
  Casks/airbuddy.rb
Labels: bump-cask-pr

#127676 Update multipass from 1.9.2 to 1.10.0
  Casks/multipass.rb
Labels: bump-cask-pr

#127665 Update microsoft-powerpoint from 16.62.22061100 to 16.63.22070801
  Casks/microsoft-powerpoint.rb
Labels: bump-cask-pr

#127709 Update tencent-docs from 2.3.8 to 2.3.10
  Casks/tencent-docs.rb
Labels: bump-cask-pr

#127711 Update app-fair from 0.8.70 to 0.8.71
  Casks/app-fair.rb
Labels: bump-cask-pr

#127712 Update beeper from 3.16.1 to 3.17.13
  Casks/beeper.rb
Labels: bump-cask-pr

#127713 Update datasette from 0.2.1 to 0.2.2
  Casks/datasette.rb
Labels: bump-cask-pr

#127721 Update permute from 3.9.4 to 3.9.5
  Casks/permute.rb
Labels: bump-cask-pr

#127722 Update melodics from 2.1.8053 to 2.1.8058
  Casks/melodics.rb
Labels: bump-cask-pr

#127804 Update warp from 0.2022.07.04.09.08.stable_02 to 0.2022.07.11.09.11.stable_00
  Casks/warp.rb
Labels: bump-cask-pr

#127788 Update radar from 2.4.2 to 2.4.3
  Casks/radar.rb
Labels: bump-cask-pr

#127725 Update kindavim from 27.0.0 to 28.0.0
  Casks/kindavim.rb
Labels: bump-cask-pr

#127720 Add cardinal 22.06
  Casks/cardinal.rb
Labels: new cask

#127727 Add ukrainian-typographic-keyboard cask
  Casks/ukrainian-typographic-keyboard.rb
Labels: new cask

#127796 Update sage from 9.6,1.4.1 to 9.6,1.4.2
  Casks/sage.rb
Labels: bump-cask-pr

#127881 Update tor-browser from 11.0.15 to 11.5
  Casks/tor-browser.rb
Labels: bump-cask-pr

#127883 Update weakauras-companion from 4.0.3 to 4.0.4
  Casks/weakauras-companion.rb
Labels: bump-cask-pr

#127880 Update lapce from 0.1.2 to 0.1.3
  Casks/lapce.rb
Labels: bump-cask-pr

#127879 Update microsoft-edge from 103.0.1264.51 to 103.0.1264.62
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#127878 Update cloudflare-warp from 2022.5.342.0 to 2022.7.175.0
  Casks/cloudflare-warp.rb
Labels: bump-cask-pr

#127877 Update mmhmm from 2.3.1 to 2.3.2
  Casks/mmhmm.rb
Labels: bump-cask-pr

#127876 Update altserver from 1.5 to 1.5.1
  Casks/altserver.rb
Labels: bump-cask-pr

#127852 Update cinc-workstation from 22.6.973 to 22.7.1006
  Casks/cinc-workstation.rb
Labels: bump-cask-pr

#127885 Update exodus from 22.7.1 to 22.7.15
  Casks/exodus.rb
Labels: bump-cask-pr

#127886 Update basecamp from 3,2.3.4 to 3,2.3.5
  Casks/basecamp.rb
Labels: bump-cask-pr

#127887 Update bricklink-studio from 2.22.6_1 to 2.22.7_1
  Casks/bricklink-studio.rb
Labels: bump-cask-pr

#127888 Update audio-hijack from 4.0.3 to 4.0.4
  Casks/audio-hijack.rb
Labels: bump-cask-pr

#127889 Update uvtools from 3.5.3 to 3.5.4
  Casks/uvtools.rb
Labels: bump-cask-pr

#127901 Update nvidia-geforce-now from 2.0.42.116 to 2.0.42.124
  Casks/nvidia-geforce-now.rb
Labels: bump-cask-pr

#127997 Update ipe from 7.2.24 to 7.2.26
  Casks/ipe.rb
Labels: bump-cask-pr

#127912 Update pdf-expert to 3.0.24
  Casks/pdf-expert.rb
Labels: automerge-skip

#128006 Update quarto from 1.0.27 to 1.0.28
  Casks/quarto.rb
Labels: bump-cask-pr

#128040 butler: Restore cask
  Casks/butler.rb
Labels: new cask

#128049 witch: Restore cask
  Casks/witch.rb
Labels: new cask

#128048 time-sink: Restore cask
  Casks/time-sink.rb
Labels: new cask

#128047 resolutionator: Restore cask
  Casks/resolutionator.rb
Labels: new cask

#128046 name-mangler: Restore cask
  Casks/name-mangler.rb
Labels: new cask

#128045 moom: Restore cask
  Casks/moom.rb
Labels: new cask

#128044 menuwhere: Restore cask
  Casks/menuwhere.rb
Labels: new cask

#128043 leech: Restore cask
  Casks/leech.rb
Labels: new cask

#128042 key-codes: Restore cask
  Casks/key-codes.rb
Labels: new cask

#128041 displaperture: Restore cask
  Casks/displaperture.rb
Labels: new cask

#128051 Update metasploit from 6.2.8,20220716103015 to 6.2.8,20220717103252
  Casks/metasploit.rb
Labels: bump-cask-pr

#128108 Update macupdater from 2.2.2,13656 to 2.2.2,13733
  Casks/macupdater.rb
Labels: bump-cask-pr

#128106 Update sonic-pi from 4.0.2 to 4.0.3
  Casks/sonic-pi.rb
Labels: bump-cask-pr

#128104 Update osu from 2022.716.1 to 2022.719.0
  Casks/osu.rb
Labels: bump-cask-pr

#128103 Update remote-desktop-manager-free from 2022.2.5.0 to 2022.2.8.0
  Casks/remote-desktop-manager-free.rb
Labels: bump-cask-pr

#128102 Update remote-desktop-manager from 2022.2.5.0 to 2022.2.8.0
  Casks/remote-desktop-manager.rb
Labels: bump-cask-pr

#128095 Update videoduke from 2.6 to 2.7
  Casks/videoduke.rb
Labels: bump-cask-pr

#128093 Update qiyimedia from 13.7.0 to 13.7.1
  Casks/qiyimedia.rb
Labels: bump-cask-pr

#128092 Update preform from 3.25.2 to 3.26.0
  Casks/preform.rb
Labels: bump-cask-pr

#128091 Update pitch from 1.83.0,stable.4,4374533 to 1.83.0,stable.5,4379984
  Casks/pitch.rb
Labels: bump-cask-pr

#128071 Add Astrofox.app v1.4.0
  Casks/astrofox.rb
Labels: new cask

#128125 Update dropzone from 4.4.0 to 4.4.1
  Casks/dropzone.rb
Labels: bump-cask-pr

#128124 Update foxglove-studio from 1.17.1 to 1.18.0
  Casks/foxglove-studio.rb
Labels: bump-cask-pr

#128115 Update dbgate from 5.0.7 to 5.0.8
  Casks/dbgate.rb
Labels: bump-cask-pr

#128109 Update tailscale from 1.26.2 to 1.28.0
  Casks/tailscale.rb
Labels: bump-cask-pr

#128146 Update pichon from 1.0.11 to 1.0.12
  Casks/pichon.rb
Labels: bump-cask-pr

#128145 Update expressvpn from 11.3.0.67753 to 11.4.0.68315
  Casks/expressvpn.rb
Labels: bump-cask-pr

#128144 Update thingsmacsandboxhelper from 3.26 to 3.27
  Casks/thingsmacsandboxhelper.rb
Labels: bump-cask-pr

#128142 Update thebrain from 12.0.92.0 to 12.0.93.0
  Casks/thebrain.rb
Labels: bump-cask-pr

#128141 Update virtualhere from 5.3.4 to 5.3.5
  Casks/virtualhere.rb
Labels: bump-cask-pr

#128140 Update qownnotes from 22.7.4 to 22.7.5
  Casks/qownnotes.rb
Labels: bump-cask-pr

#128138 Update tortoisehg from 6.1.3 to 6.2
  Casks/tortoisehg.rb
Labels: bump-cask-pr

#128149 Update alfaview from 8.47.0 to 8.49.1
  Casks/alfaview.rb
Labels: bump-cask-pr

#128139 Add new cask `Drawpile` v2.1.20
  Casks/drawpile.rb
Labels: new cask

#127317 CalHash 1.1.7 - Add new cask
  Casks/calhash.rb
Labels: new cask

#128205 Update clay from 1.9.7 to 1.9.10
  Casks/clay.rb
Labels: bump-cask-pr

#128211 Update termius from 7.45.1 to 7.45.2
  Casks/termius.rb
Labels: bump-cask-pr

#128235 Update freedome from 2.52.322.0 to 2.53.324.0
  Casks/freedome.rb
Labels: bump-cask-pr

#128234 Update moneymoney from 2.4.13 to 2.4.14
  Casks/moneymoney.rb
Labels: bump-cask-pr

#128242 Update bitwig-studio from 4.3 to 4.3.2
  Casks/bitwig-studio.rb
Labels: bump-cask-pr

#128241 Update metashapepro from 1.8.3 to 1.8.4
  Casks/metashapepro.rb
Labels: bump-cask-pr

#128240 Update metashape from 1.8.3 to 1.8.4
  Casks/metashape.rb
Labels: bump-cask-pr

#128239 Update macdive from 2.16.0 to 2.16.1
  Casks/macdive.rb
Labels: bump-cask-pr

#128238 Update nucleo from 3.1.9 to 3.2.0
  Casks/nucleo.rb
Labels: bump-cask-pr

#128273 Update vrew from 0.11.19 to 0.11.20
  Casks/vrew.rb
Labels: bump-cask-pr

#128270 Update setapp from 3.6.0 to 3.7.0
  Casks/setapp.rb
Labels: bump-cask-pr

#128268 Update pitch from 1.84.0,stable.1,4392250 to 1.84.0,stable.2,4405398
  Casks/pitch.rb
Labels: bump-cask-pr

#128267 Update photo-supreme-single-user from 7.2.0.4432 to 7.3.0.4438
  Casks/photo-supreme-single-user.rb
Labels: bump-cask-pr
