Repository Homebrew/homebrew-cask, pull requests merged in 2022-09, with the labels that each got.

#130796 Update dropbox from 155.4.5495 to 156.4.4908
  Casks/dropbox.rb
Labels: bump-cask-pr

#130817 Update moneymoney from 2.4.15 to 2.4.16
  Casks/moneymoney.rb
Labels: bump-cask-pr

#130824 Update curseforge from 0.206.2-1 to 0.206.3-1
  Casks/curseforge.rb
Labels: bump-cask-pr

#130823 Update typora from 1.3.7 to 1.4.2
  Casks/typora.rb
Labels: bump-cask-pr

#130822 Update mediahuman-youtube-downloader from 3.9.9.76 to 3.9.9.75
  Casks/mediahuman-youtube-downloader.rb
Labels: bump-cask-pr

#130821 Update youtube-to-mp3 from 3.9.9.74 to 3.9.9.75
  Casks/youtube-to-mp3.rb
Labels: bump-cask-pr

#130818 Update osu from 2022.821.0 to 2022.901.0
  Casks/osu.rb
Labels: bump-cask-pr

#130840 Update texshop from 5.01 to 5.02
  Casks/texshop.rb
Labels: bump-cask-pr

#130839 Update flacon from 9.1.0 to 9.2.0
  Casks/flacon.rb
Labels: bump-cask-pr

#130837 Update asana from 1.10.0 to 1.10.1
  Casks/asana.rb
Labels: bump-cask-pr

#130836 Update warp from 0.2022.08.23.08.06.stable_01 to 0.2022.08.31.18.11.stable_00
  Casks/warp.rb
Labels: bump-cask-pr

#130835 Update osu from 2022.901.0 to 2022.902.1
  Casks/osu.rb
Labels: bump-cask-pr

#130834 Update visual-studio-code from 1.70.2 to 1.71.0
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#130833 Update docker from 4.11.1 to 4.12.0
  Casks/docker.rb
Labels: bump-cask-pr

#130827 Update cryptomator from 1.6.13 to 1.6.14
  Casks/cryptomator.rb
Labels: bump-cask-pr

#130828 Update brave-browser from 1.42.97.0 to 1.43.88.0
  Casks/brave-browser.rb
Labels: bump-cask-pr

#130831 Update bettertouchtool from 3.839 to 3.842
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#130790 Add orka-vm-tools v2.2
  Casks/orka-vm-tools.rb
Labels: new cask

#130820 reflect 2.0.1
  Casks/reflect.rb
Labels: new cask, ci-skip-repository

#130842 Update microsoft-edge from 104.0.1293.70 to 105.0.1343.25
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#130843 Update skype from 8.87.0.406 to 8.88.0.401
  Casks/skype.rb
Labels: bump-cask-pr

#130846 Update grammarly-desktop from 1.9.1.0 to 1.10.0.3
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#130848 Update fig from 1.0.60 to 1.0.61
  Casks/fig.rb
Labels: bump-cask-pr

#130849 Update logseq from 0.8.3 to 0.8.4
  Casks/logseq.rb
Labels: bump-cask-pr

#130850 Update bettertouchtool from 3.842 to 3.843
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#130852 Update virtualbox from 6.1.36 to 6.1.38
  Casks/virtualbox.rb
Labels: bump-cask-pr

#130853 Update virtualbox-extension-pack from 6.1.36 to 6.1.38
  Casks/virtualbox-extension-pack.rb
Labels: bump-cask-pr

#130920 Update unity from 2022.1.14f1 to 2022.1.15f1
  Casks/unity.rb
Labels: bump-cask-pr

#130938 Update deezer from 5.30.310 to 5.30.320
  Casks/deezer.rb
Labels: bump-cask-pr

#130946 Update manyverse from 0.2208.5-beta to 0.2209.2-beta
  Casks/manyverse.rb
Labels: bump-cask-pr

#130945 Update lrtimelapse from 6.1.0 to 6.1.1
  Casks/lrtimelapse.rb
Labels: bump-cask-pr

#130944 Update ledger-live from 2.46.0 to 2.46.2
  Casks/ledger-live.rb
Labels: bump-cask-pr

#130939 Update fastrawviewer from 2.0.4.1912 to 2.0.5.1945
  Casks/fastrawviewer.rb
Labels: bump-cask-pr

#130935 Update banana-cake-pop from 1.0.0 to 1.0.1
  Casks/banana-cake-pop.rb
Labels: bump-cask-pr

#130934 Update metasploit from 6.2.15 to 6.2.16
  Casks/metasploit.rb
Labels: bump-cask-pr

#130933 Update unity-windows-support-for-editor from 2022.1.14f1 to 2022.1.15f1
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#130932 Update unity-webgl-support-for-editor from 2022.1.14f1 to 2022.1.15f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#130980 Update obs from 28.0.0 to 28.0.1
  Casks/obs.rb
Labels: bump-cask-pr

#130982 Update brave-browser from 1.43.88.0 to 1.43.89.0
  Casks/brave-browser.rb
Labels: bump-cask-pr

#130983 Update microsoft-edge from 105.0.1343.25 to 105.0.1343.27
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#130986 Update drawio from 20.2.3 to 20.2.8
  Casks/drawio.rb
Labels: bump-cask-pr

#130985 Update typora from 1.4.2 to 1.4.3
  Casks/typora.rb
Labels: bump-cask-pr

#130996 Update igv from 2.14.0 to 2.14.1
  Casks/igv.rb
Labels: bump-cask-pr

#130993 Update droplr from 5.9.18 to 5.9.19
  Casks/droplr.rb
Labels: bump-cask-pr

#130992 Update chromium-gost from 104.0.5112.102 to 105.0.5195.102
  Casks/chromium-gost.rb
Labels: bump-cask-pr

#130991 Update c0re100-qbittorrent from 4.4.4.10 to 4.4.5.10
  Casks/c0re100-qbittorrent.rb
Labels: bump-cask-pr

#130990 Update bookends from 14.1.1 to 14.1.2
  Casks/bookends.rb
Labels: bump-cask-pr

#130989 Update bettertouchtool from 3.847 to 3.856
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#130988 Update beatunes from 5.2.28 to 5.2.29
  Casks/beatunes.rb
Labels: bump-cask-pr

#130987 Update vivaldi from 5.4.2753.45 to 5.4.2753.47
  Casks/vivaldi.rb
Labels: bump-cask-pr

#130998 Update lunar from 5.7.8 to 5.7.9
  Casks/lunar.rb
Labels: bump-cask-pr

#130997 Update lapce from 0.1.3 to 0.2.0
  Casks/lapce.rb
Labels: bump-cask-pr

#130995 Update hstracker from 2.2.4 to 2.2.5
  Casks/hstracker.rb
Labels: bump-cask-pr

#130994 Update fmail2 from 1.1.2 to 1.1.3
  Casks/fmail2.rb
Labels: bump-cask-pr

#130976 Add BlueBubbles 1.3.0
  Casks/bluebubbles.rb
Labels: new cask

#130847 add lectrote interactive fiction reader as cask
  Casks/lectrote.rb
Labels: awaiting user reply, new cask

#131024 Update xiv-on-mac from 4.2 to 4.2.1
  Casks/xiv-on-mac.rb
Labels: bump-cask-pr

#131022 Update strawberry from 1.0.8 to 1.0.9
  Casks/strawberry.rb
Labels: bump-cask-pr

#131021 Update sigil from 1.9.10 to 1.9.20
  Casks/sigil.rb
Labels: bump-cask-pr

#131019 Update mimestream from 0.36.2 to 0.37.0
  Casks/mimestream.rb
Labels: bump-cask-pr

#131018 Update localxpose from 22.8.9 to 22.9.1
  Casks/localxpose.rb
Labels: bump-cask-pr

#131015 Update ddnet from 16.3.1 to 16.3.2
  Casks/ddnet.rb
Labels: bump-cask-pr

#131014 Update bettertouchtool from 3.856 to 3.859
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#131013 Update amethyst from 0.15.6 to 0.16.0
  Casks/amethyst.rb
Labels: bump-cask-pr

#131023 Update wezterm from 20220807-113146 to 20220903-194523
  Casks/wezterm.rb
Labels: bump-cask-pr

#131031 Add Notesnook v2.1.6
  Casks/notesnook.rb
Labels: new cask

#131027 Add douyin with version 1.3.0
  Casks/douyin
Labels: new cask

#131060 Update safeincloud-password-manager from 22.1.3 to 22.3.6
  Casks/safeincloud-password-manager.rb
Labels: bump-cask-pr

#131067 Update burp-suite-professional from 2022.8.3 to 2022.8.4
  Casks/burp-suite-professional.rb
Labels: bump-cask-pr

#131068 Update canva from 1.50.0 to 1.51.0
  Casks/canva.rb
Labels: bump-cask-pr

#131061 Add Apifox 2.1.34
  Casks/apifox.rb
Labels: new cask

#131071 Update wavebox from 10.104.14.2 to 10.105.8.2
  Casks/wavebox.rb
Labels: bump-cask-pr

#131074 Update wezterm from 20220903-194523 to 20220904-064125
  Casks/wezterm.rb
Labels: bump-cask-pr

#131078 Update typora from 1.4.3 to 1.4.4
  Casks/typora.rb
Labels: bump-cask-pr

#130580 Add postman-cli
  Casks/postman-cli.rb
Labels: new cask

#131112 Add Doll v0.0.7
  Casks/doll.rb
Labels: new cask

#131070 Add Keet 1.1.0
  Casks/keet.rb
Labels: new cask

#131125 Update adrive from 3.9.0 to 3.10.0
  Casks/adrive.rb
Labels: bump-cask-pr

#131129 Update zoom from 5.11.10.10279 to 5.11.11.10514
  Casks/zoom.rb
Labels: bump-cask-pr

#131130 Update nvidia-geforce-now from 2.0.43.107 to 2.0.44.96
  Casks/nvidia-geforce-now.rb
Labels: bump-cask-pr

#131132 Update wezterm from 20220904-064125 to 20220905-102802
  Casks/wezterm.rb
Labels: bump-cask-pr

#131133 Update anka-build-cloud-controller-and-registry from 1.27.0-76c64d00 to 1.28.0-347c73ea
  Casks/anka-build-cloud-controller-and-registry.rb
Labels: bump-cask-pr

#131135 Update permute from 3.9.9 to 3.9.10
  Casks/permute.rb
Labels: bump-cask-pr

#131138 Update duckduckgo from 0.28.6 to 0.28.8
  Casks/duckduckgo.rb
Labels: bump-cask-pr

#131137 Update arq from 7.19.2 to 7.19.3
  Casks/arq.rb
Labels: bump-cask-pr

#131136 Update downie from 4.5.9 to 4.5.10
  Casks/downie.rb
Labels: bump-cask-pr

#131126 Add Apipost 7.0.0
  Casks/apipost.rb
Labels: automerge-skip, new cask

#131141 Update webex-meetings from 2208.2620.4209.3 to 2209.0103.4209.4
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#131142 Update 1password from 8.8.0 to 8.9.4
  Casks/1password.rb
Labels: bump-cask-pr

#131145 Update listen1 from 2.25.0 to 2.26.0
  Casks/listen1.rb
Labels: bump-cask-pr

#131146 Update logseq from 0.8.4 to 0.8.5
  Casks/logseq.rb
Labels: bump-cask-pr

#131148 Update grammarly-desktop from 1.10.0.3 to 1.10.0.4
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#131155 Update tutanota from 3.98.24 to 3.100.0
  Casks/tutanota.rb
Labels: bump-cask-pr

#131156 Update cleanmymac from 4.11.2 to 4.11.3
  Casks/cleanmymac.rb
Labels: bump-cask-pr

#131153 Add BEAST v2.7.0
  Casks/beast2.rb
Labels: new cask

#131144 Update deepl from 3.5.248587 to 3.5.251434
  Casks/deepl.rb
Labels: bump-cask-pr

#131160 Update bettertouchtool from 3.869 to 3.870
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#131162 Update jami from 2022082616 to 2022090617
  Casks/jami.rb
Labels: bump-cask-pr

#131163 Update pritunl from 1.3.3281.66 to 1.3.3282.37
  Casks/pritunl.rb
Labels: bump-cask-pr

#131164 Update todoist from 8.0.7 to 8.1.0
  Casks/todoist.rb
Labels: bump-cask-pr

#131165 Update quit-all from 1.2.1 to 1.2.2
  Casks/quit-all.rb
Labels: bump-cask-pr

#131167 Update opencore-configurator from 2.62.0.0 to 2.62.1.0
  Casks/opencore-configurator.rb
Labels: bump-cask-pr

#131168 Update sitesucker-pro from 5.0.3 to 5.0.4
  Casks/sitesucker-pro.rb
Labels: bump-cask-pr

#131169 Update blender from 3.2.2 to 3.3.0
  Casks/blender.rb
Labels: bump-cask-pr

#131171 Update webex from 42.8.0.23281 to 42.9.0.23494
  Casks/webex.rb
Labels: bump-cask-pr

#131159 Update nextcloud from 3.5.4 to 3.6.0
  Casks/nextcloud.rb
Labels: bump-cask-pr

#131174 Update bettertouchtool from 3.870 to 3.871
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#131177 Update odrive from 7291 to 7309
  Casks/odrive.rb
Labels: bump-cask-pr

#131178 Update fme from 2022.1.1 to 2022.1.2
  Casks/fme.rb
Labels: bump-cask-pr

#131179 Update signal from 5.57.0 to 5.58.0
  Casks/signal.rb
Labels: bump-cask-pr

#131181 Update ibackup-viewer from 4.2670 to 4.2680
  Casks/ibackup-viewer.rb
Labels: bump-cask-pr

#131182 Update reaper from 6.66 to 6.67
  Casks/reaper.rb
Labels: bump-cask-pr

#131183 Add Looking Glass Studio v1.5.0
  Casks/lookingglassstudio.rb
Labels: automerge-skip, new cask

#131184 Add Spline v0.9.0 for M1
  Casks/spline.rb
Labels: automerge-skip, new cask

#131187 Update gog-galaxy from 2.0.53.99 to 2.0.54.22
  Casks/gog-galaxy.rb
Labels: bump-cask-pr

#131188 Update wireshark from 3.6.7 to 3.6.8
  Casks/wireshark.rb
Labels: bump-cask-pr

#131195 Update lightkey from 4.0.3 to 4.0.4
  Casks/lightkey.rb
Labels: bump-cask-pr

#131196 Update rectangle-pro from 2.5 to 2.5.1
  Casks/rectangle-pro.rb
Labels: bump-cask-pr

#131194 Update google-drive from 62.0.2 to 63.0.5
  Casks/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#131199 Update pritunl from 1.3.3282.37 to 1.3.3283.46
  Casks/pritunl.rb
Labels: bump-cask-pr

#131200 Update whalebird from 4.6.3 to 4.6.5
  Casks/whalebird.rb
Labels: bump-cask-pr

#131201 Update gitkraken from 8.8.0 to 8.9.0
  Casks/gitkraken.rb
Labels: bump-cask-pr

#131203 Update warp from 0.2022.08.31.18.11.stable_00 to 0.2022.09.07.14.56.stable_00
  Casks/warp.rb
Labels: bump-cask-pr

#131204 Update flipper from 0.162.0 to 0.163.0
  Casks/flipper.rb
Labels: bump-cask-pr

#131205 Update tableplus from 4.8.2 to 4.8.6
  Casks/tableplus.rb
Labels: bump-cask-pr

#131207 Update microsoft-edge from 105.0.1343.27 to 105.0.1343.33
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#131210 Update polymc from 1.4.1 to 1.4.2
  Casks/polymc.rb
Labels: bump-cask-pr

#131197 Add Quixel Bridge v2022.0.6
  Casks/bridge.rb
Labels: automerge-skip, new cask

#131202 Add Looking Glass Bridge v2.0.6
  Casks/lookingglassbridge.rb
Labels: automerge-skip, new cask

#131198 Update arq from 7.19.3 to 7.19.4
  Casks/arq.rb
Labels: bump-cask-pr

#131211 Update datagrip from 2022.2.2 to 2022.2.3
  Casks/datagrip.rb
Labels: bump-cask-pr

#131212 Update fishing-funds from 6.2.2 to 6.3.0
  Casks/fishing-funds.rb
Labels: bump-cask-pr

#131213 Update moneymoney from 2.4.16 to 2.4.17
  Casks/moneymoney.rb
Labels: bump-cask-pr

#131214 Update blender-benchmark from 3.0.0 to 3.1.0
  Casks/blender-benchmark.rb
Labels: bump-cask-pr

#131307 Update rectangle-pro from 2.5.1 to 2.5.2
  Casks/rectangle-pro.rb
Labels: bump-cask-pr

#131354 Update aptible from 0.19.3 to 0.19.4
  Casks/aptible.rb
Labels: bump-cask-pr

#131336 Update virtualbuddy from 1.2.1 to 1.2.2
  Casks/virtualbuddy.rb
Labels: ci-skip-install, bump-cask-pr

#131301 Update fig from 1.0.61,518 to 1.0.61,520
  Casks/fig.rb
Labels: bump-cask-pr

#131296 Update prezi-video from 2.12.0 to 2.13.0
  Casks/prezi-video.rb
Labels: bump-cask-pr

#131225 Update jetbrains-toolbox from 1.25,1.25.12627 to 1.25,1.25.12999
  Casks/jetbrains-toolbox.rb
Labels: bump-cask-pr

#131230 Update figma from 116.3.6 to 116.3.7
  Casks/figma.rb
Labels: bump-cask-pr

#131224 Update lens from 6.0.1 to 6.0.2
  Casks/lens.rb
Labels: bump-cask-pr

#131223 Update keyboard-maestro from 10.1.1 to 10.2
  Casks/keyboard-maestro.rb
Labels: bump-cask-pr

#131220 Update netbeans from 14 to 15
  Casks/netbeans.rb
Labels: bump-cask-pr

#131219 Update tortoisehg from 6.2.1 to 6.2.2
  Casks/tortoisehg.rb
Labels: bump-cask-pr

#131218 Update bettertouchtool from 3.871 to 3.872
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#131217 Update keka from 1.2.55 to 1.2.56
  Casks/keka.rb
Labels: bump-cask-pr

#130649 Add languagetool for desktop
  Casks/languagetool.rb
Labels: automerge-skip, new cask

#131216 Update dingtalk from 6.5.32.10 to 6.5.42.5
  Casks/dingtalk.rb
Labels: bump-cask-pr

#131371 Update routeconverter from 2.31.335 to 2.32.345
  Casks/routeconverter.rb
Labels: bump-cask-pr
