Repository Homebrew/homebrew-cask, pull requests merged in 2022-01, with the labels that each got.

#116727 Update metasploit from 6.1.22 to 6.1.23
  Casks/metasploit.rb
Labels: bump-cask-pr

#116724 Update telegram-desktop from 3.4.0 to 3.4.2
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#116735 Update keycombiner from 0.5.0 to 0.6.0
  Casks/keycombiner.rb
Labels: bump-cask-pr

#116733 Update katalon-studio from 8.1.0 to 8.2.0
  Casks/katalon-studio.rb
Labels: bump-cask-pr

#116731 Update plistedplus from 1.2.08 to 1.2.12
  Casks/plistedplus.rb
Labels: bump-cask-pr

#116732 Update kaleidoscope from 3.1.2 to 3.1.3
  Casks/kaleidoscope.rb
Labels: bump-cask-pr

#116725 Update qth from 0.6.3 to 0.6.4
  Casks/qth.rb
Labels: bump-cask-pr

#116730 Update syntax-highlight from 2.1.5 to 2.1.6
  Casks/syntax-highlight.rb
Labels: bump-cask-pr

#116734 Update keep-it from 1.11.6 to 1.11.7
  Casks/keep-it.rb
Labels: bump-cask-pr

#116728 Update schildichat from 1.9.7-sc.1 to 1.9.8-sc.1
  Casks/schildichat.rb
Labels: bump-cask-pr

#116722 Update go-server from 21.3.0 to 21.4.0
  Casks/go-server.rb
Labels: bump-cask-pr

#116729 Update retroarch-metal from 1.9.13 to 1.9.14
  Casks/retroarch-metal.rb
Labels: bump-cask-pr

#116721 Update go-agent from 21.3.0 to 21.4.0
  Casks/go-agent.rb
Labels: bump-cask-pr

#116768 Update gitfox from 2.1.0,6488 to 2.1.0,6488
  Casks/gitfox.rb
Labels: bump-cask-pr

#116767 Update qth from 0.6.4 to 0.6.5
  Casks/qth.rb
Labels: bump-cask-pr

#116766 Update clash-for-windows from 0.19.3 to 0.19.4
  Casks/clash-for-windows.rb
Labels: bump-cask-pr

#116765 Update onyx from 4.1.4 to 4.1.5
  Casks/onyx.rb
Labels: bump-cask-pr

#116764 Update lunar-client from 2.9.1 to 2.9.3
  Casks/lunar-client.rb
Labels: bump-cask-pr

#116763 Update lrtimelapse from 5.7.1 to 5.8.0
  Casks/lrtimelapse.rb
Labels: bump-cask-pr

#116762 Update lunar from 5.1.2 to 5.2.0
  Casks/lunar.rb
Labels: bump-cask-pr

#116761 Update loom from 0.110.3 to 0.112.1
  Casks/loom.rb
Labels: bump-cask-pr

#116760 Update letter-opener from 14.0.1 to 14.0.2
  Casks/letter-opener.rb
Labels: bump-cask-pr

#116759 Update lbry from 0.51.2 to 0.52.0
  Casks/lbry.rb
Labels: bump-cask-pr

#116758 Update loaf from 1.1.17 to 1.1.18
  Casks/loaf.rb
Labels: bump-cask-pr

#116757 Update lark from 4.10.14 to 5.2.10
  Casks/lark.rb
Labels: bump-cask-pr

#116755 Update postbox from 7.0.53 to 7.0.54
  Casks/postbox.rb
Labels: bump-cask-pr

#116754 Update lx-music from 1.15.3 to 1.16.0
  Casks/lx-music.rb
Labels: bump-cask-pr

#116753 Update qt-design-studio from 2.2.2 to 2.3.1
  Casks/qt-design-studio.rb
Labels: bump-cask-pr

#116751 Update stats from 2.6.25 to 2.6.26
  Casks/stats.rb
Labels: bump-cask-pr

#116748 Update lincastor from 3.7 to 4.0
  Casks/lincastor.rb
Labels: bump-cask-pr

#116745 Update opencore-configurator from 2.54.1.0 to 2.55.0.0
  Casks/opencore-configurator.rb
Labels: bump-cask-pr

#116744 Update expressvpn from 10.11.0.6 to 10.12.0.6
  Casks/expressvpn.rb
Labels: bump-cask-pr

#116740 Update remnote from 1.5.1 to 1.5.3
  Casks/remnote.rb
Labels: bump-cask-pr

#116739 Update qownnotes from 21.12.8 to 22.1.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#116736 Update cocktail from 15.1 to 15.2
  Casks/cocktail.rb
Labels: bump-cask-pr

#116743 Update sitesucker-pro from 4.3 to 4.3.1
  Casks/sitesucker-pro.rb
Labels: bump-cask-pr

#116741 Update mediahuman-youtube-downloader from 3.9.9.62 to 3.9.9.64
  Casks/mediahuman-youtube-downloader.rb
Labels: bump-cask-pr

#116742 Update dosbox-x from 0.83.20 to 0.83.21
  Casks/dosbox-x.rb
Labels: bump-cask-pr

#116756 Add cask "openin" v3.0.3
  Casks/openin.rb
Labels: new cask

#116713 Add Restream Chat
  Casks/restream-chat.rb
Labels: new cask

#116750 Add DirEqual 4.0
  Casks/direqual.rb
Labels: new cask

#116769 Update ssokit from 1.1.9 to 1.2.0
  Casks/ssokit.rb
Labels: bump-cask-pr

#116770 Update gitfox from 2.1.0,6488 to 2.1.0,6488
  Casks/gitfox.rb
Labels: bump-cask-pr

#116803 Update dataspell from 2021.3 to 2021.3.1
  Casks/dataspell.rb
Labels: bump-cask-pr

#116796 Update clion from 2021.3.1 to 2021.3.2
  Casks/clion.rb
Labels: bump-cask-pr

#116795 Update appcode from 2021.3 to 2021.3.1
  Casks/appcode.rb
Labels: bump-cask-pr

#116794 Update workflowy from 1.3.7-2646 to 1.3.7-2795
  Casks/workflowy.rb
Labels: bump-cask-pr

#116801 Update phpstorm from 2021.3 to 2021.3.1
  Casks/phpstorm.rb
Labels: bump-cask-pr

#116793 Update weiyun from 5.2.1140 to 5.2.1184
  Casks/weiyun.rb
Labels: bump-cask-pr

#116802 Update rubymine from 2021.3 to 2021.3.1
  Casks/rubymine.rb
Labels: bump-cask-pr

#116799 Update mps from 2021.2.2 to 2021.2.3
  Casks/mps.rb
Labels: bump-cask-pr

#116791 Update wavebox from 10.96.36.2 to 10.96.38.2
  Casks/wavebox.rb
Labels: bump-cask-pr

#116789 Update wezterm from 20211205-192649 to 20220101-133340
  Casks/wezterm.rb
Labels: bump-cask-pr

#116788 Update raven-reader from 1.0.68 to 1.0.69
  Casks/raven-reader.rb
Labels: bump-cask-pr

#116797 Update goland from 2021.3.1 to 2021.3.2
  Casks/goland.rb
Labels: bump-cask-pr

#116792 Update webstorm from 2021.3 to 2021.3.1
  Casks/webstorm.rb
Labels: bump-cask-pr

#116780 Update mplab-xc32 from 3.01 to 4.00
  Casks/mplab-xc32.rb
Labels: bump-cask-pr

#116746 Update vcv-rack from 2.0.4 to 2.0.5
  Casks/vcv-rack.rb
Labels: bump-cask-pr

#116800 Add SMARTReporter Free 3.2.0
  Casks/smartreporter-free.rb
Labels: new cask

#116805 Add SSDReporter Free 1.6.0
  Casks/ssdreporter-free.rb
Labels: new cask

#116825 Update deepstream from 6.0.0 to 6.0.1
  Casks/deepstream.rb
Labels: bump-cask-pr

#116821 Update mate-translate from 7.1.2 to 8.1.2
  Casks/mate-translate.rb
Labels: bump-cask-pr

#116820 Update manico from 2.9.4 to 2.10.1
  Casks/manico.rb
Labels: bump-cask-pr

#116819 Update mailbutler from 4610 to 4709
  Casks/mailbutler.rb
Labels: bump-cask-pr

#116817 Update maintenance from 2.8.6 to 2.8.8
  Casks/maintenance.rb
Labels: bump-cask-pr

#116816 Update macx-video-converter-pro from 6.5.9 to 6.6.0
  Casks/macx-video-converter-pro.rb
Labels: bump-cask-pr

#116815 Update macgdbp from 2.0.3 to 2.1
  Casks/macgdbp.rb
Labels: bump-cask-pr

#116814 Update macdroid from 1.3 to 1.4
  Casks/macdroid.rb
Labels: bump-cask-pr

#116813 Update live-home-3d from 4.2.0 to 4.2.1
  Casks/live-home-3d.rb
Labels: bump-cask-pr

#116812 Update lycheeslicer from 3.6.0 to 3.6.2
  Casks/lycheeslicer.rb
Labels: bump-cask-pr

#116811 Update gitfox from 2.1.0 to 2.2.0
  Casks/gitfox.rb
Labels: bump-cask-pr

#116810 Update gpxsee from 10.0 to 10.1
  Casks/gpxsee.rb
Labels: bump-cask-pr

#116809 Update koodo-reader from 1.3.9 to 1.4.0
  Casks/koodo-reader.rb
Labels: bump-cask-pr

#116808 Update qownnotes from 22.1.0 to 22.1.2
  Casks/qownnotes.rb
Labels: bump-cask-pr

#116822 Update mblock from 5.3.5 to 5.4.0
  Casks/mblock.rb
Labels: bump-cask-pr

#116818 Update mana-security from 2.4.0 to 2.4.1
  Casks/mana-security.rb
Labels: automerge-skip, bump-cask-pr

#116828 Update gdlauncher from 1.1.20 to 1.1.21
  Casks/gdlauncher.rb
Labels: bump-cask-pr

#116829 Update curseforge from 0.188.3-0 to 0.189.2-0
  Casks/curseforge.rb
Labels: bump-cask-pr

#116832 Update notunes from 3.1 to 3.2
  Casks/notunes.rb
Labels: bump-cask-pr

#116831 Add Paperpile citation plugin for MS Word v0.7.2
  Casks/paperpile.rb
Labels: new cask

#116840 Update permute from 3.7.9 to 3.8
  Casks/permute.rb
Labels: bump-cask-pr

#116834 Update kext-updater from 4.0.0 to 4.0.1
  Casks/kext-updater.rb
Labels: bump-cask-pr

#116835 Update cloudmounter from 3.10 to 3.11
  Casks/cloudmounter.rb
Labels: bump-cask-pr

#116837 Update firefly from 1.3.0 to 1.3.2
  Casks/firefly.rb
Labels: bump-cask-pr

#116838 Update josm from 18303 to 18360
  Casks/josm.rb
Labels: bump-cask-pr

#116855 Update runelite from 2.2.0 to 2.3.0
  Casks/runelite.rb
Labels: bump-cask-pr

#116848 Update turbovnc-viewer from 2.2.6 to 2.2.90
  Casks/turbovnc-viewer.rb
Labels: bump-cask-pr

#116847 Update yesplaymusic from 0.4.2 to 0.4.3
  Casks/yesplaymusic.rb
Labels: bump-cask-pr

#116853 Update panoply from 4.12.13 to 5.0.0
  Casks/panoply.rb
Labels: bump-cask-pr

#116858 Update openvisualtraceroute from 1.7.1 to 2.0.0
  Casks/openvisualtraceroute.rb
Labels: bump-cask-pr

#116836 Update antconc from 3.5.9 to 4.0.2
  Casks/antconc.rb
Labels: bump-cask-pr

#116859 Update data-rescue from 6.0.5 to 6.0.6
  Casks/data-rescue.rb
Labels: bump-cask-pr

#116860 Update xampp-vm from 8.1.0-0 to 8.1.1-2
  Casks/xampp-vm.rb
Labels: bump-cask-pr

#116895 Update starsector from 0.95a-RC15 to 0.95.1a-RC6
  Casks/starsector.rb
Labels: bump-cask-pr

#116893 Update metashapepro from 1.7.5 to 1.8.0
  Casks/metashapepro.rb
Labels: bump-cask-pr

#116892 Update metashape from 1.7.5 to 1.8.0
  Casks/metashape.rb
Labels: bump-cask-pr

#116891 Update metabase from 0.41.2 to 0.41.4
  Casks/metabase.rb
Labels: bump-cask-pr

#116890 Update menubar-stats from 3.8 to 3.8.5
  Casks/menubar-stats.rb
Labels: bump-cask-pr

#116889 Update memory from 2021.09 to 2021.12
  Casks/memory.rb
Labels: bump-cask-pr

#116888 Update mem from 0.26.0 to 0.27.2
  Casks/mem.rb
Labels: bump-cask-pr

#116887 Update melodics from 2.1.6747 to 2.1.6960
  Casks/melodics.rb
Labels: bump-cask-pr

#116886 Update media-center from 28.00.79 to 28.00.96
  Casks/media-center.rb
Labels: bump-cask-pr

#116880 Update metasploit from 6.1.23,20211231112930 to 6.1.23,20220103171757
  Casks/metasploit.rb
Labels: bump-cask-pr

#116878 Update fmail from 2.4.8 to 2.4.9
  Casks/fmail.rb
Labels: bump-cask-pr

#116876 Update subler from 1.7.1 to 1.7.2
  Casks/subler.rb
Labels: bump-cask-pr

#116875 Update banktivity from 8.6.1 to 8.6.2
  Casks/banktivity.rb
Labels: bump-cask-pr

#116871 Update bettertouchtool from 3.697 to 3.698
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#116883 Update beekeeper-studio from 2.1.5 to 3.0.1
  Casks/beekeeper-studio.rb
Labels: bump-cask-pr

#116877 Update jump from 8.8.16 to 8.8.28
  Casks/jump.rb
Labels: bump-cask-pr

#116864 Update sparkle from 1.27.1 to 2.0.0
  Casks/sparkle.rb
Labels: bump-cask-pr

#116861 Update copyq from 5.0.0 to 6.0.1
  Casks/copyq.rb
Labels: bump-cask-pr

#116884 Add Notion Enhanced
  Casks/notion-enhanced.rb
Labels: new cask

#116896 Update bettertouchtool from 3.698 to 3.699
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#116881 Add Creality Slicer v4.8.2-96
  Casks/creality-slicer.rb
Labels: new cask

#116900 Update chirp from 20211221 to 20220103
  Casks/chirp.rb
Labels: bump-cask-pr

#116901 Update gitfox from 2.2.0 to 2.2.1
  Casks/gitfox.rb
Labels: bump-cask-pr

#116898 Update berrycast from 0.35.2 to 0.35.3
  Casks/berrycast.rb
Labels: bump-cask-pr

#116903 Update vimr from 0.35.0 to 0.36.0
  Casks/vimr.rb
Labels: bump-cask-pr

#116904 Update wsjtx from 2.5.3 to 2.5.4
  Casks/wsjtx.rb
Labels: bump-cask-pr

#116908 Update lagrange from 1.9.3 to 1.9.4
  Casks/lagrange.rb
Labels: bump-cask-pr

#116833 Update baidunetdisk from 4.3.2 to 4.4.1
  Casks/baidunetdisk.rb
Labels: bump-cask-pr

#116938 Update rocket-chat from 3.7.4 to 3.7.5
  Casks/rocket-chat.rb
Labels: bump-cask-pr

#116936 Update ltspice from 17.0.38 to 17.0.39
  Casks/ltspice.rb
Labels: bump-cask-pr

#116934 Update meteorologist from 3.5.0 to 3.5.1
  Casks/meteorologist.rb
Labels: bump-cask-pr

#116933 Update xpra from 4.3 to 4.3.1
  Casks/xpra.rb
Labels: bump-cask-pr

#116939 update only-switch from v.17 to v1.8
  Casks/only-switch.rb
Labels: automerge-skip

#116928 Update wechat from 3.2.2.17 to 3.2.2.18
  Casks/wechat.rb
Labels: bump-cask-pr

#116927 Update beekeeper-studio from 3.0.1 to 3.0.3
  Casks/beekeeper-studio.rb
Labels: bump-cask-pr

#116926 Update bettertouchtool from 3.699 to 3.701
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#116925 Update oxygen-xml-editor from 24.0,2021121317 to 24.0,2021121518
  Casks/oxygen-xml-editor.rb
Labels: bump-cask-pr

#116923 Update wifispoof from 3.8.0.1 to 3.8.0.2
  Casks/wifispoof.rb
Labels: bump-cask-pr

#116922 Update browserosaurus from 16.1.1 to 17.0.0
  Casks/browserosaurus.rb
Labels: bump-cask-pr

#116920 Update mailtrackerblocker from 0.5.6 to 0.5.7
  Casks/mailtrackerblocker.rb
Labels: bump-cask-pr

#116931 Add kMeet v1.1.34
  Casks/kmeet.rb
Labels: new cask

#116924 Update google-drive from 53.0.11 to 54.0.2
  Casks/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#116942 Update google-chrome from 96.0.4664.110 to 97.0.4692.71
  Casks/google-chrome.rb
Labels: bump-cask-pr

#116944 Update sirimote from 1.4.3 to 1.4.4
  Casks/sirimote.rb
Labels: bump-cask-pr

#116949 Update microblog from 2.1.2 to 2.3
  Casks/microblog.rb
Labels: bump-cask-pr

#116951 Update milanote from 3.0.11 to 3.0.15
  Casks/milanote.rb
Labels: bump-cask-pr

#116952 Update mochi from 1.12.6 to 1.13.1
  Casks/mochi.rb
Labels: bump-cask-pr

#116953 Update mongodb-compass from 1.29.5 to 1.29.6
  Casks/mongodb-compass.rb
Labels: bump-cask-pr

#116956 Update mongodb-compass-isolated-edition from 1.29.4 to 1.29.6
  Casks/mongodb-compass-isolated-edition.rb
Labels: bump-cask-pr

#116957 Update mongodb-compass-readonly from 1.29.5 to 1.29.6
  Casks/mongodb-compass-readonly.rb
Labels: bump-cask-pr

#116958 Update mongodb-realm-studio from 11.1.0 to 11.1.1
  Casks/mongodb-realm-studio.rb
Labels: bump-cask-pr

#116960 Update monterey-cache-cleaner from 17.0 to 17.0.1
  Casks/monterey-cache-cleaner.rb
Labels: bump-cask-pr

#116961 Update murus from 2.2.1 to 2.2.2
  Casks/murus.rb
Labels: bump-cask-pr

#116962 Update mymonero from 1.2.1 to 1.2.4
  Casks/mymonero.rb
Labels: bump-cask-pr

#116965 Update smartreporter-free from 3.2.0,2572 to 3.2.0,2576
  Casks/smartreporter-free.rb
Labels: bump-cask-pr

#116967 Update paw from 3.3.2 to 3.3.3
  Casks/paw.rb
Labels: bump-cask-pr

#116968 Update bettertouchtool from 3.701 to 3.703
  Casks/bettertouchtool.rb
Labels: bump-cask-pr
