Repository Homebrew/homebrew-cask, pull requests merged in 2022-02, with the labels that each got.

#118476 Update skype-for-business from 16.29.0.72 to 16.29.0.78
  Casks/skype-for-business.rb
Labels: bump-cask-pr

#118477 Update element from 1.9.9 to 1.10.0
  Casks/element.rb
Labels: bump-cask-pr

#118478 Update telegram-desktop from 3.4.8 to 3.5.0
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#118480 Update local from 6.2.0 to 6.2.1
  Casks/local.rb
Labels: bump-cask-pr

#118475 Update around from 0.57.12 to 0.58.27
  Casks/around.rb
Labels: bump-cask-pr

#118486 Update lingon-x from 8.4.1 to 8.4.2
  Casks/lingon-x.rb
Labels: bump-cask-pr

#118487 Update cleanshot from 4.0.1 to 4.1
  Casks/cleanshot.rb
Labels: bump-cask-pr

#118488 Update aural from 3.5.0 to 3.5.1
  Casks/aural.rb
Labels: bump-cask-pr

#118466 Update routeconverter from 2.28.116 to 2.30.324
  Casks/routeconverter.rb
Labels: bump-cask-pr

#118489 Update dynobase from 1.8.1 to 1.8.2
  Casks/dynobase.rb
Labels: bump-cask-pr

#118490 Update telegram from 8.4.1 to 8.5
  Casks/telegram.rb
Labels: bump-cask-pr

#118493 Update telegram from 8.5,226935 to 8.5,226936
  Casks/telegram.rb
Labels: bump-cask-pr

#118494 Update chatty from 0.16 to 0.17
  Casks/chatty.rb
Labels: bump-cask-pr

#118495 Update bluewallet from 6.2.16 to 6.2.17
  Casks/bluewallet.rb
Labels: bump-cask-pr

#118496 Update shift from 7.2.8 to 7.2.10
  Casks/shift.rb
Labels: bump-cask-pr

#118497 Update kyokan-bob from 0.8.0 to 0.9.0
  Casks/kyokan-bob.rb
Labels: bump-cask-pr

#118498 Update advancedrestclient from 16.0.1 to 17.0.6
  Casks/advancedrestclient.rb
Labels: bump-cask-pr

#118499 Update dbgate from 4.6.0 to 4.6.1
  Casks/dbgate.rb
Labels: bump-cask-pr

#118500 Update electron from 16.0.8 to 17.0.0
  Casks/electron.rb
Labels: bump-cask-pr

#118501 Update flacon from 8.2.0 to 8.3.0
  Casks/flacon.rb
Labels: bump-cask-pr

#118502 Update igv from 2.11.9 to 2.12.0
  Casks/igv.rb
Labels: bump-cask-pr

#118503 Update metasploit from 6.1.28,20220130113304 to 6.1.28,20220131113056
  Casks/metasploit.rb
Labels: bump-cask-pr

#118504 Update miktex-console from 21.12.10 to 22.1
  Casks/miktex-console.rb
Labels: bump-cask-pr

#118505 Update munki from 5.6.2.4398 to 5.6.3.4401
  Casks/munki.rb
Labels: bump-cask-pr

#118509 Update textadept from 11.2 to 11.3
  Casks/textadept.rb
Labels: bump-cask-pr

#118510 Update tev from 1.22 to 1.23
  Casks/tev.rb
Labels: bump-cask-pr

#118508 Update pynsource from 1.81 to 1.83
  Casks/pynsource.rb
Labels: bump-cask-pr

#118530 Update google-chrome from 97.0.4692.99 to 98.0.4758.80
  Casks/google-chrome.rb
Labels: bump-cask-pr

#118537 Update busycontacts from 1.6.4,2022-01-26-00-48 to 1.6.4,2022-01-26-09-15
  Casks/busycontacts.rb
Labels: bump-cask-pr

#118536 Update busycal from 2021.4.4 to 2022.1.1
  Casks/busycal.rb
Labels: bump-cask-pr

#118535 Update blueharvest from 8.0.11 to 8.0.12
  Casks/blueharvest.rb
Labels: bump-cask-pr

#118534 Update binance from 1.30.1 to 1.31.0
  Casks/binance.rb
Labels: bump-cask-pr

#118533 Update bilimini from 1.5.6 to 1.5.7
  Casks/bilimini.rb
Labels: bump-cask-pr

#118529 Update youtube-downloader from 0.8 to 0.9
  Casks/youtube-downloader.rb
Labels: bump-cask-pr

#118527 Update bettertouchtool from 3.741 to 3.742
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#118526 Update keybase from 5.9.0 to 5.9.2
  Casks/keybase.rb
Labels: bump-cask-pr

#118539 Update cinc-workstation from 22.1.745 to 22.1.778
  Casks/cinc-workstation.rb
Labels: bump-cask-pr

#118525 Update macupdater from 2.1.2 to 2.1.3
  Casks/macupdater.rb
Labels: bump-cask-pr

#118522 Update maestral from 1.5.2 to 1.5.3
  Casks/maestral.rb
Labels: bump-cask-pr

#118521 Update lockrattler from 4.31 to 4.32
  Casks/lockrattler.rb
Labels: bump-cask-pr

#118517 Update audiobook-builder from 2.2.1 to 2.2.2
  Casks/audiobook-builder.rb
Labels: bump-cask-pr

#118516 Update atomic-wallet from 2.36.0 to 2.37.0
  Casks/atomic-wallet.rb
Labels: bump-cask-pr

#118515 Update alfaview from 8.36.0 to 8.37.0
  Casks/alfaview.rb
Labels: bump-cask-pr

#118514 Update appgate-sdp-client from 5.5.2 to 5.5.3
  Casks/appgate-sdp-client.rb
Labels: bump-cask-pr

#118528 Update boxcryptor from 2.43.1465 to 2.44.1602
  Casks/boxcryptor.rb
Labels: bump-cask-pr

#118513 Update ocenaudio from 3.11.2 to 3.11.3
  Casks/ocenaudio.rb
Labels: bump-cask-pr

#118545 Update clion from 2021.3.2 to 2021.3.3
  Casks/clion.rb
Labels: bump-cask-pr

#118543 Update onedrive from 21.245.1128.0002 to 22.002.0103.0004
  Casks/onedrive.rb
Labels: bump-cask-pr

#118542 Update nordvpn from 7.1.3 to 7.2.0
  Casks/nordvpn.rb
Labels: bump-cask-pr

#118541 Update xmplify from 1.10.3 to 1.10.4
  Casks/xmplify.rb
Labels: bump-cask-pr

#118544 Update logos from 9.10.0.0017 to 9.11.0.0019
  Casks/logos.rb
Labels: bump-cask-pr

#118512 Update streamlabs-obs from 1.6.0 to 1.7.0
  Casks/streamlabs-obs.rb
Labels: bump-cask-pr

#118520 Update ableton-live from 11.0.12 to 11.1
  Casks/ableton-live-intro.rb
  Casks/ableton-live-lite.rb
  Casks/ableton-live-standard.rb
  Casks/ableton-live-suite.rb
Labels: automerge-skip

#118523 Add Polypane v8.0.0
  Casks/polypane.rb
Labels: new cask

#118326 Update teamviewer from 15.26.4 to 15.26.5
  Casks/teamviewer.rb
Labels: awaiting maintainer feedback, bump-cask-pr

#118546 Update altair-graphql-client from 4.3.1 to 4.4.0
  Casks/altair-graphql-client.rb
Labels: bump-cask-pr

#118578 Update sky-ticket from 8.8.0 to 8.9.0
  Casks/sky-ticket.rb
Labels: bump-cask-pr

#118547 Update advancedrestclient from 17.0.6 to 17.0.7
  Casks/advancedrestclient.rb
Labels: bump-cask-pr

#118577 Update trackerzapper from 1.1.1 to 1.2.1
  Casks/trackerzapper.rb
Labels: bump-cask-pr

#118549 Update element from 1.10.0 to 1.10.1
  Casks/element.rb
Labels: bump-cask-pr

#118576 Update brave-browser from 1.34.81.0 to 1.35.100.0
  Casks/brave-browser.rb
Labels: bump-cask-pr

#118550 Update another-redis-desktop-manager from 1.5.1 to 1.5.2
  Casks/another-redis-desktop-manager.rb
Labels: bump-cask-pr

#118572 Update quarto from 0.3.73 to 0.3.79
  Casks/quarto.rb
Labels: bump-cask-pr

#118571 Update messenger from 137.4.106 to 138.6.115
  Casks/messenger.rb
Labels: bump-cask-pr

#118570 Update sunvox from 2.0b to 2.0c
  Casks/sunvox.rb
Labels: bump-cask-pr

#118567 Update guilded from 1.0.9119474 to 1.0.9122075
  Casks/guilded.rb
Labels: bump-cask-pr

#118564 Update unity from 2021.2.9f1 to 2021.2.10f1
  Casks/unity.rb
Labels: bump-cask-pr

#118563 Update postman from 9.11.0 to 9.12.0
  Casks/postman.rb
Labels: bump-cask-pr

#118562 Update aldente from 1.13 to 1.14
  Casks/aldente.rb
Labels: bump-cask-pr

#118561 Update abyssoft-teleport from 1.3.3 to 1.3.5
  Casks/abyssoft-teleport.rb
Labels: bump-cask-pr

#118559 Update springtoolsuite from 4.13.0 to 4.13.1
  Casks/springtoolsuite.rb
Labels: bump-cask-pr

#118558 Update sidequest from 0.10.26 to 0.10.27
  Casks/sidequest.rb
Labels: bump-cask-pr

#118555 Update music-bar from 1.5 to 1.6
  Casks/music-bar.rb
Labels: bump-cask-pr

#118554 Update jgrennison-openttd from 0.45.1 to 0.46.0
  Casks/jgrennison-openttd.rb
Labels: bump-cask-pr

#118553 Update plex-media-server from 1.25.4.5468 to 1.25.4.5487
  Casks/plex-media-server.rb
Labels: bump-cask-pr

#118565 Update mattermost from 5.0.2 to 5.0.3
  Casks/mattermost.rb
Labels: bump-cask-pr

#118560 Update scidavis from 1.26 to 2.7
  Casks/scidavis.rb
Labels: bump-cask-pr

#118556 Update mixxx from 2.3.1 to 2.3.2
  Casks/mixxx.rb
Labels: bump-cask-pr

#118552 Update libreoffice from 7.2.5 to 7.3.0
  Casks/libreoffice.rb
Labels: bump-cask-pr

#118557 Update libreoffice-language-pack from 7.2.5 to 7.3.0
  Casks/libreoffice-language-pack.rb
Labels: bump-cask-pr

#118581 Update unity-android-support-for-editor from 2021.2.9f1 to 2021.2.10f1
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr

#118582 Update unity-ios-support-for-editor from 2021.2.9f1 to 2021.2.10f1
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr

#118583 Update unity-webgl-support-for-editor from 2021.2.9f1 to 2021.2.10f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr

#118584 Update unity-windows-support-for-editor from 2021.2.9f1 to 2021.2.10f1
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr

#118588 Update kaleidoscope from 3.1.3 to 3.2
  Casks/kaleidoscope.rb
Labels: bump-cask-pr

#118594 Update signal from 5.29.1 to 5.30.0
  Casks/signal.rb
Labels: bump-cask-pr

#118593 Update kitty from 0.24.1 to 0.24.2
  Casks/kitty.rb
Labels: bump-cask-pr

#118595 Update google-chat-electron from 2.13.2 to 2.14.2
  Casks/google-chat-electron.rb
Labels: bump-cask-pr

#118609 Update trilium-notes from 0.49.5 to 0.50.1
  Casks/trilium-notes.rb
Labels: bump-cask-pr

#118607 Update spires from 2.0.6.1 to 2.0.7
  Casks/spires.rb
Labels: bump-cask-pr

#118606 Update metasploit from 6.1.28,20220131113056 to 6.1.28,20220203113025
  Casks/metasploit.rb
Labels: bump-cask-pr

#118604 Update gpxsee from 10.2 to 10.3
  Casks/gpxsee.rb
Labels: bump-cask-pr

#118603 Update monal from 5.1.0,764 to 5.1.0,767
  Casks/monal.rb
Labels: bump-cask-pr

#118602 Update blitz from 1.16.21 to 1.16.22
  Casks/blitz.rb
Labels: bump-cask-pr

#118601 Update chirp from 20220118 to 20220202
  Casks/chirp.rb
Labels: bump-cask-pr

#118600 Update devkinsta from 2.3.0.2184 to 2.4.0.2954
  Casks/devkinsta.rb
Labels: bump-cask-pr

#118599 Update linearmouse from 0.4.0 to 0.4.1
  Casks/linearmouse.rb
Labels: bump-cask-pr

#118598 Update ibackup-viewer from 4.2530 to 4.2540
  Casks/ibackup-viewer.rb
Labels: bump-cask-pr

#118605 Update gretl from 2021d to 2022a
  Casks/gretl.rb
Labels: bump-cask-pr

#118651 Update chromium from 964855 to 966981 (Intel) / from 964845 to 965870 (Arm)
  Casks/chromium.rb
Labels: bump-cask-pr

#118650 Update classroom-mode-for-minecraft from 1.81 to 1.81.v2
  Casks/classroom-mode-for-minecraft.rb
Labels: bump-cask-pr

#118649 Update coscreen from 3.9.42 to 3.9.43
  Casks/coscreen.rb
Labels: bump-cask-pr

#118648 Update compositor from 1.17.0 to 1.18.0
  Casks/compositor.rb
Labels: bump-cask-pr

#118647 Update clay from 1.7.3 to 1.8.1
  Casks/clay.rb
Labels: bump-cask-pr

#118645 Update chromedriver from 97.0.4692.71 to 98.0.4758.80
  Casks/chromedriver.rb
Labels: bump-cask-pr

#118644 Update chef-workstation from 22.1.745 to 22.1.778
  Casks/chef-workstation.rb
Labels: bump-cask-pr

#118643 Update clover from 1.0.0 to 1.1.0
  Casks/clover.rb
Labels: bump-cask-pr

#118641 Update logos from 9.11.0.0019 to 9.11.0.0022
  Casks/logos.rb
Labels: bump-cask-pr

#118640 Update curseforge from 0.191.1-0 to 0.191.3-0
  Casks/curseforge.rb
Labels: bump-cask-pr

#118631 Update screaming-frog-seo-spider from 16.5 to 16.6
  Casks/screaming-frog-seo-spider.rb
Labels: bump-cask-pr

#118608 Update subsurface from 5.0.5 to 5.0.6
  Casks/subsurface.rb
Labels: bump-cask-pr

#118655 Update semeru-jdk-open from 17.0.1+12 to 17.0.2+8
  Casks/semeru-jdk-open.rb
Labels: bump-cask-pr

#118654 Update vscodium from 1.63.2 to 1.64.0
  Casks/vscodium.rb
Labels: bump-cask-pr

#118646 Update microsoft-edge from 97.0.1072.76 to 98.0.1108.43
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#118642 Update beeper from 2.18.17 to 2.19.15
  Casks/beeper.rb
Labels: bump-cask-pr

#118639 Update gemini from 2.9.0 to 2.9.2
  Casks/gemini.rb
Labels: bump-cask-pr

#118636 Update webex from 42.1.0.21190 to 42.2.0.21338
  Casks/webex.rb
Labels: bump-cask-pr

#118635 Update tyme from 2021.21 to 2022.1
  Casks/tyme.rb
Labels: bump-cask-pr

#118634 Update minitube from 3.9.2 to 3.9.3
  Casks/minitube.rb
Labels: bump-cask-pr

#118633 Update rocket-chat from 3.7.6 to 3.7.7
  Casks/rocket-chat.rb
Labels: bump-cask-pr

#118632 Update scratch from 3.27.0 to 3.28.0
  Casks/scratch.rb
Labels: bump-cask-pr

#118628 Update visual-studio-code from 1.63.2 to 1.64.0
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#118627 Update fmail from 2.5.7 to 2.5.8
  Casks/fmail.rb
Labels: bump-cask-pr

#118626 Update jgrasp from 2.0.6_08 to 2.0.6_09
  Casks/jgrasp.rb
Labels: bump-cask-pr

#118625 Update whatsapp from 2.2149.4 to 2.2202.12
  Casks/whatsapp.rb
Labels: bump-cask-pr

#118610 Update postman to 9.12.1
  Casks/postman.rb
Labels: automerge-skip

#118611 Update viber to 16.9.0,1690
  Casks/viber.rb
Labels: automerge-skip

#118614 Update raspberry-pi-imager from 1.6.2 to 1.7
  Casks/raspberry-pi-imager.rb
Labels: bump-cask-pr

#118637 Update surfshark from 3.12.0 to 3.12.1
  Casks/surfshark.rb
Labels: bump-cask-pr

#118656 Update airtool from 2.3.5,13 to 2.3.5,13
  Casks/airtool.rb
Labels: bump-cask-pr

#118617 Update betaflight-configurator from 10.7.1 to 10.7.2
  Casks/betaflight-configurator.rb
Labels: bump-cask-pr

#118622 feat(`arctype`): add new cask item
  Casks/arctype.rb
Labels: new cask

#118657 Update dropbox from 140.4.1951 to 141.4.3299
  Casks/dropbox.rb
Labels: bump-cask-pr

#118658 Update bettertouchtool from 3.742 to 3.743
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#118676 Update qownnotes from 22.1.12 to 22.2.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#118675 Update mountain-duck from 4.10.2 to 4.10.3
  Casks/mountain-duck.rb
Labels: bump-cask-pr

#118673 Update dropbox-capture from 65.0.0 to 67.0.0
  Casks/dropbox-capture.rb
Labels: bump-cask-pr

#118670 Update cyberduck from 8.2.1 to 8.2.3
  Casks/cyberduck.rb
Labels: bump-cask-pr

#118668 Update raze from 1.3.1 to 1.4.1
  Casks/raze.rb
Labels: bump-cask-pr

#118667 Update postman from 9.12.1 to 9.12.2
  Casks/postman.rb
Labels: bump-cask-pr

#118665 Update raspberry-pi-imager from 1.7 to 1.7.1
  Casks/raspberry-pi-imager.rb
Labels: bump-cask-pr

#118586 Update evernote from 10.29.7,3186 to 10.30.6,3202,cfd8660355
  Casks/evernote.rb
Labels: bump-cask-pr

#118669 Update autofirma from 1.6.5 to 1.7.1
  Casks/autofirma.rb
Labels: ci-skip-install

#118664 Update adobe-creative-cloud from 5.6.0.788 to 5.6.5.58
  Casks/adobe-creative-cloud.rb
Labels: bump-cask-pr

#118679 Update spotify from 1.1.77.643 to 1.1.78.765
  Casks/spotify.rb
Labels: bump-cask-pr

#118678 Update home-assistant from 2021.12 to 2022.2
  Casks/home-assistant.rb
Labels: bump-cask-pr

#118680 Update windscribe from 2.02.10 to 2.3.16
  Casks/windscribe.rb
Labels: bump-cask-pr

#118682 Update flutter from 2.8.1 to 2.10.0
  Casks/flutter.rb
Labels: bump-cask-pr

#118684 Update radar from 2.1.0 to 2.2.0
  Casks/radar.rb
Labels: bump-cask-pr

#118685 Update foxglove-studio from 0.25.0 to 0.29.0
  Casks/foxglove-studio.rb
Labels: bump-cask-pr
