Repository Homebrew/homebrew-cask, pull requests merged in 2022-11, with the labels that each got.

#134772 Update obs from 28.0.3 to 28.1.0
  Casks/obs.rb
Labels: bump-cask-pr

#134771 Update zotero from 6.0.15 to 6.0.16
  Casks/zotero.rb
Labels: bump-cask-pr

#134769 Update sameboy from 0.15.6 to 0.15.7
  Casks/sameboy.rb
Labels: bump-cask-pr

#134768 Update figma from 116.4.2 to 116.4.4
  Casks/figma.rb
Labels: bump-cask-pr

#134765 Update launchcontrol from 2.0 to 2.0.1
  Casks/launchcontrol.rb
Labels: bump-cask-pr

#134773 Update microsoft-edge from 107.0.1418.24 to 107.0.1418.28
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#134775 Update lens from 2022.10.181357 to 2022.10.311317
  Casks/lens.rb
Labels: bump-cask-pr

#134776 Update messenger from 165.0.0.16.91 to 167.0.0.18.104
  Casks/messenger.rb
Labels: bump-cask-pr

#134777 Update warp from 0.2022.10.25.08.06.stable_02 to 0.2022.10.25.08.06.stable_03
  Casks/warp.rb
Labels: bump-cask-pr

#134210 Update onyx from 4.2.5 to 4.3.0
  Casks/onyx.rb
Labels: bump-cask-pr

#134811 Update amadine from 1.4.2 to 1.4.3
  Casks/amadine.rb
Labels: bump-cask-pr

#134795 Update cyberduck from 8.4.5 to 8.5.0
  Casks/cyberduck.rb
Labels: bump-cask-pr

#134805 Update typeface from 3.7.0 to 3.7.1
  Casks/typeface.rb
Labels: bump-cask-pr

#134877 Update bettertouchtool
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#134879 Update google-earth-pro from 7.3.6.9275 to 7.3.6.9277
  Casks/google-earth-pro.rb
Labels: bump-cask-pr

#134524 Update speedify from 12.5.0 to 12.6.0
  Casks/speedify.rb
Labels: bump-cask-pr

#134919 update Local 6.5.1 for either arm64 or intel
  Casks/local.rb
Labels: automerge-skip

#134958 Update fontbase from 2.17.5 to 2.17.16
  Casks/fontbase.rb
Labels: bump-cask-pr

#134988 Update warzone-2100 from 4.3.0 to 4.3.1
  Casks/warzone-2100.rb
Labels: bump-cask-pr

#134987 Update uvtools from 3.8.0 to 3.8.1
  Casks/uvtools.rb
Labels: bump-cask-pr

#134985 Update universal-battle from 1.5.52 to 1.5.56
  Casks/universal-battle.rb
Labels: bump-cask-pr

#134983 Update shift from 8.1.3.542 to 8.1.4.548
  Casks/shift.rb
Labels: bump-cask-pr

#134982 Update reveal from 39a to 40
  Casks/reveal.rb
Labels: bump-cask-pr

#134981 Update propresenter from 7.10.2 to 7.10.3
  Casks/propresenter.rb
Labels: bump-cask-pr

#134969 Update blueharvest from 8.0.12 to 8.1.2
  Casks/blueharvest.rb
Labels: bump-cask-pr

#134970 Update electorrent from 2.8.2 to 2.8.3
  Casks/electorrent.rb
Labels: bump-cask-pr

#134971 Update electron from 21.2.1 to 21.2.2
  Casks/electron.rb
Labels: bump-cask-pr

#134972 Update fellow from 1.3.11 to 1.4.0
  Casks/fellow.rb
Labels: bump-cask-pr

#134973 Update glyphs from 3.1.1,3141 to 3.1.1,3142
  Casks/glyphs.rb
Labels: bump-cask-pr

#134974 Update ishowu-instant from 1.4.11 to 1.4.12
  Casks/ishowu-instant.rb
Labels: bump-cask-pr

#134975 Update keeper-password-manager from 16.8.1 to 16.8.2
  Casks/keeper-password-manager.rb
Labels: bump-cask-pr

#134976 Update melodics from 3.0.8902 to 3.0.9035
  Casks/melodics.rb
Labels: bump-cask-pr

#134977 Update omnipresence from 1.9 to 1.9.1
  Casks/omnipresence.rb
Labels: bump-cask-pr

#134978 Update plex-htpc from 1.28.1.3340 to 1.28.2.3347
  Casks/plex-htpc.rb
Labels: bump-cask-pr

#134979 Update plugdata from 0.6.1 to 0.6.2
  Casks/plugdata.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, bump-cask-pr

#134990 Update xiv-on-mac from 4.3.2 to 4.4
  Casks/xiv-on-mac.rb
Labels: bump-cask-pr

#134991 Update xrg from 3.1.0 to 3.2.0
  Casks/xrg.rb
Labels: bump-cask-pr

#135007 add new cask 'openlens'
  Casks/openlens.rb
Labels: new cask

#135044 Add new cask 'clickshare'
  Casks/clickshare.rb
Labels: new cask

#135045 Update tor-browser from 11.5.6 to 11.5.7
  Casks/tor-browser.rb
Labels: bump-cask-pr

#135056 Update microsoft-teams from 1.5.00.26358 to 1.5.00.28558
  Casks/microsoft-teams.rb
Labels: bump-cask-pr

#135059 Update microsoft-edge from 107.0.1418.28 to 107.0.1418.35
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#135060 Update warp from 0.2022.11.01.08.03.stable_00 to 0.2022.11.01.08.03.stable_00
  Casks/warp.rb
Labels: bump-cask-pr

#134900 Update aldente from 1.19.1 to 1.19.2
  Casks/aldente.rb
Labels: bump-cask-pr

#135061 Add adze
  Casks/adze.rb
Labels: awaiting user reply, new cask

#135062 Add new cask `Mixin Messenger Desktop`
  Casks/mixin.rb
Labels: automerge-skip, new cask

#135069 Update rancher from 1.6.1 to 1.6.2
  Casks/rancher.rb
Labels: bump-cask-pr

#135070 Update snagit from 2023.0.1 to 23.0.2
  Casks/snagit.rb
Labels: bump-cask-pr

#135133 Update silentknight from 2.02 to 2.03
  Casks/silentknight.rb
Labels: bump-cask-pr

#135145 Update hackintool from 3.8.9 to 3.9.0
  Casks/hackintool.rb
Labels: bump-cask-pr

#135147 Update cakebrewjs from 1.2.2 to 1.3.1
  Casks/cakebrewjs.rb
Labels: bump-cask-pr

#135149 Update aptakube from 0.6.1 to 0.7.0
  Casks/aptakube.rb
Labels: bump-cask-pr

#135150 Update telegram from 9.0.1 to 9.1
  Casks/telegram.rb
Labels: bump-cask-pr

#135151 Update obs from 28.1.1 to 28.1.2
  Casks/obs.rb
Labels: bump-cask-pr

#135152 Update telegram-desktop from 4.2.4 to 4.3.0
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#135154 Update schildichat from 1.10.12-sc.1 to 1.11.13-sc.1
  Casks/schildichat.rb
Labels: bump-cask-pr

#135200 Update syncthing from 1.22.0-1 to 1.22.1-1
  Casks/syncthing.rb
Labels: bump-cask-pr

#135201 Update telegram from 9.1,238826 to 9.1,238837
  Casks/telegram.rb
Labels: bump-cask-pr

#135209 Update onyx from 4.3.0 to 4.3.1
  Casks/onyx.rb
Labels: bump-cask-pr

#135208 Update metasploit from 6.2.26,20221104102857 to 6.2.26,20221106112913
  Casks/metasploit.rb
Labels: bump-cask-pr

#135226 Update fsnotes from 6.0.1 to 6.0.2
  Casks/fsnotes.rb
Labels: bump-cask-pr

#135224 Update zappy from 3.1.5 to 3.1.6
  Casks/zappy.rb
Labels: bump-cask-pr

#135223 Update tinymediamanager from 4.3.4 to 4.3.5
  Casks/tinymediamanager.rb
Labels: bump-cask-pr

#135222 Update swifty from 0.6.7 to 0.6.8
  Casks/swifty.rb
Labels: bump-cask-pr

#135221 Update principle from 6.22 to 6.23
  Casks/principle.rb
Labels: bump-cask-pr

#135216 Update klayout from 0.27.11 to 0.27.12
  Casks/klayout.rb
Labels: bump-cask-pr

#135229 Update lunasea from 10.2.0 to 10.2.1
  Casks/lunasea.rb
Labels: bump-cask-pr

#135230 Update qqmusic from 8.4.0 to 8.5.0
  Casks/qqmusic.rb
Labels: bump-cask-pr

#135231 Update blobsaver from 3.2.1 to 3.3.0
  Casks/blobsaver.rb
Labels: bump-cask-pr

#135233 Update aircall from 2.26.6 to 2.26.9
  Casks/aircall.rb
Labels: bump-cask-pr

#135234 Update cakebrewjs from 1.3.5 to 1.3.6
  Casks/cakebrewjs.rb
Labels: bump-cask-pr

#135290 Update zoom-for-it-admins from 5.12.3.11845 to 5.12.6.12435
  Casks/zoom-for-it-admins.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip, bump-cask-pr

#135275 Update plasticscm-cloud-edition from 11.0.16.7504 to 11.0.16.7608
  Casks/plasticscm-cloud-edition.rb
Labels: bump-cask-pr

#135301 Update balenaetcher from 1.7.14 to 1.8.0
  Casks/balenaetcher.rb
Labels: bump-cask-pr

#135125 Update simply-fortran from 3.25.3757 to 3.26.3806
  Casks/simply-fortran.rb
Labels: bump-cask-pr

#135303 Update openlens from 6.1.15 to 6.1.16
  Casks/openlens.rb
Labels: bump-cask-pr

#135304 Update balenaetcher from 1.8.0 to 1.8.3
  Casks/balenaetcher.rb
Labels: bump-cask-pr

#135305 Update touchosc from 1.1.6 to 1.1.7
  Casks/touchosc.rb
Labels: bump-cask-pr

#135335 Update balenaetcher from 1.8.4 to 1.8.6
  Casks/balenaetcher.rb
Labels: bump-cask-pr

#135340 Update balenaetcher from 1.8.6 to 1.8.10
  Casks/balenaetcher.rb
Labels: bump-cask-pr

#135337 Update funter from 5.4.3 to 6.0.1
  Casks/funter.rb
Labels: bump-cask-pr

#135404 Update wifi-explorer from 3.3.6 to 3.4
  Casks/wifi-explorer.rb
Labels: bump-cask-pr

#135416 Update google-chrome from 107.0.5304.87 to 107.0.5304.110
  Casks/google-chrome.rb
Labels: bump-cask-pr

#135417 Update lens from 2022.11.71638 to 2022.11.81921
  Casks/lens.rb
Labels: bump-cask-pr

#135418 Update element from 1.11.13 to 1.11.14
  Casks/element.rb
Labels: bump-cask-pr

#135419 Update powershell from 7.2.7 to 7.3.0
  Casks/powershell.rb
Labels: bump-cask-pr

#135427 Add AnkerSlicer.app v0.7.5
  Casks/ankerslicer.rb
Labels: new cask

#135494 Update logos from 9.17.0.0010 to 9.17.0.0018
  Casks/logos.rb
Labels: bump-cask-pr

#135495 Update loom from 0.142.0 to 0.145.0
  Casks/loom.rb
Labels: bump-cask-pr

#135501 Update signal from 5.63.0 to 5.63.1
  Casks/signal.rb
Labels: bump-cask-pr

#135509 Update termius from 7.51.0 to 7.51.1
  Casks/termius.rb
Labels: bump-cask-pr

#135505 Add Icon Shelf v0.1.17
  Casks/icon-shelf.rb
Labels: new cask

#135504 Add restfox cask to Homebrew-Cask
  Casks/restfox.rb
Labels: new cask

#135580 Update zoom from 5.12.7.12529 to 5.12.8.12565
  Casks/zoom.rb
Labels: bump-cask-pr

#135497 Add new cask Unite Phone
  Casks/unite-phone.rb
Labels: automerge-skip, new cask

#135519 Update burp-suite-professional from 2022.9.5 to 2022.9.6
  Casks/burp-suite-professional.rb
Labels: bump-cask-pr

#135562 Update rhino from 7.23.22282.13002 to 7.24.22308.15002
  Casks/rhino.rb
Labels: bump-cask-pr

#135597 Update spotify from 1.1.97.962 to 1.1.98.691
  Casks/spotify.rb
Labels: bump-cask-pr

#135645 Update postgres-unofficial from 2.5.11 to 2.5.12
  Casks/postgres-unofficial.rb
Labels: bump-cask-pr

#135642 Update pitch from 1.100.0,stable.3,4868076 to 1.100.0,stable.4,4872806
  Casks/pitch.rb
Labels: bump-cask-pr

#135676 Add opensoundmeter.app v1.1.2
  Casks/opensoundmeter.rb
Labels: new cask

#135677 Update metasploit from 6.2.27,20221111143441 to 6.2.27,20221112112914
  Casks/metasploit.rb
Labels: bump-cask-pr

#135678 Update deskreen from 2.0.3 to 2.0.4
  Casks/deskreen.rb
Labels: bump-cask-pr

#135689 Update affinity-designer/affinity-photo/affinity-publisher to 2.0.0
  Casks/affinity-designer.rb
  Casks/affinity-photo.rb
  Casks/affinity-publisher.rb
Labels: automerge-skip

#135692 oracle-jdk: Fix livecheck
  Casks/oracle-jdk.rb
Labels: ci-syntax-only, livecheck

#135693 Update plexamp from 4.5.2 to 4.5.3
  Casks/plexamp.rb
Labels: bump-cask-pr

#135694 pragli: Remove cask
  Casks/pragli.rb
Labels: marked for removal/rejection

#135717 Update fsnotes from 6.0.3 to 6.0.4
  Casks/fsnotes.rb
Labels: bump-cask-pr

#135720 Update bettertouchtool from 3.938 to 3.939
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#135733 Update kindavim from 44.0.0 to 45.0.0
  Casks/kindavim.rb
Labels: bump-cask-pr

#135734 Update sigmaos from 1.0.0.4 to 1.0.0.4
  Casks/sigmaos.rb
Labels: bump-cask-pr

#135735 Update boinc from 7.20.2 to 7.20.4
  Casks/boinc.rb
Labels: bump-cask-pr

#135748 Update keepingyouawake from 1.6.3 to 1.6.4
  Casks/keepingyouawake.rb
Labels: bump-cask-pr

#135737 Add `quiet-reader` to the Casks
  Casks/quiet-reader.rb
Labels: new cask

#135791 Update qownnotes from 22.11.5 to 22.11.6
  Casks/qownnotes.rb
Labels: bump-cask-pr

#135795 Update warp from 0.2022.11.08.08.07.stable_02 to 0.2022.11.14.14.55.stable_01
  Casks/warp.rb
Labels: bump-cask-pr

#135788 Update soundsource from 5.5.5 to 5.5.6
  Casks/soundsource.rb
Labels: bump-cask-pr

#135792 Update microsoft-auto-update from 4.52.22100900 to 4.53.22111300
  Casks/microsoft-auto-update.rb
Labels: bump-cask-pr

#135794 Update iterm2 from 3.4.17 to 3.4.18
  Casks/iterm2.rb
Labels: bump-cask-pr

#135801 Update accurics from 1.0.43 to 1.0.44
  Casks/accurics.rb
Labels: bump-cask-pr

#135906 Add CAD Assistant.app v1.6.0
  Casks/cad-assistant.rb
Labels: new cask

#135963 akiflow: Fix livecheck
  Casks/akiflow.rb
Labels: ci-syntax-only, livecheck

#135964 Update bricklink-studio from 2.22.10_1 to 2.22.11_1
  Casks/bricklink-studio.rb
Labels: bump-cask-pr

#135965 Update decrediton from 1.7.5 to 1.7.6
  Casks/decrediton.rb
Labels: bump-cask-pr

#135966 Update electron from 21.2.3 to 21.3.0
  Casks/electron.rb
Labels: bump-cask-pr

#135967 Update jdownloader from 47055 to 47060
  Casks/jdownloader.rb
Labels: bump-cask-pr

#135961 Update texshop from 5.03 to 5.04
  Casks/texshop.rb
Labels: bump-cask-pr

#135979 Update amazon-music from 9.3.4 to 9.4.0
  Casks/amazon-music.rb
Labels: bump-cask-pr

#135992 Update protonvpn from 3.0.5 to 3.0.5
  Casks/protonvpn.rb
Labels: bump-cask-pr

#136001 Update rectangle from 0.61 to 0.63
  Casks/rectangle.rb
Labels: bump-cask-pr

#136065 Update bettertouchtool from 3.942 to 3.949
  Casks/bettertouchtool.rb
Labels: automerge-skip, bump-cask-pr

#136067 Update osu from 2022.1101.0 to 2022.1117.0
  Casks/osu.rb
Labels: bump-cask-pr

#135910 Add Thangs Sync.
  Casks/thangs-sync.rb
Labels: new cask

#136088 Update metasploit from 6.2.27 to 6.2.28
  Casks/metasploit.rb
Labels: bump-cask-pr

#136082 Update virtualbox-extension-pack from 7.0.2 to 7.0.4
  Casks/virtualbox-extension-pack.rb
Labels: bump-cask-pr

#136089 Add Neat.app v0.0.56
  Casks/neat.rb
Labels: new cask

#136092 Update audio-hijack from 4.0.5 to 4.0.6
  Casks/audio-hijack.rb
Labels: bump-cask-pr

#136147 julia: update zap
  Casks/julia.rb
Labels: bump-cask-pr

#136149 Update virtualc64 from 4.5 to 4.5.1
  Casks/virtualc64.rb
Labels: bump-cask-pr

#136153 Update oversight from 2.0.2 to 2.1.0
  Casks/oversight.rb
Labels: bump-cask-pr

#136206 Update tailscale from 1.32.2 to 1.32.3
  Casks/tailscale.rb
Labels: bump-cask-pr

#136265 Update gridtracker from 1.22.1016 to 1.22.1119
  Casks/gridtracker.rb
Labels: bump-cask-pr

#136266 Update soothe2 from 1.3.0 to 1.3.1
  Casks/soothe2.rb
Labels: bump-cask-pr

#136270 Update `zap` for zettlr
  Casks/zettlr.rb
Labels: bump-cask-pr

#136272 Update lens from 2022.11.210737 to 2022.11.211937
  Casks/lens.rb
Labels: bump-cask-pr

#136273 Update openlens from 6.1.19 to 6.2.1
  Casks/openlens.rb
Labels: bump-cask-pr

#136274 Update teamviewer from 15.35.7 to 15.36.6
  Casks/teamviewer.rb
Labels: bump-cask-pr

#136354 Update mongodb-compass from 1.34.0 to 1.34.1
  Casks/mongodb-compass.rb
Labels: bump-cask-pr

#136358 Update wow from 8.12.2 to 8.14.0
  Casks/wow.rb
Labels: bump-cask-pr

#136364 Add Slab.app v1.3.0
  Casks/slab.rb
Labels: new cask
