Repository Homebrew/homebrew-cask, pull requests merged in 2022-08, with the labels that each got.

#128849 Update anypointstudio from 7.12.1 to 7.13
  Casks/anypointstudio.rb
Labels: bump-cask-pr

#129000 Update sol from 1.1.33 to 1.1.34
  Casks/sol.rb
Labels: bump-cask-pr

#128995 Update ff-works from 3.1.2 to 3.1.4
  Casks/ff-works.rb
Labels: bump-cask-pr

#128993 Update wechatwebdevtools from 1.06.2207210 to 1.06.2208010
  Casks/wechatwebdevtools.rb
Labels: bump-cask-pr

#128992 Update visual-paradigm-ce from 16.3 to 17.0
  Casks/visual-paradigm-ce.rb
Labels: bump-cask-pr

#128991 Update visual-paradigm from 16.3 to 17.0
  Casks/visual-paradigm.rb
Labels: bump-cask-pr

#128990 Update valentina-studio from 12.4.4 to 12.5
  Casks/valentina-studio.rb
Labels: bump-cask-pr

#128989 Update textadept from 11.3 to 11.4
  Casks/textadept.rb
Labels: bump-cask-pr

#128987 Update tabby from 1.0.182 to 1.0.183
  Casks/tabby.rb
Labels: bump-cask-pr

#128986 Update stork from 1.0.12 to 1.0.13
  Casks/stork.rb
Labels: bump-cask-pr

#128985 Update sizzy from 66.0.0 to 67.0.0
  Casks/sizzy.rb
Labels: bump-cask-pr

#128984 Update shutter-encoder from 16.1 to 16.2
  Casks/shutter-encoder.rb
Labels: bump-cask-pr

#128983 Update sessionrestore from 2.7 to 2.7.2
  Casks/sessionrestore.rb
Labels: bump-cask-pr

#128982 Update rescuetime from 3.0.13.3 to 3.1.0.17
  Casks/rescuetime.rb
Labels: bump-cask-pr

#128981 Update raindropio from 5.5.5 to 5.5.10
  Casks/raindropio.rb
Labels: bump-cask-pr

#128980 Update popo from 3.53.0 to 3.53.1
  Casks/popo.rb
Labels: bump-cask-pr

#128979 Update plex-media-server from 1.27.2.5929 to 1.28.0.5999
  Casks/plex-media-server.rb
Labels: bump-cask-pr

#128978 Update phpstorm from 2022.1.4 to 2022.2
  Casks/phpstorm.rb
Labels: bump-cask-pr

#128977 Update photo-supreme-single-user from 7.3.0.4457 to 7.3.0.4459
  Casks/photo-supreme-single-user.rb
Labels: bump-cask-pr

#128976 Update miaoyan from 1.1.0 to 1.1.1
  Casks/miaoyan.rb
Labels: bump-cask-pr

#128975 Update datweatherdoe from 3.0.3 to 3.0.4
  Casks/datweatherdoe.rb
Labels: bump-cask-pr

#128974 Update hepta from 0.181.0 to 0.182.1
  Casks/hepta.rb
Labels: bump-cask-pr

#128973 Update grids from 8.1.1 to 8.1.2
  Casks/grids.rb
Labels: bump-cask-pr

#128972 Update gitfinder from 1.7.5 to 1.7.6
  Casks/gitfinder.rb
Labels: bump-cask-pr

#128971 Update geogebra from 6.0.722.0 to 6.0.723.0
  Casks/geogebra.rb
Labels: bump-cask-pr

#128970 Update electerm from 1.22.20 to 1.22.24
  Casks/electerm.rb
Labels: bump-cask-pr

#128968 Update cog from 2668 to 2672
  Casks/cog.rb
Labels: bump-cask-pr

#128967 Update a-better-finder-attributes from 7.20 to 7.21
  Casks/a-better-finder-attributes.rb
Labels: bump-cask-pr

#128965 Update firefox from 103.0 to 103.0.1
  Casks/firefox.rb
Labels: bump-cask-pr

#128964 Update tinymediamanager from 4.3 to 4.3.1
  Casks/tinymediamanager.rb
Labels: bump-cask-pr

#128961 Update mini-program-studio from 3.0.2 to 3.1.3
  Casks/mini-program-studio.rb
Labels: bump-cask-pr

#128960 Update neofinder from 8.1.1 to 8.1.2
  Casks/neofinder.rb
Labels: bump-cask-pr

#128959 Update puzzles from 20220613.387d323 to 20220801.89391ba
  Casks/puzzles.rb
Labels: bump-cask-pr

#128958 Update emby-server from 4.7.5.0 to 4.7.6.0
  Casks/emby-server.rb
Labels: bump-cask-pr

#128999 Update pitch from 1.85.0,stable.4,4474536 to 1.85.0,stable.5,4482058
  Casks/pitch.rb
Labels: bump-cask-pr

#128998 Update nudge from 1.1.7.81411 to 1.1.8.81422
  Casks/nudge.rb
Labels: bump-cask-pr

#128997 Update jami from 2022042616 to 2022080113
  Casks/jami.rb
Labels: bump-cask-pr

#128996 Update icab from 6.1.3 to 6.1.4
  Casks/icab.rb
Labels: bump-cask-pr

#128994 Update craftmanager from 1.2.5 to 1.2.6
  Casks/craftmanager.rb
Labels: bump-cask-pr

#128923 Update raven-reader from 1.0.73 to 1.0.74
  Casks/raven-reader.rb
Labels: bump-cask-pr

#128916 Added DuckDuckGo Cask v0.27.0
  Casks/duckduckgo.rb
Labels: new cask

#129020 Update fishing-funds from 6.1.1 to 6.2.0
  Casks/fishing-funds.rb
Labels: automerge-skip, bump-cask-pr

#129075 Update google-chrome from 103.0.5060.134 to 104.0.5112.79
  Casks/google-chrome.rb
Labels: bump-cask-pr

#127296 Add new cask `v2ray-unofficial`
  Casks/v2ray-unofficial.rb
Labels: awaiting maintainer feedback, automerge-skip, new cask

#129111 Update bilibili-official from 1.3.1.923 to 1.4.0.1046
  Casks/bilibili-official.rb
Labels: bump-cask-pr

#129106 Update vellum from 3.3.1 to 3.3.2
  Casks/vellum.rb
Labels: bump-cask-pr

#129105 Update trader-workstation from 10.16.1o to 10.17.1q
  Casks/trader-workstation.rb
Labels: bump-cask-pr

#129104 Update ticktick from 4.2.50 to 4.2.60
  Casks/ticktick.rb
Labels: bump-cask-pr

#129103 Update splashtop-business from 3.5.0.4 to 3.5.2.0
  Casks/splashtop-business.rb
Labels: bump-cask-pr

#129102 Update solar2d from 2022.3676 to 2022.3677
  Casks/solar2d.rb
Labels: bump-cask-pr

#129101 Update remotion from 1.88.2 to 1.89.0
  Casks/remotion.rb
Labels: bump-cask-pr

#129099 Update obs-websocket from 5.0.0 to 5.0.1
  Casks/obs-websocket.rb
Labels: bump-cask-pr

#129098 Update fme from 2022.1 to 2022.1.1
  Casks/fme.rb
Labels: bump-cask-pr

#129097 Update combine-pdfs from 5.6.0 to 5.6.1
  Casks/combine-pdfs.rb
Labels: bump-cask-pr

#129096 Update detail from 3.3.0 to 3.3.1
  Casks/detail.rb
Labels: bump-cask-pr

#129095 Update fig from 1.0.59,487 to 1.0.59,489
  Casks/fig.rb
Labels: bump-cask-pr

#129094 Update elephicon from 1.9.12 to 1.10.0
  Casks/elephicon.rb
Labels: bump-cask-pr

#129093 Update duckduckgo from 0.27.0 to 0.27.2
  Casks/duckduckgo.rb
Labels: bump-cask-pr

#129092 Update busycontacts from 2022.3.1,2022-07-31-17-17 to 2022.3.1,2022-08-03-03-17
  Casks/busycontacts.rb
Labels: bump-cask-pr

#129091 Update bike from 1.4,66 to 1.4,67
  Casks/bike.rb
Labels: bump-cask-pr

#129089 Update backblaze-downloader from 8.0.1.592 to 8.0.1.602
  Casks/backblaze-downloader.rb
Labels: bump-cask-pr

#129088 Update anka-virtualization from 2.5.6.147 to 2.5.7.148
  Casks/anka-virtualization.rb
Labels: bump-cask-pr

#129087 Update cinderella from 3.0b.2047 to 3.0b.2051
  Casks/cinderella.rb
Labels: bump-cask-pr

#129086 Update tenable-nessus-agent from 10.1.4 to 10.2.0
  Casks/tenable-nessus-agent.rb
Labels: bump-cask-pr

#129085 Update syncthing from 1.20.3-1 to 1.20.4-1
  Casks/syncthing.rb
Labels: bump-cask-pr

#129084 Update swiftformat-for-xcode from 0.49.13 to 0.49.14
  Casks/swiftformat-for-xcode.rb
Labels: bump-cask-pr

#129083 Update sauce-connect from 4.8.0 to 4.8.1
  Casks/sauce-connect.rb
Labels: bump-cask-pr

#129082 Update qownnotes from 22.7.6 to 22.8.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#129081 Update prefs-editor from 1.3.3.3.1 to 1.4.0.3.1
  Casks/prefs-editor.rb
Labels: bump-cask-pr

#129076 Update idafree from 7.7 to 8.0
  Casks/idafree.rb
Labels: bump-cask-pr

#129074 Update flrig from 1.4.6 to 1.4.7
  Casks/flrig.rb
Labels: bump-cask-pr

#129073 Update codeql from 2.10.1 to 2.10.2
  Casks/codeql.rb
Labels: bump-cask-pr

#129072 Update beeper from 3.19.13 to 3.20.14
  Casks/beeper.rb
Labels: bump-cask-pr

#129071 Update adguard-vpn from 1.2.3.205 to 1.2.3.207
  Casks/adguard-vpn.rb
Labels: bump-cask-pr

#129070 Update zprint from 1.2.3 to 1.2.4
  Casks/zprint.rb
Labels: bump-cask-pr

#129069 Update zalo from 22.7.1 to 22.7.2
  Casks/zalo.rb
Labels: bump-cask-pr

#129068 Update yuque from 1.4.3 to 1.5.3
  Casks/yuque.rb
Labels: bump-cask-pr

#129067 Update workflowy from 1.4.848 to 1.4.873
  Casks/workflowy.rb
Labels: bump-cask-pr

#129066 Update waterfox-classic from 2022.06 to 2022.08
  Casks/waterfox-classic.rb
Labels: bump-cask-pr

#129065 Update vrew from 0.11.24 to 0.11.25
  Casks/vrew.rb
Labels: bump-cask-pr

#129064 Update vnote from 3.13.1 to 3.14.0
  Casks/vnote.rb
Labels: bump-cask-pr

#129063 Update tutanota from 3.98.12 to 3.98.17
  Casks/tutanota.rb
Labels: bump-cask-pr

#129062 Update treesheets from 1.0 to 2022.08.02
  Casks/treesheets.rb
Labels: bump-cask-pr

#129061 Update ti-connect-ce from 5.6.3.2278 to 6.0.0.2688
  Casks/ti-connect-ce.rb
Labels: bump-cask-pr

#129060 Update squash from 3.0 to 3.0.1
  Casks/squash.rb
Labels: bump-cask-pr

#129059 Update siyuan from 2.1.4 to 2.1.5
  Casks/siyuan.rb
Labels: bump-cask-pr

#129058 Update sigmaos from 0.24.2.3 to 0.25.0.1
  Casks/sigmaos.rb
Labels: bump-cask-pr

#129057 Update rider from 2022.1.2 to 2022.2
  Casks/rider.rb
Labels: bump-cask-pr

#129056 Update remnote from 1.8.10 to 1.8.11
  Casks/remnote.rb
Labels: bump-cask-pr

#129055 Update puzzles from 20220801.89391ba to 20220802.8399cff
  Casks/puzzles.rb
Labels: bump-cask-pr

#129054 Update pitch from 1.85.0 to 1.86.0
  Casks/pitch.rb
Labels: bump-cask-pr

#129053 Update metasploit from 6.2.11,20220730103129 to 6.2.11,20220802102958
  Casks/metasploit.rb
Labels: bump-cask-pr

#129052 Update leapp from 0.13.1 to 0.13.2
  Casks/leapp.rb
Labels: bump-cask-pr

#129051 Update josm from 18513 to 18531
  Casks/josm.rb
Labels: bump-cask-pr

#129049 Update jami from 2022080116 to 2022080118
  Casks/jami.rb
Labels: bump-cask-pr

#129048 Update hepta from 0.182.1 to 0.183.0
  Casks/hepta.rb
Labels: bump-cask-pr

#129047 Update foxglove-studio from 1.19.0 to 1.20.0
  Casks/foxglove-studio.rb
Labels: bump-cask-pr

#129045 Update electerm from 1.22.24 to 1.22.27
  Casks/electerm.rb
Labels: bump-cask-pr

#129044 Update cardhop from 2.0.10 to 2.1
  Casks/cardhop.rb
Labels: bump-cask-pr

#129043 Update appgate-sdp-client from 6.0.0 to 6.0.1
  Casks/appgate-sdp-client.rb
Labels: bump-cask-pr

#129042 Update aircall from 2.23.2 to 2.23.2
  Casks/aircall.rb
Labels: bump-cask-pr

#129041 Update 8x8-work from 7.21.3-4 to 7.21.4-4
  Casks/8x8-work.rb
Labels: bump-cask-pr

#129039 Update godot from 3.4.4 to 3.4.5
  Casks/godot.rb
Labels: bump-cask-pr

#129036 Update jellyfin from 10.8.1 to 10.8.3
  Casks/jellyfin.rb
Labels: bump-cask-pr

#129035 Update jquake from 1.6.2 to 1.7.0
  Casks/jquake.rb
Labels: bump-cask-pr

#129034 Update gogs from 0.12.9 to 0.12.10
  Casks/gogs.rb
Labels: bump-cask-pr

#129033 Update freedom from 2.10 to 2.11
  Casks/freedom.rb
Labels: bump-cask-pr

#129031 Update medibangpaintpro from 28.1 to 28.2
  Casks/medibangpaintpro.rb
Labels: bump-cask-pr

#129030 Update milanote from 3.2.1 to 3.3.0
  Casks/milanote.rb
Labels: bump-cask-pr

#129029 Update nvidia-geforce-now from 2.0.42.124 to 2.0.43.107
  Casks/nvidia-geforce-now.rb
Labels: bump-cask-pr

#129114 `cmd/lib/ci_matrix.rb`: Deprecate `:catalina` runner
  cmd/lib/ci_matrix.rb
Labels: automerge-skip

#129078 Update mailmaster from 4.17.1 to 4.17.3
  Casks/mailmaster.rb
Labels: bump-cask-pr

#129227 Update cinderella from 3.0b.2052 to 3.0b.2053
  Casks/cinderella.rb
Labels: bump-cask-pr

#129225 Update polypane from 10.0.0 to 10.0.1
  Casks/polypane.rb
Labels: bump-cask-pr

#129224 Update sidequest from 0.10.28 to 0.10.30
  Casks/sidequest.rb
Labels: bump-cask-pr

#129223 Update masscode from 2.10.0 to 3.0.0
  Casks/masscode.rb
Labels: bump-cask-pr

#129222 Update docker from 4.11.0 to 4.11.1
  Casks/docker.rb
Labels: bump-cask-pr

#129221 Update soulver from 3.5.9.1 to 3.6
  Casks/soulver.rb
Labels: bump-cask-pr

#129226 Update jabref from 5.6 to 5.7
  Casks/jabref.rb
Labels: bump-cask-pr

#129126 added yubihsm2-sdk
  Casks/yubihsm2-sdk.rb
Labels: new cask

#129266 Update macbreakz from 5.45 to 5.46
  Casks/macbreakz.rb
Labels: bump-cask-pr

#129265 Update mongodb-compass-isolated-edition from 1.32.5 to 1.32.6
  Casks/mongodb-compass-isolated-edition.rb
Labels: bump-cask-pr

#129264 Update mongodb-compass-readonly from 1.32.5 to 1.32.6
  Casks/mongodb-compass-readonly.rb
Labels: bump-cask-pr

#129263 Update multitouch from 1.27.4 to 1.27.6
  Casks/multitouch.rb
Labels: bump-cask-pr

#129262 Update missive from 10.26.0 to 10.27.0
  Casks/missive.rb
Labels: bump-cask-pr

#129261 Update miro from 0.7.16 to 0.7.17
  Casks/miro.rb
Labels: bump-cask-pr

#129260 Update manyverse from 0.2207.5-beta to 0.2208.5-beta
  Casks/manyverse.rb
Labels: bump-cask-pr

#129259 Update nosqlbooster-for-mongodb from 7.1.5 to 7.1.6
  Casks/nosqlbooster-for-mongodb.rb
Labels: bump-cask-pr

#129258 Update nwjs from 0.66.1 to 0.67.0
  Casks/nwjs.rb
Labels: bump-cask-pr

#129257 Update name-mangler from 3.7.3 to 3.8
  Casks/name-mangler.rb
Labels: bump-cask-pr

#129256 Update spamsieve from 2.9.49 to 2.9.50
  Casks/spamsieve.rb
Labels: bump-cask-pr

#129280 Update kid3 from 3.9.1 to 3.9.2
  Casks/kid3.rb
Labels: bump-cask-pr

#129276 Update lingon-x from 8.4.7 to 8.4.8
  Casks/lingon-x.rb
Labels: bump-cask-pr

#129275 Update openboard from 1.6.3 to 1.6.3
  Casks/openboard.rb
Labels: bump-cask-pr

#129272 Update app-tamer from 2.7.4 to 2.7.5
  Casks/app-tamer.rb
Labels: bump-cask-pr

#129271 Update tutanota from 3.98.17 to 3.98.20
  Casks/tutanota.rb
Labels: bump-cask-pr

#129270 Update godot from 3.4.5 to 3.5
  Casks/godot.rb
Labels: bump-cask-pr

#129278 Update cinderella from 3.0b.2053 to 3.0b.2055
  Casks/cinderella.rb
Labels: bump-cask-pr

#129277 Update opencore-patcher from 0.4.9 to 0.4.10
  Casks/opencore-patcher.rb
Labels: bump-cask-pr

#129359 radiant-player: discontinued
  Casks/radiant-player.rb
Labels: ci-syntax-only

#128924 ImHex: Add ImHex v1.19.3
  Casks/imhex.rb
Labels: awaiting maintainer feedback, new cask

#129279 Added Gittyup.app v1.1.1
  Casks/gittyup.rb
Labels: new cask

#129367 Update wpsoffice-cn from 4.5.0 to 4.6.0
  Casks/wpsoffice-cn.rb
Labels: bump-cask-pr

#129366 Update bilibili-official from 1.4.1.1056 to 1.4.2.1074
  Casks/bilibili-official.rb
Labels: bump-cask-pr

#129364 Update ledger-live from 2.45.0 to 2.45.1
  Casks/ledger-live.rb
Labels: bump-cask-pr

#129362 Update skype from 8.86.0.407 to 8.87.0.403
  Casks/skype.rb
Labels: bump-cask-pr

#129361 Update propresenter from 7.9.2 to 7.10
  Casks/propresenter.rb
Labels: bump-cask-pr

#129360 Update curseforge from 0.204.1-1 to 0.205.2-1
  Casks/curseforge.rb
Labels: bump-cask-pr

#129358 Update hstracker from 2.2.1 to 2.2.2
  Casks/hstracker.rb
Labels: bump-cask-pr

#129355 Update whatsapp from 2.2228.12 to 2.2228.14
  Casks/whatsapp.rb
Labels: bump-cask-pr
