Repository Homebrew/homebrew-cask, pull requests merged in 2023-12, with the labels that each got.

#161392 audius 1.5.53
  Casks/a/audius.rb
Labels: bump-cask-pr

#161393 curseforge 0.239.3-1
  Casks/c/curseforge.rb
Labels: bump-cask-pr

#161398 gaphor 2.22.1
  Casks/g/gaphor.rb
Labels: bump-cask-pr

#161302 google-drive 84.0.6
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#161400 kmeet 2.0.1
  Casks/k/kmeet.rb
Labels: bump-cask-pr

#161401 maintenance 3.1.2
  Casks/m/maintenance.rb
Labels: bump-cask-pr

#161402 mediamate 2.5.0
  Casks/m/mediamate.rb
Labels: bump-cask-pr

#161404 opal-composer 1.2.1
  Casks/o/opal-composer.rb
Labels: bump-cask-pr

#161405 openaudible 3.9.7
  Casks/o/openaudible.rb
Labels: bump-cask-pr

#161408 pika 0.0.16
  Casks/p/pika.rb
Labels: bump-cask-pr

#161409 purei-play 2023-11-29
  Casks/p/purei-play.rb
Labels: bump-cask-pr

#161410 quicken 7.4.0
  Casks/q/quicken.rb
Labels: bump-cask-pr

#161411 redisinsight 2.38.0
  Casks/r/redisinsight.rb
Labels: bump-cask-pr

#161412 rewind 15131.1
  Casks/r/rewind.rb
Labels: bump-cask-pr

#161417 gitkraken-cli 1.2.2
  Casks/g/gitkraken-cli.rb
Labels: bump-cask-pr

#161419 warp 0.2023.11.28.08.02.stable_00
  Casks/w/warp.rb
Labels: bump-cask-pr

#161431 expo-orbit 1.0.1
  Casks/e/expo-orbit.rb
Labels: bump-cask-pr

#161439 amie 231130.0.1
  Casks/a/amie.rb
Labels: bump-cask-pr

#161440 apidog 2.4.2
  Casks/a/apidog.rb
Labels: bump-cask-pr

#161442 banana-cake-pop 12.0.2
  Casks/b/banana-cake-pop.rb
Labels: bump-cask-pr

#161443 cold-turkey-blocker 4.5
  Casks/c/cold-turkey-blocker.rb
Labels: bump-cask-pr

#161444 connectiq 6.4.1
  Casks/c/connectiq.rb
Labels: bump-cask-pr

#161445 cursor 0.18.1
  Casks/c/cursor.rb
Labels: bump-cask-pr

#161449 izip 4.7.47
  Casks/i/izip.rb
Labels: bump-cask-pr

#161451 melodics 4.0.46
  Casks/m/melodics.rb
Labels: bump-cask-pr

#161446 free42-binary 3.1.2
  Casks/f/free42-binary.rb
Labels: bump-cask-pr

#161450 mailbutler 7101
  Casks/m/mailbutler.rb
Labels: bump-cask-pr

#161452 netdownloadhelpercoapp 2.0.9
  Casks/n/netdownloadhelpercoapp.rb
Labels: bump-cask-pr

#161454 onekey 4.17.0
  Casks/o/onekey.rb
Labels: bump-cask-pr

#161455 plus42-binary 1.1.1
  Casks/p/plus42-binary.rb
Labels: bump-cask-pr

#161457 progressive-downloader 6.2
  Casks/p/progressive-downloader.rb
Labels: bump-cask-pr

#161460 tinkerwell 4.3.0
  Casks/t/tinkerwell.rb
Labels: bump-cask-pr

#161461 to-audio-converter 1.0.19
  Casks/t/to-audio-converter.rb
Labels: bump-cask-pr

#161462 updf 1.7.8
  Casks/u/updf.rb
Labels: bump-cask-pr

#161458 slack-cli 2.14.0
  Casks/s/slack-cli.rb
Labels: bump-cask-pr

#161468 zed 0.114.4
  Casks/z/zed.rb
Labels: bump-cask-pr

#161464 ivideonserver: update checksum for 3.13.0
  Casks/i/ivideonserver.rb
Labels: missing zap

#161469 elgato-camera-hub 1.8.1.1450
  Casks/e/elgato-camera-hub.rb
Labels: bump-cask-pr

#161470 gyazo 5.2.0
  Casks/g/gyazo.rb
Labels: in progress, bump-cask-pr

#161476 greenfoot 3.8.2
  Casks/g/greenfoot.rb
Labels: bump-cask-pr

#161477 hackolade 7.0.2
  Casks/h/hackolade.rb
Labels: bump-cask-pr

#161478 macrorecorder 3.0.47
  Casks/m/macrorecorder.rb
Labels: bump-cask-pr

#161479 rocket-chat 3.9.11
  Casks/r/rocket-chat.rb
Labels: bump-cask-pr

#161481 bruno 1.3.0
  Casks/b/bruno.rb
Labels: bump-cask-pr

#161474 fxfactory 8.0.11,7685
  Casks/f/fxfactory.rb
Labels: ci-retry, bump-cask-pr

#161482 google-drive 84.0.10
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#161483 input-source-pro 2.4.8-beta
  Casks/i/input-source-pro.rb
Labels: bump-cask-pr

#161491 texstudio 4.7.0
  Casks/t/texstudio.rb
Labels: bump-cask-pr

#161493 keyclu 0.18
  Casks/k/keyclu.rb
Labels: bump-cask-pr

#161494 heptabase 1.17.2
  Casks/h/heptabase.rb
Labels: bump-cask-pr

#161495 multiapp 0.335.0
  Casks/m/multiapp.rb
Labels: bump-cask-pr

#161496 netbeans 20
  Casks/n/netbeans.rb
Labels: bump-cask-pr

#161497 netxms-console 4.4.4
  Casks/n/netxms-console.rb
Labels: bump-cask-pr

#161498 mkvtoolnix 81.0
  Casks/m/mkvtoolnix.rb
Labels: bump-cask-pr

#161499 nudge 1.1.13.81507
  Casks/n/nudge.rb
Labels: bump-cask-pr

#161500 openaudible 3.9.7.1
  Casks/o/openaudible.rb
Labels: bump-cask-pr

#161501 radar 2.6.4
  Casks/r/radar.rb
Labels: bump-cask-pr

#161502 praat 6.4.01
  Casks/p/praat.rb
Labels: bump-cask-pr

#161503 quicken 7.4.1
  Casks/q/quicken.rb
Labels: bump-cask-pr

#161505 rive 0.8.913
  Casks/r/rive.rb
Labels: bump-cask-pr

#161506 sfm 1.7.1
  Casks/s/sfm.rb
Labels: bump-cask-pr

#161507 supernotes 3.0.6
  Casks/s/supernotes.rb
Labels: bump-cask-pr

#161510 metasploit 6.3.46,20231202113121
  Casks/m/metasploit.rb
Labels: bump-cask-pr

#161504 retrobatch 2.0.3
  Casks/r/retrobatch.rb
Labels: bump-cask-pr

#161512 jellyfin 10.8.13-1
  Casks/j/jellyfin.rb
Labels: bump-cask-pr

#161514 maccy 0.29.0
  Casks/m/maccy.rb
Labels: bump-cask-pr

#161475 geogebra 6.0.814.0
  Casks/g/geogebra.rb
Labels: ci-retry, bump-cask-pr

#161522 altair-graphql-client 5.2.12
  Casks/a/altair-graphql-client.rb
Labels: bump-cask-pr

#161523 ankiapp-anki 8.0.0
  Casks/a/ankiapp-anki.rb
Labels: bump-cask-pr

#161526 blockbench 4.9.0
  Casks/b/blockbench.rb
Labels: bump-cask-pr

#161529 cloudnet 1.36.2.14
  Casks/c/cloudnet.rb
Labels: bump-cask-pr

#161530 cursor 0.18.3
  Casks/c/cursor.rb
Labels: bump-cask-pr

#161533 dcp-o-matic-batch-converter 2.16.70
  Casks/d/dcp-o-matic-batch-converter.rb
Labels: bump-cask-pr

#161535 dcp-o-matic-disk-writer 2.16.70
  Casks/d/dcp-o-matic-disk-writer.rb
Labels: bump-cask-pr

#161536 dcp-o-matic-editor 2.16.70
  Casks/d/dcp-o-matic-editor.rb
Labels: bump-cask-pr

#161537 dcp-o-matic-encode-server 2.16.70
  Casks/d/dcp-o-matic-encode-server.rb
Labels: bump-cask-pr

#161538 dcp-o-matic-kdm-creator 2.16.70
  Casks/d/dcp-o-matic-kdm-creator.rb
Labels: bump-cask-pr

#161539 dcp-o-matic-player 2.16.70
  Casks/d/dcp-o-matic-player.rb
Labels: bump-cask-pr

#161540 dcp-o-matic-playlist-editor 2.16.70
  Casks/d/dcp-o-matic-playlist-editor.rb
Labels: bump-cask-pr

#161541 deepgit 4.4
  Casks/d/deepgit.rb
Labels: bump-cask-pr

#161542 deltachat 1.42.2
  Casks/d/deltachat.rb
Labels: bump-cask-pr

#161543 direqual 5.7.4,57404
  Casks/d/direqual.rb
Labels: bump-cask-pr

#161545 double-commander 1.1.7
  Casks/d/double-commander.rb
Labels: bump-cask-pr

#161546 easydict 2.2.0
  Casks/e/easydict.rb
Labels: bump-cask-pr

#161555 serial 2.0.17
  Casks/s/serial.rb
Labels: bump-cask-pr

#161558 mediaelch 2.10.6
  Casks/m/mediaelch.rb
Labels: bump-cask-pr

#161552 restfox 0.3.0
  Casks/r/restfox.rb
Labels: bump-cask-pr

#161553 gridtracker 1.23.1202
  Casks/g/gridtracker.rb
Labels: bump-cask-pr

#161561 virtual-desktop-streamer 1.29.10
  Casks/v/virtual-desktop-streamer.rb
Labels: bump-cask-pr

#161557 orcaslicer 1.8.1
  Casks/o/orcaslicer.rb
Labels: bump-cask-pr

#161556 sip 3.3.1
  Casks/s/sip.rb
Labels: bump-cask-pr

#161567 google-drive 84.0.11
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#161570 rectangle 0.75
  Casks/r/rectangle.rb
Labels: bump-cask-pr

#161572 screens-connect 5.0.1
  Casks/s/screens-connect.rb
Labels: bump-cask-pr

#161467 vimcal 1.0.25 (new cask)
  Casks/v/vimcal.rb
Labels: awaiting user reply, new cask

#161548 Add BrightIntosh.app v1.4.2
  Casks/b/brightintosh.rb
Labels: new cask

#161575 todoist 8.11.3
  Casks/t/todoist.rb
Labels: bump-cask-pr

#161394 duet 3.15.0.0
  Casks/d/duet.rb
Labels: ci-syntax-only, bump-cask-pr

#161580 microsoft teams 23306.3406.2547.5131
  Casks/m/microsoft-teams.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip

#161589 pdf-reader-pro 3.1.0.0
  Casks/p/pdf-reader-pro.rb
Labels: bump-cask-pr

#161585 october 1.7.0 (new cask)
  Casks/o/october.rb
Labels: new cask

#161596 openwebstart 1.9.0
  Casks/o/openwebstart.rb
Labels: bump-cask-pr

#161610 naver-whale 3.23.214.17
  Casks/n/naver-whale.rb
Labels: bump-cask-pr

#161609 ivpn 3.13.4
  Casks/i/ivpn.rb
Labels: bump-cask-pr

#161612 8x8-work 8.8.3-2
  Casks/8/8x8-work.rb
Labels: bump-cask-pr

#161613 tuist 3.35.1
  Casks/t/tuist.rb
Labels: bump-cask-pr

#161616 cardhop 2.2.14
  Casks/c/cardhop.rb
Labels: bump-cask-pr

#161615 docker 4.26.0
  Casks/d/docker.rb
Labels: bump-cask-pr

#161614 telegram-a 10.0.22
  Casks/t/telegram-a.rb
Labels: bump-cask-pr

#161619 spundle 1.8
  Casks/s/spundle.rb
Labels: bump-cask-pr

#161622 frhelper 4.5.5
  Casks/f/frhelper.rb
Labels: bump-cask-pr

#161623 futubull 13.18.5418
  Casks/f/futubull.rb
Labels: bump-cask-pr

#161624 feishu 7.6.8
  Casks/f/feishu.rb
Labels: bump-cask-pr

#161629 mediamate 2.5.1
  Casks/m/mediamate.rb
Labels: bump-cask-pr

#161631 monotype 6.4.3
  Casks/m/monotype.rb
Labels: bump-cask-pr

#161633 cursor 0.18.4
  Casks/c/cursor.rb
Labels: bump-cask-pr

#161617 sfm 1.7.2
  Casks/s/sfm.rb
Labels: bump-cask-pr

#161630 merlin-project 8.2.0
  Casks/m/merlin-project.rb
Labels: bump-cask-pr

#161621 amie 231204.0.0
  Casks/a/amie.rb
Labels: bump-cask-pr

#161632 melodics 4.0.55
  Casks/m/melodics.rb
Labels: bump-cask-pr

#161625 final-cut-library-manager 3.98
  Casks/f/final-cut-library-manager.rb
Labels: bump-cask-pr

#161626 hazel 5.3
  Casks/h/hazel.rb
Labels: bump-cask-pr

#161637 the-clock 4.9
  Casks/t/the-clock.rb
Labels: bump-cask-pr

#161634 kdocs 3.9.5
  Casks/k/kdocs.rb
Labels: bump-cask-pr

#161638 lagrange 1.17.5
  Casks/l/lagrange.rb
Labels: bump-cask-pr

#161636 therm 0.6.0
  Casks/t/therm.rb
Labels: bump-cask-pr, missing zap

#161635 kdrive 3.5.4.20231204
  Casks/k/kdrive.rb
Labels: bump-cask-pr

#161595 add focusrite-control-2:latest
  Casks/f/focusrite-control-2.rb
Labels: new cask

#161604 radar 2.6.5
  Casks/r/radar.rb
Labels: bump-cask-pr

#161578 NX-Studio (new cask)
  Casks/n/nx-studio.rb
Labels: new cask

#161645 electron 28.0.0
  Casks/e/electron.rb
Labels: bump-cask-pr

#161654 unity 2023.2.2f1
  Casks/u/unity.rb
Labels: bump-cask-pr

#161652 restfox 0.3.1
  Casks/r/restfox.rb
Labels: bump-cask-pr

#161658 gyazo 6.0.0
  Casks/g/gyazo.rb
Labels: bump-cask-pr

#161659 timemachinestatus 0.0.11
  Casks/t/timemachinestatus.rb
Labels: bump-cask-pr

#161661 splice 5.0.4
  Casks/s/splice.rb
Labels: bump-cask-pr

#161663 session-manager-plugin 1.2.536.0
  Casks/s/session-manager-plugin.rb
Labels: bump-cask-pr

#161664 stash 2.5.4
  Casks/s/stash.rb
Labels: bump-cask-pr

#161660 ticktick 5.0.20
  Casks/t/ticktick.rb
Labels: bump-cask-pr

#161697 plexamp 4.9.0
  Casks/p/plexamp.rb
Labels: bump-cask-pr

#161696 photozoom-pro 8.2.0
  Casks/p/photozoom-pro.rb
Labels: bump-cask-pr, missing zap

#161694 pitch 2.3.0
  Casks/p/pitch.rb
Labels: bump-cask-pr

#161693 lapce 0.3.1
  Casks/l/lapce.rb
Labels: bump-cask-pr

#161692 keyboard-maestro 11.0.2
  Casks/k/keyboard-maestro.rb
Labels: bump-cask-pr

#161691 blockbench 4.9.1
  Casks/b/blockbench.rb
Labels: bump-cask-pr

#161690 bluebubbles 1.9.2
  Casks/b/bluebubbles.rb
Labels: bump-cask-pr

#161689 banana-cake-pop 12.0.5
  Casks/b/banana-cake-pop.rb
Labels: bump-cask-pr

#161688 eudic 4.5.5
  Casks/e/eudic.rb
Labels: bump-cask-pr

#161687 elephicon 2.8.0
  Casks/e/elephicon.rb
Labels: bump-cask-pr

#161686 expressvpn 11.47.0.79035
  Casks/e/expressvpn.rb
Labels: bump-cask-pr
