Repository Homebrew/homebrew-cask, pull requests merged in 2023-09, with the labels that each got.

#154162 thunder 5.1.0.65904
  Casks/t/thunder.rb
Labels: bump-cask-pr

#154164 sfm 1.4.1
  Casks/s/sfm.rb
Labels: bump-cask-pr

#154161 arc 1.6.0
  Casks/a/arc.rb
Labels: bump-cask-pr

#154163 baidunetdisk 4.25.5
  Casks/b/baidunetdisk.rb
Labels: ci-retry, bump-cask-pr

#154173 zight 6.7.2
  Casks/z/zight.rb
Labels: bump-cask-pr

#154175 freecad 0.21.1
  Casks/f/freecad.rb
Labels: bump-cask-pr

#154207 oscar 1.5.0
  Casks/o/oscar.rb
Labels: bump-cask-pr, missing zap

#154224 fork 2.33
  Casks/f/fork.rb
Labels: bump-cask-pr

#154195 filebot 5.1.1
  Casks/f/filebot.rb
Labels: bump-cask-pr

#154196 firefly-shimmer 2.1.6
  Casks/f/firefly-shimmer.rb
Labels: bump-cask-pr

#154197 fmail2 2.4.5
  Casks/f/fmail2.rb
Labels: bump-cask-pr

#154204 nvidia-geforce-now 2.0.55.119
  Casks/n/nvidia-geforce-now.rb
Labels: bump-cask-pr

#154201 kdocs 3.9.2
  Casks/k/kdocs.rb
Labels: bump-cask-pr

#154220 unite-phone 2023.8.0
  Casks/u/unite-phone.rb
Labels: bump-cask-pr

#154206 openvpn-connect 3.4.4
  Casks/o/openvpn-connect.rb
Labels: bump-cask-pr

#154217 sunsama 2.0.12
  Casks/s/sunsama.rb
Labels: bump-cask-pr

#154216 superhuman 25.0.0
  Casks/s/superhuman.rb
Labels: bump-cask-pr

#154182 banana-cake-pop 9.0.2
  Casks/b/banana-cake-pop.rb
Labels: bump-cask-pr

#154189 cursor 0.9.2
  Casks/c/cursor.rb
Labels: bump-cask-pr

#154186 burp-suite 2023.9.4
  Casks/b/burp-suite.rb
Labels: bump-cask-pr

#154187 burp-suite-professional 2023.9.4
  Casks/b/burp-suite-professional.rb
Labels: bump-cask-pr

#154191 c0re100-qbittorrent 4.5.5.10
  Casks/c/c0re100-qbittorrent.rb
Labels: bump-cask-pr

#154190 duet 3.9.0.0
  Casks/d/duet.rb
Labels: bump-cask-pr

#154177 4k-video-downloader 4.27.0
  Casks/4/4k-video-downloader.rb
Labels: bump-cask-pr

#154178 4k-video-downloaderplus 1.2.3
  Casks/4/4k-video-downloaderplus.rb
Labels: bump-cask-pr

#154179 4k-youtube-to-mp3 4.12.0
  Casks/4/4k-youtube-to-mp3.rb
Labels: bump-cask-pr

#154180 adguard-vpn 2.1.2.476
  Casks/a/adguard-vpn.rb
Labels: bump-cask-pr

#154181 audius 1.5.39
  Casks/a/audius.rb
Labels: bump-cask-pr

#154183 arduino-ide 2.2.1
  Casks/a/arduino-ide.rb
Labels: bump-cask-pr

#154184 chatall 1.41.67
  Casks/c/chatall.rb
Labels: bump-cask-pr

#154185 clash-for-windows 0.20.33
  Casks/c/clash-for-windows.rb
Labels: bump-cask-pr

#154188 dmg-canvas 4.0.6
  Casks/d/dmg-canvas.rb
Labels: bump-cask-pr

#154198 forkgram-telegram 4.9.4
  Casks/f/forkgram-telegram.rb
Labels: bump-cask-pr

#154199 fxfactory 8.0.9,7593
  Casks/f/fxfactory.rb
Labels: bump-cask-pr

#154200 ivpn 3.12.0
  Casks/i/ivpn.rb
Labels: bump-cask-pr

#154208 pichon 1.5.1
  Casks/p/pichon.rb
Labels: bump-cask-pr

#154210 pitch 1.139.1,stable.2,5856611
  Casks/p/pitch.rb
Labels: bump-cask-pr

#154211 qfinder-pro 7.9.1.0817
  Casks/q/qfinder-pro.rb
Labels: bump-cask-pr

#154212 redisinsight 2.32
  Casks/r/redisinsight.rb
Labels: bump-cask-pr

#154213 retro-virtual-machine 2.1.8
  Casks/r/retro-virtual-machine.rb
Labels: bump-cask-pr

#154214 shift 9.0.5.995
  Casks/s/shift.rb
Labels: bump-cask-pr

#154215 stash 2.4.0,235
  Casks/s/stash.rb
Labels: bump-cask-pr

#154218 textadept 12.1
  Casks/t/textadept.rb
Labels: bump-cask-pr

#154219 tuple 0.107.3
  Casks/t/tuple.rb
Labels: bump-cask-pr

#154221 videofusion 4.5.2.9137
  Casks/v/videofusion.rb
Labels: bump-cask-pr

#154222 zerobranestudio 2.00
  Casks/z/zerobranestudio.rb
Labels: bump-cask-pr, missing zap

#154223 zettlr 3.0.0
  Casks/z/zettlr.rb
Labels: bump-cask-pr

#154202 maa 4.23.1
  Casks/m/maa.rb
Labels: bump-cask-pr

#154194 ff-works 3.6.2
  Casks/f/ff-works.rb
Labels: bump-cask-pr

#154192 apipost 7.2.1
  Casks/a/apipost.rb
Labels: bump-cask-pr

#154228 mimestream 1.1.1
  Casks/m/mimestream.rb
Labels: bump-cask-pr

#154230 Rename "Mouse Fix" to "Mac Mouse Fix"
  Casks/m/mac-mouse-fix.rb
  cask_renames.json
Labels: awaiting user reply, automerge-skip

#154237 bettertouchtool 4.212
  Casks/b/bettertouchtool.rb
Labels: bump-cask-pr

#154238 fme 2023.1.0.1
  Casks/f/fme.rb
Labels: bump-cask-pr

#154239 fxfactory 8.0.9,7594
  Casks/f/fxfactory.rb
Labels: bump-cask-pr

#154240 ocenaudio 3.12.7
  Casks/o/ocenaudio.rb
Labels: bump-cask-pr

#154225 Add Rippling 3.6.2
  Casks/r/rippling.rb
Labels: new cask

#154241 qq 6.9.19.16605
  Casks/q/qq.rb
Labels: bump-cask-pr

#154242 tiny-player 1.6.8
  Casks/t/tiny-player.rb
Labels: bump-cask-pr

#154253 dcp-o-matic 2.16.63
  Casks/d/dcp-o-matic.rb
Labels: bump-cask-pr

#154255 dcp-o-matic-combiner 2.16.63
  Casks/d/dcp-o-matic-combiner.rb
Labels: bump-cask-pr

#154256 dcp-o-matic-editor 2.16.63
  Casks/d/dcp-o-matic-editor.rb
Labels: bump-cask-pr

#154259 dcp-o-matic-player 2.16.63
  Casks/d/dcp-o-matic-player.rb
Labels: bump-cask-pr

#154261 dcp-o-matic-kdm-creator 2.16.63
  Casks/d/dcp-o-matic-kdm-creator.rb
Labels: bump-cask-pr

#154263 gdevelop 5.2.172
  Casks/g/gdevelop.rb
Labels: bump-cask-pr

#154266 launchbar 6.18.1
  Casks/l/launchbar.rb
Labels: bump-cask-pr

#154268 maa 4.23.3
  Casks/m/maa.rb
Labels: bump-cask-pr

#154271 solar2d 2023.3696
  Casks/s/solar2d.rb
Labels: bump-cask-pr

#154273 thebrain 13.0.35.0
  Casks/t/thebrain.rb
Labels: bump-cask-pr, missing zap

#154274 openmsx 19_1
  Casks/o/openmsx.rb
Labels: bump-cask-pr, missing zap

#154272 swiftformat-for-xcode 0.52.3
  Casks/s/swiftformat-for-xcode.rb
Labels: bump-cask-pr

#154277 wifi-explorer-pro 3.6
  Casks/w/wifi-explorer-pro.rb
Labels: bump-cask-pr

#154264 glyphs 3.2,3215
  Casks/g/glyphs.rb
Labels: bump-cask-pr

#154269 opencore-configurator 2.74.0.0
  Casks/o/opencore-configurator.rb
Labels: bump-cask-pr

#154275 citra 2.0
  Casks/c/citra.rb
Labels: bump-cask-pr

#154270 pieces 2.5.0
  Casks/p/pieces.rb
Labels: bump-cask-pr

#154267 lectrote 1.4.4
  Casks/l/lectrote.rb
Labels: bump-cask-pr

#154262 dcp-o-matic-disk-writer 2.16.63
  Casks/d/dcp-o-matic-disk-writer.rb
Labels: bump-cask-pr

#154260 dcp-o-matic-playlist-editor 2.16.63
  Casks/d/dcp-o-matic-playlist-editor.rb
Labels: bump-cask-pr

#154254 dcp-o-matic-batch-converter 2.16.63
  Casks/d/dcp-o-matic-batch-converter.rb
Labels: bump-cask-pr

#154265 hypercal 0.0.97
  Casks/h/hypercal.rb
Labels: bump-cask-pr

#154257 dcp-o-matic-encode-server 2.16.63
  Casks/d/dcp-o-matic-encode-server.rb
Labels: bump-cask-pr

#154245 almighty 2.6.0
  Casks/a/almighty.rb
Labels: bump-cask-pr

#154246 aptakube 1.5.7
  Casks/a/aptakube.rb
Labels: bump-cask-pr

#154247 browser-deputy 1.6.1
  Casks/b/browser-deputy.rb
Labels: bump-cask-pr

#154250 cursor 0.9.3
  Casks/c/cursor.rb
Labels: bump-cask-pr

#154248 copilot-for-xcode 0.22.3
  Casks/c/copilot-for-xcode.rb
Labels: bump-cask-pr

#154249 apifox 2.3.13
  Casks/a/apifox.rb
Labels: bump-cask-pr

#154251 devilutionx 1.5.1
  Casks/d/devilutionx.rb
Labels: bump-cask-pr

#154252 diskcatalogmaker 9.0.0
  Casks/d/diskcatalogmaker.rb
Labels: bump-cask-pr

#154287 there: add livecheck
  Casks/t/there.rb
Labels: missing zap

#154282 utools 4.0.1
  Casks/u/utools.rb
Labels: bump-cask-pr

#154281 graphicconverter 12.0.3
  Casks/g/graphicconverter.rb
Labels: bump-cask-pr

#154285 grandtotal 8.1.3.5
  Casks/g/grandtotal.rb
Labels: bump-cask-pr

#154291 sidequest 0.10.37
  Casks/s/sidequest.rb
Labels: bump-cask-pr

#154290 superproductivity: update livecheck
  Casks/s/superproductivity.rb
Labels: bump-cask-pr

#154292 jabref 5.10
  Casks/j/jabref.rb
Labels: bump-cask-pr

#154296 cog 2817
  Casks/c/cog.rb
Labels: bump-cask-pr

#154294 adrive 4.9.6
  Casks/a/adrive.rb
Labels: bump-cask-pr

#154295 cinderella 3.0b.2077
  Casks/c/cinderella.rb
Labels: bump-cask-pr

#154297 dbeaver-community 23.2.0
  Casks/d/dbeaver-community.rb
Labels: bump-cask-pr

#154298 descript 71.1.3-release.20230903.24220
  Casks/d/descript.rb
Labels: bump-cask-pr

#154299 devpod 0.3.7
  Casks/d/devpod.rb
Labels: bump-cask-pr

#154300 mactracker 7.12.9
  Casks/m/mactracker.rb
Labels: bump-cask-pr

#154301 mcreator 2023.3.36712
  Casks/m/mcreator.rb
Labels: bump-cask-pr

#154279 Add clickhouse-client 23.8.1.2992-lts
  Casks/c/clickhouse.rb
Labels: new cask

#154302 dockx 1.0.4
  Casks/d/dockx.rb
Labels: bump-cask-pr

#154303 electrocrud 3.0.19
  Casks/e/electrocrud.rb
Labels: bump-cask-pr

#154304 elektron-overbridge 2.5.4
  Casks/e/elektron-overbridge.rb
Labels: bump-cask-pr

#154305 franz 5.10.0
  Casks/f/franz.rb
Labels: bump-cask-pr

#154306 portfolioperformance 0.65.2
  Casks/p/portfolioperformance.rb
Labels: bump-cask-pr

#154307 quakespasm 0.96.0
  Casks/q/quakespasm.rb
Labels: bump-cask-pr, missing zap

#154308 vial 0.7.1
  Casks/v/vial.rb
Labels: bump-cask-pr

#154309 vym 2.9.22
  Casks/v/vym.rb
Labels: bump-cask-pr

#154310 vuescan 9.8.16
  Casks/v/vuescan.rb
Labels: bump-cask-pr

#154312 multiviewer-for-f1 1.26.6
  Casks/m/multiviewer-for-f1.rb
Labels: bump-cask-pr

#154313 mplab-xc8 2.45
  Casks/m/mplab-xc8.rb
Labels: bump-cask-pr, missing zap

#154326 jgrennison-openttd 0.55.0
  Casks/j/jgrennison-openttd.rb
Labels: bump-cask-pr

#154327 openrct2 0.4.6
  Casks/o/openrct2.rb
Labels: bump-cask-pr

#154318 heptabase 1.0.0
  Casks/h/heptabase.rb
  cask_renames.json
Labels: automerge-skip

#154328 virtual-desktop-streamer 1.28.1
  Casks/v/virtual-desktop-streamer.rb
Labels: bump-cask-pr

#154330 milkytracker 1.04.00
  Casks/m/milkytracker.rb
Labels: bump-cask-pr

#154333 leapp 0.19.0
  Casks/l/leapp.rb
Labels: bump-cask-pr

#154336 bettertouchtool 4.219
  Casks/b/bettertouchtool.rb
Labels: bump-cask-pr

#154340 iina-plus 0.7.9
  Casks/i/iina-plus.rb
Labels: bump-cask-pr

#154341 updf 1.7.0
  Casks/u/updf.rb
Labels: bump-cask-pr

#154342 nordpass 5.7.23
  Casks/n/nordpass.rb
Labels: bump-cask-pr

#154343 nosqlbooster-for-mongodb 8.1.0
  Casks/n/nosqlbooster-for-mongodb.rb
Labels: bump-cask-pr

#154347 threema 1.2.36
  Casks/t/threema.rb
Labels: bump-cask-pr

#154348 typora 1.7.3
  Casks/t/typora.rb
Labels: bump-cask-pr

#154350 tuist 3.25.0
  Casks/t/tuist.rb
Labels: bump-cask-pr

#154349 tinkerwell 3.32.0
  Casks/t/tinkerwell.rb
Labels: bump-cask-pr

#154352 supernotes 3.0.1
  Casks/s/supernotes.rb
Labels: bump-cask-pr

#154353 surge 5.3.1
  Casks/s/surge.rb
Labels: bump-cask-pr

#154354 sigmaos 1.11.1.3
  Casks/s/sigmaos.rb
Labels: bump-cask-pr

#154356 sidequest 0.10.38
  Casks/s/sidequest.rb
Labels: bump-cask-pr

#154363 hypercal 0.0.98
  Casks/h/hypercal.rb
Labels: bump-cask-pr

#154357 aptakube 1.5.9
  Casks/a/aptakube.rb
Labels: bump-cask-pr

#154358 adobe-creative-cloud-cleaner-tool 4.3.0.395
  Casks/a/adobe-creative-cloud-cleaner-tool.rb
Labels: bump-cask-pr

#154361 fl-studio 21.1.1.3318
  Casks/f/fl-studio.rb
Labels: bump-cask-pr

#154365 manyverse 0.2309.4-beta
  Casks/m/manyverse.rb
Labels: bump-cask-pr

#154364 mp3tag 1.8.5
  Casks/m/mp3tag.rb
Labels: bump-cask-pr

#154345 grammarly-desktop 1.34.1.0
  Casks/g/grammarly-desktop.rb
Labels: bump-cask-pr

#154362 onekey 4.12.0
  Casks/o/onekey.rb
Labels: bump-cask-pr

#154372 metasploit 6.3.33
  Casks/m/metasploit.rb
Labels: bump-cask-pr

#154367 mailmaster 4.17.18.1331
  Casks/m/mailmaster.rb
Labels: bump-cask-pr

#154375 duckduckgo 1.54.1
  Casks/d/duckduckgo.rb
Labels: bump-cask-pr

#154379 blocs 5.1.2
  Casks/b/blocs.rb
Labels: bump-cask-pr

#154380 bloop 0.4.17
  Casks/b/bloop.rb
Labels: bump-cask-pr

#154382 yinxiangbiji 9.7.4_472467
  Casks/y/yinxiangbiji.rb
Labels: bump-cask-pr
