Repository Homebrew/homebrew-cask, pull requests merged in 2023-11, with the labels that each got.

#159035 eve-launcher 2377803
  Casks/e/eve-launcher.rb
Labels: ci-retry, bump-cask-pr

#159042 apipost 7.2.4
  Casks/a/apipost.rb
Labels: bump-cask-pr

#159045 privatevpn 3.3.2
  Casks/p/privatevpn.rb
Labels: livecheck

#159046 lapce 0.3.0
  Casks/l/lapce.rb
Labels: bump-cask-pr

#159047 appflowy 0.3.7
  Casks/a/appflowy.rb
Labels: bump-cask-pr

#159048 tradingview 2.6.3
  Casks/t/tradingview.rb
Labels: bump-cask-pr

#159049 polypane 16.0.0
  Casks/p/polypane.rb
Labels: bump-cask-pr

#159054 tuist 3.31.2
  Casks/t/tuist.rb
Labels: bump-cask-pr

#159056 splice 5.0.1
  Casks/s/splice.rb
Labels: bump-cask-pr

#159055 topaz-video-ai 4.0.2
  Casks/t/topaz-video-ai.rb
Labels: bump-cask-pr

#159059 setapp 3.34.0
  Casks/s/setapp.rb
Labels: bump-cask-pr

#159063 heptabase 1.14.0
  Casks/h/heptabase.rb
Labels: bump-cask-pr

#159064 firealpaca 2.11.11
  Casks/f/firealpaca.rb
Labels: bump-cask-pr

#159066 metasploit 6.3.41,20231101103057
  Casks/m/metasploit.rb
Labels: bump-cask-pr

#159060 syncovery 10.8.1
  Casks/s/syncovery.rb
Labels: bump-cask-pr

#159074 poker-copilot 7.43
  Casks/p/poker-copilot.rb
Labels: bump-cask-pr

#159072 milkman 5.7.0
  Casks/m/milkman.rb
Labels: bump-cask-pr

#159079 panoply 5.2.10
  Casks/p/panoply.rb
Labels: bump-cask-pr

#159070 expressvpn 11.44.1.78733
  Casks/e/expressvpn.rb
Labels: bump-cask-pr

#159080 kotlin-native 1.9.20
  Casks/k/kotlin-native.rb
Labels: bump-cask-pr

#159058 ticktick 5.0.00,297
  Casks/t/ticktick.rb
Labels: bump-cask-pr

#159061 audius 1.5.48
  Casks/a/audius.rb
Labels: bump-cask-pr

#159062 ocenaudio 3.13.2
  Casks/o/ocenaudio.rb
Labels: bump-cask-pr

#159067 coherence-x 4.5
  Casks/c/coherence-x.rb
Labels: bump-cask-pr

#159073 unity 2023.1.18f1
  Casks/u/unity.rb
Labels: bump-cask-pr

#159068 dropshare 5.40
  Casks/d/dropshare.rb
Labels: bump-cask-pr

#159077 bruno 1.0.1
  Casks/b/bruno.rb
Labels: bump-cask-pr

#159050 rocket-typist 3.0.5.1
  Casks/r/rocket-typist.rb
Labels: bump-cask-pr

#159078 protonmail-bridge 3.6.1
  Casks/p/protonmail-bridge.rb
Labels: bump-cask-pr

#159071 browser-deputy 1.6.2
  Casks/b/browser-deputy.rb
Labels: bump-cask-pr

#159075 pitch 1.148.0,stable.2,6101648
  Casks/p/pitch.rb
Labels: bump-cask-pr

#159076 pieces-os 6.5.0
  Casks/p/pieces-os.rb
Labels: bump-cask-pr

#159083 unity-android-support-for-editor 2023.1.18f1
  Casks/u/unity-android-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#159082 unity-windows-support-for-editor 2023.1.18f1
  Casks/u/unity-windows-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#159081 unity-webgl-support-for-editor 2023.1.18f1
  Casks/u/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#159051 unity-ios-support-for-editor 2023.1.18f1
  Casks/u/unity-ios-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#159091 bettertouchtool 4.310
  Casks/b/bettertouchtool.rb
Labels: bump-cask-pr

#159092 bitwarden 2023.10.0
  Casks/b/bitwarden.rb
Labels: bump-cask-pr

#159095 bettertouchtool 4.311
  Casks/b/bettertouchtool.rb
Labels: bump-cask-pr

#159084 tageditor 1.0.14,1201
  Casks/t/tageditor.rb
Labels: bump-cask-pr

#159085 to-audio-converter 1.0.18,1202
  Casks/t/to-audio-converter.rb
Labels: bump-cask-pr

#159087 springtoolsuite 4.20.1
  Casks/s/springtoolsuite.rb
Labels: bump-cask-pr

#159088 araxis-merge 2023.5976
  Casks/a/araxis-merge.rb
Labels: bump-cask-pr

#159089 apifox 2.3.24
  Casks/a/apifox.rb
Labels: bump-cask-pr

#159090 ankerwork 2.5.5
  Casks/a/ankerwork.rb
Labels: bump-cask-pr

#159093 onedrive 23.214.1015.0001
  Casks/o/onedrive.rb
Labels: bump-cask-pr

#159094 milkman 5.7.1
  Casks/m/milkman.rb
Labels: bump-cask-pr

#159096 viber 21.3.0
  Casks/v/viber.rb
Labels: bump-cask-pr

#159098 bilibili 1.12.4.3089
  Casks/b/bilibili.rb
Labels: bump-cask-pr

#159100 krita 5.2.1
  Casks/k/krita.rb
Labels: bump-cask-pr

#159101 logseq 0.9.20
  Casks/l/logseq.rb
Labels: bump-cask-pr

#159102 powerphotos 2.5.4b2
  Casks/p/powerphotos.rb
Labels: bump-cask-pr

#159105 visual-studio-code 1.84.0
  Casks/v/visual-studio-code.rb
Labels: bump-cask-pr

#159103 arq 7.26.3
  Casks/a/arq.rb
Labels: bump-cask-pr

#159120 godot-mono 4.1.3
  Casks/g/godot-mono.rb
Labels: bump-cask-pr

#159117 telegram-desktop 4.11.2
  Casks/t/telegram-desktop.rb
Labels: bump-cask-pr

#159116 mixed-in-key-live 10.0.5.292
  Casks/m/mixed-in-key-live.rb
Labels: bump-cask-pr

#159118 chromium-gost 119.0.6045.105
  Casks/c/chromium-gost.rb
Labels: bump-cask-pr

#159112 rancher 1.11.0
  Casks/r/rancher.rb
Labels: bump-cask-pr

#159114 simply-fortran 3.32.4009
  Casks/s/simply-fortran.rb
Labels: bump-cask-pr

#159113 zed 0.110.2
  Casks/z/zed.rb
Labels: bump-cask-pr

#159119 godot 4.1.3
  Casks/g/godot.rb
Labels: bump-cask-pr

#159115 flipper 0.235.0
  Casks/f/flipper.rb
Labels: bump-cask-pr

#159109 rive 0.8.853
  Casks/r/rive.rb
Labels: bump-cask-pr

#159108 readdle-spark 3.10.0.60397
  Casks/r/readdle-spark.rb
Labels: bump-cask-pr

#159107 remote-desktop-manager 2023.3.6.3
  Casks/r/remote-desktop-manager.rb
Labels: bump-cask-pr

#159111 skype 8.107.0.215
  Casks/s/skype.rb
Labels: bump-cask-pr

#159110 bettertouchtool 4.312
  Casks/b/bettertouchtool.rb
Labels: bump-cask-pr

#159122 bettertouchtool 4.313
  Casks/b/bettertouchtool.rb
Labels: bump-cask-pr

#159121 zspace 2.4.2023103101
  Casks/z/zspace.rb
Labels: bump-cask-pr

#159123 front 3.45.16
  Casks/f/front.rb
Labels: bump-cask-pr

#159124 sf 2.15.9
  Casks/s/sf.rb
Labels: bump-cask-pr

#159126 splice 5.0.2
  Casks/s/splice.rb
Labels: bump-cask-pr

#159127 sunvox 2.1.1b
  Casks/s/sunvox.rb
Labels: bump-cask-pr, missing zap

#159129 electron 27.0.3
  Casks/e/electron.rb
Labels: bump-cask-pr

#159131 fldigi 4.2.03
  Casks/f/fldigi.rb
Labels: bump-cask-pr

#159132 vlc 3.0.20
  Casks/v/vlc.rb
Labels: bump-cask-pr

#159133 keyclu 0.17
  Casks/k/keyclu.rb
Labels: bump-cask-pr

#159134 forkgram-telegram 4.11.2
  Casks/f/forkgram-telegram.rb
Labels: bump-cask-pr

#159135 hydrus-network 550
  Casks/h/hydrus-network.rb
Labels: bump-cask-pr

#159136 multiapp 0.297.5
  Casks/m/multiapp.rb
Labels: bump-cask-pr

#159137 mmhmm-studio 2.6.1
  Casks/m/mmhmm-studio.rb
Labels: bump-cask-pr

#159141 r 4.3.2
  Casks/r/r.rb
Labels: bump-cask-pr

#159143 microsoft-azure-storage-explorer 1.32.0
  Casks/m/microsoft-azure-storage-explorer.rb
Labels: bump-cask-pr

#159139 coscreen 6.1.57
  Casks/c/coscreen.rb
Labels: bump-cask-pr

#159140 dockx 1.0.8
  Casks/d/dockx.rb
Labels: bump-cask-pr

#159142 draw-things 1.20231031.0-43181c38
  Casks/d/draw-things.rb
Labels: bump-cask-pr

#159144 ecamm-live 4.1.4
  Casks/e/ecamm-live.rb
Labels: bump-cask-pr

#159145 elephicon 2.7.2
  Casks/e/elephicon.rb
Labels: bump-cask-pr

#159147 fossa 3.8.20
  Casks/f/fossa.rb
Labels: bump-cask-pr

#159148 local 8.0.2
  Casks/l/local.rb
Labels: bump-cask-pr

#159150 rewind 14941.1
  Casks/r/rewind.rb
Labels: bump-cask-pr

#159151 textadept 12.2
  Casks/t/textadept.rb
Labels: bump-cask-pr

#159152 understand 6.5.1158
  Casks/u/understand.rb
Labels: bump-cask-pr

#159153 dropbox 186.4.6207
  Casks/d/dropbox.rb
Labels: bump-cask-pr

#159159 Add Metamer.app v1.3
  Casks/m/metamer.rb
Labels: new cask

#159155 quickhash 3.3.4
  Casks/q/quickhash.rb
Labels: bump-cask-pr, livecheck

#159163 go-agent 23.4.0
  Casks/g/go-agent.rb
Labels: bump-cask-pr

#159164 gyroflow 1.5.4
  Casks/g/gyroflow.rb
Labels: bump-cask-pr

#159165 go-server 23.4.0
  Casks/g/go-server.rb
Labels: bump-cask-pr

#159166 ticktick 5.0.00,299
  Casks/t/ticktick.rb
Labels: bump-cask-pr

#159167 apipost 7.2.5
  Casks/a/apipost.rb
Labels: bump-cask-pr

#159168 apidog 2.3.24
  Casks/a/apidog.rb
Labels: bump-cask-pr

#159169 mblock 5.4.3
  Casks/m/mblock.rb
Labels: bump-cask-pr

#159170 moonlight 5.0.1
  Casks/m/moonlight.rb
Labels: bump-cask-pr

#159176 wondershare-uniconverter 15.0.4
  Casks/w/wondershare-uniconverter.rb
Labels: bump-cask-pr

#159174 fix:zap should use absolute path
  Casks/r/remote-wake-up.rb
  Casks/s/splashtop-streamer.rb
  Casks/t/tailscale.rb
  Casks/t/teensy.rb
Labels: automerge-skip

#159173 pitch 1.148.0,stable.3,6107214
  Casks/p/pitch.rb
Labels: bump-cask-pr

#159177 bettertouchtool 4.314
  Casks/b/bettertouchtool.rb
Labels: bump-cask-pr

#159178 tinkerwell 4.0.1
  Casks/t/tinkerwell.rb
Labels: bump-cask-pr

#159180 torguard 4.8.24
  Casks/t/torguard.rb
Labels: bump-cask-pr

#159181 amadine 1.5.4
  Casks/a/amadine.rb
Labels: bump-cask-pr

#159182 resolume-arena 7.18.0
  Casks/r/resolume-arena.rb
Labels: bump-cask-pr

#159184 datadog-agent 7.49.0-1
  Casks/d/datadog-agent.rb
Labels: bump-cask-pr

#159185 gog-galaxy 2.0.73.27
  Casks/g/gog-galaxy.rb
Labels: bump-cask-pr

#159186 notesnook 2.6.8
  Casks/n/notesnook.rb
Labels: bump-cask-pr

#159187 jabra-direct 6.12.30302
  Casks/j/jabra-direct.rb
Labels: bump-cask-pr

#159188 chatbox 1.1.2
  Casks/c/chatbox.rb
Labels: bump-cask-pr

#159189 tower 10.1.1,365,8a9297e6
  Casks/t/tower.rb
Labels: bump-cask-pr

#159183 metasploit 6.3.41,20231102103041
  Casks/m/metasploit.rb
Labels: bump-cask-pr

#159190 entry 2.1.8
  Casks/e/entry.rb
Labels: bump-cask-pr

#159195 glyphs 3.2,3225
  Casks/g/glyphs.rb
Labels: bump-cask-pr

#159196 arc 1.15.0
  Casks/a/arc.rb
Labels: bump-cask-pr

#159197 audius 1.5.49
  Casks/a/audius.rb
Labels: bump-cask-pr

#159198 eloston-chromium 118.0.5993.117-1.1
  Casks/e/eloston-chromium.rb
Labels: bump-cask-pr

#159200 coteditor 4.6.4
  Casks/c/coteditor.rb
Labels: bump-cask-pr

#159199 mailbutler 7002
  Casks/m/mailbutler.rb
Labels: bump-cask-pr

#159205 datweatherdoe 4.1.0
  Casks/d/datweatherdoe.rb
Labels: bump-cask-pr

#159207 kuaitie 3.6.0
  Casks/k/kuaitie.rb
Labels: bump-cask-pr

#159201 vallum 4.1.3
  Casks/v/vallum.rb
Labels: bump-cask-pr

#159203 vscodium 1.84.0.23306
  Casks/v/vscodium.rb
Labels: bump-cask-pr

#159206 brave-browser 1.60.110.0
  Casks/b/brave-browser.rb
Labels: bump-cask-pr

#159211 gdevelop 5.3.180
  Casks/g/gdevelop.rb
Labels: bump-cask-pr

#159202 viber 21.3.0,2132
  Casks/v/viber.rb
Labels: bump-cask-pr

#159204 xiv-on-mac 4.12.5
  Casks/x/xiv-on-mac.rb
Labels: bump-cask-pr

#159208 youdaonote 7.2.14
  Casks/y/youdaonote.rb
Labels: bump-cask-pr

#159212 texturepacker 7.1.0
  Casks/t/texturepacker.rb
Labels: bump-cask-pr

#159214 todoist 8.9.4
  Casks/t/todoist.rb
Labels: bump-cask-pr

#159217 audio-hijack 4.3.0
  Casks/a/audio-hijack.rb
Labels: bump-cask-pr

#159213 music-decoy: new cask
  Casks/m/music-decoy.rb
Labels: new cask, ci-skip-repository

#159219 audacity 3.4.0
  Casks/a/audacity.rb
Labels: bump-cask-pr

#159220 ankama 3.11.14
  Casks/a/ankama.rb
Labels: bump-cask-pr

#159218 steelseries-gg 50.0.0
  Casks/s/steelseries-gg.rb
Labels: bump-cask-pr

#159223 multiapp 0.297.6
  Casks/m/multiapp.rb
Labels: bump-cask-pr

#159224 menubarx 1.6.5
  Casks/m/menubarx.rb
Labels: bump-cask-pr

#159225 maa 4.26.1
  Casks/m/maa.rb
Labels: bump-cask-pr

#159226 chronoagent 11.0.0
  Casks/c/chronoagent.rb
Labels: bump-cask-pr

#159227 chronosync 11.0.0
  Casks/c/chronosync.rb
Labels: bump-cask-pr

#159228 devpod 0.4.1
  Casks/d/devpod.rb
Labels: bump-cask-pr

#156604 gstreamer-runtime 1.22.6
  Casks/g/gstreamer-runtime.rb
Labels: new cask
