Repository Homebrew/homebrew-cask, pull requests merged in 2023-10, with the labels that each got.

#156637 rewind 14514.1
  Casks/r/rewind.rb
Labels: bump-cask-pr

#156638 webcatalog 52.4.0
  Casks/w/webcatalog.rb
Labels: bump-cask-pr

#156639 grandtotal 8.1.4
  Casks/g/grandtotal.rb
Labels: bump-cask-pr

#156643 bartender 5.0.31
  Casks/b/bartender.rb
Labels: bump-cask-pr

#156640 sdm 21.30.0
  Casks/s/sdm.rb
Labels: bump-cask-pr

#156642 space-capsule 1.9 (new cask)
  Casks/s/space-capsule.rb
Labels: new cask

#156655 poedit 3.4
  Casks/p/poedit.rb
Labels: bump-cask-pr

#156651 bruno 0.16.5
  Casks/b/bruno.rb
Labels: bump-cask-pr

#156647 double-commander 1.1.3
  Casks/d/double-commander.rb
Labels: bump-cask-pr

#156648 diskcatalogmaker 9.0.1
  Casks/d/diskcatalogmaker.rb
Labels: bump-cask-pr

#156644 shotcut 23.09.29
  Casks/s/shotcut.rb
Labels: bump-cask-pr

#156659 clock-bar: update livecheck
  Casks/c/clock-bar.rb
Labels: livecheck

#156652 keysmith 1.18.6
  Casks/k/keysmith.rb
Labels: bump-cask-pr

#156654 lando 3.20.2
  Casks/l/lando.rb
Labels: bump-cask-pr

#156653 publii 0.43.0
  Casks/p/publii.rb
Labels: bump-cask-pr

#156649 qownnotes 23.10.0
  Casks/q/qownnotes.rb
Labels: bump-cask-pr

#156646 codux 15.12.0
  Casks/c/codux.rb
Labels: bump-cask-pr

#156645 swiftformat-for-xcode 0.52.6
  Casks/s/swiftformat-for-xcode.rb
Labels: bump-cask-pr

#156650 electerm 1.33.36
  Casks/e/electerm.rb
Labels: bump-cask-pr

#156658 trivial 1.0.10
  Casks/t/trivial.rb
Labels: bump-cask-pr

#156657 serial 2.0.16
  Casks/s/serial.rb
Labels: bump-cask-pr, missing zap

#156663 forkgram-telegram 4.10.2
  Casks/f/forkgram-telegram.rb
Labels: bump-cask-pr

#156664 stats 2.9.8
  Casks/s/stats.rb
Labels: bump-cask-pr

#156641 dropbox-dash 2.77.1 (new cask)
  Casks/d/dropbox-dash.rb
Labels: new cask

#156668 safeincloud-password-manager 22.3.7
  Casks/s/safeincloud-password-manager.rb
Labels: bump-cask-pr, missing zap

#156670 dropbox-dash: update livecheck, update desc
  Casks/d/dropbox-dash.rb
Labels: bump-cask-pr

#156656 Add HP Easy Admin
  Casks/h/hp-easy-admin.rb
Labels: new cask

#156667 veracrypt 1.26.7
  Casks/v/veracrypt.rb
Labels: bump-cask-pr

#156492 deepl: update livecheck
  Casks/d/deepl.rb
Labels: upstream, bump-cask-pr

#156672 keepingyouawake 1.6.5
  Casks/k/keepingyouawake.rb
Labels: bump-cask-pr

#156699 gqrx 2.17
  Casks/g/gqrx.rb
Labels: bump-cask-pr

#156696 waterfox 6.0.3
  Casks/w/waterfox.rb
Labels: bump-cask-pr

#156695 bruno 0.17.0
  Casks/b/bruno.rb
Labels: bump-cask-pr

#156694 pitch 1.143.0,stable.4,5966551
  Casks/p/pitch.rb
Labels: bump-cask-pr

#156677 cloudnet 1.36.2.4
  Casks/c/cloudnet.rb
Labels: bump-cask-pr

#156684 agenda 18.1.2
  Casks/a/agenda.rb
Labels: bump-cask-pr

#156681 atlauncher 3.4.34.1
  Casks/a/atlauncher.rb
Labels: bump-cask-pr

#156693 x-swiftformat 2.0
  Casks/x/x-swiftformat.rb
Labels: bump-cask-pr

#156689 metasploit 6.3.37,20231002103039
  Casks/m/metasploit.rb
Labels: bump-cask-pr

#156690 jitsi-meet 2023.10.0
  Casks/j/jitsi-meet.rb
Labels: bump-cask-pr

#156688 mullvad-browser 12.5.6
  Casks/m/mullvad-browser.rb
Labels: bump-cask-pr

#156685 heptabase 1.11.0
  Casks/h/heptabase.rb
Labels: bump-cask-pr

#156683 solar2d 2023.3697
  Casks/s/solar2d.rb
Labels: bump-cask-pr

#156680 shapr3d 5.471.0.5829
  Casks/s/shapr3d.rb
Labels: bump-cask-pr

#156698 pinegrow 7.72
  Casks/p/pinegrow.rb
Labels: bump-cask-pr

#156682 ankama 3.11.10
  Casks/a/ankama.rb
Labels: bump-cask-pr

#156702 visual-studio-code 1.82.3
  Casks/v/visual-studio-code.rb
Labels: bump-cask-pr

#156704 virtualbuddy 1.3.2
  Casks/v/virtualbuddy.rb
Labels: bump-cask-pr

#156703 opencore-patcher 1.0.0
  Casks/o/opencore-patcher.rb
Labels: bump-cask-pr

#156706 rio 0.0.22
  Casks/r/rio.rb
Labels: bump-cask-pr

#156709 uhk-agent 3.1.0
  Casks/u/uhk-agent.rb
Labels: bump-cask-pr

#156710 usbimager 1.0.10
  Casks/u/usbimager.rb
Labels: bump-cask-pr

#156712 gdat 2023r05
  Casks/g/gdat.rb
Labels: bump-cask-pr

#156714 microsoft-teams 1.6.00.26463
  Casks/m/microsoft-teams.rb
Labels: bump-cask-pr

#156715 tailscale 1.50.1
  Casks/t/tailscale.rb
Labels: bump-cask-pr

#156707 rewind 14551.1
  Casks/r/rewind.rb
Labels: bump-cask-pr

#156716 zappy 4.6.0
  Casks/z/zappy.rb
Labels: bump-cask-pr

#156717 tagspaces 5.5.2
  Casks/t/tagspaces.rb
Labels: bump-cask-pr

#156705 google-drive 82.0.1
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#156718 skype 8.105.0.211
  Casks/s/skype.rb
Labels: bump-cask-pr

#156721 anydo 5.0.46
  Casks/a/anydo.rb
Labels: bump-cask-pr

#156722 appflowy 0.3.4
  Casks/a/appflowy.rb
Labels: bump-cask-pr

#156719 adobe-air 50.2.3.6
  Casks/a/adobe-air.rb
Labels: bump-cask-pr

#156720 alacritty 0.12.3
  Casks/a/alacritty.rb
Labels: bump-cask-pr

#156731 macwhisper 5.2
  Casks/m/macwhisper.rb
Labels: bump-cask-pr

#156730 osp-tracker 6.1.4
  Casks/o/osp-tracker.rb
Labels: bump-cask-pr

#156729 opera-gx 102.0.4880.85
  Casks/o/opera-gx.rb
Labels: bump-cask-pr

#156728 openaudible 3.9.1
  Casks/o/openaudible.rb
Labels: bump-cask-pr

#156726 farrago 2.0.6
  Casks/f/farrago.rb
Labels: bump-cask-pr

#156725 fission 2.8.5
  Casks/f/fission.rb
Labels: bump-cask-pr

#156724 drawio 22.0.1
  Casks/d/drawio.rb
Labels: bump-cask-pr

#156732 mixed-in-key-live 10.0.4.291
  Casks/m/mixed-in-key-live.rb
Labels: bump-cask-pr

#156723 textsniper 1.10
  Casks/t/textsniper.rb
Labels: bump-cask-pr

#156661 Update and rename figmadaemon.rb to figmaagent.rb
  Casks/f/figma-agent.rb
  Casks/f/figmadaemon.rb
Labels: automerge-skip

#156671 cask_renames.json: rename figmadaemon to figma-agent
  cask_renames.json
Labels: automerge-skip

#156733 multiapp 0.275.0
  Casks/m/multiapp.rb
Labels: bump-cask-pr

#156734 novabench 5.4.0
  Casks/n/novabench.rb
Labels: bump-cask-pr

#156735 glyphs 3.2,3221
  Casks/g/glyphs.rb
Labels: bump-cask-pr

#156736 foxglove-studio 1.72.0
  Casks/f/foxglove-studio.rb
Labels: bump-cask-pr

#156737 coconutbattery 3.9.14,551F2BBC
  Casks/c/coconutbattery.rb
Labels: bump-cask-pr

#156739 camunda-modeler 5.15.2
  Casks/c/camunda-modeler.rb
Labels: bump-cask-pr

#156741 quickbooks 22.0.4.692
  Casks/q/quickbooks.rb
Labels: bump-cask-pr

#156740 descript 74.1.0-release.20230929.26156
  Casks/d/descript.rb
Labels: bump-cask-pr

#156742 ecamm-live 4.1.1
  Casks/e/ecamm-live.rb
Labels: bump-cask-pr

#156747 popsql 1.0.125
  Casks/p/popsql.rb
Labels: bump-cask-pr

#156743 ente 1.6.45
  Casks/e/ente.rb
Labels: bump-cask-pr

#156745 keeper-password-manager 16.10.9
  Casks/k/keeper-password-manager.rb
Labels: bump-cask-pr

#156748 panwriter 0.8.6
  Casks/p/panwriter.rb
Labels: bump-cask-pr

#156746 loom 0.177.1
  Casks/l/loom.rb
Labels: bump-cask-pr

#156749 purei-play 2023-10-02
  Casks/p/purei-play.rb
Labels: bump-cask-pr

#156750 p4v 2023.3
  Casks/p/p4v.rb
Labels: bump-cask-pr

#156744 miro 0.7.47
  Casks/m/miro.rb
Labels: bump-cask-pr

#156711 ipremoteutility 1.9.3
  Casks/i/ipremoteutility.rb
Labels: bump-cask-pr, missing zap

#156687 maintenance 3.1.0
  Casks/m/maintenance.rb
Labels: bump-cask-pr

#156691 calhash 1.3.0
  Casks/c/calhash.rb
Labels: bump-cask-pr

#156738 deeper 3.0.0
  Casks/d/deeper.rb
Labels: bump-cask-pr

#156752 autobump.yml: add cloudnet
  .github/workflows/autobump.yml
Labels: automerge-skip

#156751 ipremoteutility: various updates
  Casks/i/ipremoteutility.rb
Labels: missing zap

#156754 duplicacy-cli 3.2.1
  Casks/d/duplicacy-cli.rb
Labels: bump-cask-pr

#156756 sfm 1.5.1
  Casks/s/sfm.rb
Labels: bump-cask-pr

#156757 touchosc 1.2.4
  Casks/t/touchosc.rb
Labels: bump-cask-pr

#156760 pdf-expert 3.5.2
  Casks/p/pdf-expert.rb
Labels: bump-cask-pr

#156758 klayout 0.28.12
  Casks/k/klayout.rb
Labels: bump-cask-pr

#156763 grammarly-desktop 1.38.2.1
  Casks/g/grammarly-desktop.rb
Labels: bump-cask-pr

#156764 postman 10.18.10
  Casks/p/postman.rb
Labels: bump-cask-pr

#156789 pitch 1.144.0
  Casks/p/pitch.rb
Labels: bump-cask-pr

#156791 kstars 3.6.7
  Casks/k/kstars.rb
Labels: bump-cask-pr

#156777 mi 3.7.7
  Casks/m/mi.rb
Labels: bump-cask-pr

#156775 manyverse 0.2310.3-beta
  Casks/m/manyverse.rb
Labels: bump-cask-pr

#156768 tuxera-ntfs 2023
  Casks/t/tuxera-ntfs.rb
Labels: bump-cask-pr

#156788 xiv-on-mac 4.10.5
  Casks/x/xiv-on-mac.rb
Labels: bump-cask-pr

#156776 openaudible 3.9.2
  Casks/o/openaudible.rb
Labels: bump-cask-pr

#156772 setapp 3.33.3
  Casks/s/setapp.rb
Labels: bump-cask-pr

#156773 timeular 6.4.0
  Casks/t/timeular.rb
Labels: bump-cask-pr

#156774 snagit 2024.0.0
  Casks/s/snagit.rb
Labels: bump-cask-pr

#156781 vsee 4.19.1
  Casks/v/vsee.rb
Labels: bump-cask-pr

#156784 vivaldi 6.2.3105.56
  Casks/v/vivaldi.rb
Labels: bump-cask-pr

#156780 cacher 2.47.2
  Casks/c/cacher.rb
Labels: bump-cask-pr

#156765 gcs 5.16.2
  Casks/g/gcs.rb
Labels: bump-cask-pr

#156783 bartender 5.0.35
  Casks/b/bartender.rb
Labels: bump-cask-pr

#156785 metasploit 6.3.37,20231003103043
  Casks/m/metasploit.rb
Labels: bump-cask-pr

#156766 tuist 3.28.0
  Casks/t/tuist.rb
Labels: bump-cask-pr

#156770 ankama 3.11.11
  Casks/a/ankama.rb
Labels: bump-cask-pr

#156767 notesnook 2.6.7
  Casks/n/notesnook.rb
Labels: bump-cask-pr

#156795 visual-paradigm 17.1,20231001
  Casks/v/visual-paradigm.rb
Labels: bump-cask-pr

#156794 visual-paradigm-ce 17.1,20231001
  Casks/v/visual-paradigm-ce.rb
Labels: bump-cask-pr

#156793 pycharm 2023.2.2
  Casks/p/pycharm.rb
Labels: bump-cask-pr

#156792 pycharm-ce 2023.2.2
  Casks/p/pycharm-ce.rb
Labels: bump-cask-pr

#156786 dbvisualizer 23.2.5
  Casks/d/dbvisualizer.rb
Labels: bump-cask-pr

#156790 kindle-previewer 3.73.1
  Casks/k/kindle-previewer.rb
Labels: bump-cask-pr

#156818 workflowy 4.0.2310031147
  Casks/w/workflowy.rb
Labels: bump-cask-pr

#156811 coteditor 4.6.2
  Casks/c/coteditor.rb
Labels: bump-cask-pr

#156808 mattermost 5.5.1
  Casks/m/mattermost.rb
Labels: bump-cask-pr

#156814 banana-cake-pop 10.0.0
  Casks/b/banana-cake-pop.rb
Labels: bump-cask-pr

#156803 openaudible 3.9.3
  Casks/o/openaudible.rb
Labels: bump-cask-pr

#156812 vellum 3.5.3
  Casks/v/vellum.rb
Labels: bump-cask-pr

#156807 opera 103.0.4928.16
  Casks/o/opera.rb
Labels: bump-cask-pr

#156821 soundsource 5.6.2
  Casks/s/soundsource.rb
Labels: bump-cask-pr

#156820 audio-hijack 4.2.4
  Casks/a/audio-hijack.rb
Labels: bump-cask-pr

#156804 aerial 3.3.2
  Casks/a/aerial.rb
Labels: bump-cask-pr

#156819 google-chrome 117.0.5938.149
  Casks/g/google-chrome.rb
Labels: bump-cask-pr

#156823 fsnotes 6.4.2
  Casks/f/fsnotes.rb
Labels: bump-cask-pr

#156822 tachidesk-sorayomi 0.5.11
  Casks/t/tachidesk-sorayomi.rb
Labels: bump-cask-pr

#156799 rocket-chat 3.9.9
  Casks/r/rocket-chat.rb
Labels: bump-cask-pr

#156800 tropy 1.15.1
  Casks/t/tropy.rb
Labels: bump-cask-pr

#156801 nosql-workbench 3.8.2
  Casks/n/nosql-workbench.rb
Labels: bump-cask-pr

#156802 steelseries-gg 48.0.0
  Casks/s/steelseries-gg.rb
Labels: bump-cask-pr

#156805 mindjet-mindmanager 23.0.169
  Casks/m/mindjet-mindmanager.rb
Labels: bump-cask-pr, missing zap

#156806 opera-gx 102.0.4880.90
  Casks/o/opera-gx.rb
Labels: bump-cask-pr

#156809 calendar-366 2.14.6
  Casks/c/calendar-366.rb
Labels: bump-cask-pr
