Repository Homebrew/homebrew-cask, pull requests merged in 2023-07, with the labels that each got.

#150198 mimestream 1.0.4
  Casks/mimestream.rb
Labels: bump-cask-pr

#150197 loom 0.165.0
  Casks/loom.rb
Labels: bump-cask-pr

#150199 adobe-air 50.2.3.1
  Casks/adobe-air.rb
Labels: bump-cask-pr

#150200 avast-security 15.7.2
  Casks/avast-security.rb
Labels: bump-cask-pr

#150201 banana-cake-pop 7.0.0
  Casks/banana-cake-pop.rb
Labels: bump-cask-pr

#150203 bloop 0.4.7
  Casks/bloop.rb
Labels: bump-cask-pr

#150204 camunda-modeler 5.12.1
  Casks/camunda-modeler.rb
Labels: bump-cask-pr

#150202 bettermouse 1.5.3769
  Casks/bettermouse.rb
Labels: bump-cask-pr

#150206 dcv-viewer 2023.0.5629
  Casks/dcv-viewer.rb
Labels: bump-cask-pr

#150207 geogebra 6.0.788.0
  Casks/geogebra.rb
Labels: bump-cask-pr

#150208 mongodb-compass 1.38.2
  Casks/mongodb-compass.rb
Labels: bump-cask-pr

#150209 mongodb-compass-isolated-edition 1.38.2
  Casks/mongodb-compass-isolated-edition.rb
Labels: bump-cask-pr

#150210 mongodb-compass-readonly 1.38.2
  Casks/mongodb-compass-readonly.rb
Labels: bump-cask-pr

#150211 sharemouse 6.0.56
  Casks/sharemouse.rb
Labels: bump-cask-pr

#150213 xstation5 2.41.3-Build.5
  Casks/xstation5.rb
Labels: bump-cask-pr

#150205 diskcatalogmaker 8.6.7
  Casks/diskcatalogmaker.rb
Labels: bump-cask-pr

#150212 superhuman 21.0.40
  Casks/superhuman.rb
Labels: bump-cask-pr

#150215 neteasemusic 2.3.16_1020
  Casks/neteasemusic.rb
Labels: bump-cask-pr

#150225 appflowy 0.2.4
  Casks/appflowy.rb
Labels: bump-cask-pr

#150226 darktable 4.4.1
  Casks/darktable.rb
Labels: bump-cask-pr

#150227 adobe-creative-cloud 5.11.0.522.1
  Casks/adobe-creative-cloud.rb
Labels: bump-cask-pr

#150228 bookends 14.2.2
  Casks/bookends.rb
Labels: bump-cask-pr

#150229 chirp 20230701
  Casks/chirp.rb
Labels: bump-cask-pr

#150232 fmail2 2.3.3
  Casks/fmail2.rb
Labels: bump-cask-pr

#150235 notesnook 2.5.6
  Casks/notesnook.rb
Labels: bump-cask-pr

#150236 netxms-console 4.4.0
  Casks/netxms-console.rb
Labels: bump-cask-pr

#150233 dash 6.4.2
  Casks/dash.rb
Labels: bump-cask-pr

#150230 cncjs 1.10.3
  Casks/cncjs.rb
Labels: bump-cask-pr, missing zap

#150231 eloston-chromium 114.0.5735.198-1.1
  Casks/eloston-chromium.rb
Labels: bump-cask-pr

#150234 panoply 5.2.8
  Casks/panoply.rb
Labels: bump-cask-pr

#150237 hepta 0.330.1
  Casks/hepta.rb
Labels: bump-cask-pr

#150238 thangs-sync 1.5.0
  Casks/thangs-sync.rb
Labels: bump-cask-pr

#150240 smplayer 23.6.0
  Casks/smplayer.rb
Labels: bump-cask-pr

#150239 threads 2.2.7
  Casks/threads.rb
Labels: bump-cask-pr

#150242 lg-onscreen-control 6.04
  Casks/lg-onscreen-control.rb
Labels: bump-cask-pr

#150241 various: add zaps
  Casks/bisq.rb
  Casks/brewservicesmenubar.rb
  Casks/devonagent.rb
  Casks/explorer.rb
  Casks/gltfquicklook.rb
  Casks/nodebox.rb
  Casks/sim-daltonism.rb
  Casks/sqlcl.rb
  Casks/vb-cable.rb
Labels: automerge-skip

#150250 gitfiend 0.42.1
  Casks/gitfiend.rb
Labels: bump-cask-pr

#150252 stats 2.9.1
  Casks/stats.rb
Labels: bump-cask-pr

#150251 sejda-pdf 7.6.0
  Casks/sejda-pdf.rb
Labels: bump-cask-pr, missing zap

#150253 alacritty 0.12.2
  Casks/alacritty.rb
Labels: bump-cask-pr

#150254 bettermouse 1.5.3775
  Casks/bettermouse.rb
Labels: bump-cask-pr

#150255 capacities 1.25.33
  Casks/capacities.rb
Labels: bump-cask-pr

#150256 lidarr 1.2.6.3313
  Casks/lidarr.rb
Labels: bump-cask-pr

#150259 metasploit 6.3.24
  Casks/metasploit.rb
Labels: bump-cask-pr

#150262 yate 6.16
  Casks/yate.rb
Labels: bump-cask-pr

#150263 tresorit 3.5.2688.3720
  Casks/tresorit.rb
Labels: bump-cask-pr

#150260 miniforge 23.1.0-3
  Casks/miniforge.rb
Labels: bump-cask-pr

#150265 trailer 1.8.0
  Casks/trailer.rb
Labels: bump-cask-pr

#150258 mediaelch 2.10.2
  Casks/mediaelch.rb
Labels: bump-cask-pr

#150257 mambaforge 23.1.0-3
  Casks/mambaforge.rb
Labels: bump-cask-pr

#150261 murus 2.4
  Casks/murus.rb
Labels: bump-cask-pr

#150267 strawberry 1.0.18
  Casks/strawberry.rb
Labels: bump-cask-pr

#150268 stellarium 23.2
  Casks/stellarium.rb
Labels: bump-cask-pr

#150269 pure-writer 1.9.0
  Casks/pure-writer.rb
Labels: bump-cask-pr

#150273 bettertouchtool 4.151
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#150272 tiddly 0.0.18
  Casks/tiddly.rb
Labels: bump-cask-pr

#150271 mweb-pro 4.4.5
  Casks/mweb-pro.rb
Labels: bump-cask-pr

#150270 ankiapp-anki 7.4.1
  Casks/ankiapp-anki.rb
Labels: bump-cask-pr

#150266 tales-of-majeyal 1.7.6
  Casks/tales-of-majeyal.rb
Labels: bump-cask-pr

#149437 whisky: new cask
  Casks/whisky.rb
Labels: new cask

#150274 mkvtoolnix 78.0
  Casks/mkvtoolnix.rb
Labels: bump-cask-pr

#150275 reminders-menubar 1.20.0
  Casks/reminders-menubar.rb
Labels: bump-cask-pr

#150276 input-source-pro 2.4.5-beta
  Casks/input-source-pro.rb
Labels: bump-cask-pr

#150279 avast-secure-browser 114.0.3926.199
  Casks/avast-secure-browser.rb
Labels: bump-cask-pr

#150280 beast2 2.7.5
  Casks/beast2.rb
Labels: bump-cask-pr

#150281 box-drive 2.33.130
  Casks/box-drive.rb
Labels: bump-cask-pr

#150282 canva 1.69.0
  Casks/canva.rb
Labels: bump-cask-pr

#150283 douyin 2.5.0
  Casks/douyin.rb
Labels: bump-cask-pr

#150284 videofusion 4.3.0.8888
  Casks/videofusion.rb
Labels: bump-cask-pr

#150277 acslogo: remove
  Casks/acslogo.rb
Labels: marked for removal/rejection

#150278 back-in-time: remove
  Casks/back-in-time.rb
Labels: marked for removal/rejection

#150285 dropbox-capture 103.3.0
  Casks/dropbox-capture.rb
Labels: bump-cask-pr

#150288 idagio 1.9.4
  Casks/idagio.rb
Labels: bump-cask-pr

#150286 feed-the-beast 202306291311
  Casks/feed-the-beast.rb
Labels: bump-cask-pr

#150291 bettertouchtool 4.153
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#150289 mathtype: remove
  Casks/mathtype.rb
Labels: marked for removal/rejection

#150290 messenger-unofficial: remove
  Casks/messenger-unofficial.rb
Labels: marked for removal/rejection

#150292 night-owl: remove
  Casks/night-owl.rb
Labels: marked for removal/rejection

#150293 proxyman 4.8.2
  Casks/proxyman.rb
Labels: bump-cask-pr

#150294 mini-program-studio 3.6.4
  Casks/mini-program-studio.rb
Labels: bump-cask-pr

#150295 bettertouchtool 4.154
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#150296 downie 4.6.20
  Casks/downie.rb
Labels: bump-cask-pr

#150297 plex-htpc 1.42.0.3898
  Casks/plex-htpc.rb
Labels: bump-cask-pr

#150299 osbuddy: remove
  Casks/osbuddy.rb
Labels: marked for removal/rejection

#150298 autobump: add casks
  .github/workflows/autobump.yml
Labels: automerge-skip

#150300 glyphs 3.2,3203
  Casks/glyphs.rb
Labels: bump-cask-pr

#150302 grammarly-desktop 1.29.1.0
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#150304 grandperspective 3.3
  Casks/grandperspective.rb
Labels: bump-cask-pr

#150305 gaphor 2.19.1
  Casks/gaphor.rb
Labels: bump-cask-pr

#150303 gramps 5.1.6
  Casks/gramps.rb
Labels: bump-cask-pr, missing zap

#150306 exodus 23.7.3
  Casks/exodus.rb
Labels: bump-cask-pr

#150309 macupdater 3.1.0
  Casks/macupdater.rb
Labels: bump-cask-pr

#150307 lehreroffice 2023.3.4
  Casks/lehreroffice.rb
Labels: bump-cask-pr

#150320 nosqlbooster-for-mongodb 8.0.13
  Casks/nosqlbooster-for-mongodb.rb
Labels: bump-cask-pr

#150317 readmoreading 0.13.56
  Casks/readmoreading.rb
Labels: bump-cask-pr

#150319 protopie 7.8.0
  Casks/protopie.rb
Labels: bump-cask-pr

#150318 readyapi 3.47.0
  Casks/readyapi.rb
Labels: bump-cask-pr

#150316 skim 1.6.17
  Casks/skim.rb
Labels: bump-cask-pr

#150312 pitch 1.130.2
  Casks/pitch.rb
Labels: bump-cask-pr

#150310 metasploit 6.3.24,20230703103404
  Casks/metasploit.rb
Labels: bump-cask-pr

#150311 mochi 1.15.23
  Casks/mochi.rb
Labels: bump-cask-pr

#150308 dingtalk 7.0.42.9_30639644
  Casks/dingtalk.rb
Labels: bump-cask-pr

#150314 entry 2.1.5
  Casks/entry.rb
Labels: bump-cask-pr

#150322 bettertouchtool 4.156
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#150325 docker 4.21.1
  Casks/docker.rb
Labels: bump-cask-pr

#150328 lunasea 10.2.5
  Casks/lunasea.rb
Labels: bump-cask-pr

#150330 skype 8.99.0.403
  Casks/skype.rb
Labels: bump-cask-pr

#150331 macwhisper 3.3.1
  Casks/macwhisper.rb
Labels: bump-cask-pr

#150335 resolume-arena 7.16.0
  Casks/resolume-arena.rb
Labels: bump-cask-pr

#150333 grammarly-desktop 1.29.2.0
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#150347 tachidesk-sorayomi 0.5.8
  Casks/tachidesk-sorayomi.rb
Labels: bump-cask-pr

#150337 radarr 4.6.4.7568
  Casks/radarr.rb
Labels: bump-cask-pr

#150334 todoist 8.4.3
  Casks/todoist.rb
Labels: bump-cask-pr

#150339 vuescan 9.8.11
  Casks/vuescan.rb
Labels: bump-cask-pr

#150338 inkstitch 3.0.1
  Casks/inkstitch.rb
Labels: bump-cask-pr

#150336 alfaview 8.72.0
  Casks/alfaview.rb
Labels: bump-cask-pr

#150345 wechat 3.8.1.17
  Casks/wechat.rb
Labels: bump-cask-pr

#150351 teamviewer 15.43.7
  Casks/teamviewer.rb
Labels: bump-cask-pr

#147432 ankermake: rename from ankerslicer
  Casks/ankermake.rb
  cask_renames.json
Labels: automerge-skip

#150301 pronterface 2.0.1
  Casks/pronterface.rb
Labels: bump-cask-pr, missing zap

#150332 arduino-ide 2.1.1
  Casks/arduino-ide.rb
Labels: bump-cask-pr

#150350 atext 3.14
  Casks/atext.rb
Labels: bump-cask-pr

#150348 buzz 0.8.3
  Casks/buzz.rb
Labels: bump-cask-pr

#150374 messenger 190.0.0.9.106
  Casks/messenger.rb
Labels: bump-cask-pr

#150372 manyverse 0.2307.3-beta
  Casks/manyverse.rb
Labels: bump-cask-pr

#150364 downie 4.6.20,4585
  Casks/downie.rb
Labels: bump-cask-pr

#150356 ableton-live-intro 11.3.4
  Casks/ableton-live-intro.rb
Labels: bump-cask-pr

#150375 ultimaker-cura 5.4.0
  Casks/ultimaker-cura.rb
Labels: bump-cask-pr

#150370 krisp 2.21.9
  Casks/krisp.rb
Labels: bump-cask-pr

#150369 hbuilderx 3.8.7.20230703
  Casks/hbuilderx.rb
Labels: bump-cask-pr

#150367 firefox 115.0
  Casks/firefox.rb
Labels: bump-cask-pr

#150365 futubull 13.7.4318
  Casks/futubull.rb
Labels: bump-cask-pr

#150363 cursor 0.2.40
  Casks/cursor.rb
Labels: bump-cask-pr

#150360 ableton-live-suite 11.3.4
  Casks/ableton-live-suite.rb
Labels: bump-cask-pr

#150359 clay 2.10.8
  Casks/clay.rb
Labels: bump-cask-pr

#150355 blocs 5.1.0
  Casks/blocs.rb
Labels: bump-cask-pr

#150354 banking-4 8.1.2
  Casks/banking-4.rb
Labels: bump-cask-pr

#150373 marvel 11.1.0
  Casks/marvel.rb
Labels: bump-cask-pr

#150358 ableton-live-lite 11.3.4
  Casks/ableton-live-lite.rb
Labels: bump-cask-pr

#150357 ableton-live-standard 11.3.4
  Casks/ableton-live-standard.rb
Labels: bump-cask-pr

#150352 adobe-connect 11,2023.6.382
  Casks/adobe-connect.rb
Labels: bump-cask-pr

#150377 mubu 3.6.1
  Casks/mubu.rb
Labels: bump-cask-pr

#150378 mochi 1.15.25
  Casks/mochi.rb
Labels: bump-cask-pr

#147227 zight: rename from cloudapp
  Casks/cloudapp.rb
  Casks/zight.rb
  cask_renames.json
Labels: automerge-skip

#150371 mailbutler 6604
  Casks/mailbutler.rb
Labels: bump-cask-pr

#150379 metasploit 6.3.24,20230704102956
  Casks/metasploit.rb
Labels: bump-cask-pr

#150380 oxygen-xml-editor 25.1,2023070306
  Casks/oxygen-xml-editor.rb
Labels: bump-cask-pr

#150381 trailer 1.8.1
  Casks/trailer.rb
Labels: bump-cask-pr

#150383 setapp 3.27.0
  Casks/setapp.rb
Labels: bump-cask-pr

#150384 shapr3d 5.410.0.5390
  Casks/shapr3d.rb
Labels: bump-cask-pr
