Repository Homebrew/homebrew-cask, pull requests merged in 2023-04, with the labels that each got.

#144267 Update xctu to 6.5.12,658
  Casks/xctu.rb
Labels: bump-cask-pr

#144318 openlens 6.4.13
  Casks/openlens.rb
Labels: bump-cask-pr

#144320 syncsettings: remove
  Casks/syncsettings.rb
Labels: marked for removal/rejection

#144321 copilot-for-xcode 0.10.0
  Casks/copilot-for-xcode.rb
Labels: bump-cask-pr

#144323 streamlabs-obs 1.12.3
  Casks/streamlabs-obs.rb
Labels: bump-cask-pr

#144324 qgis 3.30.1
  Casks/qgis.rb
Labels: bump-cask-pr

#144328 duckduckgo 1.35.1
  Casks/duckduckgo.rb
Labels: bump-cask-pr

#144329 fmail2 1.7.6
  Casks/fmail2.rb
Labels: bump-cask-pr

#144332 camtasia 2022.6.6
  Casks/camtasia.rb
Labels: bump-cask-pr

#144337 teleport-connect 12.1.5
  Casks/teleport-connect.rb
Labels: bump-cask-pr

#144333 glyphs 3.2,3184
  Casks/glyphs.rb
Labels: bump-cask-pr

#144334 goxel 0.12.0
  Casks/goxel.rb
Labels: bump-cask-pr

#144330 omnigraffle 7.21.4
  Casks/omnigraffle.rb
Labels: bump-cask-pr

#144339 hyperswitch: remove
  Casks/hyperswitch.rb
Labels: marked for removal/rejection

#144336 hepta 0.290.0
  Casks/hepta.rb
Labels: bump-cask-pr

#144338 puzzles 20230401.91735e5
  Casks/puzzles.rb
Labels: bump-cask-pr

#144341 flume: remove
  Casks/flume.rb
Labels: marked for removal/rejection

#144331 bookends 14.1.9
  Casks/bookends.rb
Labels: bump-cask-pr

#144340 cctalk 7.10.6.5-1341
  Casks/cctalk.rb
Labels: missing zap

#144342 soda-player: remove
  Casks/soda-player.rb
Labels: marked for removal/rejection

#144319 phew: remove
  Casks/phew.rb
Labels: marked for removal/rejection

#144335 gpgfrontend 2.1.0
  Casks/gpgfrontend.rb
Labels: bump-cask-pr

#144344 confluent-cli 3.8.0
  Casks/confluent-cli.rb
Labels: bump-cask-pr

#144349 gridtracker 1.23.0402
  Casks/gridtracker.rb
Labels: bump-cask-pr

#144348 usenapp 1.26.4
  Casks/usenapp.rb
Labels: bump-cask-pr

#144347 mactracker 7.12.3
  Casks/mactracker.rb
Labels: bump-cask-pr

#144325 tencent-meeting 3.15.5.405
  Casks/tencent-meeting.rb
Labels: bump-cask-pr

#144345 eudic 4.3.3
  Casks/eudic.rb
Labels: bump-cask-pr

#144346 safe-exam-browser 3.2.5
  Casks/safe-exam-browser.rb
Labels: bump-cask-pr

#144358 puzzles 20230402.0bd1a80
  Casks/puzzles.rb
Labels: bump-cask-pr

#144359 swiftformat-for-xcode 0.51.4
  Casks/swiftformat-for-xcode.rb
Labels: bump-cask-pr

#144360 stats 2.8.15
  Casks/stats.rb
Labels: bump-cask-pr

#144362 ddnet 16.9
  Casks/ddnet.rb
Labels: bump-cask-pr

#144361 medis 2.11.2
  Casks/medis.rb
Labels: bump-cask-pr

#144364 Update nanoem from 34.8.1 to 34.9.0
  Casks/nanoem.rb
Labels: bump-cask-pr

#144350 klayout 0.28.6
  Casks/klayout.rb
Labels: bump-cask-pr

#144351 obs-advanced-scene-switcher 1.21.0
  Casks/obs-advanced-scene-switcher.rb
Labels: bump-cask-pr

#144352 portfolioperformance 0.62.0
  Casks/portfolioperformance.rb
Labels: bump-cask-pr

#144353 xnconvert 1.98.0
  Casks/xnconvert.rb
Labels: bump-cask-pr

#144366 osu 2023.403.0
  Casks/osu.rb
Labels: bump-cask-pr

#144354 avast-security 15.6.0
  Casks/avast-security.rb
Labels: awaiting maintainer feedback

#144368 fsnotes 6.2.2
  Casks/fsnotes.rb
Labels: bump-cask-pr

#144375 Update multi from 2.2.2 to 2.2.3
  Casks/multi.rb
Labels: bump-cask-pr

#144370 dosbox-x 2023.03.31
  Casks/dosbox-x.rb
Labels: bump-cask-pr

#144374 virtualhere 5.4.6
  Casks/virtualhere.rb
Labels: bump-cask-pr

#144373 shearwater-cloud 2.9.8
  Casks/shearwater-cloud.rb
Labels: bump-cask-pr

#144372 protokol 0.5.0
  Casks/protokol.rb
Labels: bump-cask-pr

#144369 altair-graphql-client 5.0.20
  Casks/altair-graphql-client.rb
Labels: bump-cask-pr

#144371 mudlet 4.17.2
  Casks/mudlet.rb
Labels: bump-cask-pr

#144376 icab 6.2
  Casks/icab.rb
Labels: bump-cask-pr

#144377 cookie 6.8.8
  Casks/cookie.rb
Labels: bump-cask-pr

#144379 freedom 2.13.2
  Casks/freedom.rb
Labels: bump-cask-pr, missing zap

#144380 airflow 3.3.5
  Casks/airflow.rb
Labels: bump-cask-pr

#144382 waves-central 14.0.8
  Casks/waves-central.rb
Labels: bump-cask-pr

#144381 fellow 1.4.16
  Casks/fellow.rb
Labels: bump-cask-pr

#144384 slack 4.31.152
  Casks/slack.rb
Labels: bump-cask-pr

#144387 miniforge 23.1.0-1
  Casks/miniforge.rb
Labels: bump-cask-pr

#144385 cityofzion-neon 2.17.1
  Casks/cityofzion-neon.rb
Labels: bump-cask-pr

#144388 slippi-dolphin 3.0.4
  Casks/slippi-dolphin.rb
Labels: bump-cask-pr

#144386 mambaforge 23.1.0-1
  Casks/mambaforge.rb
Labels: bump-cask-pr

#144383 jamovi 2.3.25.0
  Casks/jamovi.rb
Labels: bump-cask-pr

#144378 protokol 0.5.0
  Casks/protokol.rb
Labels: bump-cask-pr

#144389 grandtotal 8.0.7.4
  Casks/grandtotal.rb
Labels: bump-cask-pr

#144390 contexts 3.9.0
  Casks/contexts.rb
Labels: bump-cask-pr

#144392 copyq 7.0.0
  Casks/copyq.rb
Labels: bump-cask-pr

#144363 Add uSMART Trade v3.20.0
  Casks/usmart-trade.rb
Labels: new cask

#144394 wercker: delete
  Casks/wercker.rb
Labels: marked for removal/rejection

#144395 lunastudio: delete
  Casks/lunastudio.rb
Labels: marked for removal/rejection

#144396 gitfox 3.4.5
  Casks/gitfox.rb
Labels: bump-cask-pr

#144399 altair-graphql-client 5.0.21
  Casks/altair-graphql-client.rb
Labels: bump-cask-pr

#144400 chirp 20230402
  Casks/chirp.rb
Labels: bump-cask-pr

#144401 elephas 7.0.11
  Casks/elephas.rb
Labels: bump-cask-pr

#144402 lehreroffice 2023.2.0
  Casks/lehreroffice.rb
Labels: bump-cask-pr, missing zap

#144405 moneydance 2023.1
  Casks/moneydance.rb
Labels: bump-cask-pr, missing zap

#144406 netxms-console 4.3.3
  Casks/netxms-console.rb
Labels: bump-cask-pr

#144410 tidelift 1.12.30
  Casks/tidelift.rb
Labels: bump-cask-pr

#144411 tsh 12.1.5
  Casks/tsh.rb
Labels: bump-cask-pr

#144403 metasploit 6.3.11
  Casks/metasploit.rb
Labels: bump-cask-pr

#144412 uvtools 3.12.3
  Casks/uvtools.rb
Labels: bump-cask-pr

#144404 miaoyan 1.10.1
  Casks/miaoyan.rb
Labels: bump-cask-pr

#144407 osu 2023.403.1
  Casks/osu.rb
Labels: bump-cask-pr

#144409 reflect 2.0.6
  Casks/reflect.rb
Labels: bump-cask-pr

#144413 vieb 9.7.0
  Casks/vieb.rb
Labels: bump-cask-pr

#144408 pym-player 8.0.3
  Casks/pym-player.rb
Labels: bump-cask-pr, missing zap

#144415 zoomus: remove
  Casks/zoomus.rb
Labels: awaiting maintainer feedback, marked for removal/rejection

#144419 zoom 5.14.2.17213
  Casks/zoom.rb
Labels: bump-cask-pr

#144423 nightowl: update url
  Casks/nightowl.rb
Labels: bump-cask-pr

#144422 kstars: update homepage
  Casks/kstars.rb
Labels: bump-cask-pr

#144431 sidenotes 1.4.11
  Casks/sidenotes.rb
Labels: bump-cask-pr

#144435 cleanmymac-zh 4.13.2
  Casks/cleanmymac-zh.rb
Labels: bump-cask-pr

#144436 cleanmymac 4.13.2
  Casks/cleanmymac.rb
Labels: bump-cask-pr

#144437 polkadot-js 0.125.1
  Casks/polkadot-js.rb
Labels: bump-cask-pr

#144440 tutanota 3.112.5
  Casks/tutanota.rb
Labels: bump-cask-pr

#144442 coteditor 4.5.2
  Casks/coteditor.rb
Labels: bump-cask-pr

#144425 wavebox 10.112.6.2
  Casks/wavebox.rb
Labels: bump-cask-pr

#144426 moneymanager 1.6.2
  Casks/moneymanager.rb
Labels: bump-cask-pr

#144427 tableplus 5.3.6
  Casks/tableplus.rb
Labels: bump-cask-pr

#144429 geogebra 6.0.770.0
  Casks/geogebra.rb
Labels: bump-cask-pr

#144430 vscodium 1.77.0.23093
  Casks/vscodium.rb
Labels: bump-cask-pr

#144432 sigmaos 1.6.1.2
  Casks/sigmaos.rb
Labels: bump-cask-pr

#144433 thunder 5.0.7.65849
  Casks/thunder.rb
Labels: bump-cask-pr

#144434 pitch 1.117.1,stable.5,5335978
  Casks/pitch.rb
Labels: bump-cask-pr

#144443 cinderella 3.0b.2072
  Casks/cinderella.rb
Labels: bump-cask-pr

#144424 Add VBrokers v2.2.807
  Casks/vbrokers.rb
Labels: new cask

#144444 Add Mullvad Browser v12.0.4 cask
  Casks/mullvad-browser.rb
Labels: new cask

#144446 http-toolkit 1.12.5
  Casks/http-toolkit.rb
Labels: bump-cask-pr

#144447 adobe-air 50.2.2.3
  Casks/adobe-air.rb
Labels: bump-cask-pr

#144448 avast-secure-browser 111.0.3633.147
  Casks/avast-secure-browser.rb
Labels: bump-cask-pr

#144450 duckduckgo 1.36.0
  Casks/duckduckgo.rb
Labels: bump-cask-pr

#144451 flipper 0.188.0
  Casks/flipper.rb
Labels: bump-cask-pr

#144453 goland 2023.1
  Casks/goland.rb
Labels: bump-cask-pr

#144458 prezi-next 1.62.0
  Casks/prezi-next.rb
Labels: bump-cask-pr, missing zap

#144456 manyverse 0.2304.3-beta
  Casks/manyverse.rb
Labels: bump-cask-pr

#144459 qownnotes 23.4.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#144460 rocket-chat 3.9.1
  Casks/rocket-chat.rb
Labels: bump-cask-pr

#144461 splice 4.2.7
  Casks/splice.rb
Labels: bump-cask-pr

#144454 grandtotal 8.0.7.5
  Casks/grandtotal.rb
Labels: bump-cask-pr

#144465 windscribe 2.6.14
  Casks/windscribe.rb
Labels: bump-cask-pr

#144463 usmart-trade 3.20.1
  Casks/usmart-trade.rb
Labels: bump-cask-pr

#144441 puzzles 20230403
  Casks/puzzles.rb
Labels: awaiting maintainer feedback, bump-cask-pr

#144455 kotlin-native 1.8.20
  Casks/kotlin-native.rb
Labels: bump-cask-pr

#144467 macupdater 2.3.4
  Casks/macupdater.rb
Labels: bump-cask-pr

#144468 descript 61.1.1-release.20230403.14268
  Casks/descript.rb
Labels: bump-cask-pr

#144469 onedrive 23.054.0313.0003
  Casks/onedrive.rb
Labels: bump-cask-pr

#144470 openlens 6.4.14
  Casks/openlens.rb
Labels: bump-cask-pr

#144471 discord 0.0.274
  Casks/discord.rb
Labels: bump-cask-pr

#144472 hyperdock: delete
  Casks/hyperdock.rb
Labels: marked for removal/rejection

#144475 ticktick 4.4.40
  Casks/ticktick.rb
Labels: bump-cask-pr

#144476 catlight 3.1.4
  Casks/catlight.rb
Labels: bump-cask-pr

#144474 dingtalk 7.0.22.5_29139817
  Casks/dingtalk.rb
Labels: bump-cask-pr

#144473 electron 24.0.0
  Casks/electron.rb
Labels: bump-cask-pr

#144477 mutify: delete
  Casks/mutify.rb
Labels: marked for removal/rejection

#144478 google-drive-file-stream: delete
  Casks/google-drive-file-stream.rb
Labels: marked for removal/rejection

#144480 sdrdx: delete
  Casks/sdrdx.rb
Labels: marked for removal/rejection

#144481 ringcentral 23.1.22
  Casks/ringcentral.rb
Labels: bump-cask-pr

#144482 movist-pro 2.10.3
  Casks/movist-pro.rb
Labels: bump-cask-pr

#144483 kdocs 3.8.2
  Casks/kdocs.rb
Labels: bump-cask-pr

#144485 phpstorm 2023.1
  Casks/phpstorm.rb
Labels: bump-cask-pr

#144486 pitch 1.118.0
  Casks/pitch.rb
Labels: bump-cask-pr

#144487 siyuan 2.8.3
  Casks/siyuan.rb
Labels: bump-cask-pr

#144488 timeular 5.8.2
  Casks/timeular.rb
Labels: bump-cask-pr

#144490 godot-mono 4.0.2
  Casks/godot-mono.rb
Labels: bump-cask-pr

#144489 puzzles 20230404
  Casks/puzzles.rb
Labels: bump-cask-pr

#144493 mattermost 5.3.1
  Casks/mattermost.rb
Labels: bump-cask-pr

#144495 ccleaner 2.08.173
  Casks/ccleaner.rb
Labels: bump-cask-pr

#144497 aircall 2.32.2
  Casks/aircall.rb
Labels: bump-cask-pr

#144499 readyapi 3.45.0
  Casks/readyapi.rb
Labels: bump-cask-pr

#144498 fantastical 3.7.9
  Casks/fantastical.rb
Labels: bump-cask-pr

#144504 freeyourmusic 7.2.9
  Casks/freeyourmusic.rb
Labels: bump-cask-pr

#144507 jetbrains-space 2023.1.1
  Casks/jetbrains-space.rb
Labels: bump-cask-pr
