Repository Homebrew/homebrew-cask, pull requests merged in 2023-08, with the labels that each got.

#152048 messenger 192.0.0.8.125
  Casks/messenger.rb
Labels: bump-cask-pr

#152049 anydo 5.0.41
  Casks/anydo.rb
Labels: bump-cask-pr

#152050 banking-4 8.1.4
  Casks/banking-4.rb
Labels: bump-cask-pr

#152052 clay 2.11.1
  Casks/clay.rb
Labels: bump-cask-pr

#152053 dash-dash 19.3.0
  Casks/dash-dash.rb
Labels: bump-cask-pr

#152055 duckduckgo 1.50.0
  Casks/duckduckgo.rb
Labels: bump-cask-pr

#152057 melodics 3.1.649
  Casks/melodics.rb
Labels: bump-cask-pr

#152058 mmhmm 1.1.3
  Casks/mmhmm.rb
Labels: bump-cask-pr

#152056 geogebra 6.0.793.0
  Casks/geogebra.rb
Labels: bump-cask-pr

#152059 panoply 5.2.9
  Casks/panoply.rb
Labels: bump-cask-pr

#152051 apipost 7.1.9
  Casks/apipost.rb
Labels: bump-cask-pr

#152054 cursor 0.6.0
  Casks/cursor.rb
Labels: bump-cask-pr

#152061 slack 4.33.84
  Casks/slack.rb
Labels: bump-cask-pr

#152060 qqmusic 8.8.0
  Casks/qqmusic.rb
Labels: bump-cask-pr

#152064 unite 4.5
  Casks/unite.rb
Labels: bump-cask-pr

#152080 element 1.11.37
  Casks/element.rb
Labels: bump-cask-pr

#152081 atext 3.15
  Casks/atext.rb
Labels: bump-cask-pr

#152082 firefox 116.0
  Casks/firefox.rb
Labels: bump-cask-pr

#152100 mactracker 7.12.6
  Casks/mactracker.rb
Labels: bump-cask-pr

#152101 plex 1.75.0.3920
  Casks/plex.rb
Labels: bump-cask-pr

#152103 permute 3.10.7
  Casks/permute.rb
Labels: bump-cask-pr

#152104 telegram 9.7.2
  Casks/telegram.rb
Labels: bump-cask-pr

#152109 bettertouchtool 4.182
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#152108 rio 0.0.15
  Casks/rio.rb
Labels: bump-cask-pr

#152106 gitkraken 9.6.1
  Casks/gitkraken.rb
Labels: bump-cask-pr

#152105 signal 6.27.1
  Casks/signal.rb
Labels: bump-cask-pr

#152083 waterfox 5.1.10
  Casks/waterfox.rb
Labels: bump-cask-pr

#152086 scummvm 2.7.1
  Casks/scummvm.rb
Labels: bump-cask-pr

#152089 craft 2.5.10
  Casks/craft.rb
Labels: bump-cask-pr

#152099 ff-works 3.5.2
  Casks/ff-works.rb
Labels: bump-cask-pr

#152090 binance 1.46.2
  Casks/binance.rb
Labels: bump-cask-pr

#152095 metasploit 6.3.28,20230801103121
  Casks/metasploit.rb
Labels: bump-cask-pr

#152084 tuple 0.106.0
  Casks/tuple.rb
Labels: bump-cask-pr

#152094 nozbe 2023.25
  Casks/nozbe.rb
Labels: bump-cask-pr

#152093 pitch 1.135.0
  Casks/pitch.rb
Labels: bump-cask-pr

#152097 easyeda 6.5.34
  Casks/easyeda.rb
Labels: bump-cask-pr

#152088 airdroid 3.7.1.1
  Casks/airdroid.rb
Labels: bump-cask-pr

#152085 tuist 3.22.0
  Casks/tuist.rb
Labels: bump-cask-pr

#152091 curseforge 0.230.3-1
  Casks/curseforge.rb
Labels: bump-cask-pr

#152087 unity 2023.1.6f1
  Casks/unity.rb
Labels: bump-cask-pr

#152092 praat 6.3.13
  Casks/praat.rb
Labels: bump-cask-pr

#152107 zspace: new cask
  Casks/zspace.rb
Labels: new cask

#152110 unity-android-support-for-editor 2023.1.6f1
  Casks/unity-android-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#152112 unity-webgl-support-for-editor 2023.1.6f1
  Casks/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#152113 unity-windows-support-for-editor 2023.1.6f1
  Casks/unity-windows-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#152111 unity-ios-support-for-editor 2023.1.6f1
  Casks/unity-ios-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#152114 downie 4.6.23
  Casks/downie.rb
Labels: bump-cask-pr

#152115 hstracker 2.5.0
  Casks/hstracker.rb
Labels: bump-cask-pr

#152116 adrive 4.9.0
  Casks/adrive.rb
Labels: bump-cask-pr

#152117 google-cloud-sdk 441.0.0
  Casks/google-cloud-sdk.rb
Labels: bump-cask-pr

#152118 tencent-meeting 3.18.6.445
  Casks/tencent-meeting.rb
Labels: bump-cask-pr

#152119 dropbox 179.4.4985
  Casks/dropbox.rb
Labels: bump-cask-pr

#152120 thunderbird 115.1.0
  Casks/thunderbird.rb
Labels: bump-cask-pr

#152131 sublime-text 4151
  Casks/sublime-text.rb
Labels: bump-cask-pr

#152132 utm 4.3.4
  Casks/utm.rb
Labels: bump-cask-pr

#152133 teamviewer 15.44.5
  Casks/teamviewer.rb
Labels: bump-cask-pr

#152170 segger-jlink 7.90
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#152177 whisky 1.1.0
  Casks/whisky.rb
Labels: bump-cask-pr

#152168 4k-video-downloader 4.26.0
  Casks/4k-video-downloader.rb
Labels: bump-cask-pr

#152167 abstract 98.2.14
  Casks/abstract.rb
Labels: bump-cask-pr

#152163 around 0.64.108
  Casks/around.rb
Labels: bump-cask-pr

#152165 anydo 5.0.42
  Casks/anydo.rb
Labels: bump-cask-pr

#152161 fme 2023.0.2
  Casks/fme.rb
Labels: bump-cask-pr

#152152 steamcmd 1690585855
  Casks/steamcmd.rb
Labels: bump-cask-pr

#152156 garagesale 9.4
  Casks/garagesale.rb
Labels: bump-cask-pr

#152141 opera 101.0.4843.33
  Casks/opera.rb
Labels: bump-cask-pr

#152171 screens-connect 4.12.4
  Casks/screens-connect.rb
Labels: bump-cask-pr

#152166 ankama 3.11.3
  Casks/ankama.rb
Labels: bump-cask-pr

#152164 bambu-studio 01.07.01.62
  Casks/bambu-studio.rb
Labels: bump-cask-pr

#152162 breitbandmessung 3.4.0
  Casks/breitbandmessung.rb
Labels: bump-cask-pr

#152160 bbc-iplayer-downloads 2.13.14
  Casks/bbc-iplayer-downloads.rb
Labels: bump-cask-pr

#152158 expressvpn 11.37.0.77755
  Casks/expressvpn.rb
Labels: bump-cask-pr

#152157 freedom 2.18.2
  Casks/freedom.rb
Labels: bump-cask-pr

#152155 geneious-prime 2023.2.1
  Casks/geneious-prime.rb
Labels: bump-cask-pr

#152154 milanote 3.4.8
  Casks/milanote.rb
Labels: bump-cask-pr

#152153 metasploit 6.3.28,20230802103131
  Casks/metasploit.rb
Labels: bump-cask-pr

#152150 textadept 12.0
  Casks/textadept.rb
Labels: bump-cask-pr

#152149 topaz-video-ai 3.3.9
  Casks/topaz-video-ai.rb
Labels: bump-cask-pr

#152148 superlist 0.23.0
  Casks/superlist.rb
Labels: bump-cask-pr

#152147 tradingview 2.5.0
  Casks/tradingview.rb
Labels: bump-cask-pr

#152145 universal-media-server 13.5.0
  Casks/universal-media-server.rb
Labels: bump-cask-pr

#152144 vero 0.6.1
  Casks/vero.rb
Labels: bump-cask-pr

#152142 pitch 1.135.0,stable.2,5743063
  Casks/pitch.rb
Labels: bump-cask-pr

#152140 ocenaudio 3.12.5
  Casks/ocenaudio.rb
Labels: bump-cask-pr

#152182 electron 25.4.0
  Casks/electron.rb
Labels: bump-cask-pr

#152159 fiji 20230801-1717
  Casks/fiji.rb
Labels: bump-cask-pr

#152151 timeular 6.1.1
  Casks/timeular.rb
Labels: bump-cask-pr

#152146 xiv-on-mac 4.10.2
  Casks/xiv-on-mac.rb
Labels: bump-cask-pr

#152143 xemu 0.7.111
  Casks/xemu.rb
Labels: bump-cask-pr

#152139 logos 27.0.0.0014
  Casks/logos.rb
Labels: bump-cask-pr

#152138 netspot 2.16.1066
  Casks/netspot.rb
Labels: bump-cask-pr

#152137 kodelife 1.1.1
  Casks/kodelife.rb
Labels: bump-cask-pr

#152136 librewolf 116.0
  Casks/librewolf.rb
Labels: bump-cask-pr

#152180 shift 9.0.2.956
  Casks/shift.rb
Labels: bump-cask-pr

#152179 setapp 3.29.0
  Casks/setapp.rb
Labels: bump-cask-pr

#152174 alfred 5.1.2
  Casks/alfred.rb
Labels: bump-cask-pr

#152175 font-finagler: new cask
  Casks/font-finagler.rb
Labels: new cask

#152185 google-chrome 115.0.5790.170
  Casks/google-chrome.rb
Labels: bump-cask-pr

#152206 smlnj 110.99.4
  Casks/smlnj.rb
Labels: bump-cask-pr

#152204 rar 6.23
  Casks/rar.rb
Labels: bump-cask-pr

#152196 languagetool 1.5
  Casks/languagetool.rb
Labels: bump-cask-pr

#152194 hydrus-network 537
  Casks/hydrus-network.rb
Labels: bump-cask-pr

#152197 lasso 1.5.5
  Casks/lasso.rb
Labels: bump-cask-pr

#152195 jgrennison-openttd 0.54.5
  Casks/jgrennison-openttd.rb
Labels: bump-cask-pr

#152191 gog-galaxy 2.0.68.100
  Casks/gog-galaxy.rb
Labels: bump-cask-pr

#152201 nordvpn 8.7.1
  Casks/nordvpn.rb
Labels: bump-cask-pr

#152193 cursr 1.5.0
  Casks/cursr.rb
Labels: bump-cask-pr

#152205 rider 2023.2
  Casks/rider.rb
Labels: bump-cask-pr

#152203 quicken 7.2.1
  Casks/quicken.rb
Labels: bump-cask-pr

#152202 maa 4.21.0
  Casks/maa.rb
Labels: bump-cask-pr

#152200 microblog 3.0.2
  Casks/microblog.rb
Labels: bump-cask-pr

#152199 mendeley-reference-manager 2.97.0
  Casks/mendeley-reference-manager.rb
Labels: bump-cask-pr

#152198 logos 27.1.0.0020
  Casks/logos.rb
Labels: bump-cask-pr

#152192 chatall 1.37.57
  Casks/chatall.rb
Labels: bump-cask-pr

#152189 connectiq 6.2.2
  Casks/connectiq.rb
Labels: bump-cask-pr

#152188 electerm 1.27.30
  Casks/electerm.rb
Labels: bump-cask-pr

#152187 flipper 0.210.0
  Casks/flipper.rb
Labels: bump-cask-pr

#152186 aqua-data-studio 23.0.0
  Casks/aqua-data-studio.rb
Labels: bump-cask-pr

#152212 sublime-text 4152
  Casks/sublime-text.rb
Labels: bump-cask-pr

#152213 wechatwork 4.1.8.99275
  Casks/wechatwork.rb
Labels: bump-cask-pr

#152210 zed 0.97.5
  Casks/zed.rb
Labels: bump-cask-pr

#152209 tunnelblick 3.8.8c
  Casks/tunnelblick.rb
Labels: bump-cask-pr

#152211 tor-browser 12.5.2
  Casks/tor-browser.rb
Labels: bump-cask-pr

#152215 chatbox 0.6.6
  Casks/chatbox.rb
Labels: bump-cask-pr

#152221 osu 2023.803.0
  Casks/osu.rb
Labels: bump-cask-pr

#152234 accordance 14.0.7
  Casks/accordance.rb
Labels: bump-cask-pr

#152235 appflowy 0.2.8
  Casks/appflowy.rb
Labels: bump-cask-pr

#152236 craft 2.5.11
  Casks/craft.rb
Labels: bump-cask-pr

#152237 chirp 20230803
  Casks/chirp.rb
Labels: bump-cask-pr

#152238 curseforge 0.230.4-1
  Casks/curseforge.rb
Labels: bump-cask-pr

#152229 vivaldi 6.1.3035.257
  Casks/vivaldi.rb
Labels: bump-cask-pr

#152242 wavebox 10.115.27.2
  Casks/wavebox.rb
Labels: bump-cask-pr

#152243 mailtrackerblocker 0.8.0
  Casks/mailtrackerblocker.rb
Labels: bump-cask-pr

#152244 pitch 1.135.0,stable.3,5748917
  Casks/pitch.rb
Labels: bump-cask-pr

#152233 httpie 2023.3.2
  Casks/httpie.rb
Labels: ci-retry, bump-cask-pr

#152245 setapp 3.29.1
  Casks/setapp.rb
Labels: bump-cask-pr

#152246 standard-notes 3.167.28
  Casks/standard-notes.rb
Labels: bump-cask-pr

#152247 tigerjython 2.37
  Casks/tigerjython.rb
Labels: bump-cask-pr

#152248 tinkerwell 3.30.0
  Casks/tinkerwell.rb
Labels: bump-cask-pr

#152214 orion 0.99,125
  Casks/orion.rb
Labels: bump-cask-pr

#152249 funter 6.2
  Casks/funter.rb
Labels: bump-cask-pr

#152261 visual-studio-code 1.81.0
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#152265 vscodium 1.81.0.23215
  Casks/vscodium.rb
Labels: bump-cask-pr

#152263 docker 4.22.0
  Casks/docker.rb
Labels: bump-cask-pr

#152257 syncovery 10.6.8
  Casks/syncovery.rb
Labels: bump-cask-pr

#152256 unity 2023.1.7f1
  Casks/unity.rb
Labels: bump-cask-pr

#152254 onekey 4.10.0
  Casks/onekey.rb
Labels: bump-cask-pr

#152253 lm-studio 0.1.11
  Casks/lm-studio.rb
Labels: bump-cask-pr

#152252 qlab 5.2.1
  Casks/qlab.rb
Labels: bump-cask-pr

#151928 ilspy: add arm version
  Casks/ilspy.rb
Labels: awaiting user reply
