Repository Homebrew/homebrew-cask, pull requests merged in 2023-03, with the labels that each got.

#142123 Update logos from 23.1.0.0033 to 23.2.0.0035
  Casks/logos.rb
Labels: bump-cask-pr

#142121 Update ditto from 1.10.1 to 1.11.0
  Casks/ditto.rb
Labels: bump-cask-pr

#142122 Update wifi-explorer-pro from 3.5.3 to 3.5.4
  Casks/wifi-explorer-pro.rb
Labels: bump-cask-pr

#142124 Update bettertouchtool from 4.049 to 4.051
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#142126 Update glyphs from 3.2,3179 to 3.2,3180
  Casks/glyphs.rb
Labels: bump-cask-pr

#142127 Update swiftformat-for-xcode from 0.50.9 to 0.51.0
  Casks/swiftformat-for-xcode.rb
Labels: bump-cask-pr

#142128 Update reaper from 6.75 to 6.76
  Casks/reaper.rb
Labels: bump-cask-pr

#142130 Update gpg-suite from 2022.2 to 2023.1
  Casks/gpg-suite.rb
Labels: bump-cask-pr

#142133 Various: remove https:// from `verified:`
  Casks/ares.rb
  Casks/boom-3d.rb
  Casks/coscreen.rb
  Casks/deskreen.rb
  Casks/encryptr.rb
  Casks/equinox.rb
  Casks/folx.rb
  Casks/goxel.rb
  Casks/internxt-drive.rb
  Casks/izotope-product-portal.rb
  Casks/mds.rb
  Casks/neat.rb
  Casks/orka-vm-tools.rb
  Casks/osculator.rb
  Casks/podman-desktop.rb
  Casks/pokemon-trading-card-game-online.rb
  Casks/ptpwebcam.rb
  Casks/restream-chat.rb
  Casks/scatter.rb
  Casks/shield.rb
  Casks/snes9x.rb
  Casks/soundtoys.rb
  Casks/vial.rb
  Casks/wxmacmolplt.rb
Labels: ci-syntax-only, automerge-skip

#142131 Update gpg-suite-no-mail from 2022.2 to 2023.1
  Casks/gpg-suite-no-mail.rb
Labels: bump-cask-pr

#142132 Update gpg-suite-pinentry from 2022.2 to 2023.1
  Casks/gpg-suite-pinentry.rb
Labels: bump-cask-pr

#142135 Update leapp from 0.17.3 to 0.17.4
  Casks/leapp.rb
Labels: bump-cask-pr

#142134 Update cleanmymac-zh from 4.12.5 to 4.12.6
  Casks/cleanmymac-zh.rb
Labels: bump-cask-pr

#142138 Update github from 3.1.8-2ada979c to 3.2.0-3a1561b0
  Casks/github.rb
Labels: bump-cask-pr

#142139 Update devonagent from 3.11.6 to 3.11.7
  Casks/devonagent.rb
Labels: bump-cask-pr, missing zap

#142142 Update telegram from 9.4.1 to 9.4.2
  Casks/telegram.rb
Labels: bump-cask-pr

#142143 Update bettertouchtool from 4.051 to 4.052
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#142144 Update canva from 1.61.0 to 1.61.1
  Casks/canva.rb
Labels: bump-cask-pr

#142150 Update tyme from 2023.1 to 2023.2
  Casks/tyme.rb
Labels: bump-cask-pr

#142147 Update opera-gx from 95.0.4635.54 to 95.0.4635.71
  Casks/opera-gx.rb
Labels: bump-cask-pr

#142149 Update remarkable from 3.0.4.675 to 3.1.0.712
  Casks/remarkable.rb
Labels: bump-cask-pr

#142154 Update logseq from 0.8.17 to 0.8.18
  Casks/logseq.rb
Labels: bump-cask-pr

#142160 Update trilium-notes from 0.58.8 to 0.59.1
  Casks/trilium-notes.rb
Labels: bump-cask-pr, missing zap

#142158 Update sonixd from 0.15.3 to 0.15.4
  Casks/sonixd.rb
Labels: bump-cask-pr

#142156 Update santa from 2023.1 to 2023.2
  Casks/santa.rb
Labels: bump-cask-pr, missing zap

#142155 Update onekey from 3.29.0 to 3.30.0
  Casks/onekey.rb
Labels: bump-cask-pr

#142148 Update qobuz from 6.1.4 to 7.0.0
  Casks/qobuz.rb
Labels: bump-cask-pr

#142146 Update expressvpn from 11.21.0.72566 to 11.22.0.72800
  Casks/expressvpn.rb
Labels: bump-cask-pr, missing zap

#142145 Update clickcharts from 6.93 to 8.07
  Casks/clickcharts.rb
Labels: bump-cask-pr, missing zap

#142162 Update standard-notes from 3.150.0 to 3.150.7
  Casks/standard-notes.rb
Labels: bump-cask-pr

#142151 Update webex-meetings from 2302.1604.4303.2 to 2302.2206.4303.3
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#142152 Add `livecheck`s for unversioned casks.
  Casks/aexol-remote-mouse.rb
  Casks/amorphousdiskmark.rb
  Casks/backblaze-downloader.rb
  Casks/circuitjs1.rb
  Casks/deathtodsstore.rb
  Casks/fuzzyclock.rb
  Casks/gameranger.rb
  Casks/githubpulse.rb
  Casks/guild-wars2.rb
  Casks/install-disk-creator.rb
  Casks/macpar-deluxe.rb
  Casks/macterm.rb
  Casks/nomad.rb
  Casks/outguess.rb
  Casks/pitchperfect.rb
  Casks/recovery-disk-assistant.rb
  Casks/remote-buddy.rb
  Casks/runescape.rb
  Casks/simplefloatingclock.rb
Labels: automerge-skip

#142163 Update raspberry-pi-imager from 1.7.3 to 1.7.4
  Casks/raspberry-pi-imager.rb
Labels: bump-cask-pr

#142164 Update plex from 1.64.2.3546 to 1.65.1.3596
  Casks/plex.rb
Labels: bump-cask-pr

#142165 Update whatsapp from 2.2307.10 to 2.2308.7
  Casks/whatsapp.rb
Labels: bump-cask-pr

#142169 Update visual-studio-code from 1.75.1 to 1.76.0
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#142170 Update bettertouchtool from 4.052 to 4.053
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#142171 Update audacity from 3.2.4 to 3.2.5
  Casks/audacity.rb
Labels: bump-cask-pr

#142172 Update ledger-live from 2.53.2 to 2.54.0
  Casks/ledger-live.rb
Labels: bump-cask-pr

#142174 Update google-chrome from 110.0.5481.177 to 111.0.5563.50
  Casks/google-chrome.rb
Labels: bump-cask-pr

#142178 Update cryptomator from 1.6.17 to 1.7.0
  Casks/cryptomator.rb
Labels: bump-cask-pr

#142179 Update lastpass from 4.110.0 to 4.110.1
  Casks/lastpass.rb
Labels: bump-cask-pr

#142180 Update menubarx from 1.5.9 to 1.6.0
  Casks/menubarx.rb
Labels: bump-cask-pr

#142177 Update webex-meetings from 2302.0803.4303.1 to 2211.1803.4212.2
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#142176 Update openlens from 6.3.0 to 6.4.0
  Casks/openlens.rb
Labels: bump-cask-pr

#142183 Update playdate-simulator from 1.13.0 to 1.13.1
  Casks/playdate-simulator.rb
Labels: bump-cask-pr, missing zap

#142182 Update reaper from 6.76 to 6.77
  Casks/reaper.rb
Labels: bump-cask-pr

#142185 Update ff-works from 3.3.2 to 3.3.3
  Casks/ff-works.rb
Labels: bump-cask-pr

#142186 Update gog-galaxy from 2.0.58.4 to 2.0.60.2
  Casks/gog-galaxy.rb
Labels: bump-cask-pr

#142187 Update signal from 6.7.0 to 6.8.0
  Casks/signal.rb
Labels: bump-cask-pr

#142188 Update synthesia from 10.9 to 10.9
  Casks/synthesia.rb
Labels: bump-cask-pr

#142189 Update streamlabs-obs from 1.12.1 to 1.12.2
  Casks/streamlabs-obs.rb
Labels: bump-cask-pr

#142173 Throttle `bettertouchtool` updates.
  Casks/bettertouchtool.rb
Labels: livecheck

#142191 Update prizmo from 4.4.3 to 4.5
  Casks/prizmo.rb
Labels: bump-cask-pr

#142192 Update spotify from 1.2.5.1006 to 1.2.6.863
  Casks/spotify.rb
Labels: bump-cask-pr

#142193 Update mailtrackerblocker from 0.7.12 to 0.7.13
  Casks/mailtrackerblocker.rb
Labels: bump-cask-pr

#142196 Update libreoffice from 7.5.0 to 7.5.1
  Casks/libreoffice.rb
Labels: bump-cask-pr

#142198 Update lunacy from 8.7.2 to 9.0.0
  Casks/lunacy.rb
Labels: bump-cask-pr

#142197 Update duet from 3.3.0.0 to 3.3.1.0
  Casks/duet.rb
Labels: bump-cask-pr

#142199 Update a-better-finder-attributes from 7.26 to 7.27
  Casks/a-better-finder-attributes.rb
Labels: bump-cask-pr

#142201 Update texturepacker from 7.0.1 to 7.0.2
  Casks/texturepacker.rb
Labels: bump-cask-pr, missing zap

#142207 Update osu from 2023.207.0 to 2023.301.0
  Casks/osu.rb
Labels: bump-cask-pr

#142202 Update macupdater from 2.3.2 to 2.3.3
  Casks/macupdater.rb
Labels: bump-cask-pr

#142208 Update obsidian from 1.1.15 to 1.1.16
  Casks/obsidian.rb
Labels: bump-cask-pr

#142203 Update libreoffice-language-pack from 7.5.0 to 7.5.1
  Casks/libreoffice-language-pack.rb
Labels: bump-cask-pr

#142209 Update via from 2.1.0 to 2.2.0
  Casks/via.rb
Labels: bump-cask-pr

#142210 Update monero-wallet from 0.18.1.2 to 0.18.2.0
  Casks/monero-wallet.rb
Labels: bump-cask-pr

#142212 Update clay from 2.5.0 to 2.6.1
  Casks/clay.rb
Labels: bump-cask-pr

#142213 Update spacelauncher to 2.0.8
  Casks/spacelauncher.rb
Labels: bump-cask-pr

#142215 Update superlist from 0.11.0 to 0.12.0
  Casks/superlist.rb
Labels: bump-cask-pr

#142214 Update geekbench from 6.0.0 to 6.0.1
  Casks/geekbench.rb
Labels: bump-cask-pr

#142216 pixelstick: remove
  Casks/pixelstick.rb
Labels: marked for removal/rejection, missing zap

#142217 Update rotato from 140.2 to 138.2
  Casks/rotato.rb
Labels: bump-cask-pr

#142219 Update figma from 116.6.3 to 116.7.6
  Casks/figma.rb
Labels: bump-cask-pr

#142223 Update sparrow from 1.7.2 to 1.7.3
  Casks/sparrow.rb
Labels: bump-cask-pr

#142224 Update swiftformat-for-xcode from 0.51.0 to 0.51.1
  Casks/swiftformat-for-xcode.rb
Labels: bump-cask-pr

#142225 Update protonmail-bridge from 2.3.0 to 3.0.19
  Casks/protonmail-bridge.rb
Labels: bump-cask-pr

#142226 Update jetbrains-toolbox from 1.27.2 to 1.27.3
  Casks/jetbrains-toolbox.rb
Labels: bump-cask-pr

#142227 Update typinator from 8.13 to 8.14
  Casks/typinator.rb
Labels: bump-cask-pr

#142228 Update electronmail from 5.1.4 to 5.1.5
  Casks/electronmail.rb
Labels: bump-cask-pr

#142229 Update grandtotal from 8.0.5.6 to 8.0.5.9
  Casks/grandtotal.rb
Labels: bump-cask-pr

#142230 Update linearmouse from 0.7.7 to 0.8.0
  Casks/linearmouse.rb
Labels: bump-cask-pr

#142231 Update opera-gx from 95.0.4635.71 to 95.0.4635.74
  Casks/opera-gx.rb
Labels: bump-cask-pr

#142232 Update qsync-client from 5.0.4.0725 to 5.0.5.1416
  Casks/qsync-client.rb
Labels: bump-cask-pr

#142233 Update sharemouse from 6.0.52 to 6.0.54
  Casks/sharemouse.rb
Labels: bump-cask-pr

#142234 Update tinderbox from 9.5.1 to 9.5.2
  Casks/tinderbox.rb
Labels: bump-cask-pr, missing zap

#142235 Update topaz-video-ai from 3.1.0 to 3.1.5
  Casks/topaz-video-ai.rb
Labels: bump-cask-pr

#142218 brightness: remove
  Casks/brightness.rb
Labels: marked for removal/rejection, missing zap

#142222 Add `zap` stanza for cask `mendeley`
  Casks/mendeley.rb
Labels: bump-cask-pr

#142242 Update warp from 0.2023.02.21.08.03.stable_01 to 0.2023.02.28.08.03.stable_01
  Casks/warp.rb
Labels: bump-cask-pr

#142243 Update netxms-console from 4.3.1 to 4.3.2
  Casks/netxms-console.rb
Labels: bump-cask-pr

#142244 Update microsoft-edge from 110.0.1587.57 to 110.0.1587.63
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#142246 Update linphone from 5.0.11 to 5.0.12
  Casks/linphone.rb
Labels: bump-cask-pr, missing zap

#142240 tastyworks: update and rename to tastytrade
  Casks/tastytrade.rb
  Casks/tastyworks.rb
Labels: automerge-skip

#142250 Update confluent-cli from 3.3.0 to 3.4.0
  Casks/confluent-cli.rb
Labels: bump-cask-pr

#142245 Various: remove unnecessary `arch` condition
  Casks/laravel-kit.rb
  Casks/mutesync.rb
  Casks/netxms-console.rb
  Casks/poi.rb
  Casks/remnote.rb
Labels: ci-syntax-only, automerge-skip

#142248 Update wireshark from 4.0.3 to 4.0.4
  Casks/wireshark.rb
Labels: bump-cask-pr

#142247 Update wireshark-chmodbpf from 4.0.3 to 4.0.4
  Casks/wireshark-chmodbpf.rb
Labels: bump-cask-pr, missing zap

#142249 Update finch from 0.4.0 to 0.4.1
  Casks/finch.rb
Labels: bump-cask-pr

#142251 Update vnc-server from 7.0.0 to 7.0.1
  Casks/vnc-server.rb
Labels: bump-cask-pr

#142252 Update rive from 0.8.98 to 0.8.156
  Casks/rive.rb
Labels: bump-cask-pr

#142254 Update puzzles from 20230213.c139aba to 20230302.c0f715f
  Casks/puzzles.rb
Labels: bump-cask-pr, missing zap

#142255 Update speedify from 13.0.1 to 13.0.3
  Casks/speedify.rb
Labels: bump-cask-pr

#142256 Update tageditor from 1.0.11,1116 to 1.0.11,1120
  Casks/tageditor.rb
Labels: bump-cask-pr

#142257 Update texworks from 0.6.7 to 0.6.8
  Casks/texworks.rb
Labels: bump-cask-pr

#142258 Update timeular from 5.7.7 to 5.7.9
  Casks/timeular.rb
Labels: bump-cask-pr

#142268 Update feishu from 5.31.6 to 5.32.6
  Casks/feishu.rb
Labels: bump-cask-pr

#142269 Update josm from 18646 to 18678
  Casks/josm.rb
Labels: bump-cask-pr

#142253 Update sentinel from 0.19.5 to 0.20.0
  Casks/sentinel.rb
Labels: bump-cask-pr

#142271 Update grammarly-desktop from 1.20.0.3 to 1.21.0.1
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#142272 Update postman from 10.10.9 to 10.11.1
  Casks/postman.rb
Labels: bump-cask-pr

#142273 Update burp-suite from 2023.1.2 to 2023.1.3
  Casks/burp-suite.rb
Labels: bump-cask-pr

#142275 Update shapr3d from 5.320.0.4844 to 5.321.0.4865
  Casks/shapr3d.rb
Labels: bump-cask-pr

#142278 Update p4v from 2022.3 to 2023.1
  Casks/p4v.rb
Labels: bump-cask-pr

#142282 Update copilot-for-xcode from 0.7.0 to 0.8.1
  Casks/copilot-for-xcode.rb
Labels: bump-cask-pr

#142284 Update vscodium from 1.75.1.23040 to 1.76.0.23062
  Casks/vscodium.rb
Labels: bump-cask-pr

#142287 Update 4k-video-downloader from 4.23.1 to 4.23.2
  Casks/4k-video-downloader.rb
Labels: bump-cask-pr

#142288 Update tutanota from 3.109.4 to 3.110.0
  Casks/tutanota.rb
Labels: bump-cask-pr

#142286 Update powerphotos from 2.1.7 to 2.2
  Casks/powerphotos.rb
Labels: bump-cask-pr, missing zap

#142285 Update macs-fan-control from 1.5.14 to 1.5.15
  Casks/macs-fan-control.rb
Labels: bump-cask-pr

#142283 Add iconchamp 1.0.1
  Casks/iconchamp.rb
Labels: new cask, ci-skip-repository

#142291 Update eqmac from 1.7.7 to 1.7.10
  Casks/eqmac.rb
Labels: bump-cask-pr

#142241 Update itch from 25.5.1 to 25.6.1-canary
  Casks/itch.rb
Labels: automerge-skip, bump-cask-pr

#142279 Update pdf-expert from 3.0.35 to 3.0.36
  Casks/pdf-expert.rb
Labels: bump-cask-pr

#142290 Update bike from 1.9,106 to 1.9,108
  Casks/bike.rb
Labels: bump-cask-pr

#142289 Update app-cleaner from 8.1 to 8.1.1
  Casks/app-cleaner.rb
Labels: bump-cask-pr

#142281 Update videoduke from 2.10 to 2.11
  Casks/videoduke.rb
Labels: bump-cask-pr

#142293 Update hstracker from 2.3.8 to 2.3.9
  Casks/hstracker.rb
Labels: bump-cask-pr

#142294 Update cryptomator from 1.7.0 to 1.7.1
  Casks/cryptomator.rb
Labels: bump-cask-pr

#142295 Update netron to 6.6.2
  Casks/netron.rb
Labels: missing zap

#142299 Update copilot-for-xcode from 0.8.1 to 0.8.2
  Casks/copilot-for-xcode.rb
Labels: bump-cask-pr

#142307 Update slack-cli from 1.19.0 to 1.20.0
  Casks/slack-cli.rb
Labels: bump-cask-pr, missing zap

#142305 Update kindavim from 2828.49.0 to 2828.50.0
  Casks/kindavim.rb
Labels: bump-cask-pr

#142309 Update netron to 6.6.7
  Casks/netron.rb
Labels: missing zap

#142310 Update netron to 6.6.8
  Casks/netron.rb
Labels: missing zap

#142314 Update genymotion from 3.3.2 to 3.3.3
  Casks/genymotion.rb
Labels: bump-cask-pr

#142315 Update swift-quit from 1.3 to 1.4
  Casks/swift-quit.rb
Labels: bump-cask-pr

#142316 Update yate from 6.13.2 to 6.13.2.2
  Casks/yate.rb
Labels: bump-cask-pr

#142312 Update bookends from 14.1.7 to 14.1.8
  Casks/bookends.rb
Labels: bump-cask-pr

#142313 Add 115 v2.0.3.6
  Casks/115.rb
Labels: new cask

#142318 Update stats from 2.8.10 to 2.8.11
  Casks/stats.rb
Labels: bump-cask-pr

#142319 Update osu from 2023.301.0 to 2023.305.0
  Casks/osu.rb
Labels: bump-cask-pr

#142321 Update coconutbattery from 3.9.10 to 3.9.11
  Casks/coconutbattery.rb
Labels: bump-cask-pr

#142325 Update youdaonote from 7.2.3 to 7.2.4
  Casks/youdaonote.rb
Labels: bump-cask-pr

#142327 Update chromium-gost from 110.0.5481.96 to 110.0.5481.177
  Casks/chromium-gost.rb
Labels: bump-cask-pr

#142326 Update altair-graphql-client from 5.0.16 to 5.0.17
  Casks/altair-graphql-client.rb
Labels: bump-cask-pr

#142331 Update gdevelop from 5.1.157 to 5.1.158
  Casks/gdevelop.rb
Labels: bump-cask-pr

#142330 Update forkgram-telegram from 4.6.3 to 4.6.7
  Casks/forkgram-telegram.rb
Labels: bump-cask-pr

#142329 Update elephicon from 2.3.1 to 2.3.2
  Casks/elephicon.rb
Labels: bump-cask-pr

#142328 Update dbgate from 5.2.3 to 5.2.4
  Casks/dbgate.rb
Labels: bump-cask-pr
