Repository Homebrew/homebrew-cask, pull requests merged in 2023-06, with the labels that each got.

#148278 webcatalog 48.0.0
  Casks/webcatalog.rb
Labels: bump-cask-pr

#148277 google-drive 75.0.3
  Casks/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#148280 aptakube 1.4.6
  Casks/aptakube.rb
Labels: bump-cask-pr

#148282 bricklink-studio 2.23.5_1
  Casks/bricklink-studio.rb
Labels: bump-cask-pr

#148283 chromium-gost 114.0.5735.90
  Casks/chromium-gost.rb
Labels: bump-cask-pr

#148284 electron 25.0.1
  Casks/electron.rb
Labels: bump-cask-pr

#148285 google-cloud-sdk 433.0.0
  Casks/google-cloud-sdk.rb
Labels: bump-cask-pr

#148286 devonthink 3.9.1
  Casks/devonthink.rb
Labels: bump-cask-pr

#148288 evernote 10.57.10
  Casks/evernote.rb
Labels: bump-cask-pr

#148292 hackolade 6.10.4
  Casks/hackolade.rb
Labels: bump-cask-pr

#148294 genesys-cloud 2.23.561
  Casks/genesys-cloud.rb
Labels: bump-cask-pr

#148293 grandtotal 8.1.1.1
  Casks/grandtotal.rb
Labels: bump-cask-pr

#148295 imazing 2.17.3
  Casks/imazing.rb
Labels: bump-cask-pr

#148296 hydrus-network 530
  Casks/hydrus-network.rb
Labels: bump-cask-pr

#148287 zed 0.88.3
  Casks/zed.rb
Labels: bump-cask-pr

#148297 notebooks 3.2
  Casks/notebooks.rb
Labels: bump-cask-pr

#148299 pitch 1.126.1
  Casks/pitch.rb
Labels: bump-cask-pr

#148301 purei-play 2023-05-31
  Casks/purei-play.rb
Labels: bump-cask-pr

#148302 signal 6.20.0
  Casks/signal.rb
Labels: bump-cask-pr

#148157 shottr 1.7.0
  Casks/shottr.rb
Labels: bump-cask-pr

#148298 orion 0.99,124.2
  Casks/orion.rb
Labels: bump-cask-pr

#148303 uvtools 3.14.0
  Casks/uvtools.rb
Labels: bump-cask-pr

#148306 dropbox 175.4.5569
  Casks/dropbox.rb
Labels: bump-cask-pr

#148307 standard-notes 3.160.19
  Casks/standard-notes.rb
Labels: bump-cask-pr

#148310 webcatalog 48.1.0
  Casks/webcatalog.rb
Labels: bump-cask-pr

#148311 wechatwebdevtools 1.06.2306010
  Casks/wechatwebdevtools.rb
Labels: bump-cask-pr

#148312 ankama 3.9.7
  Casks/ankama.rb
Labels: bump-cask-pr

#148333 pitch 1.126.1,stable.2,5544440
  Casks/pitch.rb
Labels: bump-cask-pr

#148332 pdfelement 9.5.1
  Casks/pdfelement.rb
Labels: bump-cask-pr

#148334 remarkable 3.4.0.742
  Casks/remarkable.rb
Labels: bump-cask-pr

#148328 onedrive 23.101.0514.0001
  Casks/onedrive.rb
Labels: bump-cask-pr

#148329 openshift-client 4.13.2
  Casks/openshift-client.rb
Labels: bump-cask-pr

#148326 melodics 3.1.196
  Casks/melodics.rb
Labels: bump-cask-pr

#148322 mathcha-notebook 1.0.440
  Casks/mathcha-notebook.rb
Labels: bump-cask-pr

#148323 irpf2023 1.4
  Casks/irpf2023.rb
Labels: bump-cask-pr

#148321 lehreroffice 2023.3.0
  Casks/lehreroffice.rb
Labels: bump-cask-pr

#148319 grandtotal 8.1.1.2
  Casks/grandtotal.rb
Labels: bump-cask-pr

#148317 cursor 0.2.23
  Casks/cursor.rb
Labels: bump-cask-pr

#148330 orbstack 0.11.2_1621
  Casks/orbstack.rb
Labels: bump-cask-pr

#148324 metasploit 6.3.19,20230601103442
  Casks/metasploit.rb
Labels: bump-cask-pr

#148320 futubull 13.5.4118
  Casks/futubull.rb
Labels: bump-cask-pr

#148315 codux 15.3.1
  Casks/codux.rb
Labels: bump-cask-pr

#148316 cog 2759
  Casks/cog.rb
Labels: bump-cask-pr

#148331 outline 3.2305.0
  Casks/outline.rb
Labels: bump-cask-pr

#148337 tap-forms 5.3.35
  Casks/tap-forms.rb
Labels: bump-cask-pr

#148335 rekordbox 6.7.2
  Casks/rekordbox.rb
Labels: bump-cask-pr

#148336 sizzy 71.2.0
  Casks/sizzy.rb
Labels: bump-cask-pr

#148313 apipost 7.1.6
  Casks/apipost.rb
Labels: bump-cask-pr

#148318 genymotion 3.4.0
  Casks/genymotion.rb
Labels: bump-cask-pr

#148339 xtool-creative-space 28.265.1685528104377
  Casks/xtool-creative-space.rb
Labels: bump-cask-pr

#148342 google-drive 76.0.2
  Casks/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#148343 fsnotes 6.3.2
  Casks/fsnotes.rb
Labels: bump-cask-pr

#148344 obsidian 1.3.5
  Casks/obsidian.rb
Labels: bump-cask-pr

#148346 burp-suite-professional 2023.5.2
  Casks/burp-suite-professional.rb
Labels: bump-cask-pr

#148371 teleport-connect 13.0.4
  Casks/teleport-connect.rb
Labels: bump-cask-pr

#148370 netbeans 18
  Casks/netbeans.rb
Labels: bump-cask-pr

#148369 zed 0.88.6
  Casks/zed.rb
Labels: bump-cask-pr

#148368 whatsapp 2.2322.15
  Casks/whatsapp.rb
Labels: bump-cask-pr

#148367 threema 1.2.31
  Casks/threema.rb
Labels: bump-cask-pr

#148366 tsh 13.0.4
  Casks/tsh.rb
Labels: bump-cask-pr

#148365 sigmaos 1.8.0.5
  Casks/sigmaos.rb
Labels: bump-cask-pr

#148364 slack-cli 2.3.0
  Casks/slack-cli.rb
Labels: bump-cask-pr

#148363 shift 8.5.8.898
  Casks/shift.rb
Labels: bump-cask-pr

#148362 opera-gx 99.0.4788.49
  Casks/opera-gx.rb
Labels: bump-cask-pr

#148361 santa 2023.5
  Casks/santa.rb
Labels: bump-cask-pr

#148360 sfdx 7.203.6
  Casks/sfdx.rb
Labels: bump-cask-pr

#148359 mem 0.43.0
  Casks/mem.rb
Labels: bump-cask-pr

#148358 linphone 5.0.17
  Casks/linphone.rb
Labels: bump-cask-pr

#148357 gcs 5.11.0
  Casks/gcs.rb
Labels: bump-cask-pr

#148355 couchbase-server-enterprise 7.2.0
  Casks/couchbase-server-enterprise.rb
Labels: bump-cask-pr

#148354 duet 3.7.0.0
  Casks/duet.rb
Labels: bump-cask-pr

#148352 coin-wallet 5.10.1
  Casks/coin-wallet.rb
Labels: bump-cask-pr

#148351 chirp 20230601
  Casks/chirp.rb
Labels: bump-cask-pr

#148350 castr 2.7.0
  Casks/castr.rb
Labels: bump-cask-pr

#148349 camo-studio 2.0.3
  Casks/camo-studio.rb
Labels: bump-cask-pr

#148348 arc 0.106.1
  Casks/arc.rb
Labels: bump-cask-pr

#148347 beeper 3.57.10
  Casks/beeper.rb
Labels: bump-cask-pr

#148356 linear-linear 1.18.3
  Casks/linear-linear.rb
Labels: bump-cask-pr

#148380 google-cloud-sdk 433.0.1
  Casks/google-cloud-sdk.rb
Labels: bump-cask-pr

#148395 psst 0.1.0,20230601.082218
  Casks/psst.rb
Labels: bump-cask-pr

#148393 okta-advanced-server-access 1.70.1
  Casks/okta-advanced-server-access.rb
Labels: bump-cask-pr

#148386 coscreen 5.3.15
  Casks/coscreen.rb
Labels: bump-cask-pr

#148384 cleanmymac-zh 4.13.6
  Casks/cleanmymac-zh.rb
Labels: bump-cask-pr

#148382 decentr 1.5.1
  Casks/decentr.rb
Labels: bump-cask-pr

#148381 cctalk 7.10.7.2
  Casks/cctalk.rb
Labels: bump-cask-pr

#148394 plasticscm-cloud-edition 11.0.16.8022
  Casks/plasticscm-cloud-edition.rb
Labels: bump-cask-pr

#148376 lycheeslicer 5.2.2
  Casks/lycheeslicer.rb
Labels: bump-cask-pr

#148377 ray 2.5.1
  Casks/ray.rb
Labels: bump-cask-pr

#148385 cog 2760
  Casks/cog.rb
Labels: bump-cask-pr

#148387 curseforge 0.226.2-1
  Casks/curseforge.rb
Labels: bump-cask-pr

#148388 douyin 2.4.0
  Casks/douyin.rb
Labels: bump-cask-pr

#148389 emby-server 4.7.13.0
  Casks/emby-server.rb
Labels: bump-cask-pr

#148391 lapce 0.2.8
  Casks/lapce.rb
Labels: bump-cask-pr

#148392 nova 11.1
  Casks/nova.rb
Labels: bump-cask-pr

#148383 bloop 0.4.2
  Casks/bloop.rb
Labels: bump-cask-pr

#148397 remotion 3.152.0
  Casks/remotion.rb
Labels: bump-cask-pr

#148398 splice 4.3.1
  Casks/splice.rb
Labels: bump-cask-pr

#148399 warp 0.2023.05.30.08.03.stable_02
  Casks/warp.rb
Labels: bump-cask-pr

#148375 license-control-center 6.12.8.4318
  Casks/license-control-center.rb
Labels: bump-cask-pr, ci-skip-livecheck

#148390 electrocrud 3.0.9
  Casks/electrocrud.rb
Labels: ci-skip-livecheck

#148406 confluent-cli 3.15.1
  Casks/confluent-cli.rb
Labels: bump-cask-pr

#148405 enclave 2023.6.2
  Casks/enclave.rb
Labels: bump-cask-pr

#148408 todoist 8.3.2
  Casks/todoist.rb
Labels: bump-cask-pr

#148423 entry 2.1.4
  Casks/entry.rb
Labels: bump-cask-pr

#148422 bibdesk 1.8.18
  Casks/bibdesk.rb
Labels: bump-cask-pr

#148420 clover-configurator 5.24.0.1
  Casks/clover-configurator.rb
Labels: bump-cask-pr

#148417 groestlcoin-core 25.0
  Casks/groestlcoin-core.rb
Labels: bump-cask-pr

#148415 pitch 1.126.1,stable.3,5549610
  Casks/pitch.rb
Labels: bump-cask-pr

#148418 dbgate 5.2.6
  Casks/dbgate.rb
Labels: bump-cask-pr

#148416 hstracker 2.4.5
  Casks/hstracker.rb
Labels: bump-cask-pr

#148414 jdownloader 47850
  Casks/jdownloader.rb
Labels: bump-cask-pr

#148419 cog 2762
  Casks/cog.rb
Labels: bump-cask-pr

#148421 chirp 20230602
  Casks/chirp.rb
Labels: bump-cask-pr

#148413 rewind 11066.1
  Casks/rewind.rb
Labels: bump-cask-pr

#148411 stremio 4.4.160
  Casks/stremio.rb
Labels: bump-cask-pr

#148410 telegram-desktop 4.8.3
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#148412 spark-ar-studio 164
  Casks/spark-ar-studio.rb
Labels: bump-cask-pr

#148424 wwdc 7.4
  Casks/wwdc.rb
Labels: bump-cask-pr

#148426 kstars 3.6.5
  Casks/kstars.rb
Labels: bump-cask-pr

#148396 pushplaylabs-sidekick 112.45.2.33424
  Casks/pushplaylabs-sidekick.rb
Labels: bump-cask-pr

#148428 wechatwebdevtools 1.06.2306020
  Casks/wechatwebdevtools.rb
Labels: bump-cask-pr

#148427 baidunetdisk 4.22.1
  Casks/baidunetdisk.rb
Labels: bump-cask-pr

#148430 whatsapp 2.2323.4
  Casks/whatsapp.rb
Labels: bump-cask-pr

#148429 sizzy 71.3.0
  Casks/sizzy.rb
Labels: bump-cask-pr

#148432 duckduckgo 1.43.0
  Casks/duckduckgo.rb
Labels: bump-cask-pr

#148433 figma 116.9.6
  Casks/figma.rb
Labels: bump-cask-pr

#148441 cursor 0.2.24
  Casks/cursor.rb
Labels: bump-cask-pr

#148442 kindavim 2828.52.0
  Casks/kindavim.rb
Labels: bump-cask-pr

#148440 itraffic 0.1.6
  Casks/itraffic.rb
Labels: bump-cask-pr

#148444 webcatalog 48.1.1
  Casks/webcatalog.rb
Labels: bump-cask-pr

#148443 loupedeck 5.7.0.16753 (new cask)
  Casks/loupedeck.rb
Labels: new cask

#148435 xmind 22.11.3771-202305311748
  Casks/xmind.rb
Labels: upstream, bump-cask-pr

#148458 input-source-pro 2.3.0-beta
  Casks/input-source-pro.rb
Labels: bump-cask-pr

#148457 xiv-on-mac 4.9.1
  Casks/xiv-on-mac.rb
Labels: bump-cask-pr

#148455 orion 0.99,124.3
  Casks/orion.rb
Labels: bump-cask-pr

#148474 raven-reader 1.0.80
  Casks/raven-reader.rb
Labels: bump-cask-pr

#148473 uvtools 3.14.1
  Casks/uvtools.rb
Labels: bump-cask-pr

#148472 mixin 0.40.1
  Casks/mixin.rb
Labels: bump-cask-pr

#148471 minisim 0.6.0
  Casks/minisim.rb
Labels: bump-cask-pr

#148470 metasploit 6.3.20,20230603103023
  Casks/metasploit.rb
Labels: bump-cask-pr

#148469 maccy 0.26.3
  Casks/maccy.rb
Labels: bump-cask-pr

#148468 krisp 2.19.6
  Casks/krisp.rb
Labels: bump-cask-pr

#148467 hackolade 6.10.5
  Casks/hackolade.rb
Labels: bump-cask-pr

#148466 grandtotal 8.1.1.3
  Casks/grandtotal.rb
Labels: bump-cask-pr

#148465 ferdium 6.3.0
  Casks/ferdium.rb
Labels: bump-cask-pr

#148464 descript 65.1.1-release.20230602.18399
  Casks/descript.rb
Labels: bump-cask-pr

#148463 confluent-cli 3.16.0
  Casks/confluent-cli.rb
Labels: bump-cask-pr

#148462 bookends 14.2.1
  Casks/bookends.rb
Labels: bump-cask-pr

#148461 bettermouse 1.5.3700
  Casks/bettermouse.rb
Labels: bump-cask-pr

#148456 thonny 4.1.0
  Casks/thonny.rb
Labels: bump-cask-pr
