Repository Homebrew/homebrew-cask, pull requests merged in 2023-02, with the labels that each got.

#140473 Update pdfsam-basic from 5.0.0 to 5.0.1
  Casks/pdfsam-basic.rb
Labels: bump-cask-pr

#140478 Update chessx from 1.5.6 to 1.5.8
  Casks/chessx.rb
Labels: bump-cask-pr

#140479 Update scidvsmac from 4.23 to 4.23.x64
  Casks/scidvsmac.rb
Labels: bump-cask-pr

#140480 Update android-ndk from 25b to 25c
  Casks/android-ndk.rb
Labels: bump-cask-pr

#140482 Update tutanota from 3.107.3 to 3.108.10
  Casks/tutanota.rb
Labels: bump-cask-pr

#140483 Update pdfsam-basic from 5.0.1 to 5.0.2
  Casks/pdfsam-basic.rb
Labels: bump-cask-pr

#140485 Update polypane from 12.0.1 to 13.0.0
  Casks/polypane.rb
Labels: bump-cask-pr

#140494 Update bettertouchtool from 4.006 to 4.008
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#140495 Update lastpass from 4.108.0 to 4.108.1
  Casks/lastpass.rb
Labels: bump-cask-pr

#140497 Update schildichat from 1.11.13-sc.1 to 1.11.22-sc.1
  Casks/schildichat.rb
Labels: bump-cask-pr

#140498 Update otto-matic from 4.0.0 to 4.0.1
  Casks/otto-matic.rb
Labels: bump-cask-pr

#140499 Update mighty-mike from 3.0.1 to 3.0.2
  Casks/mighty-mike.rb
Labels: bump-cask-pr

#140500 Update macupdater from 2.3.2 to 3.0.0
  Casks/macupdater.rb
Labels: bump-cask-pr

#140501 Update amethyst from 0.16.1 to 0.17.0
  Casks/amethyst.rb
Labels: bump-cask-pr

#140503 Update mimestream from 0.41.2 to 0.41.4
  Casks/mimestream.rb
Labels: bump-cask-pr

#140504 Update mail-assistant from 0.2.1 to 0.3.1
  Casks/mail-assistant.rb
Labels: bump-cask-pr

#140505 Update signal from 6.3.0 to 6.4.0
  Casks/signal.rb
Labels: bump-cask-pr

#140502 [New Cask]Pokemon TCG Live
  Casks/pokemon-tcg-live.rb
Labels: new cask

#140508 Update home-assistant from 2022.10.1 to 2023.2
  Casks/home-assistant.rb
Labels: bump-cask-pr

#140511 Update android-studio from 2022.1.1.19 to 2022.1.1.20
  Casks/android-studio.rb
Labels: bump-cask-pr

#140527 Update figma from 116.5.18 to 116.6.2
  Casks/figma.rb
Labels: bump-cask-pr

#140529 Update zotero from 6.0.20 to 6.0.21
  Casks/zotero.rb
Labels: bump-cask-pr

#140530 Update macupdater from 3.0.0,15400 to 3.0.0,15414
  Casks/macupdater.rb
Labels: bump-cask-pr

#140531 Update wechatwebdevtools from 1.06.2301040 to 1.06.2301160
  Casks/wechatwebdevtools.rb
Labels: bump-cask-pr

#140528 Update todoist from 8.1.1 to 8.1.2
  Casks/todoist.rb
Labels: bump-cask-pr

#140534 Update josm from 18622 to 18646
  Casks/josm.rb
Labels: bump-cask-pr

#140535 Update vnc-server from 6.11.0 to 7.0.0
  Casks/vnc-server.rb
Labels: bump-cask-pr

#140536 Update makemkv from 1.17.2 to 1.17.3
  Casks/makemkv.rb
Labels: bump-cask-pr

#140537 Update signal from 6.4.0 to 6.4.1
  Casks/signal.rb
Labels: bump-cask-pr

#140539 Update bettertouchtool from 4.010 to 4.011
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#140540 Update linphone from 5.0.9 to 5.0.10
  Casks/linphone.rb
Labels: bump-cask-pr

#140541 Update calibre from 6.11.0 to 6.12.0
  Casks/calibre.rb
Labels: bump-cask-pr

#140542 Update microsoft-edge from 109.0.1518.70 to 109.0.1518.78
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#140538 Update reaper from 6.73 to 6.74
  Casks/reaper.rb
Labels: bump-cask-pr

#140543 Update typora from 1.4.8 to 1.5.5
  Casks/typora.rb
Labels: bump-cask-pr

#140544 Update spotify from 1.2.3.1115 to 1.2.4.912
  Casks/spotify.rb
Labels: bump-cask-pr

#140545 Update obs from 29.0.0 to 29.0.1
  Casks/obs.rb
Labels: bump-cask-pr

#140546 Update postman from 10.8.0 to 10.9.0
  Casks/postman.rb
Labels: bump-cask-pr

#140550 Update downie from 4.6.6 to 4.6.7
  Casks/downie.rb
Labels: bump-cask-pr

#140557 Update micromamba from 1.2.0 to 1.3.0
  Casks/micromamba.rb
Labels: bump-cask-pr

#140574 Update downie from 4.6.7,4515 to 4.6.7,4516
  Casks/downie.rb
Labels: bump-cask-pr

#140580 Update bettertouchtool from 4.013 to 4.014
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#140581 Update http-toolkit from 1.12.2 to 1.12.3
  Casks/http-toolkit.rb
Labels: bump-cask-pr

#140584 Update audio-hijack from 4.1.0 to 4.1.1
  Casks/audio-hijack.rb
Labels: bump-cask-pr

#140585 Update endnote from 20.4 to 20.5
  Casks/endnote.rb
Labels: bump-cask-pr

#140586 Update offset-explorer from 2.3 to 2.3.1
  Casks/offset-explorer.rb
Labels: bump-cask-pr

#140587 Update webex-meetings from 2301.1302.4302.1 to 2301.2003.4302.2
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#140588 Update texstudio from 4.4.1 to 4.5.1
  Casks/texstudio.rb
Labels: bump-cask-pr

#140599 Update cog from 2728,01c38c94 to 2728,01c38c94
  Casks/cog.rb
Labels: bump-cask-pr

#140603 Update exist-db from 6.1.0 to 6.2.0
  Casks/exist-db.rb
Labels: bump-cask-pr

#140605 Update datweatherdoe from 3.2.2 to 3.2.3
  Casks/datweatherdoe.rb
Labels: bump-cask-pr

#140606 Update wifispoof from 3.8.6 to 3.9
  Casks/wifispoof.rb
Labels: bump-cask-pr

#140607 Update sitesucker-pro from 5.1.1 to 5.1.2
  Casks/sitesucker-pro.rb
Labels: bump-cask-pr

#140608 Update gridtracker from 1.23.0110 to 1.23.0205
  Casks/gridtracker.rb
Labels: bump-cask-pr

#140610 Update keyboardholder from 1.10.2 to 1.10.3
  Casks/keyboardholder.rb
Labels: bump-cask-pr

#140613 Update telegram from 9.4,243040 to 9.4,243050
  Casks/telegram.rb
Labels: bump-cask-pr

#140616 Update losslesscut from 3.49.0 to 3.50.0
  Casks/losslesscut.rb
Labels: bump-cask-pr

#140619 Update beyond-compare from 4.4.4.27058 to 4.4.5.27371
  Casks/beyond-compare.rb
Labels: bump-cask-pr

#140620 Update nanosaur from 1.4.3 to 1.4.4
  Casks/nanosaur.rb
Labels: bump-cask-pr

#140621 Update gridtracker from 1.23.0205 to 1.23.0206
  Casks/gridtracker.rb
Labels: bump-cask-pr

#140578 Update vmware-fusion from 13.0.0 to 13.0.1
  Casks/vmware-fusion.rb
Labels: bump-cask-pr

#140639 ci: add NO_INSTALL_FROM_API env
  .github/workflows/ci.yml
Labels: automerge-skip

#140644 Update pushplaylabs-sidekick from 108.35.1.29385 to 108.36.1.29778
  Casks/pushplaylabs-sidekick.rb
Labels: bump-cask-pr

#140650 Update batteries from 2.2.6 to 2.2.7
  Casks/batteries.rb
Labels: bump-cask-pr

#140664 Update leapp from 0.17.1 to 0.17.2
  Casks/leapp.rb
Labels: bump-cask-pr

#140663 Update hot from 1.7.1 to 1.8.0
  Casks/hot.rb
Labels: bump-cask-pr

#140661 Update electron from 22.1.0 to 22.2.0
  Casks/electron.rb
Labels: bump-cask-pr

#140660 Update nordlocker from 4.1.0 to 4.1.1
  Casks/nordlocker.rb
Labels: bump-cask-pr

#140659 Update plex from 1.62.2.3451 to 1.63.2.3496
  Casks/plex.rb
Labels: bump-cask-pr

#140656 Update omnifocus from 3.14.3 to 3.14.4
  Casks/omnifocus.rb
Labels: bump-cask-pr

#140655 Update metasploit from 6.3.1 to 6.3.2
  Casks/metasploit.rb
Labels: bump-cask-pr

#140651 Update zoom from 5.13.6.14918 to 5.13.7.15481
  Casks/zoom.rb
Labels: bump-cask-pr

#140657 Update macos versinos of Emmetapp
  Casks/emmetapp.rb
Labels: automerge-skip

#140665 Update propresenter from 7.10.4 to 7.11
  Casks/propresenter.rb
Labels: bump-cask-pr

#140666 Update lagrange from 1.15.1 to 1.15.2
  Casks/lagrange.rb
Labels: bump-cask-pr

#140667 Update input-source-pro from 2.1.14-beta to 2.1.15-beta
  Casks/input-source-pro.rb
Labels: bump-cask-pr

#140668 Update squirrel from 0.16.1 to 0.16.2
  Casks/squirrel.rb
Labels: bump-cask-pr

#140676 Update fishing-funds from 7.0.2 to 7.1.0
  Casks/fishing-funds.rb
Labels: bump-cask-pr

#140685 Update fig from 2.13.1 to 2.14.0
  Casks/fig.rb
Labels: bump-cask-pr

#140673 Update postman from 10.9.0 to 10.9.3
  Casks/postman.rb
Labels: bump-cask-pr

#140684 Update zeplin from 4.6.4 to 4.6.5
  Casks/zeplin.rb
Labels: bump-cask-pr

#140683 Update thunderbird from 102.7.0 to 102.7.1
  Casks/thunderbird.rb
Labels: bump-cask-pr

#140682 Update termius from 7.55.2 to 7.56.0
  Casks/termius.rb
Labels: bump-cask-pr

#140681 Update springtoolsuite from 4.17.1 to 4.17.2
  Casks/springtoolsuite.rb
Labels: bump-cask-pr

#140680 Update sketch from 95.1 to 95.2
  Casks/sketch.rb
Labels: bump-cask-pr

#140679 Update opera from 94.0.4606.76 to 95.0.4635.25
  Casks/opera.rb
Labels: bump-cask-pr

#140678 Update hot from 1.8.0 to 1.9.1
  Casks/hot.rb
Labels: bump-cask-pr

#140677 Update flutter from 3.7.0 to 3.7.1
  Casks/flutter.rb
Labels: bump-cask-pr

#140674 Update webcatalog from 44.7.0 to 44.8.0
  Casks/webcatalog.rb
Labels: bump-cask-pr

#140687 Update coteditor from 4.4.4 to 4.4.5
  Casks/coteditor.rb
Labels: bump-cask-pr

#140690 Update sublime-merge from 2079 to 2083
  Casks/sublime-merge.rb
Labels: bump-cask-pr

#140717 Update ledger-live from 2.51.0 to 2.52.0
  Casks/ledger-live.rb
Labels: bump-cask-pr

#140714 Update gitkraken from 9.0.1 to 9.1.0
  Casks/gitkraken.rb
Labels: bump-cask-pr

#140713 Update osu from 2023.123.0 to 2023.207.0
  Casks/osu.rb
Labels: bump-cask-pr

#140712 Update transmission from 3.00 to 4.0.0
  Casks/transmission.rb
Labels: bump-cask-pr

#140710 Update schildichat from 1.11.22-sc.1 to 1.11.22-sc.1
  Casks/schildichat.rb
Labels: bump-cask-pr

#140708 Update portfolioperformance from 0.60.2 to 0.61.0
  Casks/portfolioperformance.rb
Labels: bump-cask-pr

#140706 Update opencore-configurator from 2.66.1.0 to 2.67.0.0
  Casks/opencore-configurator.rb
Labels: bump-cask-pr

#140705 Update araxis-merge from 2022.5809 to 2023.5849
  Casks/araxis-merge.rb
Labels: bump-cask-pr

#140704 Update nvidia-geforce-now from 2.0.47.125 to 2.0.48.108
  Casks/nvidia-geforce-now.rb
Labels: bump-cask-pr

#140703 Update confluent-cli from 3.0.1 to 3.1.0
  Casks/confluent-cli.rb
Labels: bump-cask-pr

#140702 Update lingon-x from 9.1.4 to 9.1.5
  Casks/lingon-x.rb
Labels: bump-cask-pr

#140700 Update kitty from 0.27.0 to 0.27.1
  Casks/kitty.rb
Labels: bump-cask-pr

#140698 Update nextcloud from 3.6.6 to 3.7.1
  Casks/nextcloud.rb
Labels: bump-cask-pr

#140697 Update permute from 3.9.15 to 3.10.1
  Casks/permute.rb
Labels: bump-cask-pr

#140696 Update vnc-viewer from 7.0.0 to 7.0.1
  Casks/vnc-viewer.rb
Labels: bump-cask-pr

#140692 Update github from 3.1.5-08d57d4b to 3.1.6-3abd7b29
  Casks/github.rb
Labels: bump-cask-pr

#140715 Update qq from 6.9.5-8336 to 6.9.6-8827
  Casks/qq.rb
Labels: bump-cask-pr

#140716 Update miniconda from py310_22.11.1-1 to py310_23.1.0-1
  Casks/miniconda.rb
Labels: bump-cask-pr

#140720 Update anka-build-cloud-controller-and-registry from 1.31.1-ab1c787e to 1.32.0-c375584c
  Casks/anka-build-cloud-controller-and-registry.rb
Labels: bump-cask-pr

#140709 Update battery from 1.0.6 to 1.0.7
  Casks/battery.rb
Labels: ci-skip-install, bump-cask-pr

#140693 Delete `mouse-locator`.
  Casks/mouse-locator.rb
Labels: marked for removal/rejection, missing description, appcast migration needed

#140723 Update macupdater from 3.0.0,15420 to 3.0.0,15436
  Casks/macupdater.rb
Labels: bump-cask-pr

#140695 Update bettertouchtool from 4.019,2234 to 4.019,2236
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#140727 Update skype from 8.93.0.404 to 8.93.0.406
  Casks/skype.rb
Labels: bump-cask-pr

#140725 Update brave-browser from 1.47.186.0 to 1.48.158.0
  Casks/brave-browser.rb
Labels: bump-cask-pr

#140726 Update onedrive from 23.007.0109.0004 to 23.011.0115.0004
  Casks/onedrive.rb
Labels: bump-cask-pr

#140728 Delete `cisdem-pdfmanagerultimate`.
  Casks/cisdem-pdfmanagerultimate.rb
Labels: marked for removal/rejection, missing description, appcast migration needed

#140730 Update authy from 2.2.2 to 2.2.3
  Casks/authy.rb
Labels: bump-cask-pr

#140750 Update macupdater from 3.0.0,15436 to 3.0.0,15453
  Casks/macupdater.rb
Labels: bump-cask-pr

#140748 Update tower from 9.1 to 9.2
  Casks/tower.rb
Labels: bump-cask-pr

#140747 Update miro from 0.7.25 to 0.7.26
  Casks/miro.rb
Labels: bump-cask-pr

#140746 Update fme from 2022.2.2 to 2022.2.3
  Casks/fme.rb
Labels: bump-cask-pr

#140749 Update geekbench from 5.5.0 to 5.5.1
  Casks/geekbench.rb
Labels: bump-cask-pr

#140740 Update chromedriver from 109.0.5414.74 to 110.0.5481.77
  Casks/chromedriver.rb
Labels: bump-cask-pr

#140736 Update SaneSideButtons from 1.1.0. to 1.2.0
  Casks/sanesidebuttons.rb
Labels: automerge-skip

#140735 Update wavebox from 10.109.14.2 to 10.110.12.2
  Casks/wavebox.rb
Labels: bump-cask-pr

#140734 Update multipass from 1.11.0 to 1.11.1
  Casks/multipass.rb
Labels: bump-cask-pr

#140733 Update betterdisplay from 1.3.16 to 1.4.2
  Casks/betterdisplay.rb
Labels: bump-cask-pr

#140731 Remove appcast.
  Casks/videostream.rb
Labels: ci-skip-install

#140745 Coherence x 4
  Casks/coherence-x.rb
Labels: automerge-skip, new cask

#140752 Update plex from 1.63.2.3496 to 1.63.3.3523
  Casks/plex.rb
Labels: bump-cask-pr

#140753 Update telegram-desktop from 4.6.0 to 4.6.2
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#140694 Remove appcasts.
  Casks/arq-cloud-backup.rb
  Casks/box-notes.rb
  Casks/bricklink-partdesigner.rb
  Casks/cisdem-data-recovery.rb
  Casks/cisdem-document-reader.rb
  Casks/cisdem-duplicate-finder.rb
  Casks/cisdem-pdf-converter-ocr.rb
  Casks/clover-configurator.rb
  Casks/diashapes.rb
  Casks/displaycal.rb
  Casks/djv.rb
  Casks/ebibookreader.rb
  Casks/fastclicker.rb
  Casks/foldingtext.rb
  Casks/freemind.rb
  Casks/fstream.rb
  Casks/fugu.rb
  Casks/iceberg.rb
  Casks/icollections.rb
  Casks/lehreroffice.rb
  Casks/macdjview.rb
  Casks/macx-dvd-ripper-pro.rb
  Casks/macx-video.rb
  Casks/massreplaceit.rb
  Casks/mathtype.rb
  Casks/merlin-project.rb
  Casks/mimecast.rb
  Casks/nodeclipse.rb
  Casks/novabench.rb
  Casks/onecast.rb
  Casks/pdfelement-express.rb
  Casks/pixelstick.rb
  Casks/publish-or-perish.rb
  Casks/puush.rb
  Casks/red-eye.rb
  Casks/securityspy.rb
  Casks/splice.rb
  Casks/sqlitemanager.rb
  Casks/trash-it.rb
  Casks/voicemac.rb
  Casks/wavesurfer.rb
  Casks/website-watchman.rb
  Casks/wondershare-filmora.rb
Labels: automerge-skip

#140729 Add GpgFrontend.app v2.0.10
  Casks/gpgfrontend.rb
Labels: new cask

#140754 Update ledger-live from 2.52.0 to 2.53.1
  Casks/ledger-live.rb
Labels: bump-cask-pr

#140757 Update rectangle-pro from 2.7.5 to 2.7.6
  Casks/rectangle-pro.rb
Labels: bump-cask-pr

#140760 Update tailscale from 1.36.0 to 1.36.1
  Casks/tailscale.rb
Labels: bump-cask-pr

#140758 Update dropbox from 166.4.2920 to 167.4.4719
  Casks/dropbox.rb
Labels: bump-cask-pr

#140759 Update postman from 10.9.3 to 10.9.4
  Casks/postman.rb
Labels: bump-cask-pr

#140761 Update fl-studio from 21.0.2.2924 to 21.0.2.2931
  Casks/fl-studio.rb
Labels: bump-cask-pr

#140764 Update termius from 7.56.0 to 7.56.1
  Casks/termius.rb
Labels: bump-cask-pr

#140763 Update thunderbird from 102.7.1 to 102.7.2
  Casks/thunderbird.rb
Labels: bump-cask-pr

#140765 Update readdle-spark from 3.3.1.41927 to 3.3.2.42888
  Casks/readdle-spark.rb
Labels: bump-cask-pr

#140762 Update feishu from 5.29.5 to 5.30.10
  Casks/feishu.rb
Labels: bump-cask-pr

#140756 Add Nanosaur II v2.1.0
  Casks/nanosaur2.rb
Labels: ci-syntax-only, new cask

#140766 Update typora from 1.5.5 to 1.5.6
  Casks/typora.rb
Labels: bump-cask-pr

#140732 Migrate micromamba to homebrew/core
  Casks/micromamba.rb
  tap_migrations.json
Labels: automerge-skip

#140772 Update zwift from 1.0 to 1.1.2
  Casks/zwift.rb
Labels: bump-cask-pr

#140773 Update zenbeats from 2.2.2 to 3.1.3
  Casks/zenbeats.rb
Labels: bump-cask-pr
