Repository Homebrew/homebrew-cask, pull requests merged in 2023-01, with the labels that each got.

#138876 Update maintenance from 2.9.7 to 2.9.8
  Casks/maintenance.rb
Labels: bump-cask-pr

#138875 calhash: restore
  Casks/calhash.rb
Labels: new cask

#138878 Update fontforge from 2022-03-08,74e2eca to 2023-01-01,a1dad3e
  Casks/fontforge.rb
Labels: bump-cask-pr

#138879 Add Cato Client
  Casks/catoclient.rb
Labels: new cask

#138903 Update jedit-omega from 2.49 to 2.50
  Casks/jedit-omega.rb
Labels: bump-cask-pr

#138937 Update exodus from 22.12.19 to 23.1.2
  Casks/exodus.rb
Labels: bump-cask-pr

#138938 Update hepta from 0.245.0 to 0.247.0
  Casks/hepta.rb
Labels: bump-cask-pr

#138939 Update lx-music from 2.0.0 to 2.0.1
  Casks/lx-music.rb
Labels: bump-cask-pr

#138943 Update bettertouchtool from 3.989 to 3.990
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#138945 Update buzz from 0.6.4 to 0.7.0
  Casks/buzz.rb
Labels: bump-cask-pr

#138946 Update iterm2 from 3.4.18 to 3.4.19
  Casks/iterm2.rb
Labels: bump-cask-pr

#138933 add OpenRGB
  Casks/openrgb.rb
Labels: new cask

#138942 Add Soulver CLI
  Casks/soulver-cli.rb
  Casks/soulver.rb
Labels: automerge-skip

#138952 [New Cask]VPN by Google One
  Casks/vpn-by-google-one.rb
Labels: new cask

#138963 Update telegram-desktop from 4.5.0 to 4.5.2
  Casks/telegram-desktop.rb
Labels: bump-cask-pr

#138964 Add swift-quit 1.2
  Casks/swift-quit.rb
Labels: new cask

#138962 Add redquits v2
  Casks/redquits.rb
Labels: new cask

#138966 Update bettertouchtool from 3.991 to 3.993
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#138967 Update textbuddy from 1.4.0 to 1.4.1
  Casks/textbuddy.rb
Labels: bump-cask-pr

#139072 Update prowlarr from 1.0.1.2210 to 1.0.1.2220
  Casks/prowlarr.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, bump-cask-pr

#139050 Update multitouch from 1.27.9 to 1.27.11
  Casks/multitouch.rb
Labels: bump-cask-pr

#139054 Update opera from 94.0.4606.38 to 94.0.4606.54
  Casks/opera.rb
Labels: bump-cask-pr

#139079 Update gitkraken from 9.0.0 to 9.0.1
  Casks/gitkraken.rb
Labels: bump-cask-pr

#139069 imdone: remove
  Casks/imdone.rb
Labels: marked for removal/rejection

#139078 Update bettertouchtool from 3.994 to 3.995
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#139013 Add mmhmm desktop 1.0.3
  Casks/mmhmm.rb
Labels: automerge-skip, new cask

#139086 Update firefox from 108.0.1 to 108.0.2
  Casks/firefox.rb
Labels: bump-cask-pr

#139135 Add Confectionery.app 1.2.0
  Casks/confectionery.rb
Labels: new cask

#139140 Update microsoft-edge from 108.0.1462.54 to 108.0.1462.76
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#139165 redquits: update livecheck
  Casks/redquits.rb
Labels: bump-cask-pr

#139208 Update datweatherdoe from 3.2.0 to 3.2.1
  Casks/datweatherdoe.rb
Labels: bump-cask-pr

#139266 Update swiftplantumlapp from 1.3.0 to 1.4.0
  Casks/swiftplantumlapp.rb
Labels: bump-cask-pr

#139268 Update anki from 2.1.55 to 2.1.56
  Casks/anki.rb
Labels: bump-cask-pr

#139270 Add cask for ideaMaker
  Casks/ideamaker.rb
Labels: awaiting user reply, new cask

#139264 Create forkgram.rb
  Casks/forkgram-telegram.rb
Labels: automerge-skip, new cask

#139288 Add description to Shiori
  Casks/shiori.rb
Labels: automerge-skip

#139341 Update visual-studio-code from 1.74.2 to 1.74.3
  Casks/visual-studio-code.rb
Labels: bump-cask-pr

#139358 Update google-chrome from 108.0.5359.124 to 109.0.5414.87
  Casks/google-chrome.rb
Labels: bump-cask-pr

#139388 Update shadow from 8.0.10018 to 8.0.10046
  Casks/shadow.rb
Labels: bump-cask-pr

#139405 Update bettertouchtool from 3.9984 to 3.9985
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#139406 Update gridtracker from 1.22.1226 to 1.23.0110
  Casks/gridtracker.rb
Labels: bump-cask-pr

#139407 Update rocket-chat from 3.8.15 to 3.8.16
  Casks/rocket-chat.rb
Labels: bump-cask-pr

#139410 Update chromedriver from 108.0.5359.71 to 109.0.5414.74
  Casks/chromedriver.rb
Labels: bump-cask-pr

#139464 Add Superlist v0.7.0
  Casks/superlist.rb
Labels: new cask

#139467 Update finch from 0.1.1 to 0.2.0
  Casks/finch.rb
Labels: bump-cask-pr

#139466 Update signal from 6.1.0 to 6.2.0
  Casks/signal.rb
Labels: bump-cask-pr

#139502 Revert "threads: remove"
  Casks/threads.rb
Labels: new cask

#139542 Add RunCat Plugins Manager.app
  Casks/runcat-plugins-manager.rb
Labels: new cask

#139560 Update baidunetdisk from 4.16.2 to 4.17.2
  Casks/baidunetdisk.rb
Labels: bump-cask-pr

#139622 Update warp from 0.2023.01.03.08.03.stable_01 to 0.2023.01.10.08.02.stable_01
  Casks/warp.rb
Labels: bump-cask-pr

#139656 gcc-aarch64-embedded, gcc-arm-embedded: add Apple Silicon packages
  Casks/gcc-aarch64-embedded.rb
  Casks/gcc-arm-embedded.rb
Labels: automerge-skip

#139663 Update far2l from 2.4.1 to 2.5.0
  Casks/far2l.rb
Labels: bump-cask-pr

#139662 Add Oka Unarchiver v2.1.6
  Casks/oka-unarchiver.rb
Labels: new cask

#139605 Update rwts-pdfwriter from 2.0 to 2.0.3
  Casks/rwts-pdfwriter.rb
Labels: bump-cask-pr

#139668 Update httpie from 2023.1.0 to 2023.1.1
  Casks/httpie.rb
Labels: bump-cask-pr

#139671 Update fork from 2.25.1 to 2.25.2
  Casks/fork.rb
Labels: bump-cask-pr

#139673 Update akiflow from 2.29.16 to 2.31.9
  Casks/akiflow.rb
Labels: bump-cask-pr

#139676 Update nheko from 0.11.0 to 0.11.1
  Casks/nheko.rb
Labels: bump-cask-pr

#139683 Clean up HTTPie cask
  Casks/httpie.rb
Labels: automerge-skip

#139684 Update insomnia from 2022.7.2 to 2022.7.3
  Casks/insomnia.rb
Labels: bump-cask-pr

#139687 Update inso from 3.9.0 to 3.10.0
  Casks/inso.rb
Labels: bump-cask-pr

#139689 Update curio from 23.0 to 24.0
  Casks/curio.rb
Labels: bump-cask-pr

#139690 Update aws-vault from 6.6.1 to 6.6.2
  Casks/aws-vault.rb
Labels: bump-cask-pr

#139692 Update maccpuid from 3.1 to 3.2
  Casks/maccpuid.rb
Labels: bump-cask-pr

#139697 Update expressvpn from 11.16.1.71768 to 11.17.0.71984
  Casks/expressvpn.rb
Labels: bump-cask-pr

#139698 Update geekbench from 5.4.6 to 5.5.0
  Casks/geekbench.rb
Labels: bump-cask-pr

#139700 Update adguard-vpn from 2.0.1.300 to 2.0.2.302
  Casks/adguard-vpn.rb
Labels: bump-cask-pr

#139701 Update alfaview from 8.60.0 to 8.61.0
  Casks/alfaview.rb
Labels: bump-cask-pr

#139702 Update keka from 1.2.59 to 1.2.60
  Casks/keka.rb
Labels: bump-cask-pr

#139703 Update firefox from 108.0.2 to 109.0
  Casks/firefox.rb
Labels: ci-retry

#139723 Update beekeeper-studio from 3.7.10 to 3.8.9
  Casks/beekeeper-studio.rb
Labels: bump-cask-pr

#139725 Update lx-music from 2.0.3 to 2.0.4
  Casks/lx-music.rb
Labels: bump-cask-pr

#139722 Update corretto from 19.0.1.10.1 to 19.0.2.7.1
  Casks/corretto.rb
Labels: bump-cask-pr

#139727 Update qownnotes from 23.1.0 to 23.1.1
  Casks/qownnotes.rb
Labels: bump-cask-pr

#139735 Update setapp from 3.17.1 to 3.17.2
  Casks/setapp.rb
Labels: bump-cask-pr

#139736 Update babeledit from 4.0.2 to 4.0.3
  Casks/babeledit.rb
Labels: bump-cask-pr

#139738 Update flipper from 0.176.1 to 0.177.0
  Casks/flipper.rb
Labels: bump-cask-pr

#139737 Update blockbench from 4.5.2 to 4.6.0
  Casks/blockbench.rb
Labels: bump-cask-pr

#139724 Added Codux.app v14.1.0
  Casks/codux.rb
Labels: new cask

#139739 Update screens-connect from 4.12.2 to 4.12.3
  Casks/screens-connect.rb
Labels: bump-cask-pr

#139741 Update lunar from 5.9.3 to 5.9.4
  Casks/lunar.rb
Labels: bump-cask-pr

#139745 Update progressive-downloader from 5.5 to 5.6
  Casks/progressive-downloader.rb
Labels: bump-cask-pr

#139747 Update akiflow from 2.31.9 to 2.31.11
  Casks/akiflow.rb
Labels: bump-cask-pr

#139750 Update shift from 8.2.0.594 to 8.2.3.632
  Casks/shift.rb
Labels: bump-cask-pr

#139751 Update webex-meetings from 2212.2704.4301.3 to 2301.1302.4302.1
  Casks/webex-meetings.rb
Labels: bump-cask-pr

#139752 Update little-navmap from 2.8.7 to 2.8.8
  Casks/little-navmap.rb
Labels: bump-cask-pr

#139756 Update dingtalk from 7.0.2.7 to 7.0.2.9
  Casks/dingtalk.rb
Labels: bump-cask-pr

#139757 Update qqlive from 2.62.0.53541 to 2.62.1.53545
  Casks/qqlive.rb
Labels: bump-cask-pr

#139762 Update zulu from 19.0.1 to 19.0.2
  Casks/zulu.rb
Labels: bump-cask-pr

#139763 Update ddnet from 16.7.1 to 16.7.2
  Casks/ddnet.rb
Labels: bump-cask-pr

#139764 Update postman from 10.7.0 to 10.8.0
  Casks/postman.rb
Labels: bump-cask-pr

#139765 Update sonobus from 1.6.0 to 1.6.1
  Casks/sonobus.rb
Labels: bump-cask-pr

#139766 Update enclave from 2022.11.28 to 2023.01.18
  Casks/enclave.rb
Labels: bump-cask-pr

#139769 Update spotify from 1.2.0.1165 to 1.2.3.1115
  Casks/spotify.rb
Labels: bump-cask-pr

#139768 Update chatty from 0.21 to 0.22
  Casks/chatty.rb
Labels: bump-cask-pr

#139767 Update nextcloud from 3.6.4 to 3.6.5
  Casks/nextcloud.rb
Labels: bump-cask-pr

#139779 Update sapmachine-jdk from 19.0.1 to 19.0.2
  Casks/sapmachine-jdk.rb
Labels: bump-cask-pr

#139781 Update bbedit from 14.6.2 to 14.6.3
  Casks/bbedit.rb
Labels: bump-cask-pr

#139783 Update sunsama from 2.0.2 to 2.0.3
  Casks/sunsama.rb
Labels: bump-cask-pr

#139790 Update xnviewmp from 1.4.0 to 1.4.1
  Casks/xnviewmp.rb
Labels: bump-cask-pr

#139801 Update deezer from 5.30.400 to 5.30.500
  Casks/deezer.rb
Labels: bump-cask-pr

#139800 Update linphone from 5.0.6 to 5.0.8
  Casks/linphone.rb
Labels: bump-cask-pr

#139803 Update thunderbird from 102.6.1 to 102.7.0
  Casks/thunderbird.rb
Labels: bump-cask-pr

#139806 Update grammarly-desktop from 1.17.2.0 to 1.18.1.0
  Casks/grammarly-desktop.rb
Labels: bump-cask-pr

#139810 Fix rectangle 0.65 checksum
  Casks/rectangle.rb
Labels: automerge-skip

#139811 Update smartgit from 22.1.2 to 22.1.3
  Casks/smartgit.rb
Labels: bump-cask-pr

#139812 Update aleph-one from 20221126 to 20230119
  Casks/aleph-one.rb
Labels: bump-cask-pr

#139813 Update marathon from 20221126 to 20230119
  Casks/marathon.rb
Labels: bump-cask-pr

#139814 Update marathon2 from 20221126 to 20230119
  Casks/marathon2.rb
Labels: bump-cask-pr

#139815 Update marathon-infinity from 20221126 to 20230119
  Casks/marathon-infinity.rb
Labels: bump-cask-pr

#139822 Update tinymediamanager from 4.3.7 to 4.3.8.1
  Casks/tinymediamanager.rb
Labels: bump-cask-pr

#139825 Update cocktail from 16.2 to 16.2.1
  Casks/cocktail.rb
Labels: bump-cask-pr

#139826 Update osu from 2022.1228.0 to 2023.121.0
  Casks/osu.rb
Labels: bump-cask-pr

#139838 Update evernote from 10.51.7 to 10.52.8
  Casks/evernote.rb
Labels: bump-cask-pr

#139839 Update tiles from 1.3.0 to 1.3.2
  Casks/tiles.rb
Labels: bump-cask-pr

#139844 Update superduper from 3.7.4 to 3.7.5
  Casks/superduper.rb
Labels: bump-cask-pr

#139845 Update element from 1.11.19 to 1.11.20
  Casks/element.rb
Labels: bump-cask-pr

#139846 Update stats from 2.8.4 to 2.8.5
  Casks/stats.rb
Labels: bump-cask-pr

#139848 Update arc from 0.85.0 to 0.86.0
  Casks/arc.rb
Labels: bump-cask-pr

#139851 Update tutanota from 3.106.5 to 3.107.3
  Casks/tutanota.rb
Labels: bump-cask-pr

#139852 Update bettertouchtool from 3.9993 to 3.9994
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#139853 Update syncthing from 1.22.2-1 to 1.23.0-1
  Casks/syncthing.rb
Labels: bump-cask-pr

#139847 Interact Scratchpad.app 2.2.1
  Casks/interact-scratchpad.rb
Labels: automerge-skip

#139850 Update osu from 2022.1228.0 to 2023.123.0
  Casks/osu.rb
Labels: automerge-skip, bump-cask-pr

#139859 Update ff-works from 3.2.14 to 3.2.15
  Casks/ff-works.rb
Labels: bump-cask-pr

#139860 Update jitsi-meet from 2023.1.0 to 2023.1.1
  Casks/jitsi-meet.rb
Labels: bump-cask-pr

#139861 Update qlmobi from 0.5 to 0.6
  Casks/qlmobi.rb
Labels: bump-cask-pr

#139858 Add HiDock 1.0.1,629
  Casks/hidock.rb
Labels: new cask

#139862 Update dbeaver-community from 22.3.2 to 22.3.3
  Casks/dbeaver-community.rb
Labels: bump-cask-pr

#139863 Update vorta from 0.8.9 to 0.8.10
  Casks/vorta.rb
Labels: bump-cask-pr

#139874 Update sitesucker-pro from 5.1 to 5.1.1
  Casks/sitesucker-pro.rb
Labels: bump-cask-pr

#139876 Added zap for wintertime
  Casks/wintertime.rb
Labels: automerge-skip

#139877 Update jellyfin from 10.8.8 to 10.8.9
  Casks/jellyfin.rb
Labels: bump-cask-pr

#139878 Update metasploit from 6.2.36 to 6.2.37
  Casks/metasploit.rb
Labels: bump-cask-pr

#139880 sketchup: remove
  Casks/sketchup.rb
Labels: marked for removal/rejection

#139882 Issue Template: Fix incorrect url
  .github/ISSUE_TEMPLATE/01_bug_report.yml
Labels: documentation, automerge-skip

#139881 Update aural from 3.12.1 to 3.13.0
  Casks/aural.rb
Labels: bump-cask-pr

#139884 Update losslesscut from 3.48.2 to 3.49.0
  Casks/losslesscut.rb
Labels: bump-cask-pr

#139890 Update messenger from 171.0.0.29.105 to 175.0.0.9.103
  Casks/messenger.rb
Labels: bump-cask-pr

#139893 Update teamviewer from 15.37.8 to 15.38.3
  Casks/teamviewer.rb
Labels: bump-cask-pr

#139894 Update streamlabs-obs from 1.12.0 to 1.12.1
  Casks/streamlabs-obs.rb
Labels: bump-cask-pr

#139895 Update blobsaver from 3.5.0 to 3.5.0
  Casks/blobsaver.rb
Labels: bump-cask-pr

#139901 Replace Atom references from README.md
  README.md
Labels: documentation, automerge-skip

#140129 Update vitamin-r from 4.15 to 4.16
  Casks/vitamin-r.rb
Labels: bump-cask-pr

#140023 Update lingon-x from 9.1.3 to 9.1.4
  Casks/lingon-x.rb
Labels: bump-cask-pr

#140081 Update pokerstars from 56.772 to 56.935
  Casks/pokerstars.rb
Labels: bump-cask-pr

#140191 Add Serene.app v3.0.1
  Casks/serene.rb
Labels: new cask

#140160 Update cncjs from 1.9.28 to 1.10.0
  Casks/cncjs.rb
Labels: bump-cask-pr

#140177 Update liteide from 38.0 to 38.1
  Casks/liteide.rb
Labels: bump-cask-pr

#140237 Update lunar from 5.9.4 to 5.9.5
  Casks/lunar.rb
Labels: bump-cask-pr
