Repository Homebrew/homebrew-cask, pull requests merged in 2023-05, with the labels that each got.

#146230 flying-carpet 7.0
  Casks/flying-carpet.rb
Labels: bump-cask-pr

#146231 pokerstars 59.240
  Casks/pokerstars.rb
Labels: bump-cask-pr

#146227 mysql-shell 8.0.33
  Casks/mysql-shell.rb
Labels: bump-cask-pr

#146234 psst 0.1.0,20230430.164525
  Casks/psst.rb
Labels: bump-cask-pr

#146235 rocket 1.9.3
  Casks/rocket.rb
Labels: bump-cask-pr

#146237 snowflake-snowsql 1.2.26
  Casks/snowflake-snowsql.rb
Labels: bump-cask-pr

#146238 texmaker 5.1.4
  Casks/texmaker.rb
Labels: bump-cask-pr

#146240 tuist 3.19.0
  Casks/tuist.rb
Labels: bump-cask-pr

#146243 uvtools 3.13.1
  Casks/uvtools.rb
Labels: bump-cask-pr

#146244 virtualhereserver 4.5.8
  Casks/virtualhereserver.rb
Labels: bump-cask-pr

#146247 orcaslicer 1.6.2
  Casks/orcaslicer.rb
Labels: bump-cask-pr

#146246 whalebird 5.0.4
  Casks/whalebird.rb
Labels: bump-cask-pr

#146242 usmart-trade 3.21.0,7be75dfe-948b-4980-9610-24022e0124ee,2023-04-23
  Casks/usmart-trade.rb
Labels: bump-cask-pr

#146250 readmoreading 0.13.22
  Casks/readmoreading.rb
Labels: bump-cask-pr

#146253 ultrastardeluxe 2023.4.0
  Casks/ultrastardeluxe.rb
Labels: bump-cask-pr

#146239 topcat 4.8-8
  Casks/topcat.rb
Labels: bump-cask-pr

#146241 uniflash 8.3.0.4307
  Casks/uniflash.rb
Labels: bump-cask-pr

#146251 shadow 8.0.10097
  Casks/shadow.rb
Labels: bump-cask-pr

#146254 jedit-omega 3.03
  Casks/jedit-omega.rb
Labels: bump-cask-pr

#146249 plasticscm-cloud-edition 11.0.16.7957
  Casks/plasticscm-cloud-edition.rb
Labels: bump-cask-pr

#146233 polkadot-js 0.129.1
  Casks/polkadot-js.rb
Labels: bump-cask-pr

#146257 bettertouchtool 4.075
  Casks/bettertouchtool.rb
Labels: bump-cask-pr

#146258 input-source-pro 2.2.3-beta
  Casks/input-source-pro.rb
Labels: bump-cask-pr

#146262 another-redis-desktop-manager 1.6.0
  Casks/another-redis-desktop-manager.rb
Labels: bump-cask-pr

#146264 atomic-wallet 2.70.6
  Casks/atomic-wallet.rb
Labels: bump-cask-pr

#146265 anki 2.1.62
  Casks/anki.rb
Labels: bump-cask-pr

#146266 hubstaff 1.6.14
  Casks/hubstaff.rb
Labels: bump-cask-pr

#146268 buzz 0.8.1
  Casks/buzz.rb
Labels: bump-cask-pr

#146269 pitch 1.121.1,stable.4,5441661
  Casks/pitch.rb
Labels: bump-cask-pr

#146259 Add bloop
  Casks/bloop.rb
Labels: awaiting user reply, new cask

#146272 waves-central 14.1.1
  Casks/waves-central.rb
Labels: bump-cask-pr

#146277 browserosaurus 20.2.2
  Casks/browserosaurus.rb
Labels: bump-cask-pr

#146275 black-ink 2.2.7
  Casks/black-ink.rb
Labels: bump-cask-pr

#146274 rewind 10398.1
  Casks/rewind.rb
Labels: bump-cask-pr

#146273 calendar-366 2.14.3
  Casks/calendar-366.rb
Labels: bump-cask-pr

#146278 kopiaui 0.13.0
  Casks/kopiaui.rb
Labels: bump-cask-pr

#146223 hookmark 5.1
  Casks/hookmark.rb
Labels: ci-syntax-only, bump-cask-pr, ci-skip-livecheck

#146282 qownnotes 23.5.0
  Casks/qownnotes.rb
Labels: bump-cask-pr

#146281 lrtimelapse 6.5.0
  Casks/lrtimelapse.rb
Labels: bump-cask-pr, missing zap

#146279 bisq 1.9.10
  Casks/bisq.rb
Labels: bump-cask-pr, missing zap

#146280 coconutbattery 3.9.11,3E0AC198
  Casks/coconutbattery.rb
Labels: bump-cask-pr

#146284 slack 4.32.122
  Casks/slack.rb
Labels: bump-cask-pr

#146283 simply-fortran 3.29.3935
  Casks/simply-fortran.rb
Labels: bump-cask-pr

#146285 sol 2.0.27
  Casks/sol.rb
Labels: bump-cask-pr

#146286 whatsapp 2.2318.11
  Casks/whatsapp.rb
Labels: bump-cask-pr

#146289 tachidesk-sorayomi 0.5.4
  Casks/tachidesk-sorayomi.rb
Labels: bump-cask-pr

#146290 tastytrade 2.1.2
  Casks/tastytrade.rb
Labels: bump-cask-pr

#146256 red-canary-mac-monitor
  Casks/red-canary-mac-monitor.rb
Labels: new cask

#146293 android-studio 2022.2.1.19
  Casks/android-studio.rb
Labels: bump-cask-pr

#146292 acorn 7.4.1
  Casks/acorn.rb
Labels: bump-cask-pr

#146296 fbreader 2.0.1
  Casks/fbreader.rb
Labels: bump-cask-pr

#146297 coscreen 5.2.18
  Casks/coscreen.rb
Labels: bump-cask-pr

#146294 boinc 7.20.7
  Casks/boinc.rb
Labels: bump-cask-pr

#146295 dosbox-x 2023.05.01
  Casks/dosbox-x.rb
Labels: bump-cask-pr

#146298 descript 63.1.0-release.20230501.16272
  Casks/descript.rb
Labels: bump-cask-pr

#146299 microsoft-edge 112.0.1722.68
  Casks/microsoft-edge.rb
Labels: bump-cask-pr

#146300 playdate-simulator 1.13.6
  Casks/playdate-simulator.rb
Labels: bump-cask-pr

#146301 sabnzbd 4.0.1
  Casks/sabnzbd.rb
Labels: bump-cask-pr

#146302 solar2d 2023.3689
  Casks/solar2d.rb
Labels: bump-cask-pr

#146303 trader-workstation 10.22.1l
  Casks/trader-workstation.rb
Labels: bump-cask-pr

#146304 xemu 0.7.87
  Casks/xemu.rb
Labels: bump-cask-pr

#146305 trainerroad 2023.16.0.243
  Casks/trainerroad.rb
Labels: bump-cask-pr

#146309 tachidesk-sorayomi 0.5.5
  Casks/tachidesk-sorayomi.rb
Labels: bump-cask-pr

#146313 orbstack 0.8.1_1331
  Casks/orbstack.rb
Labels: bump-cask-pr

#146314 pitch 1.122.0
  Casks/pitch.rb
Labels: bump-cask-pr

#146315 standard-notes 3.154.1
  Casks/standard-notes.rb
Labels: bump-cask-pr

#146316 amadine 1.4.7
  Casks/amadine.rb
Labels: bump-cask-pr

#146317 airy 3.27
  Casks/airy.rb
Labels: bump-cask-pr

#146323 melodics 3.0.10130
  Casks/melodics.rb
Labels: bump-cask-pr

#146322 krisp 2.18.7
  Casks/krisp.rb
Labels: bump-cask-pr

#146321 idagio 1.9.1
  Casks/idagio.rb
Labels: bump-cask-pr

#146319 gifox 2.6.1
  Casks/gifox.rb
Labels: bump-cask-pr

#146329 shutter-encoder 17.1
  Casks/shutter-encoder.rb
Labels: bump-cask-pr

#146328 mps 2022.3
  Casks/mps.rb
Labels: bump-cask-pr

#146327 phpstorm 2023.1.1
  Casks/phpstorm.rb
Labels: bump-cask-pr

#146326 puzzles 20230502
  Casks/puzzles.rb
Labels: bump-cask-pr

#146325 spike 3.2.4
  Casks/spike.rb
Labels: bump-cask-pr

#146331 copilot-for-xcode 0.14.1
  Casks/copilot-for-xcode.rb
Labels: bump-cask-pr

#146332 fleet 1.18.88
  Casks/fleet.rb
Labels: bump-cask-pr

#146333 babeledit 4.1.0
  Casks/babeledit.rb
Labels: bump-cask-pr

#146335 sherlock 2.6.0
  Casks/sherlock.rb
Labels: bump-cask-pr

#146336 obsidian 1.2.7
  Casks/obsidian.rb
Labels: bump-cask-pr

#146349 google-cloud-sdk 429.0.0
  Casks/google-cloud-sdk.rb
Labels: bump-cask-pr

#146342 descript 63.1.1-release.20230501.16289
  Casks/descript.rb
Labels: bump-cask-pr

#146343 glyphs 3.2,3192
  Casks/glyphs.rb
Labels: bump-cask-pr

#146344 lockrattler 4.37
  Casks/lockrattler.rb
Labels: bump-cask-pr

#146345 010-editor 13.0.2
  Casks/010-editor.rb
Labels: bump-cask-pr

#146346 guilded 1.0.9196665
  Casks/guilded.rb
Labels: bump-cask-pr

#146348 evernote 10.56.8
  Casks/evernote.rb
Labels: bump-cask-pr

#146347 munki 6.3.1.4580
  Casks/munki.rb
Labels: bump-cask-pr

#146351 obs 29.1.0
  Casks/obs.rb
Labels: bump-cask-pr

#146341 cleanmymac-zh 4.13.3
  Casks/cleanmymac-zh.rb
Labels: bump-cask-pr

#146352 origami-studio 140.0.0.3.223
  Casks/origami-studio.rb
Labels: bump-cask-pr

#146353 google-chrome 113.0.5672.63
  Casks/google-chrome.rb
Labels: bump-cask-pr

#146354 openzfs: remove `conflicts_with`
  Casks/openzfs.rb
Labels: missing zap

#146355 itch 25.6.2
  Casks/itch.rb
Labels: bump-cask-pr

#146356 pingid 1.7.5
  Casks/pingid.rb
Labels: bump-cask-pr

#146357 workflowy 4.0.2305011235
  Casks/workflowy.rb
Labels: bump-cask-pr

#146358 xemu 0.7.88
  Casks/xemu.rb
Labels: bump-cask-pr

#146359 rive 0.8.324
  Casks/rive.rb
Labels: bump-cask-pr

#146360 wine-stable 8.0.1
  Casks/wine-stable.rb
Labels: bump-cask-pr

#146361 various: add livechecks
  Casks/wordservice.rb
  Casks/xcodes.rb
  Casks/zerotier-one.rb
Labels: automerge-skip

#146370 github 3.2.3-70384014
  Casks/github.rb
Labels: bump-cask-pr

#146385 downie 4.6.16
  Casks/downie.rb
Labels: bump-cask-pr

#146382 choosy 2.3.1
  Casks/choosy.rb
Labels: bump-cask-pr

#146381 aptakube 1.4.3
  Casks/aptakube.rb
Labels: bump-cask-pr

#146374 sketch 96.3
  Casks/sketch.rb
Labels: bump-cask-pr

#146375 ppsspp 1.15.1
  Casks/ppsspp.rb
Labels: bump-cask-pr

#146376 segger-jlink 7.88a
  Casks/segger-jlink.rb
Labels: bump-cask-pr

#146377 wavebox 10.113.11.2
  Casks/wavebox.rb
Labels: bump-cask-pr

#146378 teamviewer 15.41.9
  Casks/teamviewer.rb
Labels: bump-cask-pr

#146406 heroic 2.7.1
  Casks/heroic.rb
Labels: bump-cask-pr

#146405 weakauras-companion 5.0.1
  Casks/weakauras-companion.rb
Labels: bump-cask-pr

#146409 sonic-visualiser 4.5.2
  Casks/sonic-visualiser.rb
Labels: bump-cask-pr

#146403 pitch 1.122.0,stable.2,5448603
  Casks/pitch.rb
Labels: bump-cask-pr

#146407 responsively 1.2.0
  Casks/responsively.rb
Labels: bump-cask-pr

#146401 timeular 5.8.6
  Casks/timeular.rb
Labels: bump-cask-pr

#146402 spark-ar-studio 162
  Casks/spark-ar-studio.rb
Labels: bump-cask-pr

#146399 superlist 0.16.1
  Casks/superlist.rb
Labels: bump-cask-pr

#146397 solar2d 2023.3690
  Casks/solar2d.rb
Labels: bump-cask-pr

#146404 millie 5.8.0
  Casks/millie.rb
Labels: bump-cask-pr

#146394 rapidapi 4.2.0
  Casks/rapidapi.rb
Labels: bump-cask-pr

#146400 vrew 0.14.10
  Casks/vrew.rb
Labels: bump-cask-pr

#146410 motrix 1.8.19
  Casks/motrix.rb
Labels: bump-cask-pr

#146395 scenica-player 1.4.4
  Casks/scenica-player.rb
Labels: bump-cask-pr

#146392 plexamp 4.7.0
  Casks/plexamp.rb
Labels: bump-cask-pr

#146398 zoc 8.05.3
  Casks/zoc.rb
Labels: bump-cask-pr

#146393 protonvpn 3.1.2
  Casks/protonvpn.rb
Labels: bump-cask-pr

#146391 milanote 3.3.47
  Casks/milanote.rb
Labels: bump-cask-pr

#146389 grandtotal 8.0.9.3
  Casks/grandtotal.rb
Labels: bump-cask-pr

#146387 hackolade 6.9.14
  Casks/hackolade.rb
Labels: bump-cask-pr

#146388 freeplane 1.11.1
  Casks/freeplane.rb
Labels: bump-cask-pr

#146330 ogdesign-eagle 3.0,41
  Casks/ogdesign-eagle.rb
Labels: bump-cask-pr, ci-skip-livecheck

#146380 bankid 7.14.1
  Casks/bankid.rb
Labels: bump-cask-pr, ci-skip-livecheck

#146412 swiftformat-for-xcode 0.51.8
  Casks/swiftformat-for-xcode.rb
Labels: bump-cask-pr

#146411 piclist 1.8.1
  Casks/piclist.rb
Labels: bump-cask-pr

#146422 ocenaudio 3.11.25
  Casks/ocenaudio.rb
Labels: bump-cask-pr

#146414 7777 1.1.6
  Casks/7777.rb
Labels: bump-cask-pr

#146424 principle 6.30
  Casks/principle.rb
Labels: bump-cask-pr

#146417 beeper 3.53.13
  Casks/beeper.rb
Labels: bump-cask-pr

#146420 macrorecorder 2.0.86
  Casks/macrorecorder.rb
Labels: bump-cask-pr

#146418 duckduckgo 1.38.1
  Casks/duckduckgo.rb
Labels: bump-cask-pr

#146421 metasploit 6.3.15
  Casks/metasploit.rb
Labels: bump-cask-pr

#146419 gamemaker 2023.4.0.84
  Casks/gamemaker.rb
Labels: bump-cask-pr

#146416 bettermouse 1.5.3426
  Casks/bettermouse.rb
Labels: bump-cask-pr

#146367 entry: new cask
  Casks/entry.rb
Labels: new cask

#146425 steelseries-gg 37.0.0
  Casks/steelseries-gg.rb
Labels: bump-cask-pr

#146426 workplace-chat 185.0.0.8.228
  Casks/workplace-chat.rb
Labels: bump-cask-pr

#146350 hookmark 5.1.1
  Casks/hookmark.rb
Labels: ci-syntax-only, bump-cask-pr, ci-skip-livecheck

#146431 vivaldi 6.0.2979.18
  Casks/vivaldi.rb
Labels: bump-cask-pr
