Repository Homebrew/homebrew-cask, pull requests merged in 2024-08, with the labels that each got.

#181280 codux 15.32.0
  Casks/c/codux.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip

#181305 notchnook 1.2
  Casks/n/notchnook.rb
Labels: bump-cask-pr

#181314 brewtarget 4.0.0
  Casks/b/brewtarget.rb
Labels: bump-cask-pr

#181318 devonthink 3.9.7
  Casks/d/devonthink.rb
Labels: bump-cask-pr

#181319 ea 13.263.0.5776
  Casks/e/ea.rb
Labels: bump-cask-pr

#181320 diffusionbee: update livecheck
  Casks/d/diffusionbee.rb
Labels: livecheck

#181276 preference-manager: update url and livecheck
  Casks/p/preference-manager.rb
Labels: livecheck

#181322 Add versioned livecheck blocks
  Casks/k/keepassxc@beta.rb
  Casks/o/openemu@experimental.rb
  Casks/u/utm@beta.rb
  Casks/v/vscodium@insiders.rb
Labels: automerge-skip, livecheck

#181321 navicat-premium-lite 17.0.14
  .github/autobump.txt
  Casks/n/navicat-premium-lite.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181244 todesk: disable
  Casks/t/todesk.rb
Labels: ci-syntax-only, bump-cask-pr, cask disabled

#181315 calmly-writer 2.0.55
  Casks/c/calmly-writer.rb
Labels: bump-cask-pr

#181338 chirp: update url, livecheck
  Casks/c/chirp.rb
Labels: livecheck

#181339 gotiengviet: update livecheck
  Casks/g/gotiengviet.rb
Labels: livecheck

#181389 pocket-casts 2.0.4
  Casks/p/pocket-casts.rb
Labels: bump-cask-pr

#181386 parsec 150-95e
  Casks/p/parsec.rb
Labels: bump-cask-pr

#181378 tableau-prep 2024.2.1
  Casks/t/tableau-prep.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#181379 tableau 2024.2.1
  Casks/t/tableau.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#181380 tableau-public 2024.2.1
  Casks/t/tableau-public.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#181384 josm 19160
  Casks/j/josm.rb
Labels: bump-cask-pr

#181383 anythingllm 1.6.0
  Casks/a/anythingllm.rb
Labels: bump-cask-pr

#181382 adobe-air 51.1.1.1
  Casks/a/adobe-air.rb
Labels: bump-cask-pr

#181381 space-capsule 1.17
  Casks/s/space-capsule.rb
Labels: bump-cask-pr

#181375 robloxstudio 0.636.0.6360625,b7371b41413b4479
  Casks/r/robloxstudio.rb
Labels: bump-cask-pr

#181374 ultimaker-cura 5.8.0
  Casks/u/ultimaker-cura.rb
Labels: bump-cask-pr

#181388 publish-or-perish 8.14.4639.8980
  Casks/p/publish-or-perish.rb
Labels: bump-cask-pr

#181405 artisan 3.0.0
  Casks/a/artisan.rb
Labels: bump-cask-pr

#181217 azure-data-studio 1.49.0
  Casks/a/azure-data-studio.rb
Labels: bump-cask-pr

#181369 native-access 3.13.0
  Casks/n/native-access.rb
Labels: livecheck, ci-skip-homepage

#181403 as-timer: update livecheck
  Casks/a/as-timer.rb
Labels: livecheck

#181404 ankerwork: update livecheck
  Casks/a/ankerwork.rb
Labels: livecheck

#181414 bricklink-studio: update sha256
  Casks/b/bricklink-studio.rb
Labels: checksum-mismatch

#181413 idrive 4.0.0.0,080224
  Casks/i/idrive.rb
Labels: bump-cask-pr

#181415 spotify 1.2.43.420
  Casks/s/spotify.rb
Labels: bump-cask-pr

#181385 bricklink-partdesigner 2.24.7_1
  Casks/b/bricklink-partdesigner.rb
Labels: bump-cask-pr

#181427 freetube 0.21.3
  Casks/f/freetube.rb
Labels: bump-cask-pr

#181392 github*: fix url
  Casks/g/github.rb
  Casks/g/github@beta.rb
Labels: automerge-skip

#181430 synologyassistant 7.0.5
  Casks/s/synologyassistant.rb
Labels: bump-cask-pr

#181431 textexpander 7.8
  Casks/t/textexpander.rb
Labels: bump-cask-pr

#181428 roblox 0.636.1.6360627
  .github/autobump.txt
  Casks/r/roblox.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181429 tor-browser@alpha 14.0a1
  .github/autobump.txt
  Casks/t/tor-browser@alpha.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181442 omnidisksweeper 1.15
  Casks/o/omnidisksweeper.rb
Labels: bump-cask-pr

#181447 dockdoor 1.1.5
  Casks/d/dockdoor.rb
Labels: bump-cask-pr

#181450 songkong 10.9
  Casks/s/songkong.rb
Labels: bump-cask-pr

#181451 offset-explorer 3.0.1
  Casks/o/offset-explorer.rb
Labels: bump-cask-pr

#181452 msty 1.0.6
  Casks/m/msty.rb
Labels: bump-cask-pr

#181453 dash-dash 21.0.2
  Casks/d/dash-dash.rb
Labels: bump-cask-pr

#181454 emacs 29.4-1
  Casks/e/emacs.rb
Labels: bump-cask-pr

#181455 blitz-gg 2.1.195
  Casks/b/blitz-gg.rb
Labels: bump-cask-pr

#181456 boosteroid 1.9.1
  Casks/b/boosteroid.rb
Labels: bump-cask-pr

#181457 propresenter@beta 17,285212704
  Casks/p/propresenter@beta.rb
Labels: bump-cask-pr

#181463 yes24-ebook 1.0.1.14
  Casks/y/yes24-ebook.rb
Labels: bump-cask-pr

#181464 tableau-reader 2024.2.1
  Casks/t/tableau-reader.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#181466 obs-ndi 4.14.1
  Casks/o/obs-ndi.rb
Labels: bump-cask-pr

#181465 spatterlight livecheck update
  Casks/s/spatterlight.rb
Labels: livecheck

#181468 mediahuman-youtube-downloader 3.9.9.95
  Casks/m/mediahuman-youtube-downloader.rb
Labels: bump-cask-pr

#181469 istat-menus 7.0.6
  Casks/i/istat-menus.rb
Labels: bump-cask-pr

#181470 font-sudo 1.4
  Casks/font/font-s/font-sudo.rb
Labels: bump-cask-pr

#181471 klayout 0.29.5
  Casks/k/klayout.rb
Labels: bump-cask-pr

#181475 data-rescue 6.0.9
  Casks/d/data-rescue.rb
Labels: bump-cask-pr

#181476 font-lxgw-neozhisong 1.002
  Casks/font/font-l/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#181474 emby 2.2.27
  Casks/e/emby.rb
Labels: bump-cask-pr

#181482 plexamp 4.11.1
  Casks/p/plexamp.rb
Labels: bump-cask-pr

#181481 logitune 3.6.373
  Casks/l/logitune.rb
Labels: bump-cask-pr

#181483 rocket-typist 3.1.1
  Casks/r/rocket-typist.rb
Labels: bump-cask-pr

#181485 whatsapp@legacy 2.2430.53
  .github/autobump.txt
  Casks/w/whatsapp@legacy.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181491 fix: update Busycal sha256 sum for v2024.3.3
  Casks/b/busycal.rb
Labels: checksum-mismatch

#181473 arm-performance-libraries: update livecheck
  Casks/a/arm-performance-libraries.rb
Labels: livecheck

#181484 safari-technology-preview 200
  Casks/s/safari-technology-preview.rb
Labels: bump-cask-pr, livecheck

#181460 pearcleaner 3.8.3 (new cask)
  Casks/p/pearcleaner.rb
Labels: new cask

#181523 bookends 15.0.5
  Casks/b/bookends.rb
Labels: bump-cask-pr

#181521 nessus 10.8.1
  Casks/n/nessus.rb
Labels: bump-cask-pr

#181522 jedit 5.7.0
  Casks/j/jedit.rb
Labels: bump-cask-pr, missing zap

#181528 keyboardholder 1.13.0
  Casks/k/keyboardholder.rb
Labels: bump-cask-pr

#181527 pym-player 8.2.3
  Casks/p/pym-player.rb
Labels: bump-cask-pr

#181525 Use SuperTTC fonts for all Iosevka fonts released by @be5invis
  Casks/font/font-i/font-iosevka-aile.rb
  Casks/font/font-i/font-iosevka-curly-slab.rb
  Casks/font/font-i/font-iosevka-curly.rb
  Casks/font/font-i/font-iosevka-etoile.rb
  Casks/font/font-i/font-iosevka-slab.rb
  Casks/font/font-i/font-iosevka-ss01.rb
  Casks/font/font-i/font-iosevka-ss02.rb
  Casks/font/font-i/font-iosevka-ss03.rb
  Casks/font/font-i/font-iosevka-ss04.rb
  Casks/font/font-i/font-iosevka-ss05.rb
  Casks/font/font-i/font-iosevka-ss06.rb
  Casks/font/font-i/font-iosevka-ss07.rb
  Casks/font/font-i/font-iosevka-ss08.rb
  Casks/font/font-i/font-iosevka-ss09.rb
  Casks/font/font-i/font-iosevka-ss10.rb
  Casks/font/font-i/font-iosevka-ss11.rb
  Casks/font/font-i/font-iosevka-ss12.rb
  Casks/font/font-i/font-iosevka-ss13.rb
  Casks/font/font-i/font-iosevka-ss14.rb
  Casks/font/font-i/font-iosevka-ss15.rb
  Casks/font/font-i/font-iosevka-ss16.rb
  Casks/font/font-i/font-iosevka-ss17.rb
  Casks/font/font-i/font-iosevka-ss18.rb
  Casks/font/font-i/font-iosevka.rb
Labels: automerge-skip

#181530 boosteroid 1.9.2
  Casks/b/boosteroid.rb
Labels: bump-cask-pr

#181531 istat-menus 7.0.8
  Casks/i/istat-menus.rb
Labels: bump-cask-pr

#181532 kstars 3.7.2
  Casks/k/kstars.rb
Labels: bump-cask-pr

#181539 find-my-ports 1.4.0 (new cask)
  Casks/f/find-my-ports.rb
Labels: new cask

#181546 backuploupe 3.13
  Casks/b/backuploupe.rb
Labels: bump-cask-pr

#181547 gitup 1.4.2
  Casks/g/gitup.rb
Labels: bump-cask-pr

#181548 go-agent 24.3.0
  Casks/g/go-agent.rb
Labels: bump-cask-pr

#181549 go-server 24.3.0
  Casks/g/go-server.rb
Labels: bump-cask-pr

#181550 jazz2-resurrection 2.8.0
  Casks/j/jazz2-resurrection.rb
Labels: bump-cask-pr

#181551 nifty 3.93.7
  Casks/n/nifty.rb
Labels: bump-cask-pr

#181553 pym-player 8.2.3,8C134
  Casks/p/pym-player.rb
Labels: bump-cask-pr

#181555 td-agent 4.5.2
  Casks/t/td-agent.rb
Labels: missing zap

#181556 ultrastardeluxe 2024.8.0
  Casks/u/ultrastardeluxe.rb
Labels: bump-cask-pr

#181561 nuclear 0.6.33
  Casks/n/nuclear.rb
Labels: bump-cask-pr

#181562 openrct2 0.4.13
  Casks/o/openrct2.rb
Labels: bump-cask-pr

#181563 qgroundcontrol 4.4.1
  Casks/q/qgroundcontrol.rb
Labels: bump-cask-pr

#181526 rapidminer-studio 2024.0.3
  Casks/r/rapidminer-studio.rb
Labels: ci-syntax-only, bump-cask-pr

#181564 clix: disable
  Casks/c/clix.rb
Labels: ci-syntax-only, missing description, missing zap

#181568 jellyfin 10.9.9
  .github/autobump.txt
  Casks/j/jellyfin.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181569 nosqlbooster-for-mongodb 9.0.1
  .github/autobump.txt
  Casks/n/nosqlbooster-for-mongodb.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181565 font-lxgw-heartserif 0.924.2, update `url` and `homepage`
  Casks/font/font-l/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#181580 clix: remove livecheck
  Casks/c/clix.rb
Labels: ci-syntax-only, missing description, missing zap

#181570 zipic 1.6.4 (new cask)
  Casks/z/zipic.rb
Labels: new cask

#181583 adobe-air 51.1.1.2
  Casks/a/adobe-air.rb
Labels: bump-cask-pr

#181584 deepl 24.8.11145133
  Casks/d/deepl.rb
Labels: bump-cask-pr

#181595 vbrokers 2.4.620
  Casks/v/vbrokers.rb
Labels: bump-cask-pr

#181596 wowmatrix: deprecate
  Casks/w/wowmatrix.rb
Labels: missing zap

#181603 maciasl 1.6.5
  Casks/m/maciasl.rb
Labels: bump-cask-pr

#181604 pearcleaner 3.8.4
  Casks/p/pearcleaner.rb
Labels: bump-cask-pr

#181571 orion 0.99,128.2.1
  Casks/o/orion.rb
Labels: bump-cask-pr

#181619 citrix-workspace 24.05.10.24
  Casks/c/citrix-workspace.rb
Labels: bump-cask-pr

#181620 mcreator 2024.2.32117
  .github/autobump.txt
  Casks/m/mcreator.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181621 texshop 5.42
  .github/autobump.txt
  Casks/t/texshop.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181629 android-platform-tools 35.0.2
  Casks/a/android-platform-tools.rb
Labels: bump-cask-pr

#181630 datweatherdoe 5.2.1
  Casks/d/datweatherdoe.rb
Labels: bump-cask-pr

#181633 qlmarkdown 1.0.20
  Casks/q/qlmarkdown.rb
Labels: bump-cask-pr

#181643 sublime-text 4180
  Casks/s/sublime-text.rb
Labels: bump-cask-pr

#181638 hammerspoon 1.0.0
  Casks/h/hammerspoon.rb
Labels: bump-cask-pr

#181651 dataflare 1.7.1
  Casks/d/dataflare.rb
Labels: bump-cask-pr

#181666 shadow-bot 1.9.2
  Casks/s/shadow-bot.rb
Labels: bump-cask-pr

#181663 nuclear 0.6.35
  Casks/n/nuclear.rb
Labels: bump-cask-pr

#181668 youku 9.2.55.1001
  Casks/y/youku.rb
Labels: bump-cask-pr

#181669 zspace 2.9.2024073001
  Casks/z/zspace.rb
Labels: bump-cask-pr

#181690 carbide-create 778
  Casks/c/carbide-create.rb
Labels: bump-cask-pr

#181691 cleanmymac-zh 4.15.6
  Casks/c/cleanmymac-zh.rb
Labels: bump-cask-pr

#181652 font-lxgw-neozhisong 1.003
  Casks/font/font-l/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#181692 fl-studio 24.1.1.3936
  Casks/f/fl-studio.rb
Labels: bump-cask-pr

#181618 lazy: disable
  Casks/l/lazy.rb
Labels: ci-syntax-only

#181693 loopback 2.4.3
  Casks/l/loopback.rb
Labels: bump-cask-pr

#181694 kotlin-native 2.0.10
  Casks/k/kotlin-native.rb
Labels: bump-cask-pr

#181695 presonus-universal-control 4.3.3.100963
  Casks/p/presonus-universal-control.rb
Labels: bump-cask-pr

#181696 redisinsight 2.54
  Casks/r/redisinsight.rb
Labels: bump-cask-pr

#181701 vnote 3.18.2
  Casks/v/vnote.rb
Labels: bump-cask-pr

#181667 various casks: add conflicts_with
  Casks/a/actual-odbc-pack.rb
  Casks/a/android-messages.rb
  Casks/d/docker.rb
  Casks/n/navicat-premium.rb
  Casks/p/perforce.rb
  Casks/p/plugdata.rb
  Casks/p/postico.rb
  Casks/r/royal-tsx.rb
  Casks/s/shadowsocksx.rb
  Casks/s/skype.rb
  Casks/s/slicer.rb
  Casks/s/smcfancontrol.rb
  Casks/s/sonarr.rb
  Casks/t/thorium.rb
  Casks/t/tor-browser@alpha.rb
  Casks/w/wpsoffice.rb
  Casks/x/xampp.rb
Labels: automerge-skip

#181699 tella 1.26
  Casks/t/tella.rb
Labels: bump-cask-pr

#181741 devpod: update livecheck
  Casks/d/devpod.rb
Labels: livecheck

#181743 geomap 3.7.4
  Casks/g/geomap.rb
Labels: bump-cask-pr

#181744 app-tamer 2.8.4
  Casks/a/app-tamer.rb
Labels: bump-cask-pr

#181745 nuclear 0.6.36
  Casks/n/nuclear.rb
Labels: bump-cask-pr

#181746 blitz-gg 2.1.196
  Casks/b/blitz-gg.rb
Labels: bump-cask-pr

#181747 keeper-password-manager 16.11.2
  Casks/k/keeper-password-manager.rb
Labels: bump-cask-pr

#181748 losslesscut 3.62.0
  Casks/l/losslesscut.rb
Labels: bump-cask-pr

#181750 webex 44.8.0.30404
  Casks/w/webex.rb
Labels: bump-cask-pr

#181754 google-chrome 127.0.6533.100
  Casks/g/google-chrome.rb
Labels: bump-cask-pr

#181762 istat-menus 7.01
  Casks/i/istat-menus.rb
Labels: bump-cask-pr

#181793 doxygen 1.12.0
  Casks/d/doxygen.rb
Labels: bump-cask-pr

#181794 elephas@beta 9.34
  Casks/e/elephas@beta.rb
Labels: bump-cask-pr

#181795 font-lxgw-neozhisong 1.005
  Casks/font/font-l/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#181790 holavpn 3.1,1.228.37
  Casks/h/holavpn.rb
Labels: livecheck

#181791 autofirma 1.8.4
  Casks/a/autofirma.rb
Labels: ci-skip-install, bump-cask-pr

#181800 kiwi-for-gmail 4.2.5
  .github/autobump.txt
  Casks/k/kiwi-for-gmail.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181809 minitube 4.0
  Casks/m/minitube.rb
Labels: bump-cask-pr

#181799 kdrive 3.6.3.20240807
  .github/autobump.txt
  Casks/k/kdrive.rb
Labels: automerge-skip, bump-cask-pr, autobump

#181812 perimeter81 11.0.0.2227
  Casks/p/perimeter81.rb
Labels: bump-cask-pr

#181814 roam 121.0.0-beta001
  Casks/r/roam.rb
Labels: bump-cask-pr
