Repository Homebrew/homebrew-cask, pull requests merged in 2024-05, with the labels that each got.

#172625 chef-workstation 24.4.1064
  Casks/c/chef-workstation.rb
Labels: bump-cask-pr

#172622 google-chrome 124.0.6367.119
  Casks/g/google-chrome.rb
Labels: bump-cask-pr

#172635 gaphor 2.25.1
  Casks/g/gaphor.rb
Labels: bump-cask-pr

#172493 webull: fix livecheck
  Casks/w/webull.rb
Labels: livecheck

#172640 zotero@beta 7.0.0-beta.77
  Casks/z/zotero@beta.rb
Labels: livecheck

#172641 ibkr 0.08.0g
  Casks/i/ibkr.rb
Labels: bump-cask-pr

#172642 inkdrop 5.8.1
  Casks/i/inkdrop.rb
Labels: bump-cask-pr

#172643 1password@beta 8.10.32-25.BETA
  Casks/1/1password@beta.rb
Labels: bump-cask-pr

#172644 textadept 12.4
  Casks/t/textadept.rb
Labels: bump-cask-pr

#172645 veepn 2.3.7
  Casks/v/veepn.rb
Labels: bump-cask-pr

#172653 jetbrains-toolbox 2.3.1
  Casks/j/jetbrains-toolbox.rb
Labels: bump-cask-pr

#172646 limitless 0.4118.1
  Casks/l/limitless.rb
Labels: bump-cask-pr

#172647 black-ink 2.3.1
  Casks/b/black-ink.rb
Labels: bump-cask-pr

#172648 loaf 2.0.3
  Casks/l/loaf.rb
Labels: bump-cask-pr

#172649 discord@development 0.0.40
  Casks/d/discord@development.rb
Labels: bump-cask-pr

#172656 airtame 4.10.1
  Casks/a/airtame.rb
Labels: bump-cask-pr

#172659 sublime-text@dev 4174
  Casks/s/sublime-text@dev.rb
Labels: bump-cask-pr

#172662 akuity 0.13.0
  Casks/a/akuity.rb
Labels: bump-cask-pr

#172669 transnomino 8.5.1
  Casks/t/transnomino.rb
Labels: bump-cask-pr

#172667 freeplane 1.11.13
  Casks/f/freeplane.rb
Labels: bump-cask-pr

#172668 mongodb-compass@beta 1.42.6-beta.5
  Casks/m/mongodb-compass@beta.rb
Labels: bump-cask-pr

#172454 various casks (signing issues): migrate
  Casks/c/chromedriver@beta.rb
  Casks/d/deadbeef@nightly.rb
  Casks/g/geogebra@5.rb
  Casks/k/keepassxc@snapshot.rb
  Casks/m/mumble@snapshot.rb
  Casks/o/openemu@experimental.rb
  Casks/o/openscad@snapshot.rb
  Casks/p/pgadmin3.rb
  Casks/p/playcover-community@beta.rb
  Casks/q/qbittorrent@lt20.rb
  Casks/q/qgis@ltr.rb
  Casks/r/reflector@2.rb
  Casks/s/slicer@preview.rb
  Casks/s/smcfancontrol@beta.rb
  Casks/s/sonarr@beta.rb
  Casks/t/transmission@nightly.rb
  Casks/v/vlc@nightly.rb
  Casks/v/vscodium@insiders.rb
  Casks/w/whoozle-android-file-transfer@nightly.rb
  Casks/w/wine@devel.rb
  Casks/w/wine@staging.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: ci-syntax-only, automerge-skip, ci-skip-repository

#172674 various casks: fix conflicts
  Casks/a/arduino.rb
  Casks/f/forklift.rb
  Casks/m/macloggerdx.rb
  Casks/m/mailmate.rb
  Casks/m/morpheus.rb
  Casks/m/mumble.rb
  Casks/n/netnewswire.rb
  Casks/o/omegat.rb
  Casks/o/openra.rb
  Casks/o/openscad.rb
  Casks/o/openshot-video-editor.rb
  Casks/p/parallels.rb
  Casks/p/pdf-expert.rb
  Casks/p/playcover-community.rb
  Casks/p/processing.rb
  Casks/p/propresenter.rb
  Casks/q/qbittorrent.rb
  Casks/s/sublime-text.rb
  Casks/t/tor-browser.rb
  Casks/t/transmission.rb
  Casks/t/typora.rb
  Casks/u/utm.rb
  Casks/v/virtualbuddy.rb
  Casks/v/vlc.rb
  Casks/v/vmware-fusion.rb
  Casks/w/wezterm.rb
Labels: automerge-skip

#172651 mumuplayer 1.4.18
  Casks/m/mumuplayer.rb
Labels: bump-cask-pr, ready to merge

#172685 wiso-steuer-2024 31.06.3820
  Casks/w/wiso-steuer-2024.rb
Labels: bump-cask-pr

#172698 calendar-366 2.15.4
  Casks/c/calendar-366.rb
Labels: bump-cask-pr

#172520 output-factory: update `livecheck`
  Casks/o/output-factory.rb
Labels: upstream, bump-cask-pr, livecheck

#172699 rio 0.0.37
  Casks/r/rio.rb
Labels: bump-cask-pr

#172716 autobump: updates
  .github/autobump.txt
Labels: automerge-skip, autobump

#172731 enclave 2024.4.30
  Casks/e/enclave.rb
Labels: bump-cask-pr

#172700 rippling 3.6.21
  Casks/r/rippling.rb
Labels: bump-cask-pr

#172701 anytype 0.40.8
  Casks/a/anytype.rb
Labels: bump-cask-pr

#172703 universal-media-server 13.10.0
  Casks/u/universal-media-server.rb
Labels: bump-cask-pr

#172705 browser-deputy 1.6.3
  Casks/b/browser-deputy.rb
Labels: bump-cask-pr

#172706 freeyourmusic 8.9.0
  Casks/f/freeyourmusic.rb
Labels: bump-cask-pr

#172708 libcblite-community 3.1.7
  Casks/l/libcblite-community.rb
Labels: bump-cask-pr

#172709 libcblite 3.1.7
  Casks/l/libcblite.rb
Labels: bump-cask-pr

#172710 ltspice 17.2.4
  Casks/l/ltspice.rb
Labels: bump-cask-pr

#172711 ddnet 18.2
  Casks/d/ddnet.rb
Labels: bump-cask-pr

#172712 badlion-client 4.2.0
  Casks/b/badlion-client.rb
Labels: bump-cask-pr

#172713 entry 2.1.14
  Casks/e/entry.rb
Labels: bump-cask-pr

#172733 feat: Add CI to check casks
  .github/workflows/scheduled.yml
Labels: automerge-skip

#172735 fix: use --casks for scheduled info
  .github/workflows/scheduled.yml
Labels: automerge-skip

#172736 acreom 1.20.1
  Casks/a/acreom.rb
Labels: bump-cask-pr

#172737 amneziavpn 4.5.3.0
  Casks/a/amneziavpn.rb
Labels: bump-cask-pr

#172751 gamemaker 2024.4.0.137
  Casks/g/gamemaker.rb
Labels: bump-cask-pr

#172753 guilded 1.0.9256462
  Casks/g/guilded.rb
Labels: bump-cask-pr

#172760 roam 107.1.0-beta001
  Casks/r/roam.rb
Labels: bump-cask-pr

#172752 gzdoom 4.12.2
  Casks/g/gzdoom.rb
Labels: bump-cask-pr

#172754 local 9.0.2
  Casks/l/local.rb
Labels: bump-cask-pr

#172761 sabnzbd 4.3.0
  Casks/s/sabnzbd.rb
Labels: bump-cask-pr

#172762 sidequest 0.10.41
  Casks/s/sidequest.rb
Labels: bump-cask-pr

#172764 tradingview 2.7.6
  Casks/t/tradingview.rb
Labels: bump-cask-pr

#172767 viber 22.6.0
  Casks/v/viber.rb
Labels: bump-cask-pr

#172757 macfuse@dev: migrate
  Casks/m/macfuse@dev.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, new cask

#172765 rstudio@daily: migrate
  Casks/r/rstudio@daily.rb
Labels: new cask

#172758 olympus: migrate
  Casks/o/olympus.rb
Labels: new cask

#172766 parallels@15: migrate
  Casks/p/parallels@15.rb
Labels: new cask

#172768 semeru-jdk-open: migrate casks
  Casks/s/semeru-jdk-open@11.rb
  Casks/s/semeru-jdk-open@17.rb
  Casks/s/semeru-jdk-open@8.rb
Labels: automerge-skip, new cask, ci-skip-repository

#172723 unity: update livecheck
  Casks/u/unity.rb
Labels: ready to merge

#172780 microsoft-teams@classic 1.7.00.11653
  Casks/m/microsoft-teams@classic.rb
Labels: bump-cask-pr

#172727 unity-android-support-for-editor 2023.2.20f1
  Casks/u/unity-android-support-for-editor.rb
Labels: missing zap

#172728 unity-ios-support-for-editor 2023.2.20f1
  Casks/u/unity-ios-support-for-editor.rb
Labels: missing zap

#172729 unity-windows-support-for-editor 2023.2.20f1
  Casks/u/unity-windows-support-for-editor.rb
Labels: missing zap

#172730 unity-webgl-support-for-editor 2023.2.20f1
  Casks/u/unity-webgl-support-for-editor.rb
Labels: missing zap

#172782 workflows: remove cask-versions
  .github/workflows/ci.yml
  .github/workflows/sync-labels.yml
  .github/workflows/sync-templates-and-ci-config.yml
Labels: automerge-skip

#172781 dropbox@beta 199.3.6174
  Casks/d/dropbox@beta.rb
Labels: bump-cask-pr

#172783 garagesale 9.7.5
  Casks/g/garagesale.rb
Labels: bump-cask-pr

#172784 foobar2000 2.6.4
  Casks/f/foobar2000.rb
Labels: bump-cask-pr

#172738 scheduled.yml: try setting HOMEBREW_SIMULATE_MACOS_ON_LINUX
  .github/workflows/scheduled.yml
Labels: automerge-skip

#172796 atemosc 5.0.17
  Casks/a/atemosc.rb
Labels: bump-cask-pr

#172806 easydict 2.7.1
  Casks/e/easydict.rb
Labels: bump-cask-pr

#172812 anythingllm 1.5.2
  Casks/a/anythingllm.rb
Labels: bump-cask-pr

#172831 cinc-workstation 24.4.1064
  Casks/c/cinc-workstation.rb
Labels: bump-cask-pr

#172830 devtunnel 1.0.1293+354176948f
  Casks/d/devtunnel.rb
Labels: bump-cask-pr

#172829 duet 3.18.1.0
  Casks/d/duet.rb
Labels: bump-cask-pr, ci-skip-homepage

#172828 electron-cash 4.4.1
  Casks/e/electron-cash.rb
Labels: bump-cask-pr

#172827 electron-fiddle 0.36.3
  Casks/e/electron-fiddle.rb
Labels: bump-cask-pr

#172826 garmin-express 7.21.0.0
  Casks/g/garmin-express.rb
Labels: bump-cask-pr

#172825 houdahspot 6.5.3
  Casks/h/houdahspot.rb
Labels: bump-cask-pr

#172824 keeper-password-manager 16.11.0
  Casks/k/keeper-password-manager.rb
Labels: bump-cask-pr

#172823 http-toolkit 1.15.0
  Casks/h/http-toolkit.rb
Labels: bump-cask-pr

#172822 limitless 0.4223.1
  Casks/l/limitless.rb
Labels: bump-cask-pr

#172820 miro 0.8.57
  Casks/m/miro.rb
Labels: bump-cask-pr

#172819 nifty 3.89.5
  Casks/n/nifty.rb
Labels: bump-cask-pr

#172818 obs-ndi 4.13.2
  Casks/o/obs-ndi.rb
Labels: bump-cask-pr

#172817 pritunl 1.3.3883.60
  Casks/p/pritunl.rb
Labels: bump-cask-pr

#172821 monal 903
  Casks/m/monal.rb
Labels: bump-cask-pr

#172833 USAGE: remove Homebrew/cask-versions references
  USAGE.md
Labels: documentation, automerge-skip

#172836 visit 3.4.1
  Casks/v/visit.rb
Labels: bump-cask-pr

#172838 zerotier-one 1.14.0
  Casks/z/zerotier-one.rb
Labels: bump-cask-pr

#172839 calibre 7.10.0
  Casks/c/calibre.rb
Labels: bump-cask-pr

#172861 discord@ptb 0.0.111
  Casks/d/discord@ptb.rb
Labels: bump-cask-pr

#172877 java@beta 23,21
  Casks/j/java@beta.rb
Labels: bump-cask-pr

#172876 monal@beta 901
  Casks/m/monal@beta.rb
Labels: bump-cask-pr

#172875 chromedriver@beta 125.0.6422.26
  Casks/c/chromedriver@beta.rb
Labels: bump-cask-pr

#172873 4k-youtube-to-mp3 5.3.0
  Casks/4/4k-youtube-to-mp3.rb
Labels: bump-cask-pr

#172872 4k-video-downloaderplus 1.6.0
  Casks/4/4k-video-downloaderplus.rb
Labels: bump-cask-pr

#172871 ares 138
  Casks/a/ares.rb
Labels: bump-cask-pr

#172869 binance 1.52.1
  Casks/b/binance.rb
Labels: bump-cask-pr

#172867 sidequest 0.10.42
  Casks/s/sidequest.rb
Labels: bump-cask-pr

#172865 syncovery 10.14.5
  Casks/s/syncovery.rb
Labels: bump-cask-pr

#172864 sparkle 2.6.1
  Casks/s/sparkle.rb
Labels: bump-cask-pr

#172880 autobump: updates
  .github/autobump.txt
Labels: automerge-skip, autobump

#172881 telegram-a 10.9.5
  Casks/t/telegram-a.rb
Labels: bump-cask-pr

#172860 adrive 4.14.1
  Casks/a/adrive.rb
Labels: ready to merge

#172882 shutter-encoder 18.1
  Casks/s/shutter-encoder.rb
Labels: bump-cask-pr

#172883 arq 7.26.10
  Casks/a/arq.rb
Labels: bump-cask-pr

#172884 dropbox@beta 199.3.6190
  Casks/d/dropbox@beta.rb
Labels: bump-cask-pr

#172892 anythingllm 1.5.3
  Casks/a/anythingllm.rb
Labels: bump-cask-pr

#172899 various casks: remove deprecated casks
  Casks/a/arduino.rb
  Casks/b/bbedit.rb
  Casks/f/fertigt-slate.rb
  Casks/f/forklift.rb
  Casks/i/intellij-idea-ce.rb
  Casks/i/iterm2.rb
  Casks/i/iterm2@beta.rb
  Casks/i/iterm2@nightly.rb
  Casks/k/kaleidoscope.rb
  Casks/k/kaleidoscope@2.rb
  Casks/k/kaleidoscope@3.rb
  Casks/k/ksdiff.rb
  Casks/m/morpheus.rb
  Casks/o/omniplan.rb
  Casks/p/paragon-extfs.rb
  Casks/p/processing.rb
  Casks/p/processing@3.rb
  Casks/r/rambox.rb
  Casks/s/sublime-text.rb
  Casks/s/sublime-text@dev.rb
  Casks/t/tsh.rb
  Casks/v/vmware-fusion-tech@preview.rb
  Casks/v/vmware-fusion.rb
  Casks/x/xmind.rb
  Casks/x/xmind@beta.rb
Labels: ci-syntax-only, automerge-skip

#172900 zettlr 3.1.0
  Casks/z/zettlr.rb
Labels: bump-cask-pr

#172141 mplab-xc32 4.40
  Casks/m/mplab-xc32.rb
Labels: bump-cask-pr, ready to merge

#172913 gpg-suite*: update conflicts_with formula
  Casks/g/gpg-suite-no-mail.rb
  Casks/g/gpg-suite-pinentry.rb
  Casks/g/gpg-suite.rb
  Casks/g/gpg-suite@nightly.rb
Labels: automerge-skip

#172912 vmware-fusion@preview: rename from vmware-fusion-tech@preview
  Casks/v/vmware-fusion.rb
  Casks/v/vmware-fusion@preview.rb
  cask_renames.json
Labels: ci-syntax-only, automerge-skip

#172928 clickup 3.3.79
  Casks/c/clickup.rb
Labels: livecheck

#172930 sync 2.2.36
  Casks/s/sync.rb
Labels: livecheck

#172941 vyprvpn: update livecheck
  Casks/v/vyprvpn.rb
Labels: livecheck

#172927 msty 0.7.1 (new cask)
  Casks/m/msty.rb
Labels: new cask

#172942 jaspersoft-studio: remove livecheck
  Casks/j/jaspersoft-studio.rb
Labels: ci-syntax-only, livecheck

#172945 focus-booster: remove livecheck
  Casks/f/focus-booster.rb
Labels: ci-syntax-only, livecheck, missing zap

#172946 glaze 2.0
  Casks/g/glaze.rb
Labels: livecheck

#172947 anka-build-cloud-controller-and-registry: remove livecheck
  Casks/a/anka-build-cloud-controller-and-registry.rb
Labels: livecheck

#172949 wow: remove livecheck
  Casks/w/wow.rb
Labels: ci-syntax-only, livecheck

#172948 diskmaker-x: remove livecheck
  Casks/d/diskmaker-x.rb
Labels: ci-syntax-only, livecheck, missing zap

#172797 Battery: Update description and add caveats to reduce installation confusion
  Casks/b/battery.rb
Labels: awaiting maintainer feedback

#172950 macloggerdx@beta 6.51b14
  Casks/m/macloggerdx@beta.rb
Labels: bump-cask-pr

#172952 youtube-to-mp3 3.9.9.91
  Casks/y/youtube-to-mp3.rb
Labels: bump-cask-pr

#172966 bookends 15.0.2
  Casks/b/bookends.rb
Labels: bump-cask-pr

#172965 black-ink 2.3.2
  Casks/b/black-ink.rb
Labels: bump-cask-pr

#172962 memory-cleaner 5.3.1
  Casks/m/memory-cleaner.rb
Labels: bump-cask-pr

#172964 boinc 7.24.4
  Casks/b/boinc.rb
Labels: bump-cask-pr

#172963 vassal 3.7.12
  Casks/v/vassal.rb
Labels: bump-cask-pr

#172961 devtunnel 1.0.1294+a9f97d3879
  Casks/d/devtunnel.rb
Labels: bump-cask-pr

#172960 cursr 1.7.1
  Casks/c/cursr.rb
Labels: bump-cask-pr

#172959 mediahuman-youtube-downloader 3.9.9.91
  Casks/m/mediahuman-youtube-downloader.rb
Labels: bump-cask-pr

#172958 olympus 4075
  Casks/o/olympus.rb
Labels: bump-cask-pr

#172957 sabnzbd 4.3.1
  Casks/s/sabnzbd.rb
Labels: bump-cask-pr

#172956 sitesucker-pro 5.3.4
  Casks/s/sitesucker-pro.rb
Labels: bump-cask-pr

#172955 schism-tracker 20240503
  Casks/s/schism-tracker.rb
Labels: bump-cask-pr

#172954 transfer 2.2.2
  Casks/t/transfer.rb
Labels: bump-cask-pr

#172953 idrive 3.5.10.76
  Casks/i/idrive.rb
Labels: bump-cask-pr

#172969 dbschema 9.5.4
  Casks/d/dbschema.rb
Labels: bump-cask-pr

#172907 yass 1.9.3 (new cask)
  Casks/y/yass.rb
Labels: new cask

#172973 fix: run scheduled checks on macOS
  .github/workflows/scheduled.yml
Labels: automerge-skip

#172975 fix: do not fetch from source for casks
  .github/workflows/scheduled.yml
Labels: automerge-skip

#172976 openscad@snapshot 2024.05.03
  Casks/o/openscad@snapshot.rb
Labels: bump-cask-pr

#171865 j 9.5.2
  Casks/j/j.rb
Labels: missing zap

#172977 postman 11.0.4
  Casks/p/postman.rb
Labels: bump-cask-pr

#172292 Update eclecticlight casks livecheck and zap
  Casks/c/cirrus.rb
  Casks/d/dintch.rb
  Casks/l/lockrattler.rb
  Casks/m/metamer.rb
  Casks/m/mints.rb
  Casks/s/signet.rb
  Casks/s/silentknight.rb
  Casks/s/silnite.rb
  Casks/s/spundle.rb
  Casks/t/taccy.rb
  Casks/t/thetimemachinemechanic.rb
  Casks/u/ulbow.rb
  Casks/x/xattred.rb
  Casks/x/xprocheck.rb
Labels: awaiting user reply, automerge-skip, livecheck
