Repository Homebrew/homebrew-cask, pull requests merged in 2024-02, with the labels that each got.

#165742 zed 0.120.5
  Casks/z/zed.rb
Labels: bump-cask-pr

#165471 mumu-player 1.2.142 (new cask)
  Casks/m/mumuplayer.rb
Labels: new cask

#165743 transnomino 8.3.1
  Casks/t/transnomino.rb
Labels: bump-cask-pr

#165748 datagrip 2023.3.4
  Casks/d/datagrip.rb
Labels: bump-cask-pr

#165751 redisinsight 2.42.0
  Casks/r/redisinsight.rb
Labels: bump-cask-pr

#165752 runelite 2.6.13
  Casks/r/runelite.rb
Labels: bump-cask-pr

#165753 roam 94.0.0-beta001
  Casks/r/roam.rb
Labels: bump-cask-pr

#165755 ti-connect-ce 6.0.1.344
  Casks/t/ti-connect-ce.rb
Labels: bump-cask-pr

#165756 sentinel 0.24.2
  Casks/s/sentinel.rb
Labels: bump-cask-pr

#165757 streammusic 1.2.3
  Casks/s/streammusic.rb
Labels: bump-cask-pr

#165758 shearwater-cloud 2.11.1
  Casks/s/shearwater-cloud.rb
Labels: bump-cask-pr

#165759 salt 3006.6
  Casks/s/salt.rb
Labels: bump-cask-pr

#165762 fiji 20240131-1617
  Casks/f/fiji.rb
Labels: bump-cask-pr

#165763 maczip 2.4
  Casks/m/maczip.rb
Labels: bump-cask-pr

#165764 finch 1.1.0
  Casks/f/finch.rb
Labels: bump-cask-pr

#165766 visual-paradigm-ce 17.1,20240201
  Casks/v/visual-paradigm-ce.rb
Labels: bump-cask-pr

#165767 lulu 2.6.0
  Casks/l/lulu.rb
Labels: bump-cask-pr

#165772 panoply 5.3.2
  Casks/p/panoply.rb
Labels: bump-cask-pr

#165769 lx-music 2.6.0
  Casks/l/lx-music.rb
Labels: bump-cask-pr

#165771 visual-paradigm 17.1,20240201
  Casks/v/visual-paradigm.rb
Labels: bump-cask-pr

#165774 whatsyoursign 2.2.2
  Casks/w/whatsyoursign.rb
Labels: bump-cask-pr

#165770 loginputmac 3.3.5
  Casks/l/loginputmac.rb
Labels: bump-cask-pr

#165775 wondershare-uniconverter 15.5.1
  Casks/w/wondershare-uniconverter.rb
Labels: bump-cask-pr

#165773 pagico 10,20240201
  Casks/p/pagico.rb
Labels: bump-cask-pr

#165760 atok 33.3
  Casks/a/atok.rb
Labels: bump-cask-pr, missing zap

#165779 mumuplayer 1.2.147
  Casks/m/mumuplayer.rb
Labels: bump-cask-pr

#165783 visual-studio-code 1.86.0
  Casks/v/visual-studio-code.rb
Labels: bump-cask-pr

#165786 reqable 2.6.2
  Casks/r/reqable.rb
Labels: bump-cask-pr

#165795 minizincide 2.8.3
  Casks/m/minizincide.rb
Labels: bump-cask-pr

#165799 launchcontrol 2.5.3
  Casks/l/launchcontrol.rb
Labels: bump-cask-pr

#165801 privadovpn 3.8.0
  Casks/p/privadovpn.rb
Labels: bump-cask-pr

#165802 yinxiangbiji 9.7.12_474135
  Casks/y/yinxiangbiji.rb
Labels: bump-cask-pr

#165803 phoenix-slides 1.5.5
  Casks/p/phoenix-slides.rb
Labels: bump-cask-pr

#165796 diffusionbee 2.5.1
  Casks/d/diffusionbee.rb
Labels: bump-cask-pr

#165798 keyman 16.0.145
  Casks/k/keyman.rb
Labels: bump-cask-pr

#165787 reader 0.1.116
  Casks/r/reader.rb
Labels: bump-cask-pr

#165794 hoppscotch 23.12.3-2
  Casks/h/hoppscotch.rb
Labels: bump-cask-pr

#165804 youku 9.2.46.1001
  Casks/y/youku.rb
Labels: bump-cask-pr

#165793 abbyy-finereader-pdf 1402.19
  Casks/a/abbyy-finereader-pdf.rb
Labels: bump-cask-pr

#165790 superlist 0.36.1
  Casks/s/superlist.rb
Labels: bump-cask-pr

#165791 appflowy 0.4.4
  Casks/a/appflowy.rb
Labels: bump-cask-pr

#165805 grammarly-desktop 1.54.1.0
  Casks/g/grammarly-desktop.rb
Labels: bump-cask-pr

#165789 tresorit 3.5.2918.4090
  Casks/t/tresorit.rb
Labels: bump-cask-pr

#165792 apidog 2.5.2
  Casks/a/apidog.rb
Labels: bump-cask-pr

#165761 omnifocus 4.0.5
  Casks/o/omnifocus.rb
Labels: bump-cask-pr

#165806 jetbrains-toolbox 2.2
  Casks/j/jetbrains-toolbox.rb
Labels: bump-cask-pr

#165808 gpgfrontend 2.1.2
  Casks/g/gpgfrontend.rb
Labels: bump-cask-pr

#165810 arc 1.28.0
  Casks/a/arc.rb
Labels: bump-cask-pr

#165812 telegram-desktop 4.14.12
  Casks/t/telegram-desktop.rb
Labels: bump-cask-pr

#165818 znote 2.4.1
  Casks/z/znote.rb
Labels: bump-cask-pr

#165819 screens-connect 5.1.2
  Casks/s/screens-connect.rb
Labels: bump-cask-pr

#165821 anydo 5.0.58
  Casks/a/anydo.rb
Labels: bump-cask-pr

#165823 atemosc 5.0.7
  Casks/a/atemosc.rb
Labels: bump-cask-pr

#165824 abstract 98.3.2
  Casks/a/abstract.rb
Labels: bump-cask-pr

#165825 fiji 20240201-1317
  Casks/f/fiji.rb
Labels: bump-cask-pr

#165826 heroic 2.12.1
  Casks/h/heroic.rb
Labels: bump-cask-pr

#165827 clockify 2.10.0
  Casks/c/clockify.rb
Labels: bump-cask-pr

#165830 vbrokers 2.3.804
  Casks/v/vbrokers.rb
Labels: bump-cask-pr

#165831 ecamm-live 4.1.9
  Casks/e/ecamm-live.rb
Labels: bump-cask-pr

#165828 mediahuman-audio-converter 2.2.3
  Casks/m/mediahuman-audio-converter.rb
Labels: bump-cask-pr

#165834 keysafe 1.3.1
  Casks/k/keysafe.rb
Labels: bump-cask-pr, missing zap

#165835 plasticscm-cloud-edition 11.0.16.8411
  Casks/p/plasticscm-cloud-edition.rb
Labels: bump-cask-pr

#165836 writerside 2023.3,233.14389
  Casks/w/writerside.rb
Labels: bump-cask-pr

#165837 reader 0.1.119
  Casks/r/reader.rb
Labels: bump-cask-pr

#165840 warp 0.2024.01.30.16.52.stable_00
  Casks/w/warp.rb
Labels: bump-cask-pr

#165841 notion-calendar 1.118.0
  Casks/n/notion-calendar.rb
Labels: bump-cask-pr

#165842 finch 1.1.1
  Casks/f/finch.rb
Labels: bump-cask-pr

#165852 tableplus 5.8.6
  Casks/t/tableplus.rb
Labels: bump-cask-pr

#165854 skim 1.7
  Casks/s/skim.rb
Labels: bump-cask-pr

#165853 smart-converter-pro 3.1.4
  Casks/s/smart-converter-pro.rb
Labels: bump-cask-pr

#165855 appflowy 0.4.5
  Casks/a/appflowy.rb
Labels: bump-cask-pr

#165857 ankiapp-anki 8.3.0
  Casks/a/ankiapp-anki.rb
Labels: bump-cask-pr

#165858 frappe-books 0.21.1
  Casks/f/frappe-books.rb
Labels: bump-cask-pr

#165859 fiji 20240201-1617
  Casks/f/fiji.rb
Labels: bump-cask-pr

#165860 mimestream 1.2.6
  Casks/m/mimestream.rb
Labels: bump-cask-pr

#165863 coscreen 6.4.16
  Casks/c/coscreen.rb
Labels: bump-cask-pr

#165865 qfinder-pro 7.10.2.0125
  Casks/q/qfinder-pro.rb
Labels: bump-cask-pr

#165867 bricklink-studio 2.24.1_1
  Casks/b/bricklink-studio.rb
Labels: bump-cask-pr

#165868 lantern 7.8.0
  Casks/l/lantern.rb
Labels: bump-cask-pr

#165869 linphone 5.2.1
  Casks/l/linphone.rb
Labels: bump-cask-pr

#165870 portfolioperformance 0.67.3
  Casks/p/portfolioperformance.rb
Labels: bump-cask-pr

#165872 yinxiangbiji 9.7.12_474155
  Casks/y/yinxiangbiji.rb
Labels: bump-cask-pr

#165861 mmhmm 1.1.8
  Casks/m/mmhmm.rb
Labels: bump-cask-pr

#165866 embyserver 4.8.0.80
  Casks/e/embyserver.rb
Labels: bump-cask-pr

#165874 readdle-spark 3.13.2.65826
  Casks/r/readdle-spark.rb
Labels: bump-cask-pr

#165850 unity-ios-support-for-editor 2023.2.8f1
  Casks/u/unity-ios-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#165856 ankama 3.12.6
  Casks/a/ankama.rb
Labels: bump-cask-pr, ci-skip-homepage

#165851 unity-windows-support-for-editor 2023.2.8f1
  Casks/u/unity-windows-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#165862 unity-webgl-support-for-editor 2023.2.8f1
  Casks/u/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#165877 querious 4.0.11
  Casks/q/querious.rb
Labels: bump-cask-pr

#165878 videofusion 5.4.0.9890
  Casks/v/videofusion.rb
Labels: bump-cask-pr

#165879 eudic 4.6.1
  Casks/e/eudic.rb
Labels: bump-cask-pr

#165881 pdf-reader-pro 3.3.0.0
  Casks/p/pdf-reader-pro.rb
Labels: bump-cask-pr

#165882 youdaonote 7.2.171
  Casks/y/youdaonote.rb
Labels: bump-cask-pr

#165883 pieces-os 7.3.0
  Casks/p/pieces-os.rb
Labels: bump-cask-pr

#165905 protonmail-bridge 3.8.2
  Casks/p/protonmail-bridge.rb
Labels: bump-cask-pr

#165901 warp 0.2024.01.30.16.52.stable_01
  Casks/w/warp.rb
Labels: bump-cask-pr

#165900 lulu 2.6.1
  Casks/l/lulu.rb
Labels: bump-cask-pr

#165833 edrawmind 11.0.5
  Casks/e/edrawmind.rb
Labels: bump-cask-pr

#165912 imazing 2.17.17
  Casks/i/imazing.rb
Labels: bump-cask-pr

#165913 rancher 1.12.3
  Casks/r/rancher.rb
Labels: bump-cask-pr

#165914 nudge 1.1.14.81536
  Casks/n/nudge.rb
Labels: bump-cask-pr

#165915 goxel 0.14.0
  Casks/g/goxel.rb
Labels: bump-cask-pr

#165917 santa 2024.1
  Casks/s/santa.rb
Labels: bump-cask-pr

#165918 spacedrive 0.2.3
  Casks/s/spacedrive.rb
Labels: bump-cask-pr

#165919 soulseek 2024-2-1
  Casks/s/soulseek.rb
Labels: bump-cask-pr, missing zap

#165920 starsector 0.97a-RC6
  Casks/s/starsector.rb
Labels: bump-cask-pr

#165921 lunacy 9.4.0
  Casks/l/lunacy.rb
Labels: bump-cask-pr

#165916 znote 2.4.2
  Casks/z/znote.rb
Labels: bump-cask-pr

#165922 onedrive 24.010.0114.0003
  Casks/o/onedrive.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip

#165924 scrolla 2828.12.0
  Casks/s/scrolla.rb
Labels: bump-cask-pr

#165886 lunarbar 1.1.0 (new cask)
  Casks/l/lunarbar.rb
Labels: new cask

#165930 retroarch 1.17.0
  Casks/r/retroarch.rb
Labels: bump-cask-pr

#165933 ddnet 18.0.3
  Casks/d/ddnet.rb
Labels: bump-cask-pr

#165934 amie 240131.0.2
  Casks/a/amie.rb
Labels: bump-cask-pr

#165931 messenger 204.0.0.13.162
  Casks/m/messenger.rb
Labels: bump-cask-pr

#165940 nightshade 1.0.1
  Casks/n/nightshade.rb
Labels: bump-cask-pr

#165941 elephicon 2.8.5
  Casks/e/elephicon.rb
Labels: bump-cask-pr

#165942 floorp 11.9.0
  Casks/f/floorp.rb
Labels: bump-cask-pr

#165944 apidog 2.5.3
  Casks/a/apidog.rb
Labels: bump-cask-pr

#165946 appflowy 0.4.6
  Casks/a/appflowy.rb
Labels: bump-cask-pr

#165935 powerphotos 2.5.6
  Casks/p/powerphotos.rb
Labels: bump-cask-pr

#165936 bria 6.7.1
  Casks/b/bria.rb
Labels: bump-cask-pr

#165939 media-center 32.00.12
  Casks/m/media-center.rb
Labels: bump-cask-pr

#165945 atlauncher 3.4.35.5
  Casks/a/atlauncher.rb
Labels: bump-cask-pr

#165943 ollama 0.1.23
  Casks/o/ollama.rb
Labels: bump-cask-pr

#165948 bookends 14.2.9
  Casks/b/bookends.rb
Labels: bump-cask-pr

#165947 unity-android-support-for-editor 2023.2.8f1
  Casks/u/unity-android-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#165932 forkgram-telegram 4.14.12
  Casks/f/forkgram-telegram.rb
Labels: bump-cask-pr

#165937 bezel 1.3.6
  Casks/b/bezel.rb
Labels: bump-cask-pr

#165938 kyokan-bob 2.1.0
  Casks/k/kyokan-bob.rb
Labels: bump-cask-pr

#165956 wezterm 20240203-110809
  Casks/w/wezterm.rb
Labels: bump-cask-pr

#165929 retroarch-metal 1.17.0
  Casks/r/retroarch-metal.rb
Labels: ci-retry, bump-cask-pr

#165968 dcp-o-matic-editor 2.16.74
  Casks/d/dcp-o-matic-editor.rb
Labels: bump-cask-pr

#165967 dcp-o-matic-player 2.16.74
  Casks/d/dcp-o-matic-player.rb
Labels: bump-cask-pr

#165966 chatall 1.58.87
  Casks/c/chatall.rb
Labels: bump-cask-pr

#165965 contour 0.4.2.6429
  Casks/c/contour.rb
Labels: bump-cask-pr

#165964 mochi 1.16.7
  Casks/m/mochi.rb
Labels: bump-cask-pr

#165963 mdrp 12.1.0
  Casks/m/mdrp.rb
Labels: bump-cask-pr

#165962 maa 5.0.0
  Casks/m/maa.rb
Labels: bump-cask-pr

#165961 mindmac 1.8.20
  Casks/m/mindmac.rb
Labels: bump-cask-pr

#165960 matterhorn 90000.0.0
  Casks/m/matterhorn.rb
Labels: bump-cask-pr

#165959 onekey 4.20.0
  Casks/o/onekey.rb
Labels: bump-cask-pr

#165958 ankiapp-anki 8.3.1
  Casks/a/ankiapp-anki.rb
Labels: bump-cask-pr

#165957 starsector 0.97a-RC7
  Casks/s/starsector.rb
Labels: bump-cask-pr

#165970 emby 2.2.17
  Casks/e/emby.rb
Labels: bump-cask-pr

#165972 lunacy 9.4.1
  Casks/l/lunacy.rb
Labels: bump-cask-pr

#165697 yandex 24.1.0
  Casks/y/yandex.rb
Labels: bump-cask-pr, ci-skip-livecheck

#165973 pieces 2.9.4
  Casks/p/pieces.rb
Labels: bump-cask-pr

#165974 poker-copilot 7.46
  Casks/p/poker-copilot.rb
Labels: bump-cask-pr
