Repository Homebrew/homebrew-cask, pull requests merged in 2024-03, with the labels that each got.

#167964 calibre 7.6.0
  Casks/c/calibre.rb
Labels: bump-cask-pr

#167969 amazon-workspaces 5.19.0.4645
  Casks/a/amazon-workspaces.rb
Labels: bump-cask-pr

#167970 ishowu-instant 1.4.19
  Casks/i/ishowu-instant.rb
Labels: bump-cask-pr

#167971 figma-agent 116.16.13
  Casks/f/figma-agent.rb
Labels: bump-cask-pr

#167979 shotcut 24.02.29
  Casks/s/shotcut.rb
Labels: bump-cask-pr

#167980 motion 0.66.0
  Casks/m/motion.rb
Labels: bump-cask-pr

#167981 fpc-laz 3.2.2,3.2
  Casks/f/fpc-laz.rb
Labels: bump-cask-pr, missing zap

#167982 heptabase 1.29.4
  Casks/h/heptabase.rb
Labels: bump-cask-pr

#167977 metasploit 6.3.59,20240301113221
  Casks/m/metasploit.rb
Labels: bump-cask-pr

#167973 mongodb-compass-isolated-edition 1.42.2
  Casks/m/mongodb-compass-isolated-edition.rb
Labels: bump-cask-pr

#167968 tinkerwell 4.9.1
  Casks/t/tinkerwell.rb
Labels: bump-cask-pr

#167985 clickhouse 24.2.1.2248-stable
  Casks/c/clickhouse.rb
Labels: bump-cask-pr

#167986 compositor 1.26.0
  Casks/c/compositor.rb
Labels: bump-cask-pr

#167991 lehreroffice 2024.1.1
  Casks/l/lehreroffice.rb
Labels: bump-cask-pr

#167987 vassal 3.7.9
  Casks/v/vassal.rb
Labels: bump-cask-pr

#167992 pym-player 8.1.4
  Casks/p/pym-player.rb
Labels: bump-cask-pr

#167988 embyserver 4.8.3.0
  Casks/e/embyserver.rb
Labels: bump-cask-pr

#167990 panoply 5.3.3
  Casks/p/panoply.rb
Labels: bump-cask-pr

#167989 logos 32.1.0.0031
  Casks/l/logos.rb
Labels: bump-cask-pr

#167993 autobump: set `HOMEBREW_TEST_BOT_AUTOBUMP`
  .github/workflows/autobump.yml
Labels: automerge-skip

#167994 ukelele 3.5.12
  Casks/u/ukelele.rb
Labels: bump-cask-pr

#167995 second-life-viewer 7.1.3.7878383867
  Casks/s/second-life-viewer.rb
Labels: bump-cask-pr

#167999 multiviewer-for-f1 1.31.2
  Casks/m/multiviewer-for-f1.rb
Labels: bump-cask-pr

#167998 mumuplayer 1.3.4
  Casks/m/mumuplayer.rb
Labels: bump-cask-pr

#168002 pagico 10,20240301
  Casks/p/pagico.rb
Labels: bump-cask-pr

#168004 wormhole 1.7.0
  Casks/w/wormhole.rb
Labels: bump-cask-pr

#168003 publish-or-perish 8.11.4583.8827
  Casks/p/publish-or-perish.rb
Labels: bump-cask-pr

#168009 gdevelop 5.3.192
  Casks/g/gdevelop.rb
Labels: bump-cask-pr

#168010 topcat 4.9-1
  Casks/t/topcat.rb
Labels: bump-cask-pr

#168012 adrive 4.13.0
  Casks/a/adrive.rb
Labels: bump-cask-pr

#168017 replay 91.13.1,9124.3.1
  Casks/r/replay.rb
Labels: bump-cask-pr

#168018 textadept 12.3
  Casks/t/textadept.rb
Labels: bump-cask-pr

#168020 texstudio 4.7.3
  Casks/t/texstudio.rb
Labels: bump-cask-pr

#168021 syncovery 10.12.4
  Casks/s/syncovery.rb
Labels: bump-cask-pr

#168022 avast-secure-browser 121.0.5010.186
  Casks/a/avast-secure-browser.rb
Labels: bump-cask-pr

#168023 freeplane 1.11.11
  Casks/f/freeplane.rb
Labels: bump-cask-pr

#168026 clockify 2.10.2
  Casks/c/clockify.rb
Labels: bump-cask-pr

#168025 joplin 2.14.17
  Casks/j/joplin.rb
Labels: bump-cask-pr

#168027 versions 2.4.4
  Casks/v/versions.rb
Labels: bump-cask-pr

#168028 xact 2.55
  Casks/x/xact.rb
Labels: bump-cask-pr

#168029 pieces 2.10.1
  Casks/p/pieces.rb
Labels: bump-cask-pr

#168024 multiviewer-for-f1 1.31.4
  Casks/m/multiviewer-for-f1.rb
Labels: bump-cask-pr

#168019 115 2.0.8.5
  Casks/1/115.rb
Labels: bump-cask-pr

#168041 netbeans: update livecheck
  Casks/n/netbeans.rb
Labels: livecheck

#168048 propresenter 7.16.1
  Casks/p/propresenter.rb
Labels: bump-cask-pr

#168051 julia 1.10.2
  Casks/j/julia.rb
Labels: bump-cask-pr

#168050 r 4.3.3
  Casks/r/r.rb
Labels: bump-cask-pr

#168054 one-switch 1.34.1
  Casks/o/one-switch.rb
Labels: bump-cask-pr

#168056 cirrus 1.14
  Casks/c/cirrus.rb
Labels: bump-cask-pr

#168057 jgrennison-openttd 0.58.1
  Casks/j/jgrennison-openttd.rb
Labels: bump-cask-pr

#168059 mints 1.19
  Casks/m/mints.rb
Labels: bump-cask-pr

#168058 middle 1.8.4
  Casks/m/middle.rb
Labels: bump-cask-pr

#168060 xournal-plus-plus 1.2.3
  Casks/x/xournal-plus-plus.rb
Labels: bump-cask-pr

#168061 unity-ios-support-for-editor 2023.2.12f1
  Casks/u/unity-ios-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#168062 unity-windows-support-for-editor 2023.2.12f1
  Casks/u/unity-windows-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#168068 tabby 1.0.206
  Casks/t/tabby.rb
Labels: bump-cask-pr

#168066 unity-webgl-support-for-editor 2023.2.12f1
  Casks/u/unity-webgl-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#168067 swiftformat-for-xcode 0.53.3
  Casks/s/swiftformat-for-xcode.rb
Labels: bump-cask-pr

#168070 macrorecorder 3.0.50
  Casks/m/macrorecorder.rb
Labels: bump-cask-pr

#168072 microsoft-azure-storage-explorer 1.33.0
  Casks/m/microsoft-azure-storage-explorer.rb
Labels: bump-cask-pr

#168071 chainner 0.22.2
  Casks/c/chainner.rb
Labels: bump-cask-pr

#168069 jordanbaird-ice 0.6.1
  Casks/j/jordanbaird-ice.rb
Labels: bump-cask-pr

#168074 playdate-simulator 2.4.0
  Casks/p/playdate-simulator.rb
Labels: bump-cask-pr

#168073 playdate-mirror 1.2.0
  Casks/p/playdate-mirror.rb
Labels: bump-cask-pr

#168065 unity-android-support-for-editor 2023.2.12f1
  Casks/u/unity-android-support-for-editor.rb
Labels: bump-cask-pr, missing zap

#168047 cmd/lib/ci_matrix: introduce sonoma CI runner
  cmd/lib/ci_matrix.rb
Labels: automerge-skip

#168076 cmd/lib/ci_matrix: fix sonoma arch
  cmd/lib/ci_matrix.rb
Labels: automerge-skip

#168080 imhex 1.33.1
  Casks/i/imhex.rb
Labels: bump-cask-pr

#168083 tiddly 0.0.20
  Casks/t/tiddly.rb
Labels: bump-cask-pr

#168086 buildsettingextractor 1.4.7
  Casks/b/buildsettingextractor.rb
Labels: bump-cask-pr

#168085 qlab 5.3.6
  Casks/q/qlab.rb
Labels: bump-cask-pr

#168090 ava: update homepage
  Casks/a/ava.rb
Labels: livecheck

#168091 openrct2 0.4.9
  Casks/o/openrct2.rb
Labels: bump-cask-pr

#168092 kodi 20.5-Nexus
  Casks/k/kodi.rb
Labels: bump-cask-pr

#168093 ytmdesktop-youtube-music 2.0.0
  Casks/y/ytmdesktop-youtube-music.rb
Labels: bump-cask-pr

#168094 phpwebstudy 2.2.0
  Casks/p/phpwebstudy.rb
Labels: bump-cask-pr

#168046 qth: update `sha256`
  Casks/q/qth.rb
Labels: awaiting user reply, checksum-mismatch

#168104 ultrastardeluxe 2024.3.0
  Casks/u/ultrastardeluxe.rb
Labels: bump-cask-pr

#168084 frhelper 4.5.4
  Casks/f/frhelper.rb
Labels: bump-cask-pr

#168108 tinymediamanager 4.3.15
  Casks/t/tinymediamanager.rb
Labels: bump-cask-pr

#168109 trilium-notes 0.63.3
  Casks/t/trilium-notes.rb
Labels: bump-cask-pr

#168110 screens-connect 5.1.2,22729
  Casks/s/screens-connect.rb
Labels: bump-cask-pr

#168111 bluewallet 6.5.7
  Casks/b/bluewallet.rb
Labels: bump-cask-pr

#168113 keyboard-cowboy 3.23.0
  Casks/k/keyboard-cowboy.rb
Labels: bump-cask-pr

#168112 buttercup 2.26.0
  Casks/b/buttercup.rb
Labels: bump-cask-pr

#168115 bleunlock 1.12.2
  Casks/b/bleunlock.rb
Labels: bump-cask-pr

#168119 uhk-agent 4.0.1
  Casks/u/uhk-agent.rb
Labels: bump-cask-pr

#168120 touchosc 1.2.9
  Casks/t/touchosc.rb
Labels: bump-cask-pr

#168121 snapmotion 5.2.1
  Casks/s/snapmotion.rb
Labels: bump-cask-pr

#168122 subsurface 6.0.5112
  Casks/s/subsurface.rb
Labels: bump-cask-pr

#168124 lookin 1.0.7
  Casks/l/lookin.rb
Labels: bump-cask-pr, missing zap

#168125 spatial 0.5.0
  Casks/s/spatial.rb
Labels: bump-cask-pr

#168148 navicat-for-sqlite 16.3.7
  Casks/n/navicat-for-sqlite.rb
Labels: bump-cask-pr

#168152 tableflip 1.6.1
  Casks/t/tableflip.rb
Labels: bump-cask-pr

#168145 navicat-for-sql-server 16.3.7
  Casks/n/navicat-for-sql-server.rb
Labels: bump-cask-pr

#168153 typeface 3.12.0
  Casks/t/typeface.rb
Labels: bump-cask-pr

#168156 splashtop-personal 3.6.6.0
  Casks/s/splashtop-personal.rb
Labels: bump-cask-pr

#168154 tabby 1.0.207
  Casks/t/tabby.rb
Labels: bump-cask-pr

#168151 navicat-for-postgresql 16.3.7
  Casks/n/navicat-for-postgresql.rb
Labels: bump-cask-pr

#168147 navicat-for-mysql 16.3.7
  Casks/n/navicat-for-mysql.rb
Labels: bump-cask-pr

#168155 send-anywhere 24.3.42148
  Casks/s/send-anywhere.rb
Labels: bump-cask-pr

#168146 navicat-premium 16.3.7
  Casks/n/navicat-premium.rb
Labels: bump-cask-pr

#168149 navicat-for-mariadb 16.3.7
  Casks/n/navicat-for-mariadb.rb
Labels: bump-cask-pr

#168150 zotero 6.0.35
  Casks/z/zotero.rb
Labels: bump-cask-pr

#168157 superproductivity 8.0.1
  Casks/s/superproductivity.rb
Labels: bump-cask-pr

#168158 skim 1.7.1
  Casks/s/skim.rb
Labels: bump-cask-pr

#168164 millie 5.21.1
  Casks/m/millie.rb
Labels: bump-cask-pr

#168159 slite 1.2.21
  Casks/s/slite.rb
Labels: bump-cask-pr

#168160 fixkey 1.2.0
  Casks/f/fixkey.rb
Labels: bump-cask-pr

#168161 morgen 3.2.5
  Casks/m/morgen.rb
Labels: bump-cask-pr

#168162 jordanbaird-ice 0.6.2
  Casks/j/jordanbaird-ice.rb
Labels: bump-cask-pr

#168163 onekey 4.21.0
  Casks/o/onekey.rb
Labels: bump-cask-pr

#168166 phpwebstudy 2.2.1
  Casks/p/phpwebstudy.rb
Labels: bump-cask-pr

#168167 keymapp 1.1.0
  Casks/k/keymapp.rb
Labels: bump-cask-pr

#168168 wakatime 5.5.3
  Casks/w/wakatime.rb
Labels: bump-cask-pr

#168170 boom 1.7.13,101.7.13006
  Casks/b/boom.rb
Labels: bump-cask-pr

#168171 nudge 1.1.14.81549
  Casks/n/nudge.rb
Labels: bump-cask-pr

#168173 threema 1.2.41
  Casks/t/threema.rb
Labels: bump-cask-pr

#168178 cutter 2.3.4
  Casks/c/cutter.rb
Labels: bump-cask-pr

#168175 atemosc 5.0.13
  Casks/a/atemosc.rb
Labels: bump-cask-pr

#168180 decentr 1.5.10
  Casks/d/decentr.rb
Labels: bump-cask-pr

#168179 deepstream 7.0.9
  Casks/d/deepstream.rb
Labels: bump-cask-pr, missing zap

#168174 songkong 10.3
  Casks/s/songkong.rb
Labels: bump-cask-pr

#168172 gamemaker 2024.2.0.132
  Casks/g/gamemaker.rb
Labels: bump-cask-pr

#168177 menuwhere 2.2.2
  Casks/m/menuwhere.rb
Labels: bump-cask-pr

#168188 wooshy 2828.22.0
  Casks/w/wooshy.rb
Labels: bump-cask-pr

#168190 scrolla 2828.13.0
  Casks/s/scrolla.rb
Labels: bump-cask-pr

#168193 keyclu 0.23
  Casks/k/keyclu.rb
Labels: bump-cask-pr

#168197 apidog-europe 2.5.10
  Casks/a/apidog-europe.rb
Labels: bump-cask-pr

#168198 Revert "apidog-europe 2.5.10"
  Casks/a/apidog-europe.rb
Labels: ci-syntax-only

#168199 spark-ar-studio 180
  Casks/s/spark-ar-studio.rb
Labels: bump-cask-pr

#168201 tagspaces 5.7.8
  Casks/t/tagspaces.rb
Labels: bump-cask-pr

#168205 onedrive 24.025.0204.0003
  Casks/o/onedrive.rb
Labels: bump-cask-pr

#168202 nwjs 0.85.0
  Casks/n/nwjs.rb
Labels: bump-cask-pr

#168200 free42-binary 3.1.4g
  Casks/f/free42-binary.rb
Labels: bump-cask-pr

#168203 free42-decimal 3.1.4g
  Casks/f/free42-decimal.rb
Labels: bump-cask-pr

#168204 fleet 1.31.102
  Casks/f/fleet.rb
Labels: bump-cask-pr

#168206 openaudible 4.1.1
  Casks/o/openaudible.rb
Labels: bump-cask-pr

#168207 geogebra 6.0.829.0
  Casks/g/geogebra.rb
Labels: bump-cask-pr

#168208 jami 2024030409
  Casks/j/jami.rb
Labels: bump-cask-pr

#168209 cleanclip 2.1.1
  Casks/c/cleanclip.rb
Labels: bump-cask-pr

#168211 plus42-binary 1.1.4e
  Casks/p/plus42-binary.rb
Labels: bump-cask-pr

#168213 plus42-decimal 1.1.4e
  Casks/p/plus42-decimal.rb
Labels: bump-cask-pr

#168210 linear-linear 1.24.1
  Casks/l/linear-linear.rb
Labels: bump-cask-pr

#168212 fiji 20240304-1017
  Casks/f/fiji.rb
Labels: bump-cask-pr

#168220 fxfactory: update checksum
  Casks/f/fxfactory.rb
Labels: checksum-mismatch

#168037 ci: remove julia cleanup step on macos-13+
  .github/workflows/ci.yml
Labels: ci-syntax-only, automerge-skip, ready to merge

#168228 renpy 8.2.1
  Casks/r/renpy.rb
Labels: bump-cask-pr

#168230 sim-genie 2024.1
  Casks/s/sim-genie.rb
Labels: bump-cask-pr

#168231 atemosc 5.0.14
  Casks/a/atemosc.rb
Labels: bump-cask-pr
