Repository Homebrew/homebrew-cask, pull requests merged in 2024-06, with the labels that each got.

#175492 opencore-patcher 1.5.0
  Casks/o/opencore-patcher.rb
Labels: bump-cask-pr

#175500 bookends 15.0.3
  Casks/b/bookends.rb
Labels: bump-cask-pr

#175501 discretescroll 1.1.0
  Casks/d/discretescroll.rb
Labels: bump-cask-pr

#175512 upscayl 2.11.5
  Casks/u/upscayl.rb
Labels: bump-cask-pr

#175513 guilded 1.0.9265077
  Casks/g/guilded.rb
Labels: bump-cask-pr

#175514 tagspaces 5.8.3
  Casks/t/tagspaces.rb
Labels: bump-cask-pr

#175515 session-manager-plugin 1.2.633.0
  Casks/s/session-manager-plugin.rb
Labels: bump-cask-pr

#175516 scidvsmac 4.25
  Casks/s/scidvsmac.rb
Labels: bump-cask-pr

#175544 icollections 8.3.8
  Casks/i/icollections.rb
Labels: bump-cask-pr

#175545 irpf2024 1.2
  Casks/i/irpf2024.rb
Labels: bump-cask-pr

#175547 uniflash 8.7.0.4818
  Casks/u/uniflash.rb
Labels: bump-cask-pr

#175517 cask: add qlzipinfo v1.2.6
  Casks/q/qlzipinfo.rb
Labels: new cask

#175496 iina 1.3.5
  Casks/i/iina.rb
Labels: bump-cask-pr

#175568 mkvtoolnix 85.0
  Casks/m/mkvtoolnix.rb
Labels: bump-cask-pr

#175569 qlc-plus 4.13.1
  Casks/q/qlc-plus.rb
Labels: bump-cask-pr

#175463 fix livecheck of bilibili
  Casks/b/bilibili.rb
Labels: awaiting user reply

#175573 zappy 4.7.3
  Casks/z/zappy.rb
Labels: bump-cask-pr

#175574 screenmemory 1.32.0
  Casks/s/screenmemory.rb
Labels: bump-cask-pr

#175575 sitesucker-pro 5.3.5
  Casks/s/sitesucker-pro.rb
Labels: bump-cask-pr

#175576 simplex 5.7.5
  Casks/s/simplex.rb
Labels: bump-cask-pr

#175577 feed-the-beast 1.25.11
  Casks/f/feed-the-beast.rb
Labels: bump-cask-pr

#175567 naps2 7.4.2 (new cask)
  Casks/n/naps2.rb
Labels: new cask

#175560 anchor-wallet 1.3.12 (new cask)
  Casks/a/anchor-wallet.rb
Labels: new cask

#175609 cleanclip: fix checksum
  Casks/c/cleanclip.rb
Labels: checksum-mismatch

#175618 ankerwork 3.0.4
  Casks/a/ankerwork.rb
Labels: bump-cask-pr

#175620 chainner 0.24.0
  Casks/c/chainner.rb
Labels: bump-cask-pr

#175621 clock-signal 2024-06-03
  Casks/c/clock-signal.rb
Labels: bump-cask-pr

#175629 font-junicode 2.208
  Casks/font/font-j/font-junicode.rb
Labels: bump-cask-pr

#175622 revolver-office 8.13.0
  Casks/r/revolver-office.rb
Labels: bump-cask-pr

#175623 ubiquiti-unifi-controller 8.2.93
  Casks/u/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#175625 ivpn 3.14.14
  Casks/i/ivpn.rb
Labels: bump-cask-pr

#175626 sparkle 2.6.3
  Casks/s/sparkle.rb
Labels: bump-cask-pr

#175627 rocket-chat 4.0.0
  Casks/r/rocket-chat.rb
Labels: bump-cask-pr

#175628 netbeans 22
  Casks/n/netbeans.rb
Labels: bump-cask-pr

#175630 minizincide 2.8.5
  Casks/m/minizincide.rb
Labels: bump-cask-pr

#175631 mia-for-gmail 2.7.4
  Casks/m/mia-for-gmail.rb
Labels: bump-cask-pr

#175632 mycard 3.0.70
  Casks/m/mycard.rb
Labels: bump-cask-pr

#175633 discretescroll 1.2.0
  Casks/d/discretescroll.rb
Labels: bump-cask-pr

#175638 lyx 2.4.0
  Casks/l/lyx.rb
Labels: bump-cask-pr

#175662 resilio-sync 2.8.1.1390
  Casks/r/resilio-sync.rb
Labels: bump-cask-pr

#175664 imhex 1.34.0
  Casks/i/imhex.rb
Labels: bump-cask-pr

#175666 arturia-software-center 2.7.2.2631
  Casks/a/arturia-software-center.rb
Labels: bump-cask-pr

#175671 qutebrowser 3.2.0
  Casks/q/qutebrowser.rb
Labels: bump-cask-pr

#175665 zeplin 4.10.3
  Casks/z/zeplin.rb
Labels: bump-cask-pr

#175669 persepolis-download-manager 4.2.0
  Casks/p/persepolis-download-manager.rb
Labels: bump-cask-pr

#175663 rambox 2.3.3
  Casks/r/rambox.rb
Labels: bump-cask-pr

#175667 obsbot-center 2.0.9.15
  Casks/o/obsbot-center.rb
Labels: bump-cask-pr

#175687 microsoft-remote-desktop 10.9.7
  Casks/m/microsoft-remote-desktop.rb
Labels: bump-cask-pr

#175682 spectacle-editor: disable
  Casks/s/spectacle-editor.rb
Labels: ci-syntax-only

#175639 putio-adder 3.0.5
  Casks/p/putio-adder.rb
Labels: missing description, missing zap

#175686 ultimaker-cura 5.7.2
  Casks/u/ultimaker-cura.rb
Labels: bump-cask-pr, livecheck

#175587 tencent-lemon 5.1.9
  Casks/t/tencent-lemon.rb
Labels: awaiting user reply, bump-cask-pr

#175692 wiso-steuer-2023 30.14.4340
  Casks/w/wiso-steuer-2023.rb
Labels: bump-cask-pr

#175693 wiso-steuer-2024 31.07.3900
  Casks/w/wiso-steuer-2024.rb
Labels: bump-cask-pr

#175708 staruml 6.1.1
  Casks/s/staruml.rb
Labels: bump-cask-pr

#175709 sunsama 2.3.3
  Casks/s/sunsama.rb
Labels: bump-cask-pr

#175710 launchcontrol 2.5.6
  Casks/l/launchcontrol.rb
Labels: bump-cask-pr

#175711 rapidminer-studio 2024.0.1
  Casks/r/rapidminer-studio.rb
Labels: bump-cask-pr

#175712 ivideonserver 3.13.3
  Casks/i/ivideonserver.rb
Labels: bump-cask-pr

#175713 softube-central 1.10.27
  Casks/s/softube-central.rb
Labels: bump-cask-pr

#175714 vscodium@insiders 1.90.0.24153-insider
  Casks/v/vscodium@insiders.rb
Labels: bump-cask-pr

#175715 lectrote 1.4.6
  Casks/l/lectrote.rb
Labels: bump-cask-pr

#175732 syntax-highlight 2.1.23
  Casks/s/syntax-highlight.rb
Labels: bump-cask-pr

#175748 datweatherdoe 4.2.3
  Casks/d/datweatherdoe.rb
Labels: bump-cask-pr

#175760 unite 5.2.1
  Casks/u/unite.rb
Labels: bump-cask-pr

#175761 josm 19096
  Casks/j/josm.rb
Labels: bump-cask-pr

#175765 microsoft-teams@classic 1.7.00.13657
  Casks/m/microsoft-teams@classic.rb
Labels: bump-cask-pr

#175768 amazon-q 1.2.0
  Casks/a/amazon-q.rb
Labels: bump-cask-pr

#175769 anypointstudio 7.18.0
  Casks/a/anypointstudio.rb
Labels: bump-cask-pr

#175773 automattic-texts 0.83.19
  Casks/a/automattic-texts.rb
Labels: bump-cask-pr

#175774 catlight 3.5.2
  Casks/c/catlight.rb
Labels: bump-cask-pr

#175775 ente-auth 3.0.7
  Casks/e/ente-auth.rb
Labels: bump-cask-pr

#175779 forklift 4.1.3
  Casks/f/forklift.rb
Labels: bump-cask-pr

#175780 guilded 1.0.9265619
  Casks/g/guilded.rb
Labels: bump-cask-pr

#175777 filemaker-pro 21.0.1.53
  Casks/f/filemaker-pro.rb
Labels: bump-cask-pr

#175781 http-toolkit 1.16.0
  Casks/h/http-toolkit.rb
Labels: bump-cask-pr

#175782 julia 1.10.4
  Casks/j/julia.rb
Labels: bump-cask-pr

#175783 kdrive 3.6.1.20240604
  Casks/k/kdrive.rb
Labels: bump-cask-pr

#175778 google-drive 92.0
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#175785 lynx 8.3.8.0
  Casks/l/lynx.rb
Labels: bump-cask-pr

#175786 mixed-in-key-live 10.1.0.335
  Casks/m/mixed-in-key-live.rb
Labels: bump-cask-pr

#175784 knime 5.2.5
  Casks/k/knime.rb
Labels: bump-cask-pr

#175788 msty 0.9.0
  Casks/m/msty.rb
Labels: bump-cask-pr

#175789 osp-tracker 6.1.7
  Casks/o/osp-tracker.rb
Labels: bump-cask-pr

#175790 photosweeper-x 4.9.0
  Casks/p/photosweeper-x.rb
Labels: bump-cask-pr

#175791 psychopy 2024.1.5
  Casks/p/psychopy.rb
Labels: bump-cask-pr

#175792 qlmarkdown 1.0.18
  Casks/q/qlmarkdown.rb
Labels: bump-cask-pr

#175793 simplex 5.8.0
  Casks/s/simplex.rb
Labels: bump-cask-pr

#175794 toinane-colorpicker 2.2.2
  Casks/t/toinane-colorpicker.rb
Labels: bump-cask-pr

#175795 x-swiftformat 2.0.1
  Casks/x/x-swiftformat.rb
Labels: bump-cask-pr

#175796 youdaonote 7.2.182
  Casks/y/youdaonote.rb
Labels: bump-cask-pr

#175798 yuque 3.4.3.1210
  Casks/y/yuque.rb
Labels: bump-cask-pr

#175804 rancher 1.14.1
  Casks/r/rancher.rb
Labels: bump-cask-pr

#175805 pokerstars 69.227
  Casks/p/pokerstars.rb
Labels: bump-cask-pr

#175578 ALCOM 0.1.7 (new cask)
  Casks/a/alcom.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, new cask

#175809 syntax-highlight 2.1.24
  Casks/s/syntax-highlight.rb
Labels: bump-cask-pr

#175814 qlmarkdown 1.0.19
  Casks/q/qlmarkdown.rb
Labels: bump-cask-pr

#175825 popclip 2024.5.2
  Casks/p/popclip.rb
Labels: bump-cask-pr

#175839 font-lxgw-fasmartgothic 1.123.2
  Casks/font/font-l/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#175840 font-lxgw-neoxihei 1.123.2
  Casks/font/font-l/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#175841 font-lxgw-heartserif 0.923.2
  Casks/font/font-l/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#175842 font-lxgw-neozhisong 0.923.2
  Casks/font/font-l/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#175854 jamie: fix sha due to yanked version
  Casks/j/jamie.rb
Labels: checksum-mismatch

#175853 decrediton 2.0.2
  Casks/d/decrediton.rb
Labels: bump-cask-pr

#175852 ente-auth 3.0.8
  Casks/e/ente-auth.rb
Labels: bump-cask-pr

#175851 virtualdj 2024,8184
  Casks/v/virtualdj.rb
Labels: bump-cask-pr

#175850 volanta 1.9.0
  Casks/v/volanta.rb
Labels: bump-cask-pr

#175849 activitywatch 0.13.0
  Casks/a/activitywatch.rb
Labels: bump-cask-pr

#175848 camo-studio 2.1.5,12260
  Casks/c/camo-studio.rb
Labels: bump-cask-pr

#175847 cloudmounter 4.6
  Casks/c/cloudmounter.rb
Labels: bump-cask-pr

#175846 aptible 0.20.0
  Casks/a/aptible.rb
Labels: bump-cask-pr

#175845 simplemind 2.4.0,b3043
  Casks/s/simplemind.rb
Labels: bump-cask-pr

#175844 removebg 2.2.0
  Casks/r/removebg.rb
Labels: bump-cask-pr

#175843 syncthing 1.27.8-1
  Casks/s/syncthing.rb
Labels: bump-cask-pr

#175867 1password-cli@beta 2.30.0-beta.02
  Casks/1/1password-cli@beta.rb
Labels: bump-cask-pr

#175776 calibrite-profiler: move livecheck to GithubLatest
  Casks/c/calibrite-profiler.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip

#175869 vpn-by-google-one: disable
  Casks/v/vpn-by-google-one.rb
Labels: ci-skip-install

#175877 spotify 1.2.39.578
  Casks/s/spotify.rb
Labels: bump-cask-pr

#175876 clion@eap 2024.2 (new cask)
  Casks/c/clion@eap.rb
Labels: new cask

#175886 ireal-pro 2024.6
  Casks/i/ireal-pro.rb
Labels: bump-cask-pr

#175887 omnifocus 4.3
  Casks/o/omnifocus.rb
Labels: bump-cask-pr

#175888 discretescroll 1.2.1
  Casks/d/discretescroll.rb
Labels: bump-cask-pr

#175890 loopback 2.3.3
  Casks/l/loopback.rb
Labels: bump-cask-pr

#175891 cacher 2.47.4
  Casks/c/cacher.rb
Labels: bump-cask-pr

#175889 mailplane 4.3.9
  Casks/m/mailplane.rb
Labels: bump-cask-pr

#175868 retroarch version update
  Casks/r/retroarch-metal.rb
  Casks/r/retroarch.rb
Labels: automerge-skip

#175582 get-api 1.0.9
  Casks/g/get-api.rb
Labels: new cask, ready to merge

#175898 jellyfin 10.9.5
  Casks/j/jellyfin.rb
Labels: bump-cask-pr

#175921 viber 22.8.1
  Casks/v/viber.rb
Labels: bump-cask-pr

#175933 cocktail 17.2.1
  Casks/c/cocktail.rb
Labels: bump-cask-pr

#175935 cmd/*: migrate to AbstractCommand
  cmd/find-appcast.rb
  cmd/font-casker.rb
Labels: automerge-skip

#175899 windterm: 2.6.1
  Casks/w/windterm.rb
Labels: ready to merge

#175956 apipost 8.0.10
  Casks/a/apipost.rb
Labels: bump-cask-pr

#175959 virtual-desktop-streamer 1.32.4
  Casks/v/virtual-desktop-streamer.rb
Labels: bump-cask-pr

#175962 kstars 3.7.1
  Casks/k/kstars.rb
Labels: bump-cask-pr

#175958 elgato-control-center 1.7.20497
  Casks/e/elgato-control-center.rb
Labels: bump-cask-pr

#175960 keka@beta 1.4.0-dev.r5423
  Casks/k/keka@beta.rb
Labels: bump-cask-pr

#175961 qt-creator 13.0.2
  Casks/q/qt-creator.rb
Labels: bump-cask-pr

#175957 docker 4.31.0
  Casks/d/docker.rb
Labels: bump-cask-pr

#175955 viscosity 1.11.2
  Casks/v/viscosity.rb
Labels: bump-cask-pr

#175952 singlecrystal 5.1.0
  Casks/s/singlecrystal.rb
Labels: bump-cask-pr

#175953 macloggerdx 6.51
  Casks/m/macloggerdx.rb
Labels: bump-cask-pr

#175951 ibackup-viewer 4.3015
  Casks/i/ibackup-viewer.rb
Labels: bump-cask-pr

#175954 serviio 2.4
  Casks/s/serviio.rb
Labels: bump-cask-pr

#175950 universal-media-server 14.0.2
  Casks/u/universal-media-server.rb
Labels: bump-cask-pr

#175948 removebg 2.2.1
  Casks/r/removebg.rb
Labels: bump-cask-pr

#175979 feishu 7.19.5
  Casks/f/feishu.rb
Labels: bump-cask-pr

#175980 fme 2024.0.3
  Casks/f/fme.rb
Labels: bump-cask-pr

#175982 ngrok 3.10.1
  Casks/n/ngrok.rb
Labels: bump-cask-pr

#175983 safari-technology-preview 196
  Casks/s/safari-technology-preview.rb
Labels: bump-cask-pr
