Repository Homebrew/homebrew-cask, pull requests merged in 2024-09, with the labels that each got.

#183949 istat-menus 7.01.8
  Casks/i/istat-menus.rb
Labels: bump-cask-pr

#183950 notes-better 2.3.0
  Casks/n/notes-better.rb
Labels: bump-cask-pr

#183951 another-redis-desktop-manager 1.6.7
  Casks/a/another-redis-desktop-manager.rb
Labels: bump-cask-pr

#183952 direqual 6.0.2
  Casks/d/direqual.rb
Labels: bump-cask-pr

#183953 various: [v] casks: add Rosetta caveat
  Casks/v/v2rayx.rb
  Casks/v/valkyrie.rb
  Casks/v/valley.rb
  Casks/v/vesta.rb
  Casks/v/veusz.rb
  Casks/v/vial.rb
  Casks/v/visit.rb
  Casks/v/voodoopad.rb
  Casks/v/vym.rb
Labels: automerge-skip

#183962 lidarr 2.5.3.4341
  Casks/l/lidarr.rb
Labels: bump-cask-pr

#183963 dmidiplayer 1.7.4
  Casks/d/dmidiplayer.rb
Labels: bump-cask-pr

#183965 min 1.33.0
  Casks/m/min.rb
Labels: bump-cask-pr

#183966 rawtherapee 5.11
  Casks/r/rawtherapee.rb
Labels: bump-cask-pr

#183967 squirrelsql 4.8.0
  Casks/s/squirrelsql.rb
Labels: bump-cask-pr

#184009 cocktail 18.0.3
  Casks/c/cocktail.rb
Labels: bump-cask-pr

#184010 zdoom: disable 32-bit application
  Casks/z/zdoom.rb
Labels: ci-syntax-only, missing zap

#184007 wxmacmolplt 7.7.3
  Casks/w/wxmacmolplt.rb
Labels: bump-cask-pr

#184012 steam-plus-plus 3.0.0-rc.10
  Casks/s/steam-plus-plus.rb
Labels: bump-cask-pr

#184001 freeplane 1.12.5
  Casks/f/freeplane.rb
Labels: bump-cask-pr

#184002 gpg-suite@nightly 3539n
  Casks/g/gpg-suite@nightly.rb
Labels: bump-cask-pr

#184008 various: [w] casks: add Rosetta caveat
  Casks/w/wallpaper-wizard.rb
  Casks/w/waltr-pro.rb
  Casks/w/waltr.rb
  Casks/w/warsow.rb
  Casks/w/webtorrent.rb
  Casks/w/weektodo.rb
  Casks/w/whale.rb
  Casks/w/whoozle-android-file-transfer.rb
  Casks/w/write.rb
Labels: ci-syntax-only, automerge-skip

#184006 streammusic 1.3.1
  Casks/s/streammusic.rb
Labels: bump-cask-pr

#184013 various: [x] casks: add Rosetta caveat
  Casks/x/x2goclient.rb
  Casks/x/xstation5.rb
Labels: automerge-skip

#184023 cuda-z: deprecate
  Casks/c/cuda-z.rb
Labels: missing zap

#184024 coccinellida: deprecate
  Casks/c/coccinellida.rb
Labels: missing zap

#184021 pdf-images: deprecate
  Casks/p/pdf-images.rb
Labels: missing description, missing zap

#184022 nodeclipse: deprecate
  Casks/n/nodeclipse.rb
Labels: ci-syntax-only, missing zap

#184028 fredm-fuse: deprecate
  Casks/f/fredm-fuse.rb
Labels: missing zap

#184027 cutesdr: deprecate
  Casks/c/cutesdr.rb
Labels: missing zap

#184019 adobe-dng-converter: update sha256
  Casks/a/adobe-dng-converter.rb
Labels: ci-skip-livecheck, ci-skip-homepage

#184034 istat-menus 7.01.9
  Casks/i/istat-menus.rb
Labels: bump-cask-pr

#184020 font-0xproto 2.200
  Casks/font/font-0/font-0xproto.rb
Labels: bump-cask-pr

#184035 playcover-community 3.1.0
  Casks/p/playcover-community.rb
Labels: bump-cask-pr

#183877 font-ibm-plex-*: 1.0.0 (new casks)
  Casks/font/font-i/font-ibm-plex-math.rb
  Casks/font/font-i/font-ibm-plex-mono.rb
  Casks/font/font-i/font-ibm-plex-sans-arabic.rb
  Casks/font/font-i/font-ibm-plex-sans-condensed.rb
  Casks/font/font-i/font-ibm-plex-sans-devanagari.rb
  Casks/font/font-i/font-ibm-plex-sans-hebrew.rb
  Casks/font/font-i/font-ibm-plex-sans-jp.rb
  Casks/font/font-i/font-ibm-plex-sans-kr.rb
  Casks/font/font-i/font-ibm-plex-sans-tc.rb
  Casks/font/font-i/font-ibm-plex-sans-thai-looped.rb
  Casks/font/font-i/font-ibm-plex-sans-thai.rb
  Casks/font/font-i/font-ibm-plex-sans.rb
  Casks/font/font-i/font-ibm-plex-serif.rb
  Casks/font/font-i/font-ibm-plex.rb
Labels: automerge-skip

#184037 box-drive 2.40.344
  .github/autobump.txt
  Casks/b/box-drive.rb
Labels: automerge-skip, bump-cask-pr, livecheck, autobump

#184073 cakebrewjs 2.63
  Casks/c/cakebrewjs.rb
Labels: bump-cask-pr

#184080 datagraph 5.4
  Casks/d/datagraph.rb
Labels: bump-cask-pr

#184081 86box 4.2.1 & add to autobump
  .github/autobump.txt
  Casks/8/86box.rb
Labels: automerge-skip, bump-cask-pr, autobump

#184082 openrct2 0.4.14
  .github/autobump.txt
  Casks/o/openrct2.rb
Labels: automerge-skip, bump-cask-pr, autobump

#184084 marsedit 5.2.4
  Casks/m/marsedit.rb
Labels: bump-cask-pr

#184083 google-chrome 128.0.6613.120
  Casks/g/google-chrome.rb
Labels: bump-cask-pr

#184072 font-scientifica 2.3 (new cask)
  Casks/font/font-s/font-scientifica.rb
Labels: new cask

#184088 integrity 12.9.0
  Casks/i/integrity.rb
Labels: bump-cask-pr

#184089 ia-presenter 1.3.0
  Casks/i/ia-presenter.rb
Labels: bump-cask-pr

#184090 aerial 3.5.0
  Casks/a/aerial.rb
Labels: bump-cask-pr

#184091 quicktune 7.2
  Casks/q/quicktune.rb
Labels: bump-cask-pr

#184092 cashnotify 3.7.0
  Casks/c/cashnotify.rb
Labels: bump-cask-pr

#184093 decentr 1.8.0
  Casks/d/decentr.rb
Labels: bump-cask-pr

#184094 deepl 24.9.11214904
  Casks/d/deepl.rb
Labels: bump-cask-pr

#184095 babeledit 5.2.1
  Casks/b/babeledit.rb
Labels: bump-cask-pr

#184096 license-control-center 6.12.10.1326
  Casks/l/license-control-center.rb
Labels: bump-cask-pr

#184099 transnomino 8.6.1
  .github/autobump.txt
  Casks/t/transnomino.rb
Labels: automerge-skip, bump-cask-pr, autobump

#183995 google-fonts: fix permissions
  .github/workflows/google-fonts.yml
Labels: automerge-skip

#184136 realforce 3.2.3
  Casks/r/realforce.rb
Labels: bump-cask-pr

#184143 daedalus-mainnet 6.0.1
  Casks/d/daedalus-mainnet.rb
Labels: bump-cask-pr

#184142 dyalog 19.0.50027
  Casks/d/dyalog.rb
Labels: bump-cask-pr

#184139 tidal 2.38.5
  Casks/t/tidal.rb
Labels: bump-cask-pr, ci-skip-homepage

#184125 aldente 1.28.1
  .github/autobump.txt
  Casks/a/aldente.rb
Labels: automerge-skip, bump-cask-pr, autobump

#184126 ankama 3.12.20
  Casks/a/ankama.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip, bump-cask-pr

#184128 dadroit-json-viewer 3.0.0
  Casks/d/dadroit-json-viewer.rb
Labels: bump-cask-pr

#184129 dbngin 7.2
  Casks/d/dbngin.rb
Labels: bump-cask-pr

#184130 deltachat 1.46.7
  .github/autobump.txt
  Casks/d/deltachat.rb
Labels: automerge-skip, bump-cask-pr, autobump

#184131 framer 2024.34.1
  .github/autobump.txt
  Casks/f/framer.rb
Labels: automerge-skip, bump-cask-pr, autobump

#184132 crosspaste latest (new cask)
  Casks/c/crosspaste.rb
Labels: new cask

#184138 nvidia-geforce-now 2.0.66.160
  Casks/n/nvidia-geforce-now.rb
Labels: bump-cask-pr

#184135 josm 19207
  .github/autobump.txt
  Casks/j/josm.rb
Labels: automerge-skip, bump-cask-pr, autobump

#184140 protokol 0.5.7
  Casks/p/protokol.rb
Labels: bump-cask-pr

#184141 psst 0.1.0,20240903.012146
  Casks/p/psst.rb
Labels: bump-cask-pr

#184149 videofusion 6.6.0.10721
  Casks/v/videofusion.rb
Labels: bump-cask-pr

#184137 monarch 0.7.1
  Casks/m/monarch.rb
Labels: bump-cask-pr

#184107 rize 1.3.6 (new cask)
  Casks/r/rize.rb
Labels: new cask, ci-skip-repository

#184176 pearcleaner 3.8.6
  Casks/p/pearcleaner.rb
Labels: bump-cask-pr

#184177 cakebrewjs 2.64
  Casks/c/cakebrewjs.rb
Labels: bump-cask-pr

#184195 font-chiron-hei-hk 2.516
  Casks/font/font-c/font-chiron-hei-hk.rb
Labels: bump-cask-pr

#184200 dockdoor 1.2.0
  Casks/d/dockdoor.rb
Labels: bump-cask-pr

#183996 choice-financial-terminal 8.1.0 (new cask)
  Casks/c/choice-financial-terminal.rb
Labels: new cask

#184222 istat-menus 7.02
  Casks/i/istat-menus.rb
Labels: bump-cask-pr

#184221 FlutterFlow 4.1.85 (new cask)
  Casks/f/flutterflow.rb
Labels: new cask

#184246 musicbrainz-picard 2.12.3
  Casks/m/musicbrainz-picard.rb
Labels: bump-cask-pr

#184262 decrediton 2.0.4
  Casks/d/decrediton.rb
Labels: bump-cask-pr

#184260 digital 0.31
  Casks/d/digital.rb
Labels: bump-cask-pr

#184259 crosspaste 1.0.8.925
  Casks/c/crosspaste.rb
Labels: bump-cask-pr

#184258 jbrowse 2.15.0
  Casks/j/jbrowse.rb
Labels: bump-cask-pr

#184257 seamonkey 2.53.19
  Casks/s/seamonkey.rb
Labels: bump-cask-pr

#184256 music-remote 1.5
  Casks/m/music-remote.rb
Labels: bump-cask-pr

#184255 munki 6.6.1.4696
  Casks/m/munki.rb
Labels: bump-cask-pr

#184254 music-widget 1.27
  Casks/m/music-widget.rb
Labels: bump-cask-pr

#184253 merlin-project 8.3.1
  Casks/m/merlin-project.rb
Labels: bump-cask-pr

#184252 fontlab 8.4.1.8932
  Casks/f/fontlab.rb
Labels: bump-cask-pr

#184251 taskade 4.4.0
  Casks/t/taskade.rb
Labels: bump-cask-pr

#184250 aerial 3.5.1
  Casks/a/aerial.rb
Labels: bump-cask-pr

#184249 simply-fortran 3.35.4231
  Casks/s/simply-fortran.rb
Labels: bump-cask-pr

#184248 gamemaker 2024.8.0.169
  Casks/g/gamemaker.rb
Labels: bump-cask-pr

#184247 retro-virtual-machine 2.1.17
  Casks/r/retro-virtual-machine.rb
Labels: bump-cask-pr

#184264 dockdoor 1.2.1
  Casks/d/dockdoor.rb
Labels: bump-cask-pr

#184265 ente 1.7.4
  Casks/e/ente.rb
Labels: bump-cask-pr

#184266 bazecor 1.4.5
  Casks/b/bazecor.rb
Labels: bump-cask-pr

#184268 wirecast 16.2.3
  Casks/w/wirecast.rb
Labels: bump-cask-pr

#184298 dolphin 2409
  Casks/d/dolphin.rb
Labels: bump-cask-pr

#184299 bartender 5.1.2
  Casks/b/bartender.rb
Labels: bump-cask-pr

#184297 encryptme 4.4.1
  Casks/e/encryptme.rb
Labels: bump-cask-pr, missing zap

#184313 dockdoor 1.2.2
  Casks/d/dockdoor.rb
Labels: bump-cask-pr

#184327 ci: make space on runners
  .github/workflows/autobump.yml
  .github/workflows/ci.yml
Labels: automerge-skip

#184332 istat-menus 7.02.1
  Casks/i/istat-menus.rb
Labels: bump-cask-pr

#184333 icollections 8.4.3
  Casks/i/icollections.rb
Labels: bump-cask-pr

#184334 aws-vpn-client 3.12.1
  Casks/a/aws-vpn-client.rb
Labels: bump-cask-pr

#184335 workspace-one-intelligent-hub 24.07
  Casks/w/workspace-one-intelligent-hub.rb
Labels: bump-cask-pr

#184351 flykey 1.6.7
  Casks/f/flykey.rb
Labels: bump-cask-pr

#184355 cisco-jabber 20240905082321
  Casks/c/cisco-jabber.rb
Labels: bump-cask-pr

#184357 ea 13.288.0.5801
  Casks/e/ea.rb
Labels: bump-cask-pr

#184358 dadroit-json-viewer 3.0.0,961
  Casks/d/dadroit-json-viewer.rb
Labels: bump-cask-pr

#184360 font-cubic-11 1.410
  Casks/font/font-c/font-cubic-11.rb
Labels: bump-cask-pr

#184361 font-server-mono 0.0.4
  Casks/font/font-s/font-server-mono.rb
Labels: bump-cask-pr

#184359 flutterflow 4.1.86
  .github/autobump.txt
  Casks/f/flutterflow.rb
Labels: automerge-skip, bump-cask-pr, autobump

#184363 neo-network-utility 1.1.1
  Casks/n/neo-network-utility.rb
Labels: bump-cask-pr

#184373 winbox 4.0beta4
  Casks/w/winbox.rb
Labels: bump-cask-pr

#184364 merlin-project 8.3.2
  Casks/m/merlin-project.rb
Labels: bump-cask-pr

#184367 music-miniplayer 1.12
  Casks/m/music-miniplayer.rb
Labels: bump-cask-pr

#184389 roam 125.0.0-beta001
  Casks/r/roam.rb
Labels: bump-cask-pr

#184391 yandex-cloud-cli 0.131.1
  Casks/y/yandex-cloud-cli.rb
Labels: bump-cask-pr

#184400 musescore 4.4.1.242490810
  Casks/m/musescore.rb
Labels: bump-cask-pr

#184401 prince 15.4.1
  Casks/p/prince.rb
Labels: bump-cask-pr

#184420 alcom 0.1.15
  Casks/a/alcom.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip

#184421 thebrain 14.0.101.0
  Casks/t/thebrain.rb
Labels: livecheck

#184439 geekbench-ai 1.1.0
  Casks/g/geekbench-ai.rb
Labels: bump-cask-pr

#184440 boosteroid 1.9.5
  Casks/b/boosteroid.rb
Labels: bump-cask-pr

#184455 dockdoor 1.2.3
  Casks/d/dockdoor.rb
Labels: bump-cask-pr

#184476 submariner 3.2.1
  Casks/s/submariner.rb
Labels: bump-cask-pr

#184475 progressive-downloader 7.4
  Casks/p/progressive-downloader.rb
Labels: bump-cask-pr

#184466 thedesk 25.0.10
  Casks/t/thedesk.rb
Labels: bump-cask-pr

#184468 amazon-workspaces 5.22.1
  Casks/a/amazon-workspaces.rb
Labels: bump-cask-pr

#184473 extraterm 0.79.0
  Casks/e/extraterm.rb
Labels: bump-cask-pr

#184469 android-ndk 27b
  Casks/a/android-ndk.rb
Labels: bump-cask-pr

#184465 font-scheherazade 2.100
  Casks/font/font-s/font-scheherazade.rb
Labels: livecheck

#184489 nx-studio 1.7.0
  Casks/n/nx-studio.rb
Labels: livecheck

#184477 whalebird 6.1.4
  Casks/w/whalebird.rb
Labels: bump-cask-pr

#184478 wifispoof 4.0.4
  Casks/w/wifispoof.rb
Labels: bump-cask-pr

#184500 istat-menus@6 6.73.1
  Casks/i/istat-menus@6.rb
Labels: bump-cask-pr

#184499 istat-menus 7.02.2
  Casks/i/istat-menus.rb
Labels: bump-cask-pr

#184501 colour-contrast-analyser 3.5.4
  Casks/c/colour-contrast-analyser.rb
Labels: bump-cask-pr

#184503 vivid 2.10.2
  Casks/v/vivid.rb
Labels: bump-cask-pr

#184505 pext: deprecate
  Casks/p/pext.rb
Labels: missing zap

#184522 keyboardholder 1.13.1
  Casks/k/keyboardholder.rb
Labels: bump-cask-pr

#184504 dogecoin 1.14.8
  Casks/d/dogecoin.rb
Labels: bump-cask-pr

#184506 cyberghost-vpn 8.4.3,224
  Casks/c/cyberghost-vpn.rb
Labels: livecheck

#184523 jprofiler 14.0.4
  Casks/j/jprofiler.rb
Labels: bump-cask-pr

#184525 file-juicer 4.101
  Casks/f/file-juicer.rb
Labels: bump-cask-pr

#184462 lm-studio 0.3.2
  Casks/l/lm-studio.rb
Labels: livecheck

#184556 time-sink: update livecheck
  Casks/t/time-sink.rb
Labels: missing zap

#184560 leech: use versioned url
  Casks/l/leech.rb
Labels: missing zap

#184564 polypad: disable
  Casks/p/polypad.rb
Labels: ci-syntax-only

#184206 dfcf 3.7.3 (new cask)
  Casks/d/dfcf.rb
Labels: new cask

#184565 intune-company-portal 5.2409.1
  Casks/i/intune-company-portal.rb
Labels: bump-cask-pr

#184577 ssh-tunnel-manager: deprecate
  Casks/s/ssh-tunnel-manager.rb
Labels: ci-skip-homepage
