Repository Homebrew/homebrew-cask, pull requests merged in 2024-04, with the labels that each got.

#170311 cookie 7.2.9
  Casks/c/cookie.rb
Labels: bump-cask-pr

#170312 little-navmap 3.0.6
  Casks/l/little-navmap.rb
Labels: bump-cask-pr

#170320 whisky 2.2.4
  Casks/w/whisky.rb
Labels: bump-cask-pr

#170324 opencore-patcher 1.4.3
  Casks/o/opencore-patcher.rb
Labels: bump-cask-pr

#170319 kdenlive 24.02.1
  Casks/k/kdenlive.rb
Labels: bump-cask-pr

#170328 inav-configurator 7.1.0
  Casks/i/inav-configurator.rb
Labels: bump-cask-pr

#170329 sync 2.2.34
  Casks/s/sync.rb
Labels: bump-cask-pr

#170330 gnucash 5.6-1
  Casks/g/gnucash.rb
Labels: bump-cask-pr

#170331 sonarr 4.0.3.1413
  Casks/s/sonarr.rb
Labels: bump-cask-pr

#170332 ares 137
  Casks/a/ares.rb
Labels: bump-cask-pr

#170333 scummvm 2.8.1
  Casks/s/scummvm.rb
Labels: bump-cask-pr

#170334 archiver 4.2.0
  Casks/a/archiver.rb
Labels: bump-cask-pr

#170335 free-ruler 2.0.7
  Casks/f/free-ruler.rb
Labels: bump-cask-pr

#170336 superkey 1.31
  Casks/s/superkey.rb
Labels: bump-cask-pr

#170337 obsidian 1.5.12
  Casks/o/obsidian.rb
Labels: bump-cask-pr

#170338 opgg 1.4.4
  Casks/o/opgg.rb
Labels: bump-cask-pr

#170339 hbuilderx 4.08.2024040123
  Casks/h/hbuilderx.rb
Labels: bump-cask-pr

#170340 heroic 2.14.0
  Casks/h/heroic.rb
Labels: bump-cask-pr

#170342 powder 98.1
  Casks/p/powder.rb
Labels: bump-cask-pr

#170343 wondershare-uniconverter 15.5.5
  Casks/w/wondershare-uniconverter.rb
Labels: bump-cask-pr

#170344 live-home-3d 4.9
  Casks/l/live-home-3d.rb
Labels: bump-cask-pr

#170341 cisco-jabber 20240401022744
  Casks/c/cisco-jabber.rb
Labels: bump-cask-pr

#170349 apifox 2.5.15
  Casks/a/apifox.rb
Labels: bump-cask-pr

#170348 cloudflare-warp 2024.3.407.0
  Casks/c/cloudflare-warp.rb
Labels: bump-cask-pr

#170356 codewhisperer 0.15.2
  Casks/c/codewhisperer.rb
Labels: bump-cask-pr

#170361 propresenter 7.16.2
  Casks/p/propresenter.rb
Labels: bump-cask-pr

#170254 capcut 3.3.0.1159 (new cask)
  Casks/c/capcut.rb
Labels: awaiting maintainer feedback, new cask

#170362 adobe-creative-cloud 6.1.0.587.7
  Casks/a/adobe-creative-cloud.rb
Labels: bump-cask-pr

#170193 treesheets 8473991279, with source switched to GitHub Releases
  Casks/t/treesheets.rb
Labels: ready to merge

#170367 qth 0.8.11
  Casks/q/qth.rb
Labels: bump-cask-pr

#170368 listen1 2.32.0
  Casks/l/listen1.rb
Labels: bump-cask-pr

#170380 amadine 1.6
  Casks/a/amadine.rb
Labels: bump-cask-pr

#170381 adobe-air 50.2.4.5
  Casks/a/adobe-air.rb
Labels: bump-cask-pr

#170382 airy 3.29.1
  Casks/a/airy.rb
Labels: bump-cask-pr

#170383 craft 2.7.7
  Casks/c/craft.rb
Labels: bump-cask-pr

#170384 camo-studio 2.1.4
  Casks/c/camo-studio.rb
Labels: bump-cask-pr

#170387 elgato-camera-hub 1.9.1.2906
  Casks/e/elgato-camera-hub.rb
Labels: bump-cask-pr

#170389 insta360-studio 5.0.0
  Casks/i/insta360-studio.rb
Labels: bump-cask-pr

#170388 hypercal: disable
  Casks/h/hypercal.rb
Labels: ci-syntax-only

#170391 protopie 8.0.0
  Casks/p/protopie.rb
Labels: bump-cask-pr

#170401 gyazo 8.2.0
  Casks/g/gyazo.rb
Labels: bump-cask-pr

#170392 rippling 3.6.17
  Casks/r/rippling.rb
Labels: bump-cask-pr

#170393 ringcentral 24.1.32
  Casks/r/ringcentral.rb
Labels: bump-cask-pr

#170399 nordic-nrf-command-line-tools 10.24.1
  Casks/n/nordic-nrf-command-line-tools.rb
Labels: bump-cask-pr

#170421 jan 0.4.10
  Casks/j/jan.rb
Labels: bump-cask-pr

#170424 kodelife 1.1.4
  Casks/k/kodelife.rb
Labels: bump-cask-pr

#170422 jabref 5.13
  Casks/j/jabref.rb
Labels: bump-cask-pr

#170423 qr-journal 3.0
  Casks/q/qr-journal.rb
Labels: bump-cask-pr

#170418 middle 1.8.5
  Casks/m/middle.rb
Labels: bump-cask-pr

#170417 hbuilderx 4.08.2024040127
  Casks/h/hbuilderx.rb
Labels: bump-cask-pr

#170412 ticktick 5.3.00
  Casks/t/ticktick.rb
Labels: bump-cask-pr

#170411 imazing-profile-editor 1.9.0
  Casks/i/imazing-profile-editor.rb
Labels: bump-cask-pr

#170413 nightshade 1.0.2
  Casks/n/nightshade.rb
Labels: bump-cask-pr

#170420 mockoon 8.0.0
  Casks/m/mockoon.rb
Labels: bump-cask-pr

#170419 coherence-x 4.7
  Casks/c/coherence-x.rb
Labels: bump-cask-pr

#170414 flirc 3.27.15
  Casks/f/flirc.rb
Labels: bump-cask-pr

#170385 binary-ninja 4.0.4958
  Casks/b/binary-ninja.rb
Labels: bump-cask-pr

#170427 onyx 4.4.6
  Casks/o/onyx.rb
Labels: bump-cask-pr

#170428 adobe-acrobat-pro 24.001.20643
  Casks/a/adobe-acrobat-pro.rb
Labels: bump-cask-pr

#170429 flexoptix 5.21.1-latest
  Casks/f/flexoptix.rb
Labels: bump-cask-pr

#170440 snagit 2024.2.3
  Casks/s/snagit.rb
Labels: bump-cask-pr

#170449 macfuse 4.6.2
  Casks/m/macfuse.rb
Labels: bump-cask-pr

#170446 marsedit 5.1.4
  Casks/m/marsedit.rb
Labels: bump-cask-pr

#170458 douyin-chat 1.1.13
  Casks/d/douyin-chat.rb
Labels: bump-cask-pr

#170459 bilibili 1.13.2.3297
  Casks/b/bilibili.rb
Labels: bump-cask-pr

#170465 krisp 2.35.5
  Casks/k/krisp.rb
Labels: bump-cask-pr

#170466 bean 3.6.3
  Casks/b/bean.rb
Labels: bump-cask-pr

#170468 yinxiangbiji 9.7.14_474681
  Casks/y/yinxiangbiji.rb
Labels: bump-cask-pr

#170470 protopie 8.0.1
  Casks/p/protopie.rb
Labels: bump-cask-pr

#170394 cmd/lib/ci_matrix: fix manual auditing
  cmd/lib/ci_matrix.rb
Labels: automerge-skip

#170390 openzfs: fix livecheck
  Casks/o/openzfs.rb
Labels: missing zap

#170471 nvidia-geforce-now 2.0.61.148
  Casks/n/nvidia-geforce-now.rb
Labels: bump-cask-pr

#170416 sigil 2.1.0
  Casks/s/sigil.rb
Labels: bump-cask-pr

#170495 qq 6.9.31_240401_01
  Casks/q/qq.rb
Labels: bump-cask-pr

#170496 uu-booster 2.8.0,249
  Casks/u/uu-booster.rb
Labels: bump-cask-pr

#170457 cakebrewjs 2.2.4
  Casks/c/cakebrewjs.rb
Labels: bump-cask-pr

#170469 psst 0.1.0,20240401.042251
  Casks/p/psst.rb
Labels: bump-cask-pr

#170481 openrct2 0.4.10
  Casks/o/openrct2.rb
Labels: bump-cask-pr

#170415 operadriver 123.0.6312.59
  Casks/o/operadriver.rb
Labels: bump-cask-pr

#170425 powder 98.2
  Casks/p/powder.rb
Labels: bump-cask-pr

#170501 protonvpn 4.1.11
  Casks/p/protonvpn.rb
Labels: bump-cask-pr

#170509 utools 5.0.0
  Casks/u/utools.rb
Labels: bump-cask-pr

#170510 videoduke 2.15.1
  Casks/v/videoduke.rb
Labels: bump-cask-pr

#170255 clearvpn 3.0.0 (new cask)
  Casks/c/clearvpn.rb
Labels: awaiting maintainer feedback, new cask

#170511 volt 0.96
  Casks/v/volt.rb
Labels: bump-cask-pr

#170513 lookaway 1.4.4
  Casks/l/lookaway.rb
Labels: bump-cask-pr

#170494 fujifilm-x-raw-studio 1.22.0 (new cask)
  Casks/f/fujifilm-x-raw-studio.rb
Labels: new cask

#170512 widelands 1.2
  Casks/w/widelands.rb
Labels: bump-cask-pr

#170518 garagesale 9.7.4
  Casks/g/garagesale.rb
Labels: bump-cask-pr

#170519 ticktick 5.3.00,334
  Casks/t/ticktick.rb
Labels: bump-cask-pr

#170520 wiso-steuer-2023 30.13.4260
  Casks/w/wiso-steuer-2023.rb
Labels: bump-cask-pr

#170522 beekeeper-studio: downgrade to 4.1.13 (4.2.5 got removed)
  Casks/b/beekeeper-studio.rb
Labels: upstream

#170531 jamie 4.0.6
  Casks/j/jamie.rb
Labels: bump-cask-pr

#170529 ultimaker-cura 5.7.0
  Casks/u/ultimaker-cura.rb
Labels: bump-cask-pr

#170530 stash 2.6.0,283
  Casks/s/stash.rb
Labels: bump-cask-pr

#170532 shadow-bot 1.5.1
  Casks/s/shadow-bot.rb
Labels: bump-cask-pr

#170537 qobuz 7.1.4
  Casks/q/qobuz.rb
Labels: bump-cask-pr

#170540 perforce 2023.2,2578891
  Casks/p/perforce.rb
Labels: bump-cask-pr

#170541 path-finder 2169
  Casks/p/path-finder.rb
Labels: bump-cask-pr

#170543 nwjs 0.86.0
  Casks/n/nwjs.rb
Labels: bump-cask-pr

#170544 nucleo 4.1.1
  Casks/n/nucleo.rb
Labels: bump-cask-pr

#170527 yuque 3.4.1.1206
  Casks/y/yuque.rb
Labels: bump-cask-pr

#170545 netxms-console 4.5.5
  Casks/n/netxms-console.rb
Labels: bump-cask-pr

#170547 mumuplayer 1.4.10
  Casks/m/mumuplayer.rb
Labels: bump-cask-pr

#170549 mathpix-snipping-tool 3.4.7.2
  Casks/m/mathpix-snipping-tool.rb
Labels: bump-cask-pr

#170550 librepcb 1.1.0
  Casks/l/librepcb.rb
Labels: bump-cask-pr

#170551 invoker 2.14.0
  Casks/i/invoker.rb
Labels: bump-cask-pr

#170553 flexoptix 5.21.2-latest
  Casks/f/flexoptix.rb
Labels: bump-cask-pr

#170554 clickhouse 24.3.2.23-lts
  Casks/c/clickhouse.rb
Labels: bump-cask-pr

#170552 inkdrop 5.8.0
  Casks/i/inkdrop.rb
Labels: bump-cask-pr

#170515 zoho-docs: disable
  Casks/z/zoho-docs.rb
Labels: ci-syntax-only

#170558 bitcoin-core 26.1
  Casks/b/bitcoin-core.rb
Labels: bump-cask-pr

#170561 adobe-acrobat-reader 24.001.20643
  Casks/a/adobe-acrobat-reader.rb
Labels: bump-cask-pr

#170556 8x8-work 8.11.2-4
  Casks/8/8x8-work.rb
Labels: bump-cask-pr

#170557 sqlcl 24.1.0.087.0929
  Casks/s/sqlcl.rb
Labels: bump-cask-pr

#170560 audio-hijack 4.3.3
  Casks/a/audio-hijack.rb
Labels: bump-cask-pr

#170562 captain 10.2.1
  Casks/c/captain.rb
Labels: bump-cask-pr

#170563 lasso 1.7.1
  Casks/l/lasso.rb
Labels: bump-cask-pr

#170528 yate 6.19
  Casks/y/yate.rb
Labels: bump-cask-pr

#170565 couchbase-server-community 7.6.1
  Casks/c/couchbase-server-community.rb
Labels: bump-cask-pr

#170580 autobump: updates
  .github/autobump.txt
Labels: automerge-skip, autobump

#170581 syncthing 1.27.5-1
  Casks/s/syncthing.rb
Labels: bump-cask-pr

#170517 buzz: deprecate
  Casks/b/buzz.rb
Labels: ci-skip-livecheck, cask deprecated

#170595 steelseries-gg 60.0.0
  .github/autobump.txt
  Casks/s/steelseries-gg.rb
Labels: automerge-skip, bump-cask-pr, autobump

#170564 lando: update livecheck to ignore alpha, beta releases
  Casks/l/lando.rb
Labels: livecheck

#170598 amazon-photos 1.10
  Casks/a/amazon-photos.rb
Labels: bump-cask-pr

#170600 tagspaces 5.7.12
  Casks/t/tagspaces.rb
Labels: bump-cask-pr

#170599 zui 1.7.0
  Casks/z/zui.rb
Labels: bump-cask-pr

#170601 cmake 3.29.1
  .github/autobump.txt
  Casks/c/cmake.rb
Labels: automerge-skip, bump-cask-pr, autobump

#170594 remotehamradio 2.3.0
  .github/autobump.txt
  Casks/r/remotehamradio.rb
Labels: bump-cask-pr, autobump

#170593 loupedeck 5.9.0.19176
  .github/autobump.txt
  Casks/l/loupedeck.rb
Labels: automerge-skip, bump-cask-pr, autobump

#170643 wiso-steuer-2024 31.05.3740
  Casks/w/wiso-steuer-2024.rb
Labels: bump-cask-pr

#170591 arctic 24.1.1 (new cask), deprecate final-cut-library-manager
  Casks/a/arctic.rb
  Casks/f/final-cut-library-manager.rb
Labels: automerge-skip, new cask

#170658 beekeeper-studio 4.2.7
  Casks/b/beekeeper-studio.rb
Labels: bump-cask-pr

#170642 katalon-studio 9.4.0
  Casks/k/katalon-studio.rb
Labels: bump-cask-pr

#170649 simply-fortran 3.34.4166
  Casks/s/simply-fortran.rb
Labels: bump-cask-pr

#170632 xpra 5.0.8
  Casks/x/xpra.rb
Labels: bump-cask-pr

#170619 orion 0.99,127.2
  Casks/o/orion.rb
Labels: bump-cask-pr

#170618 jettison 1.8.7
  Casks/j/jettison.rb
Labels: bump-cask-pr

#170617 simplemind 2.3.4
  Casks/s/simplemind.rb
Labels: bump-cask-pr

#170616 freetube 0.20.0
  Casks/f/freetube.rb
Labels: bump-cask-pr

#170614 craft 2.7.8
  Casks/c/craft.rb
Labels: bump-cask-pr

#170613 codewhisperer 0.15.3
  Casks/c/codewhisperer.rb
Labels: bump-cask-pr

#170657 fastscripts: update checksum for 3.3.1 rel
  Casks/f/fastscripts.rb
Labels: checksum-mismatch

#170555 cisdem-data-recovery 16.0.0
  Casks/c/cisdem-data-recovery.rb
Labels: bump-cask-pr

#170660 curseforge 0.249.3-1
  Casks/c/curseforge.rb
Labels: bump-cask-pr

#170621 muyu 1.5.1
  Casks/m/muyu.rb
Labels: bump-cask-pr

#170659 fme 2024.0.1
  Casks/f/fme.rb
Labels: bump-cask-pr

#170628 qt-creator 13.0.0
  Casks/q/qt-creator.rb
Labels: bump-cask-pr

#170663 planet 0.17.0
  Casks/p/planet.rb
Labels: bump-cask-pr
