Repository Homebrew/homebrew-cask, pull requests merged in 2024-11, with the labels that each got.

#190568 ipvanish-vpn 4.6.0
  Casks/i/ipvanish-vpn.rb
Labels: bump-cask-pr

#190569 tqsl 2.7.4
  Casks/t/tqsl.rb
Labels: bump-cask-pr

#190572 blip 1.0.16
  Casks/b/blip.rb
Labels: bump-cask-pr

#190573 lyn 2.4.1
  Casks/l/lyn.rb
Labels: bump-cask-pr

#190574 poedit 3.5.2
  Casks/p/poedit.rb
Labels: bump-cask-pr

#190575 whatsyoursign 2.2.3
  Casks/w/whatsyoursign.rb
Labels: bump-cask-pr

#190529 font-migu-*, font-migmix-*: update livecheck
  Casks/font/font-m/font-migmix-1m.rb
  Casks/font/font-m/font-migmix-1p.rb
  Casks/font/font-m/font-migmix-2m.rb
  Casks/font/font-m/font-migmix-2p.rb
  Casks/font/font-m/font-migu-1c.rb
  Casks/font/font-m/font-migu-1m.rb
  Casks/font/font-m/font-migu-1p.rb
  Casks/font/font-m/font-migu-2m.rb
Labels: automerge-skip, livecheck

#190600 jmc: add depends_on
  Casks/j/jmc.rb
Labels: missing zap

#190602 fstream: deprecate
  Casks/f/fstream.rb
Labels: missing zap, cask deprecated

#190601 jdiskreport: deprecate
  Casks/j/jdiskreport.rb
Labels: missing zap, cask deprecated

#190604 classicftp 5.00
  Casks/c/classicftp.rb
Labels: bump-cask-pr, extract_plist livecheck

#190603 chronosync 11.0.5
  .github/autobump.txt
  Casks/c/chronosync.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190615 r 4.4.2
  Casks/r/r.rb
Labels: bump-cask-pr

#190606 istat-menus 7.02.4
  .github/autobump.txt
  Casks/i/istat-menus.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190607 konica-minolta-bizhub-c750i-driver 5.2.13A
  Casks/k/konica-minolta-bizhub-c750i-driver.rb
Labels: bump-cask-pr

#190612 pieces-cli 1.8.0
  .github/autobump.txt
  Casks/p/pieces-cli.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190616 spyder 6.0.2
  .github/autobump.txt
  Casks/s/spyder.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190617 viber 23.9.0
  Casks/v/viber.rb
Labels: bump-cask-pr, extract_plist livecheck

#190605 elephas@beta 10.12
  Casks/e/elephas@beta.rb
Labels: bump-cask-pr, extract_plist livecheck

#190614 dropbox-passwords: deprecate
  Casks/d/dropbox-passwords.rb
Labels: missing zap, cask deprecated

#190530 ticktick: update livecheck
  Casks/t/ticktick.rb
Labels: livecheck

#190562 claude 0.4.8 (new cask)
  Casks/c/claude.rb
Labels: new cask

#190623 font-new-computer-modern 7.0.0
  Casks/font/font-n/font-new-computer-modern.rb
Labels: bump-cask-pr

#190622 scala-ide: deprecate
  Casks/s/scala-ide.rb
Labels: missing description, missing zap, cask deprecated

#190626 quba 1.4.2
  .github/autobump.txt
  Casks/q/quba.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190636 remotix-agent: add rosetta caveat
  Casks/r/remotix-agent.rb
Labels: missing zap

#190637 jetbrains: update livecheck
  Casks/a/aqua.rb
  Casks/c/clion.rb
  Casks/c/clion@eap.rb
  Casks/d/datagrip.rb
  Casks/d/dataspell.rb
  Casks/g/goland.rb
  Casks/i/intellij-idea-ce.rb
  Casks/i/intellij-idea.rb
  Casks/i/intellij-idea@eap.rb
  Casks/j/jetbrains-gateway.rb
  Casks/j/jetbrains-toolbox.rb
  Casks/m/mps.rb
  Casks/p/phpstorm.rb
  Casks/p/pycharm-ce.rb
  Casks/p/pycharm-edu.rb
  Casks/p/pycharm.rb
  Casks/r/rider.rb
  Casks/r/rubymine.rb
  Casks/r/rustrover.rb
  Casks/w/webstorm.rb
  Casks/w/writerside.rb
Labels: automerge-skip, livecheck

#190642 edrawmind: update livecheck
  Casks/e/edrawmind.rb
Labels: livecheck

#190645 jslegendre-themeengine: update livecheck
  Casks/j/jslegendre-themeengine.rb
Labels: livecheck

#190649 resolume-arena: update livecheck
  Casks/r/resolume-arena.rb
Labels: livecheck

#190652 font-3270: update livecheck
  Casks/font/font-3/font-3270.rb
Labels: livecheck

#190650 remotix-agent: deprecate
  Casks/r/remotix-agent.rb
Labels: missing zap, cask deprecated

#190684 caido 0.43.1
  Casks/c/caido.rb
Labels: bump-cask-pr

#190675 checkra1n: Add `checkra1n` binary
  Casks/c/checkra1n.rb
Labels: missing zap

#190687 follow 0.1.2-beta.0
  Casks/f/follow.rb
Labels: bump-cask-pr

#190688 opencore-patcher 2.1.0
  Casks/o/opencore-patcher.rb
Labels: bump-cask-pr

#190686 foldingtext: deprecate
  Casks/f/foldingtext.rb
Labels: missing zap, cask deprecated

#190694 droplr: update livecheck
  Casks/d/droplr.rb
Labels: livecheck

#190693 vu: deprecate
  Casks/v/vu.rb
Labels: missing zap, cask deprecated

#190720 Fix panoply.rb SHA256 value for v5.5.4
  Casks/p/panoply.rb
Labels: checksum-mismatch

#190708 choosy 2.3.2
  Casks/c/choosy.rb
Labels: bump-cask-pr

#190709 claude 0.4.9
  .github/autobump.txt
  Casks/c/claude.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190710 gzdoom 4.13.2
  Casks/g/gzdoom.rb
Labels: bump-cask-pr

#190711 jazz2-resurrection 2.9.1
  .github/autobump.txt
  Casks/j/jazz2-resurrection.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190712 loginputmac 3.4.0
  .github/autobump.txt
  Casks/l/loginputmac.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190752 tinderbox 10.0.2
  Casks/t/tinderbox.rb
Labels: bump-cask-pr

#190753 vagrant 2.4.2
  Casks/v/vagrant.rb
Labels: bump-cask-pr

#190749 meld-studio 0.8.0.2
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#190697 texts: deprecate
  Casks/t/texts.rb
Labels: missing zap, cask deprecated

#190750 querious 4.0.15
  .github/autobump.txt
  Casks/q/querious.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190751 solar2d 2024.3711
  .github/autobump.txt
  Casks/s/solar2d.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190760 pallotron-yubiswitch: Bump SHA256 for re-released version
  Casks/p/pallotron-yubiswitch.rb
Labels: checksum-mismatch

#190696 shades: disable
  Casks/s/shades.rb
Labels: ci-syntax-only, missing description, missing zap, cask disabled

#190701 cornercal: deprecate
  Casks/c/cornercal.rb
Labels: missing zap, cask deprecated

#190700 get-lyrical: deprecate
  Casks/g/get-lyrical.rb
Labels: missing zap, cask deprecated

#190699 ultimate-control: deprecate
  Casks/u/ultimate-control.rb
Labels: missing zap, cask deprecated

#190698 udig: deprecate
  Casks/u/udig.rb
Labels: missing description, missing zap, cask deprecated

#190695 pixel-check: deprecate
  Casks/p/pixel-check.rb
Labels: missing zap, cask deprecated

#190771 gmvault: deprecate
  Casks/g/gmvault.rb
Labels: missing description, missing zap, cask deprecated

#190778 localsend 1.16.0
  .github/autobump.txt
  Casks/l/localsend.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190777 easydict: update livecheck
  Casks/e/easydict.rb
Labels: livecheck

#190780 material-maker: update livecheck
  Casks/m/material-maker.rb
Labels: livecheck

#190775 nrlquaker-winbox 3.41
  Casks/n/nrlquaker-winbox.rb
Labels: bump-cask-pr

#190776 bookends 15.0.8
  .github/autobump.txt
  Casks/b/bookends.rb
Labels: automerge-skip, bump-cask-pr, livecheck, autobump

#190782 power-manager 5.10.3
  .github/autobump.txt
  Casks/p/power-manager.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190783 packetsender 8.8.9
  Casks/p/packetsender.rb
Labels: bump-cask-pr

#190784 staruml 6.3.0
  .github/autobump.txt
  Casks/s/staruml.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190785 staruml: various updates
  Casks/s/staruml.rb
Labels: livecheck

#190792 yellowdot 2.5
  Casks/y/yellowdot.rb
Labels: bump-cask-pr

#190793 iridium: deprecate
  Casks/i/iridium.rb
Labels: cask deprecated

#190795 presonus-universal-control 4.5.0.102825
  Casks/p/presonus-universal-control.rb
Labels: bump-cask-pr, livecheck

#190805 qldds: add rosetta caveat
  Casks/q/qldds.rb
Labels: missing zap

#190804 duo-connect: add rosetta caveat
  Casks/d/duo-connect.rb
Labels: missing zap

#190801 isyncr: add rosetta caveat
  Casks/i/isyncr.rb
Labels: missing zap

#190800 isyncer: add rosetta caveat
  Casks/i/isyncer.rb
Labels: missing zap

#190802 colorchecker-camera-calibration: add rosetta caveat
  Casks/c/colorchecker-camera-calibration.rb
Labels: missing zap

#190846 townwifi: deprecate
  Casks/t/townwifi.rb
Labels: missing description, missing zap, cask deprecated

#190847 bossa: deprecate
  Casks/b/bossa.rb
Labels: missing description, missing zap, cask deprecated

#190810 apptrap: deprecate
  Casks/a/apptrap.rb
Labels: missing description, cask deprecated

#190849 various: update char match regex
  Casks/0/0-ad.rb
  Casks/font/font-e/font-ebh.rb
  Casks/l/lyn.rb
  Casks/t/teeworlds.rb
  Casks/v/vitalsource-bookshelf.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#190814 dcommander: update livecheck
  Casks/d/dcommander.rb
Labels: livecheck

#190815 classroom-mode-for-minecraft: update livecheck
  Casks/c/classroom-mode-for-minecraft.rb
Labels: livecheck

#190813 singularity: update livecheck
  Casks/s/singularity.rb
Labels: livecheck, missing zap

#190809 arctic: update livecheck
  Casks/a/arctic.rb
Labels: livecheck

#190812 programmer-dvorak: update livecheck
  Casks/p/programmer-dvorak.rb
Labels: livecheck

#190853 easydict 2.10.0
  Casks/e/easydict.rb
Labels: bump-cask-pr

#190862 font-ark-pixel-10px-monospaced 2024.11.04
  Casks/font/font-a/font-ark-pixel-10px-monospaced.rb
Labels: bump-cask-pr

#190863 font-ark-pixel-12px-monospaced 2024.11.04
  Casks/font/font-a/font-ark-pixel-12px-monospaced.rb
Labels: bump-cask-pr

#190864 font-ark-pixel-16px-monospaced 2024.11.04
  Casks/font/font-a/font-ark-pixel-16px-monospaced.rb
Labels: bump-cask-pr

#190865 font-ark-pixel-10px-proportional 2024.11.04
  Casks/font/font-a/font-ark-pixel-10px-proportional.rb
Labels: bump-cask-pr

#190866 font-ark-pixel-12px-proportional 2024.11.04
  Casks/font/font-a/font-ark-pixel-12px-proportional.rb
Labels: bump-cask-pr

#190867 font-ark-pixel-16px-proportional 2024.11.04
  Casks/font/font-a/font-ark-pixel-16px-proportional.rb
Labels: bump-cask-pr

#190874 senadevicemanager 4.4.12
  Casks/s/senadevicemanager.rb
Labels: bump-cask-pr

#190877 ximalaya 4.0.5
  Casks/x/ximalaya.rb
Labels: bump-cask-pr

#190892 bridge 2024.0.5
  .github/autobump.txt
  Casks/b/bridge.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190894 font-eldur 0.0.5 (new cask)
  Casks/font/font-e/font-eldur.rb
Labels: new cask

#190896 go-server 24.4.0
  Casks/g/go-server.rb
Labels: bump-cask-pr

#190868 various: update livecheck
  Casks/a/android-file-transfer.rb
  Casks/c/corretto.rb
  Casks/c/corretto@21.rb
  Casks/g/gotomeeting.rb
  Casks/p/pdf-over.rb
  Casks/s/spark-ar-studio.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip, livecheck

#190895 go-agent 24.4.0
  Casks/g/go-agent.rb
Labels: bump-cask-pr

#190889 various: move regex out of `strategy` block
  Casks/c/coconutbattery.rb
  Casks/c/conferences.rb
  Casks/d/dropshare.rb
  Casks/e/elan.rb
  Casks/e/enfusegui.rb
  Casks/f/fl-studio.rb
  Casks/i/izotope-product-portal.rb
  Casks/j/jitsi.rb
  Casks/k/keyboard-maestro.rb
  Casks/m/mathpix-snipping-tool.rb
  Casks/m/metasploit.rb
  Casks/m/moneydance.rb
  Casks/p/podolski.rb
  Casks/q/qgis.rb
  Casks/r/rstudio.rb
  Casks/s/smartsynchronize.rb
  Casks/s/softmaker-freeoffice.rb
  Casks/s/superduper.rb
  Casks/s/surge.rb
  Casks/t/temurin.rb
  Casks/t/tiles.rb
  Casks/t/triplecheese.rb
  Casks/t/tuple.rb
  Casks/u/usage.rb
  Casks/w/wxmacmolplt.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#190875 pongsaver: deprecate
  Casks/p/pongsaver.rb
Labels: missing zap, cask deprecated

#190902 jbrowse 2.16.1
  .github/autobump.txt
  Casks/j/jbrowse.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190906 little-navmap 3.0.12
  .github/autobump.txt
  Casks/l/little-navmap.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190909 mints 1.20
  .github/autobump.txt
  Casks/m/mints.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190913 ppsspp 1.18
  .github/autobump.txt
  Casks/p/ppsspp.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190938 various: remove `macos-12` from Actions
  .github/workflows/cache.yml
  cmd/lib/ci_matrix.rb
Labels: automerge-skip

#190960 nzbvortex: deprecate
  Casks/n/nzbvortex.rb
Labels: missing zap, cask deprecated

#190876 save-hollywood: deprecate
  Casks/s/save-hollywood.rb
Labels: missing zap, cask deprecated

#190971 transmit 5.10.5
  .github/autobump.txt
  Casks/t/transmit.rb
Labels: automerge-skip, bump-cask-pr, autobump

#190941 various: update livecheck
  Casks/a/adobe-air.rb
  Casks/i/isyncr.rb
  Casks/q/qt3dstudio.rb
Labels: automerge-skip, livecheck

#190989 expo-orbit 1.2.0
  Casks/e/expo-orbit.rb
Labels: bump-cask-pr

#190988 Livecheck style generic tarball extension
  Casks/d/denemo.rb
  Casks/j/jdk-mission-control.rb
  Casks/p/papyrus.rb
  Casks/w/worldpainter.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#190967 jet-pilot 1.31.0 (new cask)
  Casks/j/jet-pilot.rb
Labels: new cask

#191003 ares 141
  .github/autobump.txt
  Casks/a/ares.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191004 lyn 2.4.2
  .github/autobump.txt
  Casks/l/lyn.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191006 nvidia-geforce-now 2.0.68.145
  .github/autobump.txt
  Casks/n/nvidia-geforce-now.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191009 principle 6.36
  Casks/p/principle.rb
Labels: bump-cask-pr

#191007 obsidian 1.7.5
  .github/autobump.txt
  Casks/o/obsidian.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191008 pcoipclient 24.10.0
  .github/autobump.txt
  Casks/p/pcoipclient.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191012 trex 1.8.0
  Casks/t/trex.rb
Labels: bump-cask-pr

#191000 geotag 5.4
  Casks/g/geotag.rb
Labels: bump-cask-pr

#191010 retcon 1.1.2
  .github/autobump.txt
  Casks/r/retcon.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191011 synology-drive 3.5.1,16102
  Casks/s/synology-drive.rb
Labels: bump-cask-pr

#191002 jprofiler 14.0.5
  .github/autobump.txt
  Casks/j/jprofiler.rb
Labels: automerge-skip, bump-cask-pr, livecheck, autobump

#190935 acronis-true-image 41592
  Casks/a/acronis-true-image.rb
Labels: missing zap

#191016 webkinz 1.7.6
  Casks/w/webkinz.rb
Labels: bump-cask-pr

#191013 trunk-io 1.3.3
  Casks/t/trunk-io.rb
Labels: bump-cask-pr

#190933 font-recursive-desktop 1.085 (new cask)
  Casks/font/font-r/font-recursive-desktop.rb
Labels: new cask, ci-skip-token

#191051 archipelago 6.0.8
  .github/autobump.txt
  Casks/a/archipelago.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191058 Fix `SafeNavigationChainLength` style offenses
  Casks/a/alfred.rb
  Casks/a/alfred@4.rb
  Casks/a/apparency.rb
  Casks/a/archaeology.rb
  Casks/c/cirrus.rb
  Casks/c/colemak-dh.rb
  Casks/c/colemak-dhk.rb
  Casks/d/dintch.rb
  Casks/e/easyfind.rb
  Casks/e/etrecheckpro.rb
  Casks/f/flickr-uploadr.rb
  Casks/i/intune-company-portal.rb
  Casks/l/lockrattler.rb
  Casks/m/metamer.rb
  Casks/m/mints.rb
  Casks/o/obs.rb
  Casks/o/obs@beta.rb
  Casks/o/onyx.rb
  Casks/o/openvanilla.rb
  Casks/p/photostickies.rb
  Casks/s/signet.rb
  Casks/s/silentknight.rb
  Casks/s/sitesucker-pro.rb
  Casks/s/smultron.rb
  Casks/s/spundle.rb
  Casks/s/suspicious-package.rb
  Casks/t/taccy.rb
  Casks/t/thetimemachinemechanic.rb
  Casks/t/thumbsup.rb
  Casks/u/ulbow.rb
  Casks/x/xattred.rb
  Casks/x/xmenu.rb
  Casks/x/xprocheck.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#191059 opencore-patcher 2.1.1
  Casks/o/opencore-patcher.rb
Labels: bump-cask-pr

#191064 expo-orbit: update sha256
  Casks/e/expo-orbit.rb
Labels: checksum-mismatch

#190982 acronis-true-image-cleanup-tool 41561 (new cask)
  Casks/a/acronis-true-image-cleanup-tool.rb
Labels: new cask

#190893 hyperconnect 1.0.3 (new cask)
  Casks/h/hyperconnect.rb
Labels: new cask, ready to merge

#191048 font-oppo-sans 4.0
  Casks/font/font-o/font-oppo-sans.rb
Labels: ready to merge

#191089 expo-orbit 1.2.1
  Casks/e/expo-orbit.rb
Labels: bump-cask-pr

#191079 tableau-prep 2024.2.4
  Casks/t/tableau-prep.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#191090 sauce-connect 5.2.2
  .github/autobump.txt
  Casks/s/sauce-connect.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191094 netxms-console 5.1.0
  Casks/n/netxms-console.rb
Labels: bump-cask-pr

#191091 quickwhisper 1.4.45
  .github/autobump.txt
  Casks/q/quickwhisper.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191093 osquery 5.14.1
  .github/autobump.txt
  Casks/o/osquery.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191096 uninstallpkg 1.2.2
  .github/autobump.txt
  Casks/u/uninstallpkg.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191098 webex 44.11.0.31172
  .github/autobump.txt
  Casks/w/webex.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191095 ivpn 3.14.29
  .github/autobump.txt
  Casks/i/ivpn.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191092 moom 4.1.3
  .github/autobump.txt
  Casks/m/moom.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191099 tablecruncher 1.7.0
  Casks/t/tablecruncher.rb
Labels: livecheck

#191101 duplicacy-cli 3.2.4
  Casks/d/duplicacy-cli.rb
Labels: bump-cask-pr

#191100 acreom 1.20.4
  .github/autobump.txt
  Casks/a/acreom.rb
Labels: automerge-skip, bump-cask-pr, autobump

#191108 geph 4.99.14
  Casks/g/geph.rb
Labels: bump-cask-pr

#191113 label-live 3.3.1
  .github/autobump.txt
  Casks/l/label-live.rb
Labels: automerge-skip, bump-cask-pr, autobump
