Repository Homebrew/homebrew-cask, pull requests merged in 2024-12, with the labels that each got.

#193778 hubstaff: update livecheck
  Casks/h/hubstaff.rb
Labels: livecheck

#193777 pictureview: update livecheck
  Casks/p/pictureview.rb
Labels: livecheck

#193775 wetype: update livecheck
  Casks/w/wetype.rb
Labels: livecheck

#193776 devolo-cockpit: update livecheck
  Casks/d/devolo-cockpit.rb
Labels: livecheck

#193779 weka: update livecheck
  Casks/w/weka.rb
Labels: livecheck

#193786 iexplorer: update livecheck
  Casks/i/iexplorer.rb
Labels: livecheck

#193784 textual: update livecheck
  Casks/t/textual.rb
Labels: livecheck

#193783 setapp: update livecheck
  Casks/s/setapp.rb
Labels: livecheck

#193782 second-life-viewer: update livecheck
  Casks/s/second-life-viewer.rb
Labels: livecheck

#193781 qdslrdashboard: update livecheck
  Casks/q/qdslrdashboard.rb
Labels: livecheck

#193774 various: update livecheck
  Casks/a/adobe-creative-cloud.rb
  Casks/t/tastytrade.rb
Labels: automerge-skip, livecheck

#193790 knockknock 3.0.0
  Casks/k/knockknock.rb
Labels: bump-cask-pr

#193791 caido: update livecheck
  Casks/c/caido.rb
Labels: livecheck

#193743 sys-pc-tool 6.33 (new cask)
  Casks/s/sys-pc-tool.rb
Labels: new cask

#193795 quickbooks: update livecheck
  Casks/q/quickbooks.rb
Labels: livecheck

#193796 melodics: update livecheck
  Casks/m/melodics.rb
Labels: livecheck

#193585 windsurf 1.0.5 (new cask)
  Casks/w/windsurf.rb
Labels: new cask

#193798 circuitjs1 3.0.1js
  Casks/c/circuitjs1.rb
Labels: bump-cask-pr, extract_plist livecheck

#193802 tageditor 1.0.15,1278
  Casks/t/tageditor.rb
Labels: bump-cask-pr, extract_plist livecheck

#193805 lark: update livecheck
  Casks/l/lark.rb
Labels: livecheck

#193808 logi-options+: update livecheck
  Casks/l/logi-options+.rb
Labels: livecheck

#193812 dozer: disable
  Casks/d/dozer.rb
Labels: ci-syntax-only, cask disabled

#193818 librepcb 1.2.0
  Casks/l/librepcb.rb
Labels: bump-cask-pr

#193825 flipper: deprecate
  Casks/f/flipper.rb
Labels: cask deprecated

#193832 handbrake 1.9.0
  Casks/h/handbrake.rb
Labels: bump-cask-pr

#193804 gitkraken: update livecheck
  Casks/g/gitkraken.rb
Labels: ci-syntax-only, livecheck

#193833 bananas 0.0.13
  Casks/b/bananas.rb
Labels: bump-cask-pr

#193841 choosy 2.4
  Casks/c/choosy.rb
Labels: bump-cask-pr

#193842 meridiem 0.2.2 (new cask)
  .github/autobump.txt
  Casks/m/meridiem.rb
Labels: automerge-skip, new cask, autobump

#193847 visual-paradigm 17.2,20241201
  Casks/v/visual-paradigm.rb
Labels: bump-cask-pr

#193853 caprine 2.60.3
  Casks/c/caprine.rb
Labels: bump-cask-pr

#193854 dolphin, dolphin@beta 2412
  Casks/d/dolphin.rb
  Casks/d/dolphin@beta.rb
Labels: automerge-skip

#193866 circuitjs1 3.0.3js
  Casks/c/circuitjs1.rb
Labels: bump-cask-pr, extract_plist livecheck

#193865 bisq 1.9.18
  .github/autobump.txt
  Casks/b/bisq.rb
Labels: automerge-skip, bump-cask-pr, autobump

#193867 dogecoin 1.14.9
  .github/autobump.txt
  Casks/d/dogecoin.rb
Labels: automerge-skip, bump-cask-pr, autobump

#193376 samsung-magician 8.2.0.880
  Casks/s/samsung-magician.rb
  Casks/s/samsung-portable-ssd-t7.rb
  cask_renames.json
Labels: automerge-skip

#193869 kiwix: disable
  Casks/k/kiwix.rb
Labels: ci-syntax-only, cask disabled

#193870 low-profile 4.0.3
  .github/autobump.txt
  Casks/l/low-profile.rb
Labels: automerge-skip, bump-cask-pr, autobump

#193872 qgroundcontrol 4.4.3
  .github/autobump.txt
  Casks/q/qgroundcontrol.rb
Labels: automerge-skip, bump-cask-pr, autobump

#193871 splashtop-business 3.7.2.4
  .github/autobump.txt
  Casks/s/splashtop-business.rb
Labels: automerge-skip, bump-cask-pr, autobump

#193887 flipper: remove from autobump
  .github/autobump.txt
Labels: automerge-skip, autobump

#193888 zoho-workdrive 2.7.48
  Casks/z/zoho-workdrive.rb
Labels: bump-cask-pr, extract_plist livecheck

#193899 launchcontrol 2.6.4
  .github/autobump.txt
  Casks/l/launchcontrol.rb
Labels: automerge-skip, bump-cask-pr, autobump

#193900 algodoo 2.2.2
  Casks/a/algodoo.rb
Labels: bump-cask-pr

#193898 butt 1.44.0
  Casks/b/butt.rb
Labels: bump-cask-pr

#193913 tableau-prep, tableau-reader 2024.3.1
  Casks/t/tableau-prep.rb
  Casks/t/tableau-reader.rb
Labels: automerge-skip, ci-skip-livecheck

#191077 tableau-public 2024.3.1
  Casks/t/tableau-public.rb
Labels: ci-skip-livecheck

#193816 tableau 2024.3.1 and update livecheck strategy
  Casks/t/tableau.rb
Labels: livecheck, ci-skip-livecheck

#193930 discord 0.0.328
  Casks/d/discord.rb
Labels: bump-cask-pr

#193936 aptible 0.23.0
  Casks/a/aptible.rb
Labels: bump-cask-pr

#193947 choosy 2.4.1
  Casks/c/choosy.rb
Labels: bump-cask-pr

#193954 insta360-studio 5.4.6
  Casks/i/insta360-studio.rb
Labels: bump-cask-pr

#193955 satyrn 0.0.99
  Casks/s/satyrn.rb
Labels: bump-cask-pr

#193956 fractal-bot 3.00.21
  Casks/f/fractal-bot.rb
Labels: bump-cask-pr

#193957 clip-studio-paint 3.2.0
  Casks/c/clip-studio-paint.rb
Labels: bump-cask-pr

#193885 steinberg-library-manager 3.2.50.300,99604c6c-120b-397a-822a-80ea66cfb62c (new cask)
  Casks/s/steinberg-library-manager.rb
Labels: new cask

#193884 steinberg-mediabay 1.2.10.24,d8dff13b-da53-3b3f-bf2f-45050b719536 (new cask)
  Casks/s/steinberg-mediabay.rb
Labels: new cask

#193980 utm 4.6.3
  .github/autobump.txt
  Casks/u/utm.rb
Labels: automerge-skip, bump-cask-pr, autobump

#193987 font-ibm-plex-sans-sc 1.1.0 (new cask)
  Casks/font/font-i/font-ibm-plex-sans-sc.rb
Labels: new cask

#193988 radar 2.6.8
  Casks/r/radar.rb
Labels: bump-cask-pr

#192724 wezterm@nightly: add shell completions
  Casks/w/wezterm@nightly.rb
Labels: ci-syntax-only

#194043 expo-orbit 2.0.1
  Casks/e/expo-orbit.rb
Labels: bump-cask-pr

#194044 wizcli 0.61.0
  .github/autobump.txt
  Casks/w/wizcli.rb
Labels: automerge-skip, autobump

#194047 bartender 5.2.7
  Casks/b/bartender.rb
Labels: bump-cask-pr

#194052 ishare 4.1.4
  Casks/i/ishare.rb
Labels: bump-cask-pr

#194053 timecamp 1.8.0.0
  Casks/t/timecamp.rb
Labels: bump-cask-pr

#194054 sensei 1.5.13
  Casks/s/sensei.rb
Labels: bump-cask-pr

#194056 height 0.28.2
  Casks/h/height.rb
Labels: bump-cask-pr

#194057 maxon 2025.2.0
  Casks/m/maxon.rb
Labels: bump-cask-pr

#194058 mailbird 1.0.5
  Casks/m/mailbird.rb
Labels: bump-cask-pr

#194059 nwjs 0.94.0
  Casks/n/nwjs.rb
Labels: bump-cask-pr

#194061 viscosity 1.11.4
  Casks/v/viscosity.rb
Labels: bump-cask-pr

#194062 principle 6.37
  Casks/p/principle.rb
Labels: bump-cask-pr

#194065 lunatask 2.0.14
  Casks/l/lunatask.rb
Labels: bump-cask-pr

#194045 retro-virtual-machine 2.1.18
  Casks/r/retro-virtual-machine.rb
Labels: bump-cask-pr

#194099 google-chrome 131.0.6778.109
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#193962 sococo: update zap
  Casks/s/sococo.rb
Labels: livecheck, extract_plist livecheck

#194112 aerial@beta 3.5.2beta4
  .github/autobump.txt
  Casks/a/aerial@beta.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194116 capto 2.1.2
  Casks/c/capto.rb
Labels: bump-cask-pr, extract_plist livecheck

#194118 djstudio 2.6.106
  Casks/d/djstudio.rb
Labels: bump-cask-pr

#194121 eobcanka 3.4.4
  Casks/e/eobcanka.rb
Labels: bump-cask-pr

#194119 epic-games 17.2.0
  .github/autobump.txt
  Casks/e/epic-games.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194124 gosign 2.2.9
  Casks/g/gosign.rb
Labels: bump-cask-pr, extract_plist livecheck

#194117 coconutbattery 4.0.0
  Casks/c/coconutbattery.rb
Labels: bump-cask-pr

#194128 inkdrop 5.9.0
  .github/autobump.txt
  Casks/i/inkdrop.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194130 meld-studio 0.8.1.1
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#194132 netnewswire@beta 6.1.5b4
  Casks/n/netnewswire@beta.rb
Labels: bump-cask-pr

#194131 netnewswire 6.1.5
  Casks/n/netnewswire.rb
Labels: bump-cask-pr

#194133 ontime 3.9.1
  .github/autobump.txt
  Casks/o/ontime.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194137 pluginval 1.0.4
  Casks/p/pluginval.rb
Labels: bump-cask-pr

#194139 realforce 3.3.1
  .github/autobump.txt
  Casks/r/realforce.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194135 opensoundmeter 1.4
  .github/autobump.txt
  Casks/o/opensoundmeter.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194143 sherlock 2.11.0
  .github/autobump.txt
  Casks/s/sherlock.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194145 shutter-encoder 18.6
  .github/autobump.txt
  Casks/s/shutter-encoder.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194115 chrome-remote-desktop-host 132.0.6834.11
  Casks/c/chrome-remote-desktop-host.rb
Labels: ci-skip-install, bump-cask-pr, extract_plist livecheck

#194148 speedify 15.1.1
  Casks/s/speedify.rb
Labels: bump-cask-pr, extract_plist livecheck

#194138 qfinder-pro 7.11.3
  .github/autobump.txt
  Casks/q/qfinder-pro.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194150 sqlitemanager 4.9.2
  Casks/s/sqlitemanager.rb
Labels: bump-cask-pr

#194151 vk-calls 1.38.25871
  Casks/v/vk-calls.rb
Labels: bump-cask-pr, extract_plist livecheck

#194154 xtool-creative-space 2.3.24
  Casks/x/xtool-creative-space.rb
Labels: bump-cask-pr

#194155 zspace 2.12.2024112201
  Casks/z/zspace.rb
Labels: bump-cask-pr

#194142 seadrive 3.0.12
  .github/autobump.txt
  Casks/s/seadrive.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194153 tencent-docs 3.9.0
  Casks/t/tencent-docs.rb
Labels: bump-cask-pr

#194220 last-window-quits 1.1.4
  Casks/l/last-window-quits.rb
Labels: bump-cask-pr

#194201 itk-snap 4.2.2
  Casks/i/itk-snap.rb
Labels: bump-cask-pr

#194202 connectiq 7.4.1
  Casks/c/connectiq.rb
Labels: bump-cask-pr

#194203 dbvisualizer 24.3.1
  Casks/d/dbvisualizer.rb
Labels: bump-cask-pr

#194204 bootstrap-studio 7.0.0
  Casks/b/bootstrap-studio.rb
Labels: bump-cask-pr

#194206 eclipse-platform 4.34
  Casks/e/eclipse-platform.rb
Labels: bump-cask-pr

#194262 spotify 1.2.52.442
  Casks/s/spotify.rb
Labels: bump-cask-pr, extract_plist livecheck

#194236 steinberg-download-assistant: update livecheck url
  Casks/s/steinberg-download-assistant.rb
Labels: livecheck

#194269 bankid 7.15.0
  Casks/b/bankid.rb
Labels: bump-cask-pr, ci-skip-livecheck, extract_plist livecheck

#194279 katalon-studio 10.0.1
  Casks/k/katalon-studio.rb
Labels: bump-cask-pr

#194290 filen 3.0.40
  Casks/f/filen.rb
Labels: bump-cask-pr

#194291 sonic3air 24.02.02.1
  Casks/s/sonic3air.rb
Labels: bump-cask-pr

#194292 ok-json 2.8.0
  Casks/o/ok-json.rb
Labels: bump-cask-pr

#194295 parsec 150-96a
  Casks/p/parsec.rb
Labels: bump-cask-pr

#194294 prism 10.4.1
  Casks/p/prism.rb
Labels: bump-cask-pr

#194293 kstars 3.7.4
  Casks/k/kstars.rb
Labels: bump-cask-pr

#194051 intune-company-portal 5.2410.1
  Casks/i/intune-company-portal.rb
Labels: bump-cask-pr

#194326 soundsource 5.7.5
  Casks/s/soundsource.rb
Labels: bump-cask-pr

#194327 tageditor 1.0.15,1284
  Casks/t/tageditor.rb
Labels: bump-cask-pr, extract_plist livecheck

#194328 mqttfx 5.9.0
  Casks/m/mqttfx.rb
Labels: bump-cask-pr

#194096 nvidia-nsight-systems 2024.7.1.84-3512561 (new cask)
  Casks/n/nvidia-nsight-systems.rb
Labels: new cask

#194359 google-drive 101.0.1
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr, extract_plist livecheck

#194361 commandpost 1.5.1
  .github/autobump.txt
  Casks/c/commandpost.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194364 electron-cash 4.4.2
  .github/autobump.txt
  Casks/e/electron-cash.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194363 djstudio 2.6.108
  .github/autobump.txt
  Casks/d/djstudio.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194366 hides 7.0
  .github/autobump.txt
  Casks/h/hides.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194395 airflow 3.3.8
  Casks/a/airflow.rb
Labels: bump-cask-pr

#194396 workflows/ci: enable merge queue/group jobs.
  .github/workflows/ci.yml
Labels: automerge-skip

#194417 vorta 0.10.2
  Casks/v/vorta.rb
Labels: bump-cask-pr

#194423 nota 0.41.0
  Casks/n/nota.rb
Labels: bump-cask-pr

#194424 tinypng4mac 2.0.0
  Casks/t/tinypng4mac.rb
Labels: bump-cask-pr

#194426 onecast 2.3
  .github/autobump.txt
  Casks/o/onecast.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194427 macwinzipper 2.7.2
  Casks/m/macwinzipper.rb
Labels: bump-cask-pr

#194429 mailsteward 17.1.3
  Casks/m/mailsteward.rb
Labels: bump-cask-pr

#194432 meld-studio 0.8.1.2
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#194430 minstaller 3.2.0
  .github/autobump.txt
  Casks/m/minstaller.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194431 cacher 2.47.6
  .github/autobump.txt
  Casks/c/cacher.rb
Labels: automerge-skip, bump-cask-pr, autobump

#194442 eclipse-dsl 4.34.0
  Casks/e/eclipse-dsl.rb
Labels: bump-cask-pr

#194441 eclipse-jee 4.34.0
  Casks/e/eclipse-jee.rb
Labels: bump-cask-pr

#194440 eclipse-modeling 4.34.0
  Casks/e/eclipse-modeling.rb
Labels: bump-cask-pr

#194439 eclipse-cpp 4.34.0
  Casks/e/eclipse-cpp.rb
Labels: bump-cask-pr

#194438 eclipse-ide 4.34.0
  Casks/e/eclipse-ide.rb
Labels: bump-cask-pr

#194436 eclipse-java 4.34.0
  Casks/e/eclipse-java.rb
Labels: bump-cask-pr

#194434 eclipse-installer 4.34.0
  Casks/e/eclipse-installer.rb
Labels: bump-cask-pr

#194433 brave-browser@dev: disable
  Casks/b/brave-browser@dev.rb
Labels: ci-syntax-only, cask disabled

#194443 windsurf 1.0.6
  Casks/w/windsurf.rb
Labels: bump-cask-pr

#194437 eclipse-php 4.34.0
  Casks/e/eclipse-php.rb
Labels: bump-cask-pr
