Repository Homebrew/homebrew-cask, pull requests merged in 2024-01, with the labels that each got.

#163554 sonarr 4.0.0.748
  Casks/s/sonarr.rb
Labels: bump-cask-pr

#163552 radicle-upstream: remove
  Casks/r/radicle-upstream.rb
Labels: marked for removal/rejection

#163562 arq 7.26.6
  Casks/a/arq.rb
Labels: bump-cask-pr

#163560 raze 1.9.0
  Casks/r/raze.rb
Labels: bump-cask-pr

#163561 ticktick 5.0.40
  Casks/t/ticktick.rb
Labels: bump-cask-pr

#163563 hypercal 0.0.111
  Casks/h/hypercal.rb
Labels: bump-cask-pr

#163564 meld-studio 0.5.1.1
  Casks/m/meld-studio.rb
Labels: bump-cask-pr

#163565 heptabase 1.18.4
  Casks/h/heptabase.rb
Labels: bump-cask-pr

#163578 keybase 6.2.5
  Casks/k/keybase.rb
Labels: bump-cask-pr

#163567 dcp-o-matic-player 2.16.71
  Casks/d/dcp-o-matic-player.rb
Labels: bump-cask-pr

#163568 dcp-o-matic-editor 2.16.71
  Casks/d/dcp-o-matic-editor.rb
Labels: bump-cask-pr

#163569 dcp-o-matic-encode-server 2.16.71
  Casks/d/dcp-o-matic-encode-server.rb
Labels: bump-cask-pr

#163571 dcp-o-matic-disk-writer 2.16.71
  Casks/d/dcp-o-matic-disk-writer.rb
Labels: bump-cask-pr

#163570 dcp-o-matic-playlist-editor 2.16.71
  Casks/d/dcp-o-matic-playlist-editor.rb
Labels: bump-cask-pr

#163572 dcp-o-matic-combiner 2.16.71
  Casks/d/dcp-o-matic-combiner.rb
Labels: bump-cask-pr

#163573 dcp-o-matic-batch-converter 2.16.71
  Casks/d/dcp-o-matic-batch-converter.rb
Labels: bump-cask-pr

#163574 dcp-o-matic-kdm-creator 2.16.71
  Casks/d/dcp-o-matic-kdm-creator.rb
Labels: bump-cask-pr

#163575 dcp-o-matic 2.16.71
  Casks/d/dcp-o-matic.rb
Labels: bump-cask-pr

#163576 quit-all 1.3.1
  Casks/q/quit-all.rb
Labels: bump-cask-pr

#163577 qth 0.8.8
  Casks/q/qth.rb
Labels: bump-cask-pr

#163579 weakauras-companion 5.2.2
  Casks/w/weakauras-companion.rb
Labels: bump-cask-pr

#163566 contour 0.4.1.6292
  Casks/c/contour.rb
Labels: bump-cask-pr

#163583 texshop 5.24
  Casks/t/texshop.rb
Labels: bump-cask-pr

#163584 brightintosh 1.5.0
  Casks/b/brightintosh.rb
Labels: bump-cask-pr

#163582 iina 1.3.4
  Casks/i/iina.rb
Labels: bump-cask-pr

#163597 countdown: `disable` as it stopped working
  Casks/c/countdown.rb
Labels: ci-syntax-only, missing description, missing zap

#163596 thetimemachinemechanic 2.00
  Casks/t/thetimemachinemechanic.rb
Labels: bump-cask-pr

#163599 rectangle-pro 3.0.16
  Casks/r/rectangle-pro.rb
Labels: bump-cask-pr

#163598 electronic-wechat: add `desc` and `disable` as it stopped working
  Casks/e/electronic-wechat.rb
Labels: ci-syntax-only

#163587 quickboot: deprecate
  Casks/q/quickboot.rb
Labels: missing description, missing zap

#163601 screenflick 3.2
  Casks/s/screenflick.rb
Labels: bump-cask-pr

#163588 qqmacmgr: disable in favor of `tencent-lemon`
  Casks/q/qqmacmgr.rb
Labels: ci-syntax-only, missing description, missing zap

#163555 mplab-xc16: update livecheck
  Casks/m/mplab-xc16.rb
Labels: ci-syntax-only, livecheck, missing zap

#163608 spatial: remove
  Casks/s/spatial.rb
Labels: marked for removal/rejection

#163606 gifrocket: remove
  Casks/g/gifrocket.rb
Labels: marked for removal/rejection

#163602 casks: add `desc`
  Casks/c/colortester.rb
  Casks/e/emojipedia.rb
  Casks/h/hfsleuth.rb
  Casks/m/mp3gain-express.rb
  Casks/m/mumu.rb
  Casks/q/quickbooks-online.rb
Labels: automerge-skip

#163600 happygrep: `disable`
  Casks/h/happygrep.rb
Labels: ci-syntax-only

#163585 restream-chat: update artifact url and livecheck
  Casks/r/restream-chat.rb
Labels: livecheck

#163605 tikz-editor: remove
  Casks/t/tikz-editor.rb
Labels: upstream, marked for removal/rejection

#163611 keypad-layout 1.11
  Casks/k/keypad-layout.rb
Labels: bump-cask-pr

#163586 qnapi: `disable` as it stops working
  Casks/q/qnapi.rb
Labels: ci-syntax-only, missing description, missing zap

#163614 ci/triage: add `cask disabled` and `cask deprecated` labels
  .github/workflows/triage.yml
Labels: automerge-skip

#163621 swiftplantumlapp 1.6.0
  Casks/s/swiftplantumlapp.rb
Labels: bump-cask-pr

#163592 laverna: deprecate
  Casks/l/laverna.rb
Labels: ci-syntax-only, missing zap, cask deprecated

#163622 ultrastardeluxe 2024.1.0
  Casks/u/ultrastardeluxe.rb
Labels: bump-cask-pr

#163623 xmplify 1.11.3
  Casks/x/xmplify.rb
Labels: bump-cask-pr

#163624 panoply 5.3.1
  Casks/p/panoply.rb
Labels: bump-cask-pr

#163625 nosqlbooster-for-mongodb 8.1.6
  Casks/n/nosqlbooster-for-mongodb.rb
Labels: bump-cask-pr

#163515 finalshell 4.3.10
  Casks/f/finalshell.rb
Labels: bump-cask-pr

#163629 pile 0.9.2 (new cask)
  Casks/p/pile.rb
Labels: new cask

#163631 qqlive 2.85.2.54044
  Casks/q/qqlive.rb
Labels: bump-cask-pr

#163632 dingtalk 7.5.0.5_34322250
  Casks/d/dingtalk.rb
Labels: bump-cask-pr

#163633 raze 1.9.1
  Casks/r/raze.rb
Labels: bump-cask-pr

#163635 mochi-diffusion 4.7.1
  Casks/m/mochi-diffusion.rb
Labels: bump-cask-pr

#163634 forkgram-telegram 4.14.1
  Casks/f/forkgram-telegram.rb
Labels: bump-cask-pr

#163637 supermjograph 0.17.2
  Casks/s/supermjograph.rb
Labels: bump-cask-pr

#163638 enpass 6.9.3.1595
  Casks/e/enpass.rb
Labels: bump-cask-pr

#163640 lunar 6.5.0
  Casks/l/lunar.rb
Labels: bump-cask-pr

#163639 valentina-studio 13.7.1
  Casks/v/valentina-studio.rb
Labels: bump-cask-pr

#163641 publii 0.44.4
  Casks/p/publii.rb
Labels: bump-cask-pr

#163617 flomo: disable
  Casks/f/flomo.rb
Labels: ci-syntax-only, cask disabled

#163616 framer-x-remove: disable
  Casks/f/framer-x.rb
Labels: ci-syntax-only, missing zap, cask disabled

#163644 telegram-desktop 4.14.2
  Casks/t/telegram-desktop.rb
Labels: bump-cask-pr

#163649 gpxsee 13.14
  Casks/g/gpxsee.rb
Labels: bump-cask-pr

#163651 mkvtoolnix 82.0
  Casks/m/mkvtoolnix.rb
Labels: bump-cask-pr

#163647 default-folder-x 6.0.4
  Casks/d/default-folder-x.rb
Labels: bump-cask-pr

#163653 lens 2023.12.281947
  Casks/l/lens.rb
Labels: bump-cask-pr

#163648 fedistar 1.8.0
  Casks/f/fedistar.rb
Labels: bump-cask-pr

#163654 monotype 6.4.4
  Casks/m/monotype.rb
Labels: bump-cask-pr

#163656 mweb-pro 4.5.4
  Casks/m/mweb-pro.rb
Labels: bump-cask-pr

#163655 munki 6.4.0.4627
  Casks/m/munki.rb
Labels: bump-cask-pr

#163652 ishowu-instant 1.4.18
  Casks/i/ishowu-instant.rb
Labels: bump-cask-pr

#163659 syncthing 1.27.2-1
  Casks/s/syncthing.rb
Labels: bump-cask-pr

#163663 yate 6.18
  Casks/y/yate.rb
Labels: bump-cask-pr

#163661 tidelift 1.13.24
  Casks/t/tidelift.rb
Labels: bump-cask-pr

#163660 routine 0.17.4
  Casks/r/routine.rb
Labels: bump-cask-pr

#163658 tibco-jaspersoft-studio: rename to jaspersoft-studio and various updates
  Casks/j/jaspersoft-studio.rb
  cask_renames.json
Labels: automerge-skip

#163666 bootstrap-studio 6.6.0
  Casks/b/bootstrap-studio.rb
Labels: bump-cask-pr

#163667 anka-virtualization 3.3.8.178
  Casks/a/anka-virtualization.rb
Labels: bump-cask-pr

#163670 clop 2.5.3
  Casks/c/clop.rb
Labels: bump-cask-pr

#163682 forkgram-telegram 4.14.2
  Casks/f/forkgram-telegram.rb
Labels: bump-cask-pr

#163680 aladin: update urls
  Casks/a/aladin.rb
Labels: ci-skip-livecheck

#163685 gcs 5.20.0
  Casks/g/gcs.rb
Labels: bump-cask-pr

#163686 lazarus 3.0
  Casks/l/lazarus.rb
Labels: bump-cask-pr

#163668 115browser 26.0.1.15
  Casks/1/115browser.rb
Labels: bump-cask-pr

#163692 roam 90.0.0-beta001
  Casks/r/roam.rb
Labels: bump-cask-pr

#163694 solar2d 2024.3702
  Casks/s/solar2d.rb
Labels: bump-cask-pr

#163695 ankerwork 2.5.8
  Casks/a/ankerwork.rb
Labels: bump-cask-pr

#163696 mellel 6.0.1
  Casks/m/mellel.rb
Labels: bump-cask-pr

#163697 coteditor 4.7.2
  Casks/c/coteditor.rb
Labels: bump-cask-pr

#163693 gridtracker 1.24.0103
  Casks/g/gridtracker.rb
Labels: bump-cask-pr

#163689 jasp 0.18.2.0
  Casks/j/jasp.rb
Labels: bump-cask-pr

#163699 wechatwebdevtools 1.06.2401020
  Casks/w/wechatwebdevtools.rb
Labels: bump-cask-pr

#163700 wechatwebdevtools 1.06.2401020
  Casks/w/wechatwebdevtools.rb
Labels: bump-cask-pr

#163687 linear-linear: update `livecheck` strategy, use versioned `url`
  Casks/l/linear-linear.rb
Labels: ci-retry, bump-cask-pr

#163703 grammarly-desktop 1.50.0.1
  Casks/g/grammarly-desktop.rb
Labels: bump-cask-pr

#163706 rightfont 8.5
  Casks/r/rightfont.rb
Labels: bump-cask-pr

#163708 unite-phone 2024.1.0
  Casks/u/unite-phone.rb
Labels: bump-cask-pr

#163710 get-iplayer-automator 1.26.0
  Casks/g/get-iplayer-automator.rb
Labels: bump-cask-pr

#163707 dingtalk 7.5.0.6_34361651
  Casks/d/dingtalk.rb
Labels: bump-cask-pr

#163711 transcribe 9.40.0
  Casks/t/transcribe.rb
Labels: bump-cask-pr

#163712 to-audio-converter 1.0.19,1217
  Casks/t/to-audio-converter.rb
Labels: bump-cask-pr

#163721 gridtracker 1.24.0104
  Casks/g/gridtracker.rb
Labels: bump-cask-pr

#163716 entry 2.1.10
  Casks/e/entry.rb
Labels: bump-cask-pr

#163718 egnyte 0.10.3
  Casks/e/egnyte.rb
Labels: bump-cask-pr

#163719 wondershare-uniconverter 15.0.6
  Casks/w/wondershare-uniconverter.rb
Labels: bump-cask-pr

#163717 pdf-reader-pro 3.2.1.0
  Casks/p/pdf-reader-pro.rb
Labels: bump-cask-pr

#163720 lynx 8.2.6.0
  Casks/l/lynx.rb
Labels: bump-cask-pr

#163715 vimr 0.46.0
  Casks/v/vimr.rb
Labels: bump-cask-pr

#163730 google-chrome 120.0.6099.199
  Casks/g/google-chrome.rb
Labels: bump-cask-pr

#163723 ukelele 3.5.8
  Casks/u/ukelele.rb
Labels: bump-cask-pr

#163724 tuist 3.38.0
  Casks/t/tuist.rb
Labels: bump-cask-pr

#163725 ubiquiti-unifi-controller 8.0.26
  Casks/u/ubiquiti-unifi-controller.rb
Labels: bump-cask-pr

#163728 android-studio 2023.1.1.27
  Casks/a/android-studio.rb
Labels: bump-cask-pr

#163729 betterandbetter 2.6.0
  Casks/b/betterandbetter.rb
Labels: bump-cask-pr

#163726 trainerroad 2023.51.1.295
  Casks/t/trainerroad.rb
Labels: bump-cask-pr

#163731 wireshark 4.2.1
  Casks/w/wireshark.rb
Labels: bump-cask-pr

#163727 shift 9.2.2.1057
  Casks/s/shift.rb
Labels: bump-cask-pr

#163737 google-drive 85.0.32
  Casks/g/google-drive.rb
Labels: bump-cask-pr

#163738 signal 6.43.0
  Casks/s/signal.rb
Labels: bump-cask-pr

#163739 bettertouchtool 4.366
  Casks/b/bettertouchtool.rb
Labels: bump-cask-pr

#163741 tableplus 5.8.2
  Casks/t/tableplus.rb
Labels: bump-cask-pr

#163742 httpie 2024.1.1
  Casks/h/httpie.rb
Labels: bump-cask-pr

#163755 hydrus-network 557
  Casks/h/hydrus-network.rb
Labels: bump-cask-pr

#163753 aqua-data-studio 23.1.0
  Casks/a/aqua-data-studio.rb
Labels: bump-cask-pr

#163746 gcs 5.20.2
  Casks/g/gcs.rb
Labels: bump-cask-pr

#163754 macwhisper 6.9.1
  Casks/m/macwhisper.rb
Labels: bump-cask-pr

#163751 the-battle-for-wesnoth 1.16.11
  Casks/t/the-battle-for-wesnoth.rb
Labels: bump-cask-pr

#163750 twine 2.8.1
  Casks/t/twine.rb
Labels: bump-cask-pr

#163749 screens-connect 5.0.6
  Casks/s/screens-connect.rb
Labels: bump-cask-pr

#163748 thetimemachinemechanic 2.01
  Casks/t/thetimemachinemechanic.rb
Labels: bump-cask-pr

#163747 zalo 23.12.1
  Casks/z/zalo.rb
Labels: bump-cask-pr

#163745 genesys-cloud 2.31.584
  Casks/g/genesys-cloud.rb
Labels: bump-cask-pr

#163744 roam 90.1.0-beta001
  Casks/r/roam.rb
Labels: bump-cask-pr

#163757 binance 1.49.0
  Casks/b/binance.rb
Labels: bump-cask-pr

#163758 blockbench 4.9.3
  Casks/b/blockbench.rb
Labels: bump-cask-pr

#163759 bugdom 1.3.4
  Casks/b/bugdom.rb
Labels: bump-cask-pr

#163760 lark 7.8.8
  Casks/l/lark.rb
Labels: bump-cask-pr

#163761 wireshark-chmodbpf 4.2.1
  Casks/w/wireshark-chmodbpf.rb
Labels: bump-cask-pr, missing zap

#163752 sunloginclient 15.0.0.56590
  Casks/s/sunloginclient.rb
Labels: bump-cask-pr

#163769 telegram 10.5
  Casks/t/telegram.rb
Labels: bump-cask-pr

#163756 vbrokers 2.3.712
  Casks/v/vbrokers.rb
Labels: bump-cask-pr

#163770 colorwell 7.4.1
  Casks/c/colorwell.rb
Labels: bump-cask-pr

#163772 permute 3.11.4,2733
  Casks/p/permute.rb
Labels: bump-cask-pr

#163764 mirrorop: disable
  Casks/m/mirrorop.rb
Labels: ci-syntax-only, missing zap

#163774 path-finder 2165
  Casks/p/path-finder.rb
Labels: bump-cask-pr

#163776 p4 2023.2,2535420
  Casks/p/p4.rb
Labels: bump-cask-pr

#163778 opencat 2.0.4
  Casks/o/opencat.rb
Labels: bump-cask-pr

#163779 mp3tag 1.8.12
  Casks/m/mp3tag.rb
Labels: bump-cask-pr

#163780 datadog-agent 7.50.2-1
  Casks/d/datadog-agent.rb
Labels: bump-cask-pr
