Repository Homebrew/homebrew-cask, pull requests merged in 2024-07, with the labels that each got.

#178099 various: add rosetta caveats [s-z]
  Casks/s/scala-ide.rb
  Casks/s/scidvsmac.rb
  Casks/s/second-life-viewer.rb
  Casks/s/semeru-jdk-open@8.rb
  Casks/s/sensiblesidebuttons.rb
  Casks/s/sequel-pro.rb
  Casks/s/session.rb
  Casks/s/shades.rb
  Casks/s/shiba.rb
  Casks/s/shiftit.rb
  Casks/s/sigdigger.rb
  Casks/s/singularity.rb
  Casks/s/skychart.rb
  Casks/s/slippi-dolphin.rb
  Casks/s/socket-io-tester.rb
  Casks/s/spaceradar.rb
  Casks/s/steam.rb
  Casks/s/steamcmd.rb
  Casks/s/steelseries-engine.rb
  Casks/s/steelseries-gg.rb
  Casks/s/subsync.rb
  Casks/s/swiftdefaultappsprefpane.rb
  Casks/s/syncmate.rb
  Casks/s/synology-note-station-client.rb
  Casks/t/teambition.rb
  Casks/t/temurin@8.rb
  Casks/t/texmaker.rb
  Casks/t/tla-plus-toolbox.rb
  Casks/t/tortoisehg.rb
  Casks/t/trilium-notes.rb
  Casks/t/tvrenamer.rb
  Casks/u/ubports-installer.rb
  Casks/u/udig.rb
  Casks/u/uncolored.rb
  Casks/u/unipro-ugene.rb
  Casks/u/unity-hub.rb
  Casks/v/v2ray-unofficial.rb
  Casks/v/vagrant-manager.rb
  Casks/v/visualboyadvance-m.rb
  Casks/v/vmpk.rb
  Casks/v/vnote.rb
  Casks/v/vox-preferences-pane.rb
  Casks/w/weiyun.rb
  Casks/w/wey.rb
  Casks/w/wine-stable.rb
  Casks/w/wine@devel.rb
  Casks/w/wine@staging.rb
  Casks/w/wombat.rb
  Casks/x/xiaomi-cloud.rb
  Casks/z/zecwallet-lite.rb
  Casks/z/zotero.rb
Labels: automerge-skip

#178172 charmstone 1.31 (new cask)
  Casks/c/charmstone.rb
Labels: new cask

#178164 metashape*: update url
  Casks/m/metashape.rb
  Casks/m/metashapepro.rb
Labels: automerge-skip

#178182 sonarr 4.0.6.1805
  Casks/s/sonarr.rb
Labels: bump-cask-pr

#178180 hstracker 2.7.10
  Casks/h/hstracker.rb
Labels: bump-cask-pr

#178211 asciidocfx 1.8.10
  Casks/a/asciidocfx.rb
Labels: bump-cask-pr

#178212 preform 3.37.4
  Casks/p/preform.rb
Labels: bump-cask-pr

#178216 cahier 0.7.0
  Casks/c/cahier.rb
Labels: bump-cask-pr

#178215 kiwix 3.4.0
  Casks/k/kiwix.rb
Labels: bump-cask-pr

#178213 vimr 0.47.5
  Casks/v/vimr.rb
Labels: bump-cask-pr

#178214 gnucash 5.7-1
  Casks/g/gnucash.rb
Labels: bump-cask-pr

#178224 teleport-connect 16.0.3
  Casks/t/teleport-connect.rb
Labels: bump-cask-pr

#178181 elektron-transfer 1.8.10
  Casks/e/elektron-transfer.rb
Labels: bump-cask-pr

#178225 yealink-meeting 4.6.23
  Casks/y/yealink-meeting.rb
Labels: bump-cask-pr

#178234 mysqlworkbench 8.0.38
  Casks/m/mysqlworkbench.rb
Labels: bump-cask-pr

#178226 todoist 9.6.3
  Casks/t/todoist.rb
Labels: bump-cask-pr

#178245 commander-one 3.9
  Casks/c/commander-one.rb
Labels: bump-cask-pr

#178268 carbide-create 777
  Casks/c/carbide-create.rb
Labels: bump-cask-pr

#178270 herd 1.8.0
  Casks/h/herd.rb
Labels: bump-cask-pr

#178269 fedora-media-writer 5.1.2
  Casks/f/fedora-media-writer.rb
Labels: bump-cask-pr

#178271 lookingglassstudio 1.6.0
  Casks/l/lookingglassstudio.rb
Labels: bump-cask-pr

#178277 outline 4.2406.0
  Casks/o/outline.rb
Labels: bump-cask-pr

#178279 spamsieve 3.0.5
  Casks/s/spamsieve.rb
Labels: bump-cask-pr

#178246 fix putio-adder shasum
  Casks/p/putio-adder.rb
Labels: missing description, missing zap, checksum-mismatch

#178218 gamemaker: fix livecheck
  Casks/g/gamemaker.rb
Labels: livecheck

#178217 creality-print 5.0.3.8744
  Casks/c/creality-print.rb
Labels: bump-cask-pr

#178280 tidgi 0.10.2
  Casks/t/tidgi.rb
Labels: bump-cask-pr

#178281 wins 2.1
  Casks/w/wins.rb
Labels: bump-cask-pr

#178282 beyond-compare@beta 5.0.0.29727
  Casks/b/beyond-compare@beta.rb
Labels: bump-cask-pr

#178283 vnote 3.18.0
  Casks/v/vnote.rb
Labels: bump-cask-pr

#178298 playcover-community 3.0.0
  Casks/p/playcover-community.rb
Labels: bump-cask-pr

#177922 boom-3d 2.2.0
  Casks/b/boom-3d.rb
Labels: stale, bump-cask-pr

#178308 get-api 1.1.2
  Casks/g/get-api.rb
Labels: bump-cask-pr

#178321 warzone-2100 4.5.0
  Casks/w/warzone-2100.rb
Labels: bump-cask-pr

#178320 tyme 2024.11
  Casks/t/tyme.rb
Labels: bump-cask-pr

#178317 psst 0.1.0,20240701.220025
  Casks/p/psst.rb
Labels: bump-cask-pr

#178315 network-radar 3.1
  Casks/n/network-radar.rb
Labels: bump-cask-pr

#178314 macx-youtube-downloader 5.3.0
  Casks/m/macx-youtube-downloader.rb
Labels: bump-cask-pr

#178313 mysql-shell 9.0.0
  Casks/m/mysql-shell.rb
Labels: bump-cask-pr

#178311 nifty 3.92.7
  Casks/n/nifty.rb
Labels: bump-cask-pr

#178310 mongodb-compass@beta 1.43.4-beta.1
  Casks/m/mongodb-compass@beta.rb
Labels: bump-cask-pr

#178316 nvidia-geforce-now 2.0.64.124
  Casks/n/nvidia-geforce-now.rb
Labels: bump-cask-pr

#178334 wetype 1.2.0,368
  Casks/w/wetype.rb
Labels: bump-cask-pr

#177874 Add retroarch metal nightly
  Casks/r/retroarch-metal@nightly.rb
Labels: automerge-skip, new cask

#178011 positron 2024.06.1-27 (new cask)
  Casks/p/positron.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, new cask

#178312 mplab-xc8 2.49
  Casks/m/mplab-xc8.rb
Labels: bump-cask-pr

#178219 ghost-browser 2.3.0.4 (arm)
  Casks/g/ghost-browser.rb
Labels: livecheck

#178367 clash-verge-rev 1.7.0
  Casks/c/clash-verge-rev.rb
Labels: bump-cask-pr

#178369 keka 1.4.3
  Casks/k/keka.rb
Labels: bump-cask-pr

#178350 deepl 24.6.11062799
  Casks/d/deepl.rb
Labels: bump-cask-pr

#178351 gamemaker 2024.6.0.157
  Casks/g/gamemaker.rb
Labels: bump-cask-pr

#178349 creality-print 5.1.0.9484
  Casks/c/creality-print.rb
Labels: bump-cask-pr

#178353 dolphin 2407
  Casks/d/dolphin.rb
Labels: livecheck

#178389 hookmark 6.2
  Casks/h/hookmark.rb
Labels: bump-cask-pr

#178388 cursr 1.7.2
  Casks/c/cursr.rb
Labels: bump-cask-pr

#178395 retro-virtual-machine 2.1.16
  Casks/r/retro-virtual-machine.rb
Labels: bump-cask-pr

#178396 rocket-typist 3.1
  Casks/r/rocket-typist.rb
Labels: bump-cask-pr

#178397 sencha 7.8.0.59
  Casks/s/sencha.rb
Labels: bump-cask-pr

#178398 sqlcl 24.2.0.180.1721
  Casks/s/sqlcl.rb
Labels: bump-cask-pr

#178399 steam-plus-plus 3.0.0-rc.9
  Casks/s/steam-plus-plus.rb
Labels: bump-cask-pr

#178401 utterly 1.0.0-SNAPSHOT-5d888fe
  Casks/u/utterly.rb
Labels: bump-cask-pr

#178402 whalebird 6.1.2
  Casks/w/whalebird.rb
Labels: bump-cask-pr

#178403 windscribe 2.10.15
  Casks/w/windscribe.rb
Labels: bump-cask-pr

#178400 steinberg-activation-manager 1.5.0.1163-a3380ca2-9856-35bf-8dde-33586c38d820
  Casks/s/steinberg-activation-manager.rb
Labels: bump-cask-pr

#178097 various: add rosetta caveats [g-m]
  Casks/g/git-it.rb
  Casks/g/gitblade.rb
  Casks/g/gittyup.rb
  Casks/g/gmvault.rb
  Casks/g/gog-galaxy.rb
  Casks/g/goldencheetah.rb
  Casks/g/goofy.rb
  Casks/g/google-chat.rb
  Casks/g/gridtracker.rb
  Casks/h/harmony.rb
  Casks/h/haroopad.rb
  Casks/h/html-mangareader.rb
  Casks/h/hyperbackupexplorer.rb
  Casks/i/ibm-aspera-connect.rb
  Casks/i/icons.rb
  Casks/i/ivideonserver.rb
  Casks/j/jet.rb
  Casks/j/jitsi.rb
  Casks/k/kid3.rb
  Casks/k/komodo-edit.rb
  Casks/k/komodo-ide.rb
  Casks/l/launchrocket.rb
  Casks/l/laverna.rb
  Casks/l/lazarus.rb
  Casks/l/librepcb.rb
  Casks/l/lidarr.rb
  Casks/l/litecoin.rb
  Casks/m/mater.rb
  Casks/m/mbcord.rb
  Casks/m/meld.rb
  Casks/m/mendeley.rb
  Casks/m/messenger-native.rb
  Casks/m/metasploit.rb
  Casks/m/miktex-console.rb
  Casks/m/mindforger.rb
  Casks/m/minecraft.rb
  Casks/m/minecraftpe.rb
  Casks/m/minishift.rb
  Casks/m/mojibar.rb
  Casks/m/mongodbpreferencepane.rb
  Casks/m/mongotron.rb
  Casks/m/multibit-hd.rb
  Casks/m/mumble.rb
  Casks/m/mumble@snapshot.rb
Labels: automerge-skip

#178098 various: add rosetta caveats [n-r]
  Casks/n/natron.rb
  Casks/n/nfov.rb
  Casks/n/nocturn.rb
  Casks/n/nuclear.rb
  Casks/n/nuclino.rb
  Casks/n/nulloy.rb
  Casks/o/oclint.rb
  Casks/o/olive.rb
  Casks/o/openemu.rb
  Casks/o/openemu@experimental.rb
  Casks/o/openmsx.rb
  Casks/o/openpht.rb
  Casks/o/opensesame.rb
  Casks/o/openshot-video-editor.rb
  Casks/o/openshot-video-editor@daily.rb
  Casks/o/origin.rb
  Casks/o/oss-browser.rb
  Casks/p/pd-l2ork.rb
  Casks/p/plex-media-player.rb
  Casks/p/plover.rb
  Casks/p/polkadot-js.rb
  Casks/p/postbox.rb
  Casks/p/pronterface.rb
  Casks/p/protonmail-import-export.rb
  Casks/p/psi-plus.rb
  Casks/p/pyzo.rb
  Casks/q/qdslrdashboard.rb
  Casks/q/qownnotes.rb
  Casks/q/qt3dstudio.rb
  Casks/q/qtox.rb
  Casks/q/qv2ray.rb
  Casks/r/readmoreading.rb
  Casks/r/redream.rb
  Casks/r/retroarch.rb
  Casks/r/robo-3t.rb
  Casks/r/rq.rb
Labels: ci-syntax-only, automerge-skip

#178090 various: add rosetta caveats [d-f]
  Casks/d/daedalus-mainnet.rb
  Casks/d/deezer.rb
  Casks/d/deluge.rb
  Casks/d/detexify.rb
  Casks/d/devilutionx.rb
  Casks/d/diffmerge.rb
  Casks/d/digikam.rb
  Casks/d/disk-inventory-x.rb
  Casks/d/dogecoin.rb
  Casks/d/doomsday-engine.rb
  Casks/d/duckietv.rb
  Casks/d/dwarf-fortress-lmp.rb
  Casks/d/dwarf-fortress.rb
  Casks/e/easyeda.rb
  Casks/e/eclipse-javascript.rb
  Casks/e/eclipse-testing.rb
  Casks/e/edex-ui.rb
  Casks/e/electrocrud.rb
  Casks/e/electrum-grs.rb
  Casks/e/electrum-ltc.rb
  Casks/e/electrum.rb
  Casks/e/electrumsv.rb
  Casks/e/embyserver.rb
  Casks/e/enclave.rb
  Casks/e/envkey.rb
  Casks/e/epic-games.rb
  Casks/e/espresso.rb
  Casks/e/ethereum-wallet.rb
  Casks/e/exist-db.rb
  Casks/e/explorer.rb
  Casks/f/factor.rb
  Casks/f/fightcade.rb
  Casks/f/final-fantasy-xiv-online.rb
  Casks/f/flow.rb
  Casks/f/fly.rb
  Casks/f/foldit.rb
  Casks/f/freesurfer.rb
  Casks/f/functionflip.rb
  Casks/f/fvim.rb
Labels: ci-syntax-only, automerge-skip

#178354 chore: updates positron description
  Casks/p/positron.rb
Labels: ci-syntax-only

#178406 coin-wallet 6.4.2
  Casks/c/coin-wallet.rb
Labels: bump-cask-pr

#178407 positron 2024.06.1-52
  Casks/p/positron.rb
Labels: bump-cask-pr

#178411 lehreroffice 2024.2.3
  Casks/l/lehreroffice.rb
Labels: bump-cask-pr

#178413 trainerroad 2024.25.0.332
  Casks/t/trainerroad.rb
Labels: bump-cask-pr

#177567 plugdata@nightly (new cask)
  Casks/p/plugdata@nightly.rb
Labels: new cask, ready to merge

#177520 horos: add arm arch support
  Casks/h/horos.rb
Labels: livecheck

#177904 ball 1 (new cask)
  Casks/b/ball.rb
Labels: new cask, ci-skip-repository

#178415 jgrennison-openttd 0.60.0
  Casks/j/jgrennison-openttd.rb
Labels: bump-cask-pr

#177395 productive 1.11.0 (new cask)
  Casks/p/productive.rb
Labels: new cask

#176879 ea 13.224.0.5737 (new cask)
  Casks/e/ea.rb
Labels: new cask

#176864 inkdown 1.0.0 (new cask)
  .github/autobump.txt
  Casks/i/inkdown.rb
Labels: automerge-skip, autobump

#174386 wd-security 2.1.2.144 (new cask)
  Casks/w/wd-security.rb
Labels: new cask

#177473 orka-desktop 3.0.0-beta.1 (new cask)
  Casks/o/orka-desktop.rb
Labels: automerge-skip, new cask, ci-skip-repository, ci-skip-token

#178417 clash-verge-rev 1.7.1
  Casks/c/clash-verge-rev.rb
Labels: bump-cask-pr

#178422 catlight 3.7.2
  Casks/c/catlight.rb
Labels: bump-cask-pr

#178423 dialpad 2406.2.0
  Casks/d/dialpad.rb
Labels: bump-cask-pr

#178424 fme 2024.1
  Casks/f/fme.rb
Labels: bump-cask-pr

#178425 bria 6.7.2
  Casks/b/bria.rb
Labels: bump-cask-pr

#178429 meld-studio 0.7.0.1
  Casks/m/meld-studio.rb
Labels: bump-cask-pr

#178430 positron 2024.06.1-54
  .github/autobump.txt
  Casks/p/positron.rb
Labels: automerge-skip, bump-cask-pr, autobump

#178444 a-better-finder-rename 12.07
  Casks/a/a-better-finder-rename.rb
Labels: bump-cask-pr

#178442 gitfox 3.9.3
  Casks/g/gitfox.rb
Labels: bump-cask-pr

#178446 overlayed 0.4.0
  Casks/o/overlayed.rb
Labels: bump-cask-pr

#178322 k8studio 1.0.11-beta (new cask)
  Casks/k/k8studio.rb
Labels: new cask

#178445 adobe-creative-cloud 6.3.0.207
  Casks/a/adobe-creative-cloud.rb
Labels: bump-cask-pr, ci-skip-homepage

#178448 anki: update sha256 on catalina or older
  Casks/a/anki.rb
Labels: checksum-mismatch

#178449 arctic 24.2.1
  Casks/a/arctic.rb
Labels: bump-cask-pr

#178232 lazycat 1.0.96 (new cask)
  Casks/l/lazycat.rb
Labels: awaiting maintainer feedback, new cask

#178451 qsync-client 5.1.2.0628
  Casks/q/qsync-client.rb
Labels: bump-cask-pr

#178450 presonus-universal-control 4.3.2.100484
  Casks/p/presonus-universal-control.rb
Labels: bump-cask-pr

#178452 rar: fix livecheck
  Casks/r/rar.rb
Labels: livecheck

#178454 simplefloatingclock: remove livecheck
  Casks/s/simplefloatingclock.rb
Labels: ci-syntax-only, missing description, missing zap

#178456 session-manager-plugin 1.2.650.0
  Casks/s/session-manager-plugin.rb
Labels: bump-cask-pr

#178464 subler 1.8
  Casks/s/subler.rb
Labels: bump-cask-pr

#178458 impactor: disable
  Casks/i/impactor.rb
Labels: ci-syntax-only

#178465 rename score -> ossia-score and bump version
  Casks/o/ossia-score.rb
  cask_renames.json
Labels: automerge-skip, bump-cask-pr

#178472 microsoft-teams@classic: deprecate
  Casks/m/microsoft-teams@classic.rb
Labels: ci-syntax-only

#178478 qwerty-fr 0.7.3
  Casks/q/qwerty-fr.rb
Labels: bump-cask-pr

#178460 jabra-direct 6.16.15901
  Casks/j/jabra-direct.rb
Labels: bump-cask-pr

#178482 aptible 0.21.0
  Casks/a/aptible.rb
Labels: bump-cask-pr

#178476 virtualdj 2024,8225,67AC1790
  Casks/v/virtualdj.rb
Labels: bump-cask-pr

#178489 dolphin: update livecheck
  Casks/d/dolphin.rb
Labels: livecheck

#178491 dcv-viewer 2023.1.6703
  Casks/d/dcv-viewer.rb
Labels: bump-cask-pr

#178024 pia 3.0.3 (new cask)
  Casks/p/pia.rb
Labels: awaiting user reply, new cask

#178427 krisp 2.39.8
  Casks/k/krisp.rb
Labels: bump-cask-pr, livecheck

#178520 hydrus-network 581
  Casks/h/hydrus-network.rb
Labels: bump-cask-pr

#178521 crossover 24.0.4
  Casks/c/crossover.rb
Labels: bump-cask-pr

#178522 theiaide 1.51.0
  Casks/t/theiaide.rb
Labels: bump-cask-pr

#178523 elektron-transfer 1.8.11
  Casks/e/elektron-transfer.rb
Labels: bump-cask-pr, livecheck

#178526 jgrennison-openttd 0.60.1
  Casks/j/jgrennison-openttd.rb
Labels: bump-cask-pr

#178529 catlight 3.7.3
  Casks/c/catlight.rb
Labels: bump-cask-pr

#178527 appgate-sdp-client 6.3.2
  Casks/a/appgate-sdp-client.rb
Labels: bump-cask-pr

#178528 btcpayserver-vault 2.0.10
  Casks/b/btcpayserver-vault.rb
Labels: bump-cask-pr, missing zap

#178538 amazon-workspaces 5.21.0.5194
  Casks/a/amazon-workspaces.rb
Labels: bump-cask-pr

#178531 ipvanish-vpn 4.3.1
  Casks/i/ipvanish-vpn.rb
Labels: bump-cask-pr

#178539 subler 1.8.1
  Casks/s/subler.rb
Labels: bump-cask-pr

#178540 heynote 1.7.1
  Casks/h/heynote.rb
Labels: bump-cask-pr

#178541 itsycal 0.15.4
  Casks/i/itsycal.rb
Labels: bump-cask-pr

#178542 marsedit 5.2.2
  Casks/m/marsedit.rb
Labels: bump-cask-pr

#178543 navicat-premium-lite 17.0.12
  Casks/n/navicat-premium-lite.rb
Labels: bump-cask-pr

#178544 progressive-downloader 7.1
  Casks/p/progressive-downloader.rb
Labels: bump-cask-pr

#178545 psst 0.1.0,20240704.051748
  Casks/p/psst.rb
Labels: bump-cask-pr

#178546 roam 116.0.0-beta001
  Casks/r/roam.rb
Labels: bump-cask-pr

#178547 snipaste 2.9.2-Beta
  Casks/s/snipaste.rb
Labels: bump-cask-pr

#178548 spitfire-audio 3.4.13
  Casks/s/spitfire-audio.rb
Labels: bump-cask-pr

#178562 yandex-cloud-cli 0.127.0
  Casks/y/yandex-cloud-cli.rb
Labels: bump-cask-pr

#178567 home-inventory: deprecate
  Casks/h/home-inventory.rb
Labels: missing zap

#178610 bit-slicer 1.8.0
  Casks/b/bit-slicer.rb
Labels: bump-cask-pr, missing zap

#178603 bfxr: deprecate
  Casks/b/bfxr.rb
Labels: missing zap

#178605 tl-legacy: disable
  Casks/t/tl-legacy.rb
Labels: ci-syntax-only

#178612 dbvisualizer 24.2.1
  Casks/d/dbvisualizer.rb
Labels: bump-cask-pr

#178602 paragon-camptune 11.1.26
  Casks/p/paragon-camptune.rb
Labels: bump-cask-pr

#178637 aldente 1.27.2
  Casks/a/aldente.rb
Labels: bump-cask-pr

#178635 hubstaff 1.6.24
  Casks/h/hubstaff.rb
Labels: bump-cask-pr

#178627 lyx 2.4.1
  Casks/l/lyx.rb
Labels: bump-cask-pr

#178619 font-lxgw-fasmartgothic 1.124
  Casks/font/font-l/font-lxgw-fasmartgothic.rb
Labels: bump-cask-pr

#178620 font-lxgw-heartserif 0.924
  Casks/font/font-l/font-lxgw-heartserif.rb
Labels: bump-cask-pr

#178621 font-lxgw-neoxihei 1.124
  Casks/font/font-l/font-lxgw-neoxihei.rb
Labels: bump-cask-pr

#178622 font-lxgw-neozhisong 0.924
  Casks/font/font-l/font-lxgw-neozhisong.rb
Labels: bump-cask-pr

#178623 fl-studio 24.1.1.3884
  Casks/f/fl-studio.rb
Labels: bump-cask-pr

#178625 hyperkey 0.36
  Casks/h/hyperkey.rb
Labels: bump-cask-pr

#178650 wooshy 2828.24.0
  Casks/w/wooshy.rb
Labels: bump-cask-pr
