Repository Homebrew/homebrew-cask, pull requests merged in 2024-10, with the labels that each got.

#187094 megasync 5.5.0.0
  Casks/m/megasync.rb
Labels: bump-cask-pr

#187089 rewind 15310.1
  Casks/r/rewind.rb
Labels: bump-cask-pr

#187107 capto 2.1.1,1002.1.1011
  Casks/c/capto.rb
Labels: bump-cask-pr

#187105 cleanmymac-zh 4.15.8
  Casks/c/cleanmymac-zh.rb
Labels: bump-cask-pr

#187113 google-drive 98.0
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr

#187118 modrinth 0.8.8
  Casks/m/modrinth.rb
Labels: bump-cask-pr

#187116 floorp: update livecheck
  Casks/f/floorp.rb
Labels: livecheck

#187117 safari-technology-preview 204
  Casks/s/safari-technology-preview.rb
Labels: bump-cask-pr

#187143 nuclino 1.6.5
  Casks/n/nuclino.rb
Labels: bump-cask-pr

#187145 krita 5.2.6
  Casks/k/krita.rb
Labels: bump-cask-pr

#187142 herd 1.11.1
  .github/autobump.txt
  Casks/h/herd.rb
Labels: automerge-skip, bump-cask-pr, autobump

#187140 dcommander 3.9.6.2
  .github/autobump.txt
  Casks/d/dcommander.rb
Labels: automerge-skip, bump-cask-pr, autobump

#187141 neofinder 8.7.1
  Casks/n/neofinder.rb
Labels: bump-cask-pr

#187139 biglybt 3.7.0.0
  Casks/b/biglybt.rb
Labels: bump-cask-pr

#187146 merlin-project 8.3.5
  Casks/m/merlin-project.rb
Labels: bump-cask-pr

#187148 mubu 4.0.5
  Casks/m/mubu.rb
Labels: bump-cask-pr, livecheck

#187149 logmein-client 4.01.8010
  Casks/l/logmein-client.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip, bump-cask-pr

#187150 pieces-cli 1.7.1
  Casks/p/pieces-cli.rb
Labels: bump-cask-pr

#187151 ogdesign-eagle 4.0,4
  Casks/o/ogdesign-eagle.rb
Labels: bump-cask-pr

#187167 anka-virtualization 3.5.1.192
  Casks/a/anka-virtualization.rb
Labels: bump-cask-pr

#187137 code-composer-studio 12.8.1.00005
  Casks/c/code-composer-studio.rb
Labels: bump-cask-pr

#187205 keyclu 0.28
  Casks/k/keyclu.rb
Labels: bump-cask-pr

#187144 itau 2.3.2.18
  Casks/i/itau.rb
Labels: bump-cask-pr, ci-skip-homepage

#187062 excalidrawz 1.0.1 (new cask)
  Casks/e/excalidrawz.rb
Labels: new cask

#187214 google-chrome 129.0.6668.90
  Casks/g/google-chrome.rb
Labels: bump-cask-pr

#187222 font-sudo 2.0.0
  Casks/font/font-s/font-sudo.rb
Labels: bump-cask-pr

#187237 zettlr 3.2.2
  Casks/z/zettlr.rb
Labels: bump-cask-pr

#187215 font-lxgw-bright-gb 5.500
  Casks/font/font-l/font-lxgw-bright-gb.rb
Labels: bump-cask-pr

#187216 font-lxgw-bright-tc 5.500
  Casks/font/font-l/font-lxgw-bright-tc.rb
Labels: bump-cask-pr

#187217 font-lxgw-bright 5.500
  Casks/font/font-l/font-lxgw-bright.rb
Labels: bump-cask-pr

#187218 font-lxgw-wenkai-gb 1.500
  Casks/font/font-l/font-lxgw-wenkai-gb.rb
Labels: bump-cask-pr

#187240 nvidia-geforce-now 2.0.67.127
  Casks/n/nvidia-geforce-now.rb
Labels: bump-cask-pr

#187219 font-lxgw-wenkai-lite 1.500
  Casks/font/font-l/font-lxgw-wenkai-lite.rb
Labels: bump-cask-pr

#187221 font-lxgw-wenkai 1.500
  Casks/font/font-l/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#187253 cakebrewjs 2.65
  Casks/c/cakebrewjs.rb
Labels: bump-cask-pr

#187255 winbox 4.0beta9
  Casks/w/winbox.rb
Labels: bump-cask-pr

#187262 canon-eos-utility 3.18.41.0
  Casks/c/canon-eos-utility.rb
Labels: bump-cask-pr

#187263 pingplotter 5.25.4
  Casks/p/pingplotter.rb
Labels: bump-cask-pr

#187265 various casks: add depends_on
  Casks/n/naver-whale.rb
  Casks/y/yandex.rb
Labels: automerge-skip

#187273 monitorcontrol 4.3.2
  Casks/m/monitorcontrol.rb
Labels: bump-cask-pr

#187280 brave-browser@dev: deprecate
  .github/autobump.txt
  Casks/b/brave-browser@dev.rb
Labels: automerge-skip, autobump

#187284 devpod: fix url and sha256
  Casks/d/devpod.rb
Labels: checksum-mismatch

#187330 mellel 6.0.7
  Casks/m/mellel.rb
Labels: bump-cask-pr

#187326 marginnote 4.1.6
  Casks/m/marginnote.rb
Labels: bump-cask-pr

#187324 hhkb-studio 1.1.0
  Casks/h/hhkb-studio.rb
Labels: bump-cask-pr

#187323 asana 2.2.3
  Casks/a/asana.rb
Labels: bump-cask-pr

#187325 maccy 2.1.0
  Casks/m/maccy.rb
Labels: bump-cask-pr

#187320 tableau-prep 2024.2.3
  Casks/t/tableau-prep.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#187321 tableau 2024.2.3
  Casks/t/tableau.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#187328 tableau-public 2024.2.3
  Casks/t/tableau-public.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#187322 sauce-connect 5.2.0
  Casks/s/sauce-connect.rb
Labels: bump-cask-pr

#187318 notes-better 2.3.1
  Casks/n/notes-better.rb
Labels: bump-cask-pr

#187317 irpf2024 1.5
  Casks/i/irpf2024.rb
Labels: bump-cask-pr

#187314 redisinsight 2.58.0
  Casks/r/redisinsight.rb
Labels: bump-cask-pr

#187316 ipvanish-vpn 4.5.0
  Casks/i/ipvanish-vpn.rb
Labels: bump-cask-pr

#187319 tunein 1.29.0
  Casks/t/tunein.rb
Labels: bump-cask-pr

#187315 ishowu-instant 1.4.21
  Casks/i/ishowu-instant.rb
Labels: bump-cask-pr

#187234 pixel-shift-combiner 1.5.0,1050,sgwn5e23 (new cask)
  .github/autobump.txt
  Casks/p/pixel-shift-combiner.rb
Labels: automerge-skip, autobump

#187313 hazel 5.3.5
  .github/autobump.txt
  Casks/h/hazel.rb
Labels: automerge-skip, bump-cask-pr, autobump

#187334 direqual 6.2.0.01
  Casks/d/direqual.rb
Labels: bump-cask-pr

#187336 dcv-viewer 2024.0.6995
  Casks/d/dcv-viewer.rb
Labels: bump-cask-pr

#187337 bitbox 4.44.1
  Casks/b/bitbox.rb
Labels: bump-cask-pr

#187338 yate 7.0
  Casks/y/yate.rb
Labels: bump-cask-pr

#187339 dangerzone 0.7.1
  Casks/d/dangerzone.rb
Labels: bump-cask-pr

#187340 deepl 24.10.11297902
  Casks/d/deepl.rb
Labels: bump-cask-pr

#187342 dosbox-x 2024.10.01
  Casks/d/dosbox-x.rb
Labels: bump-cask-pr

#187343 ea 13.310.0.5823
  Casks/e/ea.rb
Labels: bump-cask-pr

#187344 lw-scanner 0.27.0
  Casks/l/lw-scanner.rb
Labels: bump-cask-pr

#187345 sonic-visualiser 5.0.1
  Casks/s/sonic-visualiser.rb
Labels: bump-cask-pr

#187335 cirrus 1.15
  Casks/c/cirrus.rb
Labels: bump-cask-pr

#187341 pocket-casts 2.0.7
  Casks/p/pocket-casts.rb
Labels: bump-cask-pr

#187354 viber 23.7.0
  Casks/v/viber.rb
Labels: bump-cask-pr

#187353 cmd/lib/ci_matrix: use `macos-15` arm runner
  cmd/lib/ci_matrix.rb
Labels: automerge-skip

#187371 irpf2023 1.7
  Casks/i/irpf2023.rb
Labels: bump-cask-pr

#187377 amazon-workspaces 5.23.0
  Casks/a/amazon-workspaces.rb
Labels: bump-cask-pr

#187435 box-tools 4.27
  Casks/b/box-tools.rb
Labels: bump-cask-pr

#187430 direqual 6.2.0.06
  Casks/d/direqual.rb
Labels: bump-cask-pr

#187428 motion 0.84.0
  Casks/m/motion.rb
Labels: bump-cask-pr

#187426 freedom 2.23.0
  Casks/f/freedom.rb
Labels: bump-cask-pr

#187425 app-cleaner 8.4.2
  Casks/a/app-cleaner.rb
Labels: bump-cask-pr

#187424 sameboy 0.16.7
  Casks/s/sameboy.rb
Labels: bump-cask-pr

#187095 paraview 5.13.1
  Casks/p/paraview.rb
Labels: bump-cask-pr

#187388 local 9.1.0
  Casks/l/local.rb
Labels: bump-cask-pr

#187387 ebmac 1.47.0
  Casks/e/ebmac.rb
Labels: bump-cask-pr

#187386 buckets@beta 0.77.0
  Casks/b/buckets@beta.rb
Labels: bump-cask-pr

#187441 beatunes 5.2.35
  Casks/b/beatunes.rb
Labels: bump-cask-pr

#187368 furtherance 24.10.0 (new cask)
  Casks/f/furtherance.rb
Labels: new cask

#187423 Update stolendata-mpv cask to include Arm64 build
  Casks/s/stolendata-mpv.rb
Labels: ready to merge

#187458 keyguard 1.6.1
  Casks/k/keyguard.rb
Labels: bump-cask-pr

#187457 ilok-license-manager 5.9.1
  Casks/i/ilok-license-manager.rb
Labels: bump-cask-pr

#187483 streammusic 1.3.2
  Casks/s/streammusic.rb
Labels: bump-cask-pr

#187485 zenbeats 3.1.8
  Casks/z/zenbeats.rb
Labels: bump-cask-pr

#187479 birdfont 6.10.5
  Casks/b/birdfont.rb
Labels: bump-cask-pr

#187473 deskpad 1.3.2
  Casks/d/deskpad.rb
Labels: bump-cask-pr

#187478 lyx 2.4.2.1
  Casks/l/lyx.rb
Labels: bump-cask-pr

#187476 charmstone 1.32
  Casks/c/charmstone.rb
Labels: bump-cask-pr

#187486 steermouse 5.7.2
  Casks/s/steermouse.rb
Labels: bump-cask-pr

#187482 wireframe-sketcher 7.2.1
  Casks/w/wireframe-sketcher.rb
Labels: bump-cask-pr

#187491 monitorcontrol 4.3.3
  Casks/m/monitorcontrol.rb
Labels: bump-cask-pr

#187480 smartgit 23.1.4.2: fix checksums
  Casks/s/smartgit.rb
Labels: checksum-mismatch

#187494 mindjet-mindmanager 24.0.144
  Casks/m/mindjet-mindmanager.rb
Labels: bump-cask-pr

#187481 tableau-reader 2024.2.3
  Casks/t/tableau-reader.rb
Labels: bump-cask-pr, ci-skip-livecheck, ci-skip-homepage

#187474 deelay 1.3.0
  Casks/d/deelay.rb
Labels: bump-cask-pr

#187497 timemachinestatus 0.2.1
  Casks/t/timemachinestatus.rb
Labels: bump-cask-pr

#187499 font-twitter-color-emoji 15.0.3
  Casks/font/font-t/font-twitter-color-emoji.rb
Labels: bump-cask-pr

#187500 mathpix-snipping-tool 3.4.9.15
  Casks/m/mathpix-snipping-tool.rb
Labels: bump-cask-pr

#187498 android-ndk: livecheck update
  Casks/a/android-ndk.rb
Labels: livecheck

#187501 yubico-authenticator: remove livecheck block
  Casks/y/yubico-authenticator.rb
Labels: livecheck

#187502 furtherance 24.10.1
  Casks/f/furtherance.rb
Labels: bump-cask-pr

#187132 .github/workflows/google-fonts.yml: fix changes check
  .github/workflows/google-fonts.yml
Labels: automerge-skip

#187021 shotcut 24.09.13,240919
  Casks/s/shotcut.rb
Labels: livecheck

#187503 crosspaste 1.0.11.1037
  Casks/c/crosspaste.rb
Labels: bump-cask-pr

#187506 daedalus-mainnet 6.0.2
  Casks/d/daedalus-mainnet.rb
Labels: bump-cask-pr

#187507 pushplaylabs-sidekick 124.61.1.50292
  Casks/p/pushplaylabs-sidekick.rb
Labels: bump-cask-pr

#187516 mediainfoex 1.7.3
  Casks/m/mediainfoex.rb
Labels: bump-cask-pr

#187532 voov-meeting 3.27.1.510
  Casks/v/voov-meeting.rb
Labels: bump-cask-pr

#187531 planet 0.19.2
  Casks/p/planet.rb
Labels: bump-cask-pr

#187529 desktoputility 5.3.1
  Casks/d/desktoputility.rb
Labels: bump-cask-pr

#187528 wifispoof 4.0.7
  Casks/w/wifispoof.rb
Labels: bump-cask-pr

#187530 mathpix-snipping-tool 3.4.10.3
  Casks/m/mathpix-snipping-tool.rb
Labels: bump-cask-pr

#187517 flutter: replace postflight
  Casks/f/flutter.rb
Labels: discussion, awaiting maintainer feedback

#187543 naps2 7.5.2
  Casks/n/naps2.rb
Labels: bump-cask-pr

#187544 neo4j 1.6.1
  Casks/n/neo4j.rb
Labels: bump-cask-pr

#187545 the-unofficial-homestuck-collection 2.5.6
  Casks/t/the-unofficial-homestuck-collection.rb
Labels: bump-cask-pr

#187553 batteryboi: deprecate
  Casks/b/batteryboi.rb
Labels: ci-skip-homepage

#187555 scap-workbench: deprecate
  Casks/s/scap-workbench.rb
Labels: missing zap

#187593 hides 6.0.1
  Casks/h/hides.rb
Labels: bump-cask-pr

#187592 colorwell 7.5.1
  Casks/c/colorwell.rb
Labels: bump-cask-pr

#187562 font-geist: checksum update
  Casks/font/font-g/font-geist-mono.rb
  Casks/font/font-g/font-geist.rb
Labels: automerge-skip

#187563 Remove "~/Screen Studio Projects" from zap in screen-studio.rb
  Casks/s/screen-studio.rb
Labels: automerge-skip

#187610 timemachinestatus 0.2.2
  Casks/t/timemachinestatus.rb
Labels: bump-cask-pr

#187609 netiquette 2.3.0
  Casks/n/netiquette.rb
Labels: bump-cask-pr

#187611 routine 0.19.3
  Casks/r/routine.rb
Labels: bump-cask-pr

#187612 zipic 1.7.1
  Casks/z/zipic.rb
Labels: bump-cask-pr

#187615 bookends 15.0.7
  Casks/b/bookends.rb
Labels: bump-cask-pr

#187484 yandex-cloud-cli 0.132.1
  Casks/y/yandex-cloud-cli.rb
Labels: bump-cask-pr

#187607 firefox@beta: update various
  .github/autobump.txt
  Casks/f/firefox@beta.rb
Labels: automerge-skip, autobump

#187392 calibrite-profiler 1.3.3
  Casks/c/calibrite-profiler.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, livecheck

#187632 activitywatch 0.13.2
  Casks/a/activitywatch.rb
Labels: bump-cask-pr

#187633 adobe-air 51.1.1.5
  Casks/a/adobe-air.rb
Labels: bump-cask-pr

#187634 bitcoin-core 28.0
  Casks/b/bitcoin-core.rb
Labels: bump-cask-pr

#187635 font-chiron-hei-hk 2.518
  Casks/font/font-c/font-chiron-hei-hk.rb
Labels: bump-cask-pr

#187648 font-twitter-color-emoji 15.1.0
  Casks/font/font-t/font-twitter-color-emoji.rb
Labels: bump-cask-pr

#187640 xmplify 1.11.5
  Casks/x/xmplify.rb
Labels: bump-cask-pr

#187639 powershell@preview 7.5.0-preview.5
  Casks/p/powershell@preview.rb
Labels: bump-cask-pr

#187637 motion 0.85.0
  Casks/m/motion.rb
Labels: bump-cask-pr

#187636 go-shiori 1.7.1
  Casks/g/go-shiori.rb
Labels: bump-cask-pr

#187638 naps2: update livecheck
  Casks/n/naps2.rb
Labels: livecheck

#187656 crosspaste 1.0.11.1046
  Casks/c/crosspaste.rb
Labels: bump-cask-pr

#187658 nomachine 8.14.2_4
  Casks/n/nomachine.rb
Labels: bump-cask-pr
