Repository Homebrew/homebrew-cask, pull requests merged in 2025-05, with the labels that each got.

#210840 akuity 0.22.1-0.20250429170904-aeb4bb5e5bdc
  Casks/a/akuity.rb
Labels: bump-cask-pr

#210842 etrecheckpro 6.8.10
  .github/autobump.txt
  Casks/e/etrecheckpro.rb
Labels: automerge-skip, bump-cask-pr, autobump

#210843 docker 4.41.1
  Casks/d/docker.rb
Labels: bump-cask-pr

#210844 font-juliamono 0.060
  .github/autobump.txt
  Casks/font/font-j/font-juliamono.rb
Labels: automerge-skip, bump-cask-pr, autobump

#210845 pitch 2.72.0,stable.3,7194755
  Casks/p/pitch.rb
Labels: bump-cask-pr

#210846 jump 9.1.9
  .github/autobump.txt
  Casks/j/jump.rb
Labels: automerge-skip, bump-cask-pr, autobump

#210841 araxis-merge 2025.0
  Casks/a/araxis-merge.rb
Labels: bump-cask-pr

#210848 rave 1.16.5
  Casks/r/rave.rb
Labels: bump-cask-pr

#210849 singlecrystal 5.2.1
  Casks/s/singlecrystal.rb
Labels: bump-cask-pr

#210850 tandem 2.2.1629
  Casks/t/tandem.rb
Labels: bump-cask-pr

#210851 tap-forms 5.3.42
  Casks/t/tap-forms.rb
Labels: bump-cask-pr

#210852 tqsl 2.8.1
  .github/autobump.txt
  Casks/t/tqsl.rb
Labels: automerge-skip, bump-cask-pr, autobump

#210847 reverso 2.15.2
  .github/autobump.txt
  Casks/r/reverso.rb
Labels: automerge-skip, bump-cask-pr, autobump

#210886 meru 3.0.0 (new cask)
  Casks/m/meru.rb
Labels: new cask, ready to merge

#210946 quickbooks 22.0.6.790,2023
  Casks/q/quickbooks.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip

#210166 endnote 22
  Casks/e/endnote.rb
Labels: ci-skip-livecheck

#211061 clover-chord-systems 2.5.1 (new cask)
  Casks/c/clover-chord-systems.rb
Labels: new cask

#211059 sc-menu 1.8.1 (new cask)
  Casks/s/sc-menu.rb
Labels: new cask, ci-skip-repository

#211067 dungeon-crawl-stone-soup-console 0.33.0
  Casks/d/dungeon-crawl-stone-soup-console.rb
Labels: bump-cask-pr

#211068 busycontacts 2025.2.1
  Casks/b/busycontacts.rb
Labels: bump-cask-pr

#211070 duplicacy-cli 3.2.5
  Casks/d/duplicacy-cli.rb
Labels: bump-cask-pr

#211069 dungeon-crawl-stone-soup-tiles 0.33.0
  Casks/d/dungeon-crawl-stone-soup-tiles.rb
Labels: bump-cask-pr

#210476 font-harmonyos-sans* latest (new cask)
  Casks/font/font-h/font-harmonyos-sans-naskh-arabic.rb
  Casks/font/font-h/font-harmonyos-sans-sc.rb
  Casks/font/font-h/font-harmonyos-sans-tc.rb
  Casks/font/font-h/font-harmonyos-sans.rb
Labels: automerge-skip, new cask

#211071 glyphs 3.4,3414
  Casks/g/glyphs.rb
Labels: bump-cask-pr

#211072 gzdoom 4.14.2
  Casks/g/gzdoom.rb
Labels: bump-cask-pr

#211073 isyncer 4.2.0
  Casks/i/isyncer.rb
Labels: bump-cask-pr, missing zap

#211074 klayout 0.30.1
  Casks/k/klayout.rb
Labels: bump-cask-pr

#211075 monodraw 1.7.1
  Casks/m/monodraw.rb
Labels: bump-cask-pr

#211076 nano 28.0
  Casks/n/nano.rb
Labels: bump-cask-pr

#211078 nvidia-nsight-compute 2025.2.0.11-35613519
  Casks/n/nvidia-nsight-compute.rb
Labels: bump-cask-pr

#211079 pdf-pals 1.9.0
  Casks/p/pdf-pals.rb
Labels: bump-cask-pr

#211080 nvidia-nsight-systems 2025.3.1.90-3582212
  Casks/n/nvidia-nsight-systems.rb
Labels: bump-cask-pr

#211082 switch 13.06
  Casks/s/switch.rb
Labels: bump-cask-pr

#211084 tap-forms 5.3.43
  Casks/t/tap-forms.rb
Labels: bump-cask-pr

#211089 carbon-copy-cloner@5: disable
  Casks/c/carbon-copy-cloner@5.rb
Labels: ci-syntax-only, cask disabled, cask deprecated

#211120 cernbox: downgrade to 5.2.1.13464
  Casks/c/cernbox.rb
Labels: livecheck

#211023 docker: symlink kubectl from /Applications/Docker.app
  Casks/d/docker.rb
Labels: automerge-skip

#211160 dolphin@dev 2503a-444
  Casks/d/dolphin@dev.rb
Labels: livecheck

#211224 skype*: deprecate
  Casks/s/skype-for-business.rb
  Casks/s/skype.rb
  Casks/s/skype@preview.rb
Labels: automerge-skip, cask deprecated

#211223 various: `brew style --fix`
  Casks/o/output-factory.rb
  Casks/q/qfinder-pro.rb
  Casks/q/qudedup-extract-tool.rb
Labels: automerge-skip

#211311 gns3: update livecheck
  Casks/g/gns3.rb
Labels: livecheck

#211246 aqua-voice 0.3.10 (new cask)
  Casks/a/aqua-voice.rb
Labels: new cask

#211385 google-chrome 136.0.7103.93
  Casks/g/google-chrome.rb
Labels: extract_plist livecheck

#211310 Add two new fonts (from FounderType)
  Casks/font/font-f/font-fzhei-b01.rb
  Casks/font/font-f/font-fzxiheii-z08.rb
Labels: automerge-skip, new cask

#211445 readest: add livecheck
  Casks/r/readest.rb
Labels: livecheck

#211460 hedy 2.3.1 (new cask)
  Casks/h/hedy.rb
Labels: new cask

#211533 docker 4.41.2
  Casks/d/docker.rb
Labels: bump-cask-pr

#211531 font-geist-mono 1.4.2
  Casks/font/font-g/font-geist-mono.rb
Labels: bump-cask-pr

#211532 font-geist 1.4.2
  Casks/font/font-g/font-geist.rb
Labels: bump-cask-pr

#211534 grandperspective 3.5.3
  Casks/g/grandperspective.rb
Labels: bump-cask-pr

#211386 foks 0.0.18 (new cask)
  Casks/f/foks.rb
Labels: new cask

#211575 consul 1.21.0
  .github/autobump.txt
  Casks/c/consul.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211579 marvin 1.67.2
  .github/autobump.txt
  Casks/m/marvin.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211581 mouseless@preview 0.4.0-preview.2
  .github/autobump.txt
  Casks/m/mouseless@preview.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211584 qobuz 8.0.0
  .github/autobump.txt
  Casks/q/qobuz.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211578 imazing-profile-editor 2.0.0
  Casks/i/imazing-profile-editor.rb
Labels: bump-cask-pr

#211580 meru 3.1.0
  .github/autobump.txt
  Casks/m/meru.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211582 picoscope 7.1.50.5777
  Casks/p/picoscope.rb
Labels: bump-cask-pr

#211583 picoscope@beta 7.1.53.5775
  Casks/p/picoscope@beta.rb
Labels: bump-cask-pr

#211577 fpc-laz 3.2.2,4.0
  Casks/f/fpc-laz.rb
Labels: bump-cask-pr

#211576 displaylink 1.12.2
  Casks/d/displaylink.rb
Labels: bump-cask-pr

#211573 capacities 1.48.3
  Casks/c/capacities.rb
Labels: bump-cask-pr

#211571 witsy: 2.5.1 + livecheck update
  Casks/w/witsy.rb
Labels: livecheck

#211657 far2l: update checksums for older macos versions
  Casks/f/far2l.rb
Labels: checksum-mismatch

#211542 zen-browser*: rename to zen*
  .github/autobump.txt
  Casks/z/zen.rb
  Casks/z/zen@twilight.rb
  audit_exceptions/github_prerelease_allowlist.json
  cask_renames.json
Labels: automerge-skip, autobump

#211697 hdhomerun 20250506
  Casks/h/hdhomerun.rb
Labels: bump-cask-pr

#211698 deepchat 0.1.1
  Casks/d/deepchat.rb
Labels: bump-cask-pr

#211699 expressscribe 14.07
  Casks/e/expressscribe.rb
Labels: bump-cask-pr

#211705 unipro-ugene 52.1
  Casks/u/unipro-ugene.rb
Labels: bump-cask-pr

#211574 cisdem-data-recovery 18.5.0
  Casks/c/cisdem-data-recovery.rb
Labels: bump-cask-pr

#211718 threema@beta 2.0-beta51
  Casks/t/threema@beta.rb
Labels: livecheck

#211717 timche-gmail-desktop: deprecate
  Casks/t/timche-gmail-desktop.rb
Labels: cask deprecated

#211731 cityofzion-neon 2.25.1
  Casks/c/cityofzion-neon.rb
Labels: bump-cask-pr

#211730 ace-studio 1.9.10
  Casks/a/ace-studio.rb
Labels: bump-cask-pr

#211729 activedock 2.700
  Casks/a/activedock.rb
Labels: bump-cask-pr

#211739 enfusegui 3.25.1
  Casks/e/enfusegui.rb
Labels: bump-cask-pr

#211740 expressscribe 14.08
  Casks/e/expressscribe.rb
Labels: bump-cask-pr

#211738 elecom-mouse-util 6.1.0
  Casks/e/elecom-mouse-util.rb
Labels: bump-cask-pr

#211741 font-cozette 1.29.0
  Casks/font/font-c/font-cozette.rb
Labels: bump-cask-pr

#211748 ishare 4.2.3
  Casks/i/ishare.rb
Labels: bump-cask-pr

#211760 the-archive 1.9.0
  Casks/t/the-archive.rb
Labels: bump-cask-pr

#211751 lyric-fever 2.2
  Casks/l/lyric-fever.rb
Labels: bump-cask-pr

#211804 topaz-denoise-ai & topaz-sharpen-ai: disable
  Casks/t/topaz-denoise-ai.rb
  Casks/t/topaz-sharpen-ai.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#211700 frescobaldi 4.0.2
  Casks/f/frescobaldi.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip, bump-cask-pr

#211818 chirp 20250509
  Casks/c/chirp.rb
Labels: bump-cask-pr

#211831 poedit 3.6.2
  .github/autobump.txt
  Casks/p/poedit.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211832 xournal++ 1.2.7
  Casks/x/xournal++.rb
Labels: bump-cask-pr

#211833 fmail2 2.8.4
  Casks/f/fmail2.rb
Labels: livecheck

#211834 pcoipclient 25.03.2
  Casks/p/pcoipclient.rb
Labels: livecheck

#211815 nao: add (new Cask)
  Casks/n/nao.rb
Labels: new cask

#211872 aifun 0.8.10
  .github/autobump.txt
  Casks/a/aifun.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211875 keepassxc*: various updates
  Casks/k/keepassxc.rb
  Casks/k/keepassxc@beta.rb
  Casks/k/keepassxc@snapshot.rb
Labels: automerge-skip

#211888 gauntlet 19
  Casks/g/gauntlet.rb
Labels: bump-cask-pr

#211883 cold-turkey-blocker 4.7
  Casks/c/cold-turkey-blocker.rb
Labels: bump-cask-pr

#211885 electrum-grs: add livecheck
  Casks/e/electrum-grs.rb
Labels: livecheck

#211886 keystore-explorer: add livecheck
  Casks/k/keystore-explorer.rb
Labels: livecheck

#211887 notes-better: add livecheck
  Casks/n/notes-better.rb
Labels: livecheck

#211913 applite 1.3.1
  .github/autobump.txt
  Casks/a/applite.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211914 cutter 2.4.1
  .github/autobump.txt
  Casks/c/cutter.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211915 earnapp 1.541.343
  Casks/e/earnapp.rb
Labels: bump-cask-pr

#211916 elephas@beta 11.1087
  Casks/e/elephas@beta.rb
Labels: bump-cask-pr, extract_plist livecheck

#211917 emby 2.2.39
  Casks/e/emby.rb
Labels: bump-cask-pr, extract_plist livecheck

#211918 extraterm 0.81.1
  .github/autobump.txt
  Casks/e/extraterm.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211919 flycast 2.5
  .github/autobump.txt
  Casks/f/flycast.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211921 get-iplayer-automator 1.26.2
  .github/autobump.txt
  Casks/g/get-iplayer-automator.rb
Labels: automerge-skip, bump-cask-pr, autobump

#211922 k8studio 3.0.2-beta
  Casks/k/k8studio.rb
Labels: bump-cask-pr

#211923 jasper 1.1.3
  Casks/j/jasper.rb
Labels: bump-cask-pr

#211920 google-drive 108.0.1
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr, extract_plist livecheck

#211924 kindle-create 1.101
  Casks/k/kindle-create.rb
Labels: bump-cask-pr, extract_plist livecheck

#211925 mailmate@beta 6255
  Casks/m/mailmate@beta.rb
Labels: bump-cask-pr

#211926 meld-studio 0.9.1.5
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#211927 pokerstars 76.153
  Casks/p/pokerstars.rb
Labels: bump-cask-pr, extract_plist livecheck

#211928 psst 0.1.0,20250506.120019
  Casks/p/psst.rb
Labels: bump-cask-pr, extract_plist livecheck

#211929 shotcut 25.05.11
  Casks/s/shotcut.rb
Labels: bump-cask-pr

#211931 switch 13.07
  Casks/s/switch.rb
Labels: bump-cask-pr

#211932 ved 1.12.0
  Casks/v/ved.rb
Labels: bump-cask-pr

#211934 bit-fiddle: deprecate
  Casks/b/bit-fiddle.rb
Labels: cask deprecated

#211990 flying-carpet 9.0.4
  Casks/f/flying-carpet.rb
Labels: ready to merge

#212008 citrix-workspace 25.03.10.24
  .github/autobump.txt
  Casks/c/citrix-workspace.rb
Labels: automerge-skip, bump-cask-pr, autobump

#212040 billy-frontier 1.1.1 (new cask)
  Casks/b/billy-frontier.rb
Labels: new cask, ci-skip-repository, notability

#212041 corelocationcli 4.0.4
  Casks/c/corelocationcli.rb
Labels: bump-cask-pr

#212059 olive: update livecheck
  Casks/o/olive.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, livecheck

#212092 deprecate: barrier
  Casks/b/barrier.rb
Labels: cask deprecated

#212110 honto 6.70.0
  Casks/h/honto.rb
Labels: bump-cask-pr

#212111 inkscape 1.4.230579
  Casks/i/inkscape.rb
Labels: bump-cask-pr

#212112 license-control-center 6.12.11.1327
  Casks/l/license-control-center.rb
Labels: bump-cask-pr

#212114 epilogue-playback 1.7.1
  Casks/e/epilogue-playback.rb
Labels: bump-cask-pr

#212115 nao 0.1.28
  .github/autobump.txt
  Casks/n/nao.rb
Labels: automerge-skip, bump-cask-pr, autobump

#212116 osp-tracker 6.3.1
  Casks/o/osp-tracker.rb
Labels: bump-cask-pr

#212118 bankid 7.15.2
  Casks/b/bankid.rb
Labels: bump-cask-pr, ci-skip-livecheck, extract_plist livecheck

#212119 spotify 1.2.63.394
  Casks/s/spotify.rb
Labels: bump-cask-pr, extract_plist livecheck

#212140 openra@playtest: rename from openra-playtest
  Casks/o/openra@playtest.rb
  audit_exceptions/github_prerelease_allowlist.json
  cask_renames.json
Labels: automerge-skip

#212159 akuity 0.22.1-0.20250510072018-fe7fed998215
  .github/autobump.txt
  Casks/a/akuity.rb
Labels: automerge-skip, bump-cask-pr, autobump

#212158 openra: update conflicts_with
  Casks/o/openra.rb
Labels: ci-syntax-only

#212117 concept2-utility 7.17.00
  Casks/c/concept2-utility.rb
Labels: livecheck

#212270 bartender 5.3.6
  Casks/b/bartender.rb
Labels: bump-cask-pr

#212271 ace-studio 1.9.11
  Casks/a/ace-studio.rb
Labels: bump-cask-pr

#212272 inmusic-software-center 1.31.0
  .github/autobump.txt
  Casks/i/inmusic-software-center.rb
Labels: automerge-skip, bump-cask-pr, autobump

#212274 mps 2025.1
  Casks/m/mps.rb
Labels: bump-cask-pr

#212273 zenmap 7.97
  Casks/z/zenmap.rb
Labels: bump-cask-pr

#212301 parsec 150-99
  Casks/p/parsec.rb
Labels: bump-cask-pr

#212303 ovice 1.15.0
  .github/autobump.txt
  Casks/o/ovice.rb
Labels: automerge-skip, bump-cask-pr, autobump

#212305 the-archive 1.9.1
  Casks/t/the-archive.rb
Labels: bump-cask-pr

#212304 swift-shift 0.27.1
  .github/autobump.txt
  Casks/s/swift-shift.rb
Labels: automerge-skip, bump-cask-pr, autobump

#212306 grayjay 7
  Casks/g/grayjay.rb
Labels: bump-cask-pr

#212327 anka-build-cloud-registry 1.47.0-4f4a81ff
  Casks/a/anka-build-cloud-registry.rb
Labels: bump-cask-pr

#212329 anka-build-cloud-controller 1.47.0-4f4a81ff
  Casks/a/anka-build-cloud-controller.rb
Labels: bump-cask-pr

#212369 google-chrome 136.0.7103.114
  Casks/g/google-chrome.rb
Labels: extract_plist livecheck

#212352 add blankie 1.0.6 (new cask)
  Casks/b/blankie.rb
Labels: new cask

#212388 safari-technology-preview 219
  Casks/s/safari-technology-preview.rb
Labels: bump-cask-pr
