Repository Homebrew/homebrew-cask, pull requests merged in 2025-04, with the labels that each got.

#207068 openra: update sha256
  Casks/o/openra.rb
Labels: checksum-mismatch

#207115 010-editor 15.0.2
  Casks/0/010-editor.rb
Labels: bump-cask-pr

#207116 beutl 1.0.5
  Casks/b/beutl.rb
Labels: bump-cask-pr

#207122 paraview 5.13.3
  Casks/p/paraview.rb
Labels: bump-cask-pr

#207125 reunion 14.0.0,250331unr
  Casks/r/reunion.rb
Labels: bump-cask-pr

#207118 docker 4.40.0
  Casks/d/docker.rb
Labels: bump-cask-pr

#207119 zight 8.5.0
  .github/autobump.txt
  Casks/z/zight.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207120 lasso 1.8.0
  .github/autobump.txt
  Casks/l/lasso.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207132 kstars 3.7.6
  Casks/k/kstars.rb
Labels: bump-cask-pr

#207143 mobirise 6.0.1
  Casks/m/mobirise.rb
Labels: bump-cask-pr

#207145 decloner: deprecate
  Casks/d/decloner.rb
Labels: cask deprecated

#207148 geektool: deprecate
  Casks/g/geektool.rb
Labels: cask deprecated

#207147 mountain: deprecate
  Casks/m/mountain.rb
Labels: cask deprecated

#207150 qblocker: deprecate
  Casks/q/qblocker.rb
Labels: cask deprecated

#207163 guitar-pro 8.1.4-43
  Casks/g/guitar-pro.rb
Labels: bump-cask-pr

#207162 gearsystem 3.7.1
  .github/autobump.txt
  Casks/g/gearsystem.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207164 mythic 0.4.5
  Casks/m/mythic.rb
Labels: bump-cask-pr

#207149 protoio-overflow 3.5.405
  Casks/p/protoio-overflow.rb
Labels: bump-cask-pr

#207157 ace-studio 1.9.9
  Casks/a/ace-studio.rb
Labels: bump-cask-pr, livecheck

#207158 dymo-connect 1.4.9.12
  Casks/d/dymo-connect.rb
Labels: bump-cask-pr, ci-skip-livecheck

#207144 jollysfastvnc 1.64,22052516
  Casks/j/jollysfastvnc.rb
Labels: bump-cask-pr

#207114 workflows: remove no-op ssh signing value
  .github/workflows/google-fonts.yml
  .github/workflows/remove-disabled-packages.yml
Labels: automerge-skip

#207189 softube-central 1.11.21
  Casks/s/softube-central.rb
Labels: bump-cask-pr

#207192 toptracker: deprecate
  Casks/t/toptracker.rb
Labels: cask deprecated

#207191 tuck: deprecate
  Casks/t/tuck.rb
Labels: cask deprecated

#207190 enjoyable: deprecate
  Casks/e/enjoyable.rb
Labels: cask deprecated

#207244 block-goose 1.0.17
  Casks/b/block-goose.rb
Labels: bump-cask-pr

#207042 farrago, fission: update livecheck
  Casks/f/farrago.rb
  Casks/f/fission.rb
Labels: automerge-skip, livecheck

#207188 workflows/autobump: enable commit signing
  .github/workflows/autobump.yml
Labels: automerge-skip

#207209 macgamestore 5.3.0,6127
  Casks/m/macgamestore.rb
Labels: bump-cask-pr, livecheck

#207093 vesktop 1.5.5 (new cask)
  .github/autobump.txt
  Casks/v/vesktop.rb
Labels: automerge-skip, new cask, autobump

#207161 qt-design-studio 4.7.1-0-202503281851
  Casks/q/qt-design-studio.rb
Labels: livecheck

#207270 connectiq 8.1.1
  Casks/c/connectiq.rb
Labels: bump-cask-pr

#207271 code-composer-studio 20.1.1.00008
  Casks/c/code-composer-studio.rb
Labels: bump-cask-pr

#207282 softraid 8.5
  Casks/s/softraid.rb
Labels: bump-cask-pr

#207305 lrtimelapse 7.3.1
  Casks/l/lrtimelapse.rb
Labels: bump-cask-pr

#207287 wireframe-sketcher 7.3.0
  .github/autobump.txt
  Casks/w/wireframe-sketcher.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207322 retcon: update livecheck
  Casks/r/retcon.rb
Labels: livecheck

#207329 displaybuddy 2.30
  Casks/d/displaybuddy.rb
Labels: bump-cask-pr

#207323 sipgate 2.8.4
  .github/autobump.txt
  Casks/s/sipgate.rb
  cask_renames.json
Labels: automerge-skip, autobump

#207332 font-plemol-jp font-plemol-jp-nf font-plemol-hs 2.0.4
  Casks/font/font-p/font-plemol-jp-hs.rb
  Casks/font/font-p/font-plemol-jp-nf.rb
  Casks/font/font-p/font-plemol-jp.rb
Labels: automerge-skip

#207388 dfcf 3.8.0
  Casks/d/dfcf.rb
Labels: bump-cask-pr, extract_plist livecheck

#207389 gdat 2025r03
  Casks/g/gdat.rb
Labels: bump-cask-pr

#207387 cold-turkey-blocker 4.6
  Casks/c/cold-turkey-blocker.rb
Labels: bump-cask-pr

#207398 propresenter 18.4
  Casks/p/propresenter.rb
Labels: bump-cask-pr

#207404 slack 4.43.51
  Casks/s/slack.rb
Labels: bump-cask-pr

#207405 soundsource 5.8.1
  Casks/s/soundsource.rb
Labels: bump-cask-pr

#207403 propresenter@beta 18.4,302252046
  Casks/p/propresenter@beta.rb
Labels: bump-cask-pr

#207400 microsoft-excel 16.95.25032931
  Casks/m/microsoft-excel.rb
Labels: bump-cask-pr

#207399 logi-options+ 1.88.697541
  Casks/l/logi-options+.rb
Labels: bump-cask-pr

#207414 anka-build-cloud-controller 1.46.1-f1e9637c
  Casks/a/anka-build-cloud-controller.rb
Labels: bump-cask-pr

#207415 anka-build-cloud-registry 1.46.1-f1e9637c
  Casks/a/anka-build-cloud-registry.rb
Labels: bump-cask-pr

#207416 bose-updater 7.1.13.5369
  Casks/b/bose-updater.rb
Labels: bump-cask-pr

#207417 canon-eos-utility 3.19.0.12
  Casks/c/canon-eos-utility.rb
Labels: bump-cask-pr

#207419 lunasea: deprecate
  Casks/l/lunasea.rb
Labels: cask deprecated

#207436 emby 2.2.37
  Casks/e/emby.rb
Labels: bump-cask-pr, extract_plist livecheck

#207435 abscissa: disable
  Casks/a/abscissa.rb
Labels: ci-syntax-only, cask disabled

#207437 logitech-options 10.24.3
  Casks/l/logitech-options.rb
Labels: bump-cask-pr

#207441 svp 4.6.294
  Casks/s/svp.rb
Labels: bump-cask-pr

#207443 ua-midi-control 5.11.2
  Casks/u/ua-midi-control.rb
Labels: bump-cask-pr

#207440 gosign 2.3.6
  Casks/g/gosign.rb
Labels: bump-cask-pr, extract_plist livecheck

#207442 starsector 0.98a-RC7
  .github/autobump.txt
  Casks/s/starsector.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207444 virtual-desktop-streamer 1.33.4
  .github/autobump.txt
  Casks/v/virtual-desktop-streamer.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207446 qlmarkdown: update livecheck
  Casks/q/qlmarkdown.rb
Labels: livecheck

#207445 syntax-highlight: update livecheck
  Casks/s/syntax-highlight.rb
Labels: livecheck

#207459 fishing-funds 8.4.2
  .github/autobump.txt
  Casks/f/fishing-funds.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207487 marvin: update checksums
  Casks/m/marvin.rb
Labels: checksum-mismatch

#207523 final-cut-library-manager: disable
  Casks/f/final-cut-library-manager.rb
Labels: ci-syntax-only, cask deprecated

#207527 bonitastudiocommunity: deprecate
  Casks/b/bonitastudiocommunity.rb
Labels: cask deprecated

#207579 cocktail 18.4
  Casks/c/cocktail.rb
Labels: bump-cask-pr

#207580 fly 7.13.0
  Casks/f/fly.rb
Labels: bump-cask-pr

#207574 yaak@beta 2025.2.0-beta.2 (new cask)
  Casks/y/yaak@beta.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, new cask

#207576 autofirma: update homepage and livecheck
  Casks/a/autofirma.rb
Labels: ci-syntax-only, livecheck

#207617 ovito 3.12.1 (arm only)
  Casks/o/ovito.rb
Labels: livecheck

#207618 ovito-pro 3.12.1 (arm only)
  Casks/o/ovito-pro.rb
Labels: livecheck

#207652 Timemator 3.1.2
  .github/autobump.txt
  Casks/t/timemator.rb
Labels: automerge-skip, autobump

#207661 carbon-copy-cloner@6 6.1.12.7683
  Casks/c/carbon-copy-cloner@6.rb
Labels: bump-cask-pr

#207638 popclip: update livecheck
  Casks/p/popclip.rb
Labels: livecheck

#207678 opera-air 117.0.5408.198
  Casks/o/opera-air.rb
Labels: bump-cask-pr

#207689 various: add to autobump
  .github/autobump.txt
Labels: automerge-skip, autobump

#207686 buckets@beta 0.79.0
  .github/autobump.txt
  Casks/b/buckets@beta.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207687 cork 1.5.3
  Casks/c/cork.rb
Labels: livecheck

#207698 various: disable
  Casks/b/buzz.rb
  Casks/f/final-cut-library-manager.rb
Labels: automerge-skip, cask disabled, cask deprecated

#207705 duo-connect 2.0.6
  Casks/d/duo-connect.rb
Labels: bump-cask-pr

#207707 hamrs-pro 2.34.1
  Casks/h/hamrs-pro.rb
Labels: bump-cask-pr

#207706 frescobaldi 4.0.1
  Casks/f/frescobaldi.rb
Labels: bump-cask-pr

#207710 irpf2025 1.2
  Casks/i/irpf2025.rb
Labels: bump-cask-pr

#207711 prism 10.4.2
  Casks/p/prism.rb
Labels: bump-cask-pr

#207702 prezi-classic: disable
  Casks/p/prezi-classic.rb
Labels: ci-syntax-only, cask disabled

#207715 sameboy 1.0.1
  Casks/s/sameboy.rb
Labels: bump-cask-pr

#207714 rave 1.16.1
  Casks/r/rave.rb
Labels: bump-cask-pr

#207716 sejda-pdf 7.8.4
  Casks/s/sejda-pdf.rb
Labels: bump-cask-pr

#207717 sharemouse 6.0.64
  Casks/s/sharemouse.rb
Labels: bump-cask-pr

#207720 simpletex 0.2.11
  Casks/s/simpletex.rb
Labels: bump-cask-pr

#207713 quick-app-ide 6.7.2
  Casks/q/quick-app-ide.rb
Labels: bump-cask-pr

#207727 makemkv 1.18.1
  Casks/m/makemkv.rb
Labels: bump-cask-pr

#207704 prezi-next: deprecate
  Casks/p/prezi-next.rb
Labels: cask deprecated

#207688 font-maple-mono*: update homepage
  Casks/font/font-m/font-maple-mono-cn.rb
  Casks/font/font-m/font-maple-mono-nf-cn.rb
  Casks/font/font-m/font-maple-mono-nf.rb
  Casks/font/font-m/font-maple-mono-normal-cn.rb
  Casks/font/font-m/font-maple-mono-normal-nf-cn.rb
  Casks/font/font-m/font-maple-mono-normal-nf.rb
  Casks/font/font-m/font-maple-mono-normal.rb
  Casks/font/font-m/font-maple-mono.rb
Labels: automerge-skip

#207772 tandem 2.2.1628
  Casks/t/tandem.rb
Labels: bump-cask-pr

#207774 google-chrome@canary 137.0.7111.0
  Casks/g/google-chrome@canary.rb
Labels: bump-cask-pr, livecheck

#207770 cockatrice 2.10.2
  Casks/c/cockatrice.rb
Labels: bump-cask-pr

#207734 repo-prompt 1.0.27 (new cask)
  Casks/r/repo-prompt.rb
Labels: new cask

#207773 firefox@nightly 139.0a1
  Casks/f/firefox@nightly.rb
Labels: bump-cask-pr, livecheck

#207781 picoscope@beta 7.1.50.5366
  Casks/p/picoscope@beta.rb
Labels: bump-cask-pr, livecheck

#207745 trilium-notes: deprecate
  Casks/t/trilium-notes.rb
Labels: cask deprecated

#207801 shortcat 0.12.0
  Casks/s/shortcat.rb
Labels: bump-cask-pr

#207799 vsd-viewer: updates
  Casks/v/vsd-viewer.rb
Labels: ci-syntax-only

#207807 xiami: disable
  Casks/x/xiami.rb
Labels: ci-syntax-only, cask disabled

#207703 devonthink: 3.9.9 and fix livecheck
  Casks/d/devonthink.rb
Labels: livecheck

#207406 mailmaster: add user_agent
  Casks/m/mailmaster.rb
Labels: extract_plist livecheck

#207853 obsbot-center: disable
  .github/autobump.txt
  Casks/o/obsbot-center.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, autobump

#207861 google-chrome@canary 137.0.7113.0
  .github/autobump.txt
  Casks/g/google-chrome@canary.rb
Labels: automerge-skip, bump-cask-pr, autobump

#207851 gog-galaxy 2.0.81.292
  Casks/g/gog-galaxy.rb
Labels: livecheck

#207721 yandex 25.2.5
  Casks/y/yandex.rb
Labels: bump-cask-pr, livecheck

#207900 monero-wallet 0.18.4.0
  Casks/m/monero-wallet.rb
Labels: bump-cask-pr

#207934 carbon-copy-cloner@6 6.1.12.7685
  Casks/c/carbon-copy-cloner@6.rb
Labels: bump-cask-pr

#207957 firefox@nightly 139.0a1,2025-04-07-21-29-17
  Casks/f/firefox@nightly.rb
Labels: bump-cask-pr, livecheck

#207973 autobump: add firefox@nightly
  .github/autobump.txt
Labels: automerge-skip, autobump

#207977 various: disable
  Casks/b/brackets.rb
  Casks/s/schildichat.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#207980 companion 3.5.3, companion@beta 4.0.0 (new cask)
  .github/autobump.txt
  Casks/c/companion.rb
  Casks/c/companion@beta.rb
Labels: automerge-skip, new cask, autobump

#207978 dante-via 1.3.1.3 (new cask)
  .github/autobump.txt
  Casks/d/dante-via.rb
Labels: automerge-skip, new cask, autobump

#207981 companion-satellite 2.0.2 (new cask)
  .github/autobump.txt
  Casks/c/companion-satellite.rb
Labels: automerge-skip, new cask, autobump

#207979 dante-controller 4.14.2.1 (new cask)
  .github/autobump.txt
  Casks/d/dante-controller.rb
Labels: automerge-skip, new cask, autobump

#207471 btp: add support for linux
  Casks/b/btp.rb
Labels: linux cask

#206440 ijhttp-cli 243.24978.46 (new cask)
  Casks/i/ijhttp.rb
Labels: ci-syntax-only, new cask

#207974 autobump: remove trilium-notes
  .github/autobump.txt
Labels: automerge-skip, autobump

#208024 element, element@nightly: update livecheck
  Casks/e/element.rb
  Casks/e/element@nightly.rb
Labels: automerge-skip, livecheck

#207802 spybuster: updates
  Casks/s/spybuster.rb
Labels: livecheck

#208056 google-chrome 135.0.7049.85
  Casks/g/google-chrome.rb
Labels: extract_plist livecheck

#208082 gamemaker 2024.13.0.190
  Casks/g/gamemaker.rb
Labels: bump-cask-pr

#208083 internxt-drive 2.5.4.73
  .github/autobump.txt
  Casks/i/internxt-drive.rb
Labels: automerge-skip, bump-cask-pr, autobump

#208084 jumpcloud-password-manager 3.1.212
  .github/autobump.txt
  Casks/j/jumpcloud-password-manager.rb
Labels: automerge-skip, bump-cask-pr, autobump

#208085 hamrs-pro 2.34.2
  .github/autobump.txt
  Casks/h/hamrs-pro.rb
Labels: automerge-skip, bump-cask-pr, autobump

#208086 lynkeos 3.8
  Casks/l/lynkeos.rb
Labels: bump-cask-pr

#208087 nifty 3.106.1
  Casks/n/nifty.rb
Labels: bump-cask-pr, extract_plist livecheck

#208088 ogdesign-eagle 4.0,9
  Casks/o/ogdesign-eagle.rb
Labels: bump-cask-pr

#208089 photosweeper-x 4.9.5
  Casks/p/photosweeper-x.rb
Labels: bump-cask-pr

#208091 soundanchor 1.2.0
  .github/autobump.txt
  Casks/s/soundanchor.rb
Labels: automerge-skip, bump-cask-pr, autobump

#208092 speedify 15.5.0
  Casks/s/speedify.rb
Labels: bump-cask-pr, extract_plist livecheck

#208093 syncplay 1.7.4
  Casks/s/syncplay.rb
Labels: bump-cask-pr

#208094 triliumnext-notes 0.92.6
  .github/autobump.txt
  Casks/t/triliumnext-notes.rb
Labels: automerge-skip, bump-cask-pr, autobump

#208095 utm@beta 4.6.5
  .github/autobump.txt
  Casks/u/utm@beta.rb
Labels: automerge-skip, bump-cask-pr, autobump

#208090 sage 10.6
  Casks/s/sage.rb
Labels: bump-cask-pr

#208143 arm-performance-libraries 25.04
  Casks/a/arm-performance-libraries.rb
Labels: bump-cask-pr

#208124 favro 1.0.167
  .github/autobump.txt
  Casks/f/favro.rb
Labels: automerge-skip, bump-cask-pr, autobump

#208125 flexoptix 5.40.0-latest
  .github/autobump.txt
  Casks/f/flexoptix.rb
Labels: automerge-skip, bump-cask-pr, autobump

#208142 whisky: deprecate
  Casks/w/whisky.rb
Labels: cask deprecated

#208144 openphone 4.0.13
  Casks/o/openphone.rb
Labels: bump-cask-pr

#208158 ovice 1.14.0 (new cask)
  Casks/o/ovice.rb
Labels: new cask, ready to merge

#208243 franz 5.11.0
  Casks/f/franz.rb
Labels: bump-cask-pr
