Repository Homebrew/homebrew-cask, pull requests merged in 2025-03, with the labels that each got.

#203271 veracrypt-fuse-t 1.26.20 (new cask)
  Casks/v/veracrypt-fuse-t.rb
Labels: new cask

#203374 yate 8.0.1
  Casks/y/yate.rb
Labels: bump-cask-pr

#203373 windsurf@next 1.3.107-next
  .github/autobump.txt
  Casks/w/windsurf@next.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203372 r 4.4.3
  .github/autobump.txt
  Casks/r/r.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203339 candy-crisis 3.0.0 (new cask)
  Casks/c/candy-crisis.rb
Labels: new cask, ci-skip-repository, notability

#203389 megazeux 2.93c
  .github/autobump.txt
  Casks/m/megazeux.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203391 wave 0.11.1
  Casks/w/wave.rb
Labels: bump-cask-pr

#203396 meld-studio 0.8.4.1
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#203398 expandrive 7,2025-2-28,2025-02-28_at_18_09_55
  Casks/e/expandrive.rb
Labels: bump-cask-pr, livecheck

#203395 chrome-remote-desktop-host 134.0.6998.6
  Casks/c/chrome-remote-desktop-host.rb
Labels: ci-skip-install, bump-cask-pr, extract_plist livecheck

#203399 clash-verge-rev: update hashes
  Casks/c/clash-verge-rev.rb
Labels: checksum-mismatch

#203414 handshaker: deprecate
  Casks/h/handshaker.rb
Labels: missing zap, cask deprecated

#203413 td-agent: deprecate
  Casks/t/td-agent.rb
Labels: missing zap, cask deprecated

#203415 opensim: deprecate
  Casks/o/opensim.rb
Labels: missing zap, cask deprecated

#203416 password-gorilla: deprecate
  Casks/p/password-gorilla.rb
Labels: missing zap, cask deprecated

#203417 cinch: deprecate
  Casks/c/cinch.rb
Labels: missing zap, cask deprecated

#203421 dymo-connect 1.4.8.2
  Casks/d/dymo-connect.rb
Labels: bump-cask-pr, ci-skip-livecheck

#203422 scidvsmac: update SHA256
  Casks/s/scidvsmac.rb
Labels: checksum-mismatch

#203454 voov-meeting 3.30.0.510
  Casks/v/voov-meeting.rb
Labels: bump-cask-pr

#203461 heroic: add livecheck
  Casks/h/heroic.rb
Labels: livecheck

#203463 leader-key 1.10.1
  Casks/l/leader-key.rb
Labels: livecheck

#203464 macpilot: update livecheck
  Casks/m/macpilot.rb
Labels: livecheck

#203465 mixed-in-key: update livecheck
  Casks/m/mixed-in-key.rb
Labels: livecheck

#203474 shearwater-cloud: update livecheck
  Casks/s/shearwater-cloud.rb
Labels: livecheck

#203482 xld 20250302
  Casks/x/xld.rb
Labels: bump-cask-pr

#203484 cpu-info 1.5.0
  .github/autobump.txt
  Casks/c/cpu-info.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203496 kiwix 3.8.0
  .github/autobump.txt
  Casks/k/kiwix.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203490 speedify 15.4.0
  Casks/s/speedify.rb
Labels: bump-cask-pr, extract_plist livecheck

#203488 mycloud 25.09.662
  Casks/m/mycloud.rb
Labels: bump-cask-pr, extract_plist livecheck

#203486 circuitjs1 3.1.3js
  Casks/c/circuitjs1.rb
Labels: bump-cask-pr, extract_plist livecheck

#203483 cursor 0.45.17
  Casks/c/cursor.rb
Labels: livecheck

#203487 ghdl 5.0.1
  Casks/g/ghdl.rb
Labels: bump-cask-pr

#203506 pgadmin4: update livecheck
  Casks/p/pgadmin4.rb
Labels: livecheck

#203510 mendeley-reference-manager: update livecheck
  Casks/m/mendeley-reference-manager.rb
Labels: livecheck

#203498 swiftbar: various updates
  Casks/s/swiftbar.rb
Labels: livecheck

#203504 figtree: deprecate
  Casks/f/figtree.rb
Labels: missing zap, cask deprecated

#203505 surge-synthesizer: deprecate
  Casks/s/surge-synthesizer.rb
Labels: missing zap, cask deprecated

#203507 unlox: deprecate
  Casks/u/unlox.rb
Labels: missing zap, cask deprecated

#203508 tvrenamer: deprecate
  Casks/t/tvrenamer.rb
Labels: missing zap, cask deprecated

#203509 nslogger: deprecate
  Casks/n/nslogger.rb
Labels: missing zap, cask deprecated

#203512 lockdown: deprecate
  Casks/l/lockdown.rb
Labels: missing zap, cask deprecated

#203521 inssider: deprecate
  Casks/i/inssider.rb
Labels: missing zap, cask deprecated

#203522 taskwarrior-pomodoro: deprecate
  Casks/t/taskwarrior-pomodoro.rb
Labels: missing zap, cask deprecated

#203513 tnefs-enough: deprecate
  Casks/t/tnefs-enough.rb
Labels: missing zap, cask deprecated

#203524 electric-sheep: deprecate
  Casks/e/electric-sheep.rb
Labels: missing zap, cask deprecated

#203525 various: escape dot operator in regexes
  Casks/1/1password.rb
  Casks/1/1password@beta.rb
  Casks/a/audiogridder-plugin.rb
  Casks/g/get-iplayer-automator.rb
  Casks/g/gramps.rb
  Casks/h/horos.rb
  Casks/i/isabelle.rb
  Casks/m/mediaelch.rb
  Casks/p/picoscope.rb
  Casks/p/private-internet-access.rb
  Casks/s/sonos-s1-controller.rb
  Casks/s/sonos.rb
  Casks/w/wetype.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#203573 aleph-one 20250302
  .github/autobump.txt
  Casks/a/aleph-one.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203574 marathon 20250302
  .github/autobump.txt
  Casks/m/marathon.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203575 marathon-2 20250302
  .github/autobump.txt
  Casks/m/marathon-2.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203576 marathon-infinity 20250302
  .github/autobump.txt
  Casks/m/marathon-infinity.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203489 kugoumusic: disable
  Casks/k/kugoumusic.rb
Labels: ci-syntax-only, livecheck, missing zap, cask disabled

#203592 trae 1.0.8054
  .github/autobump.txt
  Casks/t/trae.rb
Labels: automerge-skip, autobump

#203595 gzdoom 4.14.1
  .github/autobump.txt
  Casks/g/gzdoom.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203597 neteasemusic 3.0.12.2431
  Casks/n/neteasemusic.rb
Labels: bump-cask-pr

#203485 docs: Clarify contributor initalization documentation
  CONTRIBUTING.md
Labels: documentation, automerge-skip

#203577 pareto-security 1.8.8 (new cask)
  Casks/p/pareto-security.rb
Labels: new cask

#203615 domzilla-caffeine 1.5.1
  Casks/d/domzilla-caffeine.rb
Labels: bump-cask-pr

#203468 postman@canary: update livecheck
  Casks/p/postman@canary.rb
Labels: livecheck

#203628 mindjet-mindmanager 24.1.155
  .github/autobump.txt
  Casks/m/mindjet-mindmanager.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203634 displaylink 1.12
  Casks/d/displaylink.rb
Labels: bump-cask-pr

#203633 cernbox 5.3.2.15486
  .github/autobump.txt
  Casks/c/cernbox.rb
Labels: automerge-skip, bump-cask-pr, livecheck, autobump

#203651 godot, godot-mono 4.4
  Casks/g/godot-mono.rb
  Casks/g/godot.rb
Labels: automerge-skip

#203523 grafx 2.8.3174,71
  Casks/g/grafx.rb
Labels: livecheck, missing zap

#203614 creality-print 6.0.4.1793
  Casks/c/creality-print.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip

#203694 keepassxc@beta 2.7.10
  Casks/k/keepassxc@beta.rb
Labels: bump-cask-pr

#203682 openra 20250303
  Casks/o/openra.rb
Labels: bump-cask-pr

#203687 google-drive 105.0.1
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr, extract_plist livecheck

#203693 keepassxc 2.7.10
  .github/autobump.txt
  Casks/k/keepassxc.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203697 slicer 5.8.1
  .github/autobump.txt
  Casks/s/slicer.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203708 consul 1.20.4 (new cask)
  Casks/c/consul.rb
Labels: new cask, ci-skip-token

#203710 meld-studio 0.8.4.2
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#203709 itau 2.3.2.20
  Casks/i/itau.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip, bump-cask-pr, extract_plist livecheck

#203711 Fix SHA256 hash for Apple Silicon version of publii
  Casks/p/publii.rb
Labels: checksum-mismatch

#203714 kdocs 3.10.2
  Casks/k/kdocs.rb
Labels: bump-cask-pr

#203712 block-goose 1.0.11
  .github/autobump.txt
  Casks/b/block-goose.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203732 code-composer-studio 20.1.0.00006
  Casks/c/code-composer-studio.rb
Labels: bump-cask-pr, livecheck

#203746 vmware-fusion 13.6.3
  Casks/v/vmware-fusion.rb
Labels: bump-cask-pr

#203796 presonus-universal-control 4.6.1.104762
  Casks/p/presonus-universal-control.rb
Labels: bump-cask-pr

#203797 connectiq 8.1.0
  Casks/c/connectiq.rb
Labels: bump-cask-pr

#199822 various: add linux support
  Casks/1/1password-cli.rb
  Casks/m/minishift.rb
  Casks/w/wizcli.rb
Labels: automerge-skip

#203799 leela: deprecate
  Casks/l/leela.rb
Labels: missing zap, cask deprecated

#203843 google-chrome 134.0.6998.45
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#203766 servo 2025-03-04
  Casks/s/servo.rb
Labels: bump-cask-pr, missing zap

#203723 focu 0.12.0 (new cask)
  Casks/f/focu.rb
Labels: new cask, ci-skip-repository

#203849 malwarebytes 5.11.1.2147
  .github/autobump.txt
  Casks/m/malwarebytes.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203851 touchdesigner 2023.12230
  .github/autobump.txt
  Casks/t/touchdesigner.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203853 watchfacestudio 1.8.7
  .github/autobump.txt
  Casks/w/watchfacestudio.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203856 amazon-workspaces 5.26.0
  .github/autobump.txt
  Casks/a/amazon-workspaces.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203850 simply-fortran 3.39.4394
  Casks/s/simply-fortran.rb
Labels: bump-cask-pr

#203869 morisawa-desktop-manager 2.3.0
  .github/autobump.txt
  Casks/m/morisawa-desktop-manager.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203871 macskk 1.11.0 (new cask)
  Casks/m/macskk.rb
Labels: new cask

#203872 harbor: disable
  Casks/h/harbor.rb
Labels: ci-syntax-only, missing zap, cask disabled, cask deprecated

#203882 senadevicemanager 4.4.14
  Casks/s/senadevicemanager.rb
Labels: bump-cask-pr

#203883 servo 2025-03-05
  Casks/s/servo.rb
Labels: bump-cask-pr, missing zap

#203884 sublime-merge@dev 2104
  Casks/s/sublime-merge@dev.rb
Labels: bump-cask-pr

#203886 meld-studio 0.8.4.3
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#203885 charmstone 1.37
  .github/autobump.txt
  Casks/c/charmstone.rb
Labels: automerge-skip, bump-cask-pr, autobump

#203904 itunes-volume-control: update livecheck
  Casks/i/itunes-volume-control.rb
Labels: livecheck, missing zap

#203923 midi-router-client 2.0.1
  Casks/m/midi-router-client.rb
Labels: bump-cask-pr

#203941 openshot-video-editor@daily 3.3.0,13379-76d6a9a7-8d9fd63a
  Casks/o/openshot-video-editor@daily.rb
Labels: livecheck

#203943 docker 4.39.0
  Casks/d/docker.rb
Labels: bump-cask-pr

#203942 zen-browser@twilight: update livecheck
  Casks/z/zen-browser@twilight.rb
Labels: livecheck

#203945 adobe-digital-editions: update zap stanza
  Casks/a/adobe-digital-editions.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip

#203613 trae-cn 1.0.8055 (new cask)
  .github/autobump.txt
  Casks/t/trae-cn.rb
Labels: awaiting maintainer feedback, automerge-skip, new cask, autobump

#203998 treesheets 3.3.0,13635709012
  Casks/t/treesheets.rb
Labels: livecheck

#203999 ba-connected: update livecheck
  Casks/b/ba-connected.rb
Labels: livecheck

#204000 readyapi: update livecheck
  Casks/r/readyapi.rb
Labels: livecheck

#204011 jump-desktop-connect 7.1.45
  .github/autobump.txt
  Casks/j/jump-desktop-connect.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204016 maintenance 3.2.9
  .github/autobump.txt
  Casks/m/maintenance.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204020 maxon 2025.3.0
  Casks/m/maxon.rb
Labels: bump-cask-pr

#204024 tableau-public 2024.3.4
  Casks/t/tableau-public.rb
Labels: bump-cask-pr

#204025 tableau-reader 2024.3.4
  Casks/t/tableau-reader.rb
Labels: bump-cask-pr

#204021 swish 1.12
  .github/autobump.txt
  Casks/s/swish.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204023 tableau-prep 2024.3.4
  Casks/t/tableau-prep.rb
Labels: bump-cask-pr

#194357 nvidia-nsight-compute 2025.1.0.14-35237751 (new cask)
  Casks/n/nvidia-nsight-compute.rb
Labels: new cask

#204026 gologin 3.3.82
  .github/autobump.txt
  Casks/g/gologin.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204027 vitalsource-bookshelf 11.0.2.3177
  Casks/v/vitalsource-bookshelf.rb
Labels: bump-cask-pr

#204040 servo 2025-03-06
  .github/autobump.txt
  Casks/s/servo.rb
Labels: automerge-skip, bump-cask-pr, missing zap, autobump

#204044 egovframedev 4.3.0
  Casks/e/egovframedev.rb
Labels: bump-cask-pr

#204065 appflowy: fix sha256
  Casks/a/appflowy.rb
Labels: checksum-mismatch

#204066 plasticscm-cloud-edition: revert to 11.0.16.9213
  Casks/p/plasticscm-cloud-edition.rb
Labels: livecheck

#204032 starcraft: disable
  Casks/s/starcraft.rb
Labels: ci-syntax-only, cask disabled

#204105 paperspace: update livecheck
  Casks/p/paperspace.rb
Labels: livecheck

#204107 midi-router-client 2.0.2
  Casks/m/midi-router-client.rb
Labels: bump-cask-pr

#204163 nvidia-nsight-compute 2025.1.1.2-35528883
  Casks/n/nvidia-nsight-compute.rb
Labels: bump-cask-pr

#204164 parallels@19 19.4.2-54991
  Casks/p/parallels@19.rb
Labels: bump-cask-pr

#204158 multipass: update sha256
  Casks/m/multipass.rb
Labels: ci-skip-install, checksum-mismatch

#204167 quiet 4.0.2
  .github/autobump.txt
  Casks/q/quiet.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204133 creality-print: update sha256
  Casks/c/creality-print.rb
Labels: checksum-mismatch

#204177 smartsvn 14.5.0
  .github/autobump.txt
  Casks/s/smartsvn.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204178 easydict 2.12.0
  .github/autobump.txt
  Casks/e/easydict.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204187 lw-scanner 0.27.3
  Casks/l/lw-scanner.rb
Labels: bump-cask-pr

#203720 publii: update livecheck
  Casks/p/publii.rb
Labels: livecheck

#204214 midi-router-client 2.0.4
  Casks/m/midi-router-client.rb
Labels: bump-cask-pr

#204222 zen-browser: add livecheck
  Casks/z/zen-browser.rb
Labels: livecheck

#204266 cakebrewjs 2.76
  Casks/c/cakebrewjs.rb
Labels: bump-cask-pr

#204267 appgate-sdp-client 6.4.3
  Casks/a/appgate-sdp-client.rb
Labels: bump-cask-pr

#204268 btp 2.83.0
  Casks/b/btp.rb
Labels: bump-cask-pr

#204287 virtualbuddy@beta 2.0,210
  Casks/v/virtualbuddy@beta.rb
Labels: bump-cask-pr

#204269 displaybuddy 2.29
  Casks/d/displaybuddy.rb
Labels: bump-cask-pr

#204272 icab 6.3.1
  Casks/i/icab.rb
Labels: bump-cask-pr

#204279 keet 2.4.0
  Casks/k/keet.rb
Labels: bump-cask-pr

#204285 sejda-pdf 7.8.2
  Casks/s/sejda-pdf.rb
Labels: bump-cask-pr

#204286 uniflash 9.1.0.5175
  Casks/u/uniflash.rb
Labels: bump-cask-pr

#204293 consul: update livecheck
  Casks/c/consul.rb
Labels: livecheck

#204292 sonic-visualiser 5.2.0
  Casks/s/sonic-visualiser.rb
Labels: bump-cask-pr, livecheck

#204311 mural 3.0.4
  .github/autobump.txt
  Casks/m/mural.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204322 berrycast 0.39.1
  .github/autobump.txt
  Casks/b/berrycast.rb
Labels: automerge-skip, bump-cask-pr, autobump

#204323 cakebrewjs 2.77
  Casks/c/cakebrewjs.rb
Labels: bump-cask-pr

#204335 popo 4.18.0
  Casks/p/popo.rb
Labels: livecheck
