Repository Homebrew/homebrew-cask, pull requests merged in 2025-01, with the labels that each got.

#196860 autobump: add ghostty
  .github/autobump.txt
Labels: automerge-skip, autobump

#196859 rewind: deprecate
  Casks/r/rewind.rb
Labels: cask deprecated

#196816 radiola 8.1.0 (new cask)
  .github/autobump.txt
  Casks/r/radiola.rb
Labels: automerge-skip, autobump

#196869 amethyst 0.22.0
  Casks/a/amethyst.rb
Labels: bump-cask-pr

#196870 qlmarkdown 1.0.21
  .github/autobump.txt
  Casks/q/qlmarkdown.rb
Labels: automerge-skip, bump-cask-pr, autobump

#196873 macx-youtube-downloader: remove debugging statement
  Casks/m/macx-youtube-downloader.rb
Labels: ci-syntax-only

#196874 now-tv-player: update livecheck
  Casks/n/now-tv-player.rb
Labels: livecheck

#196828 Green-Go Control 5.1.0 (new cask)
  Casks/g/green-go-control.rb
Labels: new cask

#196879 contour 0.6.1.7494
  .github/autobump.txt
  Casks/c/contour.rb
Labels: automerge-skip, bump-cask-pr, autobump

#196880 kindle-create 1.96
  Casks/k/kindle-create.rb
Labels: bump-cask-pr, extract_plist livecheck

#196881 naps2 7.5.3
  .github/autobump.txt
  Casks/n/naps2.rb
Labels: automerge-skip, bump-cask-pr, autobump

#196883 smartsynchronize 4.6.0
  .github/autobump.txt
  Casks/s/smartsynchronize.rb
Labels: automerge-skip, bump-cask-pr, autobump

#196882 restic-browser 0.3.2
  .github/autobump.txt
  Casks/r/restic-browser.rb
Labels: automerge-skip, bump-cask-pr, autobump

#196878 mixing-station 2.2.0 (new cask)
  Casks/m/mixing-station.rb
Labels: new cask

#196885 unite 5.3.0.1
  .github/autobump.txt
  Casks/u/unite.rb
Labels: automerge-skip, bump-cask-pr, autobump

#196890 youdaodict 11.1.0
  Casks/y/youdaodict.rb
Labels: bump-cask-pr, extract_plist livecheck

#196920 yacreader 9.15.0.2501014
  Casks/y/yacreader.rb
Labels: bump-cask-pr

#196884 ripme 2.1.12-7-d0b97acd
  Casks/r/ripme.rb
Labels: bump-cask-pr

#196651 xcodepilot: update url
  Casks/x/xcodepilot.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip, livecheck

#196865 millie 2.1.2
  Casks/m/millie.rb
Labels: livecheck, extract_plist livecheck

#196931 qlmarkdown: add livecheck, update minimum macOS
  Casks/q/qlmarkdown.rb
Labels: livecheck

#196932 syntax-highlight: add livecheck, update minimum macOS
  .github/autobump.txt
  Casks/s/syntax-highlight.rb
Labels: automerge-skip, livecheck, autobump

#196933 calendar-366 2.15.7
  Casks/c/calendar-366.rb
Labels: bump-cask-pr

#196934 go-shiori 1.7.3
  Casks/g/go-shiori.rb
Labels: bump-cask-pr

#196936 offset-explorer 3.0.2
  Casks/o/offset-explorer.rb
Labels: bump-cask-pr

#196941 xmplify 1.11.6
  Casks/x/xmplify.rb
Labels: bump-cask-pr

#196942 invisionsync: remove livecheck
  Casks/i/invisionsync.rb
Labels: ci-syntax-only, missing description, missing zap, cask disabled

#196943 mechvibes 2.3.6
  Casks/m/mechvibes.rb
Labels: bump-cask-pr

#196946 font-server-mono 0.0.6
  Casks/font/font-s/font-server-mono.rb
Labels: bump-cask-pr

#196952 shadow-bot: remove from autobump
  .github/autobump.txt
Labels: automerge-skip, autobump

#196951 various: remove from autobump
  .github/autobump.txt
Labels: automerge-skip, autobump

#196965 airflow 3.3.9
  .github/autobump.txt
  Casks/a/airflow.rb
Labels: automerge-skip, bump-cask-pr, autobump

#196964 readest 0.8.8 (new cask)
  Casks/r/readest.rb
Labels: new cask

#196978 jet-pilot 1.32.0
  .github/autobump.txt
  Casks/j/jet-pilot.rb
Labels: automerge-skip, bump-cask-pr, autobump

#196987 jasp: update sha256
  Casks/j/jasp.rb
Labels: checksum-mismatch

#197018 mailspring 1.15.0
  Casks/m/mailspring.rb
Labels: bump-cask-pr

#197021 doxygen 1.13.1
  Casks/d/doxygen.rb
Labels: bump-cask-pr

#197023 qth 0.8.13
  Casks/q/qth.rb
Labels: bump-cask-pr

#197019 museeks 0.20.1
  Casks/m/museeks.rb
Labels: bump-cask-pr

#197014 intune-company-portal 5.2412.0
  Casks/i/intune-company-portal.rb
Labels: bump-cask-pr

#197020 dockdoor 1.5.1
  Casks/d/dockdoor.rb
Labels: bump-cask-pr

#197035 readest 0.8.9
  Casks/r/readest.rb
Labels: bump-cask-pr

#197044 extraterm 0.80.0
  Casks/e/extraterm.rb
Labels: bump-cask-pr

#197043 koodo-reader: update livecheck, url and homepage
  Casks/k/koodo-reader.rb
Labels: livecheck

#197045 go-shiori 1.7.4
  Casks/g/go-shiori.rb
Labels: bump-cask-pr

#197047 ok-json 2.8.1
  Casks/o/ok-json.rb
Labels: bump-cask-pr

#197065 whatsize 8.1.6
  Casks/w/whatsize.rb
Labels: bump-cask-pr

#197066 spotify 1.2.53.440
  Casks/s/spotify.rb
Labels: bump-cask-pr, extract_plist livecheck

#197067 jslegendre-themeengine 1.0.0,119
  Casks/j/jslegendre-themeengine.rb
Labels: bump-cask-pr

#197083 choice-financial-terminal 8.6.0.1
  Casks/c/choice-financial-terminal.rb
Labels: bump-cask-pr, extract_plist livecheck

#197084 compositor 1.28.0
  .github/autobump.txt
  Casks/c/compositor.rb
Labels: automerge-skip, bump-cask-pr, autobump

#197064 various: add more zap entries
  Casks/c/coteditor.rb
  Casks/h/huggingchat.rb
  Casks/k/keybase.rb
  Casks/p/protonvpn.rb
  Casks/t/tailscale.rb
Labels: automerge-skip

#197085 satyrn 0.0.102
  .github/autobump.txt
  Casks/s/satyrn.rb
Labels: automerge-skip, bump-cask-pr, autobump

#197107 find-any-file: fix checksum
  Casks/f/find-any-file.rb
Labels: checksum-mismatch

#197087 font-gd-highwaygothicja 112b2 (new cask)
  Casks/font/font-g/font-gd-highwaygothicja.rb
Labels: new cask

#197093 internxt-drive 2.5.1.70
  Casks/i/internxt-drive.rb
Labels: bump-cask-pr, livecheck

#197095 vorta: update livecheck
  Casks/v/vorta.rb
Labels: livecheck

#197111 ibored: update livecheck
  Casks/i/ibored.rb
Labels: livecheck, missing zap

#197096 insomnia*: update livecheck
  Casks/i/insomnia.rb
  Casks/i/insomnia@alpha.rb
Labels: automerge-skip, livecheck

#197109 find-empty-folders: update livecheck, use versioned url
  Casks/f/find-empty-folders.rb
Labels: livecheck

#197112 zotero: update livecheck
  Casks/z/zotero.rb
Labels: livecheck

#197108 find-any-file: update livecheck
  Casks/f/find-any-file.rb
Labels: livecheck

#197132 wifi-explorer 3.5.4
  Casks/w/wifi-explorer.rb
Labels: bump-cask-pr

#197130 oso-cloud 0.22.2
  Casks/o/oso-cloud.rb
Labels: bump-cask-pr

#197131 metaimage 2.6.7
  Casks/m/metaimage.rb
Labels: bump-cask-pr

#197142 wifi-explorer-pro 3.6.8
  Casks/w/wifi-explorer-pro.rb
Labels: bump-cask-pr

#197143 input-source-pro 2.5.0-beta
  Casks/i/input-source-pro.rb
Labels: bump-cask-pr

#197149 vlc@nightly: consolidate url
  Casks/v/vlc@nightly.rb
Labels: cask deprecated

#197150 heynote 2.0.0
  .github/autobump.txt
  Casks/h/heynote.rb
Labels: automerge-skip, bump-cask-pr, autobump

#197152 muyu: disable
  Casks/m/muyu.rb
Labels: ci-syntax-only, cask disabled

#197151 infoflow: disable
  Casks/i/infoflow.rb
Labels: ci-syntax-only, cask disabled

#197161 stratoshark 0.9.0,1452,7bcd0214c2d1
  Casks/s/stratoshark.rb
Labels: bump-cask-pr

#197177 squirrelsql: update homepage
  Casks/s/squirrelsql.rb
Labels: ci-syntax-only

#197176 font-cochineal: use https, add livecheck
  Casks/font/font-c/font-cochineal.rb
Labels: livecheck

#197189 librecad 2.2.1
  Casks/l/librecad.rb
Labels: bump-cask-pr

#197190 pacifist 4.1.2
  Casks/p/pacifist.rb
Labels: bump-cask-pr

#197192 airflow: update checksum
  Casks/a/airflow.rb
Labels: checksum-mismatch

#197163 various: update minimum macOS
  Casks/a/ammonite.rb
  Casks/b/bike.rb
  Casks/c/cardhop.rb
  Casks/c/chronycontrol.rb
  Casks/c/clearvpn.rb
  Casks/c/clockify.rb
  Casks/c/crossover.rb
  Casks/d/deckset.rb
  Casks/d/dingtalk.rb
  Casks/d/dockx.rb
  Casks/d/downie.rb
  Casks/d/dropzone.rb
  Casks/e/egnyte.rb
  Casks/f/fantastical.rb
  Casks/f/finbar.rb
  Casks/g/grammarly-desktop.rb
  Casks/g/gyazo.rb
  Casks/h/hazel.rb
  Casks/j/jumpshare.rb
  Casks/k/kindavim.rb
  Casks/l/live-home-3d.rb
  Casks/m/mediamate.rb
  Casks/m/menubarx.rb
  Casks/m/merlin-project.rb
  Casks/m/mmhmm.rb
  Casks/n/neofinder.rb
  Casks/n/netspot.rb
  Casks/n/nova.rb
  Casks/o/ok-json.rb
  Casks/o/okta-advanced-server-access.rb
  Casks/o/opal-composer.rb
  Casks/p/permute.rb
  Casks/p/pika.rb
  Casks/q/quicken.rb
  Casks/r/replacicon.rb
  Casks/r/rocket-typist.rb
  Casks/s/scrolla.rb
  Casks/s/sessionrestore.rb
  Casks/s/sigmaos.rb
  Casks/s/soulver.rb
  Casks/s/spybuster.rb
  Casks/s/superlist.rb
  Casks/s/surfshark.rb
  Casks/t/tableflip.rb
  Casks/t/tailscale.rb
  Casks/t/the-clock.rb
  Casks/t/touchosc.rb
  Casks/t/tuple.rb
  Casks/t/tyme.rb
  Casks/t/typora.rb
  Casks/v/vellum.rb
  Casks/w/wechat.rb
  Casks/w/wooshy.rb
  Casks/x/xiv-on-mac.rb
  Casks/z/zappy.rb
Labels: ci-syntax-only, automerge-skip

#197153 makehuman: disable
  Casks/m/makehuman.rb
Labels: ci-syntax-only, cask disabled

#197200 knockknock 3.1.0
  Casks/k/knockknock.rb
Labels: bump-cask-pr

#197155 monity-helper: disable
  Casks/m/monity-helper.rb
Labels: ci-syntax-only, missing zap, cask disabled

#197154 quiet-reader: disable
  Casks/q/quiet-reader.rb
Labels: ci-syntax-only, cask disabled

#197205 macpilot 16.3
  Casks/m/macpilot.rb
Labels: bump-cask-pr

#197206 various: update minimum macOS [a-c]
  Casks/a/abstract.rb
  Casks/a/algodoo.rb
  Casks/a/altair-graphql-client.rb
  Casks/a/amazon-chime.rb
  Casks/a/amazon-photos.rb
  Casks/a/amie.rb
  Casks/a/appium-inspector.rb
  Casks/a/archipelago.rb
  Casks/a/arduino-ide.rb
  Casks/a/around.rb
  Casks/a/asset-catalog-tinkerer.rb
  Casks/a/astropad-studio.rb
  Casks/a/azure-data-studio.rb
  Casks/b/backyard-ai.rb
  Casks/b/baidunetdisk.rb
  Casks/b/ballast.rb
  Casks/b/basecamp.rb
  Casks/b/batteries.rb
  Casks/b/bazecor.rb
  Casks/b/beekeeper-studio.rb
  Casks/b/bespoke.rb
  Casks/b/biscuit.rb
  Casks/b/bitwarden.rb
  Casks/b/blender.rb
  Casks/b/blitz-gg.rb
  Casks/b/bluos-controller.rb
  Casks/b/boxy-suite.rb
  Casks/b/breaktimer.rb
  Casks/b/browserosaurus.rb
  Casks/b/bruno.rb
  Casks/c/c0re100-qbittorrent.rb
  Casks/c/caido.rb
  Casks/c/camunda-modeler.rb
  Casks/c/capacities.rb
  Casks/c/chai.rb
  Casks/c/charmstone.rb
  Casks/c/chromium-gost.rb
  Casks/c/cirrus.rb
  Casks/c/claude.rb
  Casks/c/clickup.rb
  Casks/c/coderunner.rb
  Casks/c/codux.rb
  Casks/c/command-tab-plus.rb
  Casks/c/coscreen.rb
  Casks/c/coverload.rb
  Casks/c/cozy-drive.rb
  Casks/c/cryptomator.rb
  Casks/c/curseforge.rb
  Casks/c/cursorsense.rb
Labels: ci-syntax-only, automerge-skip

#197191 various: undeprecate `:unsigned`
  Casks/c/chromedriver@beta.rb
  Casks/g/geogebra@5.rb
  Casks/k/keepassxc@snapshot.rb
  Casks/o/openscad@snapshot.rb
  Casks/q/qbittorrent@lt20.rb
  Casks/q/qgis@ltr.rb
  Casks/t/transmission@nightly.rb
  Casks/v/vlc@nightly.rb
Labels: ci-syntax-only, automerge-skip

#197210 retroarch 1.20.0
  Casks/r/retroarch.rb
Labels: bump-cask-pr

#197211 retroarch-metal 1.20.0
  Casks/r/retroarch-metal.rb
Labels: bump-cask-pr

#197172 various: add more zap entries
  Casks/a/anki.rb
  Casks/m/morisawa-desktop-manager.rb
  Casks/r/raycast.rb
  Casks/r/redis-insight.rb
  Casks/s/spotify.rb
Labels: automerge-skip

#197213 startupizer: deprecate
  Casks/s/startupizer.rb
Labels: cask deprecated

#197214 haroopad: deprecate
  Casks/h/haroopad.rb
Labels: cask deprecated

#197169 fontcreator 15.0.0.3014 (new cask)
  Casks/f/fontcreator.rb
Labels: new cask

#197188 aegisub 3.4.1
  Casks/a/aegisub.rb
Labels: livecheck

#197199 helio 3.14 (new cask)
  Casks/h/helio.rb
Labels: new cask

#197220 various: update minimum macOS
  Casks/k/kext-updater.rb
  Casks/m/macjournal.rb
  Casks/m/marta.rb
  Casks/m/mate-translate.rb
  Casks/m/medis.rb
  Casks/p/pictureview.rb
  Casks/p/prezi-next.rb
  Casks/p/principle.rb
  Casks/s/snapndrag.rb
  Casks/s/sourcenote.rb
  Casks/s/spacelauncher.rb
  Casks/t/touchswitcher.rb
Labels: ci-syntax-only, automerge-skip

#197222 ripme 2.1.13-7-fac3f8ea
  Casks/r/ripme.rb
Labels: bump-cask-pr, livecheck

#197224 various: update livecheck
  Casks/c/cinco.rb
  Casks/o/opera@developer.rb
  Casks/p/pgadmin4.rb
Labels: automerge-skip, livecheck

#197221 various: add more zap entries
  Casks/d/discord.rb
  Casks/g/geekbench.rb
  Casks/i/iterm2.rb
  Casks/p/pgadmin4.rb
  Casks/w/wireshark.rb
Labels: automerge-skip

#197230 dbeaverultimate: update checksums
  Casks/d/dbeaverultimate.rb
Labels: checksum-mismatch

#197232 chatterino 2.5.2
  Casks/c/chatterino.rb
Labels: bump-cask-pr

#197237 various: update minimum macOS [d]
  Casks/d/dash-dash.rb
  Casks/d/dash.rb
  Casks/d/dashcam-viewer.rb
  Casks/d/data-science-studio.rb
  Casks/d/datagraph.rb
  Casks/d/dbgate.rb
  Casks/d/dcommander.rb
  Casks/d/decentr.rb
  Casks/d/devcleaner.rb
  Casks/d/dhs.rb
  Casks/d/dialpad.rb
  Casks/d/diffusionbee.rb
  Casks/d/ditto.rb
  Casks/d/dixa.rb
  Casks/d/doughnut.rb
  Casks/d/drawio.rb
  Casks/d/dropbox-capture.rb
  Casks/d/dropdmg.rb
  Casks/d/dynobase.rb
Labels: ci-syntax-only, automerge-skip

#197236 font-aboriginal*: add livecheck
  Casks/font/font-a/font-aboriginal-sans.rb
  Casks/font/font-a/font-aboriginal-serif.rb
Labels: automerge-skip, livecheck

#197238 various: update minimum macOS [e]
  Casks/e/easy-move+resize.rb
  Casks/e/ebmac.rb
  Casks/e/electerm.rb
  Casks/e/electrocrud.rb
  Casks/e/electron-fiddle.rb
  Casks/e/electron.rb
  Casks/e/electronmail.rb
  Casks/e/element.rb
  Casks/e/element@nightly.rb
  Casks/e/elephicon.rb
  Casks/e/elpass.rb
  Casks/e/ente.rb
  Casks/e/eqmac.rb
  Casks/e/expo-orbit.rb
  Casks/e/extraterm.rb
Labels: ci-syntax-only, automerge-skip

#197239 quodlibet: update livecheck
  Casks/q/quodlibet.rb
Labels: livecheck

#197240 various: update minimum macOS [f]
  Casks/f/fastmarks.rb
  Casks/f/fastrawviewer.rb
  Casks/f/fastscripts.rb
  Casks/f/favro.rb
  Casks/f/fedistar.rb
  Casks/f/feed-the-beast.rb
  Casks/f/feishu.rb
  Casks/f/ferdium.rb
  Casks/f/figma.rb
  Casks/f/filebot.rb
  Casks/f/filemaker-pro.rb
  Casks/f/filen.rb
  Casks/f/final-fantasy-xiv-online.rb
  Casks/f/finicky.rb
  Casks/f/firefly.rb
  Casks/f/fishing-funds.rb
  Casks/f/flameshot.rb
  Casks/f/flexoptix.rb
  Casks/f/fluent-reader.rb
  Casks/f/flycast.rb
  Casks/f/flying-carpet.rb
  Casks/f/focus.rb
  Casks/f/follow.rb
  Casks/f/fontbase.rb
  Casks/f/fontsmoothingadjuster.rb
  Casks/f/foobar2000.rb
  Casks/f/forecast.rb
  Casks/f/forkgram-telegram.rb
  Casks/f/foxglove-studio.rb
  Casks/f/fractal-bot.rb
  Casks/f/framer.rb
  Casks/f/free-ruler.rb
  Casks/f/free42-binary.rb
  Casks/f/free42-decimal.rb
  Casks/f/freeshow.rb
  Casks/f/freeze.rb
  Casks/f/front.rb
  Casks/f/fsnotes.rb
  Casks/f/futubull.rb
  Casks/f/fuwari.rb
Labels: ci-syntax-only, automerge-skip

#197247 iriunwebcam 2.8.12
  Casks/i/iriunwebcam.rb
Labels: bump-cask-pr

#197248 various: update minimum macos [g]
  Casks/g/gamma-control.rb
  Casks/g/gather.rb
  Casks/g/gb-studio.rb
  Casks/g/gcollazo-mongodb.rb
  Casks/g/gcs.rb
  Casks/g/genesis-plus.rb
  Casks/g/geogebra.rb
  Casks/g/get-iplayer-automator.rb
  Casks/g/gitdock.rb
  Casks/g/gitify.rb
  Casks/g/gitup.rb
  Casks/g/glance-chamburr.rb
  Casks/g/gnucash.rb
  Casks/g/godspeed.rb
  Casks/g/goodsync.rb
  Casks/g/google-web-designer.rb
  Casks/g/goxel.rb
  Casks/g/gramps.rb
  Casks/g/grandtotal.rb
  Casks/g/greenery.rb
  Casks/g/guilded.rb
Labels: ci-syntax-only, automerge-skip

#197249 greenfoot: update checksums
  Casks/g/greenfoot.rb
Labels: checksum-mismatch

#197252 various: update minimum macOS [h]
  Casks/h/ha-menu.rb
  Casks/h/hapigo.rb
  Casks/h/height.rb
  Casks/h/heptabase.rb
  Casks/h/heroic.rb
  Casks/h/hey.rb
  Casks/h/hides.rb
  Casks/h/home-assistant.rb
  Casks/h/homerow.rb
  Casks/h/hot.rb
  Casks/h/hp-easy-admin.rb
  Casks/h/hstracker.rb
  Casks/h/http-toolkit.rb
  Casks/h/httpie.rb
  Casks/h/huly.rb
  Casks/h/hyper.rb
  Casks/h/hyperbackupexplorer.rb
Labels: ci-syntax-only, automerge-skip

#197242 various: add more zap entries
  Casks/c/cloudflare-warp.rb
  Casks/j/jordanbaird-ice.rb
  Casks/k/keka.rb
  Casks/m/moradownloader.rb
  Casks/x/xld.rb
Labels: automerge-skip

#197250 opencpn 5.10.2
  Casks/o/opencpn.rb
Labels: bump-cask-pr, livecheck

#197241 desktoppr: update livecheck
  Casks/d/desktoppr.rb
Labels: livecheck

#197253 various: update minimum macOS [i-k]
  Casks/i/ibackup-viewer.rb
  Casks/i/icestudio.rb
  Casks/i/iina+.rb
  Casks/i/inkdrop.rb
  Casks/i/inky.rb
  Casks/i/ip-in-menu-bar.rb
  Casks/i/ipfs.rb
  Casks/i/iptvnator.rb
  Casks/i/ivpn.rb
  Casks/i/izip.rb
  Casks/j/jamf-migrator.rb
  Casks/j/jamie.rb
  Casks/j/jamovi.rb
  Casks/j/jandi-statusbar.rb
  Casks/j/jbrowse.rb
  Casks/j/jellyfin.rb
  Casks/j/jetbrains-space.rb
  Casks/j/jgrennison-openttd.rb
  Casks/j/jiggler.rb
  Casks/j/jitsi-meet.rb
  Casks/j/joplin.rb
  Casks/j/juice.rb
  Casks/j/jump.rb
  Casks/j/jumpcut.rb
  Casks/j/jupyter-notebook-viewer.rb
  Casks/j/jupyterlab.rb
  Casks/k/kextviewr.rb
  Casks/k/keybase.rb
  Casks/k/keyboard-cleaner.rb
  Casks/k/keyboard-maestro.rb
  Casks/k/keyboardholder.rb
  Casks/k/keycastr.rb
  Casks/k/keycue.rb
  Casks/k/keymapp.rb
  Casks/k/keypad-layout.rb
  Casks/k/kigb.rb
  Casks/k/kodelife.rb
  Casks/k/kodi.rb
  Casks/k/kopiaui.rb
  Casks/k/kui.rb
Labels: ci-syntax-only, automerge-skip

#197255 various: update minimum macOS [l]
  Casks/l/laravel-kit.rb
  Casks/l/lark.rb
  Casks/l/launchbar.rb
  Casks/l/leapp.rb
  Casks/l/lens.rb
  Casks/l/linear-linear.rb
  Casks/l/linphone.rb
  Casks/l/litecoin.rb
  Casks/l/llamachat.rb
  Casks/l/local.rb
  Casks/l/localcan.rb
  Casks/l/localizationeditor.rb
  Casks/l/logmein-client.rb
  Casks/l/logos.rb
  Casks/l/longplay.rb
  Casks/l/loom.rb
  Casks/l/losslesscut.rb
  Casks/l/ludwig.rb
  Casks/l/lunacy.rb
  Casks/l/lunar-client.rb
  Casks/l/lunarbar.rb
  Casks/l/lx-music.rb
Labels: automerge-skip

#197261 wins 2.5.1
  Casks/w/wins.rb
Labels: livecheck

#197262 various: update minimum macOS [m]
  Casks/m/mac-mouse-fix.rb
  Casks/m/macdroid.rb
  Casks/m/macgesture.rb
  Casks/m/macintoshjs.rb
  Casks/m/macmediakeyforwarder.rb
  Casks/m/macvim.rb
  Casks/m/macwhisper.rb
  Casks/m/mailmaster.rb
  Casks/m/mailspring.rb
  Casks/m/malus.rb
  Casks/m/markedit.rb
  Casks/m/marvel.rb
  Casks/m/master-pdf-editor.rb
  Casks/m/mattermost.rb
  Casks/m/mcreator.rb
  Casks/m/media-center.rb
  Casks/m/mediainfoex.rb
  Casks/m/megacmd.rb
  Casks/m/megasync.rb
  Casks/m/meld-studio.rb
  Casks/m/mellel.rb
  Casks/m/mem.rb
  Casks/m/messenger.rb
  Casks/m/mia-for-gmail.rb
  Casks/m/miaoyan.rb
  Casks/m/microsoft-azure-storage-explorer.rb
  Casks/m/midiview.rb
  Casks/m/milanote.rb
  Casks/m/min.rb
  Casks/m/mindjet-mindmanager.rb
  Casks/m/minecraft-education.rb
  Casks/m/mini-program-studio.rb
  Casks/m/minisim.rb
  Casks/m/minitube.rb
  Casks/m/mints.rb
  Casks/m/missive.rb
  Casks/m/mixin.rb
  Casks/m/mixxx.rb
  Casks/m/mockoon.rb
  Casks/m/modern-csv.rb
  Casks/m/monal.rb
  Casks/m/mongodb-compass-isolated-edition.rb
  Casks/m/mongodb-compass-readonly.rb
  Casks/m/mongodb-realm-studio.rb
  Casks/m/monodraw.rb
  Casks/m/moonlight.rb
  Casks/m/morgen.rb
  Casks/m/mullvad-browser.rb
  Casks/m/multi.rb
  Casks/m/multiviewer-for-f1.rb
  Casks/m/munkiadmin.rb
  Casks/m/mural.rb
  Casks/m/murus.rb
  Casks/m/musictube.rb
  Casks/m/mx-power-gadget.rb
  Casks/m/mysteriumdark.rb
Labels: ci-syntax-only, automerge-skip

#197263 various: update minimum macOS [n]
  Casks/n/navicat-premium.rb
  Casks/n/nestopia.rb
  Casks/n/neteasemusic.rb
  Casks/n/netiquette.rb
  Casks/n/netron.rb
  Casks/n/network-radar.rb
  Casks/n/nitro-pdf-pro.rb
  Casks/n/nordpass.rb
  Casks/n/nosql-workbench.rb
  Casks/n/nota.rb
  Casks/n/notes-better.rb
  Casks/n/notesnook.rb
  Casks/n/notion-calendar.rb
  Casks/n/notion.rb
  Casks/n/notunes.rb
  Casks/n/novabench.rb
  Casks/n/noxappplayer.rb
  Casks/n/ntfstool.rb
  Casks/n/nuage.rb
  Casks/n/nucleo.rb
  Casks/n/nuclino.rb
  Casks/n/nulloy.rb
  Casks/n/nwjs.rb
Labels: automerge-skip

#197264 mullvadvpn@beta: update livecheck
  Casks/m/mullvadvpn@beta.rb
Labels: livecheck

#197265 various: update minimum macOS [o-p]
  Casks/o/olive.rb
  Casks/o/onekey.rb
  Casks/o/openbci.rb
  Casks/o/openineditor-lite.rb
  Casks/o/openinterminal-lite.rb
  Casks/o/openrgb.rb
  Casks/o/optimus-player.rb
  Casks/o/orangedrangon-android-messages.rb
  Casks/o/orbstack.rb
  Casks/o/overt.rb
  Casks/o/ovito-pro.rb
  Casks/o/ovito.rb
  Casks/p/pagico.rb
  Casks/p/pallotron-yubiswitch.rb
  Casks/p/panwriter.rb
  Casks/p/papers.rb
  Casks/p/parsehub.rb
  Casks/p/parsify.rb
  Casks/p/physics-101.rb
  Casks/p/pibar.rb
  Casks/p/picfindr.rb
  Casks/p/pinegrow.rb
  Casks/p/piphero.rb
  Casks/p/pitch.rb
  Casks/p/pixelorama.rb
  Casks/p/pixelsnap.rb
  Casks/p/planet.rb
  Casks/p/playdate-mirror.rb
  Casks/p/plexamp.rb
  Casks/p/plus42-binary.rb
  Casks/p/plus42-decimal.rb
  Casks/p/pocket-casts.rb
  Casks/p/podman-desktop.rb
  Casks/p/poe.rb
  Casks/p/pokemon-tcg-live.rb
  Casks/p/polkadot-js.rb
  Casks/p/polymail.rb
  Casks/p/polypane.rb
  Casks/p/polyphone.rb
  Casks/p/popo.rb
  Casks/p/postman-agent.rb
  Casks/p/postman.rb
  Casks/p/power-manager.rb
  Casks/p/printopia.rb
  Casks/p/privatevpn.rb
  Casks/p/processing.rb
  Casks/p/progressive-downloader.rb
  Casks/p/protokol.rb
  Casks/p/proton-pass.rb
  Casks/p/protopie.rb
  Casks/p/pushplaylabs-sidekick.rb
Labels: ci-syntax-only, automerge-skip

#197266 various: update minimum macOS [q-r]
  Casks/q/qctools.rb
  Casks/q/qflipper.rb
  Casks/q/qlvideo.rb
  Casks/q/qmk-toolbox.rb
  Casks/q/qownnotes.rb
  Casks/q/qq.rb
  Casks/q/qqlive.rb
  Casks/q/qr-journal.rb
  Casks/q/qspace-pro.rb
  Casks/q/qt-creator.rb
  Casks/q/qt-creator@dev.rb
  Casks/q/qth.rb
  Casks/q/quba.rb
  Casks/q/quicksilver.rb
  Casks/r/radar.rb
  Casks/r/rambox.rb
  Casks/r/rancher.rb
  Casks/r/random-mouse-clicker.rb
  Casks/r/rapidapi.rb
  Casks/r/raze.rb
  Casks/r/react-native-debugger.rb
  Casks/r/readdle-spark.rb
  Casks/r/redis-insight.rb
  Casks/r/redis-pro.rb
  Casks/r/reflect.rb
  Casks/r/reflector.rb
  Casks/r/remember-the-milk.rb
  Casks/r/remote-desktop-manager.rb
  Casks/r/remotehamradio.rb
  Casks/r/reqable.rb
  Casks/r/responsively.rb
  Casks/r/retro-virtual-machine.rb
  Casks/r/reverso.rb
  Casks/r/rightfont.rb
  Casks/r/rippling.rb
  Casks/r/rive.rb
  Casks/r/roam-research.rb
  Casks/r/roaringapps.rb
  Casks/r/roboform.rb
  Casks/r/rocket-chat.rb
  Casks/r/rocket.rb
  Casks/r/rotato.rb
  Casks/r/rotki.rb
  Casks/r/routine.rb
  Casks/r/royal-tsx.rb
  Casks/r/runjs.rb
Labels: ci-syntax-only, automerge-skip

#197283 various: update minimum macOS [t]
  Casks/t/tabby.rb
  Casks/t/tachidesk-sorayomi.rb
  Casks/t/tagspaces.rb
  Casks/t/tandem.rb
  Casks/t/tap-forms.rb
  Casks/t/taskade.rb
  Casks/t/taskpaper.rb
  Casks/t/teamviewer-quickjoin.rb
  Casks/t/teamviewer-quicksupport.rb
  Casks/t/telegram-a.rb
  Casks/t/telegram-desktop.rb
  Casks/t/teleport-connect.rb
  Casks/t/tempbox.rb
  Casks/t/tencent-docs.rb
  Casks/t/tentacle-sync-studio.rb
  Casks/t/termius.rb
  Casks/t/tetrio.rb
  Casks/t/texmacs.rb
  Casks/t/thangs-sync.rb
  Casks/t/the-archive.rb
  Casks/t/the-unarchiver.rb
  Casks/t/thedesk.rb
  Casks/t/there.rb
  Casks/t/therm.rb
  Casks/t/threema.rb
  Casks/t/ths.rb
  Casks/t/thunder.rb
  Casks/t/tidal.rb
  Casks/t/tidgi.rb
  Casks/t/tiger-trade.rb
  Casks/t/timeular.rb
  Casks/t/tinderbox.rb
  Casks/t/tip.rb
  Casks/t/tmpdisk.rb
  Casks/t/todoist.rb
  Casks/t/tomatobar.rb
  Casks/t/topaz-video-ai.rb
  Casks/t/tor-browser.rb
  Casks/t/touchdesigner.rb
  Casks/t/tradingview.rb
  Casks/t/transmission.rb
  Casks/t/transmit.rb
  Casks/t/treesheets.rb
  Casks/t/tresorit.rb
  Casks/t/trex.rb
  Casks/t/trilium-notes.rb
  Casks/t/trivial.rb
  Casks/t/tropy.rb
  Casks/t/tunein.rb
  Casks/t/tuta-mail.rb
  Casks/t/typeit4me.rb
  Casks/t/typinator.rb
Labels: ci-syntax-only, automerge-skip

#197284 various: update minimum macOS [u-v]
  Casks/u/ubports-installer.rb
  Casks/u/ueli.rb
  Casks/u/uhk-agent.rb
  Casks/u/ukelele.rb
  Casks/u/unclutter.rb
  Casks/u/unexpectedly.rb
  Casks/u/unipro-ugene.rb
  Casks/u/unity-hub.rb
  Casks/u/unnaturalscrollwheels.rb
  Casks/u/usb-overdrive.rb
  Casks/u/utools.rb
  Casks/v/v2ray-unofficial.rb
  Casks/v/valentina-studio.rb
  Casks/v/vanilla.rb
  Casks/v/vero.rb
  Casks/v/via.rb
  Casks/v/viber.rb
  Casks/v/vidl.rb
  Casks/v/vieb.rb
  Casks/v/vincelwt-chatgpt.rb
  Casks/v/vine-server.rb
  Casks/v/virtualbuddy.rb
  Casks/v/viscosity.rb
  Casks/v/vitals.rb
  Casks/v/vk-calls.rb
  Casks/v/volanta.rb
  Casks/v/volta.rb
  Casks/v/vox.rb
  Casks/v/vrew.rb
  Casks/v/vv.rb
  Casks/v/vysor.rb
Labels: ci-syntax-only, automerge-skip

#197285 various: update minimum macOS [w-z]
  Casks/w/wallpaper-wizard.rb
  Casks/w/waltr-pro.rb
  Casks/w/warcraft-logs-uploader.rb
  Casks/w/warzone-2100.rb
  Casks/w/wavebox.rb
  Casks/w/waves-central.rb
  Casks/w/weakauras-companion.rb
  Casks/w/webcatalog.rb
  Casks/w/webex.rb
  Casks/w/website-watchman.rb
  Casks/w/wechatwork.rb
  Casks/w/weektodo.rb
  Casks/w/weiyun.rb
  Casks/w/whalebird.rb
  Casks/w/whoozle-android-file-transfer.rb
  Casks/w/wifispoof.rb
  Casks/w/windows95.rb
  Casks/w/wirecast.rb
  Casks/w/wolai.rb
  Casks/w/wondershare-edrawmax.rb
  Casks/w/workflowy.rb
  Casks/w/wowup.rb
  Casks/w/wpsoffice-cn.rb
  Casks/w/wrike.rb
  Casks/w/writerside.rb
  Casks/w/wwdc.rb
  Casks/x/xiaomi-cloud.rb
  Casks/x/xmplify.rb
  Casks/x/xnconvert.rb
  Casks/x/xnviewmp.rb
  Casks/x/xscope.rb
  Casks/x/xstation5.rb
  Casks/x/xtool-creative-space.rb
  Casks/y/yandex.rb
  Casks/y/yate.rb
  Casks/y/yep.rb
  Casks/y/yippy.rb
  Casks/y/yojimbo.rb
  Casks/y/yt-music.rb
  Casks/y/ytmdesktop-youtube-music.rb
  Casks/y/yubico-authenticator.rb
  Casks/y/yuque.rb
  Casks/z/zettlr.rb
  Casks/z/znote.rb
  Casks/z/zoho-mail.rb
  Casks/z/zspace.rb
  Casks/z/zulip.rb
Labels: ci-syntax-only, automerge-skip

#197287 aquaterm: disable
  Casks/a/aquaterm.rb
  Casks/k/knotes.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#197292 bloop: deprecate due to archived repo
  .github/autobump.txt
  Casks/b/bloop.rb
Labels: automerge-skip, cask deprecated, autobump

#197166 aw-edid-editor 3.0.20 (new cask)
  Casks/a/aw-edid-editor.rb
Labels: new cask

#197293 Revise HyperConnect 1.2.0 SHA256
  Casks/h/hyperconnect.rb
Labels: checksum-mismatch

#197301 thor: fix sha256
  Casks/t/thor.rb
Labels: checksum-mismatch

#197299 various: add more zap entries
  Casks/a/apparency.rb
  Casks/b/battery.rb
  Casks/n/netnewswire.rb
  Casks/s/stats.rb
  Casks/z/zotero.rb
Labels: automerge-skip

#197302 mambaforge: disable
  Casks/m/mambaforge.rb
Labels: ci-syntax-only, cask disabled, cask deprecated

#197309 macpilot 16.4
  .github/autobump.txt
  Casks/m/macpilot.rb
Labels: automerge-skip, bump-cask-pr, autobump

#197311 mailplane 4.3.12
  Casks/m/mailplane.rb
Labels: bump-cask-pr

#197312 jedit-omega 3.09
  Casks/j/jedit-omega.rb
Labels: bump-cask-pr

#197323 music-widget 1.28
  Casks/m/music-widget.rb
Labels: bump-cask-pr

#197321 music-miniplayer 1.13
  Casks/m/music-miniplayer.rb
Labels: bump-cask-pr

#197322 music-remote 1.6
  Casks/m/music-remote.rb
Labels: bump-cask-pr

#197324 mx-power-gadget 1.5.2
  Casks/m/mx-power-gadget.rb
Labels: bump-cask-pr

#197304 iterm2@beta: update livecheck
  Casks/i/iterm2@beta.rb
Labels: livecheck

#197325 nwjs 0.94.1
  Casks/n/nwjs.rb
Labels: bump-cask-pr

#197337 ripme 2.1.16-4-02372e85
  Casks/r/ripme.rb
Labels: bump-cask-pr

#197338 ultrastardeluxe 2025.1.0
  Casks/u/ultrastardeluxe.rb
Labels: bump-cask-pr

#197339 marsedit: update checksum
  Casks/m/marsedit.rb
Labels: checksum-mismatch

#197340 supernotes: update checksum
  Casks/s/supernotes.rb
Labels: checksum-mismatch

#197341 mochi: update checksum
  Casks/m/mochi.rb
Labels: checksum-mismatch

#197343 shearwater-cloud: update checksum
  Casks/s/shearwater-cloud.rb
Labels: checksum-mismatch

#197344 smart-converter-pro: update checksum, remove rosetta caveat
  Casks/s/smart-converter-pro.rb
Labels: ci-skip-livecheck, checksum-mismatch

#197360 font-plemol-jp-nf 2.0.1
  Casks/font/font-p/font-plemol-jp-nf.rb
Labels: bump-cask-pr

#197359 font-plemol-jp-hs 2.0.1
  Casks/font/font-p/font-plemol-jp-hs.rb
Labels: bump-cask-pr

#197358 font-plemol-jp 2.0.1
  Casks/font/font-p/font-plemol-jp.rb
Labels: bump-cask-pr

#197303 hackintool: update sha256
  Casks/h/hackintool.rb
Labels: checksum-mismatch

#197377 skype, skype@preview: update url
  Casks/s/skype.rb
  Casks/s/skype@preview.rb
Labels: automerge-skip
