Repository Homebrew/homebrew-cask, pull requests merged in 2025-08, with the labels that each got.

#222311 archy 2.35.1
  Casks/a/archy.rb
Labels: cask disabled, unsigned

#222315 Update unsigned deprecations to disable
  Casks/d/deadbeef@nightly.rb
  Casks/m/mumble@snapshot.rb
  Casks/o/openemu@experimental.rb
  Casks/p/playcover-community@beta.rb
  Casks/s/sonarr@beta.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, cask disabled, unsigned

#222338 dockview 1.6.7
  Casks/d/dockview.rb
Labels: bump-cask-pr

#222340 letter-opener 16.0.7
  Casks/l/letter-opener.rb
Labels: bump-cask-pr

#222341 loop 1.3.0
  Casks/l/loop.rb
Labels: bump-cask-pr

#222351 slite 1.3.0
  Casks/s/slite.rb
Labels: bump-cask-pr

#222286 time-to-leave 4.0.0
  Casks/t/time-to-leave.rb
Labels: cask disabled, ready to merge, unsigned

#222347 omnissa-horizon-client 2506-8.16.0-16536825094
  Casks/o/omnissa-horizon-client.rb
Labels: bump-cask-pr

#222370 firestorm 7.1.13.78266
  Casks/f/firestorm.rb
Labels: bump-cask-pr

#222404 virtualbox@beta 7.1.13-169987
  Casks/v/virtualbox@beta.rb
Labels: bump-cask-pr, missing description

#222407 spotify 1.2.69.449
  Casks/s/spotify.rb
Labels: bump-cask-pr, extract_plist livecheck

#222410 font-codicon 0.0.39, use npm registry download
  Casks/font/font-c/font-codicon.rb
Labels: bump-cask-pr

#222424 teleport-suite@17 17.7.1
  Casks/t/teleport-suite@17.rb
Labels: bump-cask-pr, cask disabled

#222425 kvirc 5.2.8
  Casks/k/kvirc.rb
Labels: bump-cask-pr, cask disabled, unsigned

#222428 textadept 12.8
  Casks/t/textadept.rb
Labels: bump-cask-pr, cask disabled, unsigned

#222429 vieb 12.4.0
  Casks/v/vieb.rb
Labels: bump-cask-pr, cask disabled, unsigned

#222440 tageditor 2.0.1,1330
  Casks/t/tageditor.rb
Labels: extract_plist livecheck

#222405 miniforge 25.3.1-0
  Casks/m/miniforge.rb
Labels: ci-syntax-only, bump-cask-pr

#222453 stretchly: deprecate
  Casks/s/stretchly.rb
Labels: cask disabled, unsigned

#222454 superslicer: deprecate unsigned
  Casks/s/superslicer.rb
Labels: cask disabled, unsigned

#222451 shift: update livecheck
  Casks/s/shift.rb
Labels: livecheck

#222456 speedify 15.7.2
  Casks/s/speedify.rb
Labels: extract_plist livecheck

#222457 antconc: update arm sha256, add minimum macOS version
  Casks/a/antconc.rb
Labels: checksum-mismatch

#222484 fig: disable
  Casks/f/fig.rb
Labels: ci-syntax-only, cask disabled, cask deprecated

#222506 flameshot: use `github_latest` livecheck strategy
  Casks/f/flameshot.rb
Labels: livecheck, cask disabled, unsigned

#222515 ubar 4.2.3
  Casks/u/ubar.rb
Labels: bump-cask-pr

#222516 valhalla-*: update livecheck
  Casks/v/valhalla-freq-echo.rb
  Casks/v/valhalla-space-modulator.rb
  Casks/v/valhalla-supermassive.rb
Labels: automerge-skip, livecheck

#222520 deepstream 10.0.0
  Casks/d/deepstream.rb
Labels: cask disabled, unsigned

#222522 finch: remove livecheck
  Casks/f/finch.rb
Labels: livecheck

#222523 dyad 0.14.0 (new cask)
  Casks/d/dyad.rb
Labels: new cask

#222538 Remove redundant livecheck blocks for unsigned casks
  Casks/a/ariang.rb
  Casks/c/chromium-gost.rb
  Casks/e/electronmail.rb
  Casks/f/fishing-funds.rb
  Casks/n/nanoem.rb
  Casks/s/stretchly.rb
  Casks/t/tiddly.rb
  Casks/t/tlv.rb
  Casks/t/toinane-colorpicker.rb
  Casks/u/ultrastardeluxe.rb
  Casks/u/uvtools.rb
  Casks/v/vieb.rb
Labels: automerge-skip, livecheck, cask disabled, unsigned

#222471 armory: deprecate unsigned
  Casks/a/armory.rb
Labels: missing zap, cask disabled, ready to merge, unsigned

#222550 opensesame: deprecate
  Casks/o/opensesame.rb
Labels: cask disabled, unsigned

#222551 ultracopier: disable
  Casks/u/ultracopier.rb
Labels: cask disabled, cask deprecated

#222552 openlp: deprecate
  Casks/o/openlp.rb
Labels: cask disabled, unsigned

#222455 saoimageds9: deprecate unsigned
  Casks/s/saoimageds9.rb
Labels: ci-syntax-only, cask disabled, unsigned

#222609 Remove livecheck from disabled casks
  Casks/d/dropbox-capture.rb
  Casks/y/yubico-yubikey-manager.rb
Labels: ci-syntax-only, automerge-skip, livecheck, cask disabled

#222460 codebolt 1.1.17 (new cask)
  Casks/c/codebolt.rb
Labels: new cask

#222662 wowmatrix: disable
  Casks/w/wowmatrix.rb
Labels: missing zap, cask disabled, cask deprecated

#222663 metashapepro: update sha256, add minimum macOS
  Casks/m/metashapepro.rb
Labels: checksum-mismatch

#222664 mark-text: deprecate unsigned
  Casks/m/mark-text.rb
Labels: cask disabled, unsigned

#222665 meteorologist: update sha256
  Casks/m/meteorologist.rb
Labels: checksum-mismatch

#222666 multimc: deprecate unsigned
  Casks/m/multimc.rb
Labels: cask disabled, unsigned

#222668 maccleaner-pro: update sha256
  Casks/m/maccleaner-pro.rb
Labels: checksum-mismatch

#222680 jquake: deprecate unsigned
  Casks/j/jquake.rb
Labels: cask disabled, unsigned

#222686 chronos: deprecate unsigned
  Casks/c/chronos.rb
Labels: cask disabled, unsigned

#222687 cursorsense 2.4.2
  Casks/c/cursorsense.rb
Labels: bump-cask-pr

#222688 hey-desktop 1.2.18
  Casks/h/hey-desktop.rb
Labels: bump-cask-pr

#222689 nvidia-nsight-systems 2025.4.1.136-3622481
  Casks/n/nvidia-nsight-systems.rb
Labels: bump-cask-pr

#222701 bdash 1.19.1
  Casks/b/bdash.rb
Labels: bump-cask-pr

#222711 outset 4.2.0.21973
  Casks/o/outset.rb
Labels: bump-cask-pr

#222646 Potential fix for code scanning alert no. 48: Workflow does not contain permissions
  .github/workflows/scheduled.yml
Labels: automerge-skip

#222647 Potential fix for code scanning alert no. 70: Jinja2 templating with autoescape=False
  developer/bin/import_google_fonts
Labels: automerge-skip

#222798 [#]: enable autobump
  Casks/0/0-ad.rb
  Casks/0/010-editor.rb
  Casks/1/1password@7.rb
  Casks/3/3dgenceslicer.rb
  Casks/4/4k-slideshow-maker.rb
  Casks/4/4k-stogram.rb
  Casks/4/4k-video-to-mp3.rb
  Casks/4/4peaks.rb
  Casks/5/5kplayer.rb
  Casks/8/8bitdo-ultimate-software.rb
Labels: automerge-skip

#222799 oso-cloud 0.33.0 & deprecate
  Casks/o/oso-cloud.rb
Labels: cask disabled, unsigned

#222800 ueli 9.25.0 & deprecate
  Casks/u/ueli.rb
Labels: cask disabled, unsigned

#222813 h*: remove `no_autobump!`
  Casks/h/ha-menu.rb
  Casks/h/hacker-menu.rb
  Casks/h/hackintool.rb
  Casks/h/hackmd.rb
  Casks/h/hakuneko.rb
  Casks/h/halion-sonic.rb
  Casks/h/hammerspoon.rb
  Casks/h/handbrakebatch.rb
  Casks/h/handshaker.rb
  Casks/h/haptic-touch-bar.rb
  Casks/h/haptickey.rb
  Casks/h/harbor.rb
  Casks/h/harmony.rb
  Casks/h/haroopad.rb
  Casks/h/hdfview.rb
  Casks/h/hdhomerun.rb
  Casks/h/hdrmerge.rb
  Casks/h/headset.rb
  Casks/h/heaven.rb
  Casks/h/hedgewars.rb
  Casks/h/height.rb
  Casks/h/heimdall-suite.rb
  Casks/h/helo.rb
  Casks/h/hermes.rb
  Casks/h/hermit-crab.rb
  Casks/h/hex-fiend.rb
  Casks/h/hhkb.rb
  Casks/h/hiarcs-chess-explorer.rb
  Casks/h/hiddenbar.rb
  Casks/h/hidock.rb
  Casks/h/historyhound.rb
  Casks/h/home-inventory.rb
  Casks/h/homerow.rb
  Casks/h/honer.rb
  Casks/h/honto.rb
  Casks/h/hookshot.rb
  Casks/h/horndis.rb
  Casks/h/horos.rb
  Casks/h/hostsx.rb
  Casks/h/hot.rb
  Casks/h/hotswitch.rb
  Casks/h/hovrly.rb
  Casks/h/hp-eprint.rb
  Casks/h/hp-prime.rb
  Casks/h/html-mangareader.rb
  Casks/h/hue-topia.rb
  Casks/h/hugin.rb
  Casks/h/hush.rb
  Casks/h/hwsensors.rb
  Casks/h/hy-rpe2.rb
  Casks/h/hype.rb
  Casks/h/hyper.rb
  Casks/h/hyper@canary.rb
Labels: ci-syntax-only, automerge-skip

#222833 q*: remove `no_autobump!`
  Casks/q/qblocker.rb
  Casks/q/qbserve.rb
  Casks/q/qcma.rb
  Casks/q/qctools.rb
  Casks/q/qdesktop.rb
  Casks/q/qdirstat.rb
  Casks/q/qdslrdashboard.rb
  Casks/q/qflipper.rb
  Casks/q/qingg.rb
  Casks/q/qladdict.rb
  Casks/q/qlcolorcode.rb
  Casks/q/qlcommonmark.rb
  Casks/q/qldds.rb
  Casks/q/qlfits.rb
  Casks/q/qlgradle.rb
  Casks/q/qlimagesize.rb
  Casks/q/qlmobi.rb
  Casks/q/qlnetcdf.rb
  Casks/q/qlplayground.rb
  Casks/q/qlprettypatch.rb
  Casks/q/qlstephen.rb
  Casks/q/qlswift.rb
  Casks/q/qlzipinfo.rb
  Casks/q/qmk-toolbox.rb
  Casks/q/qmoji.rb
  Casks/q/qobuz-downloader.rb
  Casks/q/qr-journal.rb
  Casks/q/qsync-client.rb
  Casks/q/qsyncthingtray.rb
  Casks/q/qt3dstudio.rb
  Casks/q/qth.rb
  Casks/q/qtox.rb
  Casks/q/qtpass.rb
  Casks/q/qtspim.rb
  Casks/q/quail.rb
  Casks/q/quakespasm.rb
  Casks/q/quassel-client.rb
  Casks/q/quassel.rb
  Casks/q/quaternion.rb
  Casks/q/qudedup-extract-tool.rb
  Casks/q/quick-app-ide.rb
  Casks/q/quickboot.rb
  Casks/q/quickgeojson.rb
  Casks/q/quickhash.rb
  Casks/q/quickjson.rb
  Casks/q/quicklook-csv.rb
  Casks/q/quicklook-pat.rb
  Casks/q/quicklook-pfm.rb
  Casks/q/quicklookapk.rb
  Casks/q/quicklookase.rb
  Casks/q/quicknfo.rb
  Casks/q/quiet-reader.rb
  Casks/q/quik.rb
  Casks/q/quit-all.rb
  Casks/q/quitter.rb
  Casks/q/quodlibet.rb
  Casks/q/qutebrowser.rb
  Casks/q/qv2ray.rb
  Casks/q/qwerty-fr.rb
  Casks/q/qxmledit.rb
Labels: ci-syntax-only, automerge-skip

#222850 workflows/autobump: update bump command logic
  .github/workflows/autobump.yml
Labels: automerge-skip

#222858 u*: remove `no_autobump!`
  Casks/u/ua-midi-control.rb
  Casks/u/ubersicht.rb
  Casks/u/udig.rb
  Casks/u/ugg.rb
  Casks/u/ui-browser.rb
  Casks/u/ukrainian-typographic-keyboard.rb
  Casks/u/ukrainian-unicode-layout.rb
  Casks/u/ultimate-control.rb
  Casks/u/ultimate-vocal-remover.rb
  Casks/u/unclack.rb
  Casks/u/unclutter.rb
  Casks/u/uncolored.rb
  Casks/u/uncrustifyx.rb
  Casks/u/unetbootin.rb
  Casks/u/unexpectedly.rb
  Casks/u/unicodechecker.rb
  Casks/u/unified-remote.rb
  Casks/u/uniflash.rb
  Casks/u/unipro-ugene.rb
  Casks/u/unison-app.rb
  Casks/u/unity-android-support-for-editor.rb
  Casks/u/unity-ios-support-for-editor.rb
  Casks/u/unity-webgl-support-for-editor.rb
  Casks/u/unity-windows-support-for-editor.rb
  Casks/u/universal-android-debloater.rb
  Casks/u/unlox.rb
  Casks/u/unnaturalscrollwheels.rb
  Casks/u/unpkg.rb
  Casks/u/unraid-usb-creator-next.rb
  Casks/u/unraid-usb-creator.rb
  Casks/u/unshaky.rb
  Casks/u/upm.rb
  Casks/u/upscayl.rb
  Casks/u/upterm.rb
  Casks/u/usage-app.rb
  Casks/u/usb-overdrive.rb
  Casks/u/usenapp.rb
  Casks/u/usr-sse2-rdm.rb
  Casks/u/utc-menu-clock.rb
  Casks/u/utterly.rb
  Casks/u/uxprotect.rb
Labels: ci-syntax-only, automerge-skip

#222864 y*: remove `no_autobump!`
  Casks/y/yacreader.rb
  Casks/y/yam-display.rb
  Casks/y/yandex-music-unofficial.rb
  Casks/y/yattee.rb
  Casks/y/yed.rb
  Casks/y/yellowdot.rb
  Casks/y/yemuzip.rb
  Casks/y/yep.rb
  Casks/y/yesplaymusic.rb
  Casks/y/yggdrasil.rb
  Casks/y/yippy.rb
  Casks/y/yo-app.rb
  Casks/y/yoda.rb
  Casks/y/yojimbo.rb
  Casks/y/youll-never-take-me-alive.rb
  Casks/y/yousician.rb
  Casks/y/youtrack-workflow.rb
  Casks/y/youtype.rb
  Casks/y/yt-music.rb
  Casks/y/ytmdesktop-youtube-music.rb
  Casks/y/yu-writer.rb
  Casks/y/yubico-yubikey-manager.rb
  Casks/y/yubihsm2-sdk.rb
Labels: ci-syntax-only, automerge-skip

#222917 font-golos-ui, font-pt-astra-sans, font-pt-astra-serif, font-pt-root-ui: new cask
  Casks/font/font-g/font-golos-ui.rb
  Casks/font/font-p/font-pt-astra-sans.rb
  Casks/font/font-p/font-pt-astra-serif.rb
  Casks/font/font-p/font-pt-root-ui.rb
Labels: automerge-skip, new cask

#222993 bettertouchtool@alpha (new cask)
  Casks/b/bettertouchtool@alpha.rb
Labels: new cask

#223027 darktable 5.2.1
  Casks/d/darktable.rb
Labels: cask disabled, unsigned

#223109 audacity: fix checksums
  Casks/a/audacity.rb
Labels: checksum-mismatch

#223111 mochi: fix sha256
  Casks/m/mochi.rb
Labels: checksum-mismatch

#223068 elasticvue 1.8.0 (new cask)
  Casks/e/elasticvue.rb
Labels: new cask

#223143 flameshot 13.0.1
  Casks/f/flameshot.rb
Labels: cask disabled, unsigned

#223245 izip 25.8
  Casks/i/izip.rb
Labels: livecheck

#223290 iina+ 0.8.8
  Casks/i/iina+.rb
Labels: cask disabled, unsigned

#223295 virtualc64 5.3
  Casks/v/virtualc64.rb
Labels: cask disabled, unsigned

#222096 dda 0.24.0 (new cask)
  Casks/d/dda.rb
Labels: new cask, ci-skip-repository, linux cask

#222873 nx-studio 1.9.1
  Casks/n/nx-studio.rb
Labels: bump-cask-pr, livecheck

#223306 tuta-mail 301.250806.1
  Casks/t/tuta-mail.rb
Labels: bump-cask-pr

#223320 mihomo-party 1.8.3
  Casks/m/mihomo-party.rb
Labels: bump-cask-pr

#223318 insta360-studio 5.7.1
  Casks/i/insta360-studio.rb
Labels: bump-cask-pr

#223333 nvidia-nsight-systems: disable
  Casks/n/nvidia-nsight-systems.rb
Labels: ci-syntax-only, bump-cask-pr, cask disabled

#223343 textbar: deprecate unsigned cask, updates
  Casks/t/textbar.rb
Labels: cask disabled, unsigned

#223357 copyq: deprecate unsigned cask
  Casks/c/copyq.rb
Labels: cask disabled, unsigned

#223358 arkiwi: deprecate unsigned cask
  Casks/a/arkiwi.rb
Labels: cask disabled, unsigned

#223368 freetube 0.23.6
  Casks/f/freetube.rb
Labels: cask disabled, unsigned

#223369 aerial: update livecheck
  Casks/a/aerial.rb
Labels: livecheck

#223383 hopper-disassembler 5.19.6
  Casks/h/hopper-disassembler.rb
Labels: bump-cask-pr, livecheck

#223422 bitcoin-core: update livecheck
  Casks/b/bitcoin-core.rb
Labels: livecheck

#223587 rustdesk: Update arm64 and x86_64 checksums
  Casks/r/rustdesk.rb
Labels: checksum-mismatch

#223574 nheko: update checksums
  Casks/n/nheko.rb
Labels: checksum-mismatch

#223691 picview 3.2 (new cask)
  Casks/p/picview.rb
Labels: new cask, ready to merge

#223657 serverbuddy 1.4.2 (new cask)
  Casks/s/serverbuddy.rb
Labels: new cask

#223693 osu@tachyon: new cask
  Casks/o/osu@tachyon.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, new cask

#223760 sleep-aid 1.5 (new cask)
  Casks/s/sleep-aid.rb
Labels: new cask

#223930 treesheets 2386
  Casks/t/treesheets.rb
Labels: cask disabled, unsigned

#223931 Restore recently removed disable! calls
  Casks/h/hydrus-network.rb
  Casks/q/qownnotes.rb
Labels: automerge-skip, cask disabled, unsigned

#224003 casks: use ftpmirror.gnu.org URL
  Casks/e/electricbinary.rb
  Casks/font/font-f/font-freefont.rb
  Casks/font/font-g/font-gnu-unifont.rb
Labels: automerge-skip

#224090 miro 0.11.111
  Casks/m/miro.rb
Labels: bump-cask-pr, extract_plist livecheck

#224091 spotify 1.2.70.409
  Casks/s/spotify.rb
Labels: bump-cask-pr, extract_plist livecheck

#224096 workflows/scheduled.yml: set HOMEBREW_DEVELOPER=1
  .github/workflows/scheduled.yml
Labels: automerge-skip, github_actions

#224218 cursor-cli: update arm64 sha256
  Casks/c/cursor-cli.rb
Labels: checksum-mismatch

#224246 picoscope@beta 7.2.3.6884
  Casks/p/picoscope@beta.rb
Labels: livecheck

#224259 writerside: deprecate
  Casks/w/writerside.rb
Labels: cask deprecated

#224281 shotcut 25.08.16
  Casks/s/shotcut.rb
  audit_exceptions/signing_audit_skiplist.json
Labels: automerge-skip, bump-cask-pr

#224305 wine@devel 10.13
  Casks/w/wine@devel.rb
Labels: cask disabled, unsigned

#224529 change order of names for Amazon Photos
  Casks/a/amazon-photos.rb
Labels: extract_plist livecheck

#224625 angry-ip-scanner 3.9.2
  Casks/a/angry-ip-scanner.rb
Labels: cask disabled, unsigned

#224520 font-suit 2.0.5 (new cask)
  Casks/font/font-s/font-suit.rb
Labels: new cask

#224631 flirc: update hash
  Casks/f/flirc.rb
Labels: checksum-mismatch

#224646 google-drive 113.0.1
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr, extract_plist livecheck

#224768 atv-remote: add livecheck
  Casks/a/atv-remote.rb
Labels: livecheck

#224772 openboardview 9.95.2
  Casks/o/openboardview.rb
Labels: cask disabled, unsigned

#224831 mylio 24.6.7848
  Casks/m/mylio.rb
Labels: bump-cask-pr, extract_plist livecheck

#224958 teleport-suite@17 17.7.2
  Casks/t/teleport-suite@17.rb
Labels: bump-cask-pr, cask disabled

#225064 joshjon-nocturnal: disable
  Casks/j/joshjon-nocturnal.rb
Labels: cask disabled, cask deprecated

#224797 Split font cask `font-monaspace` into 3 variants & changing repo of its nerd font variant `font-monaspace-nerd-font`
  Casks/font/font-m/font-monaspace-frozen.rb
  Casks/font/font-m/font-monaspace-var.rb
  Casks/font/font-m/font-monaspace.rb
Labels: automerge-skip, new cask

#223983 font-stix: revert to 2.13b171
  Casks/font/font-s/font-stix.rb
Labels: livecheck, ready to merge

#225167 prowlarr 2.0.5.5160
  Casks/p/prowlarr.rb
Labels: cask disabled, unsigned

#225183 various: c0-ce: disable due to failing Gatekeeper checks
  Casks/c/c0re100-qbittorrent.rb
  Casks/c/cabal.rb
  Casks/c/camed.rb
  Casks/c/candybar.rb
  Casks/c/caprine.rb
  Casks/c/capslocknodelay.rb
  Casks/c/cardinal.rb
  Casks/c/cctalk.rb
  Casks/c/cerebro.rb
Labels: automerge-skip, cask disabled, unsigned

#225185 various ch-cl: disable due to failing Gatekeeper checks
  Casks/c/chai.rb
  Casks/c/chatterino.rb
  Casks/c/checkra1n.rb
  Casks/c/chessx.rb
  Casks/c/chiaki.rb
  Casks/c/cinco.rb
  Casks/c/circuitjs1.rb
  Casks/c/ckan-app.rb
  Casks/c/clock-bar.rb
  Casks/c/clone-hero.rb
  Casks/c/clover-configurator.rb
Labels: automerge-skip, cask disabled, unsigned

#225186 various cm-cr: disable due to failing Gatekeeper check
  Casks/c/cmd-eikana.rb
  Casks/c/cncjs.rb
  Casks/c/codeexpander.rb
  Casks/c/conferences.rb
  Casks/c/container-ps.rb
  Casks/c/cool-retro-term.rb
  Casks/c/copytranslator.rb
  Casks/c/corelocationcli.rb
  Casks/c/cpuinfo.rb
  Casks/c/crunch-app.rb
Labels: automerge-skip, cask disabled, unsigned

#225193 data-integration: disable due to login requirement for downloads
  Casks/d/data-integration.rb
Labels: ci-syntax-only, missing zap, cask disabled

#225192 Add Petrichor 1.0.0
  Casks/p/petrichor.rb
Labels: new cask

#225117 orcaslicer@nightly latest (new cask)
  Casks/o/orcaslicer@nightly.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, new cask

#225196 sokim: add livecheck
  Casks/s/sokim.rb
Labels: livecheck

#225195 various di-do: disable due to failing Gatekeeper check
  Casks/d/diffmerge.rb
  Casks/d/digikam.rb
  Casks/d/discretescroll.rb
  Casks/d/disk-inventory-x.rb
  Casks/d/displaycal.rb
  Casks/d/djview.rb
  Casks/d/dmenu-mac.rb
  Casks/d/dmidiplayer.rb
  Casks/d/dogecoin.rb
  Casks/d/dosbox-x-app.rb
  Casks/d/doxygen-app.rb
Labels: automerge-skip, cask disabled, unsigned

#225194 various da-de: disable due to failing Gatekeeper check
  Casks/d/darwindumper.rb
  Casks/d/davmail-app.rb
  Casks/d/dd-utility.rb
  Casks/d/ddnet.rb
  Casks/d/deadbolt.rb
  Casks/d/deluge.rb
  Casks/d/deskreen.rb
  Casks/d/desmume.rb
Labels: automerge-skip, cask disabled, unsigned

#225198 dvdstyler: disable due to failing Gatekeeper check
  Casks/d/dvdstyler.rb
Labels: ci-skip-livecheck, cask disabled, ci-skip-homepage, unsigned

#225345 labplot: update sha256 for 2.12.1
  Casks/l/labplot.rb
Labels: checksum-mismatch

#225330 various v2-ve: disable due to failing Gatekeeper check
  Casks/v/v2ray-unofficial.rb
  Casks/v/v2rayu.rb
  Casks/v/vagrant-manager.rb
  Casks/v/valkyrie.rb
  Casks/v/vassal.rb
  Casks/v/ved.rb
  Casks/v/vertcoin-core.rb
  Casks/v/veusz.rb
Labels: automerge-skip, cask disabled, unsigned

#225331 various vi-vy: disable due to failing Gatekeeper check
  Casks/v/vidcutter.rb
  Casks/v/vimediamanager.rb
  Casks/v/vine-server.rb
  Casks/v/vitals.rb
  Casks/v/vmpk.rb
  Casks/v/volt-app.rb
  Casks/v/vuze.rb
  Casks/v/vym.rb
Labels: automerge-skip, cask disabled, unsigned

#225329 various: disable deprecated casks
  Casks/r/r-name.rb
  Casks/r/rember.rb
  Casks/r/rsyncosx.rb
  Casks/s/shuttle.rb
  Casks/s/slimbatterymonitor.rb
  Casks/s/spotify-now-playing.rb
  Casks/s/statusfy.rb
  Casks/s/steveschow-gfxcardstatus.rb
Labels: automerge-skip, cask disabled, cask deprecated

#225335 valley: disable due to failing Gatekeeper check
  Casks/v/valley.rb
Labels: ci-syntax-only, cask disabled, unsigned

#225243 viber (fix url)
  Casks/v/viber.rb
Labels: extract_plist livecheck

#225427 codeedit: add livecheck
  Casks/c/codeedit.rb
Labels: livecheck

#225386 rode-*: use rename
  Casks/r/rode-connect.rb
  Casks/r/rode-unify.rb
Labels: automerge-skip

#225391 various: use rename
  Casks/c/caldigit-docking-utility.rb
  Casks/e/ecamm-live.rb
  Casks/e/ecodms-client.rb
  Casks/f/fanny.rb
  Casks/g/geburtstagschecker.rb
  Casks/g/gplates.rb
  Casks/i/intellij-idea@eap.rb
  Casks/j/julia-app@nightly.rb
  Casks/l/logitech-options.rb
  Casks/t/tageditor.rb
  Casks/t/to-audio-converter.rb
  Casks/v/vienna-assistant.rb
Labels: automerge-skip

#225435 soulseek 2024-6-30
  Casks/s/soulseek.rb
Labels: livecheck

#225453 visual-paradigm-ce 17.3,20250824
  Casks/v/visual-paradigm-ce.rb
Labels: cask disabled, unsigned

#225473 forklift: fix sha256 checksum
  Casks/f/forklift.rb
Labels: checksum-mismatch

#225498 various qt-qx: disable due to failing Gatekeeper check
  Casks/q/qtpass.rb
  Casks/q/qtspim.rb
  Casks/q/quail.rb
  Casks/q/quassel-client.rb
  Casks/q/quassel.rb
  Casks/q/quaternion.rb
  Casks/q/quick-app-ide.rb
  Casks/q/quickhash.rb
  Casks/q/quodlibet.rb
  Casks/q/qutebrowser.rb
  Casks/q/qxmledit.rb
Labels: automerge-skip, cask disabled, unsigned

#225497 various qb-qm: disable due to failing Gatekeeper check
  Casks/q/qbittorrent.rb
  Casks/q/qbittorrent@lt20.rb
  Casks/q/qdslrdashboard.rb
  Casks/q/qgroundcontrol.rb
  Casks/q/qlmarkdown.rb
  Casks/q/qmk-toolbox.rb
  Casks/q/qmoji.rb
Labels: automerge-skip, cask disabled, unsigned

#225361 font-source-han-sans-vf 2.005R (new cask)
  Casks/font/font-s/font-source-han-sans-vf.rb
Labels: new cask

#225362 font-source-han-serif-vf 2.003R (new cask)
  Casks/font/font-s/font-source-han-serif-vf.rb
Labels: new cask

#224826 install-disk-creator 1.9.1
  Casks/i/install-disk-creator.rb
Labels: ci-syntax-only, bump-cask-pr, extract_plist livecheck

#225579 elephas@beta 11.3007
  Casks/e/elephas@beta.rb
Labels: bump-cask-pr, extract_plist livecheck

#225580 kindle-create 1.104
  Casks/k/kindle-create.rb
Labels: bump-cask-pr, extract_plist livecheck

#225604 speedify 15.8.0
  Casks/s/speedify.rb
Labels: bump-cask-pr, extract_plist livecheck

#225625 dyad 0.18.0
  Casks/d/dyad.rb
Labels: livecheck

#225628 opensuperwhisper: add livecheck
  Casks/o/opensuperwhisper.rb
Labels: livecheck

#225650 gifox: update livecheck
  Casks/g/gifox.rb
Labels: livecheck

#225807 lidarr 2.13.3.4711
  Casks/l/lidarr.rb
Labels: cask disabled, unsigned

#225808 slack-cli 3.6.1
  Casks/s/slack-cli.rb
Labels: ci-syntax-only

#225837 spotify 1.2.71.421
  Casks/s/spotify.rb
Labels: bump-cask-pr, extract_plist livecheck
