Repository Homebrew/homebrew-cask, pull requests merged in 2025-09, with the labels that each got.

#226112 claudia: add livecheck
  Casks/c/claudia.rb
Labels: livecheck

#226116 clash-party 1.8.6
  Casks/c/clash-party.rb
  Casks/m/mihomo-party.rb
  cask_renames.json
Labels: automerge-skip, new cask

#226117 gologin 3.4.5
  Casks/g/gologin.rb
Labels: livecheck

#226120 joplin: downgrade to 3.3.13
  Casks/j/joplin.rb
Labels: livecheck

#226121 multiviewer 2.0.2
  Casks/m/multiviewer.rb
  cask_renames.json
Labels: automerge-skip

#226081 install-disk-creator 2.0
  Casks/i/install-disk-creator.rb
Labels: ci-syntax-only, bump-cask-pr, extract_plist livecheck

#225999 soulver: add CLI binary
  Casks/s/soulver-cli.rb
  Casks/s/soulver.rb
Labels: needs response, automerge-skip

#226160 operadriver 137.0.7151.122
  Casks/o/operadriver.rb
Labels: cask disabled, unsigned

#226230 filebot 5.2.0
  Casks/f/filebot.rb
Labels: cask disabled, unsigned

#226232 muteme: update livecheck
  Casks/m/muteme.rb
Labels: livecheck

#226241 witsy 2.14.0
  Casks/w/witsy.rb
Labels: ci-skip-homepage

#226264 leocad 25.09
  Casks/l/leocad.rb
Labels: bump-cask-pr, cask disabled, unsigned

#226276 siyuan 3.3.1
  Casks/s/siyuan.rb
Labels: bump-cask-pr

#226379 various lm-ly: disable due to failing Gatekeeper check
  Casks/l/lmms.rb
  Casks/l/localizationeditor.rb
  Casks/l/logdna-cli.rb
  Casks/l/logisim-evolution.rb
  Casks/l/loungy.rb
  Casks/l/love.rb
  Casks/l/lumen.rb
  Casks/l/lx-music.rb
  Casks/l/lynkeos.rb
  Casks/l/lyx.rb
Labels: automerge-skip, cask disabled, unsigned

#226398 google-chrome 140.0.7339.81
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#226403 miniforge, miniconda: preserve envs during upgrade
  Casks/m/miniconda.rb
  Casks/m/miniforge.rb
Labels: automerge-skip

#226504 radarr 5.27.5.10198
  Casks/r/radarr.rb
Labels: cask disabled, unsigned

#226493 diskspace 1 (new cask)
  Casks/d/diskspace.rb
Labels: new cask

#226558 jgrennison-openttd 0.66.0
  Casks/j/jgrennison-openttd.rb
Labels: bump-cask-pr, cask disabled, unsigned

#226562 various pa-pi: disable due to failing Gatekeeper check
  Casks/p/packet-peeper.rb
  Casks/p/pages-data-merge.rb
  Casks/p/panwriter.rb
  Casks/p/papyrus.rb
  Casks/p/pb.rb
  Casks/p/pd-l2ork.rb
  Casks/p/pencil.rb
  Casks/p/pencil2d.rb
  Casks/p/phd2.rb
  Casks/p/picgo.rb
  Casks/p/pikopixel.rb
  Casks/p/pine.rb
  Casks/p/pixel-picker.rb
Labels: automerge-skip, cask disabled, unsigned

#226563 various pl-po: disable due to failing Gatekeeper check
  Casks/p/platypus.rb
  Casks/p/pliim.rb
  Casks/p/plotdigitizer.rb
  Casks/p/plover.rb
  Casks/p/poi.rb
  Casks/p/pokemon-reborn.rb
  Casks/p/pokerth.rb
  Casks/p/pololu-avr-programmer-v2.rb
  Casks/p/pomotroid.rb
  Casks/p/postbird.rb
  Casks/p/powder-player.rb
  Casks/p/powder.rb
Labels: automerge-skip, cask disabled, unsigned

#226564 various pr-py: disable due to failing Gatekeeper check
  Casks/p/profilecreator.rb
  Casks/p/pronterface.rb
  Casks/p/psi-plus.rb
  Casks/p/psi.rb
  Casks/p/puppetry.rb
  Casks/p/pure-writer.rb
  Casks/p/pusher.rb
  Casks/p/pyfa.rb
  Casks/p/pynsource.rb
Labels: automerge-skip, cask disabled, unsigned

#226303 transmit: Fix download locations
  Casks/t/transmit.rb
Labels: ready to merge

#226572 various wa-we: disable due to failing Gatekeeper check
  Casks/w/wail.rb
  Casks/w/wannianli.rb
  Casks/w/warsow.rb
  Casks/w/warzone-2100.rb
  Casks/w/watchfacestudio.rb
  Casks/w/wavesurfer.rb
  Casks/w/weakauras-companion.rb
  Casks/w/webots.rb
  Casks/w/weektodo.rb
  Casks/w/welly.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, unsigned

#226573 various wh-wr: disable due to failing Gatekeeper check
  Casks/w/whale.rb
  Casks/w/whichspace.rb
  Casks/w/whoozle-android-file-transfer.rb
  Casks/w/widelands-app.rb
  Casks/w/windterm.rb
  Casks/w/wine@staging.rb
  Casks/w/wings3d.rb
  Casks/w/wintertime.rb
  Casks/w/wire.rb
  Casks/w/wireframe-sketcher.rb
  Casks/w/wombat.rb
  Casks/w/wormhole.rb
  Casks/w/write.rb
Labels: automerge-skip, cask disabled, unsigned

#226575 pearcleaner 5.0.6
  Casks/p/pearcleaner.rb
Labels: bump-cask-pr

#226597 bitfocus-buttons 1.2.1 (new cask)
  Casks/b/bitfocus-buttons.rb
Labels: new cask

#226650 headlamp 0.35.0
  Casks/h/headlamp.rb
Labels: bump-cask-pr, cask disabled, unsigned

#226664 mycloud 25.35.933
  Casks/m/mycloud.rb
Labels: bump-cask-pr, extract_plist livecheck

#226667 nifty 3.116.2
  Casks/n/nifty.rb
Labels: bump-cask-pr, extract_plist livecheck

#226674 teleport-suite@17 17.7.3
  Casks/t/teleport-suite@17.rb
Labels: bump-cask-pr, cask disabled

#226745 pearcleaner 5.0.6
  Casks/p/pearcleaner.rb
Labels: needs response

#226744 ankiapp ==> algoapp 11.0.2
  Casks/a/algoapp.rb
  cask_renames.json
Labels: automerge-skip

#226576 lexicon-dj 1.9.4 (new cask)
  Casks/l/lexicon-dj.rb
Labels: new cask

#226760 pokerstars 78.206
  Casks/p/pokerstars.rb
Labels: bump-cask-pr, extract_plist livecheck

#226823 Remove renames referencing removed cask
  cask_renames.json
Labels: automerge-skip

#226897 visual-paradigm 17.3,20250901
  Casks/v/visual-paradigm.rb
Labels: bump-cask-pr

#226900 visual-paradigm-ce 17.3,20250901
  Casks/v/visual-paradigm-ce.rb
Labels: bump-cask-pr

#226917 pokerstars 78.268
  Casks/p/pokerstars.rb
Labels: bump-cask-pr, extract_plist livecheck

#226938 various: disable deprecated casks
  Casks/b/bestres.rb
  Casks/l/lando.rb
  Casks/l/lando@edge.rb
Labels: automerge-skip, cask disabled, cask deprecated

#226962 font-darwin: rename to font-hundar
  Casks/font/font-d/font-darwin.rb
  Casks/font/font-h/font-hundar.rb
  cask_renames.json
Labels: automerge-skip, new cask

#226901 elecom-mouse-util 6.1.3
  Casks/e/elecom-mouse-util.rb
Labels: bump-cask-pr, ci-skip-livecheck

#226971 readyapi 3.62.0
  Casks/r/readyapi.rb
Labels: homepage

#226980 codebolt: update livecheck
  Casks/c/codebolt.rb
Labels: livecheck

#226981 longplay: update livecheck
  Casks/l/longplay.rb
Labels: livecheck

#226986 ytmdesktop-youtube-music 2.0.10 (intel only)
  Casks/y/ytmdesktop-youtube-music.rb
Labels: cask disabled, unsigned

#227015 lyric-fever 3.0
  Casks/l/lyric-fever.rb
Labels: livecheck

#227016 nvidia-nsight-*: update livecheck
  Casks/n/nvidia-nsight-compute.rb
  Casks/n/nvidia-nsight-systems.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#227017 mouseless: update requirements
  Casks/m/mouseless.rb
  Casks/m/mouseless@preview.rb
Labels: automerge-skip

#226951 epicenter-whispering 7.4.0 (new cask)
  Casks/e/epicenter-whispering.rb
Labels: new cask

#227139 various: disable deprecated casks
  Casks/a/ascension.rb
  Casks/a/automute.rb
  Casks/d/diashapes.rb
  Casks/d/doteditor.rb
  Casks/j/james.rb
  Casks/l/logicsniffer.rb
  Casks/m/mbcord.rb
  Casks/n/nfov.rb
  Casks/n/noisebuddy.rb
  Casks/o/octomouse.rb
  Casks/r/rodeo.rb
  Casks/s/screencast.rb
  Casks/s/sidestep.rb
  Casks/s/snwe.rb
  Casks/s/sonoair.rb
  Casks/s/supersync.rb
  Casks/t/the-cheat.rb
  Casks/t/tomighty.rb
  Casks/t/tysimulator.rb
  Casks/u/uncrustifyx.rb
  Casks/y/youll-never-take-me-alive.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#227242 blender 4.5.3
  Casks/b/blender.rb
Labels: bump-cask-pr, ci-skip-livecheck

#227319 open-video-downloader 2.5.6
  Casks/o/open-video-downloader.rb
Labels: bump-cask-pr, cask disabled, unsigned

#227424 spotify 1.2.72.438
  Casks/s/spotify.rb
Labels: bump-cask-pr, extract_plist livecheck

#227830 livebook@nightly latest (new cask)
  Casks/l/livebook@nightly.rb
Labels: new cask

#227835 choice-financial-terminal 9.4.0.1
  Casks/c/choice-financial-terminal.rb
Labels: bump-cask-pr, extract_plist livecheck

#227840 meld-studio 0.9.6.2
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#227843 tageditor 2.0.1,1335
  Casks/t/tageditor.rb
Labels: bump-cask-pr, extract_plist livecheck

#227838 google-drive 114.0.1
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr, extract_plist livecheck

#227846 powershell 7.5.3
  Casks/p/powershell.rb
Labels: bump-cask-pr, cask disabled, unsigned

#227841 livebook: add conflicts_with
  Casks/l/livebook.rb
Labels: ci-retry, cask disabled, unsigned

#227879 ukelele 3.6.0
  Casks/u/ukelele.rb
Labels: bump-cask-pr

#227932 pktriot 0.16.0
  Casks/p/pktriot.rb
Labels: cask disabled, unsigned

#227947 qcad 3.32.4
  Casks/q/qcad.rb
Labels: livecheck

#227955 overview 1.2.2-beta (new cask)
  Casks/o/overview.rb
Labels: new cask

#227982 xpra 6.3.3,0
  Casks/x/xpra.rb
Labels: cask disabled, unsigned

#228064 .github/workflows/*: enable tahoe ci runner
  .github/actionlint.yml
  .github/workflows/autobump.yml
  .github/workflows/cache.yml
Labels: automerge-skip

#228136 [e]: remove pre-Catalina references
  Casks/e/ea.rb
  Casks/e/eaglefiler.rb
  Casks/e/earnapp.rb
  Casks/e/easy-move+resize.rb
  Casks/e/easydevo.rb
  Casks/e/ebmac.rb
  Casks/e/ecamm-live.rb
  Casks/e/eddie.rb
  Casks/e/effect-house.rb
  Casks/e/eid-viewer.rb
  Casks/e/elan.rb
  Casks/e/elasticvue.rb
  Casks/e/electerm.rb
  Casks/e/electrocrud.rb
  Casks/e/electron-cash.rb
  Casks/e/electrum-grs.rb
  Casks/e/electrum.rb
  Casks/e/elektron-overbridge.rb
  Casks/e/elektron-transfer.rb
  Casks/e/elgato-control-center.rb
  Casks/e/elgato-game-capture-hd.rb
  Casks/e/elgato-stream-deck.rb
  Casks/e/elgato-video-capture.rb
  Casks/e/elgato-wave-link.rb
  Casks/e/elmedia-player.rb
  Casks/e/elpass.rb
  Casks/e/emby.rb
  Casks/e/embyserver.rb
  Casks/e/emmetapp.rb
  Casks/e/empoche.rb
  Casks/e/energiza.rb
  Casks/e/energybar.rb
  Casks/e/enpass.rb
  Casks/e/ente-auth.rb
  Casks/e/eobcanka.rb
  Casks/e/epic-games.rb
  Casks/e/epic.rb
  Casks/e/epicenter-whispering.rb
  Casks/e/epson-print-layout.rb
  Casks/e/epubquicklook.rb
  Casks/e/eqmac.rb
  Casks/e/equinox.rb
  Casks/e/espresso.rb
  Casks/e/etrecheckpro.rb
  Casks/e/eudic.rb
  Casks/e/eufymake-studio.rb
  Casks/e/eul.rb
  Casks/e/ev3-classroom.rb
  Casks/e/eve-launcher.rb
  Casks/e/evernote.rb
  Casks/e/exifrenamer.rb
  Casks/e/expandrive.rb
  Casks/e/expressions.rb
  Casks/e/extraterm.rb
Labels: ci-syntax-only, automerge-skip

#228145 [j]: remove pre-Catalina references
  Casks/j/jabra-direct.rb
  Casks/j/jaikoz.rb
  Casks/j/jamovi.rb
  Casks/j/jan.rb
  Casks/j/jedit-omega.rb
  Casks/j/jet-pilot.rb
  Casks/j/jetbrains-gateway.rb
  Casks/j/jetbrains-space.rb
  Casks/j/jetbrains-toolbox.rb
  Casks/j/jetdrive-toolbox.rb
  Casks/j/jettison.rb
  Casks/j/jgrennison-openttd.rb
  Casks/j/jiggler.rb
  Casks/j/jitouch.rb
  Casks/j/jitsi-meet.rb
  Casks/j/jmc.rb
  Casks/j/joshjon-nocturnal.rb
  Casks/j/jottacloud.rb
  Casks/j/jpc-qlcolorcode.rb
  Casks/j/jquake.rb
  Casks/j/json-viewer.rb
  Casks/j/jt-bridge.rb
  Casks/j/juice.rb
  Casks/j/jump-desktop-connect.rb
  Casks/j/jump-desktop.rb
  Casks/j/jumpcloud-password-manager.rb
  Casks/j/jumpcut.rb
  Casks/j/jumpshare.rb
  Casks/j/jupyter-notebook-viewer.rb
  Casks/j/jupyterlab-app.rb
Labels: ci-syntax-only, automerge-skip

#228152 [n]: remove pre-Catalina references
  Casks/n/nagbar.rb
  Casks/n/name-mangler.rb
  Casks/n/namechanger.rb
  Casks/n/nano-node.rb
  Casks/n/nao.rb
  Casks/n/naps2.rb
  Casks/n/natron.rb
  Casks/n/navicat-data-modeler-essentials.rb
  Casks/n/navicat-data-modeler.rb
  Casks/n/navicat-premium-essentials.rb
  Casks/n/navicat-premium@15.rb
  Casks/n/navigraph-charts.rb
  Casks/n/navigraph-simlink.rb
  Casks/n/ncar-ncl.rb
  Casks/n/neofinder.rb
  Casks/n/neohtop.rb
  Casks/n/nestopia.rb
  Casks/n/netdownloadhelpercoapp.rb
  Casks/n/neteasemusic.rb
  Casks/n/nethlink.rb
  Casks/n/netiquette.rb
  Casks/n/netnewswire.rb
  Casks/n/nexonplug.rb
  Casks/n/nextcloud.rb
  Casks/n/nifty-file-lists.rb
  Casks/n/nifty.rb
  Casks/n/niftyman.rb
  Casks/n/nightfall.rb
  Casks/n/nimble-commander.rb
  Casks/n/nisus-thesaurus.rb
  Casks/n/nocturnal.rb
  Casks/n/nodebox.rb
  Casks/n/noisebuddy.rb
  Casks/n/nosql-workbench.rb
  Casks/n/nota.rb
  Casks/n/notebooks.rb
  Casks/n/notesnook.rb
  Casks/n/notion-mail.rb
  Casks/n/noto.rb
  Casks/n/notunes.rb
  Casks/n/noun-project.rb
  Casks/n/noxappplayer.rb
  Casks/n/nrf-connect.rb
  Casks/n/ntfstool.rb
  Casks/n/nucleo.rb
  Casks/n/nuclino.rb
  Casks/n/nulloy.rb
  Casks/n/numi.rb
  Casks/n/nutstore.rb
  Casks/n/nvidia-geforce-now.rb
  Casks/n/nvidia-nsight-compute.rb
  Casks/n/nvidia-nsight-systems.rb
Labels: ci-syntax-only, automerge-skip

#228164 [y]: remove pre-Catalina references
  Casks/y/yandex-disk.rb
  Casks/y/yandex-music.rb
  Casks/y/yate.rb
  Casks/y/yed.rb
  Casks/y/yep.rb
  Casks/y/yinxiangbiji.rb
  Casks/y/yippy.rb
  Casks/y/yojimbo.rb
  Casks/y/youdaodict.rb
  Casks/y/youku.rb
  Casks/y/yousician.rb
  Casks/y/youtube-downloader.rb
  Casks/y/youtube-to-mp3.rb
  Casks/y/youtype.rb
  Casks/y/yt-music.rb
  Casks/y/yubico-authenticator.rb
  Casks/y/yubico-yubikey-manager.rb
  Casks/y/yuque.rb
Labels: ci-syntax-only, automerge-skip

#228165 [z]: remove pre-Catalina references
  Casks/z/zalo.rb
  Casks/z/zed.rb
  Casks/z/zed@preview.rb
  Casks/z/zen-privacy.rb
  Casks/z/zen.rb
  Casks/z/zen@twilight.rb
  Casks/z/zeplin.rb
  Casks/z/zerotier-one.rb
  Casks/z/zight.rb
  Casks/z/znote.rb
  Casks/z/zoho-cliq.rb
  Casks/z/zoho-mail.rb
  Casks/z/zoho-workdrive.rb
  Casks/z/zoom-m3-edit-and-play.rb
  Casks/z/zotero.rb
  Casks/z/zotero@beta.rb
  Casks/z/zspace.rb
  Casks/z/zui.rb
  Casks/z/zulu@17.rb
  Casks/z/zulu@8.rb
Labels: ci-syntax-only, automerge-skip

#228105 devknife 1.0.1 (new cask)
  Casks/d/devknife.rb
Labels: new cask

#228198 companion@beta: disable
  Casks/c/companion@beta.rb
Labels: ci-syntax-only, cask disabled

#228293 lobehub 1.129.1
  Casks/l/lobehub.rb
Labels: bump-cask-pr

#228231 sf-symbols: update `livecheck`
  Casks/s/sf-symbols.rb
Labels: bump-cask-pr, livecheck

#228267 defguard-client 1.5.0 (new cask)
  Casks/d/defguard-client.rb
Labels: new cask, ready to merge

#228268 virtual-desktop-streamer: update cask to the official URL and use latest version
  Casks/v/virtual-desktop-streamer.rb
Labels: extract_plist livecheck

#228412 paragon-extfs 14.0.35
  Casks/p/paragon-extfs.rb
Labels: bump-cask-pr, extract_plist livecheck

#228430 draw-things 1.20250912.0-503f96f9
  Casks/d/draw-things.rb
Labels: bump-cask-pr

#228554 bezel 3.3.0
  Casks/b/bezel.rb
Labels: bump-cask-pr

#228555 element@nightly 2025091701
  Casks/e/element@nightly.rb
Labels: bump-cask-pr

#228556 cloud-pbx 45.8.0
  Casks/c/cloud-pbx.rb
Labels: bump-cask-pr

#228567 iterm2 3.6.0
  Casks/i/iterm2.rb
Labels: bump-cask-pr

#228569 mountain-duck 5.0.2
  Casks/m/mountain-duck.rb
Labels: bump-cask-pr

#228570 openscad@snapshot 2025.09.16
  Casks/o/openscad@snapshot.rb
Labels: bump-cask-pr

#228571 opgg 2.0.6
  Casks/o/opgg.rb
Labels: bump-cask-pr

#228574 rstudio@daily 2025.09.1-395
  Casks/r/rstudio@daily.rb
Labels: bump-cask-pr

#228576 sipgate 2.22.5
  Casks/s/sipgate.rb
Labels: bump-cask-pr

#228577 sketch@beta 2025.2.3
  Casks/s/sketch@beta.rb
Labels: bump-cask-pr

#228578 soulver 3.15.1
  Casks/s/soulver.rb
Labels: bump-cask-pr

#228579 subsurface 6.0.5436
  Casks/s/subsurface.rb
Labels: bump-cask-pr

#228581 wavebox 10.140.30.2
  Casks/w/wavebox.rb
Labels: bump-cask-pr

#228564 tetrio 10
  Casks/t/tetrio.rb
Labels: bump-cask-pr, cask disabled, unsigned

#228588 stratoshark 0.9.3
  Casks/s/stratoshark.rb
Labels: bump-cask-pr

#228591 propresenter@beta 20,335544354
  Casks/p/propresenter@beta.rb
Labels: bump-cask-pr

#228599 discord@canary 0.0.863
  Casks/d/discord@canary.rb
Labels: bump-cask-pr

#228600 flowdown 3.2.396
  Casks/f/flowdown.rb
Labels: bump-cask-pr

#228601 frappe-books 0.34.1
  Casks/f/frappe-books.rb
Labels: bump-cask-pr

#228602 sapmachine-jdk 25
  Casks/s/sapmachine-jdk.rb
Labels: bump-cask-pr

#228609 Updated PortX Form 2.2.12 to 2.2.13
  Casks/p/portx.rb
Labels: extract_plist livecheck

#228657 google-chrome 140.0.7339.186
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#228827 iina+ 0.8.13
  Casks/i/iina+.rb
Labels: bump-cask-pr, cask disabled, unsigned

#228828 mi 3.8.10
  Casks/m/mi.rb
Labels: bump-cask-pr

#228908 cakebrewjs 2.83
  Casks/c/cakebrewjs.rb
Labels: cask disabled, unsigned

#228909 chromium-gost 140.0.7339.185
  Casks/c/chromium-gost.rb
Labels: cask disabled, unsigned

#228956 brickstore: update livecheck
  Casks/b/brickstore.rb
Labels: livecheck

#228969 teleport-suite@17 17.7.5
  Casks/t/teleport-suite@17.rb
Labels: bump-cask-pr, cask disabled

#228965 paragon-camptune 12.0.79
  Casks/p/paragon-camptune.rb
Labels: bump-cask-pr, extract_plist livecheck

#228967 ultdata 10.2.1.1
  Casks/u/ultdata.rb
Labels: bump-cask-pr, extract_plist livecheck

#228737 transmit 5.11.0
  Casks/t/transmit.rb
Labels: livecheck, ready to merge

#228981 creality-print 6.2.2.3203
  Casks/c/creality-print.rb
Labels: livecheck

#228983 rapidminer-studio 2026.0.1
  Casks/r/rapidminer-studio.rb
Labels: ci-syntax-only

#228985 macai: update url and livecheck
  Casks/m/macai.rb
Labels: livecheck

#229003 Add corretto@25
  Casks/c/corretto@25.rb
Labels: new cask

#229040 default-folder-x: update sha256
  Casks/d/default-folder-x.rb
Labels: checksum-mismatch

#229062 update & re-enable chatterino 2.5.4
  Casks/c/chatterino.rb
Labels: needs response

#229070 display-pilot 1.7.0.0
  Casks/d/display-pilot.rb
Labels: bump-cask-pr

#229074 tidelift 1.16.30
  Casks/t/tidelift.rb
Labels: bump-cask-pr, cask disabled, linux cask, unsigned

#229071 plugdata 0.9.2
  Casks/p/plugdata.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, bump-cask-pr

#229075 vimr 0.57.1
  Casks/v/vimr.rb
Labels: bump-cask-pr

#229072 lunarbar 1.8.0
  Casks/l/lunarbar.rb
Labels: bump-cask-pr

#229076 webcatalog 69.3.0
  Casks/w/webcatalog.rb
Labels: bump-cask-pr

#229078 font-lxgw-neoxihei: add livecheck
  Casks/font/font-l/font-lxgw-neoxihei.rb
Labels: livecheck

#229069 various: deprecate all old-style Quick Look plugins
  Casks/a/avifquicklook.rb
  Casks/g/gltfquicklook.rb
  Casks/i/inloop-qlplayground.rb
  Casks/i/ipynb-quicklook.rb
  Casks/j/jpc-qlcolorcode.rb
  Casks/j/jupyter-notebook-ql.rb
  Casks/p/provisionql.rb
  Casks/q/qladdict.rb
  Casks/q/qlcolorcode.rb
  Casks/q/qlcommonmark.rb
  Casks/q/qlfits.rb
  Casks/q/qlgradle.rb
  Casks/q/qlmobi.rb
  Casks/q/qlnetcdf.rb
  Casks/q/qlplayground.rb
  Casks/q/qlprettypatch.rb
  Casks/q/qlstephen.rb
  Casks/q/qlswift.rb
  Casks/q/qlzipinfo.rb
  Casks/q/quickgeojson.rb
  Casks/q/quicklook-csv.rb
  Casks/q/quicklook-json.rb
  Casks/q/quicklook-pfm.rb
  Casks/q/quicklookase.rb
  Casks/q/quicknfo.rb
  Casks/r/receiptquicklook.rb
  Casks/t/ttscoff-mmd-quicklook.rb
  Casks/v/voxql.rb
  Casks/w/webpquicklook.rb
Labels: automerge-skip, cask deprecated

#228936 workflows/cache: migrate Intel to Sequoia
  .github/actionlint.yml
  .github/workflows/cache.yml
Labels: automerge-skip

#229395 various: disable deprecated casks
  Casks/p/peakhour.rb
  Casks/p/plan.rb
Labels: automerge-skip, cask disabled, cask deprecated

#229393 Update google-drive minimum macOS version
  Casks/g/google-drive.rb
Labels: ci-skip-install, extract_plist livecheck

#229419 openshift-client 4.19.13
  Casks/o/openshift-client.rb
Labels: checksum-mismatch, cask disabled, unsigned

#229451 dropdmg: update sha256
  Casks/d/dropdmg.rb
Labels: checksum-mismatch

#229469 google-chrome 140.0.7339.208
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#229473 zoho-mail 1.7.0
  Casks/z/zoho-mail.rb
Labels: cask disabled, unsigned

#229724 dayflow 1.0.31 (new cask)
  Casks/d/dayflow.rb
Labels: new cask, ci-skip-repository, ci-skip-livecheck

#229731 dockview 1.7.1
  Casks/d/dockview.rb
Labels: bump-cask-pr

#229734 google-chrome 140.0.7339.214
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#229732 folder-colorizer 4.11.8
  Casks/f/folder-colorizer.rb
Labels: bump-cask-pr

#229735 spotify 1.2.73.474
  Casks/s/spotify.rb
Labels: bump-cask-pr, extract_plist livecheck

#229749 jubler: update livecheck
  Casks/j/jubler.rb
Labels: livecheck

#229716 macwhisper: update livecheck and download url
  Casks/m/macwhisper.rb
Labels: livecheck

#229809 zesarux 12.1
  Casks/z/zesarux.rb
Labels: bump-cask-pr, cask disabled, unsigned

#229810 yuanbao 2.41.0.616
  Casks/y/yuanbao.rb
Labels: bump-cask-pr, cask disabled, unsigned

#229808 wooshy 40
  Casks/w/wooshy.rb
Labels: bump-cask-pr

#229623 aionui 1.2.4 (new cask)
  Casks/a/aionui.rb
Labels: new cask

#229865 workflows: remove `test-bot` Action inputs
  .github/workflows/autobump.yml
  .github/workflows/cache.yml
  .github/workflows/ci.yml
  .github/workflows/remove-disabled-packages.yml
  .github/workflows/scheduled.yml
Labels: automerge-skip

#229685 droid 0.11.0 (new cask)
  Casks/d/droid.rb
Labels: new cask

#229897 go-shiori 1.8.0
  Casks/g/go-shiori.rb
Labels: bump-cask-pr, cask disabled, unsigned

#229898 openmsx-emulator 21.0
  Casks/o/openmsx-emulator.rb
Labels: bump-cask-pr, cask disabled, unsigned

#229812 frame0 1.1.1
  Casks/f/frame0.rb
Labels: bump-cask-pr

#229986 stretchly 1.18.1
  Casks/s/stretchly.rb
Labels: cask disabled, unsigned

#230006 the-clock 4.9.9
  Casks/t/the-clock.rb
Labels: bump-cask-pr
