Repository Homebrew/homebrew-cask, pull requests merged in 2025-10, with the labels that each got.

#230343 mac-monitor 1.9.0
  Casks/m/mac-monitor.rb
  Casks/r/red-canary-mac-monitor.rb
  cask_renames.json
Labels: automerge-skip, new cask

#230406 shattered-pixel-dungeon 3.2.5
  Casks/s/shattered-pixel-dungeon.rb
Labels: bump-cask-pr, cask disabled, unsigned

#230405 ok-json 2.10.1
  Casks/o/ok-json.rb
Labels: bump-cask-pr

#230440 tap_migrations: remove stale Hashicorp migrations
  tap_migrations.json
Labels: automerge-skip

#230537 rstudio 2025.09.1
  Casks/r/rstudio.rb
Labels: bump-cask-pr

#230539 vimcal 1.0.39
  Casks/v/vimcal.rb
Labels: bump-cask-pr

#230533 internxt-drive 2.6.0.79
  Casks/i/internxt-drive.rb
Labels: bump-cask-pr

#230534 jami 2.37
  Casks/j/jami.rb
Labels: bump-cask-pr

#230535 obsidian 1.9.14
  Casks/o/obsidian.rb
Labels: bump-cask-pr

#230540 langflow 1.6.0
  Casks/l/langflow.rb
Labels: bump-cask-pr

#230562 claude-code: docs - fix config caveat
  Casks/c/claude-code.rb
Labels: linux cask

#230564 nvidia-nsight-compute: disable
  Casks/n/nvidia-nsight-compute.rb
Labels: ci-syntax-only, cask disabled

#230536 ocenaudio 3.16.0
  Casks/o/ocenaudio.rb
Labels: bump-cask-pr

#230599 packetproxy: update livecheck
  Casks/p/packetproxy.rb
Labels: livecheck

#230656 geoda 1.22.0.21
  Casks/g/geoda.rb
Labels: livecheck

#230661 kdenlive 25.08.1
  Casks/k/kdenlive.rb
Labels: livecheck

#230641 epic 140.0.7339.133
  Casks/e/epic.rb
Labels: livecheck

#230708 mu-editor: deprecate
  Casks/m/mu-editor.rb
Labels: cask deprecated

#230566 browseros 0.26.0 (new cask)
  Casks/b/browseros.rb
Labels: new cask

#230732 unite-phone 2025.9.2
  Casks/u/unite-phone.rb
Labels: ci-syntax-only

#230731 font-open-dyslexic: change source location
  Casks/font/font-o/font-open-dyslexic.rb
Labels: homepage, repo-location-update

#230789 headlamp 0.36.0
  Casks/h/headlamp.rb
Labels: bump-cask-pr, cask disabled, unsigned

#230786 teleport-suite@17 17.7.7
  Casks/t/teleport-suite@17.rb
Labels: ci-retry, bump-cask-pr, cask disabled

#230845 podman-desktop 1.22.0
  Casks/p/podman-desktop.rb
Labels: bump-cask-pr

#230846 various: disable deprecated casks
  Casks/a/ajour.rb
  Casks/a/aware.rb
  Casks/b/batteryboi.rb
  Casks/c/cryptr.rb
  Casks/s/scap-workbench.rb
  Casks/s/subsync.rb
Labels: automerge-skip, cask disabled, cask deprecated, ci-skip-homepage

#230752 zulu@25 (new cask)
  Casks/z/zulu@25.rb
Labels: new cask

#230856 oracle-jdk@25 (new cask)
  Casks/o/oracle-jdk@25.rb
Labels: new cask

#230857 graalvm-jdk@25 (new cask)
  Casks/g/graalvm-jdk@25.rb
Labels: new cask

#230858 semeru-jdk-open@25 (new cask)
  Casks/s/semeru-jdk-open@25.rb
Labels: new cask, ci-skip-repository

#230859 oracle-jdk-javadoc@25 (new cask)
  Casks/o/oracle-jdk-javadoc@25.rb
Labels: new cask

#230863 northern-softworks-cache-cleaner 26.0
  Casks/n/northern-softworks-cache-cleaner.rb
Labels: livecheck

#230882 meld-studio 0.9.7.0
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#230879 google-drive 115.0.1
  Casks/g/google-drive.rb
Labels: ci-skip-install, bump-cask-pr, extract_plist livecheck

#230870 socialstream 0.3.56 (new cask)
  Casks/s/socialstream.rb
Labels: new cask

#230569 atuin-desktop 0.1.3 (new cask)
  Casks/a/atuin-desktop.rb
Labels: new cask, ci-skip-token

#230898 4k-image-compressor 1.5.0 (new cask)
  Casks/4/4k-image-compressor.rb
Labels: new cask

#230906 jitsi-meet 2025.10.0
  Casks/j/jitsi-meet.rb
Labels: bump-cask-pr

#230908 replaywebpage 2.3.20
  Casks/r/replaywebpage.rb
Labels: bump-cask-pr

#230909 archivewebpage 0.15.6
  Casks/a/archivewebpage.rb
Labels: bump-cask-pr

#230913 praat 6.4.44a
  Casks/p/praat.rb
Labels: livecheck

#230925 specter: update livecheck
  Casks/s/specter.rb
Labels: livecheck

#230915 prolific-pl2303 2.2.11
  Casks/p/prolific-pl2303.rb
Labels: livecheck

#230926 starsector: update livecheck, deprecate
  Casks/s/starsector.rb
Labels: livecheck, cask disabled, unsigned

#230940 taskade: update livecheck
  Casks/t/taskade.rb
Labels: livecheck

#230932 tableau-prep 2025.2.3
  Casks/t/tableau-prep.rb
Labels: ci-skip-livecheck

#230933 tableau-public 2025.2.3
  Casks/t/tableau-public.rb
Labels: ci-skip-livecheck

#230934 tableau-reader 2025.2.3
  Casks/t/tableau-reader.rb
Labels: ci-skip-livecheck

#230942 tastytrade: update livecheck
  Casks/t/tastytrade.rb
Labels: livecheck

#230943 testfully 1.179.0
  Casks/t/testfully.rb
Labels: livecheck

#230967 cinc-workstation 25.9.1094
  Casks/c/cinc-workstation.rb
Labels: bump-cask-pr, cask disabled, unsigned

#230968 kindavim 81
  Casks/k/kindavim.rb
Labels: bump-cask-pr

#230971 baidunetdisk 4.53.7
  Casks/b/baidunetdisk.rb
Labels: ci-skip-livecheck, ci-skip-homepage

#230981 hashbackup 3300
  Casks/h/hashbackup.rb
Labels: cask disabled, unsigned

#230983 wetype 1.4.2
  Casks/w/wetype.rb
Labels: livecheck

#231002 glide-browser: 0.1.51a (new cask)
  Casks/g/glide-browser.rb
Labels: new cask

#231009 osu@tachyon 2025.912.0-lazer
  Casks/o/osu@tachyon.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, livecheck

#231014 pushplaylabs-sidekick: disable
  Casks/p/pushplaylabs-sidekick.rb
Labels: ci-syntax-only, cask disabled

#231040 tencent-docs: deprecate
  Casks/t/tencent-docs.rb
Labels: cask deprecated

#231180 adguard-vpn@nightly 2.8.0.874
  Casks/a/adguard-vpn@nightly.rb
Labels: bump-cask-pr

#231181 drawpen 0.0.26
  Casks/d/drawpen.rb
Labels: bump-cask-pr

#231182 temurin@25 (new cask)
  Casks/t/temurin@25.rb
Labels: new cask, ci-skip-repository

#231260 atuin-desktop: update livecheck
  Casks/a/atuin-desktop.rb
Labels: livecheck

#231222 intune-company-portal: update checksum
  Casks/i/intune-company-portal.rb
Labels: checksum-mismatch

#231199 turtl: update livecheck
  Casks/t/turtl.rb
Labels: livecheck, cask disabled, unsigned

#231317 font-with-a-syntax-highlighter
  Casks/font/font-w/font-with-a-syntax-highlighter.rb
Labels: new cask, ci-skip-repository

#231360 google-chrome 141.0.7390.66
  Casks/g/google-chrome.rb
Labels: extract_plist livecheck

#230588 supportcompanion 2.3.1.81039 (new cask)
  Casks/s/supportcompanion.rb
Labels: new cask

#231366 various: disable
  Casks/m/mic-drop.rb
  Casks/s/synology-cloud-station-backup.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated
