Repository Homebrew/homebrew-cask, pull requests merged in 2025-07, with the labels that each got.

#218308 amazon-photos 10.12.1
  Casks/a/amazon-photos.rb
Labels: bump-cask-pr, extract_plist livecheck

#218309 deepstream 9.1.2
  Casks/d/deepstream.rb
Labels: bump-cask-pr

#218311 elephas@beta 11.2061
  Casks/e/elephas@beta.rb
Labels: bump-cask-pr, extract_plist livecheck

#218333 productive 1.14.0
  Casks/p/productive.rb
Labels: bump-cask-pr

#218334 qview 7.0
  Casks/q/qview.rb
Labels: bump-cask-pr

#218335 spotmenu 2.0.5
  Casks/s/spotmenu.rb
Labels: bump-cask-pr

#218331 openhv 20250628
  Casks/o/openhv.rb
Labels: bump-cask-pr

#218332 packetsender 8.9.1
  Casks/p/packetsender.rb
Labels: bump-cask-pr

#218327 meld-studio 0.9.3.1
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#218328 missive 11.9.0
  Casks/m/missive.rb
Labels: bump-cask-pr

#218329 nessus 10.9.0
  Casks/n/nessus.rb
Labels: bump-cask-pr

#218330 nifty 3.114.5
  Casks/n/nifty.rb
Labels: bump-cask-pr, extract_plist livecheck

#218323 google-chrome 138.0.7204.93
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#218326 kindle-create 1.103
  Casks/k/kindle-create.rb
Labels: bump-cask-pr, extract_plist livecheck

#218310 digikam 8.7.0
  Casks/d/digikam.rb
Labels: bump-cask-pr

#218339 weasis: update livecheck
  Casks/w/weasis.rb
Labels: livecheck

#218364 smoothcsv 3.0.0 (new cask)
  Casks/s/smoothcsv.rb
Labels: new cask

#218428 pale-moon 33.8.0
  Casks/p/pale-moon.rb
Labels: bump-cask-pr

#218197 font-plemol-jp-* 3.0.0
  Casks/font/font-p/font-plemol-jp-hs.rb
  Casks/font/font-p/font-plemol-jp-nf.rb
  Casks/font/font-p/font-plemol-jp.rb
Labels: automerge-skip

#218509 tev 2.2
  Casks/t/tev.rb
Labels: bump-cask-pr

#218415 Kameleo 4.1.0 (new cask)
  Casks/k/kameleo.rb
Labels: new cask, ci-skip-repository

#218766 riverside-studio 1.10.4 (new cask)
  Casks/r/riverside-studio.rb
Labels: new cask

#218814 various: disable deprecated casks
  Casks/b/bfxr.rb
  Casks/h/home-inventory.rb
  Casks/o/overdrive-media-console.rb
  Casks/q/quickhue.rb
  Casks/t/thonny-xxl.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#218753 filefillet 2.6.1 (new cask)
  .github/autobump.txt
  Casks/f/filefillet.rb
Labels: automerge-skip, new cask, autobump

#217716 Add EID-Viewer
  Casks/e/eid-viewer.rb
Labels: new cask

#218697 stillcolor 1.1 (new cask)
  Casks/s/stillcolor.rb
Labels: new cask

#218879 flrig 2.0.08
  Casks/f/flrig.rb
Labels: bump-cask-pr

#218880 foks 0.1.0
  Casks/f/foks.rb
Labels: bump-cask-pr

#218537 Add bcut 3.5.3
  Casks/b/bcut.rb
Labels: new cask

#218878 birdfont 6.13.2
  Casks/b/birdfont.rb
Labels: bump-cask-pr

#218911 purevpn 9.34.0
  Casks/p/purevpn.rb
Labels: bump-cask-pr, extract_plist livecheck

#218912 reunion 14.0.0,250702unr
  Casks/r/reunion.rb
Labels: bump-cask-pr

#218913 sparsity 1.4
  Casks/s/sparsity.rb
Labels: bump-cask-pr

#218914 transfer 2.2.5
  Casks/t/transfer.rb
Labels: bump-cask-pr

#218915 ubports-installer 0.11.2
  Casks/u/ubports-installer.rb
Labels: bump-cask-pr

#218916 x32-edit 4.4.1
  Casks/x/x32-edit.rb
Labels: bump-cask-pr

#218946 weiyun 5.2.1523
  Casks/w/weiyun.rb
Labels: bump-cask-pr

#218976 various: disable deprecated casks
  Casks/c/continuity-activation-tool.rb
  Casks/m/machacha.rb
  Casks/m/microsoft-teams@classic.rb
  Casks/p/pashua.rb
  Casks/p/plain-clip.rb
  Casks/p/private-eye.rb
  Casks/s/showhiddenfiles.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#218992 zeplin 10.25.0
  Casks/z/zeplin.rb
Labels: livecheck

#218994 futubull@legacy: update livecheck
  Casks/f/futubull@legacy.rb
Labels: livecheck

#219009 lycheeslicer: fix checksum
  Casks/l/lycheeslicer.rb
Labels: checksum-mismatch

#219011 keyclu 0.30.2
  Casks/k/keyclu.rb
Labels: bump-cask-pr

#219025 7777 1.1.26
  Casks/7/7777.rb
Labels: bump-cask-pr

#219026 appium-inspector 2025.7.1
  Casks/a/appium-inspector.rb
Labels: bump-cask-pr

#219027 choice-financial-terminal 9.1.0.2
  Casks/c/choice-financial-terminal.rb
Labels: bump-cask-pr, extract_plist livecheck

#219033 irpf2025 1.5
  Casks/i/irpf2025.rb
Labels: bump-cask-pr

#219032 geany 2.1
  Casks/g/geany.rb
Labels: bump-cask-pr

#219042 yandex-disk 3.2.44
  Casks/y/yandex-disk.rb
Labels: bump-cask-pr, extract_plist livecheck

#219116 google-ads-editor 2.10
  Casks/g/google-ads-editor.rb
Labels: bump-cask-pr

#219129 kdocs 3.11.1
  Casks/k/kdocs.rb
Labels: bump-cask-pr

#219130 gauntlet 20
  Casks/g/gauntlet.rb
Labels: bump-cask-pr

#219163 jordanbaird-ice@beta 0.11.13-dev.1 (new cask)
  Casks/j/jordanbaird-ice@beta.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, new cask

#219295 google-chrome 138.0.7204.101
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#219279 context 1.0.7 (new cask)
  Casks/c/context.rb
Labels: new cask, ci-skip-repository

#219066 loop-messenger 5.10.0 (new cask)
  Casks/l/loop-messenger.rb
Labels: awaiting user reply, new cask

#219317 allen-and-heath-midi-control 2.2 (new cask)
  Casks/a/allen-and-heath-midi-control.rb
Labels: new cask

#219410 anka-build-cloud-registry 1.48.0-067b4c29
  Casks/a/anka-build-cloud-registry.rb
Labels: bump-cask-pr

#219411 anka-build-cloud-controller 1.48.0-067b4c29
  Casks/a/anka-build-cloud-controller.rb
Labels: bump-cask-pr

#219441 various: disable deprecated casks
  Casks/b/beyond-compare@beta.rb
  Casks/d/datazenit.rb
  Casks/d/dejalu.rb
  Casks/d/deviceinfo.rb
  Casks/d/dictater.rb
  Casks/d/dictcc-en-de-dictionary-plugin.rb
  Casks/d/dictunifier.rb
  Casks/d/dockstation.rb
  Casks/d/droidid.rb
  Casks/d/drop-to-gif.rb
  Casks/f/fiscript.rb
  Casks/f/fontplop.rb
  Casks/f/force-paste.rb
  Casks/f/freenettray.rb
  Casks/f/fromscratch.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#219442 visualboyadvance-m 2.2.0
  Casks/v/visualboyadvance-m.rb
Labels: bump-cask-pr

#219438 fontbase 2.22.48
  Casks/f/fontbase.rb
Labels: bump-cask-pr

#219439 resilio-sync 3.1.01073
  Casks/r/resilio-sync.rb
Labels: bump-cask-pr

#219444 elan 7.0
  Casks/e/elan.rb
Labels: bump-cask-pr

#219453 battle-net 1.18.12.3160
  Casks/b/battle-net.rb
Labels: bump-cask-pr, extract_plist livecheck

#219436 arm-performance-libraries 25.07
  Casks/a/arm-performance-libraries.rb
Labels: bump-cask-pr

#219467 aural: bump and deprecate
  Casks/a/aural.rb
Labels: cask deprecated

#219471 meld-studio 0.9.3.4
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#219472 miro 0.11.107
  Casks/m/miro.rb
Labels: bump-cask-pr, extract_plist livecheck

#219473 nomad-menu: disable
  Casks/n/nomad-menu.rb
Labels: ci-syntax-only, missing description, cask disabled

#219474 battle-net: add auto_updates true
  Casks/b/battle-net.rb
Labels: extract_plist livecheck

#219526 Update SHA256 for TeXShop 5.53
  Casks/t/texshop.rb
Labels: checksum-mismatch

#219412 devonsphere-express 1.9.8 (new cask)
  Casks/d/devonsphere-express.rb
Labels: new cask

#219572 thingsmacsandboxhelper 3.43
  Casks/t/thingsmacsandboxhelper.rb
Labels: bump-cask-pr

#219573 qudedup-extract-tool 1.1.6
  Casks/q/qudedup-extract-tool.rb
Labels: bump-cask-pr

#219574 remote-wake-up 2.0.1
  Casks/r/remote-wake-up.rb
Labels: bump-cask-pr

#219571 multipass 1.16.0
  Casks/m/multipass.rb
Labels: ci-skip-install, bump-cask-pr

#219594 various: disable deprecated casks
  Casks/c/cncnet.rb
  Casks/g/g-desktop-suite.rb
  Casks/g/gifcapture.rb
  Casks/g/gitee.rb
  Casks/g/gitnote.rb
  Casks/g/gopass-ui.rb
  Casks/g/graphiql.rb
  Casks/g/graphql-ide.rb
  Casks/g/graphql-playground.rb
  Casks/i/ithoughtsx.rb
  Casks/r/ringcentral-meetings.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#219684 algodoo 2.2.4
  Casks/a/algodoo.rb
Labels: bump-cask-pr

#219686 meld-studio 0.9.3.5
  Casks/m/meld-studio.rb
Labels: bump-cask-pr, extract_plist livecheck

#219316 paraview 6.0.0,RC2-MPI-OSX11.0-Python3.12
  Casks/p/paraview.rb
Labels: bump-cask-pr

#219560 open-data-editor 1.5.1 (new cask)
  Casks/o/open-data-editor.rb
Labels: new cask

#219731 aigcpanel 0.14.0
  Casks/a/aigcpanel.rb
Labels: livecheck

#219732 idrive 4.0.0.39,071125
  Casks/i/idrive.rb
Labels: bump-cask-pr

#219711 google-cloud-sdk: renamed to `gcloud-cli` to align with the product name
  Casks/g/gcloud-cli.rb
  cask_renames.json
Labels: awaiting maintainer feedback, awaiting user reply, automerge-skip

#219753 nextcloud-talk 1.2.4
  Casks/n/nextcloud-talk.rb
Labels: bump-cask-pr

#219767 various: disable deprecated casks
  Casks/h/hdrmerge.rb
  Casks/h/hermes.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#219804 font-server-mono 0.1.0
  Casks/font/font-s/font-server-mono.rb
Labels: bump-cask-pr

#219825 datagraph 5.5
  Casks/d/datagraph.rb
Labels: bump-cask-pr

#219827 creality-print: fix sha256
  Casks/c/creality-print.rb
Labels: checksum-mismatch

#219839 raspberry-pi-imager 1.9.5
  Casks/r/raspberry-pi-imager.rb
Labels: bump-cask-pr

#219829 5ire: update livecheck
  Casks/5/5ire.rb
Labels: livecheck

#219834 josm 19423 (arm only)
  Casks/j/josm.rb
Labels: livecheck

#219685 retrospective 6.4.0 (new cask)
  Casks/r/retrospective.rb
Labels: new cask, ready to merge

#219828 whatsapp@beta 2.25.21.14
  Casks/w/whatsapp@beta.rb
Labels: livecheck

#219838 hackolade: update livecheck
  Casks/h/hackolade.rb
Labels: livecheck

#219841 elephas@beta 11.2063
  Casks/e/elephas@beta.rb
Labels: bump-cask-pr, extract_plist livecheck

#219866 irpf2025 1.6
  Casks/i/irpf2025.rb
Labels: bump-cask-pr

#219864 librecad 2.2.1.2
  Casks/l/librecad.rb
Labels: bump-cask-pr

#219869 various: disable
  Casks/p/pingmenu.rb
  Casks/u/unraid-usb-creator.rb
Labels: ci-syntax-only, automerge-skip, missing zap, cask disabled, cask deprecated

#219882 resilio-sync 3.1.0.1073
  Casks/r/resilio-sync.rb
Labels: bump-cask-pr

#219891 svp 4.7.300-1
  Casks/s/svp.rb
Labels: bump-cask-pr

#219876 bose-updater 7.1.13.5370
  Casks/b/bose-updater.rb
Labels: bump-cask-pr, livecheck

#219879 langflow 1.5.1
  Casks/l/langflow.rb
Labels: bump-cask-pr

#219880 quick-app-ide: update livecheck
  Casks/q/quick-app-ide.rb
Labels: livecheck

#219881 random-mouse-clicker: update app
  Casks/r/random-mouse-clicker.rb
Labels: extract_plist livecheck

#219898 viber 1.0.0.85
  Casks/v/viber.rb
Labels: bump-cask-pr, extract_plist livecheck

#219962 neo4j-desktop 2.0.2
  Casks/n/neo4j-desktop.rb
Labels: bump-cask-pr

#219964 Fix `brew style`
  cmd/find-appcast.rb
Labels: automerge-skip

#219903 refine 1.0 (new cask)
  Casks/r/refine.rb
Labels: new cask

#219939 dotnet-sdk@8 (new cask)
  Casks/d/dotnet-sdk@8.rb
Labels: new cask

#220009 workflows/triage: handle PRs that target the master branch
  .github/workflows/triage.yml
Labels: automerge-skip

#220048 swiftformat-for-xcode 0.57.1
  Casks/s/swiftformat-for-xcode.rb
Labels: bump-cask-pr, livecheck

#220126 Add conflict with "dotnet-sdk@8" to other dotnet casks
  Casks/d/dotnet-runtime.rb
  Casks/d/dotnet-runtime@preview.rb
  Casks/d/dotnet-sdk.rb
  Casks/d/dotnet-sdk@preview.rb
Labels: automerge-skip

#220166 various: disable deprecated casks
  Casks/f/flotato.rb
  Casks/f/freedome.rb
  Casks/i/ieasemusic.rb
  Casks/j/joinme.rb
  Casks/m/macx-video.rb
  Casks/s/shortcutdetective.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#220167 virtualbox choices
  Casks/v/virtualbox.rb
  Casks/v/virtualbox@beta.rb
Labels: automerge-skip, missing description

#219846 uefitool A72 (new cask)
  Casks/u/uefitool.rb
Labels: new cask

#220169 backblaze-downloader 9.0.1.772
  Casks/b/backblaze-downloader.rb
Labels: bump-cask-pr

#220170 fotokasten 4.43.1
  Casks/f/fotokasten.rb
Labels: bump-cask-pr

#220176 oracle-jdk@21 21.0.8
  Casks/o/oracle-jdk@21.rb
Labels: bump-cask-pr

#220177 zulu@11 11.0.28
  Casks/z/zulu@11.rb
Labels: bump-cask-pr

#220179 zulu@8 8.0.462
  Casks/z/zulu@8.rb
Labels: bump-cask-pr

#220174 mailsteward 18.1
  Casks/m/mailsteward.rb
Labels: bump-cask-pr

#220168 amazon-photos 10.12.4
  Casks/a/amazon-photos.rb
Labels: bump-cask-pr, extract_plist livecheck

#220165 Adding the rodecaster app cask as rode-central no longer supports
  Casks/r/rodecaster.rb
Labels: ci-syntax-only, new cask

#220253 krita 5.2.11
  Casks/k/krita.rb
Labels: bump-cask-pr

#220330 teleport-suite@17 17.5.5
  Casks/t/teleport-suite@17.rb
Labels: bump-cask-pr, cask disabled

#220324 mac-mouse-fix 3.0.5
  Casks/m/mac-mouse-fix.rb
Labels: bump-cask-pr

#220325 mailspring 1.16.0
  Casks/m/mailspring.rb
Labels: bump-cask-pr

#220326 pinegrow 8.5
  Casks/p/pinegrow.rb
Labels: bump-cask-pr

#220328 status 2.34.3
  Casks/s/status.rb
Labels: bump-cask-pr

#220329 font-lilex 2.601
  Casks/font/font-l/font-lilex.rb
Labels: bump-cask-pr

#220150 Blender 4.5.0
  Casks/b/blender.rb
  Casks/b/blender@lts.rb
Labels: automerge-skip, ci-skip-livecheck

#220301 FMail3 (new cask)
  Casks/f/fmail3.rb
Labels: new cask

#220172 microsoft-office 16.99.25071321
  Casks/m/microsoft-office.rb
Labels: bump-cask-pr

#220386 dynamodb-local 2025-07-15
  Casks/d/dynamodb-local.rb
Labels: bump-cask-pr

#220397 picoscope@beta 7.1.58.6335
  Casks/p/picoscope.rb
  Casks/p/picoscope@beta.rb
Labels: automerge-skip, bump-cask-pr

#220399 splashtop-personal 3.7.6.0
  Casks/s/splashtop-personal.rb
Labels: bump-cask-pr

#220390 jamovi 2.6.45.0
  Casks/j/jamovi.rb
Labels: bump-cask-pr

#219865 gcc-aarch64-embedded gcc-arm-embedded 14.3.rel1
  Casks/g/gcc-aarch64-embedded.rb
  Casks/g/gcc-arm-embedded.rb
Labels: automerge-skip

#220502 buttercup: update deprecation date
  Casks/b/buttercup.rb
Labels: cask deprecated

#220503 lightgallery: disable
  Casks/l/lightgallery.rb
Labels: ci-syntax-only, missing description, cask disabled, cask deprecated

#220601 disk-expert 5.2
  Casks/d/disk-expert.rb
Labels: bump-cask-pr

#220602 duplicate-file-finder 8.4.2
  Casks/d/duplicate-file-finder.rb
Labels: bump-cask-pr

#220600 connectiq 8.2.2
  Casks/c/connectiq.rb
Labels: bump-cask-pr

#220604 font-lxgw-wenkai-*: add livecheck block
  Casks/font/font-l/font-lxgw-wenkai-gb-lite.rb
  Casks/font/font-l/font-lxgw-wenkai-gb.rb
  Casks/font/font-l/font-lxgw-wenkai-lite.rb
  Casks/font/font-l/font-lxgw-wenkai.rb
Labels: automerge-skip, livecheck

#220603 maccleaner-pro 3.4.1
  Casks/m/maccleaner-pro.rb
Labels: bump-cask-pr

#220640 keepingyouawake 1.6.7
  Casks/k/keepingyouawake.rb
Labels: bump-cask-pr

#220651 sqlcl 25.2.1.195.1751
  Casks/s/sqlcl.rb
Labels: livecheck

#220666 paraview 6.0.0,RC3-MPI-OSX11.0-Python3.12
  Casks/p/paraview.rb
Labels: bump-cask-pr

#220667 thelowtechguys-cling 1.2.2
  Casks/t/thelowtechguys-cling.rb
Labels: bump-cask-pr
