Repository Homebrew/homebrew-cask, pull requests merged in 2025-02, with the labels that each got.

#200223 figma: update livecheck
  Casks/f/figma.rb
Labels: livecheck

#200226 doxie 3.4.1
  Casks/d/doxie.rb
Labels: bump-cask-pr

#200227 dropbox-capture 116.3.0
  Casks/d/dropbox-capture.rb
Labels: bump-cask-pr

#200230 whatsyoursign 3.0.2
  Casks/w/whatsyoursign.rb
Labels: bump-cask-pr

#200231 poe 1.1.26
  Casks/p/poe.rb
Labels: bump-cask-pr

#200228 ev3-classroom 1.5.0.1
  Casks/e/ev3-classroom.rb
Labels: missing zap

#200099 leader-key 1.6.0 (new cask)
  Casks/l/leader-key.rb
Labels: new cask

#200236 wireframe-sketcher 7.2.2
  Casks/w/wireframe-sketcher.rb
Labels: bump-cask-pr

#200237 ultrastardeluxe 2025.2.0
  Casks/u/ultrastardeluxe.rb
Labels: bump-cask-pr

#200268 marsedit 5.3.1
  Casks/m/marsedit.rb
Labels: bump-cask-pr

#200276 deelay 1.3.1
  Casks/d/deelay.rb
Labels: bump-cask-pr

#200278 elephas@beta 11.09
  Casks/e/elephas@beta.rb
Labels: bump-cask-pr, extract_plist livecheck

#200014 turbotax-2024 2024.r15.018 (new cask)
  Casks/t/turbotax-2024.rb
Labels: new cask

#200274 developer: fix Rubocop warnings.
  developer/bin/casks-without-zap
  developer/bin/generate_cask_token
  developer/bin/list_login_items_for_app
  developer/bin/list_running_app_ids
Labels: automerge-skip

#200280 libreoffice: update livecheck
  Casks/l/libreoffice.rb
Labels: livecheck

#200281 libreoffice-still*: downgrade to 24.2.7
  Casks/l/libreoffice-still-language-pack.rb
  Casks/l/libreoffice-still.rb
Labels: automerge-skip, livecheck

#200165 gpt4all 3.8.0 (new cask)
  Casks/g/gpt4all.rb
Labels: new cask

#200279 hiarcs-chess-explorer 1.13
  Casks/h/hiarcs-chess-explorer.rb
Labels: bump-cask-pr

#200296 caldigit-docking-utility 1.9.33
  Casks/c/caldigit-docking-utility.rb
Labels: bump-cask-pr

#200282 gtkwave, obs-websocket: remove livecheck
  Casks/g/gtkwave.rb
  Casks/o/obs-websocket.rb
Labels: automerge-skip, livecheck, cask deprecated

#200304 spectrolite 0.22.2
  Casks/s/spectrolite.rb
Labels: bump-cask-pr

#200311 textadept 12.6
  Casks/t/textadept.rb
Labels: bump-cask-pr

#200203 ik-product-manager 1.1.7 (new cask)
  Casks/i/ik-product-manager.rb
Labels: new cask

#200314 makemkv 1.17.9
  Casks/m/makemkv.rb
Labels: bump-cask-pr

#200315 manico 3.8
  Casks/m/manico.rb
Labels: bump-cask-pr

#200317 gisto 2.0.3
  Casks/g/gisto.rb
Labels: bump-cask-pr

#200318 sigil 2.4.2
  Casks/s/sigil.rb
Labels: bump-cask-pr

#200324 powder 99.2.382
  Casks/p/powder.rb
Labels: bump-cask-pr

#200298 xamarin-android: update url
  Casks/x/xamarin-android.rb
Labels: cask deprecated

#200327 lg-onscreen-control 7.20
  Casks/l/lg-onscreen-control.rb
Labels: bump-cask-pr

#200341 reaper 7.33
  Casks/r/reaper.rb
Labels: bump-cask-pr

#200351 flowvision: update sha256
  Casks/f/flowvision.rb
Labels: checksum-mismatch

#200357 amiberry 7.0.2
  Casks/a/amiberry.rb
Labels: bump-cask-pr

#200359 circuitjs1 3.1.2js
  Casks/c/circuitjs1.rb
Labels: bump-cask-pr, extract_plist livecheck

#200360 font-sketchybar-app-font 2.0.31
  Casks/font/font-s/font-sketchybar-app-font.rb
Labels: bump-cask-pr

#200361 galaxybudsclient 5.1.2
  Casks/g/galaxybudsclient.rb
Labels: bump-cask-pr

#200363 marsedit 5.3.2
  Casks/m/marsedit.rb
Labels: bump-cask-pr

#200362 macai 2.0.6
  .github/autobump.txt
  Casks/m/macai.rb
Labels: automerge-skip, bump-cask-pr, autobump

#200365 submariner 3.3
  Casks/s/submariner.rb
Labels: bump-cask-pr

#200421 startupfolder 1.1.3
  Casks/s/startupfolder.rb
Labels: bump-cask-pr

#200455 leader-key 1.7.0
  Casks/l/leader-key.rb
Labels: bump-cask-pr

#200454 laravel-kit 2.0.9
  Casks/l/laravel-kit.rb
Labels: bump-cask-pr

#200453 kstars 3.7.5
  Casks/k/kstars.rb
Labels: bump-cask-pr

#200482 mailtrackerblocker 0.8.7
  Casks/m/mailtrackerblocker.rb
Labels: bump-cask-pr, cask deprecated

#200514 vero 0.16.2040
  Casks/v/vero.rb
Labels: bump-cask-pr

#200515 google-chrome 133.0.6943.54
  Casks/g/google-chrome.rb
Labels: bump-cask-pr, extract_plist livecheck

#200552 megacmd 2.0.0
  Casks/m/megacmd.rb
Labels: bump-cask-pr

#200551 malwarebytes 5.10.0.2065
  Casks/m/malwarebytes.rb
Labels: bump-cask-pr

#200550 honto 6.67.0
  Casks/h/honto.rb
Labels: bump-cask-pr

#200549 gpt4all 3.9.0
  Casks/g/gpt4all.rb
Labels: bump-cask-pr

#200548 tinderbox 10.1.0
  Casks/t/tinderbox.rb
Labels: bump-cask-pr

#200547 atok 34.2
  Casks/a/atok.rb
Labels: bump-cask-pr

#200546 ganttproject 3.3.3316
  Casks/g/ganttproject.rb
Labels: bump-cask-pr

#200545 freedom 2.24.0
  Casks/f/freedom.rb
Labels: bump-cask-pr

#200553 ogdesign-eagle 4.0,8
  Casks/o/ogdesign-eagle.rb
Labels: bump-cask-pr

#200575 keyguard 1.8.0
  Casks/k/keyguard.rb
Labels: bump-cask-pr

#200581 chef-workstation 25.2.1075
  Casks/c/chef-workstation.rb
Labels: bump-cask-pr

#200526 hype: Add auto_updates stanza
  Casks/h/hype.rb
Labels: ci-syntax-only

#200597 caldigit-docking-utility 1.9.34
  Casks/c/caldigit-docking-utility.rb
Labels: bump-cask-pr

#200637 easydict 2.11.2
  Casks/e/easydict.rb
Labels: bump-cask-pr

#200634 autobump: add workspace-one-intelligent-hub
  .github/autobump.txt
Labels: automerge-skip, autobump

#200670 musicbrainz-picard 2.13.1
  Casks/m/musicbrainz-picard.rb
Labels: bump-cask-pr

#200679 keyguard 1.8.1
  Casks/k/keyguard.rb
Labels: bump-cask-pr

#200681 dash 7.3.4
  Casks/d/dash.rb
Labels: bump-cask-pr

#200685 textual 7.2.4,250205.21,3b1c05cfe
  Casks/t/textual.rb
Labels: livecheck

#200687 ghidra 11.3
  Casks/g/ghidra.rb
Labels: bump-cask-pr

#200686 android-ndk 28
  Casks/a/android-ndk.rb
Labels: bump-cask-pr

#200705 syncterm 1.5
  Casks/s/syncterm.rb
Labels: bump-cask-pr

#200684 ares: update livecheck, minimum macOS version
  Casks/a/ares.rb
Labels: livecheck

#200717 homerow 1.3.3
  Casks/h/homerow.rb
Labels: bump-cask-pr

#200719 fontcreator 15.0.0.3015
  Casks/f/fontcreator.rb
Labels: bump-cask-pr

#200730 sqlpro-for-sqlite 2025.06
  Casks/s/sqlpro-for-sqlite.rb
Labels: bump-cask-pr

#200728 sensei 1.5.14
  Casks/s/sensei.rb
Labels: bump-cask-pr

#200726 scihubeva 6.3.1
  Casks/s/scihubeva.rb
Labels: bump-cask-pr

#200722 prizmo 4.7
  Casks/p/prizmo.rb
Labels: bump-cask-pr

#200721 oso-cloud 0.26.0
  Casks/o/oso-cloud.rb
Labels: bump-cask-pr

#200732 termora 1.0.6
  Casks/t/termora.rb
Labels: bump-cask-pr

#200731 startupfolder 1.1.4
  Casks/s/startupfolder.rb
Labels: bump-cask-pr

#200735 tm-error-logger 8.0.3
  Casks/t/tm-error-logger.rb
Labels: bump-cask-pr

#200736 veracrypt 1.26.20
  Casks/v/veracrypt.rb
Labels: bump-cask-pr

#200737 wpsoffice: update sha256
  Casks/w/wpsoffice.rb
Labels: checksum-mismatch

#200760 ci: switch to SSH based signing
  .github/workflows/google-fonts.yml
  .github/workflows/remove-disabled-packages.yml
Labels: automerge-skip

#200762 autobump: add distroav
  .github/autobump.txt
Labels: automerge-skip, autobump

#200720 chatwise 0.6.52 (new cask)
  Casks/c/chatwise.rb
Labels: new cask

#200763 droidcam-obs 2.3.4
  Casks/d/droidcam-obs.rb
Labels: bump-cask-pr

#200764 elgato-wave-link 2.0.4.3719
  Casks/e/elgato-wave-link.rb
Labels: bump-cask-pr

#200724 pixpin 1.9.11.8
  Casks/p/pixpin.rb
Labels: bump-cask-pr, livecheck

#200794 snowflake-snowsql 1.3.3
  Casks/s/snowflake-snowsql.rb
Labels: bump-cask-pr

#200813 zight 8.4.1
  Casks/z/zight.rb
Labels: bump-cask-pr

#200811 yousician 2.11.51
  Casks/y/yousician.rb
Labels: bump-cask-pr

#200809 session-manager-plugin 1.2.707.0
  Casks/s/session-manager-plugin.rb
Labels: bump-cask-pr

#200807 leader-key 1.8.0
  Casks/l/leader-key.rb
Labels: bump-cask-pr

#200804 exactscan 24.6
  Casks/e/exactscan.rb
Labels: bump-cask-pr

#200806 freeplane 1.12.9
  .github/autobump.txt
  Casks/f/freeplane.rb
Labels: automerge-skip, bump-cask-pr, autobump

#200808 poe 1.1.27
  .github/autobump.txt
  Casks/p/poe.rb
Labels: automerge-skip, bump-cask-pr, autobump

#200826 brightvpn 1.520.821
  Casks/b/brightvpn.rb
Labels: bump-cask-pr

#200828 citrix-workspace 24.11.10.22
  Casks/c/citrix-workspace.rb
Labels: bump-cask-pr

#200831 miniconda py312_25.1.1-0
  Casks/m/miniconda.rb
Labels: bump-cask-pr

#200830 chatwise 0.6.54
  Casks/c/chatwise.rb
Labels: bump-cask-pr

#200827 cinc-workstation 25.2.1075
  Casks/c/cinc-workstation.rb
Labels: bump-cask-pr

#200844 font-monaspace 1.200
  Casks/font/font-m/font-monaspace.rb
Labels: bump-cask-pr

#200849 chatwise 0.6.55
  .github/autobump.txt
  Casks/c/chatwise.rb
Labels: automerge-skip, bump-cask-pr, autobump

#200810 yandex 25.2.0
  Casks/y/yandex.rb
Labels: bump-cask-pr

#200554 cherry-studio 0.9.19 (new cask)
  Casks/c/cherry-studio.rb
Labels: new cask

#200846 turbovnc-viewer: add livecheck
  Casks/t/turbovnc-viewer.rb
Labels: livecheck

#200870 viber 24.6.0
  Casks/v/viber.rb
Labels: bump-cask-pr, extract_plist livecheck

#200874 psst 0.1.0,20250205.233507
  Casks/p/psst.rb
Labels: bump-cask-pr, extract_plist livecheck

#200871 speedify 15.2.0
  Casks/s/speedify.rb
Labels: bump-cask-pr, extract_plist livecheck

#200872 dfcf 3.7.8
  Casks/d/dfcf.rb
Labels: bump-cask-pr, extract_plist livecheck

#200869 actual: checksum update
  Casks/a/actual.rb
Labels: checksum-mismatch

#200913 cheetah3d 8.1.2
  Casks/c/cheetah3d.rb
Labels: bump-cask-pr

#200915 musicbrainz-picard 2.13.2
  Casks/m/musicbrainz-picard.rb
Labels: bump-cask-pr

#200914 mixing-station 2.2.3
  Casks/m/mixing-station.rb
Labels: bump-cask-pr

#200916 tachidesk-sorayomi 0.6.0
  Casks/t/tachidesk-sorayomi.rb
Labels: bump-cask-pr

#200918 sejda-pdf 7.8.1
  Casks/s/sejda-pdf.rb
Labels: bump-cask-pr

#200939 libreoffice 25.2.0
  Casks/l/libreoffice.rb
Labels: livecheck

#200942 libreoffice-still 24.8.4
  Casks/l/libreoffice-still.rb
Labels: livecheck

#200949 mihomo-party 1.7.0
  Casks/m/mihomo-party.rb
Labels: bump-cask-pr

#200950 tdr-vos-slickeq 1.3.9
  Casks/t/tdr-vos-slickeq.rb
Labels: bump-cask-pr

#200958 mihomo-party 1.7.1
  Casks/m/mihomo-party.rb
Labels: bump-cask-pr

#200968 blackhole-64ch 0.6.1
  Casks/b/blackhole-64ch.rb
Labels: bump-cask-pr

#200969 scidvsmac 4.26
  Casks/s/scidvsmac.rb
Labels: bump-cask-pr

#200938 check: skip checking AppStore
  cmd/lib/check.rb
Labels: automerge-skip

#200803 java@beta 25,9
  Casks/j/java@beta.rb
Labels: livecheck

#200976 libreoffice-still-language-pack 24.8.4
  Casks/l/libreoffice-still-language-pack.rb
  Casks/l/libreoffice-still.rb
Labels: automerge-skip, livecheck

#200977 freeorion 0.5.1
  Casks/f/freeorion.rb
Labels: bump-cask-pr

#200978 chatbot: fix checksum mismatch
  Casks/c/chatbox.rb
Labels: checksum-mismatch

#200979 pdf-squeezer 4.5.4
  Casks/p/pdf-squeezer.rb
Labels: bump-cask-pr

#200984 profilecreator 0.3.7
  Casks/p/profilecreator.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip

#200999 devilutionx 1.5.4
  Casks/d/devilutionx.rb
Labels: bump-cask-pr

#201000 cherry-studio 0.9.21
  Casks/c/cherry-studio.rb
Labels: bump-cask-pr

#201003 mkvtoolnix 90.0
  Casks/m/mkvtoolnix.rb
Labels: bump-cask-pr

#201010 amiberry 7.0.4
  Casks/a/amiberry.rb
Labels: bump-cask-pr

#201011 elephas@beta 11.091
  Casks/e/elephas@beta.rb
Labels: bump-cask-pr, extract_plist livecheck

#201013 gosign 2.3.4
  Casks/g/gosign.rb
Labels: bump-cask-pr, extract_plist livecheck

#201017 cakebrewjs 2.74
  Casks/c/cakebrewjs.rb
Labels: bump-cask-pr

#201014 font-brill: update homepage
  Casks/font/font-b/font-brill.rb
Labels: livecheck, homepage

#200611 open-eid 24.9.0.1949 (new cask)
  Casks/o/open-eid.rb
Labels: new cask

#200948 soundsource@test 5.7.6,10,20250206,1907,A
  Casks/s/soundsource@test.rb
Labels: bump-cask-pr, livecheck

#201015 dockfix 3.5.2
  Casks/d/dockfix.rb
Labels: bump-cask-pr, livecheck, homepage

#201018 ultrastardeluxe 2025.2.1
  Casks/u/ultrastardeluxe.rb
Labels: bump-cask-pr

#201024 panwriter 0.8.8
  Casks/p/panwriter.rb
Labels: bump-cask-pr

#201025 flowvision 1.5.1
  Casks/f/flowvision.rb
Labels: bump-cask-pr

#201029 lrtimelapse 7.3.0
  Casks/l/lrtimelapse.rb
Labels: bump-cask-pr

#201028 deadbolt 2.0.0
  Casks/d/deadbolt.rb
Labels: bump-cask-pr

#201004 scribus: patch release (ARM-only)
  Casks/s/scribus.rb
Labels: livecheck

#201033 tachidesk-sorayomi 0.6.1
  Casks/t/tachidesk-sorayomi.rb
Labels: bump-cask-pr

#201041 applite 1.3.0
  Casks/a/applite.rb
Labels: bump-cask-pr

#201049 loaf 2.0.7
  Casks/l/loaf.rb
Labels: bump-cask-pr

#201065 psst 0.1.0,20250210.054450
  Casks/p/psst.rb
Labels: bump-cask-pr, extract_plist livecheck
