Repository Homebrew/homebrew-cask, pull requests merged in 2025-06, with the labels that each got.

#214528 font-juisee 0.2.0 (new cask)
  Casks/font/font-j/font-juisee.rb
Labels: new cask

#214530 font-juisee-nf 0.2.0 (new cask)
  Casks/font/font-j/font-juisee-nf.rb
Labels: new cask

#214492 mozilla-vpn 2.28.0 (new cask)
  Casks/m/mozilla-vpn.rb
Labels: new cask

#214562 various: add no_autobump
  Casks/b/blankie.rb
  Casks/f/foks.rb
  Casks/h/headlamp.rb
  Casks/m/meetingbar.rb
  Casks/o/openchrom.rb
  Casks/r/rsyncui.rb
Labels: automerge-skip

#214554 azookey 0.1.0-alpha.15
  .github/autobump.txt
  Casks/a/azookey.rb
Labels: automerge-skip, bump-cask-pr, autobump

#214483 font-simple-icons 14.15.0 (new cask)
  Casks/font/font-s/font-simple-icons.rb
Labels: new cask, ready to merge

#214560 firebase-admin: deprecate
  Casks/f/firebase-admin.rb
Labels: cask deprecated

#214563 font-mynaui-icons 0.3.6
  .github/autobump.txt
  Casks/font/font-m/font-mynaui-icons.rb
Labels: automerge-skip, bump-cask-pr, autobump

#214564 font-simple-icons 15.0.0
  Casks/font/font-s/font-simple-icons.rb
Labels: bump-cask-pr

#214423 displaylink 1.12.3
  Casks/d/displaylink.rb
Labels: bump-cask-pr

#214581 electorrent 2.8.5
  Casks/e/electorrent.rb
Labels: bump-cask-pr

#214566 Add Agentkube 1.0.4 (new cask)
  Casks/a/agentkube.rb
Labels: new cask, ci-skip-repository

#214586 deelay: disable
  Casks/d/deelay.rb
Labels: ci-syntax-only, cask disabled

#214589 x32-edit 4.4
  Casks/x/x32-edit.rb
Labels: bump-cask-pr

#214599 fruit-screensaver 1.3.0 (new cask)
  Casks/f/fruit-screensaver.rb
Labels: new cask

#214631 blankie 1.0.12
  Casks/b/blankie.rb
Labels: bump-cask-pr

#214695 dorico 6.0.10
  Casks/d/dorico.rb
Labels: bump-cask-pr

#214669 agent-tars: update livecheck
  Casks/a/agent-tars.rb
Labels: livecheck

#214741 tartelet 0.11.0 (new cask)
  Casks/t/tartelet.rb
Labels: new cask

#214761 google-chrome 137.0.7151.69
  Casks/g/google-chrome.rb
Labels: extract_plist livecheck

#214748 firezone 1.5.1 (new cask)
  Casks/f/firezone.rb
Labels: new cask

#214793 firezone: update livecheck
  Casks/f/firezone.rb
Labels: livecheck

#214811 bambu-studio 02.01.00.59
  Casks/b/bambu-studio.rb
Labels: bump-cask-pr

#214795 dockdoor 1.13
  Casks/d/dockdoor.rb
Labels: bump-cask-pr, livecheck

#214896 finicky 4.1.2
  Casks/f/finicky.rb
Labels: bump-cask-pr

#214792 simpledemviewer 8.5.1 (new cask)
  Casks/s/simpledemviewer.rb
Labels: new cask

#214919 raspberry-pi-imager 1.9.4
  Casks/r/raspberry-pi-imager.rb
Labels: bump-cask-pr

#214852 slideshower 3.0 (new cask)
  Casks/s/slideshower.rb
Labels: new cask

#215015 bluej 5.5.0
  .github/autobump.txt
  Casks/b/bluej.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215021 folx 5.28
  Casks/f/folx.rb
Labels: bump-cask-pr

#215014 code-composer-studio 20.2.0.00012
  .github/autobump.txt
  Casks/c/code-composer-studio.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215025 halion-sonic 7.1.40
  Casks/h/halion-sonic.rb
Labels: bump-cask-pr

#215027 kstars 3.7.7
  .github/autobump.txt
  Casks/k/kstars.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215022 font-andika 7.000
  Casks/font/font-a/font-andika.rb
Labels: bump-cask-pr

#215040 font-gentium-plus 7.000
  Casks/font/font-g/font-gentium-plus.rb
  Casks/font/font-g/font-gentium.rb
  cask_renames.json
Labels: automerge-skip, new cask

#215029 docker 4.42.0
  .github/autobump.txt
  Casks/d/docker.rb
Labels: automerge-skip, bump-cask-pr, autobump

#214960 peninsula 0.0.11.post0 (new cask)
  Casks/p/peninsula.rb
Labels: new cask

#215119 nextcloud-talk 1.2.3
  Casks/n/nextcloud-talk.rb
Labels: bump-cask-pr

#215097 speedify 15.6.3
  Casks/s/speedify.rb
Labels: bump-cask-pr, extract_plist livecheck

#215098 rawtherapee 5.12
  Casks/r/rawtherapee.rb
Labels: bump-cask-pr

#215160 only-switch: update livecheck
  Casks/o/only-switch.rb
Labels: livecheck

#215161 rivet, mysql-shell: put url parameter on new line
  Casks/m/mysql-shell.rb
  Casks/r/rivet.rb
Labels: ci-syntax-only, automerge-skip

#215240 lunarbar 1.5.0
  Casks/l/lunarbar.rb
Labels: bump-cask-pr

#215262 seamonkey 2.53.21
  Casks/s/seamonkey.rb
Labels: bump-cask-pr

#215243 gretl 2025b
  Casks/g/gretl.rb
Labels: bump-cask-pr

#215248 nano 28.1
  Casks/n/nano.rb
Labels: bump-cask-pr

#215260 salt 3007.3
  Casks/s/salt.rb
Labels: bump-cask-pr

#215265 grads: add macOS requirement, update caveats
  Casks/g/grads.rb
Labels: ci-syntax-only

#215242 fruit-screensaver 1.3.1
  Casks/f/fruit-screensaver.rb
Labels: bump-cask-pr

#215081 gg 0.27.0 (new cask)
  Casks/g/gg.rb
Labels: new cask

#215344 pd-l2ork 2.20.1
  Casks/p/pd-l2ork.rb
Labels: bump-cask-pr

#215345 tau 2.34.1
  Casks/t/tau.rb
Labels: bump-cask-pr

#215346 teleport@16 16.5.11
  .github/autobump.txt
  Casks/t/teleport@16.rb
Labels: automerge-skip, bump-cask-pr, cask disabled, autobump

#215389 multiapp: disable
  .github/autobump.txt
  Casks/m/multiapp.rb
Labels: ci-syntax-only, automerge-skip, autobump

#215368 mullvad-vpn, mullvad-vpn@beta: fix URL & uninstall
  Casks/m/mullvad-vpn.rb
  Casks/m/mullvad-vpn@beta.rb
Labels: automerge-skip

#215426 datadog-agent: update livecheck
  Casks/d/datadog-agent.rb
Labels: livecheck

#215413 servo: update livecheck
  Casks/s/servo.rb
Labels: livecheck

#215480 font-simple-icons 15.1.0
  Casks/font/font-s/font-simple-icons.rb
Labels: bump-cask-pr

#215479 various: add `auto_updates true`, update zap
  Casks/d/displaperture.rb
  Casks/l/loading.rb
  Casks/m/macbreakz.rb
  Casks/m/macdive.rb
  Casks/m/macjournal.rb
  Casks/m/macpilot.rb
  Casks/m/medis.rb
  Casks/s/soqlxplorer.rb
  Casks/s/sourcenote.rb
  Casks/s/spacelauncher.rb
  Casks/t/tabtopus.rb
  Casks/y/yep.rb
Labels: ci-syntax-only, automerge-skip

#215491 mac-mouse-fix 3.0.4
  Casks/m/mac-mouse-fix.rb
Labels: bump-cask-pr

#215513 smplayer 25.6.0
  Casks/s/smplayer.rb
Labels: bump-cask-pr

#215451 pokemon-showdown: deprecate (discontinued)
  Casks/p/pokemon-showdown.rb
Labels: missing description, missing zap, cask deprecated

#215566 font-junicode 2.213
  Casks/font/font-j/font-junicode.rb
Labels: bump-cask-pr

#215568 radar 2.6.9
  Casks/r/radar.rb
Labels: bump-cask-pr

#215587 dbeaver-enterprise 25.1.0
  Casks/d/dbeaver-enterprise.rb
Labels: bump-cask-pr

#215588 dbeaverlite 25.1.0
  Casks/d/dbeaverlite.rb
Labels: bump-cask-pr

#215593 serial-studio 3.1.1
  Casks/s/serial-studio.rb
Labels: bump-cask-pr

#215594 virtualbuddy@beta 2.0,271
  .github/autobump.txt
  Casks/v/virtualbuddy@beta.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215610 taskexplorer 2.1.0
  Casks/t/taskexplorer.rb
Labels: bump-cask-pr

#215611 lockdown: disable
  Casks/l/lockdown.rb
Labels: ci-syntax-only, missing zap, cask disabled

#215613 do-not-disturb: update URL
  Casks/d/do-not-disturb.rb
Labels: ci-syntax-only, cask deprecated

#215612 font-gentium-book 7.000 (new cask)
  Casks/font/font-g/font-gentium-book.rb
Labels: new cask

#215510 catlight 3.8.1
  Casks/c/catlight.rb
Labels: bump-cask-pr

#215680 virtualbuddy: link `vctool`
  Casks/v/virtualbuddy.rb
  Casks/v/virtualbuddy@beta.rb
Labels: automerge-skip

#215721 typinator 9.2
  .github/autobump.txt
  Casks/t/typinator.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215750 db-browser-for-sqlite@nightly, db-browser-for-sqlcipher@nightly: fix URL & livecheck
  Casks/d/db-browser-for-sqlcipher@nightly.rb
  Casks/d/db-browser-for-sqlite@nightly.rb
  audit_exceptions/github_prerelease_allowlist.json
Labels: automerge-skip, livecheck

#215567 gogs: 0.13.3 and add linux support
  Casks/g/gogs.rb
Labels: linux cask

#215816 1password-cli@beta: make install same as stable and add linux support
  Casks/1/1password-cli@beta.rb
Labels: linux cask

#215851 various: disable
  Casks/a/alchemy.rb
  Casks/l/liteicon.rb
  Casks/w/webplotdigitizer.rb
Labels: ci-syntax-only, automerge-skip, cask disabled, cask deprecated

#215853 Fix unite 6.3.0.1 sha
  Casks/u/unite.rb
Labels: checksum-mismatch

#215813 1password-cli@1: deprecate
  Casks/1/1password-cli@1.rb
Labels: ci-syntax-only, cask deprecated

#215916 little-snitch@nightly 6.3,7163 (new cask)
  .github/autobump.txt
  Casks/l/little-snitch@nightly.rb
Labels: automerge-skip, new cask, autobump

#215944 pdf-over 4.4.6
  Casks/p/pdf-over.rb
Labels: bump-cask-pr

#215945 eclipse-ide 4.36.0
  Casks/e/eclipse-ide.rb
Labels: bump-cask-pr

#215946 eclipse-installer 4.36.0
  Casks/e/eclipse-installer.rb
Labels: bump-cask-pr

#215941 lrtimelapse 7.3.2
  .github/autobump.txt
  Casks/l/lrtimelapse.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215950 eclipse-jee 4.36.0
  Casks/e/eclipse-jee.rb
Labels: bump-cask-pr

#215955 tourbox-console 5.8.5
  .github/autobump.txt
  Casks/t/tourbox-console.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215954 the-unofficial-homestuck-collection 2.6.1
  .github/autobump.txt
  Casks/t/the-unofficial-homestuck-collection.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215969 voov-meeting 3.32.0.510
  Casks/v/voov-meeting.rb
Labels: bump-cask-pr

#215949 slideshower 3.1
  .github/autobump.txt
  Casks/s/slideshower.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215947 qt-design-studio 4.7.2-0-202506061435
  .github/autobump.txt
  Casks/q/qt-design-studio.rb
Labels: automerge-skip, bump-cask-pr, autobump

#215880 textgrabber2 1.5.0 (new cask)
  Casks/t/textgrabber2.rb
Labels: new cask

#215986 font-annotation-mono 0.2 (new cask)
  Casks/font/font-a/font-annotation-mono.rb
Labels: new cask

#216009 various: disable deprecated casks
  Casks/g/githubpulse.rb
  Casks/h/hacker-menu.rb
Labels: automerge-skip, cask disabled, cask deprecated

#216026 squirrel: update livecheck
  Casks/s/squirrel.rb
Labels: livecheck

#216024 tiny-shield 0.5.1 (new cask)
  Casks/t/tiny-shield.rb
Labels: new cask

#216038 safari-technology-preview 221
  Casks/s/safari-technology-preview.rb
Labels: bump-cask-pr

#216118 0-9*: add `no_autobump!`
  Casks/0/0-ad.rb
  Casks/0/010-editor.rb
  Casks/1/1kc-razer.rb
  Casks/1/1password@7.rb
  Casks/3/3dgenceslicer.rb
  Casks/4/4k-slideshow-maker.rb
  Casks/4/4k-stogram.rb
  Casks/4/4k-video-to-mp3.rb
  Casks/4/4peaks.rb
  Casks/5/5kplayer.rb
  Casks/7/7777.rb
  Casks/8/8bitdo-ultimate-software.rb
Labels: automerge-skip

#216135 tiny-shield: update zap
  .github/autobump.txt
  Casks/t/tiny-shield.rb
Labels: automerge-skip, autobump

#216202 grayjay 8
  Casks/g/grayjay.rb
Labels: bump-cask-pr

#216176 yubihsm2-sdk 2025-06
  Casks/y/yubihsm2-sdk.rb
Labels: bump-cask-pr

#216168 fldigi 4.2.07
  Casks/f/fldigi.rb
Labels: bump-cask-pr

#216227 meetingbar 4.11.6
  Casks/m/meetingbar.rb
Labels: bump-cask-pr

#216213 7777 1.1.19
  Casks/7/7777.rb
Labels: bump-cask-pr

#216230 nifty 3.113.2
  Casks/n/nifty.rb
Labels: bump-cask-pr, extract_plist livecheck

#216226 keymanager 4.5.9
  Casks/k/keymanager.rb
Labels: bump-cask-pr, livecheck

#216233 porting-kit 6.5.0
  Casks/p/porting-kit.rb
Labels: bump-cask-pr

#216236 speedify 15.6.4
  Casks/s/speedify.rb
Labels: bump-cask-pr, extract_plist livecheck

#216096 thebrowsercompany-dia 0.32.3 (new cask)
  Casks/t/thebrowsercompany-dia.rb
Labels: new cask

#216151 h*: add `no_autobump!`
  Casks/h/ha-menu.rb
  Casks/h/hacker-menu.rb
  Casks/h/hackintool.rb
  Casks/h/hackmd.rb
  Casks/h/hakuneko.rb
  Casks/h/halion-sonic.rb
  Casks/h/hammerspoon.rb
  Casks/h/handbrakebatch.rb
  Casks/h/handshaker.rb
  Casks/h/haptic-touch-bar.rb
  Casks/h/haptickey.rb
  Casks/h/harbor.rb
  Casks/h/harmony.rb
  Casks/h/haroopad.rb
  Casks/h/hazeover.rb
  Casks/h/hdfview.rb
  Casks/h/hdhomerun.rb
  Casks/h/hdrmerge.rb
  Casks/h/headset.rb
  Casks/h/heaven.rb
  Casks/h/hedgewars.rb
  Casks/h/height.rb
  Casks/h/heimdall-suite.rb
  Casks/h/helium.rb
  Casks/h/helo.rb
  Casks/h/hermes.rb
  Casks/h/hermit-crab.rb
  Casks/h/hex-fiend.rb
  Casks/h/hey.rb
  Casks/h/hhkb.rb
  Casks/h/hiarcs-chess-explorer.rb
  Casks/h/hiddenbar.rb
  Casks/h/hidock.rb
  Casks/h/historyhound.rb
  Casks/h/home-inventory.rb
  Casks/h/homerow.rb
  Casks/h/honer.rb
  Casks/h/honto.rb
  Casks/h/hookshot.rb
  Casks/h/horndis.rb
  Casks/h/horos.rb
  Casks/h/hostsx.rb
  Casks/h/hot.rb
  Casks/h/hotswitch.rb
  Casks/h/hovrly.rb
  Casks/h/hp-eprint.rb
  Casks/h/hp-prime.rb
  Casks/h/html-mangareader.rb
  Casks/h/hue-topia.rb
  Casks/h/hugin.rb
  Casks/h/hummingbird.rb
  Casks/h/hush.rb
  Casks/h/hwsensors.rb
  Casks/h/hy-rpe2.rb
  Casks/h/hydrogen.rb
  Casks/h/hype.rb
  Casks/h/hyper.rb
  Casks/h/hyper@canary.rb
Labels: ci-syntax-only, automerge-skip

#216292 j*: add `no_autobump!`
  Casks/j/j.rb
  Casks/j/jabref.rb
  Casks/j/jad.rb
  Casks/j/jaikoz.rb
  Casks/j/jalview.rb
  Casks/j/jameica.rb
  Casks/j/james.rb
  Casks/j/jamkazam.rb
  Casks/j/jamovi.rb
  Casks/j/jamulus.rb
  Casks/j/jandi-statusbar.rb
  Casks/j/jandi.rb
  Casks/j/jasper.rb
  Casks/j/jazzup.rb
  Casks/j/jclasslib-bytecode-viewer.rb
  Casks/j/jcryptool.rb
  Casks/j/jd-gui.rb
  Casks/j/jdiskreport.rb
  Casks/j/jedit-omega.rb
  Casks/j/jedit.rb
  Casks/j/jellybeansoup-netflix.rb
  Casks/j/jellyfin-media-player.rb
  Casks/j/jenkins-menu.rb
  Casks/j/jet.rb
  Casks/j/jetbrains-space.rb
  Casks/j/jetdrive-toolbox.rb
  Casks/j/jettison.rb
  Casks/j/jewelrybox.rb
  Casks/j/jgrasp.rb
  Casks/j/jiggler.rb
  Casks/j/jitouch.rb
  Casks/j/jitsi.rb
  Casks/j/jmc.rb
  Casks/j/joinme.rb
  Casks/j/jollysfastvnc.rb
  Casks/j/joshjon-nocturnal.rb
  Casks/j/journey.rb
  Casks/j/jpadilla-rabbitmq.rb
  Casks/j/jpadilla-redis.rb
  Casks/j/jpc-qlcolorcode.rb
  Casks/j/jquake.rb
  Casks/j/jslegendre-themeengine.rb
  Casks/j/json-viewer.rb
  Casks/j/jt-bridge.rb
  Casks/j/jtool2.rb
  Casks/j/jubler.rb
  Casks/j/juice.rb
  Casks/j/jukebox.rb
  Casks/j/julia@nightly.rb
  Casks/j/jumpcut.rb
  Casks/j/jupyter-notebook-ql.rb
  Casks/j/jupyter-notebook-viewer.rb
Labels: ci-syntax-only, automerge-skip

#216301 castr 3.0.0
  Casks/c/castr.rb
Labels: bump-cask-pr

#216303 masscode 3.12.1
  Casks/m/masscode.rb
Labels: bump-cask-pr

#216310 veusz 4.1
  Casks/v/veusz.rb
Labels: bump-cask-pr

#216311 voicenotes 1.3.9
  Casks/v/voicenotes.rb
Labels: bump-cask-pr

#216318 u*: add `no_autobump!`
  Casks/u/ua-midi-control.rb
  Casks/u/ubar.rb
  Casks/u/ubersicht.rb
  Casks/u/ubports-installer.rb
  Casks/u/udig.rb
  Casks/u/ugg.rb
  Casks/u/ui-browser.rb
  Casks/u/ukrainian-typographic-keyboard.rb
  Casks/u/ukrainian-unicode-layout.rb
  Casks/u/ulbow.rb
  Casks/u/ultimate-control.rb
  Casks/u/ultimate-vocal-remover.rb
  Casks/u/ultracopier.rb
  Casks/u/unclack.rb
  Casks/u/unclutter.rb
  Casks/u/uncolored.rb
  Casks/u/uncrustifyx.rb
  Casks/u/unetbootin.rb
  Casks/u/unexpectedly.rb
  Casks/u/unicodechecker.rb
  Casks/u/unified-remote.rb
  Casks/u/uniflash.rb
  Casks/u/unipro-ugene.rb
  Casks/u/unison.rb
  Casks/u/unity-android-support-for-editor.rb
  Casks/u/unity-ios-support-for-editor.rb
  Casks/u/unity-webgl-support-for-editor.rb
  Casks/u/unity-windows-support-for-editor.rb
  Casks/u/universal-android-debloater.rb
  Casks/u/unlox.rb
  Casks/u/unnaturalscrollwheels.rb
  Casks/u/unpkg.rb
  Casks/u/unraid-usb-creator-next.rb
  Casks/u/unraid-usb-creator.rb
  Casks/u/unshaky.rb
  Casks/u/upm.rb
  Casks/u/upscayl.rb
  Casks/u/upterm.rb
  Casks/u/usage.rb
  Casks/u/usb-overdrive.rb
  Casks/u/usbimager.rb
  Casks/u/usenapp.rb
  Casks/u/usr-sse2-rdm.rb
  Casks/u/utc-menu-clock.rb
  Casks/u/utterly.rb
  Casks/u/uxprotect.rb
Labels: ci-syntax-only, automerge-skip

#216321 x*: add `no_autobump!`
  Casks/x/x-mirage.rb
  Casks/x/x-moto.rb
  Casks/x/x-swiftformat.rb
  Casks/x/x2goclient.rb
  Casks/x/x32-edit.rb
  Casks/x/xact.rb
  Casks/x/xamarin-android.rb
  Casks/x/xamarin-ios.rb
  Casks/x/xamarin-mac.rb
  Casks/x/xamarin-profiler.rb
  Casks/x/xamarin-studio.rb
  Casks/x/xamarin-workbooks.rb
  Casks/x/xampp-vm.rb
  Casks/x/xampp.rb
  Casks/x/xampp@7.rb
  Casks/x/xaos.rb
  Casks/x/xattred.rb
  Casks/x/xbar.rb
  Casks/x/xbench.rb
  Casks/x/xcodeclangformat.rb
  Casks/x/xctu.rb
  Casks/x/xdm.rb
  Casks/x/xee.rb
  Casks/x/xiami.rb
  Casks/x/ximalaya.rb
  Casks/x/xit.rb
  Casks/x/xld.rb
  Casks/x/xlplayer.rb
  Casks/x/xmenu.rb
  Casks/x/xnapper.rb
  Casks/x/xonotic.rb
  Casks/x/xournal++.rb
  Casks/x/xprocheck.rb
  Casks/x/xquartz.rb
  Casks/x/xrg.rb
  Casks/x/xscope.rb
  Casks/x/xscreensaver.rb
  Casks/x/xsplit-vcam.rb
  Casks/x/xstation5.rb
  Casks/x/xtool-creative-space.rb
  Casks/x/xtorrent.rb
Labels: ci-syntax-only, automerge-skip

#216322 y*: add `no_autobump!`
  Casks/y/yacreader.rb
  Casks/y/yakyak.rb
  Casks/y/yam-display.rb
  Casks/y/yandex-music-unofficial.rb
  Casks/y/yattee.rb
  Casks/y/yed.rb
  Casks/y/yellowdot.rb
  Casks/y/yemuzip.rb
  Casks/y/yep.rb
  Casks/y/yesplaymusic.rb
  Casks/y/yggdrasil.rb
  Casks/y/yippy.rb
  Casks/y/yo.rb
  Casks/y/yoda.rb
  Casks/y/yojimbo.rb
  Casks/y/youlean-loudness-meter.rb
  Casks/y/youll-never-take-me-alive.rb
  Casks/y/yousician.rb
  Casks/y/youtrack-workflow.rb
  Casks/y/youtype.rb
  Casks/y/yt-music.rb
  Casks/y/ytmdesktop-youtube-music.rb
  Casks/y/yu-writer.rb
  Casks/y/yubico-yubikey-manager.rb
  Casks/y/yubihsm2-sdk.rb
  Casks/y/yuna.rb
Labels: ci-syntax-only, automerge-skip

#216323 z*: add `no_autobump!`
  Casks/z/zandronum.rb
  Casks/z/zazu.rb
  Casks/z/zdoom.rb
  Casks/z/zecwallet-lite.rb
  Casks/z/zeebe-modeler.rb
  Casks/z/zeitgeist.rb
  Casks/z/zenbeats.rb
  Casks/z/zenmap.rb
  Casks/z/zenmate-vpn.rb
  Casks/z/zerobranestudio.rb
  Casks/z/zeronet.rb
  Casks/z/zerotier-one.rb
  Casks/z/zesarux.rb
  Casks/z/zettelkasten.rb
  Casks/z/zoo-design-studio.rb
  Casks/z/zoom-m3-edit-and-play.rb
  Casks/z/zprint.rb
  Casks/z/zsa-wally.rb
  Casks/z/zui.rb
  Casks/z/zulip.rb
  Casks/z/zulu@11.rb
  Casks/z/zulu@17.rb
  Casks/z/zulu@21.rb
  Casks/z/zulu@8.rb
  Casks/z/zxpinstaller.rb
  Casks/z/zy-player.rb
Labels: ci-syntax-only, automerge-skip

#216325 nifty 3.113.6
  Casks/n/nifty.rb
Labels: bump-cask-pr, extract_plist livecheck

#216302 konica-minolta-bizhub-c750i-driver 5.3.6A
  Casks/k/konica-minolta-bizhub-c750i-driver.rb
Labels: bump-cask-pr, ready to merge

#216334 various: remove and add `no_autobump!`
  Casks/a/agentkube.rb
  Casks/a/alifix.rb
  Casks/a/alisma.rb
  Casks/a/appexindexer.rb
  Casks/a/azookey.rb
  Casks/b/bluej.rb
  Casks/b/bootstrap-studio.rb
  Casks/b/bria.rb
  Casks/c/cloudpouch.rb
  Casks/c/cmpxat.rb
  Casks/c/code-composer-studio.rb
  Casks/d/djuced.rb
  Casks/d/docker.rb
  Casks/d/dungeon-crawl-stone-soup-console.rb
  Casks/d/dungeon-crawl-stone-soup-tiles.rb
  Casks/e/eclipse-php.rb
  Casks/e/eclipse-platform.rb
  Casks/e/eclipse-rcp.rb
  Casks/f/folx.rb
  Casks/f/fruit-screensaver.rb
  Casks/k/karafun.rb
  Casks/k/kstars.rb
  Casks/l/lrtimelapse.rb
  Casks/m/marvel.rb
  Casks/m/moves.rb
  Casks/m/mozilla-vpn.rb
  Casks/n/nvidia-nsight-compute.rb
  Casks/o/ogdesign-eagle.rb
  Casks/o/onlook.rb
  Casks/p/pale-moon.rb
  Casks/p/peninsula.rb
  Casks/p/prism.rb
  Casks/q/qt-design-studio.rb
  Casks/r/revisionist.rb
  Casks/s/script-kit.rb
  Casks/s/serial-studio.rb
  Casks/s/simpledemviewer.rb
  Casks/s/snipaste.rb
  Casks/s/sparsity.rb
  Casks/s/spectrolite.rb
  Casks/s/ssh-config-editor.rb
  Casks/t/teleport@16.rb
  Casks/t/textgrabber2.rb
  Casks/t/the-unofficial-homestuck-collection.rb
  Casks/t/thebrowsercompany-dia.rb
  Casks/t/typinator.rb
  Casks/v/veracrypt-fuse-t.rb
  Casks/v/veracrypt.rb
  Casks/v/versatility.rb
  Casks/v/virtualbuddy@beta.rb
  Casks/v/voicenotes.rb
  Casks/v/voiden.rb
  Casks/w/weasis.rb
  Casks/z/zoo-design-studio.rb
Labels: ci-syntax-only, automerge-skip

#216425 v2rayu 4.2.6
  Casks/v/v2rayu.rb
Labels: bump-cask-pr

#216411 deepstream 9.0.0
  Casks/d/deepstream.rb
Labels: bump-cask-pr

#216412 font-amiri 1.003
  Casks/font/font-a/font-amiri.rb
Labels: bump-cask-pr

#216413 october 1.12.0
  Casks/o/october.rb
Labels: bump-cask-pr

#216414 retro-virtual-machine 2.1.20
  Casks/r/retro-virtual-machine.rb
Labels: bump-cask-pr

#216415 salt 3007.4
  Casks/s/salt.rb
Labels: bump-cask-pr

#216416 medis 2.16.1
  Casks/m/medis.rb
Labels: bump-cask-pr

#216417 ubports-installer 0.11.0
  Casks/u/ubports-installer.rb
Labels: bump-cask-pr

#216446 music-presence 2.3.1
  Casks/m/music-presence.rb
Labels: new cask

#216445 popo 4.21.0
  Casks/p/popo.rb
Labels: livecheck

#216551 objective-see casks: un-disable, add livechecks
  Casks/f/filemonitor.rb
  Casks/l/lockdown.rb
  Casks/p/processmonitor.rb
  Casks/r/ransomwhere.rb
  Casks/r/reikey.rb
Labels: automerge-skip

#216549 abstract 98.6.2
  Casks/a/abstract.rb
Labels: homepage

#216552 font-simple-icons 15.2.0
  Casks/font/font-s/font-simple-icons.rb
Labels: bump-cask-pr

#215341 alienator88-sentinel 3.0.0 (new cask)
  Casks/a/alienator88-sentinel.rb
Labels: new cask

#216593 adobe-creative-cloud 6.7.0.278
  Casks/a/adobe-creative-cloud.rb
Labels: bump-cask-pr

#216594 blisk 25.0.115.28
  Casks/b/blisk.rb
Labels: bump-cask-pr

#216595 flrig 2.0.07
  Casks/f/flrig.rb
Labels: bump-cask-pr

#216596 font-lxgw-wenkai 1.520
  Casks/font/font-l/font-lxgw-wenkai.rb
Labels: bump-cask-pr

#216597 font-lxgw-wenkai-gb 1.520
  Casks/font/font-l/font-lxgw-wenkai-gb.rb
Labels: bump-cask-pr

#216598 font-lxgw-wenkai-gb-lite 1.520
  Casks/font/font-l/font-lxgw-wenkai-gb-lite.rb
Labels: bump-cask-pr

#216599 font-lxgw-wenkai-tc 1.520
  Casks/font/font-l/font-lxgw-wenkai-tc.rb
Labels: bump-cask-pr

#216605 maccleaner-pro 3.4
  Casks/m/maccleaner-pro.rb
Labels: bump-cask-pr

#216610 purevpn 9.33.1
  Casks/p/purevpn.rb
Labels: bump-cask-pr, extract_plist livecheck

#216614 veepn 2.3.11
  Casks/v/veepn.rb
Labels: bump-cask-pr

#216615 zwift 1.1.14
  Casks/z/zwift.rb
Labels: bump-cask-pr, extract_plist livecheck

#216590 various: disable deprecated casks
  Casks/c/cloudytabs.rb
  Casks/f/falcon-sql-client.rb
  Casks/z/zeronet.rb
Labels: automerge-skip, cask disabled, cask deprecated

#216633 longbridge-pro 2.28.2 (new cask)
  Casks/l/longbridge-pro.rb
Labels: new cask
